<ul class="list-unstyled" ng-show="!$ctrl.hidden">
  <li class="text-right">
    <a href ng-click="$ctrl.selectAll()">Select All</a> |
    <a href ng-click="$ctrl.clearFilter()">Reset</a>
  </li>
  <li ng-repeat="item in $ctrl.distinctItems">
    <label ng-class="{ 'emphasis' : $ctrl.isNotDefault(item), 'retired' : item.retired }">
      <input type="checkbox"
             value="{{ item.value }}"
             id="filter-edition-{{ item.value }}"
             ng-model="item.selected"
             ng-change="$ctrl.toggleSelection(item)">
      {{ item.display }}
    </label>
  </li>
</ul>
