<div class="flex-container rotate">
  <label>
    <input type="radio" id="chpl-filter-boolean-{{ vm.predicate }}-any" value="Any"
           ng-model="vm.selectedOption" ng-change="vm.filterChanged()"
           > Any
  </label>
  <label>
    <input type="radio" id="chpl-filter-boolean-{{ vm.predicate }}-true" value="True"
           ng-model="vm.selectedOption" ng-change="vm.filterChanged()"
           > Yes
  </label>
  <label>
    <input type="radio" id="chpl-filter-boolean-{{ vm.predicate }}-false" value="False"
           ng-model="vm.selectedOption" ng-change="vm.filterChanged()"
           > No
  </label>
</div>
