<ul class="list-unstyled" ng-show="!vm.hidden">
  <li class="text-center" ng-if="vm.allowAnd">
    <button ng-click="vm.matchAll = !vm.matchAll; vm.filterChanged()" class="btn btn-default" ng-class="{ 'emphasis' : vm.matchAll }">
      Matching <strong>Any</strong> <i class="fa" ng-class="vm.matchAll ? 'fa-toggle-on' : 'fa-toggle-off'"></i> <strong>All</strong>
    </button>
  </li>
  <li class="text-right">
    <a href ng-click="vm.selectAll()">Select All</a> |
    <a href ng-click="vm.clearFilter()">Reset</a>
  </li>
  <li ng-repeat="item in vm.distinctItems">
    <label ng-class="{ 'emphasis' : vm.isNotDefault(item), 'removed' : item.removed, 'retired' : item.retired }">
      <input type="checkbox"
             value="{{ item.value }}"
             id="{{ vm.getId(item.value) }}"
             ng-model="item.isSelected"
             ng-change="vm.toggleSelection(item)">{{ item.display ? item.display : item.value }}
    </label>
  </li>
</ul>
