<div dropdown auto-close="outsideClick">
  <button class="btn btn-ai btn-sm btn-block dropdown-toggle" type="button" id="dropdownMenu1" dropdown-toggle aria-haspopup="true" aria-expanded="true">
    {{ dropdownLabel }}<i class="fa fa-filter pull-right"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="item in distinctItems | orderBy:toString">
      <label>
        <input type="checkbox" ng-model="item.selected" ng-click="filterChanged()">{{ item.value }}
      </label>
    </li>
  </ul>
</div>
