<div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Developer</h1>
      <p>Step 1 of 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" ng-if="!$ctrl.listing.developer.developerId" id="developer-new">
      <h3>System developer information</h3>
      <p>This is the developer information that will be saved in the Open Data CHPL database and associated with this Certified Product.</p>
      <div class="panel panel-ai">
        <div class="panel-heading">
          This developer <strong>"{{ $ctrl.listing.developer.name }}"</strong> does not currently exist in the Open Data CHPL.
        </div>
        <div class="panel-body">
          <div class="row admin-label-spaced">
            <ul class="list-inline">
              <li><label><input id="select-developer" type="radio" name="developer-choice" ng-model="$ctrl.choice" value="choose" ng-change="$ctrl.setChoice({choice: $ctrl.choice})"> Select existing developer</label></li>
              <li><label><input id="create-developer" type="radio" name="developer-choice" ng-model="$ctrl.choice" value="create" ng-change="$ctrl.setChoice({choice: $ctrl.choice})"> Create new developer</label></li>
            </ul>
          </div>
          <div ng-if="$ctrl.choice === 'choose'">
            <label for="developer-select" class="control-label admin-label-spaced">Select a developer</label>
            <select ng-model="$ctrl.developerSelect"
                    id="developer-select" class="input-sm form-control"
                    ng-options="v.name for v in $ctrl.developers | orderBy: 'name'">
            </select>
            <p><button class="btn btn-default btn-block" ng-click="$ctrl.selectInspectingDeveloper()">Select Developer</button></p>
          </div>
          <div ng-if="$ctrl.choice === 'create'">
            Uploaded developer information will be used to create a new developer
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-if="$ctrl.listing.developer.developerId" id="developer-system">
      <h3>System developer information</h3>
      <p>This is the developer information that will be saved in the Open Data CHPL database and associated with this Certified Product.</p>
      <div class="panel panel-ai">
        <div class="panel-heading">
          {{ $ctrl.developer.name }}
        </div>
        <div class="panel-body">
          Developer Code: {{ $ctrl.developer.developerCode }}<br />
          Developer Status: {{ $ctrl.developer.status.status }}<br />
          Self-developer: {{ $ctrl.developer.selfDeveloper ? 'Yes' : 'No' }}<br />
          Line 1: {{ $ctrl.developer.address.line1 }}<br />
          Line 2: {{ $ctrl.developer.address.line2 }}<br />
          City: {{ $ctrl.developer.address.city }}<br />
          State: {{ $ctrl.developer.address.state }}<br />
          Zip: {{ $ctrl.developer.address.zipcode }}<br />
          Country: {{ $ctrl.developer.address.country }}<br />
          Website: {{ $ctrl.developer.website }}<br />
          <span ng-if="$ctrl.getAttestationForCurrentSystemDeveloper() && !$ctrl.getAttestationForCurrentSystemDeveloper().removed" feature-flag="effective-rule-date-plus-one-week" feature-flag-hide>
            Transparency Attestation: {{ $ctrl.getAttestationForCurrentSystemDeveloper().transparencyAttestation }}<br />
          </span>
          <div class="product-element removed" id="developer-transparency-attestation"
               ng-if="$ctrl.getAttestationForCurrentSystemDeveloper() && $ctrl.getAttestationForCurrentSystemDeveloper().removed" feature-flag="effective-rule-date-plus-one-week" feature-flag-hide>
            <button class="btn btn-link btn-xs pull-right" uib-tooltip="This requirement has been removed from the Program."
                    tooltip-trigger="'mouseenter focus click'">
              <span class="sr-only">
                This requirement has been removed from the Program.
              </span>
              <i class="fa fa-info-circle fa-lg"></i>
            </button>
            Transparency Attestation: {{ $ctrl.getAttestationForCurrentSystemDeveloper().transparencyAttestation }}
          </div>
          <strong>Contact information</strong><br />
          <ai-contact contact="$ctrl.developer.contact"></ai-contact>
          <br />
          Last Modified Date: {{ $ctrl.developer.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
        </div>
      </div>
    </div>
    <div class="col-sm-6" id="developer-uploaded">
      <h3>Uploaded developer information</h3>
      <p>This is the developer information from your Upload File.<span ng-if="$ctrl.listing.developer.developerId"> A matching developer has been found in the Open Data CHPL database. To update this developer's information in the Open Data CHPL, click the Save as Developer Information button.</span></p>
      <div class="panel panel-ai">
        <div class="panel-heading">
          {{ $ctrl.listing.developer.name }}
        </div>
        <div class="panel-body">
          Self-developer: {{ $ctrl.listing.developer.selfDeveloper ? 'Yes' : 'No' }}<br />
          Line 1: {{ $ctrl.listing.developer.address.line1 }}<br />
          Line 2: {{ $ctrl.listing.developer.address.line2 }}<br />
          City: {{ $ctrl.listing.developer.address.city }}<br />
          State: {{ $ctrl.listing.developer.address.state }}<br />
          Zip: {{ $ctrl.listing.developer.address.zipcode }}<br />
          Country: {{ $ctrl.listing.developer.address.country }}<br />
          Website: {{ $ctrl.listing.developer.website }}<br />
          <div ng-if="$ctrl.listing.transparencyAttestation && $ctrl.listing.transparencyAttestation.transparencyAttestation" feature-flag="effective-rule-date-plus-one-week" feature-flag-hide>
            Transparency Attestation: {{ $ctrl.listing.transparencyAttestation.transparencyAttestation }}
          </div>
          <strong>Contact information</strong><br />
          <ai-contact contact="$ctrl.listing.developer.contact"></ai-contact>
        </div>
        <div class="panel-footer" ng-if="$ctrl.listing.developer.developerId">
          <button class="btn btn-default btn-block" ng-click="$ctrl.saveInspectingDeveloper()">Save as Developer Information</button>
        </div>
      </div>
    </div>
  </div>
</div>
