<div role="modal" aria-labeled-by="inspect-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="inspect-label">Inspect Certified Product ({{ vm.cp.chplProductNumber }})</h4>
  </div>
  <div class="modal-body">
    <!-- Developer -->
    <div ng-if="vm.stage === 'dev'">
      <div class="row">
        <div class="col-sm-12">
          <h1>Developer</h1>
          <p>Step 1 of 4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" ng-if="!vm.cp.developer.developerId" id="developer-new">
          <h3>System developer information</h3>
          <p>This is the developer information that will be saved in the Open Data CHPL database and associated with this Certified Product.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              This developer <strong>"{{ vm.cp.developer.name }}"</strong> does not currently exist in the Open Data CHPL.
            </div>
            <div class="panel-body">
              <div class="row admin-label-spaced">
                <ul class="list-inline">
                  <li><label><input id="select-developer" type="radio" name="developer-choice" ng-model="vm.developerChoice" value="choose"> Select existing developer</label></li>
                  <li><label><input id="create-developer" type="radio" name="developer-choice" ng-model="vm.developerChoice" value="create"> Create new developer</label></li>
                </ul>
              </div>
              <div ng-if="vm.developerChoice === 'choose'">
                <label for="developer-select" class="control-label admin-label-spaced">Select a developer</label>
                <select ng-model="vm.developerSelect"
                        id="developer-select" class="input-sm form-control"
                        ng-options="v.name for v in vm.developers | orderBy: 'name'">
                </select>
                <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingDeveloper()">Select Developer</button></p>
              </div>
              <div ng-if="vm.developerChoice === 'create'">
                Uploaded developer information will be used to create a new developer
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6" ng-if="vm.cp.developer.developerId" id="developer-system">
          <h3>System developer information</h3>
          <p>This is the developer information that will be saved in the Open Data CHPL database and associated with this Certified Product.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.developer.name }}
            </div>
            <div class="panel-body">
              Developer Code: {{ vm.developer.developerCode }}<br />
              Developer Status: {{ vm.developer.status.status }}<br />
              Line 1: {{ vm.developer.address.line1 }}<br />
              Line 2: {{ vm.developer.address.line2 }}<br />
              City: {{ vm.developer.address.city }}<br />
              State: {{ vm.developer.address.state }}<br />
              Zip: {{ vm.developer.address.zipcode }}<br />
              Country: {{ vm.developer.address.country }}<br />
              Website: {{ vm.developer.website }}<br />
              Transparency Attestation: {{ vm.getAttestationStringForCurrentSystemDeveloper() }}<br />
              <strong>Contact information</strong><br />
              <ai-contact contact="vm.developer.contact"></ai-contact>
              <br />
              Last Modified Date: {{ vm.developer.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
            </div>
          </div>
        </div>
        <div class="col-sm-6" id="developer-uploaded">
          <h3>Uploaded developer information</h3>
          <p>This is the developer information from your Upload File.<span ng-if="vm.cp.developer.developerId"> A matching developer has been found in the Open Data CHPL database. To update this developer's information in the Open Data CHPL, click the Save as Developer Information button.</span></p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.cp.developer.name }}
            </div>
            <div class="panel-body">
              Line 1: {{ vm.cp.developer.address.line1 }}<br />
              Line 2: {{ vm.cp.developer.address.line2 }}<br />
              City: {{ vm.cp.developer.address.city }}<br />
              State: {{ vm.cp.developer.address.state }}<br />
              Zip: {{ vm.cp.developer.address.zipcode }}<br />
              Country: {{ vm.cp.developer.address.country }}<br />
              Website: {{ vm.cp.developer.website }}<br />
              Transparency Attestation: {{ vm.cp.transparencyAttestation }}<br />
              <strong>Contact information</strong><br />
              <ai-contact contact="vm.cp.developer.contact"></ai-contact>
            </div>
            <div class="panel-footer" ng-if="vm.cp.developer.developerId">
              <button class="btn btn-default btn-block" ng-click="vm.saveInspectingDeveloper()">Save as Developer Information</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Developer -->

    <!-- Product -->
    <div ng-if="vm.stage === 'prd'">
      <ai-inspect-product pending-product="vm.cp.product" developer="vm.cp.developer" on-select="vm.selectInspectingProduct(productId)" set-product-choice="vm.setProductChoice(choice)"></ai-inspect-product>
    </div>
    <!-- /Product -->

    <!-- Version -->
    <div ng-if="vm.stage === 'ver'">
      <ai-inspect-version pending-version="vm.cp.version" product="vm.cp.product" on-select="vm.selectInspectingVersion(versionId)" set-version-choice="vm.setVersionChoice(choice)"></ai-inspect-version>
    </div>
    <!-- /Version -->

    <!-- Certified Product -->
    <div ng-if="vm.stage === 'cp'">
      <div class="row">
        <div class="col-sm-12">
          <h1>Certified Product</h1>
          <p>Step 4 of 4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-ai">
            <div class="panel-heading">
              <span>{{ vm.cp.chplProductNumber }}</span>
            </div>
            <div class="panel-body">
              <span>
                <strong>Practice Type:</strong> {{ vm.cp.practiceType.name }} <br />
                <strong>Classification Type:</strong> {{ vm.cp.classificationType.name }} <br />
                <strong>Certification Edition:</strong> {{ vm.cp.certificationEdition.name }} <br />
                <strong>Certification Body:</strong> {{ vm.cp.certifyingBody.name }} <br />
                <strong>Certification Date:</strong> {{ vm.cp.certificationDate | date : 'mediumDate' : 'UTC' }} <br />
                <span ng-if="vm.cp.productAdditionalSoftware"><strong>Relied Upon Software:</strong> {{ vm.cp.productAdditionalSoftware }} <br /></span>
                <strong>Status:</strong> {{ vm.certificationStatus(vm.cp) }}<br />
                <strong>ACB Certification Id:</strong> {{ vm.cp.acbCertificationId }} <br />
                <strong>Other ACB:</strong> {{ vm.cp.otherAcb ? vm.cp.otherAcb : 'N/A' }} <br />
                <strong>Transparency URL:</strong> {{ vm.cp.transparencyAttestationUrl ? vm.cp.transparencyAttestationUrl : 'None' }} <br />
                <strong>Inherited Certification Status:</strong> {{ vm.ternaryFilter(vm.cp.ics.inherits) }} <br />
                <strong>QMS:</strong> {{ vm.checkQmsBoolean(vm.cp.hasQms) }} <br />
                <ul>
                  <li ng-repeat="qms in vm.cp.qmsStandards">{{ qms.qmsStandardName }}<span ng-if="qms.qmsModification">, {{ qms.qmsModification }}</span><span ng-if="qms.applicableCriteria">, {{ qms.applicableCriteria }}</span></li>
                </ul>
                <strong>Report File Location:</strong> {{ vm.cp.reportFileLocation ? vm.cp.reportFileLocation : 'N/A' }} <br />
                <strong>SED Report File Location:</strong> {{ vm.cp.sedReportFileLocation ? vm.cp.sedReportFileLocation : 'N/A' }} <br />
                <strong>SED Intended Users:</strong> {{ vm.cp.sedIntendedUserDescription ? vm.cp.sedIntendedUserDescription : 'None' }} <br />
                <strong>SED End Date of Testing:</strong> {{ vm.cp.sedTestingEndDate | date : 'mediumDate' : 'UTC' }} <br />
                <strong>Testing Lab<span ng-if="vm.cp.testingLabs.length !== 1">s</span>:</strong> <span ng-if="!vm.cp.testingLabs || vm.cp.testingLabs.length === 0">None<br /></span>
                <ul ng-if="vm.cp.testingLabs && vm.cp.testingLabs.length !== 0">
                  <li ng-repeat="atl in vm.cp.testingLabs">{{ atl.testingLabName }}</li>
                </ul>
                <strong>Accessibility Standards:</strong> {{ vm.cp.accessibilityStandards.length > 0 ? 'True' : 'None' }} <br />
                <ul>
                  <li ng-repeat="std in vm.cp.accessibilityStandards">{{ std.accessibilityStandardName }}</li>
                </ul>
              </span>
              <br />
              <ai-certs ng-if="vm.cp !== ''"
                        default-all="true"
                        edit-mode="false"
                        is-confirming="true"
                        product="vm.cp">
              </ai-certs>
              <p><button class="btn btn-default btn-block" ng-click="vm.editCertifiedProduct()" id="inspect-edit">Edit Certified Product</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Certified Product -->

  </div>
  <div class="modal-footer">
    <div class="row" ng-if="(vm.errorMessages && vm.errorMessages.length !== 0) || (vm.cp.errorMessages && vm.cp.errorMessages.length !== 0) || (vm.cp.warningMessages && vm.cp.warningMessages.length !== 0)">
      <div class="col-sm-12 text-left bg-danger">
        <div ng-if="vm.cp.errorMessages && vm.cp.errorMessages.length !== 0">
          Error<span ng-if="vm.cp.errorMessages.length !== 1">s</span> in product upload
          <ul>
            <li ng-repeat="error in vm.cp.errorMessages | orderBy:'toString()'">{{ error }}</li>
          </ul>
        </div>
        <div ng-if="vm.cp.warningMessages && vm.cp.warningMessages.length !== 0">
          Warning<span ng-if="vm.cp.warningMessages.length !== 1">s</span> in product upload
          <ul>
            <li ng-repeat="error in vm.cp.warningMessages | orderBy:'toString()'">{{ error }}</li>
          </ul>
        </div>
        <div ng-if="vm.errorMessages && vm.errorMessages.length !== 0">
          Error<span ng-if="vm.errorMessages.length !== 1">s</span> in product confirmation
          <ul>
            <li ng-repeat="error in vm.errorMessages | orderBy:'toString()'">{{ error }}</li>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn btn-warning btn-large pull-left" id="inspect-previous"
            ng-disabled="vm.stage === 'dev'"
            ng-click="vm.previous()">Previous</button>
    <button class="btn btn-danger pull-left" id="inspect-reject"
            confirm="Are you sure you wish to reject this Certified Product?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.reject()"><i class="fa fa-trash-o"></i> Reject</button>
    <button class="btn btn-ai-success btn-large pull-right" id="inspect-next"
            ng-disabled="vm.isDisabled()"
            ng-if="vm.stage !== 'cp'"
            ng-click="vm.next()">Next</button>
    <button class="btn btn-ai-success btn-large pull-right" id="inspect-confirm"
            ng-if="vm.stage === 'cp'"
            confirm="Are you sure you wish to confirm this Certified Product?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.confirm()"><i class="fa fa-cloud-upload"></i> Confirm</button>
  </div>
</div>
