<div class="row">
  <div class="col-sm-12">
    <h1>Certified Product</h1>
    <p>Step 4 of 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-ai">
      <div class="panel-heading">
        <span>{{ $ctrl.listing.chplProductNumber }}</span>
      </div>
      <div class="panel-body" ng-if="!$ctrl.isEditing">
        <span>
          <strong>ACB Certification Id:</strong> {{ $ctrl.listing.acbCertificationId }} <br />
          <strong>Certification Date:</strong> {{ $ctrl.DateUtil.getCertificationDay($ctrl.listing) }} <br />
          <strong>Certification Edition:</strong> {{ $ctrl.listing.certificationEdition.name }} <span ng-if="$ctrl.listing.curesUpdate">Cures Update</span><br />
          <strong>Certification Body:</strong> {{ $ctrl.listing.certifyingBody.name }} <br />
          <strong>Testing Lab<span ng-if="$ctrl.listing.testingLabs.length !== 1">s</span>:</strong> <span ng-if="!$ctrl.listing.testingLabs || $ctrl.listing.testingLabs.length === 0">None<br /></span>
          <ul ng-if="$ctrl.listing.testingLabs && $ctrl.listing.testingLabs.length !== 0">
            <li ng-repeat="atl in $ctrl.listing.testingLabs">{{ atl.testingLabName }}</li>
          </ul>
        </span>
        <strong>Standards Version Advancement Process Notice:</strong> {{ $ctrl.listing.svapNoticeUrl ? $ctrl.listing.svapNoticeUrl : 'None' }} <br />
        <strong>Mandatory Disclosures:</strong> {{ $ctrl.listing.mandatoryDisclosures ? $ctrl.listing.mandatoryDisclosures : 'None' }} <br />
        <br />
        <chpl-listing-details-view is-confirming="true"
                                   hide-direct-review="true"
                                   listing="$ctrl.listing">
        </chpl-listing-details-view>
        <p><button class="btn btn-default btn-block" ng-click="$ctrl.editCertifiedProduct()" id="inspect-edit">Edit Certified Product</button></p>
      </div>
      <div class="panel-body" ng-if="$ctrl.isEditing">
        <chpl-listing-edit-page
          is-confirming="true"
          listing="$ctrl.listing"
          on-cancel="$ctrl.handleCancel()"
          on-change="$ctrl.handleChange(listing)"
          resources="$ctrl.resources"
          >
        </chpl-listing-edit-page>
      </div>
    </div>
  </div>
</div>
