<div class="row">
  <div class="col-sm-12">
    <h1>Certified Product</h1>
    <p>Step 4 of 4</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-ai">
      <div class="panel-heading">
        <span>{{ $ctrl.listing.chplProductNumber }}</span>
      </div>
      <div class="panel-body" ng-if="!$ctrl.isEditing">
        <chpl-listing-view-bridge
          is-confirming="true"
          listing="$ctrl.listing"
          ></chpl-listing-view-bridge>
        <p><button class="btn btn-default btn-block" ng-click="$ctrl.editCertifiedProduct()" id="inspect-edit">Edit Certified Product</button></p>
      </div>
      <div class="panel-body" ng-if="$ctrl.isEditing">
        <chpl-listing-edit-page
          is-confirming="true"
          listing="$ctrl.listing"
          on-cancel="$ctrl.handleCancel()"
          on-change="$ctrl.handleChange(listing)"
          resources="$ctrl.resources"
          errors="$ctrl.errors"
          warnings="$ctrl.warnings"
          >
        </chpl-listing-edit-page>
      </div>
    </div>
  </div>
</div>
