<div ng-form="$ctrl.form">
  <h1>SVAP Maintenance</h1>
  <div class="manage-list__container" ng-if="!$ctrl.isEditing">
    <div class="data-label">Regulatory Text Citation</div>
    <div class="data-label">Approved Standard Version</div>
    <div class="data-label">Applicable Criteria</div>
    <div class="data-label">Replaced</div>
    <div class="manage-list__item--start" ng-repeat-start="svap in $ctrl.svaps | orderBy: ['regulatoryTextCitation', 'approvedStandardVersion'] track by $index">
        {{ svap.regulatoryTextCitation }}
    </div>
    <div>
        {{ svap.approvedStandardVersion }}
    </div>
    <div>
      <div ng-repeat="criterion in svap.criteria | orderBy: $ctrl.sortCerts track by $index">
        {{ criterion.number + (criterion.title.indexOf('Cures Update') > -1 ? ' (Cures Update)' : '') }}
      </div>
    </div>
    <div>
        {{ svap.replaced ? 'Yes' : 'No' }}
    </div>
    <div class="manage-list__item--end" ng-repeat-end>
      <button class="btn btn-link btn-sm" ng-click="$ctrl.editSvap(svap)"><i class="fa fa-pencil"></i></button>
    </div>
    <div class="manage-list__item--start">
      <button class="btn btn-sm btn-link" ng-click="$ctrl.addSvap()"><i class="fa fa-plus-circle"></i> Add Item</button>
    </div>
  </div>

  <div ng-if="$ctrl.isEditing" class="panel panel-default">
    <div class="panel-body">
      <div class="flex-container">
        <div class="flex-item">
          <label class="control-label" for="svap-edit-regulatory-text-citation">Regulatory Text Citation<span class="text-danger">*</span></label>
          <div>
            <input class="input-sm form-control" type="text" ng-model="$ctrl.svap.regulatoryTextCitation"
                    id="svap-edit-regulatory-text-citation" name="svapEditRegulatoryTextCitation" required>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.svapEditRegulatoryTextCitation.$touched) && $ctrl.form.svapEditRegulatoryTextCitation.$error.required">Field is required</div>
          </div>
        </div>
        <div class="flex-item">
          <label class="control-label" for="svap-edit-approved-standard-version">Approved Standard Version<span class="text-danger">*</span></label>
          <div>
            <textarea class="input-sm form-control" id="svap-edit-approved-standard-version" name="svapEditApprovedStandardVersion" rows="3"
                    ng-model="$ctrl.svap.approvedStandardVersion" required></textarea>
                    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.svapEditRegulatoryTextCitation.$touched) && $ctrl.form.svapEditApprovedStandardVersion.$error.required">Field is required</div>
          </div>
        </div>
        <div class="flex-item">
          <label class="control-label">Criteria<span class="text-danger">*</span></label>
          <div ng-repeat="criterion in $ctrl.svap.criteria | orderBy: $ctrl.sortCerts track by $index">
            {{ criterion.number + (criterion.title.indexOf('Cures Update') > -1 ? ' (Cures Update)' : '') }} <button
              class="btn btn-link btn-sm" ng-click="$ctrl.removeCriteriaFromSvap(criterion)"><i
                class="fa fa-times"></i></button>
          </div>
          <select id="criteria" name="criteria" class="form-control" ng-model="$ctrl.selectedCriteria"
            ng-options="((criteria.removed ? 'Removed | ' : '') + criteria.number + ': ' + criteria.title) for criteria in $ctrl.getCriteriaForSelectableList() | orderBy: $ctrl.sortCerts track by criteria.id"
            ng-change="$ctrl.selectCriteriaForSvap()"></select>
          <div class="text-danger" ng-if="$ctrl.showFormErrors && $ctrl.svap.criteria && $ctrl.svap.criteria.length === 0">At
            least one criteria must be selected</div>
        </div>
        <div class="flex-item.narrow">
          <label class="control-label" for="svap-edit-replaced">Replaced</label>
          <div>
            <input type="checkbox" ng-model="$ctrl.svap.replaced" id="svap-edit-replaced" name="svapEditReplaced"></input>
          </div>
        </div>
      </div>
    </div>
    <chpl-action-bar-bridge
      errors="$ctrl.errors"
      can-delete="$ctrl.svap.svapId"
      is-disabled="$ctrl.form.$invalid && $ctrl.showFormErrors"
      dispatch="::$ctrl.takeActionBarAction">
    </chpl-action-bar-bridge>
  </div>
</div>
