<div id="listing-edit-{{ $ctrl.listing.listingId }}" ng-form="$ctrl.form">
  <strong>Version:</strong> {{ $ctrl.listing.version.version }}<br />
  <div ng-if="$ctrl.idFields">
    <div class="form-inline">
      <span class="form-control-static">
        <strong>CHPL Product Number:</strong>{{ $ctrl.idFields.prefix }}
      </span>
      <div class="form-group">
        <label for="id-prod" class="sr-only">Product Code:</label>
        <input type="text" id="id-prod" name="idProd" ng-model="$ctrl.idFields.prod" size="4" ng-pattern="/^[A-Za-z0-9_]{4}$/" ng-blur="$ctrl.update()" required>
      </div>
      <div class="form-group">
        <label for="id-ver" class="sr-only">Version Code:</label>
        <input type="text" id="id-ver" name="idVer" ng-model="$ctrl.idFields.ver" size="2" ng-pattern="/^[A-Za-z0-9_]{2}$/" ng-blur="$ctrl.update()" required>
      </div>
      <div class="form-group">
        <label for="id-ics" class="sr-only">ICS Code:</label>
        <input type="text" id="id-ics" name="idIcs" ng-model="$ctrl.idFields.ics" size="2" ng-pattern="/^[0-9]{2}$/" ng-blur="$ctrl.update()" required>
      </div>
      <span class="form-control-static">
        {{ $ctrl.idFields.suffix }}
      </span>
    </div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.idProd.$touched) && $ctrl.form.idProd.$error.required">Product Code is required</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.idProd.$touched) && !$ctrl.form.idProd.$error.required && !$ctrl.form.idProd.$valid">Product Code must consist of letters, numbers and/or "_", and be 4 characters long</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.idVer.$touched) && $ctrl.form.idVer.$error.required">Version Code is required</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.idVer.$touched) && !$ctrl.form.idVer.$error.required && !$ctrl.form.idVer.$valid">Version Code must consist of letters, numbers and/or "_", and be 2 characters long</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.idIcs.$touched) && $ctrl.form.idIcs.$error.required">ICS Code is required</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.idIcs.$touched) && !$ctrl.form.idIcs.$error.required && !$ctrl.form.idIcs.$valid">ICS Code must be a two digit single number from 00 to 99</div>
  </div>
  <div ng-if="!$ctrl.idFields">
    <strong>CHPL Product Number:</strong> {{ $ctrl.listing.chplProductNumber }}
  </div>
  <div class="form-group">
    <label for="cp-acb-cert-id">ACB Certification Id</label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.listing.acbCertificationId" id="cp-acb-cert-id" name="cpAcbCertId" ng-maxlength="250" ng-change="$ctrl.update()">
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.cpAcbCertId.$touched) && $ctrl.form.cpAcbCertId.$error.maxlength">Field is too long</div>
  </div>
  <strong>Certification Edition:</strong> {{ $ctrl.listing.certificationEdition.name }} <span ng-if="$ctrl.listing.curesUpdate">Cures Update</span><br />
  <div>
    <strong>Certification Date</strong> {{ $ctrl.DateUtil.getCertificationDay($ctrl.listing) }}
  </div>
  <span ng-if="$ctrl.listing.currentStatus">
    <div class="manage-list__container">
      <div class="data-label">Certification Status</div>
      <div class="data-label">Effective Date</div>
      <div class="data-label">Reason for status change</div>
      <div class="manage-list__item--start" ng-repeat-start="item in $ctrl.listing.certificationEvents | orderBy:'-statusDateObject.getTime()' track by $index">
        {{ item.status.name }}
        <div class="text-danger" ng-if="!$last && $ctrl.matchesPreviousStatus(item)">Certification Status must differ from previous Status</div>
        <div class="text-danger" ng-if="$first && $ctrl.mayCauseSuspension($ctrl.certificationStatusWhenEditing($ctrl.listing))">Setting this product to this status may trigger a ban by ONC</div>
        <div class="text-danger" ng-if="$first && $ctrl.certificationStatusWhenEditing($ctrl.listing) === 'Terminated by ONC'">Setting this product to this status will cause the developer to be marked as "Under Certification Ban"</div>
        <div class="text-danger" ng-if="$first && $ctrl.certificationStatusWhenEditing($ctrl.listing) === 'Suspended by ONC'">Setting this product to this status will cause the developer to be marked as "Suspended by ONC"</div>
        <div class="text-danger" ng-if="$first && $ctrl.certificationStatusWhenEditing($ctrl.listing) === 'Withdrawn by Developer'">Be sure this product is not under surveillance or soon to be under surveillance, otherwise use the status "Withdrawn by Developer Under Surveillance/Review"</div>
      </div>
      <div>
        {{ item.eventDate | date : 'mediumDate' : 'GMT' }}
        <div class="text-danger" ng-if="$ctrl.matchesPreviousDate(item)">Only one change of status allowed per day</div>
      </div>
      <div>
        {{ item.reason }}
      </div>
      <div class="manage-list__item--end" ng-repeat-end>
        <button class="btn btn-link btn-sm" ng-click="$ctrl.removeItem('certificationEvents', item)"><i class="fa fa-times"></i><span class="sr-only">Remove Item</span></button>
      </div>
      <div class="manage-list__item--start" ng-if="$ctrl.addingItem['certificationEvents']">
        <label for="certification-event-add-new-status" class="sr-only"><span ng-if="$first">Current </span>Certification Status</label>
        <select ng-model="$ctrl.newItem['certificationEvents'].status" required
                ng-options="status as status.name disable when $ctrl.disabledStatus(status.name) for status in $ctrl.resources.statuses | orderBy:'name'"
                id="certification-event-add-new-status" name="certificationEventAddNewStatus" class="input-sm form-control">
        </select>
      </div>
      <div ng-if="$ctrl.addingItem['certificationEvents']">
        <label class="sr-only" for="certification-event-add-new-date">Add new Certification Status Date</label>
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.newItem['certificationEvents'].statusDateObject"
                 is-open="statusEvent.statusDatePicker" close-text="Close"
                 id="certification-event-add-new-date" name="certificationEventAddNewDate" required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-secondary btn-sm" ng-click="statusEvent.statusDatePicker = true"><i class="fa fa-calendar"></i><span class="sr-only">Open Datepicker</span></button>
          </span>
        </div>
      </div>
      <div ng-if="$ctrl.addingItem['certificationEvents']">
        <label for="certification-event-add-new-reason" class="sr-only">Add new Reason for Change</label>
        <input class="input-sm form-control" type="text" ng-model="$ctrl.newItem['certificationEvents'].reason"
               ng-maxlength="500" id="certification-event-add-new-reason" name="certificationEventAddNewReason">
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.certificationEventAddNewReason.$touched) && $ctrl.form.certificationEventAddNewReason.$error.maxlength">Field is too long</div>
      </div>
      <div class="manage-list__item--end" ng-if="$ctrl.addingItem['certificationEvents']">
        <button class="btn btn-link btn-sm" ng-click="$ctrl.saveNewItem('certificationEvents')" ng-mouseover="$ctrl.showFormErrors = true"
                ng-disabled="($ctrl.showFormErrors || $ctrl.form.certificationEventAddNewStatus.$touched || $ctrl.form.certificationEventAddNewDate.$touched || $ctrl.form.certificationEventAddNewReason.$touched) && ($ctrl.form.certificationEventAddNewStatus.$error.required || $ctrl.form.certificationEventAddNewStatus.$error.required)"><i class="fa fa-save"></i></button>
        <button class="btn btn-link btn-sm" ng-click="$ctrl.cancelNewItem('certificationEvents')"><i class="fa fa-times"></i><span class="sr-only">Cancel New Item</span></button>
      </div>
      <div class="manage-list__item--start" ng-if="!$ctrl.addingItem['certificationEvents']">
        <button class="btn btn-sm btn-link" ng-click="$ctrl.addingItem['certificationEvents'] = true"><i class="fa fa-plus-circle"></i> Add Item</button>
      </div>
    </div>
  </span>
  <div class="form-group" ng-if="$ctrl.listing.certificationEdition.name === '2014'">
    <label for="cp-practice">Practice Type</label>
    <select class="input-sm form-control" ng-model="$ctrl.listing.practiceType" id="cp-practice" name="cpPractice"
            ng-change="$ctrl.update()"
            ng-options="practice as practice.name for practice in $ctrl.resources.practices" required>
    </select>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.cpPractice.$touched) && $ctrl.form.cpPractice.$error.required">Field is required</div>
  </div>
  <div class="form-group" ng-if="$ctrl.listing.certificationEdition.name === '2014'">
    <label for="cp-classification">Classification Type</label>
    <select class="input-sm form-control" ng-model="$ctrl.listing.classificationType" id="cp-classification" name="cpClassification"
            ng-change="$ctrl.update()"
            ng-options="classification as classification.name for classification in $ctrl.resources.classifications" required>
    </select>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.cpClassification.$touched) && $ctrl.form.cpClassification.$error.required">Field is required</div>
  </div>
  <div ng-if="!$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><strong>Certification Body:</strong> {{ $ctrl.listing.certifyingBody.name }} </div>
  <div ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])" class="form-group">
    <label for="cp-body">Certification Body</label>
    <select class="input-sm form-control" ng-model="$ctrl.listing.certifyingBody" id="cp-body" name="cpBody"
            ng-change="$ctrl.update()"
            ng-options="body as body.name for body in $ctrl.resources.bodies" required>
    </select>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.cpBody.$touched) && $ctrl.form.cpBody.$error.required">Field is required</div>
  </div>
  <div class="manage-list__container">
    <div class="data-label">Testing Lab</div>
    <div class="manage-list__item--start" ng-repeat-start="item in $ctrl.listing.testingLabs track by $index">
      {{ item.testingLabName }}
    </div>
    <div class="manage-list__item--end" ng-repeat-end>
      <button class="btn btn-link btn-sm" ng-click="$ctrl.removeItem('oncAtls', item)"><i class="fa fa-times"></i><span class="sr-only">Remove Item</span></button>
    </div>
    <div class="manage-list__item--start" ng-if="$ctrl.addingItem['oncAtls']">
      <div class="data-label sr-only"><label for="testing-lab-add-new">Add new Testing Lab</label></div>
      <select class="form-control" ng-model="$ctrl.newItem['oncAtls'].testingLabName" id="testing-lab-add-new" name="testingLabAddNew" required
              ng-options="option.name as option.name for option in $ctrl.filterListEditItems($ctrl.resources.testingLabs)">
      </select>
    </div>
    <div class="manage-list__item--end" ng-if="$ctrl.addingItem['oncAtls']">
      <button class="btn btn-link btn-sm" ng-click="$ctrl.saveNewItem('oncAtls')" ng-mouseover="$ctrl.showFormErrors = true"
              ng-disabled="($ctrl.showFormErrors || $ctrl.form.testingLabAddNew.$touched) && $ctrl.form.testingLabAddNew.$error.required"><i class="fa fa-save"></i></button>
      <button class="btn btn-link btn-sm" ng-click="$ctrl.cancelNewItem('oncAtls')"><i class="fa fa-times"></i><span class="sr-only">Cancel New Item</span></button>
    </div>
    <div class="manage-list__item--start" ng-if="!$ctrl.addingItem['oncAtls'] && $ctrl.filterListEditItems($ctrl.resources.testingLabs).length > 0">
      <button class="btn btn-sm btn-link" ng-click="$ctrl.addingItem['oncAtls'] = true"><i class="fa fa-plus-circle"></i> Add Item</button>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.listing.certificationEdition.name === '2011' || ($ctrl.listing.certificationEdition.name === '2014' && $ctrl.listing.chplProductNumber.startsWith('CHP-'))">
    <label for="cp-additional-software">Product wide Relied Upon Software</label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.listing.productAdditionalSoftware" id="cp-additional-software" ng-change="$ctrl.update()">
  </div>
  <div class="edit-listing__rwt-container" ng-if="$ctrl.listing.certificationEdition.name === '2015' && $ctrl.workType !== 'confirm'">
    <div class="edit-listing__rwt-container-header">
      <div class="data-label">Real World Testing</div>
    </div>
    <div>
      <div class="data-element"><label for="rwt-plans-url">Plans URL</label></div>
      <div>
        <input class="input-sm form-control" type="url" ng-model="$ctrl.listing.rwtPlansUrl" id="rwt-plans-url" name="rwtPlansUrl" ng-maxlength="1024" ng-change="$ctrl.update()">
        <div class="text-danger" ng-if="$ctrl.form.rwtPlansUrl.$touched && $ctrl.form.rwtPlansUrl.$error.url">Improper format (http://www.example.com)</div>
        <div class="text-danger" ng-if="$ctrl.form.rwtPlansUrl.$touched && $ctrl.form.rwtPlansUrl.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div>
      <div class="data-element"><label for="rwt-plans-check-date">Plans Last ONC-ACB Completeness Check</label></div>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.listing.rwtPlansCheckDateObject"
               is-open="$ctrl.listing.rwtPlansCheckDateDatePicker" close-text="Close"
               id="rwt-plans-check-date" name="rwtPlansCheckDate" ng-change="$ctrl.update()">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.listing.rwtPlansCheckDateDatePicker = true"><i class="fa fa-calendar"></i><span class="sr-only">Open Datepicker</span></button>
        </span>
      </div>
      <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.rwtPlansCheckDate.$touched) && !$ctrl.form.rwtPlansCheckDate.$valid">Improper format (mm/dd/yyyy)</div>
    </div>
    <div>
      <div class="data-element"><label for="rwt-results-url">Results URL</label></div>
      <div>
        <input class="input-sm form-control" type="url" ng-model="$ctrl.listing.rwtResultsUrl" id="rwt-results-url" name="rwtResultsUrl" ng-maxlength="1024" ng-change="$ctrl.update()">
        <div class="text-danger" ng-if="$ctrl.form.rwtResultsUrl.$touched && $ctrl.form.rwtResultsUrl.$error.url">Improper format (http://www.example.com)</div>
        <div class="text-danger" ng-if="$ctrl.form.rwtResultsUrl.$touched && $ctrl.form.rwtResultsUrl.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div>
      <div class="data-element"><label for="rwt-results-check-date">Results Last ONC-ACB Completeness Check</label></div>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.listing.rwtResultsCheckDateObject"
               is-open="$ctrl.listing.rwtResultsCheckDateDatePicker" close-text="Close"
               id="rwt-results-check-date" name="rwtResultsCheckDate" ng-change="$ctrl.update()">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.listing.rwtResultsCheckDateDatePicker = true"><i class="fa fa-calendar"></i><span class="sr-only">Open Datepicker</span></button>
        </span>
      </div>
      <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.rwtResultsCheckDate.$touched) && !$ctrl.form.rwtResultsCheckDate.$valid">Improper format (mm/dd/yyyy)</div>
    </div>
  </div>
  <div class="form-group">
    <label for="cp-svap-notice-url">Standards Version Advancement Process Notice</label>
    <input class="input-sm form-control" type="url" ng-model="$ctrl.listing.svapNoticeUrl" id="cp-svap-notice-url" name="cpSvapNoticeUrl" ng-maxlength="1024" ng-change="$ctrl.update()">
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.cpSvapNoticeUrl.$touched) && $ctrl.form.cpSvapNoticeUrl.$error.url">Improper format (http://www.example.com)</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.cpSvapNoticeUrl.$touched) && $ctrl.form.cpSvapNoticeUrl.$error.maxlength">Field is too long</div>
  </div>
  <div class="form-group">
    <label for="mandatory-disclosures">Mandatory Disclosures</label>
    <input class="input-sm form-control" type="url" ng-model="$ctrl.listing.mandatoryDisclosures" id="mandatory-disclosures" name="mandatoryDisclosures" ng-maxlength="1024" ng-change="$ctrl.update()">
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.mandatoryDisclosures.$touched) && $ctrl.form.mandatoryDisclosures.$error.url">Improper format (http://www.example.com)</div>
    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.mandatoryDisclosures.$touched) && $ctrl.form.mandatoryDisclosures.$error.maxlength">Field is too long</div>
  </div>
  <br />
  <div class="form-group" ng-if="$ctrl.workType !== 'confirm'">
    <label for="reason-for-change">Reason for Change</label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.reason" id="reason-for-change" name="reasonForChange" ng-change="$ctrl.update()">
    If changes are made in any of the following ways, a Reason for Change is required:
    <ul>
      <li>Clinical Quality Measure Removed</li>
      <li>Certification Criteria Removed</li>
      <li>Editing of a 2011 Edition Certified Product</li>
      <li>Editing of a 2014 Edition Certified Product</li>
      <li>Certification Status Changed from anything to "Active"</li>
    </ul>
  </div>
</div>
