<span>
  <span ng-if="vm.isEditing">
    <div class="form-group">
      <label ng-class="{ 'col-md-4' : vm.formHorizontal }" class="control-label" for="contactFull">Full Name <span class="text-danger" ng-if="vm.valuesRequired()">*</span></label>
      <div ng-class="{ 'col-md-8' : vm.formHorizontal }">
        <input class="input-sm form-control" type="text" ng-required="vm.valuesRequired()" ng-model="vm.contact.fullName" id="contactFull" name="contactFull" ng-change="vm.updateErrors()" ng-maxlength="500"></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactFull.$touched) && vm.form.contactFull.$error.required">Field is required</div>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactFull.$touched) && vm.form.contactFull.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div class="form-group">
      <label ng-class="{ 'col-md-4' : vm.formHorizontal }" class="control-label" for="contactFriendly">Friendly Name</label>
      <div ng-class="{ 'col-md-8' : vm.formHorizontal }">
        <input class="input-sm form-control" type="text" ng-model="vm.contact.friendlyName" id="contactFriendly" name="contactFriendly" ng-change="vm.updateErrors()" ng-maxlength="250"></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactFriendly.$touched) && vm.form.contactFriendly.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div class="form-group">
      <label ng-class="{ 'col-md-4' : vm.formHorizontal }" class="control-label" for="contactTitle">Title</label>
      <div ng-class="{ 'col-md-8' : vm.formHorizontal }">
        <input class="input-sm form-control" type="text" ng-model="vm.contact.title" id="contactTitle" name="contactTitle" ng-change="updateErrors()" ng-maxlength="250"></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactTitle.$touched) && vm.form.contactTitle.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div class="form-group">
      <label ng-class="{ 'col-md-4' : vm.formHorizontal }" class="control-label" for="contactEmail">Email <span class="text-danger" ng-if="vm.valuesRequired()">*</span></label>
      <div ng-class="{ 'col-md-8' : vm.formHorizontal }">
        <input class="input-sm form-control" type="text" ng-required="vm.valuesRequired()" ng-model="vm.contact.email" id="contactEmail" name="contactEmail" ng-change="vm.updateErrors()" ng-maxlength="250"></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactEmail.$touched) && vm.form.contactEmail.$error.required">Field is required</div>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactEmail.$touched) && vm.form.contactEmail.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div class="form-group">
      <label ng-class="{ 'col-md-4' : vm.formHorizontal }" class="control-label" for="contactPhoneNumber">Phone <span class="text-danger" ng-if="vm.valuesRequired()">*</span></label>
      <div ng-class="{ 'col-md-8' : vm.formHorizontal }">
        <input class="input-sm form-control" type="text" ng-required="vm.valuesRequired()" ng-model="vm.contact.phoneNumber" id="contactPhoneNumber" name="contactPhoneNumber" ng-change="vm.updateErrors()" ng-maxlength="100"></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactPhoneNumber.$touched) && vm.form.contactPhoneNumber.$error.required">Field is required</div>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.form.contactPhoneNumber.$touched) && vm.form.contactPhoneNumber.$error.maxlength">Field is too long</div>
      </div>
    </div>
  </span>
  <span ng-if="!vm.isEditing">
    Name: {{ vm.contact.fullName }}<br />
    <span ng-if="vm.contact.friendlyName">Friendly name: {{ vm.contact.friendlyName }}<br /></span>
    <span ng-if="vm.contact.title">Title: {{ vm.contact.title }}<br /></span>
    Email: {{ vm.contact.email }}<br />
    Phone: {{ vm.contact.phoneNumber }}
  </span>
</span>
