<span>
  <span ng-if="!$ctrl.isEditing">
    <span class="sr-only">Full name: </span>{{ $ctrl.contact.fullName }}<br />
    <span class="sr-only">Phone: </span>{{ $ctrl.contact.phoneNumber }}<br />
    <span class="sr-only">Email: </span>{{ $ctrl.contact.email }}
  </span>

  <span ng-if="$ctrl.isEditing" ng-form="$ctrl.form">
    <div class="flex-container">
      <div class="flex-item">
        <label class="control-label" for="contactFull">Full Name <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.contact.fullName" id="contactFull" name="contactFull" ng-maxlength="500" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactFull.$touched) && $ctrl.form.contactFull.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactFull.$touched) && $ctrl.form.contactFull.$error.maxlength">Field is too long</div>
          <ul class="list-inline merge-options" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('fullName')">
              <button class="btn btn-secondary"
                      ng-click="$ctrl.selectDifference('fullName', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <label class="control-label" for="contactEmail">Email <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="email" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.contact.email" id="contactEmail" name="contactEmail" ng-maxlength="250" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactEmail.$touched) && $ctrl.form.contactEmail.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactEmail.$touched) && $ctrl.form.contactEmail.$error.maxlength">Field is too long</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactEmail.$touched) && $ctrl.form.contactEmail.$error.email">Improper format (sample@example.com)</div>
          <ul class="list-inline merge-options" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('email')">
              <button class="btn btn-secondary"
                      ng-click="$ctrl.selectDifference('email', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-item">
        <label class="control-label" for="contactPhoneNumber">Phone <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.contact.phoneNumber" id="contactPhoneNumber" name="contactPhoneNumber" ng-maxlength="100" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactPhoneNumber.$touched) && $ctrl.form.contactPhoneNumber.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.contactPhoneNumber.$touched) && $ctrl.form.contactPhoneNumber.$error.maxlength">Field is too long</div>
          <ul class="list-inline merge-options" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('phoneNumber')">
              <button class="btn btn-secondary"
                      ng-click="$ctrl.selectDifference('phoneNumber', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>
</span>
