<div class="action-bar">
  <div class="action-bar__error-toggle">
    <span ng-if="($ctrl.errorMessages && $ctrl.errorMessages.length > 0) || ($ctrl.warningMessages && $ctrl.warningMessages.length > 0)" ng-click="$ctrl.showErrors = !$ctrl.showErrors">
      Errors and Warnings <i class="fa" ng-class="$ctrl.showErrors ? 'fa-caret-down' : 'fa-caret-left'"></i>
    </span>
  </div>
  <div class="action-bar__messages">
    <div class="action-bar__errors" ng-if="$ctrl.showErrors && $ctrl.errorMessages && $ctrl.errorMessages.length > 0">
      <strong>Error<span ng-if="$ctrl.errorMessages.length !== 1">s</span></strong>
      <ul class="action-bar__error-messages">
        <li ng-if="!$ctrl.maxMessageCharacters" ng-repeat="message in $ctrl.errorMessages">{{ message }}</li>
        <li ng-if="$ctrl.maxMessageCharacters" ng-repeat="message in $ctrl.errorMessages"><ai-ellipsis text="{{ message }}" max-length="{{ $ctrl.maxMessageCharacters }}"></ai-ellipsis></li>
      </ul>
    </div>
    <div class="action-bar__warnings" ng-if="$ctrl.showErrors && $ctrl.warningMessages && $ctrl.warningMessages.length > 0">
      <strong>Warning<span ng-if="$ctrl.warningMessages.length !== 1">s</span></strong>
      <ul class="action-bar__warning-messages">
        <li ng-if="!ctrl.maxMessageCharacters" ng-repeat="message in $ctrl.warningMessages">{{ message }}</li>
        <li ng-if="$ctrl.maxMessageCharacters" ng-repeat="message in $ctrl.warningMessages"><ai-ellipsis text="{{ message }}" max-length="{{ $ctrl.maxMessageCharacters }}"></ai-ellipsis></li>
      </ul>
    </div>
  </div>
  <div class="action-bar__acknowledge-warnings">
    <span ng-if="$ctrl.warningMessages && $ctrl.warningMessages.length > 0">
      <input type="checkbox" ng-model="$ctrl.acknowledgeWarnings" id="acknowledge-warnings" name="acknowledgeWarnings" class="edit-listing__acknowledge-warning-checkbox" ng-change="$ctrl.updateAcknowledgement()">
      <label for="acknowledge-warnings" class="action-bar__acknowledge-warning-label">I have reviewed the warning<span ng-if="$ctrl.messages.warnings.length !== 1">s</span> and wish to proceed with this update</label>
    </span>
  </div>
  <div class="action-bar__buttons">
    <div class="action-bar__button" ng-if="$ctrl.canDelete">
      <button class="btn btn-danger" id="action-bar-delete"
              confirm="Are you sure you wish to delete?"
              confirm-ok="Yes"
              confirm-cancel="No"
              confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
              ng-click="$ctrl.delete()">Delete</button>
    </div>
    <div class="action-bar__button">
      <button class="btn btn-default" id="action-bar-cancel"
              confirm="Are you sure you wish to cancel? Your changes will not be saved."
              confirm-ok="Yes"
              confirm-cancel="No"
              confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
              ng-click="$ctrl.cancel()">Cancel</button>
    </div>
    <div class="action-bar__button">
      <button class="btn btn-primary" id="action-bar-save" ng-click="$ctrl.save()"
              ng-disabled="$ctrl.isDisabled"
              ng-mouseover="$ctrl.mouseover()">Save</button>
    </div>
  </div>
</div>
