:root {
    --background-error: 196, 79, 101;
    --background-warning: 247, 233, 187;
}

.action-bar {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 50px;
    z-index: 1035;
    margin-bottom: 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.action-bar__error-toggle {
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--dark);
    grid-column: 1 / 3;
}

.action-bar__errors {
    color: var(--dark);
    background-color: rgba(var(--background-error), .3);
    max-height: 30vh;
    overflow-y: scroll;
    grid-column: 1 / 2;
}

.action-bar__warnings {
    color: var(--dark);
    background-color: rgba(var(--background-warning), .3);
    max-height: 30vh;
    overflow-y: scroll;
    grid-column: 2 / 3;
}

.action-bar__acknowledge-warnings {
    color: var(--warning);
    text-align: center;
    grid-column: 1 / 3;
}

label.action-bar__acknowledge-warning-label {
    display: inline;
    color: var(--warning);
}

.action-bar__buttons {
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
}

.action-bar__button {
    margin: 4px;
}
