.products__products-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

.products__products-header-item--last {
    justify-self: end;
}

.products__product {
    border: 1px solid var(--grey);
    border-radius: 8px;
    margin-bottom: 8px;
}

.products__product-header {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 4fr 2fr 2fr 1fr 2em;
    background-color: var(--grey-blue);
}

.products__product-header--inactive {
    background-color: var(--light-grey) !important;
}

.products__product-header-item--first {
    font-weight: 700;
}

.products__product-header-item--end {
    justify-self: end;
}

.product__product-info {
    display: grid;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 4fr 1fr;
    margin: 8px;
    column-gap: 8px;
}

.product__product-info-item-action {
    justify-self: end;
    align-self: end;
}

.product__product-action-filter-item {
    padding: 8px;
}

.product__product-action-filter-item--disabled {
    background-color: var(--light-grey);
    font-style: italic;
    cursor: not-allowed;
}

.product__product-action-filter-item:hover,
.product__product-action-filter-item:focus,
.product__product-action-filter-item:active {
    background-color: var(--primary);
}

.product__product-info-item-previous-owners {
    grid-row: 2;
    grid-column: 1 / 3;
}

.product__product-info-item-contact {
    grid-row: 3;
    grid-column: 1 / 3;
}

.product__listings {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    margin: 8px;
    overflow-x: auto;
}

.product__listing {
    display: contents;
}

.product__listing-data-item {
    background-color: var(--primary);
}

.product__data-label {
    background: white;
    padding: 8px;
}

.product__listing-element {
    padding: 8px;
}
