<span ng-if="!$ctrl.activeProduct">
  <div class="panel panel-default">
    <div class="panel-heading products__products-header">
      <div class="products__products-header-item"><h2 class="panel-title">Products</h2></div>
      <div class="products__products-header-item products__products-header-item--last" ng-if="$ctrl.statusItems">
        <chpl-filter-multiple
          items="$ctrl.statusItems"
          on-change="$ctrl.doFilter(items)">
        </chpl-filter-multiple>
        <button class="btn btn-default" ng-click="$ctrl.viewCertificationStatusLegend();$event.stopPropagation()"><i class="fa fa-question-circle"></i><span class="sr-only">View Certification Status Legend</span></button>
      </div>
    </div>
    <div class="panel-body">
      <div ng-repeat="product in $ctrl.products | orderBy: 'name'" class="products__product">
        <div class="products__product-header" ng-click="$ctrl.toggleProduct(product)">
          <div class="products__product-header-item products__product-header-item--first"><h3>{{ product.name }}</h3></div>
          <div class="products__product-header-item">{{ $ctrl.getListingCounts(product) }}</div>
          <div class="products__product-header-item">{{ product.versions ? product.versions.length : 0 }} Version<span ng-if="product.versions.length !== 1">s</span></div>
          <div class="products__product-header-item"><i class="fa fa-lg" ng-class="product.isOpen ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
        </div>
        <div ng-if="product.isOpen">
          <div id="chpl-product-{{ product.productId }}">
            <div class="product__product-info">
              <div class="product__product-info-item-version">
                <label for="active-version-{{ product.productId }}">Version</label>
                <select ng-model="product.activeVersion"
                        id="active-version-{{ product.productId }}" name="product.activeVersion" class="input-sm form-control"
                        ng-options="v as v.version for v in product.versions">
                </select>
              </div>
              <div class="product__product-info-item-edit" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])">
                <div uib-dropdown auto-close="outsideClick" class="btn-group">
                  <button class="btn btn-default dropdown-toggle" type="button" id="edit-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true" ng-click="$event.stopPropagation()">
                    <i class="fa fa-pencil"></i> Edit
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="edit-button" uib-dropdown-menu>
                    <li class="product__product-edit-filter-item" ng-click="$ctrl.editProduct(product)">Product</li>
                    <li class="product__product-edit-filter-item" ng-click="$ctrl.editVersion(product)">Version</li>
                  </ul>
                </div>
              </div>
              <div class="product__product-info-item-previous-owners" ng-if="product.ownerHistory && product.ownerHistory.length > 0">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th scope="col">Previous Owner<span ng-if="product.ownerHistory.length > 1">s</span></th>
                      <th scope="col">Transfer date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="owner in product.ownerHistory | orderBy : '-transferDate'">
                      <td>{{ owner.developer.name }}</td>
                      <td>{{ owner.transferDate | date : 'mediumDate' : 'UTC' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="product__product-info-item-contact" ng-if="product.contact">
                <div class="data-label">Contact information</div>
                <chpl-contact contact="product.contact"></chpl-contact>
              </div>
            </div>
            <div class="product__listings">
              <p ng-if="$ctrl.noVisibleListings(product)">No Listings match the filter</p>
              <div class="product__listing" ng-repeat="listing in product.activeVersion.listings | filter:{displayed:true}">
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">CHPL Product Number</div>
                  <div class="product__listing-element"><a ui-sref="listing({ id: listing.id })">{{ listing.chplProductNumber }}</a></div>
                </div>
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">Certification Status</div>
                  <div class="product__listing-element"><a href uib-tooltip="{{ listing.certificationStatus }}" tooltip-trigger="'mouseenter focus click'"><i class="fa" ng-class="$ctrl.statusFont(listing.certificationStatus)"></i><span class="sr-only"> {{ listing.certificationStatus }} tooltip</span></a> {{ listing.certificationStatus }}</div>
                </div>
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">Edition</div>
                  <div class="product__listing-element">{{ listing.edition }}<span ng-if="listing.curesUpdate"> Cures Update</span></div>
                </div>
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">Certification Date</div>
                  <div class="product__listing-element">{{ listing.certificationDate | date : 'mediumDate' : 'UTC' }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
<span ng-if="$ctrl.activeProduct && !$ctrl.activeVersion">
  <chpl-product-edit
    product="$ctrl.activeProduct"
    take-action="$ctrl.handleEdit(action, data)"
    ></chpl-product-edit>
</span>
<span ng-if="$ctrl.activeProduct && $ctrl.activeVersion">
  <chpl-version-edit
    version="$ctrl.activeVersion"
    product="$ctrl.activeProduct"
    take-action="$ctrl.handleEdit(action, data)"
    ></chpl-version-edit>
</span>
