<span ng-if="!$ctrl.activeProduct">
  <div class="panel panel-default">
    <div class="panel-heading products__products-header">
      <div class="products__products-header-item"><h2>Products</h2></div>
      <div class="products__products-header-item products__products-header-item--last" ng-if="$ctrl.statusItems">
        <chpl-filter-multiple
          items="$ctrl.statusItems"
          on-change="$ctrl.doFilter(items)">
        </chpl-filter-multiple>
        <button class="btn btn-default" ng-click="$ctrl.viewCertificationStatusLegend();$event.stopPropagation()"><i class="fa fa-question-circle"></i></button>
      </div>
    </div>
    <div class="panel-body">
      <div ng-repeat="product in $ctrl.products | orderBy: 'name'" class="products__product">
        <div class="products__product-header" ng-click="$ctrl.toggleProduct(product)">
          <div class="products__product-header-item products__product-header-item--first"><h3>{{ product.name }}</h3></div>
          <div class="products__product-header-item">{{ $ctrl.getListingCounts(product) }}</div>
          <div class="products__product-header-item">{{ product.versions ? product.versions.length : 0 }} Version<span ng-if="product.versions.length !== 1">s</span></div>
          <div class="products__product-header-item"><i class="fa" ng-class="{ 'fa-caret-down' : !product.isOpen, 'fa-caret-up' : product.isOpen }"></i></div>
        </div>
        <div ng-if="product.isOpen">
          <div id="chpl-product-{{ product.productId }}">
            <div class="product__product-info">
              <div class="product__product-info-item">
                <label for="active-version">Version</label>
                <select ng-model="product.activeVersion"
                        id="active-version" name="product.activeVersion" class="input-sm form-control"
                        ng-options="v as v.version for v in product.versions">
                </select>
              </div>
              <div class="product__product-info-item">
                <button class="btn btn-default" ui-sref=".product.edit({ productId: product.productId })"><i class="fa fa-pencil"></i> Edit</button>
              </div>
              <div class="product__product-info-item product__product-info-item--right">
                <div class="data-label">Last Modified (what is modified? product or version?</div>
                <div class="read-only-data">{{ product.lastModifiedDate | date : 'mediumDate' : 'UTC' }}</div>
              </div>
              <div class="product__product-info-item" ng-if="product.ownerHistory && product.ownerHistory.length > 0">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th scope="col">Previous Owner<span ng-if="product.ownerHistory.length > 1">s</span></th>
                      <th scope="col">Effective date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="owner in product.ownerHistory | orderBy : '-transferDate'">
                      <td>{{ owner.developer.name }}</td>
                      <td>{{ owner.transferDate | date : 'mediumDate' : 'UTC' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="product__product-info-item" ng-if="product.contact">
                <div class="data-label">Contact information</div>
                <chpl-contact contact="product.contact"></chpl-contact>
              </div>
            </div>
            <div class="product__listings">
              <p ng-if="$ctrl.noVisibleListings(product)">No Listings match the filter</p>
              <div class="product__listing" ng-repeat="listing in product.activeVersion.listings | filter:{displayed:true}">
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">CHPL Product Number</div>
                  <div class="product__listing-element"><a ui-sref="listing({ id: listing.id })">{{ listing.chplProductNumber }}</a></div>
                </div>
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">Certification Status</div>
                  <div class="product__listing-element"><a href uib-tooltip="{{ listing.certificationStatus }}" tooltip-trigger="'mouseenter focus click'"><i class="fa" ng-class="$ctrl.statusFont(listing.certificationStatus)"></i></a> {{ listing.certificationStatus }}</div>
                </div>
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">Edition</div>
                  <div class="product__listing-element">{{ listing.edition }}<span ng-if="listing.curesUpdate"> Cures Update</span></div>
                </div>
                <div class="product__listing-data-item">
                  <div class="data-label product__data-label" ng-class="{ 'sr-only' : !$first }">Certification Date</div>
                  <div class="product__listing-element">{{ listing.certificationDate | date : 'mediumDate' : 'UTC' }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
<span ng-if="$ctrl.activeProduct" ng-form="$ctrl.form">
  <div class="panel-default">
    <div class="panel-heading products__products-header">
      <div class="products__products-header-item"><h2>Edit Product Details</h2></div>
    </div>
    <div class="panel-body">
      <div class="product__edit-information-product">
        <div class="product__edit-start">
          <div class="product__data-label"><label for="product-name">Product Name</label></div>
          <div class="product__edit-data-element">
            <input class="product__edit-form-control" type="text" id="product-name" name="productName"
                   ng-model="$ctrl.activeProduct.name">
          </div>
        </div>
      </div>
      <div class="product__history-of-product">
        <div class="product__history-of-product-header">
          <div class="product__data-label">
            Product Owner
          </div>
        </div>
        <div class="product__history-of-product-header product__history-of-product-header--end">
          <div class="product__data-label">
            Transfer Date
          </div>
        </div>
        <div class="product__history-of-product-item" ng-repeat-start="owner in $ctrl.activeProduct.ownerHistory">
          <div class="product__data-element">
            {{ owner.developer.name }}
          </div>
        </div>
        <div class="product__history-of-product-item">
          <div class="product__data-element">
            {{ owner.transferDate ? (owner.transferDate | date : 'mediumDate' : 'EST') : 'current' }}
          </div>
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--end" ng-repeat-end>
          <button class="btn btn-link btn-sm" ng-click="$ctrl.removeOwner(owner)"><i class="fa fa-times"></i></button>
        </div>
        <div class="product__history-of-product-item" ng-if="$ctrl.addingOwner">
          <div class="product__edit">
            <div class="product__data-label sr-only"><label for="product-owner">Product Owner <span class="text-danger">*</span></label></div>
            <div class="product__edit-data-element ">
              <select ng-model="$ctrl.newOwner" id="product-owner" name="productOwner" class="product__edit-form-control"
                      ng-options="developer as developer.displayName for developer in $ctrl.developers">
              </select>
            </div>
          </div>
        </div>
        <div class="product__history-of-product-item" ng-if="$ctrl.addingOwner">
          <div class="product__edit">
            <div class="product__data-label sr-only"><label for="transfer-date">Transfer Date <span class="text-danger">*</span></label></div>
            <div class="product__edit-data-element">
              <div class="input-group">
                <input class="product__edit-form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.newTransferDate" is-open="$ctrl.transferDatePicker" close-text="Close"
                       id="transfer-date" name="transferDate" ng-model-options="{ timezone: 'UTC' }"><div uib-datepicker-popup-wrap ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty" aria-invalid="false">
                </div>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-link btn-sm" ng-click="$ctrl.transferDatePicker = true"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--end" ng-if="$ctrl.addingOwner">
          <button class="btn btn-link btn-sm" ng-disabled="!$ctrl.newOwner" ng-click="$ctrl.saveNewOwner()"><i class="fa fa-save"></i></button>
        </div>
        <div class="product__history-of-product-add-new" ng-if="!$ctrl.addingOwner">
          <button class="btn btn-sm btn-link" ng-click="$ctrl.addingOwner = true"><i class="fa fa-plus-circle"></i> Add Product Owner</button>
        </div>
      </div>
      <hr>
      <div>
        <h4>Contact Information</h4>
      </div>
      <chpl-contact contact="$ctrl.product.contact"
                    is-editing="true"
                    ignore-friendly-name="true"
                    on-change="$ctrl.editContact(contact)"
                    show-form-errors="$ctrl.showFormErrors"></chpl-contact>
    </div>
  </div>
  <chpl-action-bar is-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
                   error-messages="$ctrl.errorMessages"
                   take-action="$ctrl.takeActionBarAction(action)">
  </chpl-action-bar>
</span>
