<span ng-form="$ctrl.form">
  <div class="flex-container">
    <div class="flex-item">
      <h1>Split {{ $ctrl.request.oldVersion.version }}</h1>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item">
      <div class="panel-default">
        <div class="panel-heading versions__versions-header">
          <div class="versions__versions-header-item"><h2 class="panel-title">Original Version</h2></div>
        </div>
        <div class="panel-body">
          <div class="data-label">Version</div>
          <div class="read-only-data">{{ $ctrl.request.oldVersion.version }}</div>
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="panel-default">
        <div class="panel-heading versions__versions-header">
          <div class="versions__versions-header-item"><h2 class="panel-title">New Version</h2></div>
        </div>
        <div class="panel-body">
          <div class="version__edit-information-version">
            <div class="data-label"><label for="version-version">Version <span class="text-danger">*</span></label></div>
            <div>
              <input class="form-control" type="text" id="version-version" name="versionVersion"
                     ng-model="$ctrl.request.newVersionVersion" required ng-maxlength="300">
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.versionVersion.$touched) && $ctrl.form.versionVersion.$error.required">Field is required</div>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.versionVersion.$touched) && $ctrl.form.versionVersion.$error.maxlength">Field is too long</div>
            </div>
            <div class="data-label"><label for="version-code">Version Code <span class="text-danger">*</span></label></div>
            <div>
              <input class="form-control" type="text" id="version-code" name="versionCode"
                     ng-pattern="/^[A-Za-z0-9_]{2}$/" ng-model="$ctrl.request.newVersionCode" required>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.versionCode.$touched) && $ctrl.form.versionCode.$error.required">Field is required</div>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.versionCode.$touched) && !$ctrl.form.versionCode.$error.required && !$ctrl.form.versionCode.$valid">Version Code must consist of letters, numbers and/or "_", and be 2 characters long</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item panel panel-default">
      <div class="panel-body">
        <h5>Listings staying with original Version</h5>
        <div class="bg-danger" ng-if="$ctrl.request.oldListings.length === 0">At least one Listing must stay with original Listing</div>
        <div class="flex-container container-striped" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="listing in $ctrl.request.oldListings | orderBy: 'chplProductNumber'">
          <div class="flex-item cross-axis-align-center">
            {{ listing.chplProductNumber }}
          </div>
          <div class="flex-item text-right narrowest">
            <button class="btn btn-default" id="listings-listing-move-new-{{ listing.id }}" ng-click="$ctrl.toggleMove(listing, true)"><i class="fa fa-long-arrow-right"></i><span class="sr-only"> Move to new</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-item panel panel-default">
      <div class="panel-body">
        <h5>Listings moving to new Version</h5>
        <div class="bg-danger" ng-if="$ctrl.request.newListings.length === 0">At least one Listing must be selected to move</div>
        <div class="flex-container container-striped" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="listing in $ctrl.request.newListings | orderBy: 'chplProductNumber'">
          <div class="flex-item cross-axis-align-center">
            {{ listing.chplProductNumber }}
          </div>
          <div class="flex-item text-right narrowest">
            <button class="btn btn-default" id="listings-listing-move-old-{{ listing.id }}" ng-click="$ctrl.toggleMove(listing, false)"><i class="fa fa-long-arrow-left"></i><span class="sr-only"> Move to new</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <chpl-action-bar-wrapper-bridge
    is-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
    dispatch="::$ctrl.takeActionBarAction">
  </chpl-action-bar-wrapper-bridge>
</span>
