<div role="modal" aria-labeled-by="modal-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancels"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modal-label">SED Task</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="vm.editForm">
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-friendly-id">Friendly ID <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control input-sm" id="data-friendly-id" name="data_friendly_id" ng-model="vm.task.friendlyId" required ng-maxlength="20"></input>
        <div class="text-danger" ng-if="vm.editForm.data_friendly_id.$touched && vm.editForm.data_friendly_id.$error.required">Field is required</div>
        <div class="text-danger" ng-if="vm.editForm.data_friendly_id.$touched && vm.editForm.data_friendly_id.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-description">Task Description <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control input-sm" id="data-description" name="data_description" ng-model="vm.task.description" required>
        <div class="text-danger" ng-if="vm.editForm.data_description.$touched && vm.editForm.data_description.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-criteria">Associated Certification Criteria <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <button id="clear-selection-criteria" class="btn btn-small btn-link pull-right" ng-click="vm.task.criteria=[];" ng-if="vm.task.criteria && vm.task.criteria.length !== 0">Clear Selection(s)<span class="sr-only">of Criteria</span></button>
        <select ng-options="((criteria.removed ? 'Removed | ' : '') + criteria.number + ': ' + criteria.title) for criteria in vm.criteria | orderBy: vm.sortCert track by criteria.id" ng-model="vm.task.criteria"
                multiple data-ng-attr-size="{{ vm.criteria.length }}" id="data-criteria-criteria" name="data_criteria"
                class="form-control input-sm" required></select>
        <div class="text-danger" ng-if="vm.editForm.data_criteria.$touched && vm.editForm.data_criteria.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-rating-scale">Rating Scale <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control input-sm" id="data-task-rating-scale" name="data_taskRatingScale" ng-model="vm.task.taskRatingScale" required ng-maxlength="50">
        <div class="text-danger" ng-if="vm.editForm.data_taskRatingScale.$touched && vm.editForm.data_taskRatingScale.$error.required">Field is required</div>
        <div class="text-danger" ng-if="vm.editForm.data_taskRatingScale.$touched && vm.editForm.data_taskRatingScale.$error.maxlength">Field is too long</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-rating">Task Rating <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-rating" name="data_taskRating" ng-model="vm.task.taskRating" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskRating.$touched && vm.editForm.data_taskRating.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-rating-stddev">Task Rating - Standard Deviation <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-rating-stddev" name="data_taskRatingStddev" ng-model="vm.task.taskRatingStddev" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskRatingStddev.$touched && vm.editForm.data_taskRatingStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-time-avg">Task Time - Mean (s) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-time-avg" name="data_taskTimeAvg" ng-model="vm.task.taskTimeAvg" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeAvg.$touched && vm.editForm.data_taskTimeAvg.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-time-stddev">Task Time - Standard Deviation (s) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-time-stddev" name="data_taskTimeStddev" ng-model="vm.task.taskTimeStddev" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeStddev.$touched && vm.editForm.data_taskTimeStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-time-deviation-observed-avg">Task Time Deviation - Observed (s) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-time-deviation-observed-avg" name="data_taskTimeDeviationObservedAvg" ng-model="vm.task.taskTimeDeviationObservedAvg" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeDeviationObservedAvg.$touched && vm.editForm.data_taskTimeDeviationObservedAvg.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-time-deviation-optimal-avg">Task Time Deviation - Optimal (s) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-time-deviation-optimal-avg" name="data_taskTimeDeviationOptimalAvg" ng-model="vm.task.taskTimeDeviationOptimalAvg" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeDeviationOptimalAvg.$touched && vm.editForm.data_taskTimeDeviationOptimalAvg.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-success-average">Task Success - Mean (%) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-success-average" name="data_taskSuccessAverage" ng-model="vm.task.taskSuccessAverage" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskSuccessAverage.$touched && vm.editForm.data_taskSuccessAverage.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-success-stddev">Task Success - Standard Deviation (%) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-success-stddev" name="data_taskSuccessStddev" ng-model="vm.task.taskSuccessStddev" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskSuccessStddev.$touched && vm.editForm.data_taskSuccessStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-errors">Task Errors - Mean (%) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-errors" name="data_taskErrors" ng-model="vm.task.taskErrors" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskErrors.$touched && vm.editForm.data_taskErrors.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-errors-stddev">Task Errors - Standard Deviation (%) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-errors-stddev" name="data_taskErrorsStddev" ng-model="vm.task.taskErrorsStddev" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskErrorsStddev.$touched && vm.editForm.data_taskErrorsStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-path-deviation-observed">Task Path Deviation - Observed (# of Steps) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-path-deviation-observed" name="data_taskPathDeviationObserved" ng-model="vm.task.taskPathDeviationObserved" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskPathDeviationObserved.$touched && vm.editForm.data_taskPathDeviationObserved.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data-task-path-deviation-optimal">Task Path Deviation - Optimal (# of Steps) <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data-task-path-deviation-optimal" name="data_taskPathDeviationOptimal" ng-model="vm.task.taskPathDeviationOptimal" required>
        <div class="text-danger" ng-if="vm.editForm.data_taskPathDeviationOptimal.$touched && vm.editForm.data_taskPathDeviationOptimal.$error.required">Field is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-right">
        <strong>Participants <span class="text-danger">*</span></strong>
      </div>
      <div class="col-sm-8">
        <button class="btn btn-ai-success" ng-click="vm.viewParticipants()"><i class="fa fa-users"></i> {{ vm.task.testParticipants ? vm.task.testParticipants.length : 0 }} participant<span ng-if="vm.task.testParticipants.length !== 1">s</span> assigned</button>
        <div class="text-danger" ng-if="vm.task.testParticipants.length < 10">At least 10 test participants are required</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel</button>
    <button ng-disabled="vm.editForm.$invalid || vm.task.testParticipants.length < 10"
            class="btn btn-ai-success pull-right" ng-click="vm.save()"><i class="fa fa-save"></i><span class="sr-only">Save SED Task</span></button>
  </div>
</div>
