<div>
  <p ng-if="!vm.sedCriteria || vm.sedCriteria.length === 0">No Certification Criteria were tested for SED.</p>
  <span ng-if="vm.sedCriteria && vm.sedCriteria.length > 0">
    <span ng-if="!vm.isEditing">
      <span ng-if="vm.editMode">
        <button class="btn btn-ai pull-right" ng-click="vm.editDetails()">Edit SED Details</button>
      </span>
      <span ng-if="vm.listing.sedReportFileLocation !== null">
        <h4>Full Usability Report</h4>
        <a ai-a="" ng-if="vm.listing.sedReportFileLocation" href="{{ vm.listing.sedReportFileLocation }}" analytics-on="click" analytics-event="Usability Report" analytics-properties="{ category: 'Download Details', label: vm.listing.sedReportFileLocation }">{{ vm.listing.sedReportFileLocation }}</a>
        <p ng-if="!vm.listing.sedReportFileLocation">No report on file</p>
      </span>
      <span ng-if="vm.listing.sedIntendedUserDescription">
        <h4>Description of Intended Users</h4>
        <p>{{ vm.listing.sedIntendedUserDescription ? vm.listing.sedIntendedUserDescription : 'N/A' }}</p>
      </span>
      <span ng-if="vm.listing.sedTestingEndDay">
        <h4>Date SED Testing was Completed</h4>
        <p>{{ vm.DateUtil.getDisplayDateFormat(vm.listing.sedTestingEndDay) }}</p>
      </span>
      <span>
        <h4>SED Tested Certification Criteria & Associated UCD Processes</h4>
        <table class="table table-condensed nowrap" ng-if="vm.ucdProcesses && vm.ucdProcesses.length > 0" id="sed-ucd-processes-table">
          <thead>
            <tr>
              <th scope="col">Certification Criteria</th>
              <th scope="col">UCD Process</th>
              <th scope="col">UCD Process Details</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="process in vm.ucdProcesses | orderBy: [vm.sortProcesses]">
              <td>
                <ul>
                  <li ng-class="{ 'removed' : crit.removed }" ng-repeat="crit in process.criteria | orderBy:vm.sortCert"><span ng-if="crit.removed">Removed | </span>{{ crit.number }}: {{ crit.title }} <button ng-if="crit.removed" class="btn btn-link btn-xs" uib-tooltip="This certification criterion has been removed from the Program." tooltip-trigger="'mouseenter focus click'"><span class="sr-only">This certification criterion has been removed from the Program.</span><i class="fa fa-info-circle fa-lg"></i></button></li>
                </ul>
              </td>
              <td>{{ process.name ? process.name : 'None' }}</td>
              <td>{{ process.details ? process.details : 'N/A'}}</td>
            </tr>
          </tbody>
        </table>
      </span>
    </span>
    <span ng-if="vm.isEditing">
      <chpl-sed-details-edit-wrapper-bridge
        criteria="vm.sedCriteria"
        dispatch="::vm.handleDispatch"
        listing="vm.listing"
        ucd-processes="vm.ucdProcesses"
        ></chpl-sed-details-edit-wrapper-bridge>
    </span>
    <span ng-if="vm.listing.edition === null || vm.listing.edition.name === '2015'">
      <button class="btn btn-ai pull-right" ng-if="vm.editMode" ng-click="vm.addTask()"><i class="fa fa-plus"></i> Add SED Task</button>
      <h4>SED Testing Tasks</h4>
      <table class="table table-condensed nowrap" ng-if="vm.listing.sed.testTasks && vm.listing.sed.testTasks.length > 0" id="sed-tasks-table">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Task Rating and Scale Type</th>
            <th scope="col">Certification Criteria</th>
            <th scope="col" ng-if="vm.editMode">Task ID</th>
            <th scope="col"><span class="sr-only">View details</span></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4">
              <button class="btn btn-ai-success"
                      analytics-on="click" analytics-event="Download SED Details" analytics-properties="{ category: vm.analyticsCategory, label: vm.listing.chplProductNumber }"
                      ng-click="vm.getCsv()">
                <i class="fa fa-cloud-download"></i> Download SED Details
              </button>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="task in vm.listing.sed.testTasks | orderBy: 'description' track by $index">
            <td>{{ task.description }}</td>
            <td>{{ task.taskRating }} ({{ task.taskRatingScale }})</td>
            <td>
              <ul>
                <li ng-class="{ 'removed' : crit.removed }" ng-repeat="crit in task.criteria | orderBy: vm.sortCert"><span ng-if="crit.removed">Removed | </span>{{ crit.number }}: {{ crit.title }}<button ng-if="crit.removed" class="btn btn-link btn-xs" uib-tooltip="This certification criterion has been removed from the Program." tooltip-trigger="'mouseenter focus click'"><span class="sr-only">This certification criterion has been removed from the Program.</span><i class="fa fa-info-circle fa-lg"></i></button></li>
              </ul>
            </td>
            <td ng-if="vm.editMode">{{ task.friendlyId }}</td>
            <td><button class="btn btn-ai-success" ng-click="vm.viewTask(task)"><i class="fa fa-eye"></i> Details</button></td>
          </tr>
        </tbody>
      </table>
      <p ng-if="!vm.listing.sed.testTasks || vm.listing.sed.testTasks.length === 0">No SED Tasks are recorded.</p>
    </span>
  </span>
</div>
