ul.pagination li {
    cursor: pointer;
}

.search-header {
    cursor: pointer;
}

.splash-row .jumbotron {
    background-color: inherit;
}

.jumbotron h1 {
    color: #0070c9;
}

.productHeader {
    cursor: pointer;
}

.search-row:hover>td {
    font-weight: 700;
}

.search-activate-filter {
    cursor: pointer;
}

.filter-category {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.search-inputs {
    padding-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.search-pristine {
    position: relative;
    top: 50%;
    transform: translateY(400%);
}

.search-table th {
    color: #0070c9;
}
