<div ng-controller="SearchController">
  <div class="row" ng-hide="hasResults()">
    <div class="col-md-12">
      <h1>Welcome to the CHPL</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" role="search">
        <div class="form-group form-group-lg">
          <div class="col-sm-1">
            <label for="searchField" class="control-label">Search</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" id="searchField" placeholder="Search" ng-model="searchTerm" />
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-default btn-lg" ng-click="search(searchTerm)">Search</button>
            <br /><a href="#/advanced-search">Advanced search</a>
            <span ng-show="hasResults()"><br /><a href="" ng-click="clear()">Clear results</a></span>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- search field row -->
  <div class="row" ng-show="hasResults()">
    <div class="col-md-12">
      <h2>Results</h2>
      <table st-table="displayedResults" st-safe-src="searchResults" class="table table-striped st-table">
        <thead>
          <tr>
            <th class="search-header" st-sort="vendor" st-skip-natural="true">Vendor</th>
		    <th class="search-header" st-sort="product" st-skip-natural="true" st-sort-default="true">Product</th>
            <th class="search-header" st-sort="version" st-skip-natural="true">Version</th>
		    <th class="search-header" st-sort="sorts.certs" st-skip-natural="true">Certs & CQMs</th>
            <th class="search-header" st-sort="certDate" st-skip-natural="true">Certification Date</th>
            <th><a href="" ng-click="compare()">Compare</a></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat-start="row in displayedResults">
		    <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.vendor }}</td>
		    <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.product }}</td>
		    <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.version }}</td>
		    <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.numCerts }} Certifications / {{ row.numCQMs }} CQMs</td>
		    <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.certDate | date }}</td>
            <td align="center"><input type="checkbox" id="{{ row.id }}" /></td>
	      </tr>
          <tr ng-repeat-end class="productDetails" ng-class="{ 'hidden': !showDetails}">
            <td colspan="6">
              <table class="table" width="100%">
                <thead>
                  <tr>
                    <th>Practice Type</th>
                    <th>Classification</th>
                    <th>Certifying Body</th>
                    <th>Certification Edition</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ row.practiceType }}</td>
                    <td>{{ row.classification }}</td>
                    <td>{{ row.certBody }}</td>
                    <td>{{ row.edition }}</td>
                    <td><a href="#/product/{{ row.id }}">details</a></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>
              <label for="vendor-search">Filter on Vendor</label>
              <input id="vendor-search" st-search="vendor" placeholder="filter on vendor" class="input-sm form-control" type="search" />
            </th>
            <th>
              <label for="product-search">Filter on Product</label>
              <input id="product-search" st-search="product" placeholder="filter on product" class="input-sm form-control" type="search" />
            </th>
          </tr>
          <tr>
	        <td colspan="5" class="text-center">
	          <div st-pagination st-items-by-page="10" st-displayed-pages="10"></div>
	        </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div> <!-- end of search results -->

  <div ng-hide="hasResults()">
    <div class="row">
      <div class="col-md-12">
        <h2>Other Agencies</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 1" />
        <a href="#">Other agency 1</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 2" />
        <a href="#">Other agency 2</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 3" />
        <a href="#">Other agency 3</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 4" />
        <a href="#">Other agency 4</a>
      </div>
    </div>
  </div> <!-- end of other agencies -->

</div> <!-- end controller -->
