<div ng-controller="SearchController">
  <div class="row" ng-hide="hasSearched()">
    <div class="col-md-12">
      <h1>The Authoritative listing of Certified Health Information Products</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.</p>
    </div>
  </div> <!-- search introduction 'header' -->

  <div class="row" ng-show="query.simple">
    <div class="col-xs-12">
      <form class="form-horizontal" role="search">
        <div class="form-group form-group-lg">
          <div class="col-sm-1">
            <label for="searchField" class="control-label">Search</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" id="searchField" placeholder="Search" ng-model="query.searchTerm"
                     typeahead="element as element.value + ' (' + element.type + ')' for element in lookaheadSource | filter:{value:$viewValue} | limitTo:16"
                     typeahead-input-formatter="$model.value" />
            </div>
          </div>
          <div class="col-sm-2">
            <button id="searchButton" type="button" class="btn btn-default btn-lg form-control" ng-click="search()">Search</button>
            <br /><a href="" ng-click="query.simple = !query.simple">Advanced search</a>
            <span ng-show="hasSearched()"><br /><a href="" ng-click="clear()">Clear results</a></span>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- simple search row -->

  <div class="row" ng-show="!query.simple">
    <div class="col-xs-12">
      <form class="form-horizontal" role="search">
        <div class="form-group form-group-sm">
          <div class="col-sm-1">
            <label for="vendorField" class="control-label">Vendor</label>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" id="vendorField" placeholder="Vendor" ng-model="query.vendor" />
            </div>
          </div>
          <div class="col-sm-1">
            <label for="productField" class="control-label">Product</label>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" id="productField" placeholder="Product" ng-model="query.product" />
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-default form-control" ng-click="search()">Search</button>
            <br /><a href="" ng-click="query.simple = !query.simple">Simple search</a>
            <span ng-show="hasSearched()"><br /><a href="" ng-click="clear()">Clear results</a></span>
          </div>
        </div> <!-- first row of advanced search -->

        <div class="form-group form-group-sm">
          <div class="col-sm-1">
            <label for="versionField" class="control-label">Version</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" id="versionField" placeholder="Version" ng-model="query.version" />
            </div>
          </div>
          <div class="col-sm-1">
            <label for="certField" class="control-label">Certification Criteria</label>
          </div>
          <div class="col-sm-3">
            <select id="certField" ng-model="query.certificationCriteria" multiple class="input-sm form-control">
              <option ng-repeat="cert in certs" value="{{ cert.number }}">{{ cert.number + ': ' + cert.title }}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <label for="cqmField" class="control-label">Clinical Quality Measurements</label>
          </div>
          <div class="col-sm-3">
            <select id="cqmField" ng-model="query.cqms" multiple class="input-sm form-control">
              <option ng-repeat="cqm in cqms.certs" value="{{ cqm.number }}">{{ cqm.number + ': ' + cqm.title }}</option>
            </select>
          </div>
        </div> <!-- second row of advanced -->

        <div class="form-group form-group-sm">
          <div class="col-sm-1">
            <label for="editionField" class="control-label">Certification Edition</label>
          </div>
          <div class="col-sm-3">
            <select id="editionField" ng-model="query.certificationEdition" class="input-sm form-control">
              <option ng-repeat="edition in editions" value="{{ edition.value }}">{{ edition.value }}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <label for="classificationField" class="control-label">Product Classification</label>
          </div>
          <div class="col-sm-3">
            <select id="classificationField" ng-model="query.productClassification" class="input-sm form-control">
              <option ng-repeat="classification in classifications" value="{{ classification.name }}">{{ classification.name }}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <label for="practiceField" class="control-label">Practice Type</label>
          </div>
          <div class="col-sm-3">
            <select id="practiceField" ng-model="query.practiceType" class="input-sm form-control">
              <option ng-repeat="practice in practices" value="{{ practice.name }}">{{ practice.name }}</option>
            </select>
          </div>
        </div> <!-- third row of advanced search -->

      </form>
    </div>
  </div> <!-- advanced search row -->

  <div id="resultsSection" ng-show="hasSearched()">
    <div class="row">
      <div class="col-md-12">
        <h2>Results</h2>
        <p ng-hide="hasResults()">No results found</p>
        <p ng-show="hasResults()">There are {{ resultCount }} results that match your search.</p>
      </div>
    </div>
    <div ng-show="hasResults()" class="row">
      <div ng-show="visibleFilter" class="col-md-4">
        <h3>Filter</h3>
        <a href="" ng-click="clearFilter()" class="pull-right">Clear Filter</a>

        <label for="vendor-search">Filter on Vendor</label>
        <input id="vendor-search" placeholder="filter on vendor" class="input-sm form-control" type="search" ng-model="query.vendor"/>
        <label for="product-search">Filter on Product</label>
        <input id="product-search" placeholder="filter on product" class="input-sm form-control" type="search" ng-model="query.product"/>

        <label for="edition-search">Filter on Edition</label>
        <select id="edition-search" class="input-sm form-control" ng-model="query.certificationEdition">
          <option ng-repeat="edition in editions" value="{{ edition.value }}">{{ edition.value }}</option>
        </select>

        <label for="classification-search">Filter on Classification</label>
        <select id="classification-search" class="input-sm form-control" ng-model="query.productClassification">
          <option ng-repeat="classification in classifications" value="{{ classification.name }}">{{ classification.name }}</option>
        </select>

        <label for="practiceType-search">Filter on Practice Type</label>
        <select id="practiceType-search" class="input-sm form-control" ng-model="query.practiceType">
          <option ng-repeat="practice in practices" value="{{ practice.name }}">{{ practice.name }}</option>
        </select>

        <label for="certBody-search">Filter on Certification Body</label>
        <select id="certBody-search" class="input-sm form-control" ng-model="query.certificationBody">
          <option ng-repeat="body in certBodies" value="{{ body.name }}">{{ body.name }}</option>
        </select>

        <div>
          <button class="btn btn-default btn-block" href="" ng-click="doFilter()">Filter results</button>
        </div>

        <div>
          <h3>Filter on Certifications and CQMs</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <div ng-repeat="category in certsNcqms">
                <label class="filter-category" ng-click="showCategory = !showCategory">
                  <i class="fa fa-chevron-right" ng-class="{'fa-rotate-90' : showCategory}"></i>
                  {{ category.title }}
                </label>
                <br />
                <span ng-class="{'hidden' : !showCategory}" ng-repeat="cert in category.certs">
                  <input type="checkbox" ng-model="certFilter[cert.number]" ng-change="toggleCertFilter(category.title, cert.title, cert.number); certsChanged()" id="certFilter{{ cert.number }}" />
                  <label for="certFilter{{ cert.number }}">{{ cert.number + ": " + cert.title }}</label>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="visibleFilter ? 'col-md-8' : 'col-md-12'">
        <span class="search-activate-filter" ng-click="visibleFilter = !visibleFilter"><i class="fa fa-2x fa-angle-double-right" ng-class="{ 'fa-flip-horizontal' : visibleFilter }"></i>
          {{ visibleFilter ? 'Hide' : 'Show'}}  Filter
        </span>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" ng-click="sort('vendor')"
                  ng-class="{'sort-ascent': query.orderBy==='vendor' && !query.sortDescending, 'sort-descent': query.orderBy==='vendor' && query.sortDescending}">Vendor</th>
		      <th class="search-header" ng-click="sort('product')"
                  ng-class="{'sort-ascent': query.orderBy==='product' && !query.sortDescending, 'sort-descent': query.orderBy==='product' && query.sortDescending}">Product</th>
              <th class="">Version</th>
		      <th class="">Certs & CQMs</th>
              <th class="search-header" ng-click="sort('certificationDate')"
                  ng-class="{'sort-ascent': query.orderBy==='certificationDate' && !query.sortDescending, 'sort-descent': query.orderBy==='certificationDate' && query.sortDescending}">Certification Date</th>
              <th><a href="" ng-click="compare()">Compare</a></th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat-start="row in displayedResults">
		      <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.vendor.name }}</td>
		      <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.product.name }}</td>
		      <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.product.version }}</td>
		      <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.countCerts }} Certifications / {{ row.countCqms }} CQMs</td>
		      <td class="productHeader" ng-click="showDetails = !showDetails">{{ row.certificationDate.split(' ')[0] | date }}</td>
              <td align="center">
                <input type="checkbox" ng-click="toggleCompareId(row.id)" ng-model="compareBoxes[row.id]" id="compareBoxes{{ row.id }}"/>
                <label class="sr-only" for="compareBoxes{{ row.id }}">Select to compare</label>
                <span class="sr-only"><a href="" ng-click="showDetails = !showDetails">Show Details</a></span>
              </td>
	        </tr>
            <tr ng-repeat-end class="productDetails" ng-class="{ 'hidden': !showDetails}">
              <td colspan="6">
                <table class="table" width="100%">
                  <thead>
                    <tr>
                      <th>Practice Type</th>
                      <th>Classification</th>
                      <th>Certifying Body</th>
                      <th>Certification Edition</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ row.practiceType.name }}</td>
                      <td>{{ row.classificationType.name }}</td>
                      <td>{{ row.certifyingBody.name }}</td>
                      <td>{{ row.certificationEdition.name }}</td>
                      <td><a href="#/product/{{ row.id }}">details</a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
	          <td colspan="6" class="text-center">
                <pagination total-items="resultCount" ng-model="query.currentPage" items-per-page="query.resultsPerPage" ng-change="pageChanged()"
                            max-size="10" class="pagination-sm" boundary-links="true"></pagination>
	          </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div> <!-- end of search results -->

  <div ng-hide="hasSearched()">
    <div class="row">
      <div class="col-md-12">
        <h2>How the CHPL works</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        Infographic here
      </div>
    </div>
  </div> <!-- end of other agencies -->

  <div ng-hide="hasSearched()">
    <div class="row">
      <div class="col-md-12">
        <h2>Other Agencies</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 1" />
        <a href="#">Other agency 1</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 2" />
        <a href="#">Other agency 2</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 3" />
        <a href="#">Other agency 3</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="" width="100px" height="100px" alt="Other agency 4" />
        <a href="#">Other agency 4</a>
      </div>
    </div>
  </div> <!-- end of other agencies -->

</div> <!-- end controller -->
