<div ng-controller="SearchController as vm" ng-class="{'search-unsearched': !vm.activeSearch && vm.searchForm.$pristine }">
  <div class="container-fluid">
    <div class="row" ng-if="vm.activeSearch || vm.searchForm.$dirty">
      <div class="col-sm-12">
        <h1>Search</h1>
      </div>
    </div>
    <div class="form-horizontal search-inputs" ng-form="vm.searchForm" ng-submit="vm.search()" aria-live="polite">
      <div class="form-group form-group-lg">
        <div ng-class="{'col-sm-8 col-sm-offset-2 search-pristine': !vm.activeSearch && vm.searchForm.$pristine, 'col-sm-4': vm.activeSearch || vm.searchForm.$dirty}">
          <label for="searchField" class="control-label sr-only">Search by Developer, Product, or ACB/CHPL ID</label>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="searchField" placeholder="Search by Developer, Product, or ACB/CHPL ID" ng-model="vm.query.searchTermObject"
                   ng-keyup="$event.keyCode === 13 && vm.search()"
                   typeahead="element as element.value + ' (' + element.type + ')' for element in vm.lookaheadSource.all | filter:vm.certificationStatusFilter | filter:{value:$viewValue} | limitTo:16"
                   typeahead-focus-first="false"
                   typeahead-input-formatter="$model.value" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-ai" ng-click="vm.search()"><i class="fa fa-search"></i><span class="sr-only">Search</span></button>
            </span>
          </div>
          <a href ng-if="vm.hasDoneASearch && !vm.activeSearch" class="restore-previous-search" ng-click="vm.reloadResults()">Restore previous search</a>
        </div>
        <div class="col-sm-8" ng-if="vm.activeSearch || vm.searchForm.$dirty">
          <div class=".btn-group.btn-group-justified">
            <div dropdown auto-close="outsideClick" class="btn-group">
              <button class="btn btn-lg btn-ai dropdown-toggle" type="button" id="filter-status-button" dropdown-toggle aria-haspopup="true" aria-expanded="true">
                Certification Status <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu" aria-labeledby="filter-status-button">
                <li ng-repeat="status in vm.certificationStatuses | orderBy:'name'">
                  <label for="filter-status-{{ status.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.certificationStatus[status.name]" id="filter-status-{{ status.name }}">
                    {{ status.name }}
                  </label>
                </li>
              </ul>
            </div>
            <div dropdown auto-close="outsideClick" class="btn-group">
              <button class="btn btn-lg btn-ai dropdown-toggle" type="button" id="filter-edition-button" dropdown-toggle aria-haspopup="true" aria-expanded="true">
                Certification Edition <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu" aria-labeledby="filter-edition-button">
                <li ng-repeat="edition in vm.editions | orderBy:'name'">
                  <label for="filter-edition-{{ edition.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.certificationEdition[edition.name]" id="filter-edition-{{ edition.name }}">
                    {{ edition.name }}
                  </label>
                </li>
              </ul>
            </div>
            <div dropdown auto-close="outsideClick" class="btn-group">
              <button class="btn btn-lg btn-ai dropdown-toggle" type="button" id="filter-criteria-button" dropdown-toggle aria-haspopup="true" aria-expanded="true">
                Certification Criteria <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-large" aria-labeledby="filter-criteria-button">
                <li>
                  <a href ng-click="vm.show2011 = !vm.show2011">
                    <i class="fa" ng-class="vm.show2011 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2011 ? 'Hide' : 'View' }} 2011 Certification Criteria
                  </a>
                </li>
                <li ng-repeat="criteria in vm.certs | orderBy:'name'" ng-if="vm.show2011 && criteria.name.substring(4,7) !== '314' && criteria.name.substring(4,7) !== '315'">
                  <label for="filter-criteria-{{ criteria.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.certificationCriteria[criteria.name]" id="filter-criteria-{{ criteria.name }}">
                    {{ criteria.name + ': ' + criteria.title }}
                  </label>
                </li>
                <li>
                  <a href ng-click="vm.show2014 = !vm.show2014">
                    <i class="fa" ng-class="vm.show2014 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2014 ? 'Hide' : 'View' }} 2014 Certification Criteria
                  </a>
                </li>
                <li ng-repeat="criteria in vm.certs | orderBy:'name'" ng-if="vm.show2014 && criteria.name.substring(4,7) === '314'">
                  <label for="filter-criteria-{{ criteria.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.certificationCriteria[criteria.name]" id="filter-criteria-{{ criteria.name }}">
                    {{ criteria.name + ': ' + criteria.title }}
                  </label>
                </li>
                <li>
                  <a href ng-click="vm.show2015 = !vm.show2015">
                    <i class="fa" ng-class="vm.show2015 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2015 ? 'Hide' : 'View' }} 2015 Certification Criteria
                  </a>
                </li>
                <li ng-repeat="criteria in vm.certs | orderBy:'name'" ng-if="vm.show2015 && criteria.name.substring(4,7) === '315'">
                  <label for="filter-criteria-{{ criteria.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.certificationCriteria[criteria.name]" id="filter-criteria-{{ criteria.name }}">
                    {{ criteria.name + ': ' + criteria.title }}
                  </label>
                </li>
              </ul>
            </div>
            <div dropdown auto-close="outsideClick" class="btn-group">
              <button class="btn btn-lg btn-ai dropdown-toggle" type="button" id="filter-more-button" dropdown-toggle aria-haspopup="true" aria-expanded="true">
                More <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-large" aria-labeledby="filter-more-button">
                <li>
                  <a href ng-click="vm.showCqms = !vm.showCqms">
                    <i class="fa" ng-class="vm.showCqms ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.showCqms ? 'Hide' : 'View' }} Clinical Quality Measures
                  </a>
                </li>
                <li ng-repeat="cqm in vm.cqms | orderBy:'name'" ng-if="vm.showCqms">
                  <label for="filter-cqm-{{ cqm.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.cqms[cqm.name]" id="filter-cqm-{{ cqm.name }}">
                    {{ prepend(cqm.name) + ': ' + cqm.title }}
                  </label>
                </li>
                <li class="divider"></li>
                <li>ONC-ACB</li>
                <li ng-repeat="acb in vm.certBodies | orderBy:'name'">
                  <label for="filter-acb-{{ acb.name }}">
                    <input type="checkbox" ng-model="vm.refineModel.acb[acb.name]" id="filter-acb-{{ acb.name }}">
                    {{ acb.name }}
                  </label>
                </li>
                <li>Non-Conformities</li>
                <li>
                  <label for="filter-cap-open">
                    <input type="checkbox" ng-model="vm.refineModel.hasCap.open" id="filter-cap-open">
                    Open
                  </label>
                </li>
                <li>
                  <label for="filter-cap-closed">
                    <input type="checkbox" ng-model="vm.refineModel.hasCap.closed" id="filter-cap-closed">
                    Closed
                  </label>
                </li>
                <li>
                  <label for="filter-cap-never">
                    <input type="checkbox" ng-model="vm.refineModel.hasCap.never" id="filter-cap-never">
                    Never had a Non-Conformity
                  </label>
                </li>
                <li>Practice Type</li>
                <li>
                  <label for="filter-practiceType-ambulatory">
                    <input type="radio" ng-model="vm.refineModel.practiceType" id="filter-practiceType-ambulatory" value="Ambulatory">
                    Ambulatory
                  </label>
                </li>
                <li>
                  <label for="filter-practiceType-inpatient">
                    <input type="radio" ng-model="vm.refineModel.practiceType" id="filter-practiceType-inpatient" value="Inpatient">
                    Inpatient
                  </label>
                </li>
                <li class="form-horizontal">
                  <label for="developerRefine" class="col-sm-4 control-label">Developer</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="developerRefine" placeholder="Developer" ng-model="vm.refineModel.developer"
                           typeahead="element as element.value + ' (' + element.type + ')' for element in vm.lookaheadSource.developers | filter:vm.certificationStatusFilter | filter:{value:$viewValue} | limitTo:16"
                           typeahead-focus-first="false"
                           typeahead-input-formatter="$model.value" />
                  </div>
                </li>
                <li class="form-horizontal">
                  <label for="productRefine" class="col-sm-4 control-label">Product</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="productRefine" placeholder="Product" ng-model="vm.refineModel.product"
                           typeahead="element as element.value + ' (' + element.type + ')' for element in vm.lookaheadSource.products | filter:vm.certificationStatusFilter | filter:{value:$viewValue} | limitTo:16"
                           typeahead-focus-first="false"
                           typeahead-input-formatter="$model.value" />
                  </div>
                </li>
                <li class="form-horizontal">
                  <label for="versionRefine" class="col-sm-4 control-label">Version</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="versionRefine" placeholder="Version" ng-model="vm.refineModel.version" />
                  </div>
                </li>
              </ul>
            </div>
            <button class="btn btn-lg btn-ai" type="button" ng-click="vm.search()">
              Apply filters
            </button>
          </div>
        </div>
      </div>
    </div>

    <div aria-live="polite" id="mainContent" tabindex="-1">
      <div id="resultsSection" ng-if="hasSearched()" class="main-content">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <span class="pull-right">
                  <a href="" ng-click="browseAll()">Browse all</a> | <a href="" ng-click="vm.clearFilters()">Clear filters</a>
                </span>
                <p ng-if="!hasResults()">No results found.</p>
                <p ng-if="hasResults()">
                  {{ vm.resultCount }} results found.
                </p>
                Please note that Retired listings are not shown by default. Use the Certification Status filter above to display retired listings.
              </div>
            </div>
            <div ng-if="hasResults()" class="row">
              <div class="col-md-12">
                <table class="table search-table table-striped">
                  <thead>
                    <tr>
                      <td colspan="8" class="text-center">
                        <p class="pull-right">
                          <label for="pageSizeTop" class="sr-only">Show how many results</label>
                          Showing up to
                          <select ng-model="vm.query.pageSize" id="pageSizeTop" ng-change="vm.search()">
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                          </select>
                          results per page
                        </p>
                        <pagination total-items="vm.resultCount" ng-model="visiblePage" items-per-page="vm.query.pageSize" ng-change="pageChanged(visiblePage)"
                                    max-size="10" class="pagination-sm" boundary-links="true"></pagination>
                      </td>
                    </tr>
                    <tr>
		              <th scope="col" class="search-header" ng-click="sort('product')"><span ng-class="{'sort-ascent': vm.query.orderBy==='product' && !vm.query.sortDescending, 'sort-descent': vm.query.orderBy==='product' && vm.query.sortDescending, 'sort-none': vm.query.orderBy !== 'product'}">Product Name</span> <a class="sr-only sr-only-focusable" href ng-click="sort('product')"><br />Sort by product</a></th>
                      <th scope="col" class="search-header" ng-click="sort('developer')"><span ng-class="{'sort-ascent': vm.query.orderBy==='developer' && !vm.query.sortDescending, 'sort-descent': vm.query.orderBy==='developer' && vm.query.sortDescending, 'sort-none': vm.query.orderBy !== 'developer'}">Developer</span> <a class="sr-only sr-only-focusable" href ng-click="sort('developer')"><br />Sort by developer</a></th>
                      <th scope="col" class="search-header" ng-click="sort('certificationEdition')"><span ng-class="{'sort-ascent': vm.query.orderBy==='certificationEdition' && !vm.query.sortDescending, 'sort-descent': vm.query.orderBy==='certificationEdition' && vm.query.sortDescending, 'sort-none': vm.query.orderBy !== 'certificationEdition'}">Edition</span> <a class="sr-only sr-only-focusable" href ng-click="sort('certificationEdition')"><br />Sort by certification edition</a></th>
                      <th scope="col" class="search-header" ng-click="sort('version')" ng-if="vm.refine.product"><span ng-class="{'sort-ascent': vm.query.orderBy==='version' && !vm.query.sortDescending, 'sort-descent': vm.query.orderBy==='version' && vm.query.sortDescending, 'sort-none': vm.query.orderBy !== 'version'}">Version</span> <a class="sr-only sr-only-focusable" href ng-click="sort('version')"><br />Sort by version</a></th>
                      <th scope="col" class="" ng-if="!vm.refine.product">Version</th>
                      <th scope="col" class="">Status</th>
                      <th scope="col" colspan="3"><span class="sr-only">Actions</span></th>
	                </tr>
	              </thead>
                  <tfoot>
                    <tr>
                      <td colspan="8" class="text-center">
                        <p class="pull-right">
                          <label for="pageSizeBottom" class="sr-only">Show how many results</label>
                          Showing up to
                          <select ng-model="vm.query.pageSize" id="pageSizeBottom" ng-change="vm.search()">
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                          </select>
                          results per page
                        </p>
                        <pagination total-items="vm.resultCount" ng-model="visiblePage" items-per-page="vm.query.pageSize" ng-change="pageChanged(visiblePage)"
                                    max-size="10" class="pagination-sm" boundary-links="true"></pagination>
                      </td>
                    </tr>
                  </tfoot>
	              <tbody>
	                <tr ng-repeat="row in displayedResults" class="search-row">
                      <td>{{ row.product.name }}</td>
                      <td>{{ row.developer.name }}</td>
                      <td>{{ row.certificationEdition.name }}</td>
                      <td>{{ row.product.version }}</td>
                      <td><a href tooltip="{{ row.certificationStatus.name }}" tooltip-trigger="mouseenter focus click"><span class="sr-only">{{ row.certificationStatus.name }}</span><i class="fa" ng-class="vm.statusFont(row.certificationStatus.name)"></i></a></td>
                      <td>
                        <button href class="btn btn-primary btn-sm" ng-click="vm.viewProduct(row)"><i class="fa fa-ellipsis-h"></i> Details<span class="sr-only"> for {{ row.product.name }}</span></button>
                      </td>
                      <td>
                        <button href class="btn btn-ai-success btn-sm" ng-click="vm.toggleCompare(row)"><i class="fa fa-plus"></i> <span class="sr-only">Add {{ row.product.name}} to </span>Compare</button>
                      </td>
                      <td>
                        <div ng-switch on="vm.widget.isProductInCart(row.id)">
                          <div ng-switch-when="true">
                            <button href class="btn btn-ai-certid btn-sm btn-ai-certid-toggleon" ng-click="vm.toggleCart(row)">
                              <i class="fa fa-minus"></i> <span class="sr-only">Remove {{row.product.name}} from </span>Cert ID
                            </button>
                          </div>
                          <div ng-switch-default>
                            <button href class="btn btn-ai-certid btn-sm" ng-click="vm.toggleCart(row)">
                              <i class="fa fa-plus"></i> <span class="sr-only">Add {{row.product.name}} to </span>Cert ID
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <accordion close-others="false">
              <accordion-group class="panel-ai panel-widget-certid" is-open="vm.boxes.certificationId" aria-expanded="{{ vm.boxes.certificationId }}" template-url="common/templates/accordion.html">
                <accordion-heading aria-expanded="{{ vm.boxes.certificationId }}">
                  CMS EHR Certification ID
                </accordion-heading>
                <div ng-include="'search/certid.html'" ng-controller="CertIdController" ></div>
              </accordion-group>
              <accordion-group class="panel-ai" is-open="vm.boxes.compare" aria-expanded="{{ vm.boxes.compare }}" template-url="common/templates/accordion.html">
                <accordion-heading aria-expanded="{{ vm.boxes.compare }}">
                  Compare <span ng-if="vm.compareCps.length >= 2">{{ vm.compareCps.length }}</span> products <span ng-if="vm.compareCps.length < 2">(minimum 2)</span>
                </accordion-heading>
                <button href class="btn btn-ai-grey btn-sm btn-block" ng-repeat="cp in vm.compareCps" ng-click="vm.toggleCompare(cp)" ng-bind-html="vm.truncButton(cp.product.name)" title="{{ cp.product.name }}"></button>
                <button href class="btn btn-ai-success btn-sm btn-block" ng-click="vm.compare()" ng-disabled="vm.compareCps.length <= 1">Compare</button>
              </accordion-group>
              <accordion-group class="panel-ai" is-open="vm.boxes.prevComp" aria-expanded="{{ vm.boxes.prevComp }}" template-url="common/templates/accordion.html"
                               heading="Previous {{ vm.previouslyCompared.length }} products compared">
                <ul class="list-unstyled text-left">
                  <li ng-repeat="cp in vm.previouslyCompared | orderBy:'product.name'"><a href="" ng-click="vm.toggleCompare(cp)">{{ cp.product.name }}</a></li>
                </ul>
                <button class="btn btn-ai-success btn-sm btn-block" ng-click="vm.clearPreviouslyCompared()">Clear</button>
              </accordion-group>
              <accordion-group class="panel-ai" is-open="vm.boxes.prevView" aria-expanded="{{ vm.boxes.prevView }}" template-url="common/templates/accordion.html"
                               heading="Previous {{ vm.previouslyViewed.length }} products viewed">
                <ul class="list-unstyled text-left">
                  <li ng-repeat="cp in vm.previouslyViewed | orderBy:'product.name'"><a href="" ng-click="vm.viewProduct(cp)">{{ cp.product.name }}</a></li>
                </ul>
                <button class="btn btn-ai-success btn-sm btn-block" ng-click="vm.clearPreviouslyViewed()">Clear</button>
              </accordion-group>
            </accordion>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Certification Status</th>
                  <th scope="col"><span class="sr-only">Icon</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="status in vm.certificationStatuses | orderBy:'name'">
                  <td>{{ status.name }}</td>
                  <td><i class="fa" ng-class="vm.statusFont(status.name)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- end of search results -->
    </div>
  </div>
</div> <!-- end controller -->
