.sort-ascent:after {
    content: "\f0d8";
    font-family: FontAwesome;
    padding: 0 6px;
    font-size: large;
}

.sort-descent:after {
    content: "\f0d7";
    font-family: FontAwesome;
    padding: 0 6px;
    font-size: large;
}

ul.pagination li {
    cursor: pointer;
}

.search-header {
    cursor: pointer;
}

.productHeader {
    cursor: pointer;
}

.search-activate-filter {
    cursor: pointer;
}

.productDetails td:last-child table td:last-child {
    vertical-align: middle;
    text-align: right;
}

.filter-category {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.search-header {
    border: 2px solid #e1e1e1;
}

.search-inputs {
    padding-top: 15px;
    background: #e1e1e1;
}
