<div role="modal" aria-labeled-by="modalLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalLabel">Certification Criteria: {{ vm.cert.number }}</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <input type="checkbox" ng-model="vm.cert.success" id="data{{ vm.cert.number }}" name="data"></input>
    <label class="control-label" for="data{{ vm.cert.number }}">{{ vm.cert.number }}: {{ vm.cert.title }}</label>
    <div ng-if="vm.cert.success">
      <input type="checkbox" ng-model="vm.cert.metViaAdditionalSoftware" id="data_additionalSoftware{{ vm.cert.number }}" name="data_additionalSoftware"></input>
      <label class="control-label" for="data_additionalSoftware{{ vm.cert.number }}">Certification met via relied upon software</label>
      <ai-additional-software additional-software="vm.cert.additionalSoftware" is-editing="true" ng-if="vm.cert.metViaAdditionalSoftware"></ai-additional-software>
    </div>

    <!--This table is displayed if the criteria is NOT attested to-->
    <table class="table table-striped" ng-if="!vm.cert.success && (vm.cert.g1Success !== null || vm.cert.g1MacraMeasures || vm.cert.g2Success !== null || vm.cert.g2MacraMeasures)">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-if="vm.cert.g1Success !== null">
            <td><label class="control-label" for="data_g1Success{{ vm.cert.number }}">Measure Successfully Tested for G1</label></td>
            <td><select class="form-control input-sm" id="data_g1Success{{ vm.cert.number }}" name="data_g1Success" ng_model="vm.cert.g1Success" ng-options="b.value as b.name for b in vm.options"></select></td>
          </tr>
          <tr ng-if="vm.cert.g1MacraMeasures">
            <td><label class="control-label" for="data_g1MacraMeasures{{ vm.cert.number }}">Measure<span ng-if="vm.cert.g1MacraMeasures.length !== 1">s</span> Successfully Tested for G1</label></td>
            <td>
              <select multiple data-ng-attr-size="{{ vm.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g1MacraMeasures{{ vm.cert.number }}" name="data_g1MacraMeasures" ng_model="vm.cert.g1MacraMeasures" ng-options="m as m.abbreviation for m in vm.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select></td>
          </tr>
          <tr ng-if="vm.cert.g2Success !== null">
            <td><label class="control-label" for="data_g2Success{{ vm.cert.number }}">Measure Successfully Tested for G2</label></td>
            <td><select class="form-control input-sm" id="data_g2Success{{ vm.cert.number }}" name="data_g2Success" ng_model="vm.cert.g2Success" ng-options="b.value as b.name for b in vm.options"></select></td>
          </tr>
          <tr ng-if="vm.cert.g2MacraMeasures">
            <td><label class="control-label" for="data_g2MacraMeasures{{ vm.cert.number }}">Measure<span ng-if="vm.cert.g2MacraMeasures.length !== 1">s</span> Successfully Tested for G2</label></td>
            <td><select multiple data-ng-attr-size="{{ vm.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g2MacraMeasures{{ vm.cert.number }}" name="data_g2MacraMeasures" ng_model="vm.cert.g2MacraMeasures" ng-options="m as m.abbreviation for m in vm.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select></td>
          </tr>
      </tbody>
    </table>

    <!--This table is displayed if the criteria is attested to-->
    <table class="table table-striped" ng-if="vm.cert.success">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="vm.cert.gap !== null">
          <td><label class="control-label" for="data_gap{{ vm.cert.number }}">GAP</label></td>
          <td><select class="form-control input-sm" id="data_gap{{ vm.cert.number }}" name="data_gap" ng_model="vm.cert.gap" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr ng-if="vm.cert.testStandards !== null">
          <td>Standard</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testTool{{ item.id }}">Test Standard</label>
                <div class="col-sm-6">
                  <ai-multiselect 
                    identifier="testStandard"  
                    item-key="id" 
                    item-text="name" 
                    items="vm.resources.testStandards.data"
                    selected-item-keys="vm.selectedTestStandardKeys"
                    placeholder="Select a Test Standard"
                    on-change="vm.testStandardOnChange"
                    add-items="true"
                    add-items-option-text="Add a new Test Standard"
                    add-items-placeholder="Enter new Test Standard">
                  </ai-multiselect>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.g1Success !== null">
          <td><label class="control-label" for="data_g1Success{{ vm.cert.number }}">Measure Successfully Tested for G1</label></td>
          <td><select class="form-control input-sm" id="data_g1Success{{ vm.cert.number }}" name="data_g1Success" ng_model="vm.cert.g1Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr ng-if="vm.cert.g1MacraMeasures">
          <td><label class="control-label" for="data_g1MacraMeasures{{ vm.cert.number }}">Measure<span ng-if="vm.cert.g1MacraMeasures.length !== 1">s</span> Successfully Tested for G1</label></td>
          <td>
            <select multiple data-ng-attr-size="{{ vm.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g1MacraMeasures{{ vm.cert.number }}" name="data_g1MacraMeasures" ng_model="vm.cert.g1MacraMeasures" ng-options="m as m.abbreviation for m in vm.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select></td>
        </tr>
        <tr ng-if="vm.cert.g2Success !== null">
          <td><label class="control-label" for="data_g2Success{{ vm.cert.number }}">Measure Successfully Tested for G2</label></td>
          <td><select class="form-control input-sm" id="data_g2Success{{ vm.cert.number }}" name="data_g2Success" ng_model="vm.cert.g2Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr ng-if="vm.cert.g2MacraMeasures">
          <td><label class="control-label" for="data_g2MacraMeasures{{ vm.cert.number }}">Measure<span ng-if="vm.cert.g2MacraMeasures.length !== 1">s</span> Successfully Tested for G2</label></td>
          <td><select multiple data-ng-attr-size="{{ vm.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g2MacraMeasures{{ vm.cert.number }}" name="data_g2MacraMeasures" ng_model="vm.cert.g2MacraMeasures" ng-options="m as m.abbreviation for m in vm.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select></td>
        </tr>
        <tr ng-if="vm.cert.testFunctionality !== null">
          <td>Functionality Tested</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="functionalityTested{{ item.id }}">Functionality Tested</label>
                <div class="col-sm-6">
                  <ai-multiselect 
                    identifier="testFunctionality"  
                    item-key="id" 
                    item-text="name" 
                    items="vm.cert.allowedTestFunctionalities"
                    selected-item-keys="vm.selectedTestFunctionalityKeys"
                    placeholder="Select a Test Functionality"
                    on-change="vm.testFunctionalityOnChnage">
                  </ai-multiselect>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.testProcedures !== null">
          <td>Test procedure</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testProcedures">Test Procedure</label>
                <div class="col-sm-6">
                  <ai-multiselect 
                    identifier="testProcedures"  
                    item-key="id" 
                    item-text="name" 
                    items="vm.availableTestProcedures"
                    selected-item-keys="vm.selectedTestProcedureKeys"
                    placeholder="Select a Test Procedure"
                    on-change="vm.testProceduresOnChange"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="false">
                  </ai-multiselect>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.testToolsUsed !== null">
          <td>Test tool</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testTool{{ item.id }}">Test Tool</label>
                <div class="col-sm-6">
                  <ai-multiselect   
                    identifier="testTools"  
                    item-key="id" 
                    item-text="name" 
                    items="vm.resources.testTools.data"
                    item-disabled="vm.isTestToolDisabled"
                    selected-item-keys="vm.selectedTestToolKeys"
                    placeholder="Select a Test Tool"
                    on-change="vm.testToolsOnChange"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="true">
                  </ai-multiselect>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.testDataUsed !== null && vm.availableTestData && vm.availableTestData.length > 0">
          <td>Test data</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testData">Test Data</label>
                <div class="col-sm-6">
                  <ai-multiselect   
                    identifier="testData"  
                    item-key="id" 
                    item-text="name" 
                    items="vm.availableTestData"
                    selected-item-keys="vm.selectedTestDataKeys"
                    placeholder="Select Test Data"
                    on-change="vm.testDataOnChange"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="true"
                    additional-input2="true"
                    additional-input2-label="Alteration"
                    additional-input2-max-length="50"
                    additional-input2-required="false">
                  </ai-multiselect>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.apiDocumentation !== null">
          <td><label class="control-label" for="data_api{{ vm.cert.number }}">API Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_api{{ vm.cert.number }}" name="data_apiDocumentation" ng-model="vm.cert.apiDocumentation" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="vm.editForm.data_apiDocumentation.$error.maxlength">Field is too long</div>
          </td>
        </tr>
        <tr ng-if="vm.cert.privacySecurityFramework !== null">
          <td><label class="control-label" for="data_psFramework{{ vm.cert.number }}">Privacy &amp; Security Framework</label></td>
          <td><select class="form-control input-sm" id="data_psFramework{{ vm.cert.number }}" name="data_psFramework" ng_model="vm.cert.privacySecurityFramework">
              <option value="Approach 1">Approach 1</option>
              <option value="Approach 2">Approach 2</option>
              <option value="Approach 1;Approach 2">Approach 1;Approach 2</option>
          </select></td>
        </tr>
        <tr ng-if="vm.cert.sed !== null">
          <td><label class="control-label" for="data_sed{{ vm.cert.number }}">SED</label></td>
          <td>
            <select class="form-control input-sm" id="data_sed{{ vm.cert.number }}" name="data_sed" ng_model="vm.cert.sed" ng-options="b.value as b.name for b in vm.options" ng-disabled="vm.cert.certificationEdition.name === '2015'"></select>
            <div class="text-warning" ng-if="((vm.editForm.data.$dirty && vm.cert.success) || vm.editForm.data_sed.$dirty) && vm.cert.sed">Use the "Safety Enhanced Design (SED)" panel to edit SED information for this Criteria.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-ai-success btn-block" ng-click="vm.save()">Save Certification Criteria</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
