<div role="modal" aria-labeled-by="editCertifiedProductLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editCertifiedProductLabel">Edit Certified Product</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <div ng-if="vm.idFields" class="form-inline">
      <span class="form-control-static">
        <strong>CHPL Product Number:</strong>{{ vm.idFields.prefix }}
      </span>
      <div class="form-group">
        <label for="idProd" class="sr-only">Product Code:</label>
        <input type="text" id="idProd" name="idProd" ng-model="vm.idFields.prod" size="4" ng-pattern="/^[A-Za-z0-9_]*$/" required></input>
        <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.editForm.idProd.$touched) && vm.editForm.idProd.$error.required">Field is required</span>
        <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.editForm.idProd.$touched) && !vm.editForm.idProd.$error.required && !vm.editForm.idProd.$valid">Must consist of letters, numbers and/or "_"</span>
      </div>
      <div class="form-group">
        <label for="idVer" class="sr-only">Version Code:</label>
        <input type="text" id="idVer" name="idVer" ng-model="vm.idFields.ver" size="2" ng-pattern="/^[A-Za-z0-9_]*$/" required></input>
        <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.editForm.idVer.$touched) && vm.editForm.idVer.$error.required">Field is required</span>
        <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.editForm.idVer.$touched) && !vm.editForm.idVer.$error.required && !vm.editForm.idVer.$valid">Must consist of letters, numbers and/or "_"</span>
      </div>
      <div class="form-group">
        <label for="idIcs" class="sr-only">ICS Code:</label>
        <input type="text" id="idIcs" name="idIcs" ng-model="vm.idFields.ics" size="1" ng-pattern="/^[0-9]*$/" required></input>
        <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.editForm.idIcs.$touched) && vm.editForm.idIcs.$error.required">Field is required</span>
        <span class="text-danger form-control-static" ng-if="(vm.showFormErrors || vm.editForm.idIcs.$touched) && !vm.editForm.idIcs.$error.required && !vm.editForm.idIcs.$valid">Must consist of numbers only</span>
      </div>
      <span class="form-control-static">
        {{ vm.idFields.suffix }}
      </span>
    </div>
    <div ng-if="!vm.idFields">
      <strong>CHPL Product Number:</strong> {{ vm.cp.chplProductNumber }}
    </div>
    <div class="form-group">
      <label for="cpPractice">Practice Type</label>
      <select class="input-sm form-control" ng-model="vm.cp.practiceType" id="cpPractice" name="cpPractice"
              ng-options="practice as practice.name for practice in vm.practices" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpPractice.$touched) && vm.editForm.cpPractice.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="cpClassification">Classification Type</label>
      <select class="input-sm form-control" ng-model="vm.cp.classificationType" id="cpClassification" name="cpClassification"
              ng-options="classification as classification.name for classification in vm.classifications" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpClassification.$touched) && vm.editForm.cpClassification.$error.required">Field is required</div>
    </div>
    <strong>Certification Edition:</strong> {{ vm.cp.certificationEdition.name }} <br />
    <div ng-if="(vm.isAcbAdmin || vm.isAcbStaff) && !vm.isChplAdmin"><strong>Certification Body:</strong> {{ vm.cp.certifyingBody.name }} </div>
    <div ng-if="vm.isChplAdmin" class="form-group">
      <label for="cpBody">Certification Body</label>
      <select class="input-sm form-control" ng-model="vm.cp.certifyingBody" id="cpBody" name="cpBody"
              ng-options="body as body.name for body in vm.bodies" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpBody.$touched) && vm.editForm.cpBody.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="cpCertDate">Certification Date</label>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="vm.cp.certDate" is-open="vm.cp.certDatePicker" close-text="Close" id="cpCertDate" name="cpCertDate" ng-model-options="{ timezone: 'UTC' }" required>
        <span class="input-group-btn">
          <button type="button" class="btn btn-ai btn-sm" ng-click="vm.cp.certDatePicker = true"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpCertDate.$touched) && vm.editForm.cpCertDate.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpCertDate.$touched) && vm.editForm.cpCertDate.$error.date">Improper format (mm/dd/yyyy)</div>
    </div>
    <div class="form-group">
      <label for="cpAdditionalSoftware">Product wide Additional Software</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.productAdditionalSoftware" id="cpAdditionalSoftware"></input>
    </div>
    <div class="form-group">
      <label for="cpStatus">Status</label>
      <select class="input-sm form-control" ng-model="vm.cp.certificationStatus" id="cpStatus"
              ng-options="status as status.name disable when vm.disabledStatus(status.name) for status in vm.statuses | orderBy:'name'" required>
      </select>
      <div class="text-danger" ng-if="vm.willCauseSuspension(vm.cp.certificationStatus.name)">Setting this product to this status will cause the developer to be marked as Suspended by ONC</div>
      <div class="text-danger" ng-if="vm.cp.certificationStatus.name ==='Withdrawn by Developer'">Be sure this product is not under surveillance or soon to be under surveillance, otherwise use the status "Withdrawn by Developer Under Surveillance/Review"</div>
    </div>
    <div class="form-group">
      <label for="cpAcbCertId">ACB Certification Id</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.acbCertificationId" id="cpAcbCertId"></input>
    </div>
    <div class="form-group">
      <label for="cpOtherAcb">Other ACB</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.otherAcb" id="cpOtherAcb"></input>
    </div>
    <div class="form-group">
      <label for="cpTransparencyUrl">Mandatory Disclosures URL</label>
      <input class="input-sm form-control" type="url" ng-model="vm.cp.transparencyAttestationUrl" id="cpTransparencyAttUrl" name="cpTransparencyAttUrl"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpTransparencyAttUrl.$touched) && vm.editForm.cpTransparencyAttUrl.$error.url">Improper format (http://www.example.com)</div>
    </div>
    <div class="form-group">
      <label for="cpIcs">Inherited Certification Status</label>
      <input class="" type="checkbox" ng-model="vm.cp.ics" id="cpIcs"></input>
    </div>
    <div>
      QMS Testing
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="qms in vm.cp.qmsStandards track by $index">
          <label class="col-sm-6 control-label" for="qmsStandard{{ qms.id }}">QMS Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="qms.qmsStandardName" id="qmsStandard{{ qms.id }}"
                      ng-options="option.name as option.name for option in vm.qmsStandards.data | orderBy:'name'"
                      ng-change="qms.qmsStandardId = option.id">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.qmsStandards.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="qmsModification{{ qms.id }}">QMS Modification</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="qms.qmsModification" id="qmsModification{{ qms.id }}"></input>
          </div>
          <label class="col-sm-6 control-label" for="qmsApplicableCriteria{{ qms.id }}">QMS Applicable Criteria</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="qms.applicableCriteria" id="qmsApplicableCriteria{{ qms.id }}"></input>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="newQmsStandardItem">New QMS Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newQmsStandard.qmsStandardName" id="newQmsStandardItem"
                      ng-options="option.name as option.name for option in vm.qmsStandards.data">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.qmsStandards, vm.newQmsStandard); vm.newQmsStandard = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="newQmsStandardExpandableName">Add new QMS Standard to available options</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newQmsStandard.expandableName" id="newQmsStandardExpandableName" ng-change="vm.extendSelect(vm.qmsStandards.data, vm.newQmsStandard.expandableName); vm.newQmsStandard.qmsStandardName = vm.newQmsStandard.expandableName"></input>
          </div>
          <label class="col-sm-6 control-label" for="newQmsStandardModification">QMS Modification</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newQmsStandard.qmsModification" id="newQmsStandardModification"></input>
          </div>
          <label class="col-sm-6 control-label" for="newQmsStandardApplicableCriteria">QMS Applicable Criteria</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newQmsStandard.applicableCriteria" id="newQmsStandardApplicableCriteria"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cpReportFileLoc">Report File Location</label>
      <input class="input-sm form-control" type="url" ng-model="vm.cp.reportFileLocation" id="cpReportFileLoc" name="cpReportFileLoc"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpReportFileLoc.$touched) && vm.editForm.cpReportFileLoc.$error.url">Improper format (http://www.example.com)</div>
    </div>
    <div class="form-group">
      <label for="cpSedReportFileLoc">SED Report File Location</label>
      <input class="input-sm form-control" type="url" ng-model="vm.cp.sedReportFileLocation" id="cpSedReportFileLoc" name="cpSedReportFileLoc"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpSedReportFileLoc.$touched) && vm.editForm.cpSedReportFileLoc.$error.url">Improper format (http://www.example.com)</div>
    </div>
    <div class="form-group">
      <label for="cpSedIntendedUserDescription">SED Intended User Description</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.sedIntendedUserDescription" id="cpSedIntendedUserDescription" name="cpSedIntendedUserDescription"></input>
    </div>
    <div class="form-group">
      <label for="cpSedTestingEnd">SED End Date of Testing</label>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="vm.cp.setTestingEndDate" is-open="vm.cp.sedTestingEndDatePicker" close-text="Close" id="cpSedTestingEnd" name="cpSedTestingEnd" ng-model-options="{ timezone: 'UTC' }">
        <span class="input-group-btn">
          <button type="button" class="btn btn-ai btn-sm" ng-click="vm.surveillance.dateOfDeterminationPicker = true"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpSedTestingEnd.$touched) && vm.editForm.cpSedTestingEnd.$error.date">Improper format (mm/dd/yyyy)</div>
    </div>
    <div class="form-group">
      <label for="cpTestingLab">Testing Lab</label>
      <select class="input-sm form-control" ng-model="vm.cp.testingLab" id="cpTestingLab" name="cpTestingLab"
              ng-options="body as body.name for body in vm.testingLabs" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpTestingLab.$touched) && vm.editForm.cpTestingLab.$error.required">Field is required</div>
    </div>
    <div>
      Accessibility Standards
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="item in vm.cp.accessibilityStandards track by $index">
          <label class="col-sm-6 control-label" for="accessibilityStandard{{ item.id }}">Accessibility Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="item.accessibilityStandardName" id="accessibilityStandard{{ item.id }}"
                      ng-options="option.name as option.name for option in vm.accessibilityStandards.data | orderBy:'name'"
                      ng-change="item.accessibilityStandardId = option.id">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.accessibilityStandards.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="newAccessibilityStandardItem">New Accessibility Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newAccessibilityStandard.accessibilityStandardName" id="newAccessibilityStandardItem"
                      ng-options="option.name as option.name for option in vm.accessibilityStandards.data">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.accessibilityStandards, vm.newAccessibilityStandard); vm.newAccessibilityStandard = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="newAccessibilityStandardExpandableName">Add new Accessibility Standard to available options</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newAccessibilityStandard.expandableName" id="newAccessibilityStandardExpandableName" ng-change="vm.extendSelect(vm.accessibilityStandards.data, vm.newAccessibilityStandard.expandableName); vm.newAccessibilityStandard.accessibilityStandardName = vm.newAccessibilityStandard.expandableName"></input>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      Targeted Users
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="item in vm.cp.targetedUsers track by $index">
          <label class="col-sm-6 control-label" for="targetedUser{{ item.id }}">Targeted User</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="item.targetedUserName" id="targetedUser{{ item.id }}"
                      ng-options="option.name as option.name for option in vm.targetedUsers.data | orderBy:'name'"
                      ng-change="item.targetedUserId = option.id">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.targetedUsers.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="newTargetedUserItem">New Targeted User</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newTargetedUser.targetedUserName" id="newTargetedUserItem"
                      ng-options="option.name as option.name for option in vm.targetedUsers.data">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.targetedUsers, vm.newTargetedUser); vm.newTargetedUser = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="newTargetedUserExpandableName">Add new Targeted User to available options</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newTargetedUser.expandableName" id="newTargetedUserExpandableName" ng-change="vm.extendSelect(vm.targetedUsers.data, vm.newTargetedUser.expandableName); vm.newTargetedUser.targetedUserName = vm.newTargetedUser.expandableName"></input>
          </div>
        </div>
      </div>
    </div>
    <br />
    <ai-certs certs="vm.cp.certificationResults"
              cqms="vm.cp.cqmResults"
              count-certs="vm.cp.countCerts"
              count-cqms="vm.cp.countCqms"
              default-all="true"
              edit-mode="true"
              is-editing="true"
              is-confirming="vm.workType === 'confirm'"
              report-file-location="{{ vm.cp.reportFileLocation }}"
              save="vm.registerCerts(handler)"
              product="vm.cp"
              resources="vm.resources">
    </ai-certs>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="vm.editForm.$invalid && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.idProd && !vm.editForm.idProd.$error.required && !vm.editForm.idProd.$valid">CHPL Product Number Product Code must consist of letters, numbers and/or "_"</span>
        <li ng-if="vm.editForm.idProd.$error.required">CHPL Product Number Product Code is required</span>
        <li ng-if="vm.editForm.idVer && !vm.editForm.idVer.$error.required && !vm.editForm.idVer.$valid">CHPL Product Number Version Code must consist of letters, numbers and/or "_"</span>
        <li ng-if="vm.editForm.idVer.$error.required">CHPL Product Number Version Code is required</span>
        <li ng-if="vm.editForm.idIcs && !vm.editForm.idIcs.$error.required && !vm.editForm.idIcs.$valid">CHPL Product Number ICS Code must consist of numbers only</span>
        <li ng-if="vm.editForm.idIcs.$error.required">CHPL Product Number ICS Code is required</span>
        <li ng-if="vm.editForm.cpPractice.$error.required">Practice Type is required</li>
        <li ng-if="vm.editForm.cpClassification.$error.required">Classification Type is required</li>
        <li ng-if="vm.editForm.cpBody.$error.required">Certification Body is required</li>
        <li ng-if="vm.editForm.cpCertDate.$error.required">Certification Date is required</li>
        <li ng-if="vm.editForm.cpCertDate.$error.date">Certification Date is an invalid format (mm/dd/yyyy)</li>
        <li ng-if="vm.editForm.cpTransparencyAttUrl.$error.url">Mandatory Disclosures URL is an invalid format (http://www.example.com)</li>
        <li ng-if="vm.editForm.cpReportFileLoc.$error.url">Report File Location URL is an invalid format (http://www.example.com)</li>
        <li ng-if="vm.editForm.cpSedReportFileLoc.$error.url">SED Report File Location URL is an invalid format (http://www.example.com)</li>
        <li ng-if="vm.editForm.cpTouLoc.$error.url">Terms of Use URL is an invalid format (http://www.example.com)</li>
      </ul>
    </div>
    <div class="text-danger text-left" ng-if="vm.errors">
      <ul>
        <li ng-repeat="msg in vm.errors track by $index">{{ msg }}</li>
      </ul>
    </div>
    <button ng-disabled="(vm.editForm.$invalid && vm.showFormErrors) || vm.isSaving"
            class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.prep()">Save Certified Product</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
