.filters__header {
    display: flex;
    width: 100%;
    background-color: var(--grey);
    padding: 10px 15px 5px;
    align-items: center;
}

.filters__search {
    flex: 2;
    margin-bottom: 5px;
}

.filters__saved {
    flex: 1;
    margin-bottom: 5px;
    text-align: right;
}

.filters__toggle-advanced {
    flex: 1;
    margin-bottom: 5px;
    text-align: right;
}

.filters__advanced {
    display: flex;
    width: 100%;
    background-color: var(--grey-blue);
    align-items: center;
    padding: 10px 15px 5px;
}

.filters__sub-filters-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin-bottom: 5px;
}

.filters__sub-filters-actions {
    display: flex;
    width: 100%;
    flex: 1;
    margin-bottom: 5px;
}

.filters__sub-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 5px;
}

.filters__sub-filter {
    margin-bottom: 5px;
}

.filters__sub-filter--selected {
    border: 2px solid var(--darkblue);
}

.filters__transcluded-filters {
    flex: 2;
    margin-bottom: 5px;
    align-content: baseline;
    align-self: center;
    border-left: 1px solid var(--blue);
    padding: 0 0 0 25px;
}
