<span class="filters">
  <div class="filters__header">
    <div class="filters__search">
      <div ng-transclude="header"></div>
    </div>
    <div class="filters__saved" ng-if="$ctrl.isSlotFilled('saved')">
      <div ng-transclude="saved"></div>
    </div>
    <div class="filters__toggle-advanced">
      <button class="btn btn-link" ng-click="$ctrl.showAdvanced = !$ctrl.showAdvanced"><span ng-if="$ctrl.showAdvanced">Hide </span>Advanced Search</button>
    </div>
  </div>
  <span ng-show="$ctrl.showAdvanced">
    <div class="filters__advanced">
      <div class="filters__sub-filters-container">
        <div class="filters__sub-filters-actions">
          <div class="flex-item">
            Filter on
          </div>
          <div class="flex-item text-right">
            <button class="btn btn-link" ng-click="$ctrl.clearAllFilters()">Reset all filters</button>
          </div>
        </div>
        <div class="filters__sub-filters">
          <div ng-repeat="filter in $ctrl.filters | orderBy : 'title'" class="filters__sub-filter" ng-class="{ active:filter.selected }">
            <button class="btn btn-link" ng-class="{ 'filters__sub-filter-button--selected': filter.selected }" ng-click="$ctrl.select(filter)">{{ filter.title }}</button> <span ng-if="filter.hasChanges"><span class="sr-only">Filter has non-default option selected</span>*</span>
          </div>
        </div>
      </div>
      <div class="filters__transcluded-filters">
        <div ng-transclude="body"></div>
      </div>
    </div>
  </span>
</span>
