<div class="row form-group">
  <div class="col-sm-12">
    <div class="btn-group" uib-dropdown auto-close="outsideClick">
      <button id="single-button" type="button" class="btn btn-ai-success" uib-dropdown-toggle ng-disabled="disabled">
        Saved Searches <span class="caret"></span>
      </button>
      <div class="dropdown-menu filter-dropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <div class="row form-group">
          <div class="col-sm-12">
            <button ng-click="$ctrl.clearFilter()" class="btn btn-link pull-right">Clear Filter</button>
            <label for="filter-name" class="control-label">Save Filter As</label>
            <input type="text" ng-model="$ctrl.filterName" placeholder="Filter name" class="input-sm form-control" name="filterName" id="filter-name">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 pull-right">
            <button class="btn btn-primary" ng-click="$ctrl.saveFilter()">Save Filter</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label class="control-label" for="available-filters">Available Filters</label>
            <ul class="list-unstyled" id="available-filters">
              <li role="menuitem" ng-repeat="filter in $ctrl.availableFilters">
                <span><button class="btn btn-link" ng-click="$ctrl.applyFilter(filter)">{{ filter.name }}</button>
                  <button class="btn btn-link pull-right" ng-click="$ctrl.deleteFilter(filter.id)"><i class="fa fa-remove"></i></button></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
