<span ng-show="!$ctrl.activeChangeRequest">
  <div class="panel panel-default" st-table="$ctrl.displayedChangeRequests" st-safe-src="$ctrl.changeRequests" st-set-filter="customFilter">
    <div class="panel-heading">
      <div uib-dropdown auto-close="outsideClick" class="btn-group pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="filter-date-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-calendar"></i> Select a Date Range
        </button>
        <ul class="dropdown-menu" aria-labeledby="filter-date-button" uib-dropdown-menu>
          <ai-date-range
             predicate="changeDate"
             ></ai-date-range>
        </ul>
      </div>
      <div uib-dropdown auto-close="outsideClick" class="btn-group pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="filter-status-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-filter"></i> Request Status
        </button>
        <ul class="dropdown-menu" aria-labeledby="filter-status-button" uib-dropdown-menu>
          <st-list-multiple
             collection="$ctrl.changeRequests"
             predicate="requestStatus"
             fixed-items="$ctrl.filterItems.statusItems"
             ></st-list-multiple>
        </ul>
      </div>
      <h2 class="panel-title">Change Requests</h2>
    </div>
    <div class="panel-body" ng-if="!$ctrl.activeChangeRequest">
      <div class="row" ng-if="!$ctrl.displayedChangeRequests || $ctrl.displayedChangeRequests.length === 0">
        <div class="col-md-12">
          No change requests found
        </div>
      </div>
      <div class="row" ng-if="$ctrl.displayedChangeRequests && $ctrl.displayedChangeRequests.length > 0">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Request Type</th>
                <th scope="col" class="search-header" st-sort="changeDate" st-skip-natural="true" st-sort-default="reverse">Date</th>
                <th scope="col" class="search-header" st-sort="requestStatus" st-skip-natural="true">Request Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cr in $ctrl.displayedChangeRequests" ng-click="$ctrl.activeChangeRequest = cr" class="clickable">
                <td>{{ cr.changeRequestType.name }}</td>
                <td>{{ cr.changeDate | date : 'mediumDate' : 'UTC' }}</td>
                <td>{{ cr.requestStatus }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <div st-pagination="" st-items-by-page="$ctrl.filterItems.pageSize" st-displayed-pages="10"></div>
    </div>
  </div>
</span>
<span ng-if="$ctrl.activeChangeRequest">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Change Request{{ $ctrl.activity }}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <chpl-change-request change-request="$ctrl.activeChangeRequest" developer="$ctrl.developer" take-action="$ctrl.act(action, data)" active-state="$ctrl.activeState"></chpl-change-request>
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <span ng-switch="$ctrl.activeState">
        <span ng-switch-when="log">
          <button class="btn btn-default" ng-click="$ctrl.act('fullCancel')">Back to Dashboard</button>
          <button class="btn btn-default" ng-click="$ctrl.act('cancel')">Back to Change Request</button>
        </span>
        <span ng-switch-when="edit">
          <button class="btn btn-default" ng-click="$ctrl.act('save')">Submit</button>
        </span>
        <span ng-switch-when="withdraw">
          <button class="btn btn-default" ng-click="$ctrl.act('save')">Submit</button>
        </span>
        <span ng-switch-default>
          <button class="btn btn-default" ng-click="$ctrl.act('edit')" ng-if="$ctrl.activeChangeRequest.currentStatus.changeRequestStatusType.name === 'Pending ONC-ACB Action' || $ctrl.activeChangeRequest.currentStatus.changeRequestStatusType.name === 'Pending Developer Action'">Edit Change Request</button>
          <button class="btn btn-default" ng-click="$ctrl.act('statusLog')">Status Log</button>
          <button class="btn btn-default" ng-click="$ctrl.act('withdraw')" ng-if="$ctrl.activeChangeRequest.currentStatus.changeRequestStatusType.name === 'Pending ONC-ACB Action' || $ctrl.activeChangeRequest.currentStatus.changeRequestStatusType.name === 'Pending Developer Action'">Withdraw Change Request</button>
        </span>
      </span>
    </div>
  </div>
</span>
