<span ng-switch="$ctrl.activeState" ng-form="$ctrl.form">
  <span ng-switch-when="log">
    <div class="row">
      <div class="col-md-12" st-table="$ctrl.displayedHistory" st-safe-src="$ctrl.changeRequest.statuses">
        <button class="btn btn-default pull-right" aria-label="Cancel"
                uib-tooltip="Close" tooltip-trigger="'mouseenter focus click'"
                ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="search-header" st-sort="actingOrganization" st-skip-natural="true">Acting Organization</th>
              <th scope="col" class="search-header" st-sort="statusChangeDate" st-skip-natural="true" st-sort-default="reverse">Date of Status Change</th>
              <th scope="col" class="search-header" st-sort="changeRequestStatusType.name" st-skip-natural="true">Status</th>
              <th scope="col">Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="status in $ctrl.displayedHistory">
              <td>{{ status.actingOrganization }}</td>
              <td>{{ status.statusChangeDate | date : 'MMM d, y H:mm:ss Z' : 'UTC' }}</td>
              <td>{{ status.changeRequestStatusType.name }}</td>
              <td>{{ status.comment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </span>
  <span ng-switch-when="edit|withdraw" ng-switch-when-separator="|">
    <div class="row">
      <span ng-switch="$ctrl.changeRequest.changeRequestType.name">
        <span ng-switch-when="Website Change Request">
          <div class="col-sm-4">
            <h3>Current Website</h3>
            <div class="form-group">
              <label class="control-label" for="current-website">Developer website</label>
              <div>
                <input class="input-sm form-control" type="url" ng-model="$ctrl.changeRequest.developer.website" id="current-website" name="currentWebsite" disabled></input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <h3>Submitted Website</h3>
            <div class="form-group">
              <label class="control-label" for="submitted-website">Submitted website</label>
              <div>
                <input class="input-sm form-control" type="url" id="submitted-website" name="submittedWebsite" required
                       ng-model="$ctrl.changeRequest.details.website" ng-maxlength="300" ng-disabled="$ctrl.activeState === 'withdraw' || $ctrl.administrationMode" ng-change="$ctrl.update()"></input>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.submittedWebsite.$touched) && $ctrl.form.submittedWebsite.$error.required">Field is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.submittedWebsite.$touched) && $ctrl.form.submittedWebsite.$error.maxlength">Field is too long</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.submittedWebsite.$touched) && $ctrl.form.submittedWebsite.$error.url">Improper format (http://www.example.com)</div>
              </div>
            </div>
          </div>
        </span>
        <span ng-switch-when="Developer Details Change Request">
          <div class="col-sm-4">
            <h3>Current Details</h3>
            <chpl-developer developer="$ctrl.changeRequest.developer"></chpl-developer>
          </div>
          <div class="col-sm-4">
            <h3>Submitted Details</h3>
            <chpl-developer developer="$ctrl.changeRequest.details"></chpl-developer>
            <div class="form-group">
              <label class="control-label" for="submitted-website">Submitted website</label>
              <div>
                <input class="input-sm form-control" type="url" id="submitted-website" name="submittedWebsite" required
                       ng-model="$ctrl.changeRequest.details.website" ng-maxlength="300" ng-disabled="$ctrl.activeState === 'withdraw' || $ctrl.administrationMode" ng-change="$ctrl.update()"></input>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.submittedWebsite.$touched) && $ctrl.form.submittedWebsite.$error.required">Field is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.submittedWebsite.$touched) && $ctrl.form.submittedWebsite.$error.maxlength">Field is too long</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.submittedWebsite.$touched) && $ctrl.form.submittedWebsite.$error.url">Improper format (http://www.example.com)</div>
              </div>
            </div>
          </div>
        </span>
      </span>
      <div class="col-sm-4">
        <button class="btn btn-default pull-right" aria-label="Cancel"
                confirm="Are you sure you wish to cancel? Your changes will not be saved."
                confirm-ok="Yes"
                confirm-cancel="No"
                confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                uib-tooltip="Cancel and close" tooltip-trigger="'mouseenter focus click'"
                ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
        <h3>Reason for Change</h3>
        <div class="form-group">
          <label class="control-label" for="comment">Reason</label>
          <div>
            <textarea class="input-sm form-control" id="comment" name="comment" rows="8" placeholder="Please enter the reason for this action"
                      ng-model="$ctrl.changeRequest.comment" ng-change="$ctrl.update()"
                      ng-disabled="!$ctrl.isCommentEnabled()" ng-required="$ctrl.isCommentRequired()"></textarea>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.comment.$touched) && $ctrl.form.comment.$error.required">Field is required</div>
          </div>
        </div>
        <h3>Current Status</h3>
        <p>{{ $ctrl.changeRequest.currentStatus.changeRequestStatusType.name }}</p>
        <h3>Change Status</h3>
        <p ng-if="$ctrl.activeState === 'withdraw'">You're withdrawing this change request</p>
        <span ng-if="$ctrl.activeState === 'edit'">
          <span ng-if="!$ctrl.administrationMode">
            <p ng-if="$ctrl.changeRequest.currentStatus.changeRequestStatusType.name !== 'Pending Developer Action'">No status change will happen</p>
            <p ng-if="$ctrl.changeRequest.currentStatus.changeRequestStatusType.name === 'Pending Developer Action'">Change request will be set to "Pending ONC-ACB Action"</p>
          </span>
          <span ng-if="$ctrl.administrationMode">
            <label class="control-label" for="change-request-status">New Request Status</label>
            <select class="form-control" id="change-request-status" name="changeRequestStatus" required
                    ng-change="$ctrl.update()"
                    ng-model="$ctrl.changeRequest.newStatus" ng-options="status as status.name for status in $ctrl.changeRequestStatusTypes | orderBy: 'name' track by status.id">
            </select>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.changeRequestStatus.$touched) && $ctrl.form.changeRequestStatus.$error.required">Field is required</div>
          </span>
        </span>
      </div>
    </div>
  </span>
  <span ng-switch-default>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default pull-right" ng-click="$ctrl.cancel()" uib-tooltip="Close" tooltip-trigger="'mouseenter focus click'"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
        <table class="table table-vertical-align">
          <thead>
            <tr>
              <th scope="cols" colspan="2" ng-if="$ctrl.administrationMode">Developer</th>
              <th scope="col">Request Type</th>
              <th scope="col" ng-if="$ctrl.administrationMode">Creation Date</th>
              <th scope="col" ng-if="!$ctrl.administrationMode">Date</th>
              <th scope="col">Request Status</th>
              <th scope="col" ng-if="$ctrl.administrationMode">Time Since Last Status Change</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ng-if="$ctrl.administrationMode">
                <ng-avatar string="{{ $ctrl.changeRequest.developer.name }}" round-shape="true" auto-color="true" font-scale="75"></ng-avatar>
              </td>
              <td ng-if="$ctrl.administrationMode">{{ $ctrl.changeRequest.developer.name }}</td>
              <td>{{ $ctrl.changeRequest.changeRequestType.name }}</td>
              <td ng-if="$ctrl.administrationMode">{{ $ctrl.changeRequest.submittedDate | date : 'mediumDate' : 'UTC' }}</td>
              <td ng-if="!$ctrl.administrationMode">{{ $ctrl.changeRequest.currentStatus.statusChangeDate | date : 'mediumDate' : 'UTC' }}</td>
              <td>{{ $ctrl.changeRequest.currentStatus.changeRequestStatusType.name }}</td>
              <td ng-if="$ctrl.administrationMode"><span am-time-ago="$ctrl.changeRequest.currentStatus.statusChangeDate"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <span ng-switch="$ctrl.changeRequest.changeRequestType.name">
        <span ng-switch-when="Website Change Request">
          <div class="col-sm-6">
            Current website<br />
            {{ $ctrl.changeRequest.developer.website }}
          </div>
          <div class="col-sm-6">
            Submitted website<br />
            {{ $ctrl.changeRequest.details.website }}
          </div>
        </span>
        <span ng-switch-when="Developer Details Change Request">
          <div class="col-sm-6" ng-if="$ctrl.administrationMode">
            Current details<br />
            <chpl-developer developer="$ctrl.changeRequest.developer"
                            show-full="true"
                            ></chpl-developer>
          </div>
          <div ng-class="$ctrl.administrationMode ? 'col-sm-6' : 'col-sm-12'">
            Submitted details<br />
            <ul class="list-unstyled">
              <li ng-if="$ctrl.changeRequest.details.selfDeveloper !== null">Self-developer: {{ $ctrl.changeRequest.details.selfDeveloper ? 'Yes': 'No' }}</li>
              <li ng-if="$ctrl.changeRequest.details.contact !== null">Contact:<chpl-contact contact="$ctrl.changeRequest.details.contact"></chpl-contact></li>
              <li ng-if="$ctrl.changeRequest.details.address !== null">Address:<chpl-address address="$ctrl.changeRequest.details.address"></chpl-address></li>
            </ul>
          </div>
        </span>
      </span>
    </div>
  </span>
</span>
