<span ng-switch="$ctrl.activeState">
  <span ng-switch-when="log">
    <div class="row">
      <div class="col-md-12" st-table="$ctrl.displayedHistory" st-safe-src="$ctrl.changeRequest.statuses">
        <button class="btn btn-default pull-right" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="search-header" st-sort="actingOrganization" st-skip-natural="true">Acting Organization</th>
              <th scope="col" class="search-header" st-sort="statusChangeDate" st-skip-natural="true" st-sort-default="reverse">Date of Status Change</th>
              <th scope="col" class="search-header" st-sort="changeRequestStatusType.name" st-skip-natural="true">Status</th>
              <th scope="col">Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="status in $ctrl.displayedHistory">
              <td>{{ status.actingOrganization }}</td>
              <td>{{ status.statusChangeDate | date : 'MMM d, y H:mm:ss Z' : 'UTC' }}</td>
              <td>{{ status.changeRequestStatusType.name }}</td>
              <td>{{ status.comment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </span>
  <span ng-switch-when="edit|withdraw" ng-switch-when-separator="|">
    <div class="row">
      <div class="col-sm-4">
        <h3>Current Website</h3>
        <div class="form-group">
          <label class="control-label" for="current-website">Developer website</label>
          <div>
            <input class="input-sm form-control" type="url" ng-model="$ctrl.developer.website" id="current-website" name="currentWebsite" disabled></input>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>New Website</h3>
        <div class="form-group">
          <label class="control-label" for="new-website">New website</label>
          <div>
            <input class="input-sm form-control" type="url" ng-model="$ctrl.changeRequest.details.website" id="new-website" name="newWebsite" ng-maxlength="300" ng-disabled="$ctrl.activeState === 'withdraw'" ng-change="$ctrl.update()"></input>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.newWebsite.$touched) && $ctrl.form.newWebsite.$error.maxlength">Field is too long</div>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.newWebsite.$touched) && $ctrl.form.newWebsite.$error.url">Improper format (http://www.example.com)</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-default pull-right" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
        <h3>Reason for Change</h3>
        <div class="form-group">
          <label class="control-label" for="comment">Reason</label>
          <div>
            <textarea class="input-sm form-control" id="comment" name="comment" rows="8" placeholder="Please enter a reason for editing this change request"
                      ng-model="$ctrl.changeRequest.comment" ng-change="$ctrl.update()"
                      ng-disabled="$ctrl.activeState === 'edit' && $ctrl.changeRequest.currentStatus.changeRequestStatusType.name === 'Pending ONC-ACB Action'"></textarea>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.comment.$touched) && $ctrl.form.comment.$error.required">Field is required</div>
          </div>
        </div>
        <h3>Change Status</h3>
        <p ng-if="$ctrl.activeState === 'withdraw'">You're withdrawing this change request</p>
        <p ng-if="$ctrl.activeState === 'edit' && $ctrl.changeRequest.currentStatus.changeRequestStatusType.name === 'Pending ONC-ACB Action'">No status change will happen</p>
        <p ng-if="$ctrl.activeState === 'edit' && $ctrl.changeRequest.currentStatus.changeRequestStatusType.name === 'Pending Developer Action'">Change request will be set to "Pending ONC-ACB Action"</p>
      </div>
    </div>
  </span>
  <span ng-switch-default>
    <div class="row">
      <div class="col-sm-4">
        <h3>Request Type</h3>
        {{ $ctrl.changeRequest.changeRequestType.name }}
      </div>
      <div class="col-sm-4">
        <h3>Date</h3>
        {{ $ctrl.changeRequest.currentStatus.statusChangeDate | date : 'mediumDate' : 'UTC' }}
      </div>
      <div class="col-sm-4">
        <button class="btn btn-default pull-right" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close</span></button>
        <h3>Request Status</h3>
        {{ $ctrl.changeRequest.currentStatus.changeRequestStatusType.name }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        Current website: {{ $ctrl.developer.website }} <br />
        New website: {{ $ctrl.changeRequest.details.website }}
      </div>
    </div>
  </span>
</span>
