.change-requests__requests-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.change-requests__filters {
    display: flex;
    justify-content: space-between;
}

.change-requests__dropdown-menu {
    min-width: 300px;
    left: auto;
    right: 0;
    padding-left: 8px;
    padding-right: 8px;
}
