<div class="container-fluid">
  <span ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB', 'ROLE_ATL'])">
    <div class="row">
      <div class="col-sm-12">
        <h1>CHPL Users</h1>
      </div>
    </div>
    <div class="main-content row" id="main-content" tabindex="-1">
      <div class="col-sm-6 col-sm-offset-3" ng-if="$ctrl.activeUser">
        <chpl-user user="$ctrl.activeUser" is-editing="true" take-action="$ctrl.takeAction(action, data)"></chpl-user>
      </div>
      <div class="col-sm-6" ng-repeat="user in $ctrl.users | orderBy : 'fullName'" ng-if="!$ctrl.activeUser">
        <div class="panel panel-default">
          <div class="panel-body">
            <chpl-user user="user" take-action="$ctrl.takeAction(action, data)"></chpl-user>
          </div>
        </div>
      </div>
    </div>
  </span>
  <div class="main-content row splash-row" id="main-content" tabindex="-1" ng-if="!$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB', 'ROLE_ATL'])">
    <div class="col-md-6 col-md-offset-3 jumbotron">
      <ai-login form-class=""
                p-class="bg-success lead"
                p-class-fail="bg-danger lead">
      </ai-login>
    </div>
  </div>
</div>
