<div class="row" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])">
  <div class="col-md-12">
    <chpl-change-requests change-requests="$ctrl.changeRequests"
                          change-request-status-types="$ctrl.changeRequestStatusTypes"
                          change-request-types="$ctrl.changeRequestTypes"
                          take-action="$ctrl.takeAction(action, data)"
                          administration-mode="true"></chpl-change-requests>
  </div>
</div>
<div class="row" ng-if="!$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])">
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <chpl-login form-class=""
                p-class="bg-success lead"
                p-class-fail="bg-danger lead">
    </chpl-login>
  </div>
</div>
