.nonconformities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--grey);
}

.nonconformities__gridtable-header {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: end;
}

.nonconformities__requirements-header {
    text-transform: uppercase;
    font-weight: 700;
}

.nonconformity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border: 1px solid var(--grey);
    margin-bottom: 8px;
    border-radius: 8px;
}

.nonconformity__header {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.nonconformity__gridtable-header {
    padding: 10px 15px;
}

.nonconformity__gridtable-header--first {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nonconformity__gridtable-header--last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nonconformity__gridtable-header--open {
    background-color: var(--grey-blue);
}

.nonconformity__gridtable-header--closed {
    background-color: var(--light-grey) !important;
    // remove !important when "new-style" goes away / ui-bump-major changes / etc.
}

.nonconformity__header-toggle {
    margin-left: auto;
}

.nonconformity__basic-information {
    border-left: 4px solid var(--dark-grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8px;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.nonconformity__narrow {
    //grid-column-start: 1;
    margin: 8px;
}

.nonconformity__wide {
    grid-column-start: 1;
    grid-column-end: span 3;
    margin: 8px;
}

.nonconformity__tooltip-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: transparent;
}
