<div role="modal" aria-labeled-by="edit-criteria-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-criteria-label">Certification Criteria: <span ng-if="$ctrl.cert.criterion.removed">Removed | </span>{{ $ctrl.cert.number }}: <span chpl-highlight-cures ng-model="$ctrl.cert.title"></span></h4>
  </div>
  <div class="modal-body" ng-form="$ctrl.editForm" ng-class="{ 'removed' : $ctrl.cert.criterion.removed }">
    <input type="checkbox" ng-model="$ctrl.cert.success" id="data{{ $ctrl.cert.number }}" name="data"></input>
    <label class="control-label" for="data{{ $ctrl.cert.number }}"><span class="criteria-title"><span ng-if="$ctrl.cert.criterion.removed">Removed | </span>{{ $ctrl.cert.number }}: {{ $ctrl.cert.title }}</span></label>
    <button ng-if="$ctrl.cert.criterion.removed" class="btn btn-link btn-xs" uib-tooltip="This certification criterion has been removed from the Program." tooltip-trigger="'mouseenter focus click'"><span class="sr-only">This certification criterion has been removed from the Program.</span><i class="fa fa-info-circle fa-lg"></i></button>
    <div ng-if="$ctrl.cert.success">
      <input type="checkbox" ng-model="$ctrl.cert.metViaAdditionalSoftware" id="data_additionalSoftware{{ $ctrl.cert.number }}" name="data_additionalSoftware" ng-disabled="!$ctrl.canEdit()"></input>
      <label class="control-label" for="data_additionalSoftware{{ $ctrl.cert.number }}">Certification met via relied upon software</label>
      <ai-additional-software additional-software="$ctrl.cert.additionalSoftware" is-editing="$ctrl.canEdit()" ng-if="$ctrl.cert.metViaAdditionalSoftware"></ai-additional-software>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.gap !== null">
          <td><label class="control-label" for="data_gap{{ $ctrl.cert.number }}">GAP</label></td>
          <td><select class="form-control input-sm" id="data_gap{{ $ctrl.cert.number }}" name="data_gap" ng_model="$ctrl.cert.gap" ng-options="b.value as b.name for b in $ctrl.options" ng-disabled="!$ctrl.canEdit()"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.svaps !== null && $ctrl.cert.allowedSvaps.length > 0">
          <td>Standards Version Advancement Process</td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="svap"
                    item-key="svapId"
                    item-text="displayText"
                    items="$ctrl.cert.allowedSvaps"
                    selected-item-keys="$ctrl.selectedSvapKeys"
                    placeholder="Select an SVAP Version"
                    on-change="$ctrl.svapOnChange(action)">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.svaps && $ctrl.cert.svaps.length > 0 && !$ctrl.canEdit()">
            <ul>
              <li ng-repeat="m in $ctrl.cert.svaps">
                <span ng-if="m.approvedStandardVersion"><chpl-ellipsis-bridge text="(m.replaced ? 'Replaced | ' : '') + m.regulatoryTextCitation + ' ' + m.approvedStandardVersion" max-length="100" word-boundaries="true"></chpl-ellipsis-bridge></span>
              </li>
            </ul>
          </td>
          <td ng-if="(!$ctrl.cert.svaps || $ctrl.cert.svaps.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <span feature-flag="optional-standards">
          <tr ng-if="$ctrl.cert.success && (($ctrl.cert.optionalStandards && $ctrl.cert.optionalStandards.length > 0) || ($ctrl.cert.allowedOptionalStandards && $ctrl.cert.allowedOptionalStandards.length > 0))">
            <td>
              <span>Optional Standard</span>
            </td>
            <td ng-if="$ctrl.canEdit()">
              <div class="form-horizontal">
                <div class="form-group form-group-sm">
                  <div class="col-sm-12">
                    <chpl-expandable-list
                      identifier="optionalStandard"
                      item-key="id"
                      item-text="citation"
                      items="$ctrl.cert.allowedOptionalStandards"
                      new-items="$ctrl.newOptionalStandards"
                      selected-item-keys="$ctrl.selectedOptionalStandardKeys"
                      placeholder="Select an Optional Standard"
                      on-change="$ctrl.optionalStandardsOnChange(action)">
                    </chpl-expandable-list>
                  </div>
                </div>
              </div>
            </td>
            <td ng-if="$ctrl.cert.optionalStandards && $ctrl.cert.optionalStandards.length > 0 && !$ctrl.canEdit()">
              <ul>
                <li ng-repeat="m in $ctrl.cert.optionalStandards">
                  <chpl-ellipsis-bridge text="m.optionalStandard" max-length="100" word-boundaries="true"></chpl-ellipsis-bridge>
                </li>
              </ul>
            </td>
          </tr>
        </span>
        <tr ng-if="$ctrl.cert.success && ($ctrl.cert.testStandards !== null && ($ctrl.cert.testStandards.length > 0 || $ctrl.resources.testStandards.data.length > 0))">
          <td>
            <span>Test Standard</span>
          </td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="testStandard"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.resources.testStandards.data"
                    new-items="$ctrl.newTestStandards"
                    selected-item-keys="$ctrl.selectedTestStandardKeys"
                    placeholder="Select a Test Standard"
                    on-change="$ctrl.testStandardOnChange(action)">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.testStandards && $ctrl.cert.testStandards.length > 0 && !$ctrl.canEdit()">
            <ul>
              <li ng-repeat="m in $ctrl.cert.testStandards">
                <span ng-if="m.testStandardDescription"><chpl-ellipsis-bridge text="m.testStandardDescription" max-length="100" word-boundaries="true"></chpl-ellipsis-bridge></span>
                <span ng-if="!m.testStandardDescription">{{ m.testStandardName }}</span>
              </li>
            </ul>
          </td>
          <td ng-if="(!$ctrl.cert.testStandards || $ctrl.cert.testStandards.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <tr ng-if="$ctrl.cert.g1Success !== null">
          <td><label class="control-label" for="data_g1Success{{ $ctrl.cert.number }}">Measure Successfully Tested for G1</label></td>
          <td><select class="form-control input-sm" id="data_g1Success{{ $ctrl.cert.number }}" name="data_g1Success" ng_model="$ctrl.cert.g1Success" ng-options="b.value as b.name for b in $ctrl.options" ng-disabled="!$ctrl.canEdit()"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.g2Success !== null">
          <td><label class="control-label" for="data_g2Success{{ $ctrl.cert.number }}">Measure Successfully Tested for G2</label></td>
          <td><select class="form-control input-sm" id="data_g2Success{{ $ctrl.cert.number }}" name="data_g2Success" ng_model="$ctrl.cert.g2Success" ng-options="b.value as b.name for b in $ctrl.options" ng-disabled="!$ctrl.canEdit()"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.testFunctionality !== null && $ctrl.sortedTestFunctionalities.length > 0">
          <td>Functionality Tested</td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="testFunctionality"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.sortedTestFunctionalities"
                    selected-item-keys="$ctrl.selectedTestFunctionalityKeys"
                    placeholder="Select a Test Functionality"
                    on-change="$ctrl.testFunctionalityOnChange(action)">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.success && $ctrl.cert.testFunctionality && $ctrl.cert.testFunctionality.length > 0 && !$ctrl.canEdit()">
            <ul>
              <li ng-repeat="m in $ctrl.cert.testFunctionality">
                <span ng-if="!m.description">{{ m.name }}</span>
                <chpl-ellipsis-bridge ng-if="m.description" text="m.description" max-length="100" word-boundaries="true"></chpl-ellipsis-bridge>
                <span ng-if="m.testFunctionalityId === null" class="bg-danger"> Warning: Functionality tested not found in system, it will not be saved</span>
              </li>
            </ul>
          </td>
          <td ng-if="(!$ctrl.cert.testFunctionality || $ctrl.cert.testFunctionality.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.conformanceMethods !== null && $ctrl.isOn('conformance-method')">
          <td>Conformance method</td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="conformanceMethods"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.cert.allowedConformanceMethods"
                    selected-item-keys="$ctrl.selectedConformanceMethodKeys"
                    placeholder="Select a Conformance Method"
                    on-change="$ctrl.conformanceMethodsOnChange(action)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="false">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.conformanceMethods && $ctrl.cert.conformanceMethods.length > 0 && !$ctrl.canEdit()">
            <div ng-repeat="m in $ctrl.cert.conformanceMethods">Name: {{ m.conformanceMethod.name }}; Version: {{ m.conformanceMethodVersion }}</div>
          </td>
          <td ng-if="(!$ctrl.cert.conformanceMethods || $ctrl.cert.conformanceMethods.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.testProcedures !== null && (($ctrl.isOn('conformance-method') && (!$ctrl.cert.conformanceMethods || $ctrl.cert.testProcedures.length > 0)) || !$ctrl.isOn('conformance-method'))">
          <td>Test procedure</td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="testProcedures"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.availableTestProcedures"
                    selected-item-keys="$ctrl.selectedTestProcedureKeys"
                    placeholder="Select a Test Procedure"
                    on-change="$ctrl.testProceduresOnChange(action)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="false">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.testProcedures && $ctrl.cert.testProcedures.length > 0 && !$ctrl.canEdit()">
            <div ng-repeat="m in $ctrl.cert.testProcedures">Name: {{ m.testProcedure.name }}; Version: {{ m.testProcedureVersion }}</div>
          </td>
          <td ng-if="(!$ctrl.cert.testProcedures || $ctrl.cert.testProcedures.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <tr ng-if="$ctrl.cert.success && (($ctrl.cert.testToolsUsed && $ctrl.cert.testToolsUsed.length > 0) || ($ctrl.cert.allowedTestTools && $ctrl.cert.allowedTestTools.length >0))">
          <td>Test tool</td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="testTools"
                    item-key="id"
                    item-text="dropDownText"
                    items="$ctrl.cert.allowedTestTools"
                    item-disabled="$ctrl.isToolDisabled(item)"
                    selected-item-keys="$ctrl.selectedTestToolKeys"
                    placeholder="Select a Test Tool"
                    on-change="$ctrl.testToolsOnChange(action)"
                    on-validate="$ctrl.testToolValidation(item)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="true">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.testToolsUsed && $ctrl.cert.testToolsUsed.length > 0 && !$ctrl.canEdit()"><div ng-repeat="m in $ctrl.cert.testToolsUsed"><span ng-class="{'bg-danger': m.testToolId === null}">Tool: {{ m.testToolName }}; Version: {{ m.testToolVersion ? m.testToolVersion : 'N/A' }}<span ng-if="m.testToolId === null"> Warning: Tool not found in system, it will not be saved</span></span></div></td>
          <td ng-if="(!$ctrl.cert.testToolsUsed || $ctrl.cert.testToolsUsed.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.testDataUsed !== null && $ctrl.availableTestData && $ctrl.availableTestData.length > 0">
          <td>Test data</td>
          <td ng-if="$ctrl.canEdit()">
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <chpl-expandable-list
                    identifier="testData"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.availableTestData"
                    selected-item-keys="$ctrl.selectedTestDataKeys"
                    placeholder="Select Test Data"
                    on-change="$ctrl.testDataOnChange(action)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="true"
                    additional-input2="true"
                    additional-input2-label="Alteration"
                    additional-input2-required="false">
                  </chpl-expandable-list>
                </div>
              </div>
            </div>
          </td>
          <td ng-if="$ctrl.cert.testDataUsed && $ctrl.cert.testDataUsed.length > 0 && !$ctrl.canEdit()"><div ng-repeat="m in $ctrl.cert.testDataUsed">Name: {{ m.testData.name ? m.testData.name : 'N/A' }}; Version: {{ m.version }}; Alteration: {{ m.alteration ? m.alteration : 'N/A' }}</div></td>
          <td ng-if="(!$ctrl.cert.testDataUsed || $ctrl.cert.testDataUsed.length === 0) && !$ctrl.canEdit()">None</td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.apiDocumentation !== null">
          <td><label class="control-label" for="data_api{{ $ctrl.cert.number }}">API Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_api{{ $ctrl.cert.number }}" name="data_apiDocumentation" ng-model="$ctrl.cert.apiDocumentation" ng-maxlength="1024" ng-disabled="!$ctrl.canEdit()"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_apiDocumentation.$error.maxlength">Field is too long</div>
            <div class="text-danger" ng-if="$ctrl.editForm.data_apiDocumentation.$error.url">Field is an invalid format (http://www.example.com)</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.exportDocumentation !== null">
          <td><label class="control-label" for="data_export{{ $ctrl.cert.number }}">Export Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_export{{ $ctrl.cert.number }}" name="data_exportDocumentation" ng-model="$ctrl.cert.exportDocumentation" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_exportDocumentation.$error.maxlength">Field is too long</div>
            <div class="text-danger" ng-if="$ctrl.editForm.data_exportDocumentation.$error.url">Field is an invalid format (http://www.example.com)</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.attestationAnswer !== null">
          <td><label class="control-label" for="data_attestationAnswer{{ $ctrl.cert.number }}">Attestation</label></td>
          <td><select class="form-control input-sm" id="data_attestationAnswer{{ $ctrl.cert.number }}" name="data_attestationAnswer" ng_model="$ctrl.cert.attestationAnswer" ng-options="b.value as b.name for b in $ctrl.yesNo"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.documentationUrl !== null">
          <td><label class="control-label" for="data_documentation{{ $ctrl.cert.number }}">Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_documentation{{ $ctrl.cert.number }}" name="data_documentationUrl" ng-model="$ctrl.cert.documentationUrl" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_documentationUrl.$error.maxlength">Field is too long</div>
            <div class="text-danger" ng-if="$ctrl.editForm.data_documentationUrl.$error.url">Field is an invalid format (http://www.example.com)</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.useCases !== null && $ctrl.cert.attestationAnswer">
          <td><label class="control-label" for="data_use{{ $ctrl.cert.number }}">Use Case(s)</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_use{{ $ctrl.cert.number }}" name="data_useCases" ng-model="$ctrl.cert.useCases" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_useCases.$error.maxlength">Field is too long</div>
            <div class="text-danger" ng-if="$ctrl.editForm.data_useCases.$error.url">Field is an invalid format (http://www.example.com)</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.serviceBaseUrlList !== null">
          <td><label class="control-label" for="data_service_base_url_list{{ $ctrl.cert.number }}">Service Base URL List</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_service_base_url_list{{ $ctrl.cert.number }}" name="data_serviceBaseUrlList" ng-model="$ctrl.cert.serviceBaseUrlList" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_serviceBaseUrlList.$error.maxlength">Field is too long</div>
            <div class="text-danger" ng-if="$ctrl.editForm.data_serviceBaseUrlList.$error.url">Field is an invalid format (http://www.example.com)</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.privacySecurityFramework !== null">
          <td><label class="control-label" for="data_psFramework{{ $ctrl.cert.number }}">Privacy &amp; Security Framework</label></td>
          <td><select class="form-control input-sm" id="data_psFramework{{ $ctrl.cert.number }}" name="data_psFramework" ng_model="$ctrl.cert.privacySecurityFramework" ng-disabled="!$ctrl.canEdit()">
              <option value="Approach 1">Approach 1</option>
              <option value="Approach 2">Approach 2</option>
              <option value="Approach 1;Approach 2">Approach 1;Approach 2</option>
          </select></td>
        </tr>
        <tr ng-if="$ctrl.cert.success && $ctrl.cert.sed !== null">
          <td><label class="control-label" for="data_sed{{ $ctrl.cert.number }}">SED</label></td>
          <td>
            <select class="form-control input-sm" id="data_sed{{ $ctrl.cert.number }}" name="data_sed" ng_model="$ctrl.cert.sed" ng-options="b.value as b.name for b in $ctrl.options" ng-ng-disabled="$ctrl.cert.certificationEdition.name === '2015'" ng-disabled="!$ctrl.canEdit()"></select>
            <div class="text-warning" ng-if="(($ctrl.editForm.data.$dirty && $ctrl.cert.success) || $ctrl.editForm.data_sed.$dirty) && $ctrl.cert.sed">Use the "Safety Enhanced Design (SED)" panel to edit SED information for this Criteria.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button ng-disabled="$ctrl.editForm.$invalid" class="btn btn-ai-success btn-block" ng-click="$ctrl.save()">Save Certification Criteria</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()">Cancel Edits</button>
  </div>
</div>
