<div role="modal" aria-labeled-by="edit-criteria-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-criteria-label">Certification Criteria: {{ $ctrl.cert.number }}</h4>
  </div>
  <div class="modal-body" ng-form="$ctrl.editForm">
    <input type="checkbox" ng-model="$ctrl.cert.success" id="data{{ $ctrl.cert.number }}" name="data"></input>
    <label class="control-label" for="data{{ $ctrl.cert.number }}">{{ $ctrl.cert.number }}: {{ $ctrl.cert.title }}</label>
    <div ng-if="$ctrl.cert.success">
      <input type="checkbox" ng-model="$ctrl.cert.metViaAdditionalSoftware" id="data_additionalSoftware{{ $ctrl.cert.number }}" name="data_additionalSoftware"></input>
      <label class="control-label" for="data_additionalSoftware{{ $ctrl.cert.number }}">Certification met via relied upon software</label>
      <ai-additional-software additional-software="$ctrl.cert.additionalSoftware" is-editing="true" ng-if="$ctrl.cert.metViaAdditionalSoftware"></ai-additional-software>
    </div>

    <!--This table is displayed if the criteria is NOT attested to-->
    <table class="table table-striped" ng-if="!$ctrl.cert.success && ($ctrl.cert.g1Success !== null || $ctrl.cert.g1MacraMeasures || $ctrl.cert.g2Success !== null || $ctrl.cert.g2MacraMeasures)">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-if="$ctrl.cert.g1Success !== null">
            <td><label class="control-label" for="data_g1Success{{ $ctrl.cert.number }}">Measure Successfully Tested for G1</label></td>
            <td><select class="form-control input-sm" id="data_g1Success{{ $ctrl.cert.number }}" name="data_g1Success" ng_model="$ctrl.cert.g1Success" ng-options="b.value as b.name for b in $ctrl.options"></select></td>
          </tr>
          <tr ng-if="$ctrl.cert.g1MacraMeasures">
            <td><label class="control-label" for="data_g1MacraMeasures{{ $ctrl.cert.number }}">Measure<span ng-if="$ctrl.cert.g1MacraMeasures.length !== 1">s</span> Successfully Tested for G1</label></td>
            <td>
              <button id="clear-selection-g1macrameasures" class="btn btn-small btn-link pull-right" ng-click="$ctrl.cert.g1MacraMeasures=[];" ng-if="$ctrl.cert.g1MacraMeasures && $ctrl.cert.g1MacraMeasures.length !== 0">Clear Selection(s)<span class="sr-only">of G1 Macra Measures</span></button>
              <select multiple data-ng-attr-size="{{ $ctrl.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g1MacraMeasures{{ $ctrl.cert.number }}" name="data_g1MacraMeasures" ng_model="$ctrl.cert.g1MacraMeasures" ng-options="m as m.abbreviation for m in $ctrl.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select>
            </td>
          </tr>
          <tr ng-if="$ctrl.cert.g2Success !== null">
            <td><label class="control-label" for="data_g2Success{{ $ctrl.cert.number }}">Measure Successfully Tested for G2</label></td>
            <td><select class="form-control input-sm" id="data_g2Success{{ $ctrl.cert.number }}" name="data_g2Success" ng_model="$ctrl.cert.g2Success" ng-options="b.value as b.name for b in $ctrl.options"></select></td>
          </tr>
          <tr ng-if="$ctrl.cert.g2MacraMeasures">
            <td><label class="control-label" for="data_g2MacraMeasures{{ $ctrl.cert.number }}">Measure<span ng-if="$ctrl.cert.g2MacraMeasures.length !== 1">s</span> Successfully Tested for G2</label></td>
            <td>
              <button id="clear-selection-g2macrameasures" class="btn btn-small btn-link pull-right" ng-click="$ctrl.cert.g2MacraMeasures=[];" ng-if="$ctrl.cert.g2MacraMeasures && $ctrl.cert.g2MacraMeasures.length !== 0">Clear Selection(s)<span class="sr-only">of G2 Macra Measures</span></button>
              <select multiple data-ng-attr-size="{{ $ctrl.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g2MacraMeasures{{ $ctrl.cert.number }}" name="data_g2MacraMeasures" ng_model="$ctrl.cert.g2MacraMeasures" ng-options="m as m.abbreviation for m in $ctrl.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select>
            </td>
          </tr>
      </tbody>
    </table>

    <!--This table is displayed if the criteria is attested to-->
    <table class="table table-striped" ng-if="$ctrl.cert.success">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="$ctrl.cert.gap !== null">
          <td><label class="control-label" for="data_gap{{ $ctrl.cert.number }}">GAP</label></td>
          <td><select class="form-control input-sm" id="data_gap{{ $ctrl.cert.number }}" name="data_gap" ng_model="$ctrl.cert.gap" ng-options="b.value as b.name for b in $ctrl.options"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.testStandards !== null">
          <td>Standard</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testStandard">Test Standard</label>
                <div class="col-sm-6">
                  <ai-expandable-list
                    identifier="testStandard"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.resources.testStandards.data"
                    selected-item-keys="$ctrl.selectedTestStandardKeys"
                    placeholder="Select a Test Standard"
                    on-change="$ctrl.testStandardOnChange(action)"
                    add-items="true"
                    add-items-option-text="Add a new Test Standard"
                    add-items-placeholder="Enter new Test Standard">
                  </ai-expandable-list>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.g1Success !== null">
          <td><label class="control-label" for="data_g1Success{{ $ctrl.cert.number }}">Measure Successfully Tested for G1</label></td>
          <td><select class="form-control input-sm" id="data_g1Success{{ $ctrl.cert.number }}" name="data_g1Success" ng_model="$ctrl.cert.g1Success" ng-options="b.value as b.name for b in $ctrl.options"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.g1MacraMeasures">
          <td><label class="control-label" for="data_g1MacraMeasures{{ $ctrl.cert.number }}">Measure<span ng-if="$ctrl.cert.g1MacraMeasures.length !== 1">s</span> Successfully Tested for G1</label></td>
          <td>
            <button id="clear-selection-g1macrameasures" class="btn btn-small btn-link pull-right" ng-click="$ctrl.cert.g1MacraMeasures=[];" ng-if="$ctrl.cert.g1MacraMeasures && $ctrl.cert.g1MacraMeasures.length !== 0">Clear Selection(s)<span class="sr-only">of G1 Macra Measures</span></button>
            <select multiple data-ng-attr-size="{{ $ctrl.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm"
                    id="data_g1MacraMeasures{{ $ctrl.cert.number }}" name="data_g1MacraMeasures" ng_model="$ctrl.cert.g1MacraMeasures"
                    ng-options="m as (m.abbreviation + (m.removed ? ' (Removed)' : '')) for m in $ctrl.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.g2Success !== null">
          <td><label class="control-label" for="data_g2Success{{ $ctrl.cert.number }}">Measure Successfully Tested for G2</label></td>
          <td><select class="form-control input-sm" id="data_g2Success{{ $ctrl.cert.number }}" name="data_g2Success" ng_model="$ctrl.cert.g2Success" ng-options="b.value as b.name for b in $ctrl.options"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.g2MacraMeasures">
          <td><label class="control-label" for="data_g2MacraMeasures{{ $ctrl.cert.number }}">Measure<span ng-if="$ctrl.cert.g2MacraMeasures.length !== 1">s</span> Successfully Tested for G2</label></td>
          <td>
            <button id="clear-selection-g2macrameasures" class="btn btn-small btn-link pull-right" ng-click="$ctrl.cert.g2MacraMeasures=[];" ng-if="$ctrl.cert.g2MacraMeasures && $ctrl.cert.g2MacraMeasures.length !== 0">Clear Selection(s)<span class="sr-only">of G2 Macra Measures</span></button>
            <select multiple data-ng-attr-size="{{ $ctrl.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm"
                    id="data_g2MacraMeasures{{ $ctrl.cert.number }}" name="data_g2MacraMeasures" ng_model="$ctrl.cert.g2MacraMeasures"
                    ng-options="m as (m.abbreviation + (m.removed ? ' (Removed)' : '')) for m in $ctrl.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.testFunctionality !== null">
          <td>Functionality Tested</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testFunctionality">Functionality Tested</label>
                <div class="col-sm-6">
                  <ai-expandable-list
                    identifier="testFunctionality"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.sortedTestFunctionalities"
                    selected-item-keys="$ctrl.selectedTestFunctionalityKeys"
                    placeholder="Select a Test Functionality"
                    on-change="$ctrl.testFunctionalityOnChange(action)">
                  </ai-expandable-list>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.testProcedures !== null">
          <td>Test procedure</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testProcedures">Test Procedure</label>
                <div class="col-sm-6">
                  <ai-expandable-list
                    identifier="testProcedures"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.availableTestProcedures"
                    selected-item-keys="$ctrl.selectedTestProcedureKeys"
                    placeholder="Select a Test Procedure"
                    on-change="$ctrl.testProceduresOnChange(action)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="false">
                  </ai-expandable-list>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.testToolsUsed !== null">
          <td>Test tool</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testTools">Test Tool</label>
                <div class="col-sm-6">
                  <ai-expandable-list
                    identifier="testTools"
                    item-key="id"
                    item-text="dropDownText"
                    items="$ctrl.resources.testTools.data"
                    item-disabled="$ctrl.isToolDisabled(item)"
                    selected-item-keys="$ctrl.selectedTestToolKeys"
                    placeholder="Select a Test Tool"
                    on-change="$ctrl.testToolsOnChange(action)"
                    on-validate="$ctrl.testToolValidation(item)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="true">
                  </ai-expandable-list>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.testDataUsed !== null && $ctrl.availableTestData && $ctrl.availableTestData.length > 0">
          <td>Test data</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="testData">Test Data</label>
                <div class="col-sm-6">
                  <ai-expandable-list
                    identifier="testData"
                    item-key="id"
                    item-text="name"
                    items="$ctrl.availableTestData"
                    selected-item-keys="$ctrl.selectedTestDataKeys"
                    placeholder="Select Test Data"
                    on-change="$ctrl.testDataOnChange(action)"
                    additional-input="true"
                    additional-input-label="Version"
                    additional-input-max-length="50"
                    additional-input-required="true"
                    additional-input2="true"
                    additional-input2-label="Alteration"
                    additional-input2-required="false">
                  </ai-expandable-list>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.apiDocumentation !== null">
          <td><label class="control-label" for="data_api{{ $ctrl.cert.number }}">API Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_api{{ $ctrl.cert.number }}" name="data_apiDocumentation" ng-model="$ctrl.cert.apiDocumentation" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_apiDocumentation.$error.maxlength">Field is too long</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.exportDocumentation !== null">
          <td><label class="control-label" for="data_export{{ $ctrl.cert.number }}">Export Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_export{{ $ctrl.cert.number }}" name="data_exportDocumentation" ng-model="$ctrl.cert.exportDocumentation" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_exportDocumentation.$error.maxlength">Field is too long</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.attestationAnswer !== null">
          <td><label class="control-label" for="data_attestationAnswer{{ $ctrl.cert.number }}">Attestation</label></td>
          <td><select class="form-control input-sm" id="data_attestationAnswer{{ $ctrl.cert.number }}" name="data_attestationAnswer" ng_model="$ctrl.cert.attestationAnswer" ng-options="b.value as b.name for b in $ctrl.yesNo"></select></td>
        </tr>
        <tr ng-if="$ctrl.cert.documentationUrl !== null">
          <td><label class="control-label" for="data_documentation{{ $ctrl.cert.number }}">Documentation</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_documentation{{ $ctrl.cert.number }}" name="data_documentationUrl" ng-model="$ctrl.cert.documentationUrl" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_documentationUrl.$error.maxlength">Field is too long</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.useCases !== null && $ctrl.cert.attestationAnswer">
          <td><label class="control-label" for="data_use{{ $ctrl.cert.number }}">Use Case(s)</label></td>
          <td>
            <input class="form-control input-sm" type="url" id="data_use{{ $ctrl.cert.number }}" name="data_useCases" ng-model="$ctrl.cert.useCases" ng-maxlength="1024"></input>
            <div class="text-danger" ng-if="$ctrl.editForm.data_useCases.$error.maxlength">Field is too long</div>
          </td>
        </tr>
        <tr ng-if="$ctrl.cert.privacySecurityFramework !== null">
          <td><label class="control-label" for="data_psFramework{{ $ctrl.cert.number }}">Privacy &amp; Security Framework</label></td>
          <td><select class="form-control input-sm" id="data_psFramework{{ $ctrl.cert.number }}" name="data_psFramework" ng_model="$ctrl.cert.privacySecurityFramework">
              <option value="Approach 1">Approach 1</option>
              <option value="Approach 2">Approach 2</option>
              <option value="Approach 1;Approach 2">Approach 1;Approach 2</option>
          </select></td>
        </tr>
        <tr ng-if="$ctrl.cert.sed !== null">
          <td><label class="control-label" for="data_sed{{ $ctrl.cert.number }}">SED</label></td>
          <td>
            <select class="form-control input-sm" id="data_sed{{ $ctrl.cert.number }}" name="data_sed" ng_model="$ctrl.cert.sed" ng-options="b.value as b.name for b in $ctrl.options" ng-disabled="$ctrl.cert.certificationEdition.name === '2015'"></select>
            <div class="text-warning" ng-if="(($ctrl.editForm.data.$dirty && $ctrl.cert.success) || $ctrl.editForm.data_sed.$dirty) && $ctrl.cert.sed">Use the "Safety Enhanced Design (SED)" panel to edit SED information for this Criteria.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button ng-disabled="$ctrl.editForm.$invalid" class="btn btn-ai-success btn-block" ng-click="$ctrl.save()">Save Certification Criteria</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()">Cancel Edits</button>
  </div>
</div>
