<div class="panel {{panelClass || 'panel-default'}}">
  <div class="panel-heading">
    <h4 class="panel-title" style="color:#fa39c3">
      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading" aria-expanded="{{isOpen}}">
        <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
        <i class="fa fa-lg pull-right" ng-class="isOpen ? 'fa-caret-down' : 'fa-caret-right'"></i>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" collapse="!isOpen">
    <div class="panel-body" style="text-align: right" ng-transclude></div>
  </div>
</div>
