<div>
  <span class="pull-right">
    <a ui-sref="listing({id: $ctrl.listing.id})"><i class="fa fa-eye"></i> View Product Listing</a>
  </span>
  <table class="table" id="surveillance-search-single-result">
    <thead class="sr-only">
      <tr>
        <th scope="col">Surveillance Listing Data Type</th>
        <th scope="col">Surveillance Listing Data Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">CHPL Product Number</th>
        <td>{{ $ctrl.listing.chplProductNumber }}</td>
      </tr>
      <tr>
        <th scope="row">Certification Status</th>
        <td>{{ $ctrl.listing.currentStatus.status.name }}</td>
      </tr>
      <tr>
        <th scope="row">Developer</th>
        <td>{{ $ctrl.listing.developer.name }}</td>
      </tr>
      <tr>
        <th scope="row">Product</th>
        <td>{{ $ctrl.listing.product.name }}</td>
      </tr>
      <tr>
        <th scope="row">Version</th>
        <td>{{ $ctrl.listing.version.version }}</td>
      </tr>
      <tr>
        <th scope="row">Certification Edition</th>
        <td>{{ $ctrl.listing.certificationEdition.name }} <span ng-if="$ctrl.listing.curesUpdate">Cures Update</span></td>
      </tr>
      <tr>
        <th scope="row">Certifying Body</th>
        <td>{{ $ctrl.listing.certifyingBody.name }}</td>
      </tr>
      <tr>
        <th scope="row">Certification Date</th>
        <td>{{ $ctrl.DateUtil.getCertificationDay($ctrl.listing) }}</td>
      </tr>
    </tbody>
  </table>
  <h3>Surveillance</h3>
  <ai-surveillance allow-editing="$ctrl.canEdit()"
                   certified-product="$ctrl.listing"></ai-surveillance>
</div>
