<div class="direct-reviews">
  <div ng-if="!$ctrl.directReviews || $ctrl.directReviews.length === 0">
    No Direct Reviews have been conducted for this listing
  </div>
  <div ng-repeat="dr in $ctrl.directReviews" class="direct-review panel-ai">
    <div class="direct-review__header panel-heading" ng-class="dr.endDate ? 'direct-review__header--closed' : 'direct-review__header--open'" ng-click="dr.open = !dr.open">
      <div class="direct-review__header-toggle"><i class="fa fa-lg" ng-class="dr.open ? 'fa-caret-down' : 'fa-caret-right'"></i></div>
      <div class="direct-review__header-title">{{ dr.endDate ? 'Closed' : 'Open' }} Direct Review</div>
      <div class="direct-review__header-subtitle">{{ dr.endDate ? 'ended ' + (dr.endDate | date : 'mediumDate' : 'UTC')  : dr.startDate ? 'began ' + (dr.startDate | date : 'mediumDate' : 'UTC') : 'has not started' }}</div>
    </div>
    <div class="direct-review__basic-information panel-body" ng-if="dr.open">
      <div class="direct-review__start">
        <div class="data-label">
          Date review began<button class="direct-review__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button>
        </div>
        <div class="direct-review__data-element">
          {{ dr.startDate ? (dr.startDate | date : 'mediumDate' : 'UTC') : 'Has not started' }}
        </div>
      </div>
      <div class="direct-review__end">
        <div class="data-label">
          Date review ended<button class="direct-review__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button>
        </div>
        <div class="direct-review__data-element">
          {{ dr.endDate ? (dr.endDate | date : 'mediumDate' : 'UTC') : 'Has not ended' }}
        </div>
      </div>
      <div class="direct-review__circumstances">
        <div class="data-label">
          Circumstance<span ng-if="dr.circumstances.length !== 1">s</span><button class="direct-review__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button>
        </div>
        <div class="direct-review__data-element" ng-if="dr.circumstances && dr.circumstances.length > 0">
          <ul>
            <li ng-repeat="c in dr.circumstances">{{ c }}</li>
          </ul>
        </div>
        <div class="direct-review__data-element" ng-if="!dr.circumstances || dr.circumstances.length === 0">
          No circumstances reported
        </div>
      </div>
      <div class="direct-review__nonconformities">
        <chpl-direct-reviews-nonconformities nonconformities="dr.nonconformities"></chpl-direct-reviews-nonconformities>
      </div>
    </div>
  </div>
</div>
