{
  "plugins": [
    "angular",
    "jest-dom",
    "react",
    "react-hooks"
  ],
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect",
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": ["src/app", "node_modules"],
      },
    },
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "amd": true,
    "es6": true,
    "jest": true,
  },
  "globals": {
    "angular": true,
    "inject": true,
    "module": true,
    "$": true,
    "$$": true,
    "browser": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["off"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/order": ["error", {"newlines-between": "always"}],
    "react/forbid-prop-types": ["warn"],
  },
  "overrides": [
    {
      "files": ["*.jsx", "*.spec.js", "jest.config.js", "karma.conf.js", "wdio.conf.js", "webpack.config.js"],
      "rules": {
        "no-console": ["off"],
      },
    },
  ],
}
