{
    "plugins": [
        "angular",
        "jest-dom",
        "react",
        "react-hooks"
    ],
    "extends": [
        "airbnb",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "env": {
        "browser": true,
        "jasmine": true,
        "amd": true,
        "es6": true,
        "jest": true,
    },
    "globals": {
        "angular": true,
        "inject": true,
        "module": true,
    },
    "parser": "babel-eslint",
    "overrides": [
    {
    "files": ["*.jsx", "*.js"],
    "rules": {
    "max-len": ["off"],
    },
    },
    ],
}
