{
    "plugins": [
        "angular",
    ],
    "extends": [
        "eslint:recommended",
        "plugin:angular/johnpapa",
    ],
    "env": {
        "browser": true,
        "jasmine": true,
    },
    "globals": {
        "angular": true,
        "module": true,
        "inject": true,
    },
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "curly": ["error"],
        "default-case": ["error"],
        "eol-last": ["error"],
        "eqeqeq": ["error"],
        "func-call-spacing": ["error"],
        "indent": ["error"],
        "key-spacing": ["error"],
        "keyword-spacing": ["error"],
        "no-multi-spaces": ["error"],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-self-compare": ["error"],
        "no-tabs": ["error"],
        "no-trailing-spaces": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-useless-return": ["error"],
        "no-whitespace-before-property": ["error"],
        "quotes": ["error", "single"],
        "sort-vars": ["error"],
        "space-before-function-paren": ["error"],
        "yoda": ["error", "never", { "exceptRange": true }],
        "angular/di-order": ["error"],
        "angular/file-name": ["off"],
        "angular/function-type": ["off"],
    }
}
