.idea/
.tmp/
.project
.settings/
.vscode/
node_modules/
test_reports/
.sass-cache/
prod-website.sh
generate-release-notes.sh
ready-for-deployment.sh
ready-for-test.sh
ready-for-integration.sh
reset-qa.sh
reset-local.sh
update-pr.sh
e2e/config/credentials.js
yarn-error.log
e2e/config/urls.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
