<div class="row">
  <div class="col-sm-12">
    <p>Since the start of the ONC Health IT Certification Program, there have been three certification editions: 2011, 2014, and 2015. The charts below describe the transition between each edition by certified health IT developers. The regulations for each edition can be found <a href ="https://www.healthit.gov/topic/certification-ehrs/certification-standards-and-regulations">here</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" ng-repeat="chart in $ctrl.incumbentDevelopersCounts">
    <div google-chart="" chart="chart" class="pie-chart"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>The 2011 edition has been retired and has no "Active" listings.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div google-chart="" chart="$ctrl.listingCount.edition['' + $ctrl.chartState.listingCountType].chart" class="column-chart"></div>
  </div>
  <div class="col-sm-6">
    <div google-chart="" chart="$ctrl.listingCount.class['' + $ctrl.chartState.listingCountType].chart" class="column-chart"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>
      View the number of Developers and Products with Certification Status:
      <select ng-model="$ctrl.chartState.listingCountType"
              ng-options="option.id as option.name for option in $ctrl.listingCountTypes | orderBy: 'name'">
      </select>
    </label>
    <br />
    <label>
      Stacking type:
      <select ng-model="$ctrl.chartState.isStacked" ng-change="$ctrl.updateChartStack()">
        <option value="percent">Percent</option>
        <option value="absolute">Absolute</option>
        <option value="false">None</option>
      </select>
    </label>
  </div>
</div>
