<div role="modal" aria-labeled-by="modal-label">
  <div class="modal-header">
    <button class="btn btn-default pull-right" aria-label="Close modal"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h2 class="modal-title" id="modal-label">Edit Fuzzy Type</h2>
  </div>
  <div class="modal-body form-horizontal" ng-form="vm.editForm">
    <h2>{{ vm.fuzzyType.fuzzyType }}</h2>
    <div class="form-group" ng-repeat="choice in vm.fuzzyType.choices track by $index">
      <label class="control-label col-md-4" for="choice-{{ $index }}">Choice {{ $index + 1 }}<span class="text-danger">*</span></label>
      <div class="col-md-8">
        <div class="input-group">
          <input class="input-sm form-control" type="text" required ng-model="vm.fuzzyType.choices[$index]" id="choice-{{ $index }}" name="choice{{ $index }}"></input>
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-sm" ng-click="vm.fuzzyType.choices.splice($index, 1)"><i class="fa fa-trash"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="vm.editForm['choice' + $index].$touched && vm.editForm['choice' + $index].$error.required">Choice is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-ai pull-right" ng-click="vm.fuzzyType.choices = vm.fuzzyType.choices.concat('')"><i class="fa fa-plus"></i> Add Choice</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="(vm.editForm.$invalid || !vm.fuzzyType.choices || vm.fuzzyType.choices.length === 0) && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-repeat="choice in vm.fuzzyType.choices track by $index" ng-if="vm.editForm['choice' + $index].$error.required">Choice {{ $index + 1 }} is required</li>
        <li ng-if="!vm.fuzzyType.choices || vm.fuzzyType.choices.length === 0">At least one Choice must be entered</li>
      </ul>
    </div>
    <span class="pull-left">
      <button class="btn btn-warning"
              confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
              confirm-ok="Yes"
              confirm-cancel="No"
              confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
              ng-click="vm.cancel()"><i class="fa fa-cancel"></i> Cancel</button>
    </span>
    <span class="pull-right">
      <button ng-disabled="(vm.editForm.$invalid || !vm.fuzzyType.choices || vm.fuzzyType.choices.length === 0) && vm.showFormErrors" class="btn btn-ai-success"
              ng-mouseover="vm.showFormErrors = true"
              ng-click="vm.save()"><i class="fa fa-save"></i> Save</button>
    </span>
  </div>
</div>
