<div>
  <section class="row">
    <div class="col-md-12 main-content">
      <h2>Fuzzy Matching Management</h2>
      <p>For any given "Type", the list of "Choices" that the system uses to attempt to answer "Did you mean this?" is listed below. You may edit the available Choices to add, remove, or modify any of them. Changing an available Choice will not modify any Listings. If/When an ONC-ACB uploads or edits a Listing in such a way as to create a new possible Choice, it will be automatically added to the available Choices.</p>
      <h3>Fuzzy Matching Choices</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Match Type</th>
            <th scope="col">Choices</th>
            <th scope="col"><span class="sr-only">Action</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="type in vm.fuzzyTypes | orderBy: 'fuzzyType'">
            <td>{{ type.fuzzyType }}</td>
            <td>
              <ul>
                <li ng-repeat="choice in type.choices | orderBy: 'toString()'">{{ choice }}</li>
              </ul>
            </td>
            <td><button class="btn btn-ai" ng-click="vm.edit(type)"><i class="fa fa-pencil-square-o"></i> Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
