<div class="container-fluid">
  <span ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB', 'ROLE_ATL', 'ROLE_CMS_STAFF'])">
    <div class="row">
      <div class="col-sm-12">
        <h1>CHPL Administration</h1>
      </div>
    </div>
    <div class="main-content row" id="main-content" tabindex="-1">
      <div class="col-sm-12">
        <ui-view></ui-view>
      </div>
    </div>
  </span>
  <div class="main-content row splash-row" id="main-content" tabindex="-1" ng-if="!$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB', 'ROLE_ATL', 'ROLE_CMS_STAFF'])">
    <div class="col-md-6 col-md-offset-3 jumbotron">
      <chpl-login form-class=""
                  p-class="bg-success lead"
                  p-class-fail="bg-danger lead">
      </chpl-login>
    </div>
  </div>
</div>
