<ul class="list-unstyled">
  <li ng-repeat="item in vm.distinctItems">
    <label ng-class="{ 'emphasis' : vm.isNotDefault(item) }">
      <input type="checkbox"
             value="{{ item.value }}"
             ng-model="item.isSelected"
             ng-change="vm.toggleSelection(item.value)">{{ item.display ? item.display : item.value }}
    </label>
  </li>
  <li class="text-center">
    <label ng-class="{ 'emphasis' : vm.matchAll }">
      <input type="checkbox" ng-model="vm.matchAll" id="filter-match-all" ng-change="vm.filterChanged()" ng-show="false">
      Matching <u>{{ vm.matchAll ? 'all' : 'any' }}</u>
    </label>
  </li>
</ul>
