<div ng-controller="CompareController as vm" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Compare products</h1>
    </div>
    <div class="col-sm-4 text-right">
      <p><a href="#/search"><i class="fa fa-arrow-left fa-lg"></i> Return to search results</a></p>
    </div>
  </div>
  <div class="row main-content" id="mainContent" tabindex="-1">
    <div class="col-sm-12">
      <table class="table table-striped compare-table" aria-live="polite">
        <thead>
          <tr>
            <th><span class="sr-only">Category</span></th>
            <th ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.product.name }}<br />({{ product.developer.name }})</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="compare-rowLead">Version</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.product.version }}</td>
          </tr>
          <tr>
            <td class="compare-rowLead">Certification Edition</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.certificationEdition.name }}</td>
          </tr>
          <tr>
            <td class="compare-rowLead">Practice Type</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.practiceType.name }}</td>
          </tr>
          <tr>
            <td class="compare-rowLead">Certifying Body</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.certifyingBody.name }}</td>
          </tr>
          <tr>
            <td class="compare-rowLead">Certification Date</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.certificationDate | date }}</td>
          </tr>
          <tr>
            <td class="compare-rowLead">CHPL Product Number</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.chplProductNumber }}</td>
          </tr>
          <tr ng-click="vm.toggle('certifications')" class="clickable" aria-expanded="false">
            <td class="compare-rowLead"><i class="fa fa-lg" ng-class="vm.isShowing('certifications') ? 'fa-caret-down' : 'fa-caret-right'"></i> Certification Criteria<a href class="skip"><br />{{ vm.isShowing('certifications') ? 'Collapse' : 'Expand' }} certification criteria</a></td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.countCerts }} met</td>
          </tr>
          <tr ng-repeat="cert in vm.allCerts" ng-if="vm.isShowing('certifications')">
            <td class="compare-rowCert">{{cert.number + ": " + cert.title}}</td>
            <td class="compare-element" ng-repeat="item in cert.values | orderBy:'chplProductNumber'">
              <i class="fa fa-lg" ng-class="{'fa-check-square-o': item.success, 'fa-square-o': !item.success && item.allowed, 'fa-times': !item.allowed}"></i>
              <span ng-if="item.allowed" class="sr-only">{{ item.success ? 'meets' : 'does not meet'}}</span><span ng-if="!item.allowed" class="sr-only">not allowed</span>
            </td>
          </tr>
          <tr ng-click="vm.toggle('CQMs')" class="clickable" aria-expanded="false">
            <td class="compare-rowLead"><i class="fa fa-lg" ng-class="vm.isShowing('CQMs') ? 'fa-caret-down' : 'fa-caret-right'"></i> Clinical Quality Measures<a href class="skip"><br />{{ vm.isShowing('CQMs') ? 'Collapse' : 'Expand' }} CQMs</a></td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'">{{ product.countCqms }} met</td>
          </tr>
          <tr ng-repeat="cqm in vm.allCqms | orderBy:'title'" ng-if="vm.isShowing('CQMs')">
            <td class="compare-rowCert">{{cqm.displayId + ": " + cqm.title}}</td>
            <td class="compare-element" ng-repeat="item in cqm.values | orderBy:'chplProductNumber'">
              <i class="fa fa-lg" ng-class="{'fa-check-square-o': item.success && item.successVersions.length === 0, 'fa-square-o': !item.success && item.allowed, 'fa-times': !item.allowed}"></i>
              <b ng-if="item.successVersions.length > 0">{{ item.successVersions.join(', ') }}</b>
              <span ng-if="item.allowed" class="sr-only">{{ item.success ? 'meets' : 'does not meet'}}</span><span ng-if="!item.allowed" class="sr-only">not allowed</span>
            </td>
          </tr>
          <tr>
            <td class="compare-rowLead">View product details</td>
            <td class="compare-element" ng-repeat="product in vm.products | orderBy:'chplProductNumber'"><a href="#/product/{{ product.id }}">details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
