.compare-table th {
    text-align: center;
}

.compare-element {
    text-align: center;
}

.compare-rowLead {
    text-align: left;
    font-weight: bold;
}

.compare-rowLead {
    text-align: left;
}
