<span>
  <span ng-if="!$ctrl.isEditing">
    <span class="sr-only">Line 1: </span>{{ $ctrl.address.line1 }}<span ng-if="$ctrl.address.line2">, <span class="sr-only">Line 2: </span>{{ $ctrl.address.line2 }}</span><br />
    <span class="sr-only">City: </span>{{ $ctrl.address.city }}, <span class="sr-only">State: </span>{{ $ctrl.address.state }} <span class="sr-only">Zipcode: </span>{{ $ctrl.address.zipcode }}, <span class="sr-only">Country: </span>{{ $ctrl.address.country }}
  </span>
  <span ng-if="$ctrl.isEditing" ng-form="$ctrl.form">
    <div class="flex-container">
      <div class="flex-item">
        <label class="control-label" for="line1">Address <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.address.line1" id="line1" name="line1" ng-maxlength="250" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.line1.$touched) && $ctrl.form.line1.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.line1.$touched) && $ctrl.form.line1.$error.maxlength">Field is too long</div>
          <ul class="list-inline" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('line1')">
              <button class="btn btn-link merge-option"
                      ng-click="$ctrl.selectDifference('line1', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-item">
        <label class="control-label" for="line2">Line 2</label>
        <div>
          <input class="input-sm form-control" type="text" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.address.line2" id="line2" name="line2" ng-maxlength="250" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.line2.$touched) && $ctrl.form.line2.$error.maxlength">Field is too long</div>
          <ul class="list-inline" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('line2')">
              <button class="btn btn-link merge-option"
                      ng-click="$ctrl.selectDifference('line2', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <label class="control-label" for="city">City <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.address.city" id="city" name="city" ng-maxlength="250" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.city.$touched) && $ctrl.form.city.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.city.$touched) && $ctrl.form.city.$error.maxlength">Field is too long</div>
          <ul class="list-inline" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('city')">
              <button class="btn btn-link merge-option"
                      ng-click="$ctrl.selectDifference('city', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-item narrow">
        <label class="control-label" for="state">State <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.address.state" id="state" name="state" ng-maxlength="250" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.state.$touched) && $ctrl.form.state.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.state.$touched) && $ctrl.form.state.$error.maxlength">Field is too long</div>
          <ul class="list-inline" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('state')">
              <button class="btn btn-link merge-option"
                      ng-click="$ctrl.selectDifference('state', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-item narrow">
        <label class="control-label" for="zipcode">Zip <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.address.zipcode" id="zipcode" name="zipcode" ng-maxlength="25" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.zipcode.$touched) && $ctrl.form.zipcode.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.zipcode.$touched) && $ctrl.form.zipcode.$error.maxlength">Field is too long</div>
          <ul class="list-inline" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('zipcode')">
              <button class="btn btn-link merge-option"
                      ng-click="$ctrl.selectDifference('zipcode', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item narrow">
        <label class="control-label" for="country">Country <span class="text-danger" ng-if="$ctrl.valuesRequired()">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" ng-required="$ctrl.valuesRequired()" ng-disabled="$ctrl.isDisabled" ng-model="$ctrl.address.country" id="country" name="country" ng-maxlength="250" ng-change="$ctrl.update()"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.country.$touched) && $ctrl.form.country.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.country.$touched) && $ctrl.form.country.$error.maxlength">Field is too long</div>
          <ul class="list-inline" ng-if="$ctrl.mergeOptions">
            <li ng-repeat="option in $ctrl.getDifferences('country')">
              <button class="btn btn-link merge-option"
                      ng-click="$ctrl.selectDifference('country', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>
</span>
