<div ng-controller="AdminController as vm">
  <div class="row splash-row">
    <div class="col-md-8 col-md-offset-2 text-center" ng-if="vm.isAcbAdmin() && !vm.isChplAdmin()">
      <h1 class="spaced-out">ACB Administration</h1>
      <p>From this page, ACB staff can upload new certified products; manage existing health IT developers and certified products; and see reports on recent activity.</p>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center" ng-if="!vm.isAcbAdmin()">
      <h1 class="spaced-out">CHPL Administration</h1>
    </div>
  </div>

  <div class="row" ng-if="!vm.isAuthed()">
    <div class="col-md-4 col-md-offset-4">
      <ai-login form-class=""
                p-class="bg-danger lead">
      </ai-login>
    </div>
  </div>

  <section ng-if="vm.isAuthed()">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome, {{ vm.getUsername() }}</h2>
      </div>
    </div>
    <tabset class="admin-tabset">
      <tab ng-if="vm.isChplAdmin()" heading="User Management">
        <ai-user-management>
        </ai-user-management>
      </tab>
      <tab heading="Developer &amp; Product Management">
        <ai-vp-management>
        </ai-vp-management>
      </tab>
      <tab ng-if="vm.isChplAdmin() || vm.isAcbAdmin()" heading="ACB Management">
        <ai-acb-management>
        </ai-acb-management>
      </tab>
      <tab heading="Reports" select="vm.refresh()">
        <ai-reports trigger-refresh="vm.triggerRefresh(handler)">
        </ai-reports>
      </tab>
      <tab ng-if="vm.isChplAdmin()" heading="CMS version bundle management">
        <h2>Updating CMS Version bundles</h2>
      </tab>
    </tabset>
  </section> <!-- end authenticated user section -->
</div> <!-- end controller -->
