<div ng-controller="AdminController as vm">
  <div class="row splash-row" ng-if="!vm.isAuthed">
    <div class="col-md-4 col-md-offset-4 jumbotron">
      <ai-login form-class=""
                p-class="bg-danger lead">
      </ai-login>
    </div>
  </div>

  <section ng-if="vm.isAuthed">
    <div class="row">
      <div class="col-md-12">
        <h1>Welcome, {{ vm.username }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 admin-nav">
        <div class="panel panel-ai">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{'active': vm.navState.screen === 'dpManagement'}"><a href="" class="" ng-click="vm.changeScreen('dpManagement')">Developer &amp; Product Management</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'upload'}" ng-if="vm.navState.screen === 'dpManagement' && (vm.isAcbAdmin || vm.isAcbStaff)"><a href="" class="" ng-click="vm.changeSubNav('upload')">Upload Certified Products</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'confirm'}" ng-if="vm.navState.screen === 'dpManagement' && (vm.isAcbAdmin || vm.isAcbStaff)"><a href="" class="" ng-click="vm.changeSubNav('confirm')">Confirm Pending Product<span ng-if="vm.uploadingCps.length > 1">s</span> <span class="badge">{{ vm.uploadingCps.length }}</span> </a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'manage'}" ng-if="vm.navState.screen === 'dpManagement'"><a href="" class="" ng-click="vm.changeSubNav('manage')">Manage Developers &amp; Products</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'merge'}" ng-if="vm.navState.screen === 'dpManagement' && vm.isChplAdmin"><a href="" class="" ng-click="vm.changeSubNav('merge')">Merge Developers &amp; Products</a></li>

            <li ng-class="{'active': vm.navState.screen === 'userManagement'}" ng-if="vm.isChplAdmin"><a href="" class="" ng-click="vm.changeScreen('userManagement')">User Management</a></li>

            <li ng-class="{'active': vm.navState.screen === 'acbManagement'}" ng-if="vm.isChplAdmin || vm.isAcbAdmin"><a href="" class="" ng-click="vm.changeScreen('acbManagement')">ACB Managment</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.acbManagement === acb}" ng-if="vm.navState.screen === 'acbManagement'" ng-repeat="acb in vm.acbs | orderBy:'name' track by acb.id"><a href="" class="" ng-click="vm.changeAcb(acb)">{{ acb.name }}</a></li>

            <li ng-class="{'active': vm.navState.screen === 'reports'}"><a href="" class="" ng-click="vm.changeScreen('reports')">Reports</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'cp'}" ng-if="vm.navState.screen === 'reports'"><a href="" class="" ng-click="vm.changeSubNav('cp')">Certified Products</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'dev'}" ng-if="vm.navState.screen === 'reports'"><a href="" class="" ng-click="vm.changeSubNav('dev')">Developers</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'prod'}" ng-if="vm.navState.screen === 'reports'"><a href="" class="" ng-click="vm.changeSubNav('prod')">Products</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'acb'}" ng-if="vm.navState.screen === 'reports'"><a href="" class="" ng-click="vm.changeSubNav('acb')">ACBs</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'users'}" ng-if="vm.navState.screen === 'reports' && vm.isChplAdmin"><a href="" class="" ng-click="vm.changeSubNav('users')">Users</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'api_key'}" ng-if="vm.navState.screen === 'reports' && vm.isChplAdmin"><a href="" class="" ng-click="vm.changeSubNav('api_key')">API Key Usage</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'visitors'}" ng-if="vm.navState.screen === 'reports'"><a href="" class="" ng-click="vm.changeSubNav('visitors')">Visitors</a></li>

            <li ng-class="{'active': vm.navState.screen === 'apiKeyManagement'}" ng-if="vm.isChplAdmin"><a href="" class="" ng-click="vm.changeScreen('apiKeyManagement')">API Key Management</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 admin-inner-tab">
        <ai-vp-management ng-if="vm.navState.screen === 'dpManagement'"
                          work-type="vm.navState.dpManagement"></ai-vp-management>
        <ai-user-management ng-if="vm.navState.screen === 'userManagement'"></ai-user-management>
        <ai-acb-management ng-if="vm.navState.screen === 'acbManagement'"
                           work-type="vm.navState.workType"
                           active-acb="vm.activeAcb"></ai-acb-management>
        <ai-reports trigger-refresh="vm.triggerRefresh(handler)"
                    ng-if="vm.navState.screen === 'reports'"
                    work-type="vm.navState.reports"></ai-reports>
        <ai-api-key admin="true" ng-if="vm.navState.screen === 'apiKeyManagement'"></ai-api-key>
      </div>
    </div>
  </section> <!-- end authenticated user section -->
</div> <!-- end controller -->
