<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Download the CHPL</h1>
    </div>
  </div>
  <div class="main-content" id="mainContent" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <h2>Download the latest Certified Health IT Product List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <p>
          To download a list of certified health IT products or surveillance activities listed on the CHPL, please select one of the following, and then click the download button:
          <ul>
            <li>Certified Health IT Products
              <ul>
                <li><strong>All Listings:</strong> Entire collection of 2011, 2014, and 2015 Certified Products. Available as an XML file.</li>
                <li><strong>2011/2014/2015 Edition Products:</strong> Entire collection of a specified certification edition's certified products, including all data elements. Available as an XML file.</li>
                <li><strong>2014/2015 Edition Summary:</strong> Entire collection of a specified certification edition's certified products, with only a subset of data elements included. Data elements included are: Certification edition, CHPL ID, ONC-ACB Certification ID, Certification Date, ONC-ACB Name, Developer Name, Product Name, Version, Practice Type (only for 2014 Edition products), Certification Status, Previous Certifying ACB, Total Number of Corrective Action Plans Over Time, Count of Currently Open Corrective Action Plans, and Certification Criteria to which that Certified Product attests. Available as a CSV file.</li>
              </ul>
            </li>
            <li>Surveillance
              <ul>
                <li><strong>Surveillance Activity:</strong> Entire collection of surveillance activity reported to the CHPL. Available as a CSV file.</li>
                <li ng-if="vm.showRestricted()"><strong>Surveillance (Basic):</strong> Entire collection of surveillance activity reported to the CHPL, with only basic details about non-conformities. Includes statistics on timeframes related to discovered non-conformities. Available as a CSV file.</li>
                <li><strong>Non-Conformities:</strong> Collection of surveillance activities that resulted in a non-conformity. Available as a CSV file.</li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <label class="sr-only" for="downloadOption">Select which set of products to download</label>
          <select id="downloadOption" ng-model="vm.downloadOption" class="form-control">
            <option value="{{ vm.API }}/download?api_key={{ vm.API_KEY }}">Complete listing (xml)</option>
            <option value="{{ vm.API }}/download?api_key={{ vm.API_KEY }}&edition=2015">2015 edition products (xml)</option>
            <option value="{{ vm.API }}/download?api_key={{ vm.API_KEY }}&edition=2014">2014 edition products (xml)</option>
            <option value="{{ vm.API }}/download?api_key={{ vm.API_KEY }}&edition=2011">2011 edition products (xml)</option>
            <option value="{{ vm.API }}/download?api_key={{ vm.API_KEY }}&edition=2015&format=csv">2015 edition summary (csv)</option>
            <option value="{{ vm.API }}/download?api_key={{ vm.API_KEY }}&edition=2014&format=csv">2014 edition summary (csv)</option>
            <option value="{{ vm.API }}/surveillance/download?api_key={{ vm.API_KEY }}&type=all">Surveillance Activity</option>
            <option value="{{ vm.API }}/surveillance/download?api_key={{ vm.API_KEY }}&type=basic&authorization=Bearer%20{{ vm.getToken() }}" ng-if="vm.showRestricted()">Surveillance (Basic)</option>
            <option value="{{ vm.API }}/surveillance/download?api_key={{ vm.API_KEY }}">Non-Conformities</option>
          </select>
          <span class="input-group-btn">
            <a type="button" class="btn btn-ai-success" href="{{ vm.downloadOption }}"
               analytics-on="click" analytics-event="Download" analytics-properties="{ file: vm.downloadOption }"><i class="fa fa-cloud-download"></i> <span class="sr-only">Download</span></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
