<div id="fuzzy-type-{{ $ctrl.fuzzyType.fuzzyType }}" ng-form="$ctrl.form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ $ctrl.fuzzyType.fuzzyType }}</h4>
    </div>
    <div class="panel-body">
      <span ng-if="!$ctrl.isEditing">
        <span class="pull-right">
          <button class="btn btn-link btn-small" id="fuzzy-type-{{ $ctrl.fuzzyType.fuzzyType }}-edit" ng-click="$ctrl.edit()"><i class="fa fa-pencil-square-o"></i><span class="sr-only"> Edit Fuzzy Type</span></button>
        </span>
        Choices
        <ul>
          <li ng-repeat="choice in $ctrl.fuzzyType.choices">{{ choice }}</li>
        </ul>
      </span>
      <span ng-if="$ctrl.isEditing">
        <div class="form-group" ng-repeat="choice in $ctrl.fuzzyType.choices track by $index">
          <label class="control-label col-md-4" for="choice-{{ $index }}">Choice {{ $index + 1 }} <span class="text-danger">*</span></label>
          <div class="col-md-8">
            <div class="input-group">
              <input class="input-sm form-control" type="text" required ng-model="$ctrl.fuzzyType.choices[$index]" id="choice-{{ $index }}" name="choice{{ $index }}"></input>
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.fuzzyType.choices.splice($index, 1)"><i class="fa fa-trash"></i></button>
              </span>
            </div>
            <div class="text-danger" ng-if="$ctrl.form['choice' + $index].$touched && $ctrl.form['choice' + $index].$error.required">Choice is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-ai btn-block" ng-click="$ctrl.fuzzyType.choices = $ctrl.fuzzyType.choices.concat('')"><i class="fa fa-plus"></i><span class="sr-only"> Add Choice</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-danger text-left" ng-if="($ctrl.form.$invalid || !$ctrl.fuzzyType.choices || $ctrl.fuzzyType.choices.length === 0) && $ctrl.showFormErrors">
              The following error(s) must be fixed:
              <ul>
                <li ng-repeat="choice in $ctrl.fuzzyType.choices track by $index" ng-if="$ctrl.form['choice' + $index].$error.required">Choice {{ $index + 1 }} is required</li>
                <li ng-if="!$ctrl.fuzzyType.choices || $ctrl.fuzzyType.choices.length === 0">At least one Choice must be entered</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-ai-success btn-small pull-right" id="fuzzy-type-{{ $ctrl.fuzzyType.fuzzyType }}-save"
                    ng-disabled="($ctrl.form.$invalid || !$ctrl.fuzzyType.choices || $ctrl.fuzzyType.choices.length === 0) && $ctrl.showFormErrors"
                    ng-mouseover="$ctrl.showFormErrors = true"
                    ng-click="$ctrl.save()"><i class="fa fa-save"></i><span class="sr-only"> Save</span></button>
            <button class="btn btn-warning btn-small" id="fuzzy-type-{{ $ctrl.fuzzyType.fuzzyType }}-cancel" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
