<div class="row">
  <div class="col-sm-12">
    <div ng-if="vm.admin" class="main-content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Email</th>
            <th scope="col">API Key</th>
            <th scope="col">Last&nbsp;Used</th>
            <th scope="col">Warning&nbsp;Sent</th>
            <th scope="col"><span class="sr-only">Action</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.key }}</td>
            <td>{{ user.lastUsedDate | date : 'medium' }}</td>
            <td>{{ (user.deleteWarningSentDate | date : 'medium') || 'N/A' }}</td>
            <td><button class="btn btn-danger btn-block"
                        confirm="Are you sure you wish to revoke {{ user.name }}'s API Key?"
                        confirm-ok="Yes"
                        confirm-cancel="No"
                        confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                        ng-click="vm.revoke(user)"><i class="fa fa-trash-o"></i><span class="sr-only"> Revoke Key</span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
