<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1>Compare products</h1>
    </div>
    <div class="col-sm-4 text-right">
      <p><a ui-sref="search"><i class="fa fa-arrow-left fa-lg"></i> Return to search results</a></p>
    </div>
  </div>
  <div class="row main-content" id="main-content" tabindex="-1">
    <div class="col-sm-12">
      <div class="pull-right">
        <input type="checkbox" name="showAllPossible" id="show-all-possible" ng-model="$ctrl.showAllPossibles"></input>
        <label for="showAllPossible" class="control-label">See all Certification Criteria / Clinical Quality Measures</label>
      </div>
      <table class="table table-striped" aria-live="polite">
        <thead>
          <tr>
            <th scope="col"><span class="sr-only">Category</span></th>
            <th scope="col" ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">
              {{ listing.product.name }}<br />
              <ai-cms-widget-button
                product-id="{{ listing.id }}"
                product-name="{{ listing.product.name }}"
                chpl-product-number="{{ listing.chplProductNumber }}"
                ng-if="listing.certificationEdition.name === '2015'"></ai-cms-widget-button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Developer</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.developer.name }}</td>
          </tr>
          <tr>
            <th scope="row">Version</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.version.version }}</td>
          </tr>
          <tr>
            <th scope="row">Certification Edition</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.certificationEdition.name }} <span ng-if="listing.curesUpdate">Cures Update</span></td>
          </tr>
          <tr>
            <th scope="row">Certification Status</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.currentStatus.status.name }}</td>
          </tr>
          <tr ng-if="$ctrl.hasNon2015">
            <th scope="row">Practice Type</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.practiceType.name ? listing.practiceType.name : 'N/A' }}</td>
          </tr>
          <tr>
            <th scope="row">Certifying Body</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.certifyingBody.name }}</td>
          </tr>
          <tr>
            <th scope="row">Certification Date</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ $ctrl.DateUtil.getCertificationDay(listing) }}</td>
          </tr>
          <tr>
            <th scope="row">CHPL Product Number</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.chplProductNumber }}</td>
          </tr>
          <tr>
            <th scope="row">Number of Open Non-Conformities</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.countOpenNonconformities }}</td>
          </tr>
          <tr>
            <th scope="row"><button class="compare__toggle-section-button" id="toggle-certification-criteria" ng-click="$ctrl.toggle('certifications')" aria-expanded="{{ $ctrl.isShowing('certifications') }}"><i class="fa fa-lg" ng-class="$ctrl.isShowing('certifications') ? 'fa-caret-down' : 'fa-caret-right'"></i><span class="sr-only">{{ $ctrl.isShowing('certifications') ? 'Collapse' : 'Expand' }}</span> Certification Criteria</button></th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.countCerts }} met</td>
          </tr>
          <tr ng-repeat="cert in $ctrl.sortedCerts" ng-if="$ctrl.isShowing('certifications') && ($ctrl.allCerts[cert].atLeastOne || $ctrl.showAllPossibles)" ng-class="{ 'removed' : $ctrl.allCerts[cert].removed }">
            <th scope="row" class="compare-rowCert">
              <span ng-if="$ctrl.allCerts[cert].removed">Removed | </span>{{ $ctrl.allCerts[cert].number + ": " + $ctrl.allCerts[cert].title }} <button ng-if="$ctrl.allCerts[cert].removed" class="btn btn-link btn-xs" uib-tooltip="This certification criterion has been removed from the Program." tooltip-trigger="'mouseenter focus click'"><span class="sr-only">This certification criterion has been removed from the Program.</span><i class="fa fa-info-circle fa-lg"></i></button>
            </th>
            <td ng-repeat="item in $ctrl.allCerts[cert].values | orderBy:'certificationDate'">
              <i class="fa fa-lg" ng-class="{'fa-check-square-o': item.success, 'fa-square-o': !item.success && item.allowed, 'fa-times': !item.allowed}"></i>
              <span ng-if="item.allowed" class="sr-only">{{ item.success ? 'meets' : 'does not meet'}}</span><span ng-if="!item.allowed" class="sr-only">not allowed</span>
            </td>
          </tr>
          <tr>
            <th scope="row"><button class="compare__toggle-section-button" id="toggle-cqms" ng-click="$ctrl.toggle('CQMs')" aria-expanded="{{ $ctrl.isShowing('CQMs') }}"><i class="fa fa-lg" ng-class="$ctrl.isShowing('CQMs') ? 'fa-caret-down' : 'fa-caret-right'"></i><span class="sr-only">{{ $ctrl.isShowing('CQMs') ? 'Collapse' : 'Expand' }}</span> Clinical Quality Measures</button></th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">{{ listing.countCqms }} met</td>
          </tr>
          <tr ng-repeat="cqm in $ctrl.sortedCqms" ng-if="$ctrl.isShowing('CQMs') && ($ctrl.allCqms[$ctrl.allCqms[cqm].displayId].atLeastOne || $ctrl.showAllPossibles)">
            <th scope="row" class="compare-rowCert">{{$ctrl.allCqms[cqm].displayId + ": " + $ctrl.allCqms[cqm].title}}</th>
            <td ng-repeat="item in $ctrl.allCqms[cqm].values | orderBy:'certificationDate'">
              <i class="fa fa-lg" ng-class="{'fa-check-square-o': item.success && item.successVersions.length === 0, 'fa-square-o': !item.success && item.allowed, 'fa-times': !item.allowed}"></i>
              <strong ng-if="item.successVersions.length > 0">{{ item.successVersions.join(', ') }}</strong>
              <span ng-if="item.allowed" class="sr-only">{{ item.success ? 'meets' : 'does not meet'}}</span><span ng-if="!item.allowed" class="sr-only">not allowed</span>
            </td>
          </tr>
          <tr>
            <th scope="row">View listing details</th>
            <td ng-repeat="listing in $ctrl.listings | orderBy:'certificationDate'">
              <a ui-sref="listing({id: listing.id })" analytics-on="click" analytics-category="Compare Page" analytics-event="Go to Listing Details page" analytics-label="{{ listing.chplProductNumber }}">details</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
