.compare__toggle-section-button {
    color: #1a67a9;
    border: 0;
    background: transparent;
    margin: 0;
}

.compare__toggle-section-button:focus,
.compare__toggle-section-button:hover {
    color: #23527c;
    text-decoration: underline;
}

th.compare-rowCert {
    font-weight: normal;
}
