<div ng-controller="ResourcesController as vm" class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Resources</h1>
    </div>
  </div>
  <div class="main-content" id="mainContent" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <h2>Download the latest Certified Health IT Product List</h2>
        <div class="pull-right">
          <a type="button" class="btn btn-lg btn-ai-success" href="{{ vm.API }}/download?api_key={{ vm.API_KEY }}"><i class="fa fa-cloud-download"></i> Download</a>
        </div>
        <p>To access the complete listing of Certified Health Information Technology Products, including the 2011 edition products, 2014 edition products, and 2015 edition products, click the download button.</p>
      </div>
    </div>
    <div class="row">
	  <div class="col-sm-12">
		<div ng-form="vm.lookupForm" ng-submit="vm.lookupCertIds()" aria-live="polite">
		  <div class="form-group">
			<h2>Lookup CMS EHR Certification IDs</h2>
			<p>Use the box below to determine which products were used to create a specific CMS EHR Certification ID. Enter one or more CMS EHR Certification IDs to display the products which were used to create the associated CMS EHR Certification ID.<p>
			  <label for="certIdsField" class="control-label sr-only">CMS EHR Certification IDs to lookup</label>
			  <div class="input-group">
				<input type="text" class="form-control" id="certIdsField" placeholder="Enter one or more CMS EHR Certification IDs separated by a space, comma, or semi-colon" ng-model="vm.lookup.certIds"
					   ng-keyup="$event.keyCode === 13 && vm.lookupCertIds()"/>

				<span class="input-group-btn">
				  <button type="button" class="btn btn-ai" ng-click="vm.lookupCertIds()"><i class="fa fa-search"></i><span class="sr-only">Lookup Certification ID</span></button>
				</span>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
    <div class="row">
	  <div class="col-sm-12">

		<table id="lookupCertIdResults" class="table table-striped" ng-if="vm.lookupProducts && vm.lookupProducts.length > 0">
		  <thead>
			<tr>
			  <th scope="col"><span>CMS EHR Certification ID</span></th>
			  <th scope="col"><span>Certification ID Edition</span></th>
			  <th scope="col"><span>Product Name</span></th>
			  <th scope="col"><span>Version</span></th>
			  <th scope="col"><span>Vendor</span></th>
			  <th scope="col"><span>CHPL Product Number</span></th>
			  <th scope="col"><span>Product Edition</span></th>
			  <th scope="col"><span>Classification</span></th>
			  <th scope="col"><span>Practice Type</span></th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="row in vm.lookupProducts" >
			  <td>{{ row.certificationId }}</td>
			  <td>{{ row.certificationIdEdition }}</td>
			  <td>{{ row.name }}</td>
			  <td>{{ row.version }}</td>
			  <td>{{ row.vendor }}</td>
			  <td>{{ row.chplProductNumber }}</td>
			  <td>{{ row.year }}</td>
			  <td>{{ (row.classification === null ? "N/A" : row.classification)  }}</td>
			  <td>{{ (row.practiceType === null ? "N/A" : row.practiceType)  }}</td>
			</tr>
		  </tbody>
		</table>

		<div class="col-md-6" ng-show="vm.lookupProducts && vm.lookupProducts.length === 0" >
		  <p>No results found</p>
		</div>
		
		<div class="pull-right" ng-show="vm.lookupProducts && vm.lookupProducts.length > 0">
			<a type="button" class="btn btn-lg btn-ai-success" href="" ng-click="vm.download()"><i class="fa"></i> Download Results</a>
		</div>

	  </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Access API Documentation</h2>
        <div class="pull-right">
          <ai-api-key></ai-api-key>
        </div>
        <p>The ONC CHPL API provides programmatic access to ONC published data on Certified Health IT Products. ONC CHPL's API includes methods for retrieving a subset of our statistical data and the metadata that describes it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div ng-show="vm.swaggerLoading">API loading ...</div>
        <div swagger-ui
             url="vm.swaggerUrl"
             loading="vm.swaggerLoading"
             validator-url="false">
        </div>
      </div>
    </div>
  </div>
</div>
