<div st-table="$ctrl.displayedComplaints" st-safe-src="$ctrl.complaints" st-set-filter="customFilter" chpl-table-state-listener="$ctrl.tableStateListener(tableController)">
  <div ng-show="!$ctrl.isEditing && !$ctrl.isViewing">
    <chpl-filters
      clear-all-filters="$ctrl.onClearFilter()">
      <chpl-filters-header>
        <label for="data-filter" class="control-label">Filter</label>
        <input chpl-search="filterText" ng-model="$ctrl.filterText" name="dataFilter" id="data-filter" placeholder="ONC-ACB Complaint ID, ONC Complaint ID, Associated Certified Product, or Associated Criteria" class="form-control" type="search">
      </chpl-filters-header>
      <chpl-filters-saved>
        <chpl-saved-filter filter-type-name="Complaints" on-apply-filter="$ctrl.onApplyFilter(filter)" on-clear-filter="$ctrl.onClearFilter()" get-filter-data="$ctrl.getFilterData()"></chpl-saved-filter>
      </chpl-filters-saved>
      <chpl-filters-body>
        <chpl-filter title="ONC-ACB" has-changes="$ctrl.hasChanges['acbName']"
                     ng-if="$ctrl.filterItems.acbItems.length > 0">
          <st-list-multiple
            collection="$ctrl.complaints"
            predicate="acbName"
            has-changes="$ctrl.hasChanges['acbName']"
            fixed-items="$ctrl.filterItems.acbItems"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></st-list-multiple>
        </chpl-filter>
        <chpl-filter title="Status" has-changes="$ctrl.hasChanges['complaintStatusTypeName']"
                     ng-if="$ctrl.filterItems.complaintStatusTypeItems.length > 0">
          <st-list-multiple
            collection="$ctrl.complaints"
            predicate="complaintStatusTypeName"
            has-changes="$ctrl.hasChanges['complaintStatusTypeName']"
            fixed-items="$ctrl.filterItems.complaintStatusTypeItems"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></st-list-multiple>
        </chpl-filter>
        <chpl-filter title="Received Date" has-changes="$ctrl.hasChanges['receivedDate']">
          <chpl-date-range
            predicate="receivedDate"
            has-changes="$ctrl.hasChanges['receivedDate']"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></chpl-date-range>
        </chpl-filter>
        <chpl-filter title="Closed Date" has-changes="$ctrl.hasChanges['closedDate']">
          <chpl-date-range
            predicate="closedDate"
            has-changes="$ctrl.hasChanges['closedDate']"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></chpl-date-range>
        </chpl-filter>
        <chpl-filter title="Complainant Type" has-changes="$ctrl.hasChanges['complainantTypeName']"
                     ng-if="$ctrl.filterItems.complainantTypeItems.length > 0">
          <st-list-multiple
            collection="$ctrl.complaints"
            predicate="complainantTypeName"
            has-changes="$ctrl.hasChanges['complainantTypeName']"
            fixed-items="$ctrl.filterItems.complainantTypeItems"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></st-list-multiple>
        </chpl-filter>
        <chpl-filter title="Complainant Contacted" has-changes="$ctrl.hasChanges['complainantContacted']">
          <chpl-boolean-filter
            collection="$ctrl.complaints"
            predicate="complainantContacted"
            has-changes="$ctrl.hasChanges['complainantContacted']"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></chpl-boolean-filter>
        </chpl-filter>
        <chpl-filter title="Developer Contacted" has-changes="$ctrl.hasChanges['developerContacted']">
          <chpl-boolean-filter
            collection="$ctrl.complaints"
            predicate="developerContacted"
            has-changes="$ctrl.hasChanges['developerContacted']"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></chpl-boolean-filter>
        </chpl-filter>
        <chpl-filter title="ONC-ATL Contacted" has-changes="$ctrl.hasChanges['oncAtlContacted']">
          <chpl-boolean-filter
            collection="$ctrl.complaints"
            predicate="oncAtlContacted"
            has-changes="$ctrl.hasChanges['oncAtlContacted']"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></chpl-boolean-filter>
        </chpl-filter>
        <chpl-filter title="Informed ONC" has-changes="$ctrl.hasChanges['flagForOncReview']">
          <chpl-boolean-filter
            collection="$ctrl.complaints"
            predicate="flagForOncReview"
            has-changes="$ctrl.hasChanges['flagForOncReview']"
            register-clear-filter="$ctrl.registerClearFilter(clearFilter)"
            register-restore-state="$ctrl.registerRestoreState(restoreState)"
            ></chpl-boolean-filter>
        </chpl-filter>
      </chpl-filters-body>
    </chpl-filters>
    <div class="flex-container" ng-if="$ctrl.authService.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ONC_STAFF'])">
      <div class="flex-item text-right">
        <button class="btn btn-primary" id="download-results"
                ng-csv="$ctrl.csvComplaints" filename="{{ $ctrl.filename }}" add-bom="true"
                ng-disabled="!$ctrl.csvComplaints"
                csv-header="['complaint_id', 'ONC-ACB', 'Complainant Type Name', 'complainant_type_other', 'onc_complaint_id', 'acb_complaint_id', 'received_date', 'summary', 'actions', 'complainant_contacted', 'developer_contacted', 'onc_atl_contacted', 'informed_onc_per_170.523(s)', 'closed_date', 'developer_name', 'product_name', 'version', 'associated_listings', 'associated_surveillance', 'associated_criteria']"
                csv-column-order="['id', 'acbName', 'complainantTypeName', 'complainantTypeOther', 'oncComplaintId', 'acbComplaintId', 'csvReceivedDate', 'summary', 'actions', 'complainantContacted', 'developerContacted', 'oncAtlContacted', 'flagForOncReview', 'csvClosedDate', 'developerName', 'productName', 'versionName', 'csvListing', 'csvSurveillances', 'csvCriteria']">
          <i class="fa fa-cloud-download"></i> Download all complaints
        </button>
      </div>
    </div>
    <chpl-complaints-bridge
      ng-if="$ctrl.complaints"
      complaints="$ctrl.displayedComplaints"
      display-add="$ctrl.displayAdd"
      dispatch="::$ctrl.handleDispatch"></chpl-complaints-bridge>
  </div>
  <chpl-complaint-view-bridge
    ng-if="$ctrl.isViewing"
    complaint="$ctrl.complaint"
    dispatch="::$ctrl.handleDispatch"></chpl-complaint-view-bridge>
  <chpl-complaint-edit-bridge
    ng-if="$ctrl.isEditing"
    complaint="$ctrl.complaint"
    certification-bodies="$ctrl.certificationBodies"
    complainant-types="$ctrl.complainantTypes"
    criteria="$ctrl.criteria"
    listings="$ctrl.listings"
    errors="$ctrl.errorMessages"
    dispatch="::$ctrl.handleDispatch"></chpl-complaint-edit-bridge>
</div>
