<div class="container-fluid" id="nonconformities-page">
  <div class="pending" ng-if="vm.isPreLoading"></div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Nonconformities</h1>
    </div>
  </div>
  <div class="main-content" id="mainContent" tabindex="-1" st-table="vm.displayedCps" st-safe-src="vm.allCps" st-set-filter="customFilter" vm.totalItemCount="totalItemCount">
    <div class="row">
      <div class="col-sm-12">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.
        </p>
      </div>
    </div>
    <st-manage register-search="vm.registerSearch(search)" name-space="nonconformitiesTableState" />
    <div class="form-horizontal" ng-form="vm.searchForm" aria-live="polite">
      <div class="form-group" id="filters">
        <div class="col-sm-4">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control input-sm" id="generalFilter" placeholder="search by Developer, Product, Version, or CHPL ID"
                   ai-enhanced-text predicate="mainSearch" register-clear-filter="vm.registerClearTerm(clearFilter)" register-restore-state="vm.registerRestoreState(restoreState)" name-space="nonconformitiesTableState">
            <label for="generalFilter"><span class="sr-only">Search by Developer, Product, Version, or CHPL ID</span></label>
          </div>
        </div>
        <div class="col-sm-8">
          <ai-surveillance-filter ng-show="false" register-clear-filter="vm.registerClearFilter(clearFilter)" register-restore-state="vm.registerRestoreState(restoreState)" name-space="nonconformitiesTableState" initial-state="vm.defaultRefineModel.surveillance"></ai-surveillance-filter>
          <div uib-dropdown auto-close="outsideClick" class="btn-group" id="nonconformitiesFilter">
            <button class="btn btn-sm btn-ai dropdown-toggle" type="button" id="filter-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              <a ng-if="vm.isCategoryChanged(['acb','edition'])" href uib-tooltip="Filter has non-default option selected" tooltip-trigger="mouseenter focus click"><span class="sr-only">Filter has non-default option selected</span>*</a>
              Filter <i class="fa fa-filter"></i>
            </button>
            <div class="dropdown-menu row" aria-labeledby="filter-button" uib-dropdown-menu>
              <div class="col-sm-6">
                <strong>ONC-ACB</strong>
                <st-list-multiple collection="vm.allCps" fixed-items="vm.filterItems.acbItems" has-changes="vm.categoryChanged['acb']" predicate="acb" register-allow-all="vm.registerAllowAll(allowAll)" register-clear-filter="vm.registerClearFilter(clearFilter)" register-restore-state="vm.registerRestoreState(restoreState)" name-space="nonconformitiesTableState" hidden-options="true"></st-list-multiple>
              </div>
              <div class="col-sm-6">
                <strong>Certification Edition</strong>
                <st-list-multiple collection="vm.allCps" fixed-items="vm.filterItems.editionItems" has-changes="vm.categoryChanged['edition']" predicate="edition" register-allow-all="vm.registerAllowAll(allowAll)" register-clear-filter="vm.registerClearFilter(clearFilter)" register-restore-state="vm.registerRestoreState(restoreState)" name-space="nonconformitiesTableState"></st-list-multiple>
              </div>
              <div class="col-sm-12 text-center" ng-if="vm.isCategoryChanged(['acb','edition'])">
                <a href ng-click="vm.triggerClearFilters()">Clear Filters</a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- #filters -->
    </div><!-- filter form -->

    <div aria-live="polite">
      <div ng-if="vm.hasResults()" class="row">
        <div class="col-md-12 table-responsive">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <td colspan="8" class="text-center">
                  <div st-pagination="" st-items-by-page="vm.filterItems.pageSize" st-displayed-pages="10"></div>
                </td>
              </tr>
              <tr ng-if="vm.displayedCps && vm.displayedCps.length > 0">
                <th scope="col" st-sort="edition" st-skip-natural="true" class="search-header sort-none">Edition</th>
                <th scope="col" st-sort="developer" st-skip-natural="true" class="search-header sort-none">Developer</th>
                <th scope="col" st-sort="product" st-skip-natural="true" st-sort-default="true" class="search-header sort-none">Product</th>
                <th scope="col" st-sort="version" st-skip-natural="true" class="search-header sort-none">Version</th>
                <th scope="col" st-sort="chplProductNumber" st-skip-natural="true" class="search-header sort-none">CHPL ID</th>
                <th scope="col" st-sort="acb" st-skip-natural="true" class="search-header sort-none">ONC-ACB</th>
                <th scope="col" st-sort="openNonconformityCount" st-skip-natural="true" class="search-header sort-none"># Open NCs</th>
                <th scope="col" st-sort="closedNonconformityCount" st-skip-natural="true" class="search-header sort-none"># Closed NCs</th>
              </tr>
            </thead>
            <tfoot ng-if="vm.displayedCps && vm.displayedCps.length > 0">
              <tr>
                <td colspan="8" class="text-center">
                  <div class="text-right" ng-if="vm.displayedCps && vm.displayedCps.length > 0">
                    <label for="pageSizeTop" class="sr-only">Show how many results</label>
                    Showing up to&nbsp;
                    <select ng-model="vm.filterItems.pageSize" id="pageSizeTop"
                            ng-options="v as v for v in [50,100,250]">
                    </select>
                    &nbsp;results per page
                  </div>
                  <div st-pagination="" st-items-by-page="vm.filterItems.pageSize" st-displayed-pages="10"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="cp in vm.displayedCps">
                <td>{{ cp.edition }}</td>
                <td>{{ cp.developer }}</td>
                <td>{{ cp.product }}</td>
                <td>{{ cp.version }}</td>
                <td><a href="#/product/{{ cp.id }}">{{ cp.chplProductNumber }}</a></td>
                <td>{{ cp.acb }}</td>
                <td>{{ cp.openNonconformityCount }}</td>
                <td>{{ cp.closedNonconformityCount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>  <!-- end of search results -->
  </div> <!-- #mainContent -->
</div>
