<div>
  <section class="row">
    <div class="col-md-12 main-content">
      <h2>Download the latest CMS listing</h2>
      <div>
        <button class="btn btn-lg btn-ai-success" ng-if="!$ctrl.isReady && !$ctrl.isProcessing" ng-click="$ctrl.getDownload()"><i class="fa fa-bolt"></i> Prepare download</button>
        <button class="btn btn-lg btn-ai-success" ng-if="!$ctrl.isReady && $ctrl.isProcessing"><i class="fa fa-spinner fa-spin"></i> Processing...</button>
        <button class="btn btn-lg btn-ai-success" ng-if="$ctrl.isReady"
           ng-csv="$ctrl.cmsArray" filename="{{ $ctrl.filename }}"
           csv-header="$ctrl.csvHeader" csv-column-order="$ctrl.csvColumnOrder"><i class="fa fa-cloud-download"></i> Download</button>
      </div>
    </div>
  </section> <!-- end download cms listing -->
  <section class="row">
    <div class="col-md-12 main-content spaced-out" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">
      <h3>Upload Meaningful Use Users</h3>
      <p>CSV files only</p>
      <div ng-if="$ctrl.uploadMessage.length > 0" ng-class="$ctrl.uploadSuccess ? 'bg-success' : 'bg-danger'">
        {{ $ctrl.uploadMessage }}
        <ul ng-if="$ctrl.uploadErrors.length > 0" ng-class="'bg-danger'">
          <li ng-repeat="error in $ctrl.uploadErrors">{{ error }}</li>
        </ul>
      </div>
      <form class="form form-horizontal" name="$ctrl.documentForm">
        <div class="row">
          <div ng-class="$ctrl.file ? 'col-sm-3' : 'col-sm-12'">
            <button type="button" class="btn btn-default" ngf-select ngf-accept="'.csv'"
                    ng-model="$ctrl.file" name="file" id="upload-button">Choose file to upload</button>
          </div>
          <div class="col-sm-3" ng-if="$ctrl.file">
            <strong>Filename: </strong>{{ $ctrl.file.name }}
          </div>
          <div class="col-sm-3" ng-if="$ctrl.file">
            <strong>File size: </strong>{{ $ctrl.file.size / 1024 / 1024 | number : 2 }} MB
          </div>
          <div class="col-sm-3" ng-if="$ctrl.file">
            <button type="button" class="btn btn-ai-success" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.file || !$ctrl.muuAccurateAsOfDateObject">
              <i class="fa fa-cloud-upload"></i> Upload
            </button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.file = undefined">
              <i class="fa fa-trash-o"></i> Remove
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="new-muu-date" class="col-sm-4">Enter the Accurate As of date for Meaningful Use Users associated with this upload</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.muuAccurateAsOfDateObject" is-open="$ctrl.accurateAsOfPicker" close-text="Close" id="new-muu-date" name="newMuuDate" ng-model-options="{ timezone: 'UTC' }" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.accurateAsOfPicker = true"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
            <div class="text-danger" ng-if="$ctrl.documentForm.newMuuDate.$touched && $ctrl.documentForm.newMuuDate.$error.date">Improper format (mm/dd/yyyy)</div>
          </div>
        </div>
      </form>
    </div>
  </section> <!-- end upload meaningful use users -->
</div>
