<div>
  <div class="row">
    <div class="col-md-12">
      <h1>CHPL Overview</h1>
    </div>
  </div>

  <div class="row main-content">
    <div class="col-md-8 col-md-offset-2">
      <h2>What is the CHPL?</h2>
      <p>The Certified Health IT Product List (CHPL) is a comprehensive and authoritative listing of all certified Health Information Technology which has been successfully tested and certified in the ONC Health IT Certification program. All products listed on the CHPL have been tested by an Accredited Testing Laboratory (ATL) and certified by an Authorized Certification Body (ACB) to meet criteria adopted by the Secretary of Health and Human Services</p>
      <p>For more information on attesting for Meaningful Use, please see the <a href="https://www.cms.gov/regulations-and-guidance/legislation/ehrincentiveprograms/registrationandattestation.html">CMS EHR Incentive Program Registration & Attestation Page</a>.</p>
      <h3>How does the certification process work?</h3>
      <p>The ONC Certification Program was established to ensure that health IT adheres to the security, functionality, and technology requirements adopted by HHS. Authorized Certification Bodies (ACBs) certify Health IT products that were successfully tested by an Accredited Testing Laboratory (ATL) against the certification criteria adopted by HHS. Products listed on the CHPL have been successfully certified through the <a href="http://www.healthit.gov/policy-researchers-implementers/about-onc-health-it-certification-program">ONC Certification Program</a> by an ONC-ACB.</p>
      <p>Certification criteria establish the required capabilities, standards, and implementation specifications that a health information technology needs to meet in order to become certified under the ONC Certification Program. Certified Health IT Products support the achievement of Meaningful Use by eligible providers and hospitals under EHR Incentive Programs.</p>
      <h3>Which Certification Edition do I need to use to attest for Meaningful Use?</h3>
      <p>For more information on attesting to Meaningful Use, please refer to the <a href="https://www.cms.gov/regulations-and-guidance/legislation/ehrincentiveprograms/registrationandattestation.html">CMS Meaningful Use Registration and Attestation Page</a>.</p>
      <h3>What are clinical quality measures (CQMs)?</h3>
      <p>Clinical Quality Measures (CQMs) are used to measure and track the quality of healthcare services delivered by eligible providers, eligible hospitals, and critical access hospitals.</p>
      <p>For more information, please see the <a href="https://www.cms.gov/regulations-and-guidance/legislation/ehrincentiveprograms/clinicalqualitymeasures.html">Centers for Medicare and Medicaid Services CQM Basics page</a>.</p>
      <h2>USING THE CHPL WEBSITE</h2>
      <h3>How do I use the CHPL to select a Health Information Technology?</h3>
      <p>To search for a Certified Health Information Technology, type a keyword, such as a developer name or product name, into the main search area. Alternatively, you may choose to browse all certified products by clicking the 'View All Products' option, or use the 'Advanced Search' option to search for products matching specific criteria (e.g. certification criteria, clinical quality measurements, etc.). The CHPL will display your search results.</p>
      <h3>How do I compare products?</h3>
      <p>To compare products, please select the products you would like to compare and use the 'Compare Products' button to view the products side-by-side.</p>
      <h2>FOR EHR VENDORS</h2>
      <h3>How can a product be added to the CHPL?</h3>
      <p>To be listed on the CHPL, a Health Information Technology must first be successfully tested by an ATL, and then certified by an ONC-ACB against the <a href="http://www.healthit.gov/policy-researchers-implementers/standards-and-certification-regulations">certification criteria adopted by HHS</a>. For more information on the ONC Certification Program, ATLs, and ONC-ACBs, please see the <a href="http://www.healthit.gov/policy-researchers-implementers/about-onc-health-it-certification-program">ONC Health It Certification Program page</a>.</p>
      <h3>How do I report an error?</h3>
      <p>Errors or questions regarding product listings should be directed based on the table below. A list of ACB contact information can be found on <a href="http://www.healthit.gov/policy-researchers-implementers/certification-bodies-testing-laboratories">ONC's Certification Bodies and Testing Laboratories Page</a>.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Eligible Professionals &amp; Eligible Hospital complaints regarding an EHR product</td>
            <td>Please contact the vendor/developer</td>
          </tr>
          <tr>
            <td>Developer complaint against an ATL or ACB</td>
            <td>Please contact the ATL or ACB first, to resolve the issue. Complaints should be escalated to NVLAP or the ONC-AA if the issue persists.</td>
          </tr>
          <tr>
            <td>Product Listing on the CHPL</td>
            <td>Please contact the ATL or ACB that certified the product</td>
          </tr>
          <tr>
            <td>Other comments or complaints</td>
            <td>Please <a href="http://www.healthit.gov/newsroom/contacting-onc-office-certification">contact ONC's Office of Certification</a></td>
          </tr>
        </tbody>
      </table>
      <p>If the ACB cannot or does not address your issue, please <a href="http://www.healthit.gov/newsroom/contacting-onc-office-certification">contact ONC's Office of Certification.</a></p>
      <h2>ACB and ATL information</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>POC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" class="text-center lead">ACBs</td>
          </tr>
          <tr ng-repeat="acb in vm.acbs | orderBy: 'name'">
            <td>{{ acb.name }}</td>
            <td>{{ acb.acbCode }}</td>
            <td>{{ acb.contact }}</td>
          </tr>
          <tr>
            <td colspan="3" class="text-center lead">ATLs</td>
          </tr>
          <tr ng-repeat="atl in vm.atls | orderBy: 'name'">
            <td>{{ atl.name }}</td>
            <td>{{ atl.atlCode }}</td>
            <td>{{ atl.contact }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- end of other infographic -->
</div> <!-- end controller -->
