<div role="modal" aria-labeled-by="edit-nonconformity-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-nonconformity-label"><span ng-if="$ctrl.workType === 'edit'">Edit</span><span ng-if="$ctrl.workType === 'add'">Create</span> Non-Conformity</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="$ctrl.editForm">
    <div class="form-group">
      <label for="nonconformity-type" class="col-sm-3">Non-Conformity Type <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.nonconformityType" id="nonconformity-type" name="nonconformityType"
                ng-options="type as ((type.removed ? 'Removed | ' : '') + (type.number ? (type.number + ': '): '') + type.title) for type in $ctrl.data.nonconformityTypes.data | orderBy:$ctrl.sortNonconformityTypes" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.nonconformityType.$touched) && $ctrl.editForm.nonconformityType.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="date-of-determination-day" class="col-sm-3">Date Of Determination <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.dateOfDeterminationDay" is-open="$ctrl.nonconformity.dateOfDeterminationDayPicker" close-text="Close" id="date-of-determination-day" name="dateOfDeterminationDay" chpl-local-date-formatter required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.dateOfDeterminationDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.dateOfDeterminationDay.$touched) && $ctrl.editForm.dateOfDeterminationDay.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.dateOfDeterminationDay.$touched) && $ctrl.editForm.dateOfDeterminationDay.$error.parse">Improper format (MM/dd/yyyy)</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-approval-day" class="col-sm-3">Corrective Action Plan Approval Date <span class="text-danger" ng-if="$ctrl.nonconformity.capEndDay">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capApprovalDay" is-open="$ctrl.nonconformity.capApprovalDayPicker" close-text="Close" id="cap-approval-day" name="capApprovalDay" chpl-local-date-formatter ng-required="$ctrl.nonconformity.capEndDay">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capApprovalDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capApprovalDay.$touched) && $ctrl.editForm.capApprovalDay.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capApprovalDay.$touched) && $ctrl.editForm.capApprovalDay.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-start-day" class="col-sm-3">Corrective Action Plan Start Date <span class="text-danger" ng-if="$ctrl.nonconformity.capEndDay">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capStartDay" is-open="$ctrl.nonconformity.capStartDayPicker" close-text="Close" id="cap-start-day" name="capStartDay" chpl-local-date-formatter ng-required="$ctrl.nonconformity.capEndDay">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capStartDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capStartDay.$touched) && $ctrl.editForm.capStartDay.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capStartDay.$touched) && $ctrl.editForm.capStartDay.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-end-day" class="col-sm-3">Corrective Action Plan End Date</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capEndDay" is-open="$ctrl.nonconformity.capEndDayPicker" close-text="Close" id="cap-end-day" name="capEndDay" chpl-local-date-formatter ng-disabled="!$ctrl.nonconformity.capApprovalDay || !$ctrl.nonconformity.capStartDay">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capEndDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capEndDay.$touched) && $ctrl.editForm.capEndDay.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capEndDay.$touched) && $ctrl.nonconformity.capEndDay && $ctrl.nonconformity.capEndDay < $ctrl.nonconformity.capStartDay">Corrective Action Plan End Date must be after the Start Date</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-must-complete-day" class="col-sm-3">Corrective Action Plan Must Complete Date <span class="text-danger" ng-if="$ctrl.nonconformity.capApprovalDay">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capMustCompleteDay" is-open="$ctrl.nonconformity.capMustCompleteDayPicker" close-text="Close" id="cap-must-complete-day" name="capMustCompleteDay" chpl-local-date-formatter ng-required="$ctrl.nonconformity.capApprovalDay">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capMustCompleteDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capMustCompleteDay.$touched) && $ctrl.editForm.capMustCompleteDay.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="$ctrl.showFormErrors && $ctrl.editForm.capMustCompleteDay.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="non-conformity-close-day" class="col-sm-3">Non-conformity Close Date</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.nonconformityCloseDay" is-open="$ctrl.nonconformity.nonconformityCloseDayPicker" close-text="Close" id="non-conformity-close-day" name="nonconformityCloseDay" chpl-local-date-formatter>
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.nonconformityCloseDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.nonconformityCloseDay.$touched) && $ctrl.editForm.nonconformityCloseDay.$error.parse">Improper format (MM/dd/yyyy)</div>
      </div>
    </div>
    <div class="form-group">
      <label for="sites-passed" class="col-sm-3">Number of Sites Passed <span class="text-danger" ng-if="$ctrl.randomized">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="number" ng-model="$ctrl.nonconformity.sitesPassed" id="sites-passed" name="sitesPassed" ng-required="$ctrl.randomized" ng-disabled="!$ctrl.randomized && !$ctrl.disableValidation"></input>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesPassed.$touched) && $ctrl.editForm.sitesPassed.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesPassed.$touched) && $ctrl.editForm.sitesPassed.$error.number">Must be a number</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesPassed.$touched) && $ctrl.nonconformity.sitesPassed > $ctrl.nonconformity.totalSites">Must be less than or equal to the total number of sites</div>
      </div>
    </div>
    <div class="form-group">
      <label for="total-sites" class="col-sm-3">Total Sites <span class="text-danger" ng-if="$ctrl.randomized">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="number" ng-model="$ctrl.nonconformity.totalSites" id="total-sites" name="totalSites" ng-required="$ctrl.randomized" ng-disabled="!$ctrl.randomized && !$ctrl.disableValidation">
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.totalSites.$touched) && $ctrl.editForm.totalSites.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.totalSites.$touched) && $ctrl.editForm.totalSites.$error.number">Must be a number</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.totalSites.$touched) && $ctrl.nonconformity.totalSites > $ctrl.randomizedSitesUsed">Must be less than or equal to the number of randomized sites used: {{ $ctrl.randomizedSitesUsed }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="summary" class="col-sm-3">Summary <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="text" ng-model="$ctrl.nonconformity.summary" id="summary" name="summary" required>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.summary.$touched) && $ctrl.editForm.summary.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="findings" class="col-sm-3">Findings <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <textarea class="input-sm form-control" ng-model="$ctrl.nonconformity.findings" id="findings" name="findings" required></textarea>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.findings.$touched) && $ctrl.editForm.findings.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="developer-explanation" class="col-sm-3">Developer Explanation</label>
      <div class="col-sm-9">
        <textarea class="input-sm form-control" ng-model="$ctrl.nonconformity.developerExplanation" id="developer-explanation" name="developerExplanation"></textarea>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.developerExplanation.$touched) && $ctrl.editForm.developerExplanation.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="resolution" class="col-sm-3">Resolution <span class="text-danger" ng-if="$ctrl.nonconformity.nonconformityCloseDay">*</span></label>
      <div class="col-sm-9">
        <textarea class="input-sm form-control" ng-model="$ctrl.nonconformity.resolution" id="resolution" name="resolution" ng-required="$ctrl.nonconformity.nonconformityCloseDay" ng-disabled="!$ctrl.nonconformity.nonconformityCloseDay"></textarea>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.resolution.$touched) && $ctrl.editForm.resolution.$error.required">Field is required</div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.workType === 'edit' && $ctrl.nonconformity.documents.length > 0">
      <div class="col-sm-12">
        <h3>Supporting documentation</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">File Type</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="doc in $ctrl.nonconformity.documents">
              <td>{{ doc.fileName }}</td>
              <td>{{ doc.fileType }}</td>
              <td>
                <button class="btn btn-danger btn-block pull-left"
                        ng-if="doc.id"
                        confirm="Are you sure you wish to remove this documentation?"
                        confirm-ok="Yes"
                        confirm-cancel="No"
                        confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                        ng-click="$ctrl.deleteDoc(doc.id)"><i class="fa fa-trash-o"></i> Delete</button>
                <span ng-if="!doc.id">N/A</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-if="$ctrl.deleteMessage.length > 0" ng-class="$ctrl.deleteSuccess ? 'bg-success' : 'bg-danger'">
          {{ $ctrl.deleteMessage }}
          <ul ng-if="$ctrl.deleteErrors.length > 0" ng-class="'bg-danger'">
            <li ng-repeat="error in $ctrl.deleteErrors">{{ error.error }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="($ctrl.editForm.$invalid || ($ctrl.nonconformity.capEndDay && $ctrl.nonconformity.capEndDay < $ctrl.nonconformity.capStartDay)) && $ctrl.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="$ctrl.editForm.nonconformityType.$error.required">Non-Conformity Type is required</li>
        <li ng-if="$ctrl.editForm.nonconformityStatus.$error.required">Non-Conformity Status is required</li>
        <li ng-if="$ctrl.editForm.dateOfDeterminationDay.$error.required">Date of Determination is required</li>
        <li ng-if="$ctrl.editForm.dateOfDeterminationDay.$error.parse">Date of Determination is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capApprovalDay.$error.required">Corrective Action Plan Approval Date is required</li>
        <li ng-if="$ctrl.editForm.capApprovalDay.$error.parse">Corrective Action Plan Approval Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capStartDay.$error.required">Corrective Action Plan Start Date is required</li>
        <li ng-if="$ctrl.editForm.capStartDay.$error.parse">Corrective Action Plan Start Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capEndDay.$error.required">Corrective Action Plan End Date is required</li>
        <li ng-if="$ctrl.editForm.capEndDay.$error.parse">Corrective Action Plan End Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capMustCompleteDay.$error.required">Corrective Action Plan Must Complete Date is required</li>
        <li ng-if="$ctrl.editForm.capMustCompleteDay.$error.parse">Corrective Action Plan Must Complete Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.sitesPassed.$error.required">Number of sites passed is required</li>
        <li ng-if="$ctrl.editForm.sitesPassed.$error.number">Number of sites passed must be a number</li>
        <li ng-if="$ctrl.editForm.totalSites.$error.required">Total sites is required</li>
        <li ng-if="$ctrl.editForm.totalSites.$error.number">Number of total sites must be a number</li>
        <li ng-if="$ctrl.editForm.summary.$error.required">Summary is required</li>
        <li ng-if="$ctrl.editForm.findings.$error.required">Findings is required</li>
        <li ng-if="$ctrl.editForm.developerExplanation.$error.required">Developer Explanation is required</li>
        <li ng-if="$ctrl.editForm.resolution.$error.required">Resolution is required</li>
        <li ng-if="$ctrl.nonconformity.capEndDay && $ctrl.nonconformity.capEndDay < $ctrl.nonconformity.capStartDay">Corrective Action Plan End Date must be after the Start Date</li>
        <li ng-if="$ctrl.nonconformity.sitesPassed > $ctrl.nonconformity.totalSites">Sites passed must be less than or equal to the total number of sites</li>
        <li ng-if="$ctrl.nonconformity.totalSites > $ctrl.randomizedSitesUsed">Total sites must be less than or equal to the number of randomized sites used: {{ $ctrl.randomizedSitesUsed }}</li>
      </ul>
    </div>
    <button ng-disabled="($ctrl.editForm.$invalid || ($ctrl.nonconformity.capEndDay && $ctrl.nonconformity.capEndDay < $ctrl.nonconformity.capStartDay) || ($ctrl.nonconformity.totalSites > $ctrl.randomizedSitesUsed) || ($ctrl.nonconformity.sitesPassed > $ctrl.nonconformity.totalSites)) && $ctrl.showFormErrors && !$ctrl.disableValidation"
            class="btn btn-ai-success pull-right"
            ng-mouseover="$ctrl.showFormErrors = true"
            ng-click="$ctrl.save()"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><i class="fa fa-trash-o"></i> Cancel</button>
  </div>
</div>
