<div role="modal" aria-labeled-by="edit-nonconformity-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-nonconformity-label"><span ng-if="$ctrl.workType === 'edit'">Edit</span><span ng-if="$ctrl.workType === 'add'">Create</span> Non-Conformity</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="$ctrl.editForm">
    <div class="form-group">
      <label for="nonconformity-type" class="col-sm-3">Non-Conformity Type <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.nonconformityType" id="nonconformity-type" name="nonconformityType"
                ng-options="type as ((type.removed ? 'Removed | ' : '') +type.number + (type.title ? (': ' + type.title) : '')) for type in $ctrl.data.nonconformityTypes.data | orderBy:$ctrl.sortNonconformityTypes" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.nonconformityType.$touched) && $ctrl.editForm.nonconformityType.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="date-of-determination" class="col-sm-3">Date Of Determination <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.dateOfDeterminationObject" is-open="$ctrl.nonconformity.dateOfDeterminationPicker" close-text="Close" id="date-of-determination" name="dateOfDetermination" ng-model-options="{ timezone: 'UTC' }" required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.dateOfDeterminationPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.dateOfDetermination.$touched) && $ctrl.editForm.dateOfDetermination.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.dateOfDetermination.$touched) && $ctrl.editForm.dateOfDetermination.$error.parse">Improper format (MM/dd/yyyy)</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-approval-date" class="col-sm-3">Corrective Action Plan Approval Date <span class="text-danger" ng-if="$ctrl.nonconformity.capEndDateObject">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capApprovalDateObject" is-open="$ctrl.nonconformity.capApprovalDatePicker" close-text="Close" id="cap-approval-date" name="capApprovalDate" ng-model-options="{ timezone: 'UTC' }" ng-required="$ctrl.nonconformity.capEndDateObject">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capApprovalDatePicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capApprovalDate.$touched) && $ctrl.editForm.capApprovalDate.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capApprovalDate.$touched) && $ctrl.editForm.capApprovalDate.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-start-date" class="col-sm-3">Corrective Action Plan Start Date <span class="text-danger" ng-if="$ctrl.nonconformity.capEndDateObject">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capStartDateObject" is-open="$ctrl.nonconformity.capStartDatePicker" close-text="Close" id="cap-start-date" name="capStartDate" ng-model-options="{ timezone: 'UTC' }" ng-required="$ctrl.nonconformity.capEndDateObject">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capStartDatePicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capStartDate.$touched) && $ctrl.editForm.capStartDate.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capStartDate.$touched) && $ctrl.editForm.capStartDate.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-end-date" class="col-sm-3">Corrective Action Plan End Date</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capEndDateObject" is-open="$ctrl.nonconformity.capEndDatePicker" close-text="Close" id="cap-end-date" name="capEndDate" ng-model-options="{ timezone: 'UTC' }" ng-disabled="!$ctrl.nonconformity.capApprovalDateObject || !$ctrl.nonconformity.capStartDateObject">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capEndDatePicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capEndDate.$touched) && $ctrl.editForm.capEndDate.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capEndDate.$touched) && $ctrl.nonconformity.capEndDateObject && $ctrl.nonconformity.capEndDateObject < $ctrl.nonconformity.capStartDateObject">Corrective Action Plan End Date must be after the Start Date</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cap-must-complete-date" class="col-sm-3">Corrective Action Plan Must Complete Date <span class="text-danger" ng-if="$ctrl.nonconformity.capApprovalDateObject">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.capMustCompleteDateObject" is-open="$ctrl.nonconformity.capMustCompleteDatePicker" close-text="Close" id="cap-must-complete-date" name="capMustCompleteDate" ng-model-options="{ timezone: 'UTC' }" ng-required="$ctrl.nonconformity.capApprovalDateObject">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.capMustCompleteDatePicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.capMustCompleteDate.$touched) && $ctrl.editForm.capMustCompleteDate.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="$ctrl.showFormErrors && $ctrl.editForm.capMustCompleteDate.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="non-conformity-close-date" class="col-sm-3">Non-conformity Close Date</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.nonconformity.nonconformityCloseDateObject" is-open="$ctrl.nonconformity.nonconformityCloseDatePicker" close-text="Close" id="non-conformity-close-date" name="nonconformityCloseDate" ng-required="$ctrl.nonconformity.nonconformityCloseDateObject">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.nonconformity.nonconformityCloseDatePicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.nonconformityCloseDate.$touched) && $ctrl.editForm.nonconformityCloseDate.$error.parse">Improper format (MM/dd/yyyy)</div>
        <div class="text-danger" ng-if="$ctrl.showFormErrors && $ctrl.editForm.nonconformityCloseDate.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="sites-passed" class="col-sm-3">Number of Sites Passed <span class="text-danger" ng-if="$ctrl.randomized">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="number" ng-model="$ctrl.nonconformity.sitesPassed" id="sites-passed" name="sitesPassed" ng-required="$ctrl.randomized" ng-disabled="!$ctrl.randomized && !$ctrl.disableValidation"></input>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesPassed.$touched) && $ctrl.editForm.sitesPassed.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesPassed.$touched) && $ctrl.editForm.sitesPassed.$error.number">Must be a number</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesPassed.$touched) && $ctrl.nonconformity.sitesPassed > $ctrl.nonconformity.totalSites">Must be less than or equal to the total number of sites</div>
      </div>
    </div>
    <div class="form-group">
      <label for="total-sites" class="col-sm-3">Total Sites <span class="text-danger" ng-if="$ctrl.randomized">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="number" ng-model="$ctrl.nonconformity.totalSites" id="total-sites" name="totalSites" ng-required="$ctrl.randomized" ng-disabled="!$ctrl.randomized && !$ctrl.disableValidation">
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.totalSites.$touched) && $ctrl.editForm.totalSites.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.totalSites.$touched) && $ctrl.editForm.totalSites.$error.number">Must be a number</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.totalSites.$touched) && $ctrl.nonconformity.totalSites > $ctrl.randomizedSitesUsed">Must be less than or equal to the number of randomized sites used: {{ $ctrl.randomizedSitesUsed }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="summary" class="col-sm-3">Summary <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="text" ng-model="$ctrl.nonconformity.summary" id="summary" name="summary" required>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.summary.$touched) && $ctrl.editForm.summary.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="findings" class="col-sm-3">Findings <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <textarea class="input-sm form-control" ng-model="$ctrl.nonconformity.findings" id="findings" name="findings" required></textarea>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.findings.$touched) && $ctrl.editForm.findings.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="developer-explanation" class="col-sm-3">Developer Explanation</label>
      <div class="col-sm-9">
        <textarea class="input-sm form-control" ng-model="$ctrl.nonconformity.developerExplanation" id="developer-explanation" name="developerExplanation"></textarea>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.developerExplanation.$touched) && $ctrl.editForm.developerExplanation.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="resolution" class="col-sm-3">Resolution <span class="text-danger" ng-if="$ctrl.nonconformity.nonconformityCloseDateObject">*</span></label>
      <div class="col-sm-9">
        <textarea class="input-sm form-control" ng-model="$ctrl.nonconformity.resolution" id="resolution" name="resolution" ng-required="$ctrl.nonconformity.nonconformityCloseDateObject" ng-disabled="!$ctrl.nonconformity.nonconformityCloseDateObject"></textarea>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.resolution.$touched) && $ctrl.editForm.resolution.$error.required">Field is required</div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.workType === 'edit' && $ctrl.nonconformity.documents.length > 0">
      <div class="col-sm-12">
        <h3>Supporting documentation</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">File Type</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="doc in $ctrl.nonconformity.documents">
              <td>{{ doc.fileName }}</td>
              <td>{{ doc.fileType }}</td>
              <td>
                <button class="btn btn-danger btn-block pull-left"
                        ng-if="doc.id"
                        confirm="Are you sure you wish to remove this documentation?"
                        confirm-ok="Yes"
                        confirm-cancel="No"
                        confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                        ng-click="$ctrl.deleteDoc(doc.id)"><i class="fa fa-trash-o"></i> Delete</button>
                <span ng-if="!doc.id">N/A</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-if="$ctrl.deleteMessage.length > 0" ng-class="$ctrl.deleteSuccess ? 'bg-success' : 'bg-danger'">
          {{ $ctrl.deleteMessage }}
          <ul ng-if="$ctrl.deleteErrors.length > 0" ng-class="'bg-danger'">
            <li ng-repeat="error in $ctrl.deleteErrors">{{ error.error }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.workType === 'edit'">
      <div class="col-sm-12">
        <h3>Upload supporting document(s)</h3>
        <div ng-if="$ctrl.uploadMessage.length > 0" ng-class="$ctrl.uploadSuccess ? 'bg-success' : 'bg-danger'">
          {{ $ctrl.uploadMessage }}
          <ul ng-if="$ctrl.uploadErrors.length > 0" ng-class="'bg-danger'">
            <li ng-repeat="error in $ctrl.uploadErrors">{{ error.error }}</li>
          </ul>
        </div>
        <form class="form form-horizontal" name="$ctrl.documentForm">
          <div class="row">
            <div ng-class="$ctrl.file ? 'col-sm-3' : 'col-sm-12'">
              <button type="button" class="btn btn-default" ngf-select ng-model="$ctrl.file" name="file" id="upload-button">Choose file to upload</button>
            </div>
            <div class="col-sm-3" ng-if="$ctrl.file">
              <strong>Filename: </strong>{{ $ctrl.file.name }}
            </div>
            <div class="col-sm-3" ng-if="$ctrl.file">
              <strong>File size: </strong>{{ $ctrl.file.size / 1024 / 1024 | number : 2 }} MB
            </div>
            <div class="col-sm-3" ng-if="$ctrl.file">
              <button type="button" class="btn btn-ai-success" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.file">
                <i class="fa fa-cloud-upload"></i> Upload
              </button>
              <button type="button" class="btn btn-danger" ng-click="$ctrl.file = undefined">
                <i class="fa fa-trash-o"></i> Remove
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="($ctrl.editForm.$invalid || ($ctrl.nonconformity.capEndDateObject && $ctrl.nonconformity.capEndDateObject < $ctrl.nonconformity.capStartDateObject)) && $ctrl.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="$ctrl.editForm.nonconformityType.$error.required">Non-Conformity Type is required</li>
        <li ng-if="$ctrl.editForm.nonconformityStatus.$error.required">Non-Conformity Status is required</li>
        <li ng-if="$ctrl.editForm.dateOfDetermination.$error.required">Date of Determination is required</li>
        <li ng-if="$ctrl.editForm.dateOfDetermination.$error.parse">Date of Determination is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capApprovalDate.$error.required">Corrective Action Plan Approval Date is required</li>
        <li ng-if="$ctrl.editForm.capApprovalDate.$error.parse">Corrective Action Plan Approval Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capStartDate.$error.required">Corrective Action Plan Start Date is required</li>
        <li ng-if="$ctrl.editForm.capStartDate.$error.parse">Corrective Action Plan Start Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capEndDate.$error.required">Corrective Action Plan End Date is required</li>
        <li ng-if="$ctrl.editForm.capEndDate.$error.parse">Corrective Action Plan End Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.capMustCompleteDate.$error.required">Corrective Action Plan Must Complete Date is required</li>
        <li ng-if="$ctrl.editForm.capMustCompleteDate.$error.parse">Corrective Action Plan Must Complete Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.sitesPassed.$error.required">Number of sites passed is required</li>
        <li ng-if="$ctrl.editForm.sitesPassed.$error.number">Number of sites passed must be a number</li>
        <li ng-if="$ctrl.editForm.totalSites.$error.required">Total sites is required</li>
        <li ng-if="$ctrl.editForm.totalSites.$error.number">Number of total sites must be a number</li>
        <li ng-if="$ctrl.editForm.summary.$error.required">Summary is required</li>
        <li ng-if="$ctrl.editForm.findings.$error.required">Findings is required</li>
        <li ng-if="$ctrl.editForm.developerExplanation.$error.required">Developer Explanation is required</li>
        <li ng-if="$ctrl.editForm.resolution.$error.required">Resolution is required</li>
        <li ng-if="$ctrl.nonconformity.capEndDateObject && $ctrl.nonconformity.capEndDateObject < $ctrl.nonconformity.capStartDateObject">Corrective Action Plan End Date must be after the Start Date</li>
        <li ng-if="$ctrl.nonconformity.sitesPassed > $ctrl.nonconformity.totalSites">Sites passed must be less than or equal to the total number of sites</li>
        <li ng-if="$ctrl.nonconformity.totalSites > $ctrl.randomizedSitesUsed">Total sites must be less than or equal to the number of randomized sites used: {{ $ctrl.randomizedSitesUsed }}</li>
      </ul>
    </div>
    <button ng-disabled="($ctrl.editForm.$invalid || ($ctrl.nonconformity.capEndDateObject && $ctrl.nonconformity.capEndDateObject < $ctrl.nonconformity.capStartDateObject) || ($ctrl.nonconformity.totalSites > $ctrl.randomizedSitesUsed) || ($ctrl.nonconformity.sitesPassed > $ctrl.nonconformity.totalSites)) && $ctrl.showFormErrors && !$ctrl.disableValidation"
            class="btn btn-ai-success pull-right"
            ng-mouseover="$ctrl.showFormErrors = true"
            ng-click="$ctrl.save()"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><i class="fa fa-trash-o"></i> Cancel</button>
  </div>
</div>
