<div role="modal" aria-labeled-by="inspect-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="inspect-label">Inspect Nonconformities</h4>
  </div>
  <div class="modal-body">
    <div class="row" ng-repeat="noncon in $ctrl.nonconformities">
      <div class="col-sm-12">
        <table class="table">
          <thead class="sr-only">
            <tr>
              <th scope="col">Nonconformity data type</th>
              <th scope="col">Nonconformity data value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Type</th>
              <td ng-if="noncon.criterion" ng-class="{'removed' : noncon.criterion.removed}">{{ (noncon.criterion.removed ?
                'Removed | ' : '') + noncon.criterion.number + ': ' + noncon.criterion.title
                }}</td>
                <td ng-if="!req.criterion" ng-class="{'removed' : $ctrl.isNonconformityTypeRemoved(noncon.nonconformityType)}">{{ ($ctrl.isNonconformityTypeRemoved(noncon.nonconformityType) ? 'Removed | ' : '') + noncon.nonconformityType }}</td>
            </tr>
            <tr>
              <th scope="row">Date of Determination</th>
              <td>{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.dateOfDeterminationDay) }}</td>
            </tr>
            <tr>
              <th scope="row">Corrective Action Plan approval date</th>
              <td ng-if="noncon.capApprovalDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capApprovalDay) }}</td>
              <td ng-if="!noncon.capApprovalDay">N/A</td>
            </tr>
            <tr>
              <th scope="row">Corrective Action Plan start date</th>
              <td ng-if="noncon.capStartDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capStartDay) }}</td>
              <td ng-if="!noncon.capStartDay">N/A</td>
            </tr>
            <tr>
              <th scope="row">Corrective Action Plan end date</th>
              <td ng-if="noncon.capEndDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capEndDay) }}</td>
              <td ng-if="!noncon.capEndDay">N/A</td>
            </tr>
            <tr>
              <th scope="row">Corrective Action Plan must complete date</th>
              <td ng-if="noncon.capMustCompleteDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capMustCompleteDay) }}</td>
              <td ng-if="!noncon.capMustCompleteDay">N/A</td>
            </tr>
            <tr>
              <th scope="row">Non-conformity Status</th>
              <td >{{ noncon.nonconformityStatus }}</td>
            </tr>
            <tr>
              <th scope="row">Sites passed / Total sites</th>
              <td>{{ noncon.sitesPassed }} / {{ noncon.totalSites }}</td>
            </tr>
            <tr>
              <th scope="row">Summary</th>
              <td>{{ noncon.summary }}</td>
            </tr>
            <tr>
              <th scope="row">Findings</th>
              <td>{{ noncon.findings }}</td>
            </tr>
            <tr>
              <th scope="row">Developer Explanation</th>
              <td>{{ noncon.developerExplanation }}</td>
            </tr>
            <tr>
              <th scope="row">Resolution</th>
              <td>{{ noncon.resolution }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
