<div role="modal" aria-labeled-by="edit-listing-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-listing-label">Edit Certified Product</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <div ng-if="vm.idFields">
      <div class="form-inline">
        <span class="form-control-static">
          <strong>CHPL Product Number:</strong>{{ vm.idFields.prefix }}
        </span>
        <div class="form-group">
          <label for="id-prod" class="sr-only">Product Code:</label>
          <input type="text" id="id-prod" name="idProd" ng-model="vm.idFields.prod" size="4" ng-pattern="/^[A-Za-z0-9_]{4}$/" required>
        </div>
        <div class="form-group">
          <label for="id-ver" class="sr-only">Version Code:</label>
          <input type="text" id="id-ver" name="idVer" ng-model="vm.idFields.ver" size="2" ng-pattern="/^[A-Za-z0-9_]{2}$/" required>
        </div>
        <div class="form-group">
          <label for="id-ics" class="sr-only">ICS Code:</label>
          <input type="text" id="id-ics" name="idIcs" ng-model="vm.idFields.ics" size="2" ng-pattern="/^[0-9]{2}$/" required>
        </div>
        <span class="form-control-static">
          {{ vm.idFields.suffix }}
        </span>
      </div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idProd.$touched) && vm.editForm.idProd.$error.required">Product Code is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idProd.$touched) && !vm.editForm.idProd.$error.required && !vm.editForm.idProd.$valid">Product Code must consist of letters, numbers and/or "_", and be 4 characters long</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idVer.$touched) && vm.editForm.idVer.$error.required">Version Code is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idVer.$touched) && !vm.editForm.idVer.$error.required && !vm.editForm.idVer.$valid">Version Code must consist of letters, numbers and/or "_", and be 2 characters long</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idIcs.$touched) && vm.editForm.idIcs.$error.required">ICS Code is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idIcs.$touched) && !vm.editForm.idIcs.$error.required && !vm.editForm.idIcs.$valid">ICS Code must be a two digit single number from 00 to 99</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.idIcs.$touched) && vm.cp.ics.inherits && vm.idFields.ics !== vm.requiredIcsCode() && vm.requiredIcsCode() > 0 && vm.cp.ics.parents.length > 0">ICS Code must be exactly one more than highest ICS code of all of this Listing's ICS parents; it should be "{{ vm.requiredIcsCode() }}"</div>
    </div>
    <div ng-if="!vm.idFields">
      <strong>CHPL Product Number:</strong> {{ vm.cp.chplProductNumber }}
    </div>
    <div class="form-group" ng-if="vm.cp.certificationEdition.name === '2014'">
      <label for="cp-practice">Practice Type</label>
      <select class="input-sm form-control" ng-model="vm.cp.practiceType" id="cp-practice" name="cpPractice"
              ng-options="practice as practice.name for practice in vm.practices" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpPractice.$touched) && vm.editForm.cpPractice.$error.required">Field is required</div>
    </div>
    <div class="form-group" ng-if="vm.cp.certificationEdition.name === '2014'">
      <label for="cp-classification">Classification Type</label>
      <select class="input-sm form-control" ng-model="vm.cp.classificationType" id="cp-classification" name="cpClassification"
              ng-options="classification as classification.name for classification in vm.classifications" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpClassification.$touched) && vm.editForm.cpClassification.$error.required">Field is required</div>
    </div>
    <strong>Certification Edition:</strong> {{ vm.cp.certificationEdition.name }} <span ng-if="vm.cp.curesUpdate">Cures Update</span> <br />
    <div ng-if="vm.isAcbAdmin && !vm.isChplAdmin"><strong>Certification Body:</strong> {{ vm.cp.certifyingBody.name }} </div>
    <div ng-if="vm.isChplAdmin" class="form-group">
      <label for="cp-body">Certification Body</label>
      <select class="input-sm form-control" ng-model="vm.cp.certifyingBody" id="cp-body" name="cpBody"
              ng-options="body as body.name for body in vm.bodies" required>
      </select>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpBody.$touched) && vm.editForm.cpBody.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="cp-cert-date">Certification Date</label>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="vm.cp.certDate" is-open="vm.cp.certDatePicker" close-text="Close" id="cp-cert-date" name="cpCertDate" ng-model-options="{ timezone: 'UTC' }" required>
        <span class="input-group-btn">
          <button type="button" class="btn btn-ai btn-sm" ng-click="vm.cp.certDatePicker = true"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpCertDate.$touched) && vm.editForm.cpCertDate.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpCertDate.$touched) && vm.editForm.cpCertDate.$error.date">Improper format (mm/dd/yyyy)</div>
    </div>
    <div class="form-group" ng-if="vm.cp.certificationEdition.name === '2011' || (vm.cp.certificationEdition.name === '2014' && vm.cp.chplProductNumber.startsWith('CHP-'))">
      <label for="cp-additional-software">Product wide Relied Upon Software</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.productAdditionalSoftware" id="cp-additional-software">
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th scope="col">Status History</th>
          <th scope="col">Effective date</th>
          <th scope="col">Reason for status change</th>
          <th scope="col"><span class="sr-only">Event Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><button class="btn btn-sm btn-block btn-ai-success" ng-click="vm.addPreviousStatus()"><i class="fa fa-plus"></i><span class="sr-only"> Add status</span></button></td>
        </tr>
        <tr ng-repeat="statusEvent in vm.cp.certificationEvents | orderBy:'-statusDateObject.getTime()' track by $index">
          <td>
            <div class="form-group">
              <label><span class="sr-only"><span ng-if="$first">Current </span>Certification Status <span class="text-danger">*</span></span>
                <select ng-model="statusEvent.status" required
                        ng-options="status as status.name disable when vm.disabledStatus(status.name) for status in vm.statuses | orderBy:'name'"
                        name="certificationStatus{{ $index }}" class="input-sm form-control">
                </select>
              </label>
              <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['certificationStatus' + $index].$touched) && vm.editForm['certificationStatus' + $index].$error.required">Certification Status is required</div>
              <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['certificationStatus' + $index].$touched) && vm.matchesPreviousStatus(statusEvent)">Certification Status must differ from previous Status</div>
              <div class="text-danger" ng-if="$first && vm.mayCauseSuspension(vm.certificationStatus(vm.cp, {editing: true}))">Setting this product to this status may trigger a ban by ONC</div>
              <div class="text-danger" ng-if="$first && vm.certificationStatus(vm.cp, {editing: true}) === 'Terminated by ONC'">Setting this product to this status will cause the developer to be marked as "Under Certification Ban"</div>
              <div class="text-danger" ng-if="$first && vm.certificationStatus(vm.cp, {editing: true}) === 'Suspended by ONC'">Setting this product to this status will cause the developer to be marked as "Suspended by ONC"</div>
              <div class="text-danger" ng-if="$first && vm.certificationStatus(vm.cp, {editing: true}) === 'Withdrawn by Developer'">Be sure this product is not under surveillance or soon to be under surveillance, otherwise use the status "Withdrawn by Developer Under Surveillance/Review"</div>
              <div class="text-danger" ng-if="$last && vm.improperFirstStatus()">The earliest status of this product must be "Active"</div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label><span class="sr-only">Change Date <span class="text-danger">*</span></span>
                <div class="input-group">
                  <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="statusEvent.statusDateObject" is-open="statusEvent.statusDatePicker" close-text="Close" name="statusDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-ai btn-sm" ng-click="statusEvent.statusDatePicker = true"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </label>
              <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['statusDate' + $index].$touched) && vm.editForm['statusDate' + $index].$error.required">Change date is required</div>
              <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['statusDate' + $index].$touched) && vm.matchesPreviousDate(statusEvent)">Only one change of status allowed per day</div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label><span class="sr-only">Reason for Change</span>
                <input class="input-sm form-control" type="text" ng-model="statusEvent.reason"
                       ng-maxlength="500" name="reasonForChange{{ $index }}">
              </label>
              <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['reasonForChange' + $index].$touched) && vm.editForm['reasonForChange' + $index].$error.maxlength">Field is too long</div>
            </div>
          </td>
          <td>
            <button class="btn btn-sm btn-block btn-danger" ng-click="vm.removePreviousStatus(statusEvent.statusDateObject)"><i class="fa fa-trash"></i><span class="sr-only"> Remove status</span></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <label for="cp-acb-cert-id">ACB Certification Id</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.acbCertificationId" id="cp-acb-cert-id" name="cpAcbCertId" ng-maxlength="250">
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpAcbCertId.$touched) && vm.editForm.cpAcbCertId.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="cp-other-acb">Other ACB</label>
      <input class="input-sm form-control" type="text" ng-model="vm.cp.otherAcb" id="cp-other-acb">
    </div>
    <div class="form-group">
      <label for="cp-transparency-att-url">Mandatory Disclosures URL</label>
      <input class="input-sm form-control" type="url" ng-model="vm.cp.transparencyAttestationUrl" id="cp-transparency-att-url" name="cpTransparencyAttUrl" ng-maxlength="1024">
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpTransparencyAttUrl.$touched) && vm.editForm.cpTransparencyAttUrl.$error.url">Improper format (http://www.example.com)</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpTransparencyAttUrl.$touched) && vm.editForm.cpTransparencyAttUrl.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="cp-ics">Inherited Certification Status</label>
      <input type="checkbox" ng-model="vm.cp.ics.inherits" id="cp-ics">
    </div>
    <div ng-if="vm.cp.certificationEdition.name === '2015' && vm.cp.ics.inherits">
      Inherited Certification Management
      <ul class="list-unstyled text-right">
        <li ng-repeat="parent in vm.cp.ics.parents track by $index">
          <strong>Inherits from:</strong> {{ parent.chplProductNumber }} <span ng-if="parent.certificationDate">( {{ parent.certificationDate | date : 'mediumDate' : 'UTC' }} )</span>
          <button class="btn btn-sm btn-danger" ng-click="vm.cp.ics.parents.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="form-horizontal">
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="new-ics-parent">ICS Source Listings (Same Product)</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newIcsParent.chplProductNumber" id="new-ics-parent"
                      ng-options="listing.chplProductNumber as (listing.chplProductNumber + ' (' + (listing.certificationDate | date : 'mediumDate' : 'UTC') + ')') disable when vm.disabledParent(listing) for listing in vm.relatedListings | orderBy:'certificationDate'">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.ics.parents, vm.newIcsParent); vm.newIcsParent = ''" ng-disabled="!vm.newIcsParent"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="new-ics-parent-other">ICS Source Listings (Other - Enter CHPL ID)</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="vm.newIcsParentOther.chplProductNumber" id="new-ics-parent-other" name="newIcsParentOther"
                     ng-pattern="/^\d{2}\.\d{2}\.\d{2}\.\d{4}\.\w{4}\.\w{2}\.\d{2}\.[01]\.\d{6}$/">
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.ics.parents, vm.newIcsParentOther); vm.newIcsParentOther = ''" ng-disabled="!vm.newIcsParentOther || vm.editForm.newIcsParentOther.$error.pattern"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
            <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.newIcsParentOther.$touched) && vm.editForm.newIcsParentOther.$error.pattern">Improper format</div>
          </div>
        </div>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.$dirty) && vm.missingIcsSource()">Listing is marked as having Inherited Certification Status but does not have references to the Listing(s) it inherited from</div>
      </div>
    </div>
    <div>
      QMS Testing
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="qms in vm.cp.qmsStandards track by $index">
          <label class="col-sm-6 control-label" for="qms-standard-{{ qms.id }}">QMS Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="qms.qmsStandardName" id="qms-standard-{{ qms.id }}"
                      ng-options="option.name as option.name for option in vm.qmsStandards.data | orderBy:'name'"
                      ng-change="qms.qmsStandardId = option.id">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.qmsStandards.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="qms-modification-{{ qms.id }}">QMS Modification</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="qms.qmsModification" id="qms-modification-{{ qms.id }}">
          </div>
          <label class="col-sm-6 control-label" for="qms-applicable-criteria-{{ qms.id }}">QMS Applicable Criteria</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="qms.applicableCriteria" id="qms-applicable-criteria-{{ qms.id }}">
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="new-qms-standard-item">New QMS Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newQmsStandard.qmsStandardName" id="new-qms-standard-item"
                      ng-options="option.name as option.name for option in vm.qmsStandards.data">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.qmsStandards, vm.newQmsStandard); vm.newQmsStandard = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="new-qms-standard-expandable-name">Add new QMS Standard to available options</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newQmsStandard.expandableName" id="new-qms-standard-expandable-name" name="newQmsStandardExpandableName" ng-change="vm.extendSelect(vm.qmsStandards.data, vm.newQmsStandard.expandableName); vm.newQmsStandard.qmsStandardName = vm.newQmsStandard.expandableName" ng-maxlength="255">
            <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.newQmsStandardExpandableName.$touched) && vm.editForm.newQmsStandardExpandableName.$error.maxlength">Field is too long</div>
          </div>
          <label class="col-sm-6 control-label" for="new-qms-standard-modification">QMS Modification</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newQmsStandard.qmsModification" id="new-qms-standard-modification">
          </div>
          <label class="col-sm-6 control-label" for="new-qms-standard-applicable-criteria">QMS Applicable Criteria</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newQmsStandard.applicableCriteria" id="new-qms-standard-applicable-criteria">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cp-report-file-loc">Report File Location</label>
      <input class="input-sm form-control" type="url" ng-model="vm.cp.reportFileLocation" id="cp-report-file-loc" name="cpReportFileLoc" ng-maxlength="250" ng-required="vm.cp.certificationEdition.name === '2014'">
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpReportFileLoc.$touched) && vm.editForm.cpReportFileLoc.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpReportFileLoc.$touched) && vm.editForm.cpReportFileLoc.$error.url">Improper format (http://www.example.com)</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpReportFileLoc.$touched) && vm.editForm.cpReportFileLoc.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      Testing Lab
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="item in vm.cp.testingLabs track by $index">
          <label class="col-sm-6 control-label" for="testing-lab-{{ item.id }}">Testing lab</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="item.testingLabName" id="testing-lab-{{ item.id }}"
                      ng-options="option.name as option.name for option in vm.testingLabs | orderBy:'name'">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.testingLabs.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="new-testing-lab-item">New Testing Lab</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newTestingLab.testingLabName" id="new-testing-lab-item"
                      ng-options="option.name as option.name for option in vm.testingLabs">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.testingLabs, vm.newTestingLab); vm.newTestingLab = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      Accessibility Standards
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="item in vm.cp.accessibilityStandards track by $index">
          <label class="col-sm-6 control-label" for="accessibility-standard-{{ item.id }}">Accessibility Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="item.accessibilityStandardName" id="accessibility-standard-{{ item.id }}"
                      ng-options="option.name as option.name for option in vm.accessibilityStandards.data | orderBy:'name'"
                      ng-change="item.accessibilityStandardId = option.id">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.accessibilityStandards.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="new-accessibility-standard-item">New Accessibility Standard</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newAccessibilityStandard.accessibilityStandardName" id="new-accessibility-standard-item"
                      ng-options="option.name as option.name for option in vm.accessibilityStandards.data">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.accessibilityStandards, vm.newAccessibilityStandard); vm.newAccessibilityStandard = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="new-accessibility-standard-expandable-name">Add new Accessibility Standard to available options</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newAccessibilityStandard.expandableName" id="new-accessibility-standard-expandable-name" ng-change="vm.extendSelect(vm.accessibilityStandards.data, vm.newAccessibilityStandard.expandableName); vm.newAccessibilityStandard.accessibilityStandardName = vm.newAccessibilityStandard.expandableName" ng-maxlength="500">
            <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.newAccessibilityStandardExpandableName.$touched) && vm.editForm.newAccessibilityStandardExpandableName.$error.maxlength">Field is too long</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      Targeted Users
      <div class="form-horizontal">
        <div class="form-group form-group-sm" ng-repeat="item in vm.cp.targetedUsers track by $index">
          <label class="col-sm-6 control-label" for="targeted-user-{{ item.id }}">Targeted User</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="item.targetedUserName" id="targeted-user-{{ item.id }}"
                      ng-options="option.name as option.name for option in vm.targetedUsers.data | orderBy:'name'"
                      ng-change="item.targetedUserId = option.id">
              </select>
              <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cp.targetedUsers.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
            </div>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-6 control-label" for="new-targeted-user-item">New Targeted User</label>
          <div class="col-sm-6">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newTargetedUser.targetedUserName" id="new-targeted-user-item"
                      ng-options="option.name as option.name for option in vm.targetedUsers.data">
              </select>
              <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cp.targetedUsers, vm.newTargetedUser); vm.newTargetedUser = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
            </div>
          </div>
          <label class="col-sm-6 control-label" for="new-targeted-user-expandable-name">Add new Targeted User to available options</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="vm.newTargetedUser.expandableName" id="new-targeted-user-expandable-name" ng-change="vm.extendSelect(vm.targetedUsers.data, vm.newTargetedUser.expandableName); vm.newTargetedUser.targetedUserName = vm.newTargetedUser.expandableName">
          </div>
        </div>
      </div>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th scope="col">Estimated Number of Meaningful Use Users History</th>
          <th scope="col">Effective date</th>
          <th scope="col"><span class="sr-only">Event Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><button class="btn btn-sm btn-block btn-ai-success" ng-click="vm.addPreviousMuu()"><i class="fa fa-plus"></i><span class="sr-only"> Add value</span></button></td>
        </tr>
        <tr ng-repeat="muu in vm.cp.meaningfulUseUserHistory | orderBy:'-muuDateObject.getTime()' track by $index">
          <td>
            <div class="form-group">
              <label><span class="sr-only"><span ng-if="$first">Current </span>Value</span>
                <input type="number" ng-model="muu.muuCount" name="muuCount{{ $index }}" class="input-sm form-control">
                </input>
              </label>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label><span class="sr-only">Effective Date</span>
                <div class="input-group">
                  <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="muu.muuDateObject" is-open="muu.muuDatePicker" close-text="Close" name="muuDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-ai btn-sm" ng-click="muu.muuDatePicker = true"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </label>
              <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['statusDate' + $index].$touched) && vm.matchesPreviousMuuDate(muu)">Only effective date allowed per day</div>
            </div>
          </td>
          <td>
            <button class="btn btn-sm btn-block btn-danger" ng-click="vm.removePreviousMuu(muu.muuDateObject)"><i class="fa fa-trash"></i><span class="sr-only"> Remove value</span></button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <ai-certs default-all="true"
              edit-mode="true"
              is-confirming="vm.workType === 'confirm'"
              is-editing="true"
              product="vm.cp"
              resources="vm.resources">
    </ai-certs>
    <div class="form-group">
      <label for="reason-for-change">Reason for Change</label>
      <input class="input-sm form-control" type="text" ng-model="vm.reason" id="reason-for-change" name="reasonForChange">
      If changes are made in any of the following ways, a Reason for Change is required:
      <ul>
        <li>Clinical Quality Measure Removed</li>
        <li>Certification Criteria Removed</li>
        <li>Editing of a 2011 Edition Certified Product</li>
        <li feature-flag="effective-rule-date">Editing of a 2014 Edition Certified Product</li>
        <li>Certification Status Changed from anything to "Active"</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-left text-danger"
         ng-if="vm.showFormErrors && (vm.editForm.$invalid || (vm.idFields.ics !== vm.requiredIcsCode() && vm.requiredIcsCode() > 0 && vm.cp.ics.parents.length > 0) || vm.missingIcsSource() || vm.hasStatusMatches() || vm.hasDateMatches() || vm.improperFirstStatus())">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.idProd && !vm.editForm.idProd.$error.required && !vm.editForm.idProd.$valid">CHPL Product Number Product Code must consist of letters, numbers and/or "_", and be 4 characters long</li>
        <li ng-if="vm.editForm.idProd.$error.required">CHPL Product Number Product Code is required</li>
        <li ng-if="vm.editForm.idVer && !vm.editForm.idVer.$error.required && !vm.editForm.idVer.$valid">CHPL Product Number Version Code must consist of letters, numbers and/or "_", and be 2 characters long</li>
        <li ng-if="vm.editForm.idVer.$error.required">CHPL Product Number Version Code is required</li>
        <li ng-if="vm.editForm.idIcs && !vm.editForm.idIcs.$error.required && !vm.editForm.idIcs.$valid">CHPL Product Number ICS Code must be a two digit single number from 00 to 99</li>
        <li ng-if="vm.editForm.idIcs.$error.required">CHPL Product Number ICS Code is required</li>
        <li ng-if="vm.editForm.cpPractice.$error.required">Practice Type is required</li>
        <li ng-if="vm.editForm.cpClassification.$error.required">Classification Type is required</li>
        <li ng-if="vm.editForm.cpBody.$error.required">Certification Body is required</li>
        <li ng-if="vm.editForm.cpCertDate.$error.required">Certification Date is required</li>
        <li ng-if="vm.editForm.cpCertDate.$error.date">Certification Date is an invalid format (mm/dd/yyyy)</li>
        <li ng-if="vm.hasStatusMatches()">Certification status must not repeat</li>
        <li ng-if="vm.hasDateMatches()">Only one change of certification status allowed per day</li>
        <li ng-if="vm.editForm.cpAcbCertId.$error.maxlength">ACB Certification ID is too long</li>
        <li ng-if="vm.editForm.cpTransparencyAttUrl.$error.url">Mandatory Disclosures URL is an invalid format (http://www.example.com)</li>
        <li ng-if="vm.editForm.cpTransparencyAttUrl.$error.maxlength">Mandatory Disclosures URL is too long</li>
        <li ng-if="vm.editForm.cpReportFileLoc.$error.required">Report File Location URL is required</li>
        <li ng-if="vm.editForm.cpReportFileLoc.$error.url">Report File Location URL is an invalid format (http://www.example.com)</li>
        <li ng-if="vm.editForm.cpReportFileLoc.$error.maxlength">Report File Locaiton URL is too long</li>
        <li ng-if="vm.idFields.ics !== vm.requiredIcsCode() && vm.requiredIcsCode() > 0 && vm.cp.ics.parents.length > 0">ICS Code must be exactly one more than highest ICS code of all of this Listing's ICS parents; it should be "{{ vm.requiredIcsCode() }}"</li>
        <li ng-if="vm.missingIcsSource()">Listing is marked as having Inherited Certification Status but does not have references to the Listing(s) it inherited from</li>
        <li ng-if="vm.improperFirstStatus()">The earliest status of this product must be "Active"</li>
      </ul>
    </div>
    <div class="text-left text-warning" ng-if="vm.warnings && vm.warnings.length > 0">
      The following warning(s) should be fixed:
      <ul>
        <li ng-repeat="msg in vm.warnings | orderBy:'toString()' track by $index">{{ msg }}</li>
      </ul>
    </div>
    <div class="text-danger text-left" ng-if="vm.errors">
      The following error(s) must be fixed:
      <ul>
        <li ng-repeat="msg in vm.errors | orderBy:'toString()' track by $index">{{ msg }}</li>
      </ul>
    </div>
    <button ng-disabled="((vm.editForm.$invalid || vm.missingIcsSource() || vm.hasStatusMatches() || vm.hasDateMatches() || vm.improperFirstStatus()) && vm.showFormErrors) || vm.isSaving"
            id="edit-save"
            class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.save()">Save Certified Product</button>
    <button class="btn btn-warning btn-block"
            id="edit-cancel"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
