<div role="modal" aria-labeled-by="edit-surveillance-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-surveillance-label"><span ng-if="$ctrl.workType === 'edit'">Edit</span><span ng-if="$ctrl.workType === 'initiate'">Initiate</span> Surveillance Activity</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="$ctrl.editForm">
    <div class="row">
      <div class="col-sm-3"><strong>CHPL Product Number:</strong></div>
      <div class="col-sm-9">{{ $ctrl.surveillance.certifiedProduct.chplProductNumber }}</div>
    </div>
    <div class="row" ng-if="$ctrl.surveillance.friendlyId">
      <div class="col-sm-3"><strong>Surveillance ID:</strong></div>
      <div class="col-sm-9">{{ $ctrl.surveillance.friendlyId }}</div>
    </div>
    <div class="row" ng-if="$ctrl.workType !== 'initiate' || $ctrl.surveillance.authority">
      <div class="col-sm-3"><strong>Surveillance initiated by:</strong></div>
      <div class="col-sm-9">
        <span>{{ $ctrl.surveillance.authority === 'ROLE_ONC' ? 'ONC' : 'ONC-ACB' }}</span>
      </div>
    </div>
    <div class="form-group">
      <label for="start-day" class="col-sm-3">Start Date <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.surveillance.startDay" is-open="$ctrl.surveillance.startDayPicker" close-text="Close" id="start-day" name="startDay" chpl-local-date-formatter required>
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.surveillance.startDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.startDay.$touched) && $ctrl.editForm.startDay.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.startDay.$touched) && $ctrl.editForm.startDay.$error.parse">Improper format (MM/dd/yyyy)</div>
      </div>
    </div>
    <div class="form-group">
      <label for="end-day" class="col-sm-3">End Date <span class="text-danger" ng-if="$ctrl.missingEndDay()">*</span></label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.surveillance.endDay" is-open="$ctrl.surveillance.endDayPicker" close-text="Close" id="end-day" name="endDay" chpl-local-date-formatter ng-required="$ctrl.missingEndDay()">
          <span class="input-group-btn">
            <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.surveillance.endDayPicker = true"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.endDay.$touched) && $ctrl.editForm.endDay.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.endDay.$touched) && $ctrl.editForm.endDay.$error.parse">Improper format (MM/dd/yyyy)</div>
      </div>
    </div>
    <div class="form-group">
      <label for="surveillance-type" class="col-sm-3">Surveillance Type <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.surveillance.type" id="surveillance-type" name="surveillanceType"
                ng-options="type as type.name for type in $ctrl.data.surveillanceTypes.data | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.surveillanceType.$touched) && $ctrl.editForm.surveillanceType.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="sites-surveilled" class="col-sm-3">Number of sites surveilled <span class="text-danger" ng-if="$ctrl.surveillance.type.name === 'Randomized'">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="number" ng-model="$ctrl.surveillance.randomizedSitesUsed" id="sites-surveilled" name="sitesSurveilled" ng-required="$ctrl.surveillance.type.name === 'Randomized'" ng-disabled="$ctrl.surveillance.type.name === 'Reactive' && !$ctrl.disableValidation"></input>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesSurveilled.$touched) && $ctrl.editForm.sitesSurveilled.$error.required">Field is required</div>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.sitesSurveilled.$touched) && $ctrl.editForm.sitesSurveilled.$error.number">Must be a number</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-ai-success pull-right" ng-click="$ctrl.addRequirement()" ng-disabled="!$ctrl.surveillance.type"><i class="fa fa-plus"></i><span class="sr-only">Add a requirement</span></button>
        <h5>Requirements</h5>
        <span ng-if="!$ctrl.surveillance.requirements || $ctrl.surveillance.requirements.length === 0">No Surveilled Requirements Found</span>
        <table class="table table-condensed" ng-if="$ctrl.surveillance.requirements && $ctrl.surveillance.requirements.length > 0">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Requirement</th>
              <th scope="col">Result</th>
              <th scope="col">Non-conformities</th>
              <th scope="col">Remove</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req in $ctrl.surveillance.requirements | orderBy:['type.name',$ctrl.sortRequirements] track by $index">
              <td>{{ req.type.name }}</td>
              <td ng-if="req.criterion" ng-class="{'removed' : req.criterion.removed}">{{ (req.criterion.removed ? 'Removed | ' : '') + req.criterion.number + ': ' + req.criterion.title }}</td>
              <td ng-if="!req.criterion" ng-class="{'removed' : $ctrl.isRequirementRemoved(req.requirement)}">{{ ($ctrl.isRequirementRemoved(req.requirement) ? 'Removed | ' : '') + req.requirement }}</td>
              <td>{{ req.result.name }}</td>
              <td>
                <span ng-if="req.nonconformities.length === 0">N/A</span>
                <button ng-if="req.nonconformities.length > 0" class="btn btn-ai-success" ng-click="$ctrl.inspectNonconformities(req.nonconformities)"><i class="fa fa-eye"></i><span class="sr-only">Inspect</span></button>
              </td>
              <td>
                <button class="btn btn-danger" ng-click="$ctrl.deleteRequirement(req)"><i class="fa fa-trash"></i><span class="sr-only">Remove this requirement</span></button>
              </td>
              <td>
                <button class="btn btn-ai-success" ng-click="$ctrl.editRequirement(req)"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit this requirement</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <label for="reason-for-change" class="col-sm-3">Reason for Change</label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="text" ng-model="$ctrl.reason" id="reason-for-change" name="reasonForChange"></input>
        Reason for Change is required if the Surveillance is being deleted
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length > 0">
      <ul>
        <li ng-repeat="error in $ctrl.errorMessages">{{ error }}</li>
      </ul>
    </div>
    <div class="text-danger text-left" ng-if="($ctrl.editForm.$invalid ||
                                              !$ctrl.surveillance.requirements ||
                                              $ctrl.surveillance.requirements.length === 0 ||
                                              $ctrl.missingEndDay() ||
                                              ($ctrl.surveillance.authority === 'ROLE_ONC' && !$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])))
                                              && $ctrl.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="$ctrl.editForm.startDay.$error.required">Start Date is required</li>
        <li ng-if="$ctrl.editForm.startDay.$error.parse">Start Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.endDay.$error.parse">End Date is an improper format (MM/dd/yyyy)</li>
        <li ng-if="$ctrl.editForm.surveillanceType.$error.required">Surveillance Type is required</li>
        <li ng-if="$ctrl.editForm.authority.$error.required">Initiated by is required</li>
        <li ng-if="$ctrl.editForm.sitesSurveilled.$error.required">Sites Surveilled is required</li>
        <li ng-if="$ctrl.editForm.sitesSurveilled.$error.number">Sites Surveilled must be a number</li>
        <li ng-if="!$ctrl.surveillance.requirements || $ctrl.surveillance.requirements.length === 0">At least one Requirement must be surveilled</li>
        <li ng-if="$ctrl.surveillance.authority === 'ROLE_ONC' && !$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">User must have authority for ONC-Admin to edit surveillance created by ONC-Admin</li>
        <li ng-if="$ctrl.missingEndDay()">End Date is required when there are no open Nonconformities</li>
      </ul>
    </div>
    <button ng-disabled="($ctrl.editForm.$invalid || !$ctrl.surveillance.requirements || $ctrl.surveillance.requirements.length === 0 || $ctrl.missingEndDay() || ($ctrl.surveillance.authority === 'ROLE_ONC' && !$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC']))) && $ctrl.showFormErrors && !$ctrl.disableValidation"
            class="btn btn-ai-success pull-right"
            ng-mouseover="$ctrl.showFormErrors = true"
            ng-click="$ctrl.save()"><i class="fa fa-save"></i> Save</button>
    <button ng-disabled="($ctrl.surveillance.authority === 'ROLE_ONC' && !$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])) || !$ctrl.reason"
            class="btn btn-danger pull-left" ng-if="$ctrl.workType === 'edit'"
            confirm="Are you sure you wish to delete this surveillance?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.deleteSurveillance()"><i class="fa fa-trash-o"></i> Delete</button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><i class="fa fa-close"></i> Cancel</button>
  </div>
</div>
