<div role="modal" aria-labeled-by="inspect-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel? Any changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="inspect-label">Inspect Surveillance Activity</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 lead">
        <strong>
          <div ng-if="$ctrl.surveillance.errorMessages.length > 0">
            <span class="text-danger">Error<span ng-if="$ctrl.surveillance.errorMessages.length > 1">s</span>:</span>
            <ul>
              <li ng-repeat="error in $ctrl.surveillance.errorMessages"><pre>{{ error }}</pre></li>
            </ul>
          </div>
          <div ng-if="$ctrl.surveillance.warningMessages.length > 0">
            <span class="text-danger">Warning<span ng-if="$ctrl.surveillance.warningMessages.length > 1">s</span>:</span>
            <ul>
              <li ng-repeat="error in $ctrl.surveillance.warningMessages"><pre>{{ error }}</pre></li>
            </ul>
          </div>
        </strong>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-ai-success pull-right"
                ng-click="$ctrl.editSurveillance()"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit</span></button>
        <strong>CHPL Product Number:</strong> {{ $ctrl.surveillance.certifiedProduct.chplProductNumber }}<br />
        <strong>Start Date:</strong> {{ $ctrl.DateUtil.getDisplayDateFormat($ctrl.surveillance.startDay) }}<br />
        <strong>End Date:</strong> {{ $ctrl.DateUtil.getDisplayDateFormat($ctrl.surveillance.endDay) }}<br />
        <strong>Surveillance Type:</strong> {{ $ctrl.surveillance.type.name }}<br />
        <strong>Number of sites surveilled:</strong> {{ $ctrl.surveillance.randomizedSitesUsed ? $ctrl.surveillance.randomizedSitesUsed : 'N/A' }}<br />
        <table class="table table-condensed">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Requirement</th>
              <th scope="col">Result</th>
              <th scope="col">Non-conformities</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req in $ctrl.surveillance.requirements | orderBy:$ctrl.sortRequirements">
              <td>{{ req.type.name }}</td>
              <td ng-class="{'removed' : req.criterion.removed}">{{ req.criterion ? ((req.criterion.removed ? 'Removed | ' : '') + req.criterion.number + ': ' + req.criterion.title) : req.requirement }}</td>
              <td>{{ req.result.name }}</td>
              <td>
                <span ng-if="req.nonconformities.length === 0">N/A</span>
                <button ng-if="req.nonconformities.length > 0" class="btn btn-ai-success" ng-click="$ctrl.inspectNonconformities(req.nonconformities)"><i class="fa fa-eye"></i><span class="sr-only">Inspect</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length !== 0" class="row">
      <div class="col-sm-12 text-left bg-danger">
        Error in activity confirmation
        <ul>
          <li ng-repeat="error in $ctrl.errorMessages">{{ error }}</li>
        </ul>
      </div>
    </div>
    <button class="btn btn-danger pull-left"
            confirm="Are you sure you wish to reject this Surveillance Activity?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.reject()"><i class="fa fa-trash-o"></i> Reject</button>
    <button class="btn btn-ai-success btn-large pull-right"
            confirm="Are you sure you wish to confirm this Surveillance Activity?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.confirm()"><i class="fa fa-cloud-upload"></i> Confirm</button>
  </div>
</div>
