<div class="inset-content">
  <div ng-if="!$ctrl.certifiedProduct.surveillance || $ctrl.certifiedProduct.surveillance.length === 0">
    No surveillance activity has been conducted for this listing
  </div>
  <div ng-repeat="surv in $ctrl.certifiedProduct.surveillance | orderBy: 'friendlyId'">
    <div class="pull-right">
      <a href ng-click="surv.showDetails = !surv.showDetails" aria-expanded="{{ surv.showDetails }}">{{ surv.showDetails ? 'Hide' : 'View' }} details<span class="sr-only"> for {{ $ctrl.DateUtil.getDisplayDateFormat(surv.startDay) }}</span></a>
      <button class="btn btn-sm btn-ai-success" ng-click="$ctrl.editSurveillance(surv)" ng-if="$ctrl.allowEditing"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit</span></button>
    </div>
    <p><strong>{{ $ctrl.getTitle(surv) }}</strong></p>
    <div ng-if="surv.showDetails">
      Surveillance Description
      <table class="table">
        <thead class="sr-only">
          <tr>
            <th scope="col">Data type</th>
            <th scope="col">Data value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href uib-tooltip="The date surveillance was initiated" tooltip-trigger="'mouseenter focus click'">Date Surveillance Began</a></th>
            <td>{{ $ctrl.DateUtil.getDisplayDateFormat(surv.startDay) }}</td>
          </tr>
          <tr>
            <th scope="row"><a href uib-tooltip="The date surveillance was completed" tooltip-trigger="'mouseenter focus click'">Date Surveillance Ended</a></th>
            <td ng-if="surv.endDay">{{ $ctrl.DateUtil.getDisplayDateFormat(surv.endDay) }}</td>
            <td ng-if="!surv.endDay">N/A</td>
          </tr>
          <tr>
            <th scope="row"><a href uib-tooltip="The type of surveillance conducted (either randomized or reactive)." tooltip-trigger="'mouseenter focus click'">Surveillance Type</a></th>
            <td>{{ surv.type.name }}<span ng-if="surv.type.name === 'Randomized'"> ({{ surv.randomizedSitesUsed }} site<span ng-if="surv.randomizedSitesUsed !== 1">s</span> used in surveillance)</span></td>
          </tr>
          <tr>
            <th scope="row"><a href uib-tooltip="The ONC Health IT Certification Program requirement that was surveilled. For example, this may be a specific certification criteria (e.g. 170.315(a)(1)), a disclosure requirement (e.g. 170.523(k)(1)), another requirement with a regulatory reference (e.g. 170.523(l)), or a brief description of the surveilled requirement." tooltip-trigger="'mouseenter focus click'">Certification Criteria and Program Requirements Surveilled</a></th>
            <td>
              <span ng-repeat="req in surv.requirements | orderBy:['type.name',$ctrl.sortRequirements]">
                {{ req.type.name }}:
                <span ng-if="req.criterion" ng-class="{'removed' : req.criterion.removed}">{{ (req.criterion.removed ? 'Removed | ' : '') + req.criterion.number + ': ' + req.criterion.title }}</span>
                <span ng-if="!req.criterion" ng-class="{'removed' : $ctrl.isRequirementRemoved(req.requirement)}">{{ ($ctrl.isRequirementRemoved(req.requirement) ? 'Removed | ' : '') + req.requirement }}</span><br />
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <a href uib-tooltip="Whether or not a non-conformity was found for the conducted surveillance." tooltip-trigger="'mouseenter focus click'">Surveillance Result</a>
            </th>
            <td><span ng-repeat="res in $ctrl.surveillanceResults(surv) | orderBy:$ctrl.sortResults track by $index" ng-bind-html="res"></span></td>
          </tr>
          <tr>
            <th scope="row">
              <a href uib-tooltip="Indicates whether surveillance was initiated by ONC-ACB or through ONC direct review." tooltip-trigger="'mouseenter focus click'">Surveillance initiated by</a>
            </th>
            <td>{{ surv.authority === 'ROLE_ONC' ? 'ONC' : 'ONC-ACB' }}</td>
          </tr>
        </tbody>
      </table>
      <div ng-repeat="req in surv.requirements | orderBy:$ctrl.sortRequirements" ng-if="req.nonconformities && req.nonconformities.length > 0">
        <div ng-repeat="noncon in req.nonconformities">
          <a href ng-click="noncon.showDetails = !noncon.showDetails" class="pull-right" aria-expanded="{{ noncon.showDetails }}">{{ noncon.showDetails ? 'Hide' : 'View' }} details<span class="sr-only"> for {{ req.criterion ? (req.criterion.number + ': ' + req.criterion.title) : req.requirement }}</span></a>
          <p>Non-Conformity related to
            <span ng-if="req.criterion" ng-class="{'removed' : req.criterion.removed}">{{ (req.criterion.removed ? 'Removed | ' : '') + req.criterion.number + ': ' + req.criterion.title}}</span>
            <span ng-if="!req.criterion" ng-class="{'removed' : $ctrl.isRequirementRemoved(req.requirement)}">{{ ($ctrl.isRequirementRemoved(req.requirement) ? 'Removed | ' : '') + req.requirement }}</span><br />
            Details
          </p>
          <div ng-if="noncon.showDetails">
            <p>Non-Conformity related to
              <span ng-if="req.criterion" ng-class="{'removed' : req.criterion.removed}">{{ (req.criterion.removed ? 'Removed | ' : '') + req.criterion.number + ': ' + req.criterion.title}}</span>
              <span ng-if="!req.criterion" ng-class="{'removed' : $ctrl.isRequirementRemoved(req.requirement)}">{{ ($ctrl.isRequirementRemoved(req.requirement) ? 'Removed | ' : '') + req.requirement }}</span><br />
              Dates
            </p>
            <table class="table table-condensed">
              <thead class="sr-only">
                <tr>
                  <th scope="col">Data type</th>
                  <th scope="col">Data value</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col"><a href uib-tooltip="The date that the ONC-ACB determined that a non-conformity was present." tooltip-trigger="'mouseenter focus click'">Date of Determination of Non-Conformity</a></th>
                  <th scope="col"><a href uib-tooltip="The date that the ONC-ACB approved the corrective action plan proposed by the developer." tooltip-trigger="'mouseenter focus click'">Corrective Action Plan Approval Date</a></th>
                  <th scope="col"><a href uib-tooltip="The date that the corrective action was started." tooltip-trigger="'mouseenter focus click'">Date Corrective Action Began</a></th>
                  <th scope="col"><a href uib-tooltip="The date that the corrective action must be completed in order to avoid termination of the certified product’s certification status." tooltip-trigger="'mouseenter focus click'">Date Corrective Action Must Be Completed</a></th>
                  <th scope="col"><a href uib-tooltip="The date that the corrective action was completed." tooltip-trigger="'mouseenter focus click'">Date Corrective Action Was Completed</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ng-if="noncon.dateOfDeterminationDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.dateOfDeterminationDay) }}</td>
                  <td ng-if="!noncon.dateOfDeterminationDay">N/A</td>
                  <td ng-if="noncon.capApprovalDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capApprovalDay) }}</td>
                  <td ng-if="!noncon.capApprovalDay">N/A</td>
                  <td ng-if="noncon.capStartDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capStartDay) }}</td>
                  <td ng-if="!noncon.capStartDay">N/A</td>
                  <td ng-if="noncon.capMustCompleteDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capMustCompleteDay) }}</td>
                  <td ng-if="!noncon.capMustCompleteDay">N/A</td>
                  <td ng-if="noncon.capEndDay">{{ $ctrl.DateUtil.getDisplayDateFormat(noncon.capEndDay) }}</td>
                  <td ng-if="!noncon.capEndDay">N/A</td>
                </tr>
              </tbody>
            </table>
            <p>Non-Conformity related to
              <span ng-if="req.criterion" ng-class="{'removed' : req.criterion.removed}">{{ (req.criterion.removed ? 'Removed | ' : '') + req.criterion.number + ': ' + req.criterion.title}}</span>
              <span ng-if="!req.criterion">{{ req.requirement }} </span>
              Description
            </p>
            <table class="table table-condensed">
              <thead class="sr-only">
                <tr>
                  <th scope="col">Data type</th>
                  <th scope="col">Data value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><a href uib-tooltip="For non-conformities related to specific regulatory references (e.g. certified capabilities, disclosure requirements, or use of the Certification Mark), the regulation reference is used (e.g. 170.315(a)(2) or 170.523(l)). If the non-conformity type is designated as 'Other Non-Conformity', then the associated non-conformity does not have a relevant regulatory reference." tooltip-trigger="'mouseenter focus click'">Non-Conformity Type</a></th>
                  <td ng-if="noncon.criterion" ng-class="{'removed' : noncon.criterion && noncon.criterion.removed}">{{ (noncon.criterion.removed ? 'Removed | ' : '') + noncon.criterion.number + ': ' + noncon.criterion.title }}</td>
                  <td ng-if="!noncon.criterion" ng-class="{'removed' : $ctrl.isNonconformityTypeRemoved(noncon.nonconformityType)}">{{ ($ctrl.isNonconformityTypeRemoved(noncon.nonconformityType) ? 'Removed | ' : '') + noncon.nonconformityType }}</td>
                </tr>
                <tr>
                  <th scope="row"><a href uib-tooltip="Whether the non-conformity is open or closed (has been resolved)." tooltip-trigger="'mouseenter focus click'">Non-Conformity Status</a></th>
                  <td>{{ noncon.nonconformityStatus }}</td>
                </tr>
                <tr ng-if="surv.type.name === 'Randomized'">
                  <th scope="row"><a href uib-tooltip="Pass rates only apply to non-conformities found as a result of random surveillance. The numerator for the pass rate is the number of sites for each criterion that passed randomized surveillance for the Health IT module being evaluated. The denominator is the total number of sites for which randomized surveillance was conducted on the Health IT module." tooltip-trigger="'mouseenter focus click'">Pass Rate</a></th>
                  <td>{{ noncon.sitesPassed }} / {{ noncon.totalSites }}</td>
                </tr>
                <tr>
                  <th scope="row"><a href uib-tooltip="A brief summary describing why the certified product was found to be non-conformant." tooltip-trigger="'mouseenter focus click'">Non-Conformity Summary</a></th>
                  <td>{{ noncon.summary }}</td>
                </tr>
                <tr>
                  <th scope="row"><a href uib-tooltip="A detailed description of the ONC-ACB’s findings related to the non-conformity. This provides a full picture of the potential non-conformities or other deficiencies the ONC-ACB identified, how they were evaluated, and how the ONC-ACB reached its non-conformity determination." tooltip-trigger="'mouseenter focus click'">Findings</a></th>
                  <td>{{ noncon.findings }}</td>
                </tr>
                <tr>
                  <th scope="row"><a href uib-tooltip="If available, the developer’s explanation of why it agrees or disagrees with the ONC-ACB’s assessment of the non-conformity and an explanation of why the non-conformity occurred." tooltip-trigger="'mouseenter focus click'">Developer Explanation</a></th>
                  <td>{{ noncon.developerExplanation }}</td>
                </tr>
                <tr>
                  <th scope="row"><a href uib-tooltip="A detailed description of how the non-conformity was resolved." tooltip-trigger="'mouseenter focus click'">Resolution</a></th>
                  <td>{{ noncon.resolution }}</td>
                </tr>
              </tbody>
            </table>
            <div ng-if="noncon.documents && noncon.documents.length > 0">
              <p>Non-Conformity related to {{ req.criterion ? (req.criterion.number + ': ' + req.criterion.title) : req.requirement }} Supporting Documentation</p>
              <ul>
                <li ng-repeat="doc in noncon.documents">
                  {{ doc.fileName }}
                  <span ng-if="doc.id">
                    <a type="button" class="btn btn-sm btn-ai-success" href="{{ $ctrl.API }}/surveillance/document/{{ doc.id }}?api_key={{ $ctrl.API_KEY }}"><i class="fa fa-cloud-download"></i> <span class="sr-only">Download {{ doc.fileName</span></a>
                  </span>
                  <span ng-if="!doc.id">File is pending</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr ng-if="!$last" />
  </div>
  <div ng-if="$ctrl.allowEditing">
    <button class="btn btn-ai-success" ng-click="$ctrl.initiateSurveillance()">Initiate Surveillance Reporting</button>
  </div>
</div>
