.compare-table th {
    text-align: center;
}

.compare-element {
    text-align: center;
}

.compare-table th.compare-rowLead {
    text-align: left;
}

.compare-table th.compare-rowCert {
    text-align: left;
    font-weight: 400;
}
