<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Charts</h1>
    </div>
  </div>
  <div class="main-content" id="mainContent" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <div google-chart chart="vm.chart" agc-on-select="vm.toggleSeries(selectedItem)" style="height:450px; width:100%;"></div>
        <div class="form-horizontal" ng-form="dateForm">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="start">From</label>
            <div class="input-group col-sm-7">
              <input type="date" class="form-control input-sm" id="start" name="start" ng-model="vm.startDate" placeholder="yyyy-MM-dd" ng-model-options="{timezone:'UTC'}" ng-change="vm.applyFilter()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="end">To</label>
            <div class="input-group col-sm-7">
              <input type="date" class="form-control input-sm" id="end" name="end" ng-model="vm.endDate" placeholder="yyyy-MM-dd" ng-model-options="{timezone:'UTC'}" ng-change="vm.applyFilter()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
