<div class="row" ng-if="$ctrl.activeUser">
  <div class="col-md-6 col-md-offset-3">
    <chpl-user user="$ctrl.activeUser" is-editing="true" take-action="$ctrl.act(action, data)"></chpl-user>
  </div>
</div>
<span ng-if="!$ctrl.activeUser">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Search for a User</h2>
        </div>
        <div class="panel-body form-horizontal" ng-form="$ctrl.search">
          <div class="form-group">
            <label class="control-label col-md-4" for="search">Filter on:</label>
            <div class="col-md-8">
              <input class="form-control input-sm" type="input" ng-model="$ctrl.searchText" id="search" name="search" ng-change="$ctrl.filter()" />
              <p>Full Name, Friendly Name, Title, Email, or User Name</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Invite a User</h2>
        </div>
        <div class="panel-body form-horizontal" ng-form="$ctrl.form">
          <div class="form-group">
            <label class="control-label col-md-4" for="invite-email">Email <span class="text-danger">*</span></label>
            <div class="col-md-8">
              <input class="form-control input-sm" type="email" required ng-model="$ctrl.inviteEmail" id="invite-email" name="inviteEmail" />
              <div class="text-danger" ng-if="($ctrl.form.inviteEmail.$touched || $ctrl.showFormErrors) && $ctrl.form.inviteEmail.$error.required">Email is required</div>
              <div class="text-danger" ng-if="($ctrl.form.inviteEmail.$touched || $ctrl.showFormErrors) && $ctrl.form.inviteEmail.$error.email">Invalid email</div>
            </div>
          </div>
          <div class="form-group" ng-if="$ctrl.roles.length > 1">
            <label class="control-label col-md-4" for="new-role">User Role <span class="text-danger">*</span></label>
            <div class="col-md-8">
              <select class="form-control input-sm" required ng-model="$ctrl.newRole" id="new-role" name="newRole"
                      ng-options="role as role for role in $ctrl.roles | orderBy : 'toString()'"></select>
              <div class="text-danger" ng-if="($ctrl.form.newRole.$touched || $ctrl.showFormErrors) && $ctrl.form.newRole.$error.required">Role is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-ai-success btn-small pull-right" id="invite-user"
                      ng-disabled="$ctrl.form.$invalid && $ctrl.showFormErrors"
                      ng-mouseover="$ctrl.showFormErrors = true"
                      ng-click="$ctrl.inviteUser()"><i class="fa fa-envelope"></i><span class="sr-only"> Send invitation</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="idx in $ctrl.range($ctrl.filteredUsers.length, $ctrl.columnCount)">
    <div ng-class="$ctrl.rangeCol($ctrl.columnCount)" ng-repeat="col in $ctrl.range($ctrl.columnCount)">
      <div class="panel panel-default" ng-if="$ctrl.filteredUsers[idx + col]">
        <div class="panel-body">
          <chpl-user user="$ctrl.filteredUsers[idx + col]" take-action="$ctrl.act(action, data)"></chpl-user>
        </div>
      </div>
    </div>
  </div>
</span>
