<div id="chpl-user-{{ $ctrl.user.userId }}" ng-form="$ctrl.form">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ $ctrl.user.fullName }}<small ng-if="$ctrl.user.friendlyName"> ({{ $ctrl.user.friendlyName }})</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <span ng-if="$ctrl.user.title"><strong>Title:</strong> {{ $ctrl.user.title }}<br /></span>
        <span ng-if="$ctrl.user.phoneNumber"><strong>Phone Number:</strong> {{ $ctrl.user.phoneNumber }}<br /></span>
        <span ng-if="$ctrl.user.email"><strong>Email:</strong> {{ $ctrl.user.email }}<br /></span>
      </p>
    </div>
    <div class="col-sm-6">
      <span class="pull-right">
        <button class="btn btn-link btn-small" id="user-component-edit-{{ $ctrl.user.userId }}" ng-if="$ctrl.can('edit') && !$ctrl.isEditing" ng-click="$ctrl.edit()"><i class="fa fa-pencil-square-o"></i><span class="sr-only"> Edit User {{ $ctrl.user.fullName }}</span></button>
      </span>
      <p>
        <span ng-if="$ctrl.user.subjectName"><strong>User Name:</strong> {{ $ctrl.user.subjectName }}<br /></span>
        <span ng-if="$ctrl.user.role"><strong>Role:</strong> {{ $ctrl.user.role }}<br /></span>
        <strong>Account Locked:</strong> <i class="fa fa-lg" ng-class="{ 'fa-check-square-o': $ctrl.user.accountLocked, 'fa-square-o': !$ctrl.user.accountLocked }"></i><br />
        <strong>Account Enabled:</strong> <i class="fa fa-lg" ng-class="{ 'fa-check-square-o': $ctrl.user.accountEnabled, 'fa-square-o': !$ctrl.user.accountEnabled }"></i><br />
        <strong>Password change on next login:</strong> <i class="fa fa-lg" ng-class="{ 'fa-check-square-o': $ctrl.user.passwordResetRequired, 'fa-square-o': !$ctrl.user.passwordResetRequired }"></i><br />
      </p>
    </div>
  </div>
  <div ng-if="$ctrl.canEdit" class="row">
    <div class="col-sm-12">
      <button class="btn btn-ai-success btn-small pull-right" id="user-component-save-{{ $ctrl.user.userId }}" ng-if="$ctrl.isEditing" ng-click="$ctrl.save()" ng-disabled="$ctrl.showFormErrors && !$ctrl.isValid()" ng-mouseover="$ctrl.showFormErrors = true"><i class="fa fa-save"></i><span class="sr-only"> Save</span></button>
      <button class="btn btn-warning btn-small" id="user-component-cancel-{{ $ctrl.user.userId }}" ng-if="$ctrl.isEditing" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
    </div>
  </div>
</div>
