<div class="row" ng-if="$ctrl.activeUser">
  <div class="col-md-6 col-md-offset-3">
    <h2>Edit user</h2>
    <chpl-user-edit-bridge user="$ctrl.activeUser" errors="$ctrl.errors" dispatch="::$ctrl.act"></chpl-user-edit-bridge>
  </div>
</div>
<span ng-if="!$ctrl.activeUser">
  <div class="row">
    <div class="col-md-10 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="search">Search for a user</label>
        <div class="col-sm-10">
          <input class="form-control input-sm" type="input" ng-model="$ctrl.searchText" id="search" name="search" ng-change="$ctrl.filter()" placeholder="Full Name, Friendly Name, Title, Email, or User Name" />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <chpl-user-invite-bridge roles="$ctrl.roles" dispatch="::$ctrl.act"></chpl-user-invite-bridge>
    </div>
  </div>
  <div class="row" ng-repeat="idx in $ctrl.range($ctrl.filteredUsers.length, $ctrl.columnCount)">
    <div ng-class="$ctrl.rangeCol($ctrl.columnCount)" ng-repeat="col in $ctrl.range($ctrl.columnCount)">
      <div class="panel panel-default" ng-if="$ctrl.filteredUsers[idx + col]">
        <div class="panel-body">
          <chpl-user user="$ctrl.filteredUsers[idx + col]" take-action="$ctrl.act(action, data)"></chpl-user>
          <chpl-user-view-bridge user="$ctrl.filteredUsers[idx + col]" dispatch="::$ctrl.act"></chpl-user-view-bridge>
        </div>
      </div>
    </div>
  </div>
</span>
