.cert-bloc {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid grey 1px;
}

.cert-bloc select {
    padding: 10px;
    margin: -5px -20px -5px -5px;
}

#ics-cytoscape {
    width: 100%;
    height: 300px;
}
