<div role="modal" aria-labeled-by="modalLabel">
  <div class="modal-header">
    <button class="btn btn-default pull-right" ng-click="vm.close()" aria-label="Close Modal"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h4 class="modal-title" id="modalLabel">Inherited Certification Status (ICS) Relationships</h4>
  </div>
  <div class="modal-body">
    <figure>
      <cytoscape id="ics-cytoscape"
                 graph-options="vm.icsOptions" graph-elements="vm.icsElements" graph-layout="vm.icsLayout" graph-style="vm.icsStyle" graph-ready="vm.icsCyGraphReady">
      </cytoscape>
      <figcaption class="sr-only">
        <h5>Overview</h5>
        <p>The image shows the ICS relationships between related Products</p>
        <h5>Values</h5>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col">Certification Status</th>
              <th scope="col">Inherits from</th>
              <th scope="col">Source for</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="listing in vm.icsFamily | orderBy:'chplProductNumber'">
              <td>
                <a href="#!/product/{{ listing.id }}/additional" ng-if="vm.listing.id !== listing.id">{{ listing.chplProductNumber }}</a>
                <span ng-if="vm.listing.id === listing.id">{{ listing.chplProductNumber }}</span>
              </td>
              <td>{{ listing.certificationStatus.name }}</td>
              <td><ul><li ng-repeat="parent in listing.parents | orderBy:'chplProductNumber'">{{ parent.chplProductNumber }}</li></ul></td>
              <td><ul><li ng-repeat="child in listing.children | orderBy:'chplProductNumber'">{{ child.chplProductNumber }}</li></ul></td>
            </tr>
          </tbody>
        </table>
      </figcaption>
    </figure>
  </div>
  <div class="modal-footer">
    <button class="btn btn-ai-success pull-right" ng-click="vm.compare()">Compare all Products</button>
    <button class="btn btn-default pull-left" ng-click="vm.close()">Close</button>
  </div>
</div>
