<div role="modal" aria-labeled-by="modalLabel">
  <div class="modal-header">
    <button class="btn btn-default pull-right" ng-click="vm.close()" aria-label="Close Modal"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h4 class="modal-title" id="modalLabel">Details</h4>
  </div>
  <div class="modal-body">
    <h5>{{ vm.listing.chplProductNumber }}</h5>
    <strong>Developer</strong>: {{ vm.listing.developer.name }}<br />
    <strong>Product</strong>: {{ vm.listing.product.name }}<br />
    <strong>Version</strong>: {{ vm.listing.version.version }}<br />
    <strong>Certification Status</strong>: {{ vm.listing.certificationStatus.name }}<br />
    <a ng-if="!vm.active" href="#/product/{{ vm.listing.id }}/additional" ng-click="vm.navigate(); $event.stopPropagation()">Full details</a>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="vm.close()">Close</button>
  </div>
</div>
