<div ng-form="{{ $ctrl.identifier }}_form">
  <div ng-repeat="option in $ctrl.selectedItems | orderBy: 'item.name' track by $index" class="flex-container rotate alert alert-info fade-in">
    <div class="flex-container flex-item">
      <div class="flex-item wide cross-axis-align-center">
        {{ option.item.name }}
      </div>
      <div class="flex-item cross-axis-align-center additional-input" ng-if="$ctrl.additionalInput">
        <label for="{{ $ctrl.identifier }}-additional-input-{{ $index }}" class="control-label">{{ $ctrl.additionalInputLabel }}</label>
        <input type="text"
               id="{{ $ctrl.identifier }}-additional-input-{{ $index }}"
               name="{{ $ctrl.identifier }}_additionalInput_{{ $index }}"
               class="form-control"
               ng-model="option.additionalInputValue"
               ng-change="$ctrl.inputChange()"
               ng-maxlength="$ctrl.additionalInputMaxLength"
               ng-required="{{ $ctrl.additionalInputRequired }}">
        <p class="text-danger" ng-show="{{ $ctrl.identifier }}_form.{{ $ctrl.identifier }}_additionalInput_{{ $index }}.$error.maxlength">
          {{ $ctrl.additionalInputLabel }} is too long.
        </p>
        <p class="text-danger" ng-show="{{ $ctrl.identifier }}_form.{{ $ctrl.identifier }}_additionalInput_{{ $index }}.$error.required">
          {{ $ctrl.additionalInputLabel }} is required.
        </p>
      </div>
      <div class="flex-item cross-axis-align-center narrowest">
        <button class="btn btn-link" ng-click="$ctrl.removeItem(option)"><i class="fa fa-times"></i><span class="sr-only">Remove item {{ option.item.name }}</span></button>
      </div>
    </div>
    <div class="flex-container flex-item" ng-if="$ctrl.additionalInput2">
      <div class="flex-item additional-input">
        <label for="{{ $ctrl.identifier }}-additional-input-2-{{ $index }}" class="control-label">{{ $ctrl.additionalInput2Label }}</label>
        <input type="text"
               id="{{ $ctrl.identifier }}-additional-input-2-{{ $index }}"
               name="{{ $ctrl.identifier }}_additionalInput2_{{ $index }}"
               class="form-control"
               ng-model="option.additionalInput2Value"
               ng-change="$ctrl.inputChange()"
               ng-maxlength="$ctrl.additionalInput2MaxLength"
               ng-required="{{ $ctrl.additionalInput2Required }}">
        <p class="text-danger" ng-show="{{ $ctrl.identifier }}_form.{{ $ctrl.identifier }}_additionalInput2_{{ $index }}.$error.maxlength">
          {{ $ctrl.additionalInput2Label }} is too long.
        </p>
        <p class="text-danger" ng-show="{{ $ctrl.identifier }}_form.{{ $ctrl.identifier }}_additionalInput2_{{ $index }}.$error.required">
          {{ $ctrl.additionalInput2Label }} is required.
        </p>
      </div>
    </div>
  </div>
  <div class="flex-containter" ng-if="$ctrl.options.length > 0">
    <div class="flex-item">
      <select class="form-control"
              id="{{ $ctrl.identifier }} "
              name="{{ $ctrl.identifier }}"
              ng-model="$ctrl.selectedItem"
              ng-options="option.value as option.text disable when $ctrl.isItemDisabled(option.value) for option in $ctrl.options"
              ng-change="$ctrl.selectOnChange()">
        <option value="" disabled selected>{{ $ctrl.placeholder }}</option>
      </select>
    </div>
  </div>
  <div class="flex-container" ng-if="($ctrl.errors && $ctrl.errors.length > 0) || ($ctrl.warnings && $ctrl.warnings.length > 0)">
    <div class="flex-item">
      <p class="text-danger" ng-if="$ctrl.errors && $ctrl.errors.length !== 0" ng-repeat="error in $ctrl.errors track by $index">
        {{ error }}
      </p>
      <p class="text-warning" ng-if="$ctrl.warnings && $ctrl.warnings.length !== 0" ng-repeat="warning in $ctrl.warnings track by $index">
        {{ warning }}
      </p>
    </div>
  </div>
</div>
