<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Product Listing</h1>
    </div>
  </div>

  <div class="row main-content" id="mainContent">
    <div class="col-md-6 col-md-offset-3">
      <p>To access the complete listing of Certified Health Information Technology Products, including the 2011 edition products, 2014 edition products, and 2015 edition products, click the download button below.</p>
      <div class="text-center">
        <a type="button" class="btn btn-lg btn-success" href="{{ vm.API }}/download?api_key={{ vm.API_KEY }}"><i class="fa fa-cloud-download"></i> Download</a>
      </div>
    </div>
  </div> <!-- end of other infographic -->
</div>
