<div>
  <div class="row splash-row">
    <div class="col-md-10 col-md-offset-1 text-center jumbotron">
      <h1><strong>Product Listing</strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>To access the complete listing of Certified Health Information Technology Products, including the 2011 edition, 2014 edition, a combination of the 2011 and 2014 edition, and the 2015 edition, click the download button below.</p>
    </div>
  </div> <!-- end of other infographic -->
</div>
