<span>
  <h3>Currently Scheduled User Jobs</h3>
  <p ng-if="!$ctrl.triggers || $ctrl.triggers.length === 0">
    No User Jobs are scheduled
  </p>
  <table class="table table-condensed" st-table="$ctrl.displayedTriggers" st-safe-src="$ctrl.triggers" ng-if="$ctrl.triggers && $ctrl.triggers.length > 0">
    <thead>
      <tr>
        <th scope="col" class="search-header" st-sort="email" st-skip-natural="true" st-sort-default="true">Email</th>
        <th scope="col">Job details</th>
        <th scope="col"><span class="sr-only">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trigger in $ctrl.displayedTriggers track by $index">
        <td>{{ trigger.email }}</td>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="detail in trigger.details | orderBy:'detail'">{{ detail }}</li>
          </ul>
        </td>
        <td><button class="btn btn-ai-success" ng-click="$ctrl.editTrigger(trigger)"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit job for {{ trigger.email }}</span></button></td>
      </tr>
    </tbody>
  </table>
</span>
<span>
  <h3>Currently Scheduled System Jobs</h3>
  <p ng-if="!$ctrl.scheduledSystemJobs || $ctrl.scheduledSystemJobs.length === 0">
    No System Jobs are scheduled
  </p>
  <table class="table table-condensed" st-table="$ctrl.displayedScheduledSystemJobs" st-safe-src="$ctrl.scheduledSystemJobs" ng-if="$ctrl.scheduledSystemJobs && $ctrl.scheduledSystemJobs.length > 0">
    <thead>
      <tr>
        <th scope="col" class="search-header" st-sort="name" st-skip-natural="true" st-sort-default="true">Job Name</th>
        <th scope="col">Description</th>
        <th scope="col">Next Run Date</th>
        <th scope="col">Trigger Schedule Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="scheduledSystemJob in $ctrl.displayedScheduledSystemJobs track by $index">
        <td>{{ scheduledSystemJob.name }}</td>
        <td>{{ scheduledSystemJob.description }}</td>
        <td>{{ scheduledSystemJob.nextRunDate | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
        <td>{{ scheduledSystemJob.triggerScheduleType }}</td>
      </tr>
    </tbody>
  </table>
</span>
