<div class="flex-container">
  <div class="flex-item">
    <h1>Merge {{ $ctrl.developer.name }}</h1>
  </div>
</div>
<div class="flex-container">
  <div class="flex-item panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Add Developers to Merge</h2>
    </div>
    <div class="panel-body">
      <label for="selected-to-merge" class="sr-only">Add developer to merge</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" ng-model="$ctrl.selectedToMerge" class="form-control" id="selected-to-merge" name="selectedToMerge" placeholder="Enter Developer name..."
               ng-blur="$ctrl.noneFound = false"
               uib-typeahead="developer.name as developer.name for developer in $ctrl.developers | filter:$viewValue | filter:{selected:false} | limitTo:8"
               typeahead-no-results="$ctrl.noneFound" typeahead-on-select="$ctrl.selectDeveloper($item, $model, $label, $event)"
               typeahead-editable="false" typeahead-show-hint="true">
      </div>
      <div ng-if="$ctrl.noneFound">
        <i class="fa fa-cancel"></i> No Results Found
      </div>
      <div ng-repeat="developer in $ctrl.developers"
           class="selectable-item" ng-class="{ 'selectable-item--selected' : developer.selected }" ng-class-even="'selectable-item--even'" ng-class-odd="'selectable-item--odd'"
           ng-click="$ctrl.selectDeveloper(developer)">
        <div>{{ developer.name }}</div>
        <div ng-if="!developer.selected"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>
  </div>
  <div class="flex-item panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Developers Merging</h2>
    </div>
    <div class="panel-body">
      <div class="selected-item selected-item--primary">
        {{ $ctrl.developer.name }}
      </div>
      <div ng-repeat="developer in $ctrl.selectedDevelopers | orderBy: 'name' track by $index"
           class="selected-item selected-item--secondary"
           ng-click="$ctrl.selectDeveloper(developer)">
        <div>{{ developer.name }}</div>
        <div><i class="fa fa-close"></i></div>
      </div>
      <h3>New Merged Developer</h3>
      <chpl-developer-bridge
        developer="$ctrl.developer"
        dispatch="::$ctrl.handleDispatch"
        is-merging="true"
        error-messages="$ctrl.errorMessages"
        merging-developers="$ctrl.selectedDevelopers"
        ></chpl-developer-bridge>
    </div>
  </div>
</div>
