<div class="flex-container">
  <div class="flex-item">
    <h1>Split {{ $ctrl.developer.name }}</h1>
  </div>
</div>
<div class="flex-container">
  <div class="flex-item">
    <chpl-developer-bridge
      developer="$ctrl.developer"
      is-splitting="true"
      ></chpl-developer-bridge>
  </div>
  <div class="flex-item">
    <chpl-developer-bridge
      developer="$ctrl.newDeveloper"
      dispatch="::$ctrl.handleDispatch"
      is-editing="true"
      is-splitting="true"
      is-invalid="$ctrl.products.length === 0 || $ctrl.movingProducts.length === 0"
      error-messages="$ctrl.errorMessages"
      ></chpl-developer-bridge>
  </div>
</div>
<div class="flex-container">
  <div class="flex-item panel panel-default">
    <div class="panel-body">
      <h5>Products staying with original Developer</h5>
      <div class="bg-danger" ng-if="$ctrl.products.length === 0">At least one Product must stay with original Developer</div>
      <div class="flex-container container-striped" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="product in $ctrl.products | orderBy: 'name'">
        <div class="flex-item cross-axis-align-center">
          {{ product.name }}
        </div>
        <div class="flex-item text-right narrowest">
          <button class="btn btn-default" id="developers-product-move-new-{{ product.id }}" ng-click="$ctrl.toggleMove(product, true)"><i class="fa fa-long-arrow-right"></i><span class="sr-only"> Move to new</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item panel panel-default">
    <div class="panel-body">
      <h5>Products moving to new Developer</h5>
      <div class="bg-danger" ng-if="$ctrl.movingProducts.length === 0">At least one Product must be selected to move</div>
      <div class="flex-container container-striped" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="product in $ctrl.movingProducts | orderBy: 'name'">
        <div class="flex-item cross-axis-align-center">
          {{ product.name }}
        </div>
        <div class="flex-item text-right narrowest">
          <button class="btn btn-default" id="developers-product-move-old-{{ product.id }}" ng-click="$ctrl.toggleMove(product, false)"><i class="fa fa-long-arrow-left"></i><span class="sr-only"> Move to new</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
