<div ui-view="view">
  <chpl-confirmation-bridge
    ng-if="$ctrl.action === 'confirmation'"
    dispatch="::$ctrl.closeConfirmation"
    text="$ctrl.confirmationText"
    ></chpl-confirmation-bridge>
  <div class="row">
    <div class="col-sm-12">
      <h1>Developer Information</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ul ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length > 0" class="bg-danger">
        <li ng-repeat="msg in $ctrl.errorMessages">{{ msg }}</li>
      </ul>
      <div ui-view="developer">
        <chpl-developer developer="$ctrl.developer"
                        can-edit="$ctrl.can('edit')"
                        can-merge="$ctrl.can('merge')"
                        can-split="$ctrl.can('split-developer')"
                        take-action="$ctrl.takeAction(action)"
                        ></chpl-developer>
      </div>
      <div feature-flag="role-developer">
        <div class="panel panel-default" ng-if="$ctrl.can('manageUsers')">
          <div class="panel-heading">
            <h2 class="panel-title">Manage Users ({{ $ctrl.users.length }})</h2>
          </div>
          <div class="panel-body">
            <chpl-users-bridge users="$ctrl.users"
                               roles="$ctrl.roles"
                               dispatch="::$ctrl.takeUserAction"
                               ></chpl-users-bridge>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.can('displayAttestations')">
        <chpl-attestation-change-request-bridge developer="$ctrl.developer"
                                                dispatch="::$ctrl.handleAttestationDispatch"
                                                ></chpl-attestation-change-request-bridge>
      </div>
    </div>
    <div class="col-md-8">
      <div ng-if="$ctrl.can('manageTracking')">
        <chpl-change-requests change-requests="$ctrl.changeRequests"
                              change-request-types="$ctrl.changeRequestTypes"
                              change-request-status-types="$ctrl.changeRequestStatusTypes"
                              developer="$ctrl.developer"
                              take-action="$ctrl.takeCrAction(action, data)"
                              ></chpl-change-requests>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <span class="pull-right">
              <span ng-if="$ctrl.drStatus === 'success'">({{ $ctrl.directReviews && $ctrl.directReviews.length ? $ctrl.directReviews.length : 0 }} found)</span>
              <span class="developer__direct-review-error badge badge-error" ng-if="$ctrl.drStatus === 'error'">error</span>
            </span>
            <h2 class="panel-title">Direct Review Activities</h2>
          </div>
        </div>
        <div class="panel-body">
          <span ng-if="$ctrl.drStatus === 'success'">
            <chpl-direct-reviews direct-reviews="$ctrl.directReviews"></chpl-direct-reviews>
          </span>
          <span ng-if="$ctrl.drStatus === 'error'">
            <p>Direct Review information is not currently available, please check back later</p>
          </span>
          <span ng-if="$ctrl.drStatus === 'pending'">
            <p><i class="fa fa-spin fa-spinner"></i> Direct Review information is loading</p>
          </span>
        </div>
      </div>
      <div ui-view="products">
        <chpl-products products="$ctrl.developer.products"
                       search-options="$ctrl.searchOptions"
                       on-cancel="$ctrl.cancel()"
                       ></chpl-products>
      </div>
    </div>
  </div>
</div>
