<ui-view>
  <div class="row" ng-if="$ctrl.action === 'confirmation'">
    <div class="col-md-10 col-md-offset-1">
      <chpl-confirmation take-action="$ctrl.closeConfirmation()" text="{{ $ctrl.confirmationText }}"></chpl-confirmation>
    </div>
  </div>
  <div class="row" ng-if="!$ctrl.action || $ctrl.action !== 'confirmation'">
    <div class="col-md-6">
      <ul ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length > 0" class="bg-danger">
        <li ng-repeat="msg in $ctrl.errorMessages">{{ msg }}</li>
      </ul>
      <chpl-developer developer="$ctrl.developer"
                      allowed-acbs="$ctrl.allowedAcbs"
                      can-edit="$ctrl.can('edit')"
                      can-merge="$ctrl.can('merge') && $ctrl.developers.length > 0"
                      can-split="$ctrl.can('split-developer')"
                      is-editing="$ctrl.action === 'edit'"
                      on-cancel="$ctrl.cancel()"
                      on-edit="$ctrl.save(developer)"
                      take-action="$ctrl.takeAction(action)"
                      ></chpl-developer>
      <div feature-flag="role-developer">
        <div class="panel panel-default" ng-if="$ctrl.can('manageUsers')">
          <div class="panel-heading">
            <h2 class="panel-title">Manage Users ({{ $ctrl.users.length }})</h2>
          </div>
          <div class="panel-body">
            <chpl-users users="$ctrl.users"
                        roles="$ctrl.roles"
                        take-action="$ctrl.takeUserAction(action, data)"
                        ></chpl-users>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-if="$ctrl.can('manageTracking')">
        <chpl-change-requests change-requests="$ctrl.changeRequests"
                              change-request-types="$ctrl.changeRequestTypes"
                              change-request-status-types="$ctrl.changeRequestStatusTypes"
                              developer="$ctrl.developer"
                              take-action="$ctrl.takeCrAction(action, data)"
                              ></chpl-change-requests>
      </div>
      <chpl-products products="$ctrl.products"
                     product-id="$ctrl.productId"
                     search-options="$ctrl.searchOptions"
                     ></chpl-products>
    </div>
  </div>
</ui-view>
