<div ui-view="view">
  <chpl-confirmation-bridge
    ng-if="$ctrl.action === 'confirmation'"
    dispatch="::$ctrl.closeConfirmation"
    text="$ctrl.confirmationText"
    ></chpl-confirmation-bridge>
  <div class="row">
    <div class="col-sm-12">
      <h1>Developer Information</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ul ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length > 0" class="bg-danger">
        <li ng-repeat="msg in $ctrl.errorMessages">{{ msg }}</li>
      </ul>
      <div ui-view="developer">
        <chpl-developer-bridge
          developer="$ctrl.developer"
          dispatch="::$ctrl.takeAction"
          can-edit="$ctrl.can('edit')"
          can-join="$ctrl.can('join')"
          can-split="$ctrl.can('split-developer')"
          ></chpl-developer-bridge>
      </div>
      <br />
      <chpl-real-world-testing-view-bridge
        developer="$ctrl.developer"
        ></chpl-real-world-testing-view-bridge>
      <br />
      <chpl-attestations-view-wrapper-bridge
        developer="$ctrl.developer"
        dispatch="::$ctrl.handleAttestationDispatch"
        ></chpl-attestations-view-wrapper-bridge>
      <br />
      <div ng-if="$ctrl.can('manageUsers')">
        <chpl-users-bridge
          users="$ctrl.users"
          roles="$ctrl.roles"
          group-names="$ctrl.groupNames"
          dispatch="::$ctrl.takeUserAction"
          ></chpl-users-bridge>
      </div>
    </div>
    <div class="col-md-8">
      <div ng-if="$ctrl.can('manageTracking')">
        <chpl-change-requests-wrapper-bridge
          disallowed-filters="$ctrl.disallowedFilters"
          bonus-query="$ctrl.bonusQuery"
          ></chpl-change-requests-wrapper-bridge>
      </div>
      <chpl-direct-reviews-view-bridge
        developer="$ctrl.developer"
        ></chpl-direct-reviews-view-bridge>
      <chpl-products-bridge
        developer="$ctrl.developer"
        ></chpl-products-bridge>
      <div ui-view="products">
        <chpl-products
          products="$ctrl.developer.products"
          search-options="$ctrl.searchOptions"
          on-cancel="$ctrl.cancel()"
          ></chpl-products>
      </div>
    </div>
  </div>
</div>
