<div id="search-page">
  <div class="pending" id="pendingMask" ng-show="vm.isPreloading"></div>
  <div class="search-unsearched" ng-if="!vm.activeSearch && vm.searchForm.$pristine"></div>
  <div class="container-fluid" st-table="vm.displayedCps" st-safe-src="vm.allCps" st-set-filter="customFilter" vm.totalItemCount="totalItemCount">
    <st-manage register-search="vm.registerSearch(search)" name-space="searchTableState"></st-manage>
    <div class="row" ng-show="vm.activeSearch || vm.searchForm.$dirty">
      <div class="col-sm-12">
        <h1>Search</h1>
      </div>
    </div>
    <div class="form-horizontal search-inputs" ng-form="vm.searchForm" aria-live="polite">
      <div class="form-group" id="filters">
        <div ng-class="{'col-sm-8 col-sm-offset-2': !vm.activeSearch && vm.searchForm.$pristine, 'col-sm-4': vm.activeSearch || vm.searchForm.$dirty}">
          <label for="searchField" class="control-label sr-only">Search by Developer, Product, or ONC-ACB/CHPL ID</label>
          <div class="input-group" ng-class="{'input-group-lg' : !vm.activeSearch && vm.searchForm.$pristine }">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" id="searchField" placeholder="Search by Developer, Product, or ONC-ACB/CHPL ID"
                   ng-model="vm.query" ng-change="vm.activeSearch = true"
                   ng-blur="vm.trackEntry('Main', vm.query)"
                   ai-enhanced-text predicate="mainSearch" register-clear-filter="vm.registerClearFilter(clearFilter)" register-restore-state="vm.registerRestoreState(restoreState)" name-space="searchTableState" />
            <span class="input-group-btn">
              <button ng-if="!vm.activeSearch && vm.searchForm.$pristine" class="btn btn-default" ng-click="vm.browseAll()"><i class="fa fa-ellipsis-h"></i> Browse all</button>
            </span>
          </div>
          <div ng-if="!vm.activeSearch && vm.searchForm.$pristine" class="restore-previous-search">
            <button class="btn btn-default" ng-if="vm.hasTableState" ng-click="vm.reloadResults()"><i class="fa fa-backward"></i> Restore previous search</button>
          </div>
        </div>
        <div class="col-sm-8" ng-show="vm.activeSearch || vm.searchForm.$dirty">
          <st-list-multiple collection="vm.allCps" fixed-items="vm.previouslyIds" predicate="id" register-clear-filter="vm.registerClearFilter(clearFilter)" register-restore-state="vm.registerRestoreState(restoreState)" name-space="searchTableState" match-full="true" hidden="true"></st-list-multiple>
          <div uib-dropdown auto-close="outsideClick" class="btn-group">
            <button class="btn btn-ai dropdown-toggle" type="button" id="filter-status-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              <a ng-if="vm.categoryChanged['certificationStatus']" href uib-tooltip="Filter has non-default option selected" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">Filter has non-default option selected</span>*</a> Certification Status <i class="fa fa-filter"></i>
            </button>
            <ul class="dropdown-menu" aria-labeledby="filter-status-button" uib-dropdown-menu>
              <st-list-multiple
                collection="vm.allCps"
                fixed-items="vm.filterItems.statusItems"
                has-changes="vm.categoryChanged['certificationStatus']"
                predicate="certificationStatus"
                register-allow-all="vm.registerAllowAll(allowAll)"
                register-clear-filter="vm.registerClearFilter(clearFilter)"
                register-restore-state="vm.registerRestoreState(restoreState)"
                register-show-retired="vm.registerShowRetired(showRetired)"
                trigger-show-retired="vm.triggerShowRetired()"
                match-full="true"
                name-space="searchTableState"
                analytics="{category: 'Search', eventTitle: 'Certification Status'}"></st-list-multiple>
            </ul>
          </div>
          <div uib-dropdown auto-close="outsideClick" class="btn-group">
            <button class="btn btn-ai dropdown-toggle" type="button" id="filter-edition-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              <a ng-if="vm.categoryChanged['edition']" href uib-tooltip="Filter has non-default option selected" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">Filter has non-default option selected</span>*</a> Certification Edition <i class="fa fa-filter"></i>
            </button>
            <ul class="dropdown-menu" aria-labeledby="filter-edition-button" uib-dropdown-menu>
              <st-list-multiple
                collection="vm.allCps"
                fixed-items="vm.filterItems.editionItems"
                has-changes="vm.categoryChanged['edition']"
                predicate="edition"
                match-full="true"
                register-allow-all="vm.registerAllowAll(allowAll)"
                register-clear-filter="vm.registerClearFilter(clearFilter)"
                register-restore-state="vm.registerRestoreState(restoreState)"
                register-show-retired="vm.registerShowRetired(showRetired)"
                trigger-show-retired="vm.triggerShowRetired()"
                name-space="searchTableState"
                analytics="{category: 'Search', eventTitle: 'Certification Edition'}"></st-list-multiple>
            </ul>
          </div>
          <div uib-dropdown auto-close="outsideClick" class="btn-group">
            <button class="btn btn-ai dropdown-toggle" type="button" id="filter-criteria-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              <a ng-if="vm.categoryChanged['criteria'][2011] || vm.categoryChanged['criteria'][2014] || vm.categoryChanged['criteria'][2015] || vm.categoryChanged['criteria']['2015Cures']" href uib-tooltip="Filter has non-default option selected" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">Filter has non-default option selected</span>*</a> Certification Criteria <i class="fa fa-filter"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-large" aria-labeledby="filter-criteria-button" uib-dropdown-menu>
              <li>
                <a href ng-click="vm.show2011 = !vm.show2011">
                  <i class="fa" ng-class="vm.show2011 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2011 ? 'Hide' : 'View' }} 2011 Certification Criteria <span ng-if="vm.categoryChanged['criteria'][2011]"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.show2011">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.criteria[2011]"
                  has-changes="vm.categoryChanged['criteria'][2011]"
                  predicate="criteriaMet"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  trigger-show-retired="vm.triggerShowRetired()"
                  name-space="searchTableState"
                  allow-and="true"
                  separator="{{ vm.SPLIT_PRIMARY }}"
                  analytics="{category: 'Search', eventTitle: 'Certification Criterion'}"></st-list-multiple>
              </li>
              <li>
                <a href ng-click="vm.show2014 = !vm.show2014">
                  <i class="fa" ng-class="vm.show2014 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2014 ? 'Hide' : 'View' }} 2014 Certification Criteria <span ng-if="vm.categoryChanged['criteria'][2014]"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.show2014">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.criteria[2014]"
                  has-changes="vm.categoryChanged['criteria'][2014]"
                  predicate="criteriaMet"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  trigger-show-retired="vm.triggerShowRetired()"
                  name-space="searchTableState"
                  allow-and="true"
                  separator="{{ vm.SPLIT_PRIMARY }}"
                  analytics="{category: 'Search', eventTitle: 'Certification Criterion'}"></st-list-multiple>
              </li>
              <li>
                <a href ng-click="vm.show2015 = !vm.show2015">
                  <i class="fa" ng-class="vm.show2015 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2015 ? 'Hide' : 'View' }} 2015 Certification Criteria <span ng-if="vm.categoryChanged['criteria'][2015]"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.show2015">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.criteria[2015]"
                  has-changes="vm.categoryChanged['criteria'][2015]"
                  predicate="criteriaMet"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  name-space="searchTableState"
                  allow-and="true"
                  separator="{{ vm.SPLIT_PRIMARY }}"
                  analytics="{category: 'Search', eventTitle: 'Certification Criterion'}"></st-list-multiple>
              </li>
              <li>
                <a href ng-click="vm.show2015Cures = !vm.show2015Cures">
                  <i class="fa" ng-class="vm.show2015 ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2015Cures ? 'Hide' : 'View' }} 2015 Cures Update Certification Criteria <span ng-if="vm.categoryChanged['criteria']['2015Cures']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.show2015Cures">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.criteria['2015Cures']"
                  has-changes="vm.categoryChanged['criteria']['2015Cures']"
                  predicate="criteriaMet"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  name-space="searchTableState"
                  allow-and="true"
                  separator="{{ vm.SPLIT_PRIMARY }}"
                  analytics="{category: 'Search', eventTitle: 'Certification Criterion'}"></st-list-multiple>
              </li>
            </ul>
          </div>
          <div uib-dropdown auto-close="outsideClick" class="btn-group" ng-if="vm.directReviewsAvailable">
            <button class="btn btn-ai dropdown-toggle" type="button" id="filter-compliance-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              <a ng-if="vm.categoryChanged['compliance']" href uib-tooltip="Filter has non-default option selected" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">Filter has non-default option selected</span>*</a> Compliance Activity <i class="fa fa-filter"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-large" aria-labeledby="filter-compliance-button" uib-dropdown-menu>
              <chpl-compliance-filter
                has-changes="vm.categoryChanged['compliance']"
                register-clear-filter="vm.registerClearFilter(clearFilter)"
                register-restore-state="vm.registerRestoreState(restoreState)"
                register-allow-all="vm.registerAllowAll(allowAll)"
                name-space="searchTableState"></chpl-compliance-filter>
            </ul>
          </div>
          <div uib-dropdown auto-close="outsideClick" class="btn-group" ng-if="!vm.directReviewsAvailable">
            <button class="btn btn-ai dropdown-toggle" type="button" id="filter-compliance-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              Compliance Activity <i class="fa fa-filter"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-large" aria-labeledby="filter-compliance-button" uib-dropdown-menu>
              <div class="dropdown__text-block">
                <p>Compliance Activity is currently unavailable. Please check back later.</p>
                <p>Surveillance and Direct Reviews can be downloaded from the <a ui-sref="resources.download">CHPL Download</a> page</p>
              </div>
            </ul>
          </div>
          <div uib-dropdown auto-close="outsideClick" class="btn-group">
            <button class="btn btn-ai dropdown-toggle" type="button" id="filter-more-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              <a ng-if="vm.isCategoryChanged(['cqm-2011','cqm-other','acb','practiceType','product','developer','version', 'certificationDate'])" href uib-tooltip="Filter has non-default option selected" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">Filter has non-default option selected</span>*</a> More <i class="fa fa-filter"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-large" aria-labeledby="filter-more-button" uib-dropdown-menu>
              <li>
                <a href ng-click="vm.showCqms = !vm.showCqms">
                  <i class="fa" ng-class="vm.showCqms ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.showCqms ? 'Hide' : 'View' }} Clinical Quality Measures <span ng-if="vm.categoryChanged['cqm-2011'] || vm.categoryChanged['cqm-other']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-if="vm.showCqms">
                <a href ng-click="vm.show2011Cqms = !vm.show2011Cqms">
                  <i class="fa" ng-class="vm.show2011Cqms ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.show2011Cqms ? 'Hide' : 'View' }} 2014 Clinical Quality Measures <span ng-if="vm.categoryChanged['cqm-2011']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.showCqms && vm.show2011Cqms">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.cqms[2011]"
                  has-changes="vm.categoryChanged['cqm-2011']"
                  predicate="cqmsMet"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  trigger-show-retired="vm.triggerShowRetired()"
                  name-space="searchTableState"
                  allow-and="true"
                  separator="{{ vm.SPLIT_PRIMARY }}"
                  analytics="{category: 'Search', eventTitle: 'CQM'}"></st-list-multiple>
              </li>
              <li ng-if="vm.showCqms">
                <a href ng-click="vm.showOtherCqms = !vm.showOtherCqms">
                  <i class="fa" ng-class="vm.showOtherCqms ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.showOtherCqms ? 'Hide' : 'View' }} 2014/2015 Clinical Quality Measures <span ng-if="vm.categoryChanged['cqm-other']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.showCqms && vm.showOtherCqms">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.cqms.other"
                  has-changes="vm.categoryChanged['cqm-other']"
                  predicate="cqmsMet"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  name-space="searchTableState"
                  allow-and="true"
                  separator="{{ vm.SPLIT_PRIMARY }}"
                  analytics="{category: 'Search', eventTitle: 'CQM'}"></st-list-multiple>
              </li>
              <li>
                <a href ng-click="vm.showAcbs = !vm.showAcbs">
                  <i class="fa" ng-class="vm.showAcbs ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.showAcbs ? 'Hide' : 'View' }} ONC-ACBs <span ng-if="vm.categoryChanged['acb']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.showAcbs">
                <st-list-multiple
                  collection="vm.allCps"
                  fixed-items="vm.filterItems.acbItems"
                  has-changes="vm.categoryChanged['acb']"
                  predicate="acb"
                  register-allow-all="vm.registerAllowAll(allowAll)"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  register-show-retired="vm.registerShowRetired(showRetired)"
                  trigger-show-retired="vm.triggerShowRetired()"
                  name-space="searchTableState"
                  analytics="{category: 'Search', eventTitle: 'ONC-ACB'}"></st-list-multiple>
              </li>
              <li>
                <a href ng-click="vm.showPracticeType = !vm.showPracticeType">
                  <i class="fa" ng-class="vm.showPracticeType ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.showPracticeType ? 'Hide' : 'View' }} Practice Type (2011 and 2014 Editions) <span ng-if="vm.categoryChanged['practiceType']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.showPracticeType">
                <st-select-distinct
                  collection="vm.allCps"
                  fixed-items="vm.searchOptions.practiceTypes"
                  has-changes="vm.categoryChanged['practiceType']"
                  label="Practice Type"
                  predicate="practiceType"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  trigger-show-retired="vm.triggerShowRetired()"
                  name-space="searchTableState"
                  analytics="{category: 'Search', eventTitle: 'Practice Type'}"></st-select-distinct>
              </li>
              <li>
                <a href ng-click="vm.showCertificationDate = !vm.showCertificationDate">
                  <i class="fa" ng-class="vm.showCertificationDate ? 'fa-caret-down' : 'fa-caret-right'"></i> {{ vm.showCertificationDate ? 'Hide' : 'View' }} Certification Date <span ng-if="vm.categoryChanged['certificationDate']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                </a>
              </li>
              <li ng-show="vm.showCertificationDate">
                <ai-date-range
                  predicate="certificationDate"
                  has-changes="vm.categoryChanged['certificationDate']"
                  register-clear-filter="vm.registerClearFilter(clearFilter)"
                  register-restore-state="vm.registerRestoreState(restoreState)"
                  name-space="searchTableState"
                  analytics="{category: 'Search', eventTitle: 'Certification Date'}"></ai-date-range>
              </li>
              <li class="form-horizontal">
                <div class="form-group">
                  <label for="developerRefine" class="col-sm-4 control-label">
                    Developer
                    <span ng-if="vm.categoryChanged['developer']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                  </label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="developerRefine"
                      placeholder="Developer"
                      ai-enhanced-text
                      has-changes="vm.categoryChanged['developer']"
                      ng-model="vm.developerQuery"
                      ng-blur="vm.trackEntry('Developer', vm.developerQuery)"
                      predicate="developerSearch"
                      register-clear-filter="vm.registerClearFilter(clearFilter)"
                      register-restore-state="vm.registerRestoreState(restoreState)"
                      name-space="searchTableState"
                      />
                  </div>
                </div>
              </li>
              <li class="form-horizontal">
                <div class="form-group">
                  <label for="productRefine" class="col-sm-4 control-label">
                    Product
                    <span ng-if="vm.categoryChanged['product']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                  </label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="productRefine"
                      placeholder="Product"
                      ai-enhanced-text
                      has-changes="vm.categoryChanged['product']"
                      ng-model="vm.productQuery"
                      ng-blur="vm.trackEntry('Product', vm.productQuery)"
                      predicate="product"
                      register-clear-filter="vm.registerClearFilter(clearFilter)"
                      register-restore-state="vm.registerRestoreState(restoreState)"
                      name-space="searchTableState"
                      />
                  </div>
                </div>
              </li>
              <li class="form-horizontal">
                <div class="form-group">
                  <label for="versionRefine" class="col-sm-4 control-label">
                    Version
                    <span ng-if="vm.categoryChanged['version']"><span class="sr-only">Filter has non-default option selected</span>*</span>
                  </label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="versionRefine"
                      placeholder="Version"
                      ai-enhanced-text
                      has-changes="vm.categoryChanged['version']"
                      ng-model="vm.versionQuery"
                      ng-blur="vm.trackEntry('Version', vm.versionQuery)"
                      predicate="version"
                      register-clear-filter="vm.registerClearFilter(clearFilter)"
                      register-restore-state="vm.registerRestoreState(restoreState)"
                      name-space="searchTableState"
                      />
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div uib-dropdown auto-close="outsideClick" class="btn-group">
            <button class="btn btn-ai dropdown-toggle" type="button" id="dropdown-download-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true" uib-tooltip="Download Results" tooltip-trigger="'mouseenter focus click'">
              <span class="sr-only">Download Results</span> <i class="fa fa-download"></i>
            </button>
            <ul class="list-unstyled dropdown-menu dropdown-menu-large" aria-labeledby="dropdown-download-button" uib-dropdown-menu>
              <chpl-results-download listings="vm.displayedCps" categories="vm.downloadResultsCategories"></chpl-results-download>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div aria-live="polite" id="main-content" tabindex="-1">
      <div id="resultsSection" ng-show="vm.activeSearch || vm.searchForm.$dirty" class="main-content">
        <div class="row">
          <div class="col-md-12">
            <p>Please note that only active and suspended listings are shown by default. Use the Certification Status / Certification Edition filters above to display retired, withdrawn, terminated, or 2011 and 2014 edition listings.</p>
            <p class="text-right">
              <a href ng-click="vm.browseAll()">Browse all</a> |
              <a href ng-click="vm.triggerClearFilters()">Clear Filters</a>
              <span ng-if="vm.previouslyCompared && vm.previouslyCompared.length > 0 && !vm.viewingPreviouslyCompared"> | <a href ng-click="vm.viewPreviouslyCompared()">See {{ vm.previouslyCompared.length }} Previously Compared Listing<span ng-if="vm.previouslyCompared.length !== 1">s</span></a></span>
              <span ng-if="vm.viewingPreviouslyCompared"> | <a href ng-click="vm.clearPreviouslyCompared()">Clear {{ vm.previouslyCompared.length }} Recently Compared Listing<span ng-if="vm.previouslyCompared.length !== 1">s</span></a></span>
              <span ng-if="vm.previouslyViewed && vm.previouslyViewed.length > 0 && !vm.viewingPreviouslyViewed"> | <a href ng-click="vm.viewPreviouslyViewed()">See {{ vm.previouslyViewed.length }} Previously Viewed Listing<span ng-if="vm.previouslyViewed.length !== 1">s</span></a></span>
              <span ng-if="vm.viewingPreviouslyViewed"> | <a href ng-click="vm.clearPreviouslyViewed()">Clear {{ vm.previouslyViewed.length }} Recently Viewed Listing<span ng-if="vm.previouslyViewed.length !== 1">s</span></a></span>
            </p>
          </div>
        </div>
        <div ng-if="vm.hasResults()" class="row">
          <div class="col-md-12 table-responsive">
            <table class="table search-table table-striped table-responsive">
              <colgroup>
                <col class="col-xs-1">
                <col class="col-md-2 col-xs-1">
                <col class="col-md-2 col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-md-3 col-xs-5">
              </colgroup>
              <thead>
                <tr>
                  <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="vm.filterItems.pageSize" st-displayed-pages="10"></div>
                  </td>
                </tr>
                <tr ng-if="vm.displayedCps && vm.displayedCps.length > 0">
                  <th scope="col" class="search-header" st-sort="edition" st-skip-natural="true">Edition</th>
                  <th scope="col" class="search-header" st-sort="developer" st-skip-natural="true">Developer</th>
                  <th scope="col" class="search-header" st-sort="product" st-skip-natural="true" st-sort-default="true">Product</th>
                  <th scope="col" class="search-header" st-sort="version" st-skip-natural="true">Version</th>
                  <th scope="col" class="search-header" st-sort="certificationDate" st-skip-natural="true">Certification Date</th>
                  <th scope="col" class="search-header" st-sort="chplProductNumber" st-skip-natural="true">CHPL ID</th>
                  <th scope="col" class="search-header text-center" st-sort="certificationStatus" st-skip-natural="true">Status <button class="btn btn-link" ng-click="vm.viewCertificationStatusLegend();$event.stopPropagation()"><i class="fa fa-question-circle"></i><span class="sr-only">View Certification Status Legend</span></button></th>
                  <th scope="col"><span class="sr-only">Actions</span></th>
                </tr>
              </thead>
              <tfoot ng-if="vm.displayedCps && vm.displayedCps.length > 0">
                <tr>
                  <td colspan="8" class="text-center">
                    <div class="text-right" ng-if="vm.displayedCps && vm.displayedCps.length > 0">
                      <label for="pageSizeTop" class="sr-only">Show how many results</label>
                      Showing up to&nbsp;
                      <select ng-model="vm.filterItems.pageSize" id="pageSizeTop"
                              ng-change="vm.changeItemsPerPage()"
                              ng-options="v as v for v in [50,100,250,1000]">
                      </select>
                      &nbsp;results per page
                    </div>
                    <div st-pagination="" st-items-by-page="vm.filterItems.pageSize" st-displayed-pages="10"></div>
                  </td>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="cp in vm.displayedCps">
                  <td>{{ cp.edition }}</td>
                  <td>
                    <span ng-if="cp.developerStatus !== 'Active'"><button class="btn btn-link" uib-tooltip="{{ cp.developerStatus }}" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">{{ cp.developerStatus }}</span><i class="fa status-bad" ng-class="cp.developerStatus === 'Suspended by ONC' ? 'fa-exclamation-circle' : 'fa-ban'"></i> {{ vm.product.developer.status.status }}</button></span>
                    <a ui-sref="organizations.developers.developer({developerId: '{{ cp.developerId }}'})"
                       analytics-on="click" analytics-event="Go to Developer Page" analytics-properties="{ category: 'Search' }">{{ cp.developer }}</a>
                  </td>
                  <td>{{ cp.product }}</td>
                  <td>{{ cp.version }}</td>
                  <td>{{ vm.DateUtil.getCertificationDay(cp) }}</td>
                  <td>{{ cp.chplProductNumber }}</td>
                  <td class="text-center"><a href uib-tooltip="{{ cp.certificationStatus }}" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">{{ cp.certificationStatus }}</span><i class="fa" ng-class="vm.statusFont(cp.certificationStatus)"></i></a></td>
                  <td>
                    <div class="search__action-buttons">
                      <div class="text-center">
                        <a ui-sref="listing({ id: cp.id })" class="btn btn-primary btn-sm"><i class="fa fa-ellipsis-h"></i> Details<span class="sr-only"> for {{ cp.product }}</span></a>
                      </div>
                      <div class="text-center">
                        <ai-compare-widget-button product-id="{{ cp.id }}" product-name="{{ cp.product }}" chpl-product-number="{{ cp.chplProductNumber }}"></ai-compare-widget-button>
                      </div>
                      <div class="text-center" ng-if="cp.edition === '2015' || cp.edition === '2015 Cures Update'">
                        <ai-cms-widget-button product-id="{{ cp.id }}" product-name="{{ cp.product }}" chpl-product-number="{{ cp.chplProductNumber }}"></ai-cms-widget-button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>  <!-- end of search results -->
    </div>
  </div>
  <div class="container" ng-if="!vm.activeSearch && vm.searchForm.$pristine">
    <div id="collections">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.api-documentation" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'API Info for 2015 Ed. Products' }">API Info for 2015 Ed. Products</a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.sed" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'SED Info for 2015 Ed. Products' }">SED Info for 2015 Ed. Products</a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.corrective-action" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'Products: Corrective Action' }">Products: Corrective Action</a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.products" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'Decertified Products' }">Decertified Products</a>
        </div>
        <div class="col-lg-4 col-sm-6" ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.real-world-testing" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'Real World Testing' }">Real World Testing</a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.inactive" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'Inactive Certificates' }">Inactive Certificates</a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="collections.developers" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'Banned Developers' }">Banned Developers</a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="btn btn-lg btn-block btn-ai-grey" ui-sref="charts" analytics-on="click" analytics-event="Use Shortcut Button" analytics-properties="{ category: 'Navigation', label: 'Charts' }">Charts</a>
        </div>
      </div>
    </div>
  </div>
</div>
