.search__action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    //justify-content: center;
    //align-items: center;
}

.search-inputs {
    padding-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.search-unsearched {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    min-height: 600px;
    background: {
        color: #0070c9;
        image: url("../../../assets/images/CHPL_Logo-01.png");
        repeat: no-repeat;
        position: bottom right;
        attachment: fixed;
    }
}

.search-table th {
    color: #0070c9;
}

.pending {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    z-index: 3000;
}

#collections {

    .btn {
        margin-top: 20px;
    }

    .btn-lg {
        font-family: "Oswald", sans-serif;
        font-size: x-large;
        text-align: left;
    }
}

.dropdown-menu {

    div {
        padding: 10px;
    }
}
