<div class="confirm" ng-form="$ctrl.form">
  <div class="confirm__container">
    <div class="confirm__header"><h3>System information</h3></div>
    <div class="confirm__header confirm__header--highlight" ng-if="$ctrl.uploaded.productId"><span class="pull-right">Last Modified: {{ $ctrl.pending.lastModifiedDate | date : 'mediumDate' : 'UTC' }}</span><h4>{{ $ctrl.pending.name }}</h4></div>
    <div class="confirm__header confirm__header--highlight" ng-if="!$ctrl.uploaded.productId"><h4>No matches found</h4></div>
    <div class="confirm__footer" ng-if="!$ctrl.form.$pristine && $ctrl.pending.productId">
      <button class="btn btn-primary"
              ng-click="$ctrl.saveConfirmingProduct()">Save updated information</button>
      <button class="btn btn-secondary"
              ng-click="$ctrl.undoEdits()">Undo edits</button>
    </div>
    <div class="confirm__footer" ng-if="!$ctrl.pending.productId">
      This information will be used to create a new Product
    </div>
    <div class="confirm__footer confirm__footer--start" ng-if="$ctrl.products && $ctrl.products.length > 0">
      <label for="product-select" class="control-label">Select a product</label>
      <select ng-model="$ctrl.pendingSelect" ng-change="$ctrl.selectConfirmingProduct()"
              id="pending-select" name="pendingSelect" class="form-control"
              ng-options="v.name for v in $ctrl.products" disabled>
      </select>
    </div>
  </div>
  <div class="confirm__container">
    <div class="confirm__header"><h3>Uploaded information</h3></div>
    <div class="confirm__header confirm__header--highlight"><h4>{{ $ctrl.uploaded.name }}</h4></div>
  </div>
</div>
