<div class="confirm" ng-form="$ctrl.form">
  <div class="confirm__container">
    <div class="confirm__header"><h3>System information</h3></div>
    <div class="confirm__header confirm__header--highlight" ng-if="$ctrl.uploaded.versionId"><span class="pull-right">Last Modified: {{ $ctrl.pending.lastModifiedDate | date : 'mediumDate' : 'UTC' }}</span><h4>{{ $ctrl.pending.version }}</h4></div>
    <div class="confirm__header confirm__header--highlight" ng-if="!$ctrl.uploaded.versionId"><h4>No matches found</h4></div>
    <div class="confirm__footer" ng-if="!$ctrl.form.$pristine && $ctrl.pending.versionId">
      <button class="btn btn-primary"
              ng-click="$ctrl.saveConfirmingVersion()">Save updated information</button>
      <button class="btn btn-secondary"
              ng-click="$ctrl.undoEdits()">Undo edits</button>
    </div>
    <div class="confirm__footer" ng-if="!$ctrl.pending.versionId">
      This information will be used to create a new Version
    </div>
    <div class="confirm__footer confirm__footer--start" ng-if="$ctrl.versions && $ctrl.versions.length > 0">
      <label for="version-select" class="control-label">Select a version</label>
      <select ng-model="$ctrl.pendingSelect" ng-change="$ctrl.selectConfirmingVersion()"
              id="pending-select" version="pendingSelect" class="form-control"
              ng-options="v.version for v in $ctrl.versions" disabled>
      </select>
    </div>
  </div>
  <div class="confirm__container">
    <div class="confirm__header"><h3>Uploaded information</h3></div>
    <div class="confirm__header confirm__header--highlight"><h4>{{ $ctrl.uploaded.version }}</h4></div>
  </div>
</div>
