/* app css stylesheet */

body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.st-table th {
    width: 20%;
}

.st-sort-ascent:after {
    content: "\f0d8";
    font-family: FontAwesome;
}

.st-sort-descent:after {
    content: "\f0d7";
    font-family: FontAwesome;
}
