{
    "extends": [
        "eslint:recommended",
    ],
    "globals": {
        "browser": "readable",
        "element": "readable",
        "by": "readable",
        "$": "readable",
        "$$": "readable",
        "__dirname": "readable",
        "global": "readable"
    },
    "parser": "babel-eslint",
    "rules": {
        "block-spacing": ["error"],
        "comma-dangle": ["error", "always-multiline"],
        "curly": ["error"],
        "default-case": ["error"],
        "eol-last": ["error"],
        "eqeqeq": ["error"],
        "func-call-spacing": ["error"],
        "indent": ["error"],
        "key-spacing": ["error"],
        "keyword-spacing": ["error"],
        "no-console": "off",
        "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-self-compare": ["error"],
        "no-tabs": ["error"],
        "no-trailing-spaces": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-useless-return": ["error"],
        "no-whitespace-before-property": ["error"],
        "quotes": ["error", "single"],
        "semi": ["warn"],
        "semi-spacing": ["error", {"before": false, "after": true}],
        "sort-vars": ["error"],
        "space-before-blocks": ["error"],
        "space-before-function-paren": ["error"],
        "space-infix-ops": ["error", { "int32Hint": false }],
        "yoda": ["error", "never", { "exceptRange": true }],
    }
}
