<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>CHPL Overview</h1>
    </div>
  </div>

  <div class="row main-content" id="mainContent" tabindex="-1">
    <div class="col-md-2" role="navigation">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#{{ currentPage }}#whatIsTheChpl">What is the CHPL</a></li>
        <li><a href="#{{ currentPage }}#usingTheChplWebsite">Using the CHPL Website</a></li>
        <li><a href="#{{ currentPage }}#oncCertificationProgram">ONC Certification Program</a></li>
        <li><a href="#{{ currentPage }}#forEhrVendors">For EHR Vendors</a></li>
        <li><a href="#{{ currentPage }}#oncacbAndAtlInformation">ONC-ACB and ATL information</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <span ng-if="vm.announcements.length > 0">
        <h2>Announcement<span ng-if="vm.announcements.length > 1">s</span></h2>
        <div ng-repeat="announcement in vm.announcements | orderBy:'startDate'">
          <strong>{{ announcement.title }}</strong><span ng-if="announcement.text">: {{ announcement.text }}</span><br />
          Start date: {{ announcement.startDate | date : 'mediumDate' : 'UTC' }}, End date: {{ announcement.endDate | date : 'mediumDate' : 'UTC' }}
        </div>
      </span>
      <span class="anchor-element">
        <a id="whatIsTheChpl" class="page-anchor"></a>
      </span>
      <h2>What is the CHPL?</h2>
      <p>The Certified Health IT Product List (CHPL) is a comprehensive and authoritative listing of all certified Health Information Technology which has been successfully tested and certified by the ONC Health IT Certification program. All products listed on the CHPL have been tested by an Accredited Testing Laboratory (ATL) and certified by an ONC-Authorized Certification Body (ONC-ACB) to meet criteria adopted by the Secretary of the Department of Health and Human Services (HHS).</p>
      <p>For additional information on how to navigate the CHPL, please refer to the <a href="https://www.healthit.gov/sites/default/files/policy/chpl_public_user_guide.pdf">CHPL Public User Guide</a></p>
      <p>For more information on attesting for Meaningful Use, please see the <a href="https://www.cms.gov/regulations-and-guidance/legislation/ehrincentiveprograms/registrationandattestation.html">CMS EHR Incentive Program Registration &amp; Attestation Page</a>.</p>
      <a href ng-click="vm.toTop()">Back to the top</a>
      <span class="anchor-element">
        <a id="usingTheChplWebsite" class="page-anchor"></a>
      </span>
      <h2>Using the CHPL Website</h2>
      <h3>How do I use the CHPL to view Certified Health Information Technology?</h3>
      <p>To search for Certified Health Information Technology, type a developer name, product name, CHPL Product ID, or ACB Certification ID into the main search area. Alternatively, you may choose to browse all certified products by clicking the 'View All Products' option, or use the 'Refine Search By' option to search for products matching specific criteria (e.g. certification criteria, clinical quality measurements, etc.). The CHPL will display your search results.</p>
      <h3>How do I create a CMS EHR Certification ID?</h3>
      <p>To create a CMS EHR Certification ID, search for the products that you would like to use your CMS Certification ID. Once you have located the products you would like to use, click the yellow “+CertID' button to the right of the product to add to the ‘CMS EHR Certification ID' widget on the right hand side of the page. Once you have entered all of the desired products, you will be able to generate a CMS EHR Certification ID by clicking the ‘Get EHR Certification ID' button, if the combination of products selected meets the program requirements.</p>
      <h3>What is the difference between an ACB Certification ID and CHPL Product Number (CHPL ID)?</h3>
      <p>CHPL IDs are unique to each certified product. There are two types of CHPL IDs depending on the certified product. Certified products from the CHPL 4.0 (those certified before March 28, 2016) have CHPL IDs in the following format: CHP-XXXXXX (e.g. CHP-022989). Products certified for the first time on the new “open data” CHPL (those certified after March 28, 2016) have CHPL IDs in the following format: Edition.ATL.ACB.Developer.Product.Version.ICS.AdditionalSoftware.Date (e.g. 15.04.04.1064.Alls.AM.0.1.160804).</p>
      <p>ONC-ACB Certification IDs are generated by each ONC-ACB and may not have a consistent format. In addition, a single ONC-ACB Certification ID may reference more than one certified product.</p>
      <h3>How do I compare products?</h3>
      <p>To compare products, please navigate to the products you would like to compare, and use the 'Compare Products' button to the right of the product to add the products to the ‘Compare' module on the right hand side of the page. Once you have identified all the products you would like to compare, click the green ‘Compare' button in the module to view the products side-by-side.</p>
      <h3>How would I report a problem or concern with my certified Health Information Technology?</h3>
      <p>Errors or questions regarding product listings should be directed based on the table below. A list of ONC-ACB contact information can be found on <a href="http://www.healthit.gov/policy-researchers-implementers/certification-bodies-testing-laboratories">ONC's Certification Bodies and Testing Laboratories Page</a>.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Issue</th>
            <th scope="col">Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Eligible Professionals &amp; Eligible Hospital complaints regarding an EHR product</td>
            <td>Please refer to the ONC Health IT Certification Program's <a href="https://www.healthit.gov/policy-researchers-implementers/provider-complaint-process">Provider Complaint Process</a></td>
          </tr>
          <tr>
            <td>Developer complaint against an ATL or ONC-ACB</td>
            <td>Please contact the ATL or ONC-ACB first, to resolve the issue. Complaints should be escalated to NVLAP or the ONC-AA if the issue persists.</td>
          </tr>
          <tr>
            <td>Product Listing on the CHPL</td>
            <td>Please contact the ATL or ONC-ACB that certified the product</td>
          </tr>
          <tr>
            <td>Other comments or complaints</td>
            <td>Please contact <a href="https://www.healthit.gov/policy-researchers-implementers/resources">ONC's Office of Certification</a></td>
          </tr>
        </tbody>
      </table>
      <p>If the ONC-ACB cannot or does not address your issue, please contact <a href="https://www.healthit.gov/policy-researchers-implementers/resources">ONC's Office of Certification</a>.</p>
      <h3>Recommended Web Browsers</h3>
      <p>The CHPL website supports the following web browsers:</p>
      <ul>
        <li>Google Chrome (version 36+) [preferred]</li>
        <li>Apple Safari (version 9+)</li>
        <li>Microsoft Internet Explorer (version 10+)</li>
        <li>Mozilla Firefox (version 17+)</li>
      </ul>
      <a href ng-click="vm.toTop()">Back to the top</a>
      <span class="anchor-element">
        <a id="oncCertificationProgram" class="page-anchor"></a>
      </span>
      <h2>ONC Certification Program</h2>
      <h3>How does the certification process work?</h3>
      <p>The ONC Certification Program was established to ensure that Certified Health Information Technology adheres to the security, functionality, and technology requirements adopted by HHS. ONC-Authorized Certification Bodies (ONC ACBs) certify Health IT products that were successfully tested by an Accredited Testing Laboratory (ATL) against the certification criteria adopted by HHS. Products listed on the CHPL have been successfully certified through the <a href="http://www.healthit.gov/policy-researchers-implementers/about-onc-health-it-certification-program">ONC Health IT Certification Program</a> by an ONC-ACB.</p>
      <p>Certification criteria establish the required capabilities, standards, and implementation specifications that health information technology needs to meet in order to become certified under the ONC Health IT Certification Program. Certified Health IT Products can be used for participation in CMS and State EHR Incentive Programs (e.g. Meaningful Use)</p>
      <h3>Which Certification Edition do I need to use to attest for Meaningful Use?</h3>
      <p>For more information on attesting to Meaningful Use, please refer to the <a href="https://www.cms.gov/regulations-and-guidance/legislation/ehrincentiveprograms/registrationandattestation.html">CMS Meaningful Use Registration and Attestation Page</a>.</p>
      <h3>What are clinical quality measures (CQMs)?</h3>
      <p>Clinical Quality Measures (CQMs) are used to measure and track the quality of healthcare services delivered by eligible providers, eligible hospitals, and critical access hospitals.</p>
      <p>For more information, please see the <a href="https://www.cms.gov/regulations-and-guidance/legislation/ehrincentiveprograms/clinicalqualitymeasures.html">Centers for Medicare and Medicaid Services CQM Basics page</a>.</p>
      <a href ng-click="vm.toTop()">Back to the top</a>
      <span class="anchor-element">
        <a id="forEhrVendors" class="page-anchor"></a>
      </span>
      <h2>For EHR Developers</h2>
      <h3>How can a product be added to the CHPL?</h3>
      <p>To be listed on the CHPL, Health Information Technology must first be successfully tested by an ATL, and then certified by an ONC-ACB against at least one <a href="http://www.healthit.gov/policy-researchers-implementers/standards-and-certification-regulations">certification criterion adopted by HHS</a>. For more information on the ONC Certification Program, ATLs, and ONC-ACBs, please see the <a href="http://www.healthit.gov/policy-researchers-implementers/about-onc-health-it-certification-program">ONC Health IT Certification Program page</a>.</p>
      <a href ng-click="vm.toTop()">Back to the top</a>
      <span class="anchor-element">
        <a id="oncacbAndAtlInformation" class="page-anchor"></a>
      </span>
      <h2>ONC-ACB and ATL Information</h2>
      <p>The following table identifies the ONC-ACBs and ATLs used to certify and test Health Information</p>
      <p>Technology presented on the CHPL. For more information, please visit their respective websites.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Body</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Website</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="acb in vm.acbs | orderBy: 'name'">
            <td>ONC-ACB</td>
            <td>{{ acb.name }}</td>
            <td>{{ acb.acbCode }}</td>
            <td><ai-a ng-if="acb.website" href="{{ acb.website }}" text="{{ acb.website }}"></ai-a></td>
          </tr>
          <tr ng-repeat="atl in vm.atls | orderBy: 'name'">
            <td>ATL</td>
            <td>{{ atl.name }}</td>
            <td>{{ atl.atlCode }}</td>
            <td><ai-a ng-if="atl.website" href="{{ atl.website }}" text="{{ atl.website }}"></ai-a></td>
          </tr>
        </tbody>
      </table>
      <a href ng-click="vm.toTop()">Back to the top</a>
    </div>
  </div>
</div> <!-- end controller -->
