<div id="chpl-organization-{{ $ctrl.type }}-{{ $ctrl.organization.id }}" ng-form="$ctrl.form" class="row">
  <div class="col-sm-12">
    <span ng-if="!$ctrl.isEditing">
      <h1>{{ $ctrl.organization.name }}</h1>
      <span class="pull-right">
        <button class="btn btn-link btn-small" id="chpl-organization-edit-{{ $ctrl.type }}-{{ $ctrl.organization.id }}" ng-if="$ctrl.canEdit && !$ctrl.isEditing" ng-click="$ctrl.edit()"><i class="fa fa-pencil-square-o"></i><span class="sr-only"> Edit {{ $ctrl.type }}</span></button>
      </span>
      <p><strong>{{ $ctrl.type }} Code: {{ $ctrl.getCode() }}</strong></p>
      <p ng-if="$ctrl.organization.website"><a ai-a href="{{ $ctrl.organization.website }}">{{ $ctrl.organization.website }}</a></p>
      <p ng-if="$ctrl.organization.retired">Retired, effective {{ $ctrl.organization.retirementDate | date : 'mediumDate' : 'UTC' }}</p>
      <span ng-if="$ctrl.organization.address">
        <h3>Address</h3>
        <chpl-address address="$ctrl.organization.address"></chpl-address>
      </span>
    </span> <!-- end view -->

    <span ng-if="$ctrl.isEditing">
      <div class="form-group">
        <label class="control-label" for="organizationName">{{ $ctrl.type }} <span class="text-danger">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" required ng-model="$ctrl.organization.name" ng-disabled="$ctrl.organization.retired" id="organization-name" name="organizationName" ng-maxlength="300"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationName.$touched) && $ctrl.form.organizationName.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationName.$touched) && $ctrl.form.organizationName.$error.maxlength">Field is too long</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="organizationWebsite">{{ $ctrl.type }} website <span class="text-danger">*</span></label>
        <div>
          <input class="input-sm form-control" type="url" ng-model="$ctrl.organization.website" ng-required="!$ctrl.organization.retired" ng-disabled="$ctrl.organization.retired" id="organization-website" name="organizationWebsite" ng-maxlength="300"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationWebsite.$touched) && $ctrl.form.organizationWebsite.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationWebsite.$touched) && $ctrl.form.organizationWebsite.$error.maxlength">Field is too long</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationWebsite.$touched) && $ctrl.form.organizationWebsite.$error.url">Improper format (http://www.example.com)</div>
        </div>
      </div>
      <span ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">
        <div class="form-group">
          <strong>Retirement Status</strong><br />
          <label class="control-label"><input class="input-sm form-control" type="checkbox" ng-model="$ctrl.organization.retired" id="organization-retired" name="retired" ng-change="$ctrl.update()"></input> Retired</label>
        </div>
        <div class="form-group">
          <label for="retirement-date">Retirement Date <span class="text-danger" ng-if="$ctrl.organization.retired">*</span></label>
          <div class="input-group">
            <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.organization.retirementDateObject" is-open="$ctrl.organization.retirementDatePicker" close-text="Close" id="retirement-date" name="retirementDate" ng-model-options="{ timezone: 'UTC' }" ng-required="$ctrl.organization.retired" ng-disabled="!$ctrl.organization.retired" ng-change="$ctrl.update()">
            <span class="input-group-btn">
              <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.organization.retirementDatePicker = true"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
          <div class="text-danger" ng-if="$ctrl.form.retirementDate.$touched && $ctrl.form.retirementDate.$error.required">Retirement Date is required</div>
          <div class="text-danger" ng-if="$ctrl.form.retirementDate.$touched && $ctrl.form.retirementDate.$error.date">Improper format (mm/dd/yyyy)</div>
        </div>
      </span>
      <h3>Address</h3>
      <chpl-address address="$ctrl.organization.address" is-editing="$ctrl.isEditing" is-required="!$ctrl.organization.retired" is-disabled="$ctrl.organization.retired" on-change="$ctrl.editAddress(address, errors, validForm)" show-form-errors="$ctrl.showFormErrors"></chpl-address>
      <div>
        <button class="btn btn-ai-success btn-small pull-right" id="chpl-organization-save-{{ $ctrl.type }}-{{ $ctrl.organization.id }}"
                ng-click="$ctrl.save()" ng-disabled="$ctrl.showFormErrors && $ctrl.form.$invalid"
                ng-mouseover="$ctrl.showFormErrors = true"><i class="fa fa-save"></i><span class="sr-only"> Save</span></button>
        <button class="btn btn-warning btn-small" id="chpl-organization-cancel-{{ $ctrl.type }}-{{ $ctrl.organization.id }}"
                ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
      </div>
    </span> <!-- end edit -->
  </div>
</div>
