<div id="chpl-organization-{{ $ctrl.type }}-{{ $ctrl.organization.id }}" ng-form="$ctrl.form" class="row">
  <div class="col-sm-12">
    <span ng-if="!$ctrl.isEditing">
      <div class="row">
        <div class="col-sm-4">
          <p><strong>{{ $ctrl.organization.name }}</strong></p>
          <p ng-if="$ctrl.organization.website"><a ai-a href="{{ $ctrl.organization.website }}">{{ $ctrl.organization.website }}</a></p>
        </div>
        <div class="col-sm-4">
          <p>Code: <strong>{{ $ctrl.getCode() }}</strong></p>
        </div>
        <div class="col-sm-4">
          <p ng-if="$ctrl.organization.retired">Retired: <strong>Yes, effective {{ $ctrl.organization.retirementDate | date : 'mediumDate' : 'UTC' }}</strong></p>
          <p ng-if="!$ctrl.organization.retired">Retired: <strong>No</strong></p>
        </div>
      </div>
      <div class="row spaced-out" ng-if="$ctrl.organization.address">
        <div class="col-sm-12">
          <p>Address</p>
          <chpl-address address="$ctrl.organization.address"></chpl-address>
        </div>
      </div>
    </span> <!-- end view -->

    <span ng-if="$ctrl.isEditing">
      <div class="form-group">
        <label class="control-label" for="organization-name">{{ $ctrl.type }} <span class="text-danger">*</span></label>
        <div>
          <input class="input-sm form-control" type="text" required ng-model="$ctrl.organization.name" ng-disabled="$ctrl.organization.retired" id="organization-name" name="organizationName" ng-maxlength="300"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationName.$touched) && $ctrl.form.organizationName.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationName.$touched) && $ctrl.form.organizationName.$error.maxlength">Field is too long</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="organization-website">{{ $ctrl.type }} website <span class="text-danger">*</span></label>
        <div>
          <input class="input-sm form-control" type="url" ng-model="$ctrl.organization.website" ng-required="!$ctrl.organization.retired" ng-disabled="$ctrl.organization.retired" id="organization-website" name="organizationWebsite" ng-maxlength="300"></input>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationWebsite.$touched) && $ctrl.form.organizationWebsite.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationWebsite.$touched) && $ctrl.form.organizationWebsite.$error.maxlength">Field is too long</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.organizationWebsite.$touched) && $ctrl.form.organizationWebsite.$error.url">Improper format (http://www.example.com)</div>
        </div>
      </div>
      <span ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC']) && $ctrl.organization.id">
        <div class="form-group">
          <label class="control-label" for="organization-retired">Retired</label>
          <input class="input-sm" type="checkbox" ng-model="$ctrl.organization.retired" id="organization-retired" name="retired" ng-change="$ctrl.update()"></input>
        </div>
        <div class="form-group" ng-if="$ctrl.organization.id">
          <label for="retirement-date">Retirement Date <span class="text-danger" ng-if="$ctrl.organization.retired">*</span></label>
          <div class="input-group">
            <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.organization.retirementDateObject" is-open="$ctrl.organization.retirementDatePicker" close-text="Close" id="retirement-date" name="retirementDate" ng-model-options="{ timezone: 'UTC' }" ng-required="$ctrl.organization.retired" ng-disabled="!$ctrl.organization.retired" ng-change="$ctrl.update()">
            <div class="input-group-btn">
              <button type="button" class="btn input-group-btn-adjust" ng-click="$ctrl.organization.retirementDatePicker = true"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.retirementDate.$touched) && $ctrl.form.retirementDate.$error.required">Retirement Date is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.retirementDate.$touched) && $ctrl.form.retirementDate.$error.date">Improper format (mm/dd/yyyy)</div>
        </div>
      </span>
      <h3>Address</h3>
      <chpl-address address="$ctrl.organization.address" is-editing="$ctrl.isEditing" is-required="!$ctrl.organization.retired" is-disabled="$ctrl.organization.retired" on-change="$ctrl.editAddress(address, errors, validForm)" show-form-errors="$ctrl.showFormErrors"></chpl-address>
      <div class="pull-right">
        <button class="btn btn-default" id="chpl-organization-save-{{ $ctrl.type }}-{{ $ctrl.organization.id }}"
                ng-click="$ctrl.save()" ng-disabled="$ctrl.showFormErrors && $ctrl.form.$invalid"
                ng-mouseover="$ctrl.showFormErrors = true">Save {{ $ctrl.type }}</button>
        <button class="btn btn-link" id="chpl-organization-cancel-{{ $ctrl.type }}-{{ $ctrl.organization.id }}"
                ng-click="$ctrl.cancel()">Cancel</button>
      </div>
    </span> <!-- end edit -->
  </div>
</div>
