<div id="chpl-report" ng-form="$ctrl.form">
  <div class="row">
    <div class="col-sm-12">
      <span class="pull-right" ng-if="!$ctrl.isEditing">
        <button class="btn btn-link btn-small" id="surveillance-report-cancel-{{ $ctrl.report.id }}" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Close Annual Surveillance Report</span></button>
        <button class="btn btn-link btn-small" id="surveillance-report-edit-{{ $ctrl.report.id }}" ng-click="$ctrl.edit()" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ACB'])"><i class="fa fa-pencil-square-o"></i><span class="sr-only"> Edit Annual Surveillance Report</span></button>
        <button class="btn btn-link btn-small" id="surveillance-report-download-{{ $ctrl.report.id }}" ng-click="$ctrl.generateReport()"><i class="fa fa-download"></i><span class="sr-only"> Generate Annual Surveillance Report</span></button>
      </span>
      <p><strong>{{ $ctrl.report.acb.name }} Annual Surveillance Reporting</strong></p>
      <p>{{ $ctrl.report.year }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div ng-if="!$ctrl.isEditing">
        <div class="row" ng-if="$ctrl.report.obstacleSummary">
          <div class="col-sm-4">Obstacle Summary</div>
          <div class="col-sm-8">{{ $ctrl.report.obstacleSummary }}</div>
        </div>
        <div class="row" ng-if="$ctrl.report.priorityChangesFromFindingsSummary">
          <div class="col-sm-4">Priority Changes from Findings Summary</div>
          <div class="col-sm-8">{{ $ctrl.report.priorityChangesFromFindingsSummary }}</div>
        </div>
      </div>
      <div ng-if="$ctrl.isEditing" ng-form="$ctrl.form">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="obstacle">Obstacle Summary</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="obstacle" name="obstacle" ng-model="$ctrl.report.obstacleSummary"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="priority">Priority Changes From Findings Summary</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="priority" name="priority" ng-model="$ctrl.report.priorityChangesFromFindingsSummary"></textarea>
            </div>
          </div>
          <button class="btn btn-ai-success btn-small pull-right" id="annual-surveillance-save" ng-click="$ctrl.save()"><i class="fa fa-save"></i><span class="sr-only"> Save</span></button>
          <button class="btn btn-warning btn-small" id="annual-suveillance-cancel" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
          <button class="btn btn-danger btn-small" id="annual-suveillance-delete"
                  confirm="Are you sure you wish to delete this Annual Surveillance Report?"
                  confirm-ok="Yes"
                  confirm-cancel="No"
                  confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                  ng-if="$ctrl.report.id"
                  ng-click="$ctrl.delete()"><i class="fa fa-trash"></i><span class="sr-only"> Delete</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
