<div id="chpl-report" ng-form="$ctrl.form">
  <div class="row">
    <div class="col-sm-12">
      <span class="pull-right" ng-if="!$ctrl.isEditing">
        <button class="btn btn-link btn-small" id="surveillance-report-edit-{{ $ctrl.report.id }}" ng-click="$ctrl.edit()" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ACB'])"><i class="fa fa-pencil-square-o"></i><span class="sr-only"> Edit Quarterly Surveillance</span></button>
        <a class="btn btn-link btn-small" id="surveillance-report-download-{{ $ctrl.report.id }}" href="{{ $ctrl.downloadUrl }}"><i class="fa fa-download"></i><span class="sr-only"> Download Quarterly Surveillance</span></a>
      </span>
      <p><strong>{{ $ctrl.report.acb.name }} Quarterly Surveillance Reporting</strong></p>
      <p>{{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div ng-if="!$ctrl.isEditing">
        <div class="row" ng-if="$ctrl.report.surveillanceActivitiesAndOutcomes">
          <div class="col-sm-4">Surveillance Activities and Outcomes</div>
          <div class="col-sm-8">{{ $ctrl.report.surveillanceActivitiesAndOutcomes }}</div>
        </div>
        <div class="row" ng-if="$ctrl.report.reactiveSummary">
          <div class="col-sm-4">Reactive Summary</div>
          <div class="col-sm-8">{{ $ctrl.report.reactiveSummary }}</div>
        </div>
        <div class="row" ng-if="$ctrl.report.prioritizedElementSummary">
          <div class="col-sm-4">Prioritized Element Summary</div>
          <div class="col-sm-8">{{ $ctrl.report.prioritizedElementSummary }}</div>
        </div>
        <div class="row" ng-if="$ctrl.report.transparencyDisclosureSummary">
          <div class="col-sm-4">Transparency Disclosure Summary</div>
          <div class="col-sm-8">{{ $ctrl.report.transparencyDisclosureSummary }}</div>
        </div>
      </div>
      <div ng-if="$ctrl.isEditing" ng-form="$ctrl.form">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="surveillance-activities">Surveillance Activities and Outcomes</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="surveillance-activities" name="surveillanceActivities" ng-model="$ctrl.report.surveillanceActivitiesAndOutcomes"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="reactive">Reactive Summary</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="reactive" name="reactive" ng-model="$ctrl.report.reactiveSummary"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="prioritized-element">Prioritized Element Summary</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="prioritized-element" name="prioritizedElement" ng-model="$ctrl.report.prioritizedElementSummary"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="transparency-disclosure">Transparency Disclosure Summary</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="transparency-disclosure" name="transparencyDisclosure" ng-model="$ctrl.report.transparencyDisclosureSummary"></textarea>
            </div>
          </div>
          <button class="btn btn-ai-success btn-small pull-right" id="quarterly-surveillance-save" ng-click="$ctrl.save()"><i class="fa fa-save"></i><span class="sr-only"> Save</span></button>
          <button class="btn btn-warning btn-small" id="quarterly-suveillance-cancel" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
          <button class="btn btn-danger btn-small" id="quarterly-suveillance-delete"
                  confirm="Are you sure you wish to delete this Quarterly Surveillance Report?"
                  confirm-ok="Yes"
                  confirm-cancel="No"
                  confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                  ng-if="$ctrl.report.id"
                  ng-click="$ctrl.delete()"><i class="fa fa-trash"></i><span class="sr-only"> Delete</span></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div ng-repeat="listing in $ctrl.report.relevantListings | orderBy : 'chplProductNumber'" class="panel panel-default">
        <div class="panel-heading">
          <span class="pull-right">Last modified: {{ listing.lastModifiedDate | date : 'mediumDate' : 'UTC' }}</span>
          <div class="panel-title">{{ listing.chplProductNumber }}</div>
        </div>
        <div class="panel-body">
          <span class="pull-right">Edition: {{ listing.edition }}</span>
          Certification Date: {{ listing.certificationDate | date : 'mediumDate' : 'UTC' }}
        </div>
      </div>
    </div>
  </div>
</div>
