<div ng-form="$ctrl.form">
  <div class="form-group">
    <label class="control-label" for="surveillanceOutcome">Surveillance Outcome</label>
    <div>
      <select class="form-control" id="surveillance-outcome" name="surveillanceOutcome" ng-model="$ctrl.surveillance.surveillanceOutcome"
              ng-options="outcome as outcome.name for outcome in $ctrl.surveillanceOutcomes track by outcome.id"></select>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.surveillance.surveillanceOutcome.name === 'Non-conformity substantiated - Unresolved - Other - [Please describe]'">
    <label class="control-label" for="surveillance-outcome-other">Surveillance Outcome - Other <span class="text-danger">*</span></label>
    <div>
      <input type="text" class="form-control" id="surveillance-outcome-other" name="surveillanceOutcomeOther" ng-model="$ctrl.surveillance.surveillanceOutcomeOther" required></input>
      <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.surveillanceOutcomeOther.$touched) && $ctrl.form.surveillanceOutcomeOther.$error.required">Value is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="surveillanceProcessType">Surveillance Process Type</label>
    <div>
      <select class="form-control" id="surveillance-process-type" name="surveillanceProcessType" ng-model="$ctrl.surveillance.surveillanceProcessType"
              ng-options="type as type.name for type in $ctrl.surveillanceProcessTypes track by type.id"></select>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.surveillance.surveillanceProcessType.name === 'Other - [Please describe]'">
    <label class="control-label" for="surveillance-process-type-other">Surveillance Process Type - Other <span class="text-danger">*</span></label>
    <div>
      <input type="text" class="form-control" id="surveillance-process-type-other" name="surveillanceProcessTypeOther" ng-model="$ctrl.surveillance.surveillanceProcessTypeOther" required></input>
      <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.surveillanceProcessTypeOther.$touched) && $ctrl.form.surveillanceProcessTypeOther.$error.required">Value is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="k1Reviewed">K1 Reviewed
      <input type="checkbox" id="k1-reviewed" name="k1Reviewed" ng-model="$ctrl.surveillance.k1Reviewed"></input>
    </label>
  </div>
  <div class="form-group">
    <label class="control-label" for="groundsForInitiating">Grounds For Initiating</label>
    <div>
      <input type="text" class="form-control" id="grounds-for-initiating" name="groundsForInitiating" ng-model="$ctrl.surveillance.groundsForInitiating"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="nonconformityCauses">Nonconformity Causes</label>
    <div>
      <input type="text" class="form-control" id="nonconformity-causes" name="nonconformityCauses" ng-model="$ctrl.surveillance.nonconformityCauses"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="nonconformityNature">Nonconformity Nature</label>
    <div>
      <input type="text" class="form-control" id="nonconformity-nature" name="nonconformityNature" ng-model="$ctrl.surveillance.nonconformityNature"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="stepsToSurveil">Steps To Surveil</label>
    <div>
      <input type="text" class="form-control" id="steps-to-surveil" name="stepsToSurveil" ng-model="$ctrl.surveillance.stepsToSurveil"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="stepsToEngage">Steps To Engage</label>
    <div>
      <input type="text" class="form-control" id="steps-to-engage" name="stepsToEngage" ng-model="$ctrl.surveillance.stepsToEngage"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="additionalCostsEvaluation">Additional Costs Evaluation</label>
    <div>
      <input type="text" class="form-control" id="additional-costs-evaluation" name="additionalCostsEvaluation" ng-model="$ctrl.surveillance.additionalCostsEvaluation"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="limitationsEvaluation">Limitations Evaluation</label>
    <div>
      <input type="text" class="form-control" id="limitations-evaluation" name="limitationsEvaluation" ng-model="$ctrl.surveillance.limitationsEvaluation"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="nondisclosureEvaluation">Nondisclosure Evaluation</label>
    <div>
      <input type="text" class="form-control" id="nondisclosure-evaluation" name="nondisclosureEvaluation" ng-model="$ctrl.surveillance.nondisclosureEvaluation"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="directionDeveloperResolution">Direction Developer Resolution</label>
    <div>
      <input type="text" class="form-control" id="direction-developer-resolution" name="directionDeveloperResolution" ng-model="$ctrl.surveillance.directionDeveloperResolution"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="completedCapVerification">Completed Cap Verification</label>
    <div>
      <input type="text" class="form-control" id="completed-cap-verification" name="completedCapVerification" ng-model="$ctrl.surveillance.completedCapVerification"></input>
    </div>
  </div>
  <div class="pull-right">
    <button class="btn btn-default" ng-disabled="$ctrl.form.$invalid && $ctrl.showFormErrors" ng-mouseover="$ctrl.showFormErrors = true" ng-click="$ctrl.save()">Save Surveillance Data</button>
    <button class="btn btn-link" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</div>
