<div class="row">
  <div class="col-md-12">
    <strong>{{ $ctrl.listing.chplProductNumber }}</strong>
  </div>
</div>
<div class="row spaced-out">
  <div class="col-md-12">
    <chpl-surveillance-report-relevant-surveillance
       surveillance="$ctrl.activeSurveillance"
       surveillance-outcomes="$ctrl.surveillanceOutcomes"
       surveillance-process-types="$ctrl.surveillanceProcessTypes"
       on-cancel="$ctrl.cancelEdit()"
       on-save="$ctrl.save(surveillance)"
       ng-if="$ctrl.activeSurveillance">
    </chpl-surveillance-report-relevant-surveillance>
    <div class="table-responsive" st-table="$ctrl.displaySurveillances" st-safe-src="$ctrl.surveillances" ng-show="!$ctrl.activeSurveillance">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th scope="col" class="search-header" st-sort="friendlyId" st-skip-natural="true">Surveillance ID</th>
            <th scope="col" class="search-header" st-sort="startDay" st-skip-natural="true" st-sort-default="reverse">Began Date</th>
            <th scope="col" class="search-header" st-sort="endDay" st-skip-natural="true">Ended Date</th>
            <th scope="col" class="search-header" st-sort="numOpenNonconformities" st-skip-natural="true">Open Non-Conformities</th>
            <th scope="col" class="search-header" st-sort="numClosedNonconformities" st-skip-natural="true">Closed Non-Conformities</th>
            <th scope="col" class="search-header" st-sort="completed" st-skip-natural="true">Surveillance Data</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="6">
              <button class="btn btn-link pull-right" ng-click="$ctrl.cancel()">Back</button>
            </th>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="surveillance in $ctrl.displaySurveillances">
            <td>
              <button class="btn btn-link" ng-click="$ctrl.displaySurveillance(surveillance)">{{ surveillance.friendlyId }}</button>
            </td>
            <td>{{ $ctrl.DateUtil.getDisplayDateFormat(surveillance.startDay) }}</td>
            <td>{{ $ctrl.DateUtil.getDisplayDateFormat(surveillance.endDay) }}</td>
            <td>{{ surveillance.numOpenNonconformities }}</td>
            <td>{{ surveillance.numClosedNonconformities }}</td>
            <td class="row">
              <span class="col-sm-2">
                <button class="btn btn-link" id="edit-surveillance-data-{{ surveillance.friendlyId }}"
                        uib-tooltip="{{ $ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB']) ? 'Edit' : 'View' }} Surveillance Data" tooltip-trigger="'mouseenter focus click'" ng-click="$ctrl.activeSurveillance = surveillance">
                  <i class="fa" ng-class="$ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB']) ?  'fa-pencil-square-o' : 'fa-eye'"></i><span class="sr-only">{{ $ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB']) ? 'Edit' : 'View' }} surveillance data</span>
                </button>
              </span>
              <span class="col-sm-10">
                <uib-progressbar max="100" value="surveillance.completed" type="success" title="{{ surveillance.completed }}% Complete">
                  {{ surveillance.completed }}% Complete
                </uib-progressbar>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
