//features/components/admin/admin.steps.js
var page = require('./admin.page.js');
var {defineSupportCode} = require('cucumber');

defineSupportCode(({Given, When, Then}) => {

    When('I log in as ROLE_ADMIN', function () {
        return page.login('username','password');
    });
});
