<span>
  <span ng-if="!vm.isEditing"><strong>Relied Upon Software: </strong> <a href uib-tooltip="Software relied upon by the product to demonstrate its compliance with a certification criterion or criteria." tooltip-trigger="mouseenter focus click"><span class="sr-only">Software relied upon by the product to demonstrate its compliance with a certification criterion or criteria.</span><i class="fa fa-info-circle fa-lg"></i></a>
    <span ng-if="!vm.additionalSoftware || vm.additionalSoftware.length === 0">None</span>
    <ul ng-if="vm.additionalSoftware && vm.additionalSoftware.length > 0">
      <li ng-repeat="grp in vm.displaySw track by $index">
        <span ng-if="grp.length > 1">One of
          <ul>
            <li ng-repeat="sw in grp track by $index">
              <span ng-if="sw.certifiedProductId"><a href="#/product/{{ sw.certifiedProductId }}">{{ sw.certifiedProductNumber }}</a></span>
              <span ng-if="!sw.certifiedProductId">
                {{ sw.name}}
                <span ng-if="sw.version && sw.version !== '-1'">(Version {{ sw.version }})</span>
              </span>
              {{ vm.isAndOrOr($index, grp.length, $parent.$index, vm.groupCount) }}
            </li>
          </ul>
        </span>
        <span ng-if="grp.length === 1">
          <span ng-if="grp[0].certifiedProductId"><a href="#/product/{{ grp[0].certifiedProductId }}">{{ grp[0].certifiedProductNumber }}</a></span>
          <span ng-if="!grp[0].certifiedProductId">
            {{ grp[0].name}}
            <span ng-if="grp[0].version && grp[0].version !== '-1'">(Version {{ grp[0].version }})</span>
            <span ng-if="grp[0].certifiedProductId">(CHPL Id: {{ grp[0].certifiedProductId }})</span>
          </span>
          {{ $index === vm.groupCount - 1 ? '' : 'AND' }}
        </span>
      </li>
    </ul>
  </span>
  <div ng-if="vm.isEditing">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Version</th>
          <th scope="col">CHPL Id</th>
          <th scope="col">Group</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5">
            <button class="btn btn-block" ng-click="vm.addItem()">Add item</button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="item in vm.additionalSoftware track by $index">
          <td>{{ item.name }}</td>
          <td>{{ item.version }}</td>
          <td>{{ item.certifiedProductNumber }}</td>
          <td>{{ item.grouping }}</td>
          <td>
            <button class="btn btn-ai-success btn-sm" ng-click="vm.editItem(item, $index)"><i class="fa fa-pencil-square-o"></i> <span class="sr-only">Edit</span></button>
            <button class="btn btn-danger btn-sm" ng-click="vm.removeItem($index)"><i class="fa fa-trash-o"></i> <span class="sr-only">Remove</span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</span>
