<div id="chpl-product-{{ $ctrl.product.productId }}" class="row" st-table="$ctrl.activeVersion.displayedListings" st-safe-src="$ctrl.activeVersion.listings" st-set-filter="customFilter">
  <div class="col-sm-12 product-border">
    <div class="well well-sm clickable" ng-click="$ctrl.showFull = !$ctrl.showFull; $ctrl.retrieveListings();" ng-if="!$ctrl.showFull">
      <button class="btn btn-default pull-right closed"><i class="fa fa-caret-down"></i></button>
      <h3>{{ $ctrl.product.name }}</h3>
    </div>
    <div ng-show="$ctrl.showFull">
      <button class="btn btn-default pull-right open" ng-click="$ctrl.showFull = !$ctrl.showFull"><i class="fa fa-caret-up"></i></button>
      <h3>{{ $ctrl.product.name }}</h3>
      <em>(Last modified date: {{ $ctrl.product.lastModifiedDate | date : 'mediumDate' : 'UTC' }})</em>
      <table ng-if="$ctrl.product.ownerHistory && $ctrl.product.ownerHistory.length > 0" class="table table-condensed">
        <thead>
          <tr>
            <th scope="col">Previous Owner<span ng-if="$ctrl.product.ownerHistory.length > 1">s</span></th>
            <th scope="col">Effective date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="owner in $ctrl.product.ownerHistory | orderBy : '-transferDate'">
            <td>{{ owner.developer.name }}</td>
            <td>{{ owner.transferDate | date : 'mediumDate' : 'UTC' }}</td>
          </tr>
        </tbody>
      </table>
      <span ng-if="$ctrl.product.contact">
        <h3>Contact information</h3>
        <chpl-contact contact="$ctrl.product.contact"></chpl-contact>
      </span>
      <h4>Version</h4>
      <select ng-model="$ctrl.activeVersion"
              id="active-version" name="activeVersion" class="input-sm form-control"
              ng-options="v as v.version for v in $ctrl.versions">
      </select>
      <hr />
      <div uib-dropdown auto-close="outsideClick" class="btn-group" id="filters">
        <button class="btn btn-default dropdown-toggle" type="button" id="filter-status-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true" ng-click="$event.stopPropagation()">
          <i class="fa fa-filter"></i> Certification Status
        </button>
        <ul class="dropdown-menu" aria-labeledby="filter-status-button" uib-dropdown-menu>
          <st-list-multiple
            collection="$ctrl.activeVersion.listings"
            fixed-items="$ctrl.statusItems"
            predicate="certificationStatus"
            match-full="true"></st-list-multiple>
        </ul>
      </div>
      <button class="btn btn-default" ng-click="$ctrl.viewCertificationStatusLegend();$event.stopPropagation()"><i class="fa fa-question-circle"></i></button>
      <p ng-if="$ctrl.activeVersion.displayedListings.length === 0">No Listings match the filter</p>
      <table class="table table-condensed" ng-if="$ctrl.activeVersion.displayedListings && $ctrl.activeVersion.displayedListings.length > 0">
        <thead>
          <tr>
            <th scope="col" class="search-header" st-sort="chplProductNumber" st-skip-natural="true" st-sort-default>Listings</th>
            <th scope="col" class="search-header" st-sort="certificationStatus" st-skip-natural="true">Certification Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listing in $ctrl.activeVersion.displayedListings">
            <td><a ui-sref="listing({ id: listing.id })">{{ listing.chplProductNumber }}</a></td>
            <td><a href uib-tooltip="{{ listing.certificationStatus }}" tooltip-trigger="'mouseenter focus click'"><i class="fa" ng-class="$ctrl.statusFont(listing.certificationStatus)"></i></a> {{ listing.certificationStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
