<div ng-form="$ctrl.form">
  <div class="panel-default" ng-class="{'panel-default--nested' : $ctrl.isMerging }">
    <div class="panel-heading products__products-header">
      <div class="products__products-header-item"><h2 class="panel-title">Edit Product Details</h2></div>
    </div>
    <div class="panel-body">
      <div class="product__edit-information-product">
        <div class="data-label product__data-label'"><label for="product-name">Product Name <span class="text-danger">*</span></label></div>
        <div>
          <input class="form-control" type="text" id="product-name" name="productName"
                 ng-model="$ctrl.product.name" required ng-maxlength="300">
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.productName.$touched) && $ctrl.form.productName.$error.required">Field is required</div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.productName.$touched) && $ctrl.form.productName.$error.maxlength">Field is too long</div>
          <ul class="list-inline merge-options">
            <li ng-repeat="option in $ctrl.getDifferences('name')">
              <button class="btn btn-secondary"
                      ng-click="$ctrl.selectDifference('name', option)">{{ option }}</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="product__history-of-product">
        <div class="product__history-of-product-header">
          <div class="product__data-label data-label">
            Product Owner
          </div>
        </div>
        <div class="product__history-of-product-header product__history-of-product-header--end">
          <div class="product__data-label data-label">
            Transfer Date
          </div>
        </div>
        <div class="product__history-of-product-item" ng-repeat-start="owner in $ctrl.product.ownerHistory">
          <span ng-if="!$first">
            {{ owner.developer.name }}
          </span>
          <span ng-if="$first">
            <div class="data-label sr-only"><label for="product-owner-current">Curren Product Owner <span class="text-danger">*</span></label></div>
            <select ng-model="$ctrl.currentOwner" id="product-owner-current" name="productOwnerCurrent" class="form-control" required
                    ng-options="developer as developer.displayName for developer in $ctrl.developers"
                    ng-change="$ctrl.updateCurrentOwner()">
            </select>
            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.productOwnerCurrent.$touched) && $ctrl.form.productOwnerCurrent.$error.required">Field is required</div>
          </span>
        </div>
        <div class="product__history-of-product-item">
          {{ owner.transferDay ? $ctrl.DateUtil.getDisplayDateFormat(owner.transferDay) : 'current' }}
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--end" ng-repeat-end>
          <button class="btn btn-link btn-sm" ng-click="$ctrl.removeOwner(owner)" ng-if="owner.transferDay"><i class="fa fa-times"></i></button>
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--adding" ng-if="$ctrl.addingOwner">
          <div class="data-label sr-only"><label for="product-owner">Product Owner <span class="text-danger">*</span></label></div>
          <select ng-model="$ctrl.newOwner" id="product-owner" name="productOwner" class="form-control" required
                  ng-options="developer as developer.displayName for developer in $ctrl.developers">
          </select>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.productOwner.$touched) && $ctrl.form.productOwner.$error.required">Field is required</div>
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--adding" ng-if="$ctrl.addingOwner">
          <div class="data-label sr-only"><label for="transfer-date">Transfer Date <span class="text-danger">*</span></label></div>
          <div class="input-group">
            <input class="form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.newTransferDay" is-open="$ctrl.transferDayPicker" close-text="Close" required
                   id="transfer-date" name="transferDay" ng-model-options="{ timezone: 'UTC' }"><div uib-datepicker-popup-wrap ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty" aria-invalid="false">
            </div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-link btn-sm" ng-click="$ctrl.transferDayPicker = true"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.transferDay.$touched) && $ctrl.form.transferDay.$error.required">Field is required</div>
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--adding product__history-of-product-item--end" ng-if="$ctrl.addingOwner">
          <button class="btn btn-link btn-sm" ng-disabled="(!$ctrl.newOwner || !$ctrl.newTransferDay) && $ctrl.showFormErrors" ng-click="$ctrl.saveNewOwner()" ng-mouseover="$ctrl.showFormErrors = true; $ctrl.generateErrorMessages()"><i class="fa fa-save"></i></button>
          <button class="btn btn-link btn-sm" ng-click="$ctrl.doneAddingOwner()"><i class="fa fa-times"></i></button>
        </div>
        <div class="product__history-of-product-add-new" ng-if="!$ctrl.addingOwner">
          <button class="btn btn-sm btn-link" ng-click="$ctrl.addingOwner = true"><i class="fa fa-plus-circle"></i> Add Product Owner</button>
        </div>
      </div>
      <span ng-if="!$ctrl.isMerging">
        <hr />
        <h4>Contact Information</h4>
        <chpl-contact contact="$ctrl.product.contact"
                      is-editing="true"
                      ignore-friendly-name="true"
                      on-change="$ctrl.editContact(contact)"
                      merge-options="$ctrl.contactOptions"
                      show-form-errors="$ctrl.showFormErrors"></chpl-contact>
      </span>
    </div>
  </div>
  <chpl-action-bar is-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
                   error-messages="$ctrl.displayedErrorMessages"
                   take-action="$ctrl.takeActionBarAction(action)">
  </chpl-action-bar>
</div>
