<div ng-form="$ctrl.form">
  <div class="panel-default">
    <div class="panel-heading products__products-header">
      <div class="products__products-header-item"><h2>Edit Product Details</h2></div>
    </div>
    <div class="panel-body">
      <div class="product__edit-information-product">
        <div class="product__data-label data-label"><label for="product-name">Product Name</label></div>
        <div>
          <input class="form-control" type="text" id="product-name" name="productName"
                 ng-model="$ctrl.product.name">
        </div>
      </div>
      <div class="product__history-of-product">
        <div class="product__history-of-product-header">
          <div class="product__data-label data-label">
            Product Owner
          </div>
        </div>
        <div class="product__history-of-product-header product__history-of-product-header--end">
          <div class="product__data-label data-label">
            Transfer Date
          </div>
        </div>
        <div class="product__history-of-product-item" ng-repeat-start="owner in $ctrl.product.ownerHistory">
          {{ owner.developer.name }}
        </div>
        <div class="product__history-of-product-item">
          {{ owner.transferDate ? (owner.transferDate | date : 'mediumDate' : 'EST') : 'current' }}
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--end" ng-repeat-end>
          <button class="btn btn-link btn-sm" ng-click="$ctrl.removeOwner(owner)"><i class="fa fa-times"></i></button>
        </div>
        <div class="product__history-of-product-item" ng-if="$ctrl.addingOwner">
          <div class="data-label sr-only"><label for="product-owner">Product Owner <span class="text-danger">*</span></label></div>
          <select ng-model="$ctrl.newOwner" id="product-owner" name="productOwner" class="form-control" required
                  ng-options="developer as developer.displayName for developer in $ctrl.developers">
          </select>
          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.productOwner.$touched) && $ctrl.form.productOwner.$error.required">Field is required</div>
        </div>
        <div class="product__history-of-product-item" ng-if="$ctrl.addingOwner">
          <div class="data-label sr-only"><label for="transfer-date">Transfer Date <span class="text-danger">*</span></label></div>
          <div class="input-group">
            <input class="form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.newTransferDate" is-open="$ctrl.transferDatePicker" close-text="Close"
                   id="transfer-date" name="transferDate" ng-model-options="{ timezone: 'UTC' }"><div uib-datepicker-popup-wrap ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty" aria-invalid="false">
            </div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-link btn-sm" ng-click="$ctrl.transferDatePicker = true"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="product__history-of-product-item product__history-of-product-item--end" ng-if="$ctrl.addingOwner">
          <button class="btn btn-link btn-sm" ng-disabled="!$ctrl.newOwner && $ctrl.showFormErrors" ng-click="$ctrl.saveNewOwner()" ng-mouseover="$ctrl.showFormErrors = true; $ctrl.generateErrorMessages()"><i class="fa fa-save"></i></button>
          <button class="btn btn-link btn-sm" ng-click="$ctrl.doneAddingOwner()"><i class="fa fa-times"></i></button>
        </div>
        <div class="product__history-of-product-add-new" ng-if="!$ctrl.addingOwner">
          <button class="btn btn-sm btn-link" ng-click="$ctrl.addingOwner = true"><i class="fa fa-plus-circle"></i> Add Product Owner</button>
        </div>
      </div>
      <hr>
      <div>
        <h4>Contact Information</h4>
      </div>
      <chpl-contact contact="$ctrl.product.contact"
                    is-editing="true"
                    ignore-friendly-name="true"
                    on-change="$ctrl.editContact(contact)"
                    show-form-errors="$ctrl.showFormErrors"></chpl-contact>
    </div>
  </div>
  <chpl-action-bar is-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
                   error-messages="$ctrl.errorMessages"
                   take-action="$ctrl.takeActionBarAction(action)">
  </chpl-action-bar>
</div>
