.tooltip-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: transparent;
}
