/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5aadbb;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300|Lato:400,300,300italic");

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

.hide-google-iframe {
    height: 0;
    width: 0;
    display: none;
    visibility: hidden;
}

body {
    margin-top: 170px;
    background-image: url("../assets/images/CHPL_BackgroundPattern.png");
    font-family: "Lato", sans-serif;
}

header {
    transition: all .4s ease;
}

a {
    color: #1a67a9;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: "Oswald", sans-serif;
    color: #ffdd3c;
}

.navbar-inverse {
    background-image: url("../assets/images/CHPL_Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid #0070c9;
    min-height: 160px;
    box-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a {
    box-shadow: none;
}

.no-br {
    white-space: nowrap;
}

.anchor-element {
    position: relative;
}

.page-anchor {
    position: absolute;
    top: -125px;
}

@media (max-width: 767px) {

    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 767px) {

    .navbar-fixed-top .container {
        position: relative;
        min-height: 160px;
    }

    .navbar-fixed-top .nav {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}

footer {
    margin-top: 150px;

    .navbar-default {
        background-color: #ebebeb;
        background-image: none;

        p {
            color: #363636;

            a {
                color: #214e75;
            }
        }

        .badge {
            color: #fff;
        }
    }
}

.announcement.badge {
    white-space: inherit;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 300; /* 400-regular, 300-light */
    color: #0070c9;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #0070c9;
}

h4 {
    font-weight: 700;
}

.splash-row {
    margin-top: 40px;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    background: #fff;
}

.splash-row .spaced-out {
    margin: 40px;
}

footer .spaced-out {
    margin: 10px 40px;
}

header {

    a.navbar-brand img {
        margin: 10px 40px;
    }
}

#loading-bar .bar {
    background: #ffdd3c;
}

#loading-bar .peg {
    box-shadow: #ffdd3c 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border: 10px solid transparent;
    border-top-color: #ffdd3c;
    border-left-color: #ffdd3c;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    width: 128px;
    height: 128px;
    position: fixed;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dee1ff;
}

.table-striped-foldout>tbody>tr:nth-of-type(4n+3) {
    background-color: #f6f6fa;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f6f6fa;
}

.main-content {
    background: #fff;
    padding: 5px;
    border: 1px solid #e1e1e1;
}

.search-header {
    cursor: pointer;
    white-space: nowrap;

    &:after {
        content: "\f0dc";
        font-family: "FontAwesome";
        padding: 0 6px;
        font-size: large;
    }
}

.nowrap {

    th {
        white-space: nowrap;
    }
}

.st-sort-ascent:after {
    content: "\f0de";
}

.st-sort-descent:after {
    content: "\f0dd";
}

.btn-ai-grey {
    background: linear-gradient(#e1e1e1, #b2b2b2);
    color: #000;
    border-bottom: 0;

    &:active,
    &:hover,
    &:focus {
        color: #000;
        background: linear-gradient(#c9c9c9, #838383);
    }

    &.btn-sm {
        border-radius: 12px;
    }

    .fa {
        color: #db411e;
    }
}

.ai-panel>.panel-heading {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);
}

.ai-gradient {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a {
    background: #0070c9;
    background-image: none;
}

.text-bottom {
    position: relative;
}

.text-bottom p,
.text-bottom a {
    bottom: 0;
}

.panel-ai {
    border-color: #337ab7;
}

.panel-ai > .panel-heading {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #337ab7;
}

.panel-ai > .panel-heading a {
    color: #f5d43c;
    text-decoration: none;
}

.panel-ai > .panel-heading a .pull-right {
    color: #fff;
}

.panel-ai > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #337ab7;
}

.panel-ai > .panel-heading .badge {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);
}

.panel-ai > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #337ab7;
}

.btn-ai {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);

    &:focus,
    &.focus,
    &:hover {
        color: #fff;
        background: linear-gradient(#0057b0, #001045);
    }

    &:active,
    &.active {
        color: #fff;
        background: linear-gradient(#0057b0, #001045);

        &:hover,
        &:focus {
            border: red;
        }
    }

    &.disabled,
    &[disabled] {
        background-color: #fff;
        border-color: #ccc;

        &:hover,
        &:focus,
        &.focus,
        &:active {
            background-color: #fff;
            border-color: #ccc;
        }
    }

    .badge {
        color: #fff;
        background-color: #333;
    }
}

.open > .dropdown-toggle.btn-ai {
    color: #f5d43c;
    background: linear-gradient(#0057b0, #001045);
    border: red;
}

.btn-ai-success {
    color: #fff;
    background: linear-gradient(#008b00, #006800);

    &:focus,
    &.focus,
    &:hover {
        color: #fff;
        background: #004800;
    }

    &:active {
        color: #fff;
        background: #004800;
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: #344834;
        border-color: #ccc;
        opacity: 1;
        text-decoration: line-through;

        &:hover,
        &:focus,
        &.focus,
        &:active {
            background-color: #344834;
            border-color: #ccc;
            opacity: 1;
            text-decoration: line-through;
        }
    }

    .badge {
        color: #fff;
        background-color: #333;
    }
}

.open > .dropdown-toggle.btn-ai-success {
    background-image: none;
}

.btn-ai-certid {
    color: #000;
    background: linear-gradient(#f5d43c, #c0a000);

    &:focus,
    &.focus,
    &:hover,
    &:active {
        background: #f5d43c;
    }
}

.btn-ai-certid-toggleon {
    color: #000;
    background: #f5d43c;

    &:focus,
    &.focus,
    &:hover,
    &:active {
        background: #ffe25e !important;
    }
}

.cert-id-lookup-error li {
    font-weight: 700;
    list-style: none;
}

.panel-widget-certid {
    border-color: #f5d43c;
}

.panel-widget-certid > .panel-heading {
    color: #000;
    background: linear-gradient(#f5d43c, #c0a000);
}

.panel-widget-certid > .panel-heading a {
    color: #000;
}

.panel-widget-certid > .panel-collapse .panel-body {
    background: #fff;
    color: #000;
}

:focus {
    outline: thin dotted 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333 !important;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333 !important;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #333 !important;
}

.btn-default[disabled] {
    color: #000;
}

.btn[disabled] {
    opacity: 1;
}

.swagger-ui .endpoint h4 a,
.swagger-ui .endpoint a {
    color: #337ab7;
}

.swagger-ui .endpoint .endpoint-actions a,
.swagger-ui .endpoint .endpoint-heading span {
    color: #333;
}

.swagger-ui .api-version {
    color: #333;
}

option[disabled] {
    font-style: italic;
}

.status-good {
    color: green;
}

.status-warning {
    color: #f5d43c;
}

.status-bad {
    color: red;
}

.status-neutral {
    color: gray;
}

#filters .emphasis {
    font-style: italic;
}

#filters .btn-group button {
    margin-right: 1px;
    margin-left: 1px;
}

#filters button a {
    color: #f5d43c;
    text-decoration: none;
}

.table>thead>tr#filters>th {
    vertical-align: top;
}

#filters .dropdown-menu {
    left: auto;
    right: 0;
}

#search-page .dropdown-menu {
    width: 150%;
    max-height: 300px;
    overflow: auto;
}

#search-page .dropdown-menu-large,
#decertifications-page .dropdown-menu-large {
    min-width: 400px;
}

#search-page .dropdown-menu li>label,
#decertifications-page .dropdown-menu>div>li>label,
#decertifications-page .dropdown-menu>li>label {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu li select {
    display: block;
    padding: 3px 20px;
    margin: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu>li>span>a,
#decertifications-page .dropdown-menu>div>li>span>a,
#decertifications-page .dropdown-menu>li>span>a {
    display: block;
    padding: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu>li.form-horizontal>div.form-group,
#decertifications-page .dropdown-menu>div>li.form-horizontal>div.form-group,
#decertifications-page .dropdown-menu>li.form-horizontal>div.form-group {
    margin-left: 0;
    margin-right: 0;
}

#search-page .dropdown-menu>li>div>label.control-label,
#decertifications-page .dropdown-menu>div>li>div>label.control-label,
#decertifications-page .dropdown-menu>li>div>label.control-label {
    display: block;
    padding-left: 20px;
    clear: both;
    text-align: left;
}

#search-page .dropdown-menu>li>a,
#decertifications-page .dropdown-menu>li>a {
    font-weight: 700;
}

#decertifiedProductFilter,
#inactiveProductFilter,
#decertifiedDeveloperFilter {
    min-width: 500px;
}

#decertifiedProductFilter .dropdown-menu,
#inactiveProductFilter .dropdown-menu,
#decertifiedDeveloperFilter .dropdown-menu {
    width: 100%;
}

.animate-if.ng-enter {
    transition: all cubic-bezier(.25, .46, .45, .94) .5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.style-guide-block {
    width: 100%;
    background: #ccc;
}


/* The alert message box */
.selected-item {
    padding: 5px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.selected-item  label {
    font-weight: normal !important;;
}

.selected-item  input {
    color: black !important;
}

.additional-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #777777;
}
.additional-input::-moz-placeholder { /* Firefox 19+ */
    color: #777777;
}
.additional-input:-ms-input-placeholder { /* IE 10+ */
    color: #777777;
}
.additional-input:-moz-placeholder { /* Firefox 18- */
    color: #777777;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: #3c763d;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.fade-in {
    animation:opac 0.3s}
    @keyframes opac{from{opacity:0} to{opacity:1}
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
