/**
 *  The list of variables are listed here node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5aadbb;
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";
@import "~angularjs-toaster/toaster.scss";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300|Lato:400,300,300italic");

:root {
    --grey-blue: #edf6ff;
    --blue: #156dac;
    --darkblue: #0e547f;
    --grey: #c6d5e5;
    --red: #c44f65;
    --dark-grey: #555555;
    --black: #1c1c1c;
    --light-grey: #f9f9f9;
    --white: #ffffff;
    --primary: #edf6ff;
    --secondary: #156dac;
    --success: #356635;
    --info: #0e547f;
    --warning: #c44f65;
    --danger: #c44f65;
    --light: #f9f9f9;
    --dark: #1c1c1c;
    --medium-grey: #6b6b6b;
    --swagger-put-content: #ede0f8;
    --swagger-put-badge: #6b23a4;
    --background-error: 196, 79, 101;
    --background-warning: 247, 233, 187;
    --background-success: 53, 102, 53;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Lato, Sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

.hide-google-iframe {
    height: 0;
    width: 0;
    display: none;
    visibility: hidden;
}

body {
    background-color: var(--white);
    color: var(--dark);
    font-family: var(--font-family-sans-serif);
}

a {
    color: #1a67a9;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

.no-br {
    white-space: nowrap;
}

.anchor-element {
    position: relative;
}

.page-anchor {
    position: absolute;
    top: -125px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1.75em;
    font-weight: 500;
}

h4 {
    font-size: 1.5em;
    font-weight: 900;
}

h5 {
    font-size: 1.25em;
    font-weight: 600;
}

h6 {
    font-size: 1.25em;
    font-weight: 500;
}

.splash-row {
    margin-top: 40px;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    background: #fff;
}

.splash-row .spaced-out {
    margin: 40px;
}

#loading-bar .bar {
    background: #ffdd3c;
}

#loading-bar .peg {
    box-shadow: #ffdd3c 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border: 10px solid transparent;
    border-top-color: #ffdd3c;
    border-left-color: #ffdd3c;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    width: 128px;
    height: 128px;
    position: fixed;
}

.main-content {
    background: var(--light-grey);
    padding: 15px;
}

.inset-content {
    background: #fff;
}

.search-header {
    cursor: pointer;
    white-space: nowrap;

    &:after {
        content: "\f0dc";
        font-family: "FontAwesome";
        padding: 0 6px;
        font-size: large;
    }
}

.nowrap {

    th {
        white-space: nowrap;
    }
}

.st-sort-ascent:after {
    content: "\f0de";
}

.st-sort-descent:after {
    content: "\f0dd";
}

.btn-ai-grey {
    background: linear-gradient(#e1e1e1, #b2b2b2);
    color: #000;
    border-bottom: 0;

    &:active,
    &:hover,
    &:focus {
        color: #000;
        background: linear-gradient(#c9c9c9, #838383);
    }

    &.btn-sm {
        border-radius: 12px;
    }

    .fa {
        color: #db411e;
    }
}

.ai-panel>.panel-heading {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);
}

.ai-gradient {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);
}

.text-bottom {
    position: relative;
}

.text-bottom p,
.text-bottom a {
    bottom: 0;
}

.panel-ai {
    border-color: var(--grey);

    .panel-heading {
        color: #1c1c1c;
        background: #edf6ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: var(--grey);

        a {
            color: #1c1c1c;
            text-decoration: none;

            .pull-right {
                color: #555555;
            }
        }

        .badge {
            color: #1c1c1c;
            background: #edf6ff;
        }
    }

    .panel-heading + .panel-collapse > .panel-body {
        border-top-color: var(--grey);
    }

    .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: var(--grey);
    }
}

.btn-ai {
    color: #f5d43c;
    background: linear-gradient(#0070c9, #004378);

    &:focus,
    &.focus,
    &:hover {
        color: #fff;
        background: linear-gradient(#0057b0, #001045);
    }

    &:active,
    &.active {
        color: #fff;
        background: linear-gradient(#0057b0, #001045);

        &:hover,
        &:focus {
            border: red;
        }
    }

    &.disabled,
    &[disabled] {
        background-color: #fff;
        border-color: #ccc;

        &:hover,
        &:focus,
        &.focus,
        &:active {
            background-color: #fff;
            border-color: #ccc;
        }
    }

    .badge {
        color: #fff;
        background-color: #333;
    }
}

.open > .dropdown-toggle.btn-ai {
    color: #f5d43c;
    background: linear-gradient(#0057b0, #001045);
    border: red;
}

.btn-ai-success {
    color: #fff;
    background: linear-gradient(#008b00, #006800);

    &:focus,
    &.focus,
    &:hover {
        color: #fff;
        background: #004800;
    }

    &:active {
        color: #fff;
        background: #004800;
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: #344834;
        border-color: #ccc;
        opacity: 1;
        text-decoration: line-through;

        &:hover,
        &:focus,
        &.focus,
        &:active {
            background-color: #344834;
            border-color: #ccc;
            opacity: 1;
            text-decoration: line-through;
        }
    }

    .badge {
        color: #fff;
        background-color: #333;
    }
}

.open > .dropdown-toggle.btn-ai-success {
    background-image: none;
}

.btn-ai-certid {
    color: #000;
    background: linear-gradient(#f5d43c, #c0a000);

    &:focus,
    &.focus,
    &:hover,
    &:active {
        background: #f5d43c;
    }
}

.btn-ai-certid-toggleon {
    color: #000;
    background: #f5d43c;

    &:focus,
    &.focus,
    &:hover,
    &:active {
        background: #ffe25e !important;
    }
}

.cert-id-lookup-error li {
    font-weight: 700;
    list-style: none;
}

.panel-widget-certid {
    border-color: #f5d43c;
}

.panel-widget-certid > .panel-heading {
    color: #000;
    background: linear-gradient(#f5d43c, #c0a000);
}

.panel-widget-certid > .panel-heading a {
    color: #000;
}

.panel-widget-certid > .panel-collapse .panel-body {
    background: #fff;
    color: #000;
}

:focus {
    outline: thin dotted 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333 !important;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333 !important;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #333 !important;
}

.btn-default[disabled] {
    color: #000;
}

.btn[disabled] {
    opacity: 1;
}

option[disabled] {
    font-style: italic;
}

.status-good {
    color: green;
}

.status-warning {
    color: #f5d43c;
}

.status-bad {
    color: red;
}

.status-neutral {
    color: gray;
}

#filters .emphasis {
    font-style: italic;
}

#filters .btn-group button {
    margin-right: 1px;
    margin-left: 1px;
}

#filters button a {
    color: #f5d43c;
    text-decoration: none;
}

.table>thead>tr#filters>th {
    vertical-align: top;
}

#filters .dropdown-menu {
    left: auto;
    right: 0;
}

#search-page .dropdown-menu,
#acbs-report-page .dropdown-menu,
#listings-report-page .dropdown-menu {
    width: 150%;
    max-height: 300px;
    overflow: auto;
}

#search-page .dropdown-menu-large,
#decertifications-page .dropdown-menu-large {
    min-width: 400px;
}

#search-page .dropdown-menu li>label,
#acbs-report-page .dropdown-menu li>label,
#listings-report-page .dropdown-menu li>label,
#decertifications-page .dropdown-menu>div>li>label,
#decertifications-page .dropdown-menu>li>label {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu li select {
    display: block;
    padding: 3px 20px;
    margin: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu>li>span>a,
#acbs-report-page .dropdown-menu>li>span>a,
#listings-report-page .dropdown-menu>li>span>a,
#decertifications-page .dropdown-menu>div>li>span>a,
#decertifications-page .dropdown-menu>li>span>a {
    display: block;
    padding: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu>li.form-horizontal>div.form-group,
#acbs-report-page .dropdown-menu>li.form-horizontal>div.form-group,
#listings-report-page .dropdown-menu>li.form-horizontal>div.form-group,
#decertifications-page .dropdown-menu>div>li.form-horizontal>div.form-group,
#decertifications-page .dropdown-menu>li.form-horizontal>div.form-group {
    margin-left: 0;
    margin-right: 0;
}

#search-page .dropdown-menu>li>div>label.control-label,
#acbs-report-page .dropdown-menu>li>div>label.control-label,
#listings-report-page .dropdown-menu>li>div>label.control-label,
#decertifications-page .dropdown-menu>div>li>div>label.control-label,
#decertifications-page .dropdown-menu>li>div>label.control-label {
    display: block;
    padding-left: 20px;
    clear: both;
    text-align: left;
}

#search-page .dropdown-menu>li>a,
#acbs-report-page .dropdown-menu>li>a,
#listings-report-page .dropdown-menu>li>a,
#decertifications-page .dropdown-menu>li>a {
    font-weight: 700;
}

#decertifiedProductFilter,
#inactiveProductFilter,
#decertifiedDeveloperFilter {
    min-width: 500px;
}

#decertifiedProductFilter .dropdown-menu,
#inactiveProductFilter .dropdown-menu,
#decertifiedDeveloperFilter .dropdown-menu {
    width: 100%;
}

.dropdown__text-block {
    padding: 10px;
}

.animate-if.ng-enter {
    transition: all cubic-bezier(.25, .46, .45, .94) .5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.style-guide-block {
    width: 100%;
    background: #ccc;
}

.additional-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #777777;
}

.additional-input::-moz-placeholder { /* Firefox 19+ */
    color: #777777;
}

.additional-input:-ms-input-placeholder { /* IE 10+ */
    color: #777777;
}

.additional-input:-moz-placeholder { /* Firefox 18- */
    color: #777777;
}

.fade-in {
    animation: opac .3s;
    @keyframes opac {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.uirTranVis_history {
    bottom: 25px !important;
}

.uirStateVisContainer {
    bottom: 25px !important;
}

li.removed,
a.removed,
td.removed,
tr.removed,
div.removed,
span.removed {
    font-style: italic;
}

option[label^="Removed"] {
    font-style: italic;
}

option[label^="Retired"] {
    font-style: italic;
}

.removed {

    .btn-link {

        i {
            color: #4d4d4d;
        }
    }

    .criteria-title {
        font-style: italic;
    }

    .alert-success {
        color: #000;
        background-color: #eee;
        border-color: #000;
    }

    .table-striped {

        tbody {

            tr:nth-of-type(odd) {
                background-color: #eee;
            }

            tr:nth-of-type(even) {
                background-color: #fff;
            }
        }
    }
}

.flex-container {
    display: flex;
    width: 100%;

    &.wrap {
        flex-wrap: wrap;
    }

    &.horizontal-space {
        height: 15px;
    }

    &.rotate {
        flex-direction: column;
    }
}

.flex-item {
    flex: 1;
    margin-bottom: 5px;

    &.wrap {
        flex: 0 50%;
    }

    &.center {
        margin: auto;
        text-align: center;
    }

    &.cross-axis-align-end {
        align-self: flex-end;
    }

    &.cross-axis-align-center {
        align-self: center;
    }

    &.wide {
        flex: 2;
    }

    &.wider {
        flex: 4;
    }

    &.widest {
        flex: 8;
    }

    &.narrow {
        flex: .5;
    }

    &.narrower {
        flex: .25;
    }

    &.narrowest {
        flex: .125;
    }
}

.data-item--invalid {
    text-decoration: line-through;
}

p {
    font-size: 1em;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 10px;

    &:focus {
        border-color: var( --blue) 1px solid;
    }

    &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
}

.btn-default {
    padding: 5px 10px;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--grey-blue) 1px solid;
    border-radius: 5px;

    &:hover {
        background-color: var(--light-blue);
    }
}

.btn-primary {
    color: var(--white);
    background: var(--blue);
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 5px;
    border-color: var(--darkblue) 1px solid;

    &:hover {
        background: var(--darkblue);
    }
}

.btn-secondary {
    color: var(--blue);
    background: var(--white);
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid var(--blue);

    &:hover {
        background: var(--light-grey);
    }
}

.badge {
    background-color: var(--dark);
}

.badge-success {
    background-color: var(--success);
}

.panel-default {
    margin: 15px;
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}

.panel-default--nested {
    margin: 8px 0;
    box-shadow: none;
}

.panel-body {
    padding: 10px 10px 10px 15px;
}

.panel-heading {
    background: var(--white);
}

.panel-heading.tracking-panel {
    padding: 20px 15px;
}

.form-control {
    font-size: 16px;
    border-color: #6c9cbf;
    line-height: 1.38;
    letter-spacing: .18px;
    width: calc(100% - 5px);
}

.table-striped {

    tbody {

        tr:nth-of-type(even) {
            background-color: var(--white);
        }

        tr:nth-of-type(odd) {
            background-color: var(--grey-blue);
        }
    }
}

.search-table th {
    color: var(--blue);
    font-weight: 500;
}

.container-striped {

    &.even {
        background-color: var(--white);
    }

    &.odd {
        background-color: var(--grey-blue);
    }
}

.well-sm {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    margin-right: 0%;
    border-radius: 5px;
}

.data-label,
label {
    font-size: 12px;
    color: var(--dark);
    text-transform: uppercase;
}

.data-label {
    font-weight: 700;
}

.read-only-data {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: .18px;
}

.repeatable-item {
    padding: 5px;
    background-color: var(--light);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-bottom: 5px;
}

.btn-link {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: .18px;
    color: var(--blue);
}

[uib-datepicker-popup-wrap] .btn {
    border-radius: 3px;
    border-color: #ccc;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: var(--black);
}

.breadcrumb > .active {
    color: var(--black);
    font-weight: 600;
}

.progress-bar-danger {
    background-color: var(--danger);
}

.progress-bar-warning {
    background-color: var(--secondary);
}

.progress-bar-success {
    background-color: var(--success);
}

.merge-options {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn--wrap {
    white-space: normal;
}

.swagger-ui {

    .put {

        h5,
        .h5,
        .description {
            color: var(--swagger-put-badge);
        }

        .heading,
        .content {
            background-color: var(--swagger-put-content);
            border-color: var(--swagger-put-content);
        }

        .http-method {
            background-color: var(--swagger-put-badge);
        }
    }

    .post {

        h5,
        .h5,
        .description {
            color: var(--success);
        }

        .http-method {
            background-color: var(--success);
        }
    }
}
