/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300|Lato:400,300,300italic');

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    margin-top: 150px;
    background-image: url('../assets/images/CHPL_BackgroundPattern.png');
    font-family: 'Lato', sans-serif;
}

header {
    transition: all 0.4s ease;
}

a {
    color: #1a67a9;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: 'Oswald', sans-serif;
    color: #ffdd3c;
}

.navbar-inverse {
    background-image: url('../assets/images/CHPL_Header.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 20px solid #0070c9;
    min-height: 130px;
    box-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    box-shadow: none;
}

.no-br {
    white-space: nowrap
}

.anchor-element {
    position: relative;
}
.page-anchor {
    position: absolute;
    top: -125px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

@media (min-width: 767px) {
    .navbar-fixed-top .container {
        position: relative;
        min-height: 130px;
    }

    .navbar-fixed-top .nav {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

footer .navbar-default a {
    color: #214e75;
}

footer .navbar-default {
    background-color: #ebebeb;
    background-image: none;
}

footer p {
    color: #363636;
}

footer {
    margin-top: 150px;
}

.announcement.badge {
    white-space: inherit;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.clickable { cursor: pointer; }

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300; /* 400-regular, 300-light */
    color: #0070c9;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #0070c9;
}

h4 {
    font-weight: 700;
}

.splash-row {
    margin-top: 40px;
    border: 1px solid #e1e1e1;
    border-bottom: 0px;
    background: #fff;
}

.splash-row .spaced-out {
    margin: 40px 40px;
}

footer .spaced-out {
    margin: 10px 40px;
}

#loading-bar .bar {
    background: #ffdd3c;
}

#loading-bar .peg {
    -moz-box-shadow: #ffdd3c 1px 0 6px 1px;
    -ms-box-shadow: #ffdd3c 1px 0 6px 1px;
    -webkit-box-shadow: #ffdd3c 1px 0 6px 1px;
    box-shadow: #ffdd3c 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border:10px solid transparent;
    border-top-color:  #ffdd3c;
    border-left-color: #ffdd3c;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    width:128px;
    height: 128px;
    position: fixed;
}

.table-striped-foldout>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.table-striped-foldout>tbody>tr:nth-of-type(4n+1) {
    background-color: #dee1ff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dee1ff;
}

.table-striped-foldout>tbody>tr:nth-of-type(4n+3) {
    background-color: #f6f6fa;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f6f6fa;
}

.main-content {
    background: #fff;
    padding: 5px;
    border: 1px solid #e1e1e1;
}

.sort-none:after, .st-sort-none:after {
                         content: "\f0dc";
                         font-family: FontAwesome;
                         padding: 0 6px;
                         font-size: large;
                     }

.sort-ascent:after, .st-sort-ascent:after {
                        content: "\f0de";
                        font-family: FontAwesome;
                        padding: 0 6px;
                        font-size: large;
                    }

.sort-descent:after, .st-sort-descent:after {
                         content: "\f0dd";
                         font-family: FontAwesome;
                         padding: 0 6px;
                         font-size: large;
                     }

.btn-ai-grey {
    background: #e1e1e1;
    color: #000;
}

.btn-ai-grey.btn-sm {
    border-radius: 12px;
}

.btn-ai-grey .fa {
    color: #db411e;
}

.btn-ai-grey .ai-lead {
    color: #0070c9;
    font-family: 'Oswald', sans-serif;
}

.ai-panel>.panel-heading {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0070c9, #004378); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0070c9, #004378); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0070c9, #004378); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0070c9, #004378); /* Standard syntax */
}

.ai-gradient {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0070c9, #004378); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0070c9, #004378); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0070c9, #004378); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0070c9, #004378); /* Standard syntax */
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a {
    background-image: none;
    background: #0070c9;
}

.text-bottom {
    position: relative;
}

.text-bottom p, .text-bottom a {
    bottom: 0px;
}

.panel-ai {
    border-color: #337ab7;
}

.panel-ai > .panel-heading {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0070c9, #004378); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0070c9, #004378); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0070c9, #004378); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0070c9, #004378); /* Standard syntax */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #337ab7;
}

.panel-ai > .panel-heading a {
    color: #f5d43c;
    text-decoration: none;
}

.panel-ai > .panel-heading a .pull-right {
    color: #fff;
}

.panel-ai > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #337ab7;
}

.panel-ai > .panel-heading .badge {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0070c9, #004378); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0070c9, #004378); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0070c9, #004378); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0070c9, #004378); /* Standard syntax */
}

.panel-ai > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #337ab7;
}

.btn-ai {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0070c9, #004378); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0070c9, #004378); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0070c9, #004378); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0070c9, #004378); /* Standard syntax */
}
.btn-ai:focus,
.btn-ai.focus {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0057b0, #001045); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0057b0, #001045); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0057b0, #001045); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0057b0, #001045); /* Standard syntax */
}
.btn-ai:hover {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0057b0, #001045); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0057b0, #001045); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0057b0, #001045); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0057b0, #001045); /* Standard syntax */
}
.btn-ai:active,
.btn-ai.active,
.open > .dropdown-toggle.btn-ai {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0057b0, #001045); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0057b0, #001045); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0057b0, #001045); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0057b0, #001045); /* Standard syntax */
    border:red;
}
.btn-ai:active:hover,
.btn-ai.active:hover,
.open > .dropdown-toggle.btn-ai:hover,
.btn-ai:active:focus,
.btn-ai.active:focus,
.open > .dropdown-toggle.btn-ai:focus,
.btn-ai:active.focus,
.btn-ai.active.focus,
.open > .dropdown-toggle.btn-ai.focus {
    color: #f5d43c;
    background: -webkit-linear-gradient(#0057b0, #001045); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0057b0, #001045); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0057b0, #001045); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0057b0, #001045); /* Standard syntax */
    border:red;
}
.btn-ai:active,
.btn-ai.active,
.open > .dropdown-toggle.btn-ai {
    /*background-image: none;*/
}
.btn-ai.disabled,
.btn-ai[disabled],
fieldset[disabled] .btn-ai,
.btn-ai.disabled:hover,
.btn-ai[disabled]:hover,
fieldset[disabled] .btn-ai:hover,
.btn-ai.disabled:focus,
.btn-ai[disabled]:focus,
fieldset[disabled] .btn-ai:focus,
.btn-ai.disabled.focus,
.btn-ai[disabled].focus,
fieldset[disabled] .btn-ai.focus,
.btn-ai.disabled:active,
.btn-ai[disabled]:active,
fieldset[disabled] .btn-ai:active,
.btn-ai.disabled.active,
.btn-ai[disabled].active,
fieldset[disabled] .btn-ai.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-ai .badge {
    color: #fff;
    background-color: #333;
}

.btn-ai-success {
    color: #fff;
    background: -webkit-linear-gradient(#008b00, #006800); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008b00, #006800); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008b00, #006800); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008b00, #006800); /* Standard syntax */
}
.btn-ai-success:focus,
.btn-ai-success.focus,
.btn-ai-success:hover,
.btn-ai-success:active {
    color: #fff;
    background: #004800;
}
.btn-ai-success:active:hover,
.btn-ai-success.active:hover,
.open > .dropdown-toggle.btn-ai-success:hover,
.btn-ai-success:active:focus,
.btn-ai-success.active:focus,
.open > .dropdown-toggle.btn-ai-success:focus,
.btn-ai-success:active.focus,
.btn-ai-success.active.focus,
.open > .dropdown-toggle.btn-ai-success.focus {
    color: #fff;
    background: #004800;
}
.btn-ai-success:active,
.btn-ai-success.active,
.open > .dropdown-toggle.btn-ai-success {
    background-image: none;
}
.btn-ai-success.disabled,
.btn-ai-success[disabled],
fieldset[disabled] .btn-ai-success,
.btn-ai-success.disabled:hover,
.btn-ai-success[disabled]:hover,
fieldset[disabled] .btn-ai-success:hover,
.btn-ai-success.disabled:focus,
.btn-ai-success[disabled]:focus,
fieldset[disabled] .btn-ai-success:focus,
.btn-ai-success.disabled.focus,
.btn-ai-success[disabled].focus,
fieldset[disabled] .btn-ai-success.focus,
.btn-ai-success.disabled:active,
.btn-ai-success[disabled]:active,
fieldset[disabled] .btn-ai-success:active,
.btn-ai-success.disabled.active,
.btn-ai-success[disabled].active,
fieldset[disabled] .btn-ai-success.active {
    background-color: #344834;
    border-color: #ccc;
    opacity: 1;
    text-decoration: line-through;
}
.btn-ai-success .badge {
    color: #fff;
    background-color: #333;
}

.btn-ai-certid {
    color: #000;
    background: -webkit-linear-gradient(#f5d43c, #c0a000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5d43c, #c0a000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5d43c, #c0a000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5d43c, #c0a000);  /* Standard syntax */
}
.btn-ai-certid-toggleon {
    color: #000;
	background: #f5d43c;
}

.btn-ai-certid-toggleon:focus,
.btn-ai-certid-toggleon.focus,
.btn-ai-certid-toggleon:hover,
.btn-ai-certid-toggleon:active {
    color: #000;
    background: #ffe25e !important;
}

.btn-ai-certid:focus,
.btn-ai-certid.focus,
.btn-ai-certid:hover,
.btn-ai-certid:active {
    color: #000;
	background: #f5d43c;
}

.cert-id-lookup-error li {
	font-weight: 700;
	list-style: none;
}

.panel-widget-certid  {
	border-color: #f5d43c;
}

.panel-widget-certid > .panel-heading {
    color: #000;
    background: -webkit-linear-gradient(#f5d43c, #c0a000);
    background: -o-linear-gradient(#f5d43c, #c0a000);
    background: -moz-linear-gradient(#f5d43c, #c0a000);
	background: linear-gradient(#f5d43c, #c0a000);
}
.panel-widget-certid > .panel-heading a {
    color: #000;
}
.panel-widget-certid > .panel-collapse .panel-body {
	background: #fde190;
	background: #fff;
	color: #000;
}


:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #333 !important;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #333 !important;
}

.btn-default[disabled] {
    color: #000;
}
.btn[disabled] {
    opacity: 1;
}

.swagger-ui .endpoint h4 a,
.swagger-ui .endpoint a {
    color: #337ab7;
}

.swagger-ui .endpoint .endpoint-actions a,
.swagger-ui .endpoint .endpoint-heading span {
    color: #333;
}

.swagger-ui .api-version {
    color: #333;
}

option[disabled] {
    font-style: italic;
}

.status-good {
    color: green;
}

.status-warning {
    color: #f5d43c;
}

.status-bad {
    color: red;
}

#filters .emphasis {
    font-style: italic;
}

#filters .btn-group button {
    margin-right: 1px;
    margin-left: 1px;
}

#filters button a {
    color: #f5d43c;
    text-decoration: none;
}

.table>thead>tr#filters>th {
    vertical-align: top;
}

#search-page .dropdown-menu {
    width: 150%;
    max-height: 300px;
    overflow: auto;
}

#search-page .dropdown-menu-large,
#decertifications-page .dropdown-menu-large {
    min-width: 400px;
}

#search-page .dropdown-menu>li>label,
#decertifications-page .dropdown-menu>divli>label,
#decertifications-page .dropdown-menu>li>label {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu>li>span>a,
#decertifications-page .dropdown-menu>div>li>span>a,
#decertifications-page .dropdown-menu>li>span>a {
    display: block;
    padding: 3px 20px;
    clear: both;
}

#search-page .dropdown-menu>li.form-horizontal>div.form-group,
#decertifications-page .dropdown-menu>div>li.form-horizontal>div.form-group,
#decertifications-page .dropdown-menu>li.form-horizontal>div.form-group {
    margin-left: 0px;
    margin-right: 0px;
}

#search-page .dropdown-menu>li>div>label.control-label,
#decertifications-page .dropdown-menu>div>li>div>label.control-label,
#decertifications-page .dropdown-menu>li>div>label.control-label {
    display: block;
    padding-left: 20px;
    clear: both;
    text-align: left;
}

#search-page .dropdown-menu>li>a,
#decertifications-page .dropdown-menu>li>a {
    font-weight: 700;
}

#decertifiedProductFilter,
#inactiveProductFilter,
#decertifiedDeveloperFilter {
    min-width: 500px;
}

#decertifiedProductFilter .dropdown-menu,
#inactiveProductFilter .dropdown-menu,
#decertifiedDeveloperFilter .dropdown-menu {
    width: 100%;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
