<div class="row">
  <div class="col-sm-12">
    <div ng-if="!vm.hasKey && !vm.admin">
      <p>You must register to use this API</p>
      <div class="form form-horizontal" ng-form="vm.registerForm">
        <div class="form-group">
          <label for="userName" class="col-sm-4 control-label">Name or Organization <span class="text-danger">*</label>
          <div class="col-sm-8">
            <input type="text" id="userName" name="userName" class="form-control" ng-model="vm.user.name" placeholder="name or organization" required></input>
            <div class="text-danger" ng-if="vm.registerForm.userName.$touched && vm.registerForm.userName.$error.required">Name or Organization is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email <span class="text-danger">*</label>
          <div class="col-sm-8">
            <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="sample@example.com" required></input>
            <div class="text-danger" ng-if="vm.registerForm.email.$touched && vm.registerForm.email.$error.required">Email is required</div>
            <div class="text-danger" ng-if="vm.registerForm.email.$touched && vm.registerForm.email.$error.email">Invalid email</div>
          </div>
        </div>
        <div class="form-group">
          <label for="acceptTos" class="col-sm-8 control-label">I accept the <a href ng-click="vm.viewTos()">Terms of Service</a> <span class="text-danger">*</label>
          <div class="col-sm-4">
            <input type="checkbox" id="acceptTos" name="acceptTos" ng-model="vm.user.acceptTos" required></input>
          </div>
          <div class="text-danger col-sm-12" ng-if="vm.registerForm.acceptTos.$touched && vm.registerForm.acceptTos.$error.required">You must accept the Terms of Service before continuing</div>
        </div>
      </div>
      <button class="btn btn-block btn-success" ng-click="vm.register()" ng-disabled="vm.registerForm.$invalid">Register</button>
    </div>
    <div ng-if="vm.hasKey">
      <p>Thank you for registering. You will receive an email with your unique key at the address you provided. In the meantime, your unique key is: <pre>{{ vm.key }}</pre></p>
    </div>
    <div ng-if="vm.admin" class="main-content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Email</th>
            <th scope="col">API Key</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.key }}</td>
            <td><button class="btn btn-danger btn-block"
                        confirm="Are you sure you wish to revoke {{ user.name }}'s API Key?"
                        confirm-ok="Yes"
                        confirm-cancel="No"
                        confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                        ng-click="vm.revoke(user)"><i class="fa fa-trash-o"></i> Revoke Key</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
