<div role="modal" aria-labeled-by="Terms of Service">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="Tos">Terms of Service</h4>
  </div>
  <div class="modal-body">
    Terms of Service are in progress
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-block" ng-click="vm.close()">Close</button>
  </div>
</div>
