<div role="modal" aria-labeled-by="Terms of Service">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="Tos">Terms of Service</h4>
  </div>
  <div class="modal-body">
    <h1>Office of the National Coordinator for Health IT Certified Health IT Product List (ONC-CHPL) Application Programming Interface Terms of Service Agreement</h1>

    <p>The Office of the National Coordinator for Health IT ("ONC") offers some of its public data from the ONC Health IT Certification Program in machine-readable format via an Application Programming Interface ("API"). This service is offered subject to your acceptance of the terms and conditions contained herein as well as any relevant sections of the <a href="http://healthit.gov">http://healthit.gov</a> Website Disclaimers (<a href="https://www.healthit.gov/newsroom/web-site-disclaimers">https://www.healthit.gov/newsroom/web-site-disclaimers</a>) and Web Privacy Policy (<a href="http://www.hhs.gov/privacy.html">http://www.hhs.gov/privacy.html</a>) (collectively, the "Agreements").</p>

    <h2>Scope</h2>
    <p>All of the content, documentation, code and related materials made available to you through the API are subject to these terms. Access to or use of the API or its content constitutes acceptance to this Agreement and is pursuant to successful and continued registration for access.</p>

    <h2>Use</h2>
    <p>You may use the ONC-CHPL API to develop a service or service to search, display, analyze, retrieve, view and otherwise "get" information from ONC-CHPL data.</p>

    <h2>Attribution</h2>
    <p>All services, which utilize or access the API, should display the following notice prominently within the application: "This product uses the Office of the National Coordinator for Health IT Certified Health IT Product List (ONC-CHPL) API but is not endorsed or certified by ONC." You may use the ONC and/or ONC-CHPL name in order to identify the source of API content subject to these rules. You may not use the ONC and/or ONC-CHPL name, or the like to imply endorsement of any product, service, or entity, not-for-profit, commercial or otherwise.</p>

    <h2>Modification or False Representation of Content</h2>
    <p>You may not modify or falsely represent content accessed through the API and still claim the source is the ONC-CHPL.</p>

    <h2>Right to Limit</h2>
    <p>Your use of the API may be subject to certain limitations on access, calls, or use as set forth within this Agreement or otherwise provided by ONC. If ONC reasonably believes that you have attempted to exceed or circumvent these limits, your ability to use the API may be temporarily or permanently blocked. ONC may monitor your use of the API to improve the service or to insure compliance with this Agreement.</p>

    <h2>Service Termination</h2>
    <p>If you wish to terminate this Agreement, you may do so by refraining from further use of the API or by requesting account registration termination. ONC reserves the right (though not the obligation) to: (1) refuse to provide the API to you, if it is ONC's opinion that use violates any ONC policy; or (2) terminate or deny you access to and use of all or part of the API at any time for any other reason in its sole discretion. All provisions of this Agreement, which by their nature should survive termination, shall survive termination including, without limitation, warranty disclaimers, indemnity, and limitations of liability.</p>

    <h2>Changes</h2>
    <p>ONC reserves the right, at its sole discretion, to modify or replace this Agreement, in whole or in part. Your continued use of or access to the API following posting of any changes to this Agreement constitutes acceptance of those modified terms. ONC may in the future, offer new services and/or features through the API. Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p>

    <h2>Disclaimer of Warranties</h2>
    <p>The API is provided "as is" and on an "as-available" basis. ONC hereby disclaims all warranties of any kind, express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement. ONC makes no warranty that the API will be error free or that access thereto will be continuous or uninterrupted.</p>

    <h2>Limitations on Liability</h2>
    <p>In no event will ONC be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (1) any special, incidental, or consequential damages; (2) the cost of procurement of substitute products or services; or (3) for interruption of use or loss or corruption of data.</p>

    <h2>General Representations</h2>
    <p>You hereby warrant that: (1) your use of the API will be in strict accordance with United States Department of Health and Human Services Privacy Policy (<a href="http://www.hhs.gov/privacy.html">http://www.hhs.gov/privacy.html</a>), this Agreement, and all applicable laws and regulations; and (2) your use of the API will not infringe or misappropriate the intellectual property rights of any third party.</p>

    <h2>Indemnification</h2>
    <p>You agree to indemnify and hold harmless ONC, its contractors, employees, agents, and the like from and against any and all claims and expenses including attorney's fees, arising out of your use of the API, including but not limited to violation of this Agreement.</p>

    <h2>Miscellaneous</h2>
    <p>This Agreement constitutes the entire Agreement between ONC and you concerning the subject matter hereof, and may only be modified by the posting of a revised version on this page by ONC.</p>

    <h2>Disputes</h2>
    <p>Any disputes arising out of this Agreement and access to or use of the API shall be governed by federal law.</p>

    <h2>No Waiver Rights</h2>
    <p>ONC's failure to exercise or enforce any right or provision of this Agreement shall not constitute waiver of such right or provision.</p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-block" ng-click="vm.close()">Close</button>
  </div>
</div>
