<div class="row">
  <div class="col-sm-12" ng-if="!$ctrl.listing">
    Loading...<i class="fa fa-spin fa-spinner"></i>
  </div>
  <div class="col-sm-12" ng-if="$ctrl.listing">
    <p class="">
      <input type="checkbox" ng-model="$ctrl.viewAllCerts" id="viewAllCerts"></input>
      <label for="viewAllCerts">See all Certification Criteria / Clinical Quality Measures</label>
    </p>

    <!-- Certification Criteria -->
    <div class="panel panel-ai">
      <div class="panel-heading">
        <a href="" ng-click="$ctrl.showPanel('cert')" aria-expanded="{{ $ctrl.panelShown === 'cert' }}" id="details-certification-criteria">Certification Criteria<span class="pull-right">({{ $ctrl.countCerts }} met) <i class="fa fa-lg" ng-class="$ctrl.panelShown === 'cert' ? 'fa-caret-down' : 'fa-caret-left'"></i></span></a>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'cert'" id="panel-certification-criteria">
        <div ng-repeat="n in $ctrl.listing.certificationResults | orderBy:$ctrl.sortCerts track by n.criterion.id">
          <chpl-certification-criteria ng-if="$ctrl.viewAllCerts || n.success"
                                       accessibility-standards="$ctrl.listing.accessibilityStandards"
                                       cert="n"
                                       has-ics="$ctrl.listing.ics.inherits"
                                       is-confirming="$ctrl.isConfirming"
                                       is-editing="$ctrl.isEditing"
                                       on-change="$ctrl.saveCert(cert)"
                                       qms-standards="$ctrl.listing.qmsStandards"
                                       refresh-sed="$ctrl.hasEdited()"
                                       resources="$ctrl.resources"
                                       view-all="$ctrl.viewAllCerts">
          </chpl-certification-criteria>
        </div>
      </div>
    </div>

    <!-- CQMs -->
    <div class="panel panel-ai">
      <div class="panel-heading">
        <a href="" ng-click="$ctrl.showPanel('cqm')" aria-expanded="{{ $ctrl.panelShown === 'cqm' }}" id="details-cqm">Clinical Quality Measures<span class="pull-right">({{ $ctrl.countCqms }} met) <i class="fa fa-lg" ng-class="$ctrl.panelShown === 'cqm' ? 'fa-caret-down' : 'fa-caret-left'"></i></span></a>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'cqm'" id="panel-cqm">
        <p>Note 170.315 (c)(3) has two versions due to 2015 Cures Update, so please check the criterion in the “Certification Criteria” section above to determine which version applies here.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="cols">{{ $ctrl.listing.certificationEdition.name === '2011' ? 'Meets' : 'Version' }}</th>
              <th scope="cols">Quality Measure</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(1)</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(2)</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(3)</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(4)</th>
            </tr>
          </thead>
          <tbody ng-if="!$ctrl.isEditing">
            <tr ng-if="$ctrl.viewAllCerts || n.success" ng-repeat="n in $ctrl.cqms | orderBy:$ctrl.sortCqms track by $index">
              <td class="text-center">
                <i class="fa fa-lg" ng-class="{'fa-check-square-o': n.success && !n.cmsId, 'fa-square-o': !n.success && n.successVersions.length === 0}"></i>
                <span class="sr-only">{{ n.success ? 'meets' : 'does not meet'}}</span>
                <strong ng-if="n.cmsId && n.successVersions.length > 0">{{ n.successVersions.join(', ') }}</strong>
              </td>
              <td><a href uib-tooltip="{{ n.description }}" tooltip-trigger="'mouseenter focus click'"><span ng-if="!n.cmsId">NQF-{{ n.nqfNumber }}</span><span ng-if="n.cmsId">{{ n.cmsId }}</span>: {{ n.title }}</a></td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center"><span class="sr-only">{{ n.hasC1 ? 'meets' : 'does not meet'}} 170.317 (c)(1)</span><i class="fa fa-lg" ng-class="n.hasC1 ? 'fa-check-square-o' : 'fa-square-o'"></i></td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center"><span class="sr-only">{{ n.hasC2 ? 'meets' : 'does not meet'}} 170.317 (c)(2)</span><i class="fa fa-lg" ng-class="n.hasC2 ? 'fa-check-square-o' : 'fa-square-o'"></i></td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center"><span class="sr-only">{{ n.hasC3 ? 'meets' : 'does not meet'}} 170.317 (c)(3)</span><i class="fa fa-lg" ng-class="n.hasC3 ? 'fa-check-square-o' : 'fa-square-o'"></i></td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center"><span class="sr-only">{{ n.hasC4 ? 'meets' : 'does not meet'}} 170.317 (c)(4)</span><i class="fa fa-lg" ng-class="n.hasC4 ? 'fa-check-square-o' : 'fa-square-o'"></i></td>
            </tr>
          </tbody>
          <tbody ng-if="$ctrl.isEditing">
            <tr ng-if="$ctrl.viewAllCerts || n.success" ng-repeat="n in $ctrl.cqms | orderBy:$ctrl.sortCqms track by $index">
              <td class="text-center">
                <input type="checkbox" ng-model="n.success" ng-if="!n.cmsId" id="data_{{n.id}}"></input>
                <span class="cert-bloc" ng-if="n.cmsId">
                  <select ng-model="n.successVersions" multiple data-ng-attr-size="{{ n.allVersions.length + 1 }}" id="data_{{n.id}}"
                          ng-options="version for version in n.allVersions" ng-change="$ctrl.updateCs()">
                    <option value=""></option>
                  </select>
                </span>
              </td>
              <td>
                <label for="data_{{n.id}}"><span ng-if="!n.cmsId">NQF-{{ n.nqfNumber }}</span><span ng-if="n.cmsId">{{ n.cmsId }}</span>: {{ n.title }}</label>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC1" id="data_c1_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC2" id="data_c2_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC3" id="data_c3_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC4" id="data_c4_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- SED -->
    <div class="panel panel-ai" ng-if="$ctrl.listing.certificationEdition.name !== '2011'">
      <div class="panel-heading">
        <a href ng-click="$ctrl.showPanel('sed')" aria-expanded="{{ $ctrl.panelShown === 'sed' }}" id="details-sed">
          Safety Enhanced Design (SED)
          <span class="pull-right">
            ({{ $ctrl.sedCriteriaCount ? $ctrl.sedCriteriaCount : 0 }} Certification Criteria<span ng-if="$ctrl.listing.certificationEdition.name === '2015'"> / {{ $ctrl.sedTaskCount ? $ctrl.sedTaskCount : 0 }} Testing Task<span ng-if="$ctrl.sedTaskCount !== 1">s</span></span>)
            <i class="fa fa-lg" ng-class="$ctrl.panelShown === 'sed' ? 'fa-caret-down' : 'fa-caret-left'"></i>
          </span>
        </a>
      </div>
      <div class="panel-body animate-if" ng-show="$ctrl.panelShown === 'sed'" id="panel-sed">
        <ai-sed
          criteria-count="$ctrl.sedCriteriaCount"
          edit-mode="$ctrl.isEditing"
          listing="$ctrl.listing"
          on-change="$ctrl.sedChange(listing)"
          refresh="$ctrl.registerSed(handler)"
          resources="$ctrl.resources"
          task-count="$ctrl.sedTaskCount">
        </ai-sed>
      </div>
    </div>

    <!-- G1/G2 Measures -->
    <div class="panel panel-ai" ng-if="$ctrl.listing.certificationEdition.name === '2015'">
      <div class="panel-heading">
        <a href ng-click="$ctrl.showPanel('g1g2')" aria-expanded="{{ $ctrl.panelShown === 'g1g2' }}" id="details-g1g2">
          Successfully Tested G1/G2 Measures<span class="pull-right"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'g1g2' ? 'fa-caret-down' : 'fa-caret-left'"></i></span>
        </a>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'g1g2'" id="panel-g1g2">
        <ai-g1g2 listing="$ctrl.listing"></ai-g1g2>
      </div>
    </div>

    <!-- Surveillance -->
    <div class="panel panel-ai" feature-flag="direct-review" feature-flag-hide>
      <div class="panel-heading">
        <a href ng-click="$ctrl.showPanel('surveillance')" aria-expanded="{{ $ctrl.panelShown === 'surveillance' }}" id="details-surveillance-activities">
          Surveillance Activities<span class="pull-right">({{ $ctrl.listing.surveillance && $ctrl.listing.surveillance.length ? $ctrl.listing.surveillance.length : 0 }} found) <i class="fa fa-lg" ng-class="$ctrl.panelShown === 'surveillance' ? 'fa-caret-down' : 'fa-caret-left'"></i></span>
        </a>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'surveillance'" id="panel-surveillance-activities">
        <ai-surveillance certified-product="$ctrl.listing"></ai-surveillance>
      </div>
    </div>

    <!-- Compliance Activities -->
    <div class="panel panel-ai" feature-flag="direct-review">
      <div class="panel-heading">
        <a href ng-click="$ctrl.showPanel('compliance')" aria-expanded="{{ $ctrl.panelShown === 'compliance' || $ctrl.panelShown === 'surveillance' || $ctrl.panelShown === 'directReviews' }}" id="details-compliance-activities">
          Compliance Activities<span class="pull-right"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'compliance' ? 'fa-caret-down' : 'fa-caret-left'"></i></span>
        </a>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'compliance'" id="panel-compliance-activities">
        <div class="panel panel-ai">
          <div class="panel-heading">
            <a href ng-click="$ctrl.showSubPanel('surveillance')" aria-expanded="{{ $ctrl.subPanelShown === 'surveillance' }}" id="details-surveillance-activities">
              Surveillance Activities<span class="pull-right">({{ $ctrl.listing.surveillance && $ctrl.listing.surveillance.length ? $ctrl.listing.surveillance.length : 0 }} found) <i class="fa fa-lg" ng-class="$ctrl.subPanelShown === 'surveillance' ? 'fa-caret-down' : 'fa-caret-left'"></i></span>
            </a>
          </div>
          <div class="panel-body animate-if" ng-if="$ctrl.subPanelShown === 'surveillance'" id="panel-surveillance-activities">
            <p>Surveillance information is displayed here if a surveillance activity has been opened by an ONC-ACB that affects this listing</p>
            <ai-surveillance certified-product="$ctrl.listing"></ai-surveillance>
          </div>
        </div>
        <div class="panel panel-ai">
          <div class="panel-heading">
            <a href ng-click="$ctrl.showSubPanel('directReviews')" aria-expanded="{{ $ctrl.subPanelShown === 'directReviews' }}" id="details-direct-reviews-activities">
              Direct Review Activities<span class="pull-right"><span ng-if="$ctrl.drStatus === 'success'">({{ $ctrl.directReviews && $ctrl.directReviews.length ? $ctrl.directReviews.length : 0 }} found)</span><span ng-if="$ctrl.drStatus === 'error'" class="details__direct-review-error badge badge-error">error</span> <i class="fa fa-lg" ng-class="$ctrl.subPanelShown === 'directReviews' ? 'fa-caret-down' : 'fa-caret-left'"></i></span>
            </a>
          </div>
          <div class="panel-body animate-if" ng-if="$ctrl.subPanelShown === 'directReviews'" id="panel-direct-reviews-activities">
            <span ng-if="$ctrl.drStatus === 'success'">
              <p>Direct Review information is displayed here if a Direct Review has been opened by ONC that either affects this listing directly or applies to the developer of this listing</p>
              <chpl-direct-reviews direct-reviews="$ctrl.directReviews"></chpl-direct-reviews>
            </span>
            <span ng-if="$ctrl.drStatus === 'error'">
              <p>Direct Review information is not currently available, please check back later</p>
            </span>
            <span ng-if="$ctrl.drStatus === 'pending'">
              <p><i class="fa fa-spin fa-spinner"></i> Direct Review information is loading</p>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Additional Information -->
    <div class="panel panel-ai" ng-if="!$ctrl.isEditing">
      <div class="panel-heading">
        <a href="" ng-click="$ctrl.showPanel('additional')" aria-expanded="{{ $ctrl.panelShown === 'additional' }}" id="details-additional-information">
          Additional Information<span class="pull-right"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'additional' ? 'fa-caret-down' : 'fa-caret-left'"></i></span>
        </a>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'additional'" id="panel-additional-information">
        <span ng-if="$ctrl.listing.certificationEdition.name === '2014'" id="panel-additional-information-test-results-summary">
          <h4>Test Results Summary</h4>
          <a ai-a ng-if="$ctrl.listing.reportFileLocation" href="{{ $ctrl.listing.reportFileLocation }}" analytics-on="click" analytics-event="Test Results Summary" analytics-properties="{ category: 'Download Details', label: $ctrl.listing.reportFileLocation }">{{ $ctrl.listing.reportFileLocation }}</a>
          <p ng-if="!$ctrl.listing.reportFileLocation">No report on file</p>
        </span>
        <span ng-if="$ctrl.listing.ics !== null" id="panel-additional-information-certification-history">
          <h4>Certification History</h4>
          <p ng-if="$ctrl.listing.ics.inherits !== null"><strong>Inherited Certification Status (ICS):</strong> {{ $ctrl.listing.ics.inherits ? 'True' : 'False' }}</p>
          <p ng-if="$ctrl.listing.ics.inherits === null">N/A</p>
        </span>
        <span ng-if="$ctrl.listing.ics.parents && $ctrl.listing.ics.parents.length > 0">
          <h5>Inherits from</h5>
          <ul>
            <li ng-repeat="listing in $ctrl.listing.ics.parents | orderBy: ['certificationDate','chplProductNumber']">
              <span ng-if="!listing.id">{{ listing.chplProductNumber }}</span>
              <span ng-if="listing.id"><a href="#/product/{{ listing.id}}/additional">{{ listing.chplProductNumber }}</a> ({{ listing.certificationDate | date : 'mediumDate' : 'UTC' }})</span>
            </li>
          </ul>
        </span>
        <span ng-if="$ctrl.listing.ics.children && $ctrl.listing.ics.children.length > 0">
          <h5>ICS Source for</h5>
          <ul>
            <li ng-repeat="listing in $ctrl.listing.ics.children | orderBy: ['certificationDate','chplProductNumber']">
              <span ng-if="!listing.id">{{ listing.chplProductNumber }}</span>
              <span ng-if="listing.id"><a href="#/product/{{ listing.id}}/additional">{{ listing.chplProductNumber }}</a> ({{ listing.certificationDate | date : 'mediumDate' : 'UTC' }})</span>
            </li>
          </ul>
        </span>
        <span ng-if="!$ctrl.isConfirming && (($ctrl.listing.ics.parents && $ctrl.listing.ics.parents.length > 0) || ($ctrl.listing.ics.children && $ctrl.listing.ics.children.length > 0))">
          <button class="btn btn-ai-success" ng-click="$ctrl.viewIcsFamily()">View ICS Relationships</button>
        </span>
        <span ng-if="$ctrl.listing.otherAcb" id="panel-additional-information-other-acb">
          <h4>Other ACB</h4>
          <p>{{ $ctrl.listing.otherAcb }}</p>
        </span>
        <span ng-if="$ctrl.listing.targetedUsers && $ctrl.listing.targetedUsers.length > 0" id="panel-additional-information-developer-identified-targeted-user">
          <h4>Developer Identified Targeted User<span ng-if="$ctrl.listing.targetedUsers.length > 1">s</span></h4>
          <ul>
            <li ng-repeat="user in $ctrl.listing.targetedUsers">{{ user.targetedUserName }}</li>
          </ul>
        </span>
        <span ng-if="$ctrl.listing.meaningfulUseUserHistory && $ctrl.listing.meaningfulUseUserHistory.length > 0" id="panel-additional-information-estimated-number-of-meaningful-use-users">
          <h4>Estimated Number of Meaningful Use Users</h4>
          <p>{{ $ctrl.muuCount($ctrl.listing.meaningfulUseUserHistory).muuCount }}, last updated on {{ $ctrl.muuCount($ctrl.listing.meaningfulUseUserHistory).muuDate | date : 'mediumDate' : 'UTC' }}</p>
        </span>
        <span ng-if="!$ctrl.listing.meaningfulUseUserHistory || $ctrl.listing.meaningfulUseUserHistory.length === 0" id="panel-additional-information-estimated-number-of-meaningful-use-users">
          <h4>Estimated Number of Meaningful Use Users</h4>
          <p>No Meaningful Use Users data exists</p>
        </span>
      </div>
    </div>
  </div>
</div>
