.listing-details__element-header {
    display: flex;
}

.listing-details__element-header-title {
    flex: 1;
}

.listing-details__element-header-toggle {
    padding-left: 8px;
}

.listing-details__direct-review-error {
    color: var(--white) !important;
    background-color: var(--danger) !important;
}

.cert-bloc {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid grey 1px;
}

.cert-bloc select {
    padding: 10px;
    margin: -5px -20px -5px -5px;
}
