<div class="row" ng-form="$ctrl.form">
  <div class="col-sm-12" ng-if="!$ctrl.listing">
    Loading...<i class="fa fa-spin fa-spinner"></i>
  </div>
  <div class="col-sm-12" ng-if="$ctrl.listing">
    <p class="text-right">
      <button class="btn btn-default" ng-click="$ctrl.viewAllCerts = !$ctrl.viewAllCerts" id="view-all-certs">
        <i class="fa" ng-class="$ctrl.viewAllCerts ? 'fa-toggle-on' : 'fa-toggle-off'"></i> Viewing {{ $ctrl.viewAllCerts ? 'all' : 'only attested to' }} Certification Criteria / Clinical Quality Measures
      </button>
    </p>

    <!-- Certification Criteria -->
    <div class="panel panel-ai">
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('cert')" aria-expanded="{{ $ctrl.panelShown === 'cert' }}">
        <div class="listing-details__element-header-title">Certification Criteria</div>
        <div>({{ $ctrl.countCerts }} met)</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'cert' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'cert'" id="panel-certification-criteria">
        <div ng-repeat="n in $ctrl.listing.certificationResults | orderBy:$ctrl.sortCerts track by n.criterion.id">
          <chpl-certification-criteria ng-if="$ctrl.viewAllCerts || n.success"
                                       accessibility-standards="$ctrl.listing.accessibilityStandards"
                                       cert="n"
                                       has-ics="$ctrl.listing.ics.inherits"
                                       is-confirming="$ctrl.isConfirming"
                                       is-editing="true"
                                       on-change="$ctrl.saveCert(cert)"
                                       qms-standards="$ctrl.listing.qmsStandards"
                                       refresh-sed="$ctrl.hasEdited()"
                                       resources="$ctrl.resources"
                                       view-all="$ctrl.viewAllCerts">
          </chpl-certification-criteria>
        </div>
      </div>
    </div>

    <!-- CQMs -->
    <div class="panel panel-ai">
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('cqm')" aria-expanded="{{ $ctrl.panelShown === 'cqm' }}">
        <div class="listing-details__element-header-title">Clinical Quality Measures</div>
        <div>({{ $ctrl.countCqms }} met)</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'cqm' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'cqm'" id="panel-cqm">
        <p>Note 170.315 (c)(3) has two versions due to 2015 Cures Update, so please check the criterion in the “Certification Criteria” section above to determine which version applies here.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="cols">{{ $ctrl.listing.certificationEdition.name === '2011' ? 'Meets' : 'Version' }}</th>
              <th scope="cols">Quality Measure</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(1)</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(2)</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(3)</th>
              <th scope="cols" ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="no-br">170.315 (c)(4)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="$ctrl.viewAllCerts || n.success" ng-repeat="n in $ctrl.cqms | orderBy:$ctrl.sortCqms track by $index">
              <td class="text-center">
                <input type="checkbox" ng-model="n.success" ng-if="!n.cmsId" id="data_{{n.id}}"></input>
                <span class="cert-bloc" ng-if="n.cmsId">
                  <select ng-model="n.successVersions" multiple data-ng-attr-size="{{ n.allVersions.length + 1 }}" id="data_{{n.id}}"
                          ng-options="version for version in n.allVersions" ng-change="$ctrl.updateCs()">
                    <option value=""></option>
                  </select>
                </span>
              </td>
              <td>
                <label for="data_{{n.id}}"><span ng-if="!n.cmsId">NQF-{{ n.nqfNumber }}</span><span ng-if="n.cmsId">{{ n.cmsId }}</span>: {{ n.title }}</label>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC1" id="data_c1_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC2" id="data_c2_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC3" id="data_c3_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
              <td ng-if="$ctrl.listing.certificationEdition.name === '2015'" class="text-center">
                <input type="checkbox" class="form-control" ng-model="n.hasC4" id="data_c4_{{n.id}}" ng-change="$ctrl.updateCs()" ng-disabled="n.successVersions.length < 1"></input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- SED -->
    <div class="panel panel-ai" ng-if="$ctrl.listing.certificationEdition.name !== '2011'">
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('sed')" aria-expanded="{{ $ctrl.panelShown === 'sed' }}">
        <div class="listing-details__element-header-title">Safety Enhanced Design (SED)</div>
        <div>({{ $ctrl.sedCriteriaCount ? $ctrl.sedCriteriaCount : 0 }} Certification Criteria<span ng-if="$ctrl.listing.certificationEdition.name === '2015'"> / {{ $ctrl.sedTaskCount ? $ctrl.sedTaskCount : 0 }} Testing Task<span ng-if="$ctrl.sedTaskCount !== 1">s</span></span>)</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'sed' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-show="$ctrl.panelShown === 'sed'" id="panel-sed">
        <ai-sed
          criteria-count="$ctrl.sedCriteriaCount"
          edit-mode="true"
          listing="$ctrl.listing"
          on-change="$ctrl.sedChange(listing)"
          refresh="$ctrl.registerSed(handler)"
          resources="$ctrl.resources"
          task-count="$ctrl.sedTaskCount">
        </ai-sed>
      </div>
    </div>

    <!-- G1/G2 Measures -->
    <div class="panel panel-ai" ng-if="$ctrl.listing.certificationEdition.name === '2015'">
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('g1g2')" aria-expanded="{{ $ctrl.panelShown === 'g1g2' }}">
        <div class="listing-details__element-header-title">Successfully Tested G1/G2 Measures</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'g1g2' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'g1g2'" id="panel-g1g2">
        <ai-g1g2 listing="$ctrl.listing"></ai-g1g2>
      </div>
    </div>

    <!-- Surveillance -->
    <div class="panel panel-ai" feature-flag="direct-review" feature-flag-hide>
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('surveillance')" aria-expanded="{{ $ctrl.panelShown === 'surveillance' }}">
        <div class="listing-details__element-header-title">Surveillance Activities</div>
        <div>({{ $ctrl.listing.surveillance && $ctrl.listing.surveillance.length ? $ctrl.listing.surveillance.length : 0 }} found)</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'surveillance' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'surveillance'" id="panel-surveillance-activities">
        <ai-surveillance certified-product="$ctrl.listing"></ai-surveillance>
      </div>
    </div>

    <!-- Compliance Activities -->
    <div class="panel panel-ai" feature-flag="direct-review">
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('compliance')" aria-expanded="{{ $ctrl.panelShown === 'compliance' || $ctrl.panelShown === 'surveillance' || $ctrl.panelShown === 'directReviews' }}">
        <div class="listing-details__element-header-title">Compliance Activities</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'compliance' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'compliance'" id="panel-compliance-activities">
        <div class="panel panel-ai">
          <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showSubPanel('surveillance')" aria-expanded="{{ $ctrl.subPanelShown === 'surveillance' }}">
            <div class="listing-details__element-header-title">Surveillance Activities</div>
            <div>({{ $ctrl.listing.surveillance && $ctrl.listing.surveillance.length ? $ctrl.listing.surveillance.length : 0 }} found)</div>
            <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.subPanelShown === 'surveillance' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
          </div>
          <div class="panel-body animate-if" ng-if="$ctrl.subPanelShown === 'surveillance'" id="panel-surveillance-activities">
            <p>Surveillance information is displayed here if a surveillance activity has been opened by an ONC-ACB that affects this listing</p>
            <ai-surveillance certified-product="$ctrl.listing"></ai-surveillance>
          </div>
        </div>
      </div>
    </div>

    <!-- Additional Information -->
    <div class="panel panel-ai" feature-flag="listing-edit">
      <div class="panel-heading listing-details__element-header" ng-click="$ctrl.showPanel('additional')" aria-expanded="{{ $ctrl.panelShown === 'additional' }}">
        <div class="listing-details__element-header-title">Additional Information</div>
        <div class="listing-details__element-header-toggle"><i class="fa fa-lg" ng-class="$ctrl.panelShown === 'additional' ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
      </div>
      <div class="panel-body animate-if" ng-if="$ctrl.panelShown === 'additional'" id="panel-additional-information">
        <div class="form-group">
          <label for="cp-other-acb">Other ACB</label>
          <input class="input-sm form-control" type="text" ng-model="$ctrl.listing.otherAcb" id="cp-other-acb" ng-change="$ctrl.update()">
        </div>
        <div class="form-group">
          <label for="cp-ics">Inherited Certification Status</label>
          <input type="checkbox" ng-model="$ctrl.listing.ics.inherits" id="cp-ics" ng-change="$ctrl.update()">
        </div>
        <div ng-if="$ctrl.listing.certificationEdition.name === '2015' && $ctrl.listing.ics.inherits">
          Inherited Certification Management
          <ul class="list-unstyled text-right">
            <li ng-repeat="parent in $ctrl.listing.ics.parents track by $index">
              <strong>Inherits from:</strong> {{ parent.chplProductNumber }} <span ng-if="parent.certificationDate">( {{ parent.certificationDate | date : 'mediumDate' : 'UTC' }} )</span>
              <button class="btn btn-sm btn-danger" ng-click="$ctrl.listing.ics.parents.splice($index,1); $ctrl.update()"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="form-horizontal">
            <div class="form-group form-group-sm">
              <label class="col-sm-6 control-label" for="new-ics-parent">ICS Source Listings (Same Product)</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <select class="form-control" ng-model="$ctrl.newIcsParent.chplProductNumber" id="new-ics-parent"
                          ng-options="listing.chplProductNumber as (listing.chplProductNumber + ' (' + (listing.certificationDate | date : 'mediumDate' : 'UTC') + ')') disable when $ctrl.disabledParent(listing) for listing in $ctrl.relatedListings | orderBy:'certificationDate'">
                  </select>
                  <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="$ctrl.addNewValue($ctrl.listing.ics.parents, $ctrl.newIcsParent); $ctrl.newIcsParent = ''; $ctrl.update()" ng-disabled="!$ctrl.newIcsParent"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                </div>
              </div>
              <label class="col-sm-6 control-label" for="new-ics-parent-other">ICS Source Listings (Other - Enter CHPL ID)</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="$ctrl.newIcsParentOther.chplProductNumber" id="new-ics-parent-other" name="newIcsParentOther"
                         ng-pattern="/^\d{2}\.\d{2}\.\d{2}\.\d{4}\.\w{4}\.\w{2}\.\d{2}\.[01]\.\d{6}$/">
                  <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="$ctrl.addNewValue($ctrl.listing.ics.parents, $ctrl.newIcsParentOther); $ctrl.newIcsParentOther = ''; $ctrl.update()" ng-disabled="!$ctrl.newIcsParentOther || $ctrl.form.newIcsParentOther.$error.pattern"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                </div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.newIcsParentOther.$touched) && $ctrl.form.newIcsParentOther.$error.pattern">Improper format</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          QMS Testing
          <div class="form-horizontal">
            <div class="form-group form-group-sm" ng-repeat="qms in $ctrl.listing.qmsStandards track by $index">
              <label class="col-sm-6 control-label" for="qms-standard-{{ qms.id }}">QMS Standard</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <select class="form-control" ng-model="qms.qmsStandardName" id="qms-standard-{{ qms.id }}"
                          ng-options="option.name as option.name for option in $ctrl.resources.qmsStandards.data | orderBy:'name'"
                          ng-change="qms.qmsStandardId = option.id; ctrl.update()">
                  </select>
                  <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="$ctrl.listing.qmsStandards.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
                </div>
              </div>
              <label class="col-sm-6 control-label" for="qms-modification-{{ qms.id }}">QMS Modification</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="qms.qmsModification" id="qms-modification-{{ qms.id }}" ng-change="$ctrl.update()">
              </div>
              <label class="col-sm-6 control-label" for="qms-applicable-criteria-{{ qms.id }}">QMS Applicable Criteria</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="qms.applicableCriteria" id="qms-applicable-criteria-{{ qms.id }}" ng-change="$ctrl.update()">
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-6 control-label" for="new-qms-standard-item">New QMS Standard</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <select class="form-control" ng-model="$ctrl.newQmsStandard.qmsStandardName" id="new-qms-standard-item"
                          ng-options="option.name as option.name for option in $ctrl.resources.qmsStandards.data">
                  </select>
                  <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="$ctrl.addNewValue($ctrl.listing.qmsStandards, $ctrl.newQmsStandard); $ctrl.newQmsStandard = {}; $ctrl.update()"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                </div>
              </div>
              <label class="col-sm-6 control-label" for="new-qms-standard-expandable-name">Add new QMS Standard to available options</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="$ctrl.newQmsStandard.expandableName" id="new-qms-standard-expandable-name" name="newQmsStandardExpandableName" ng-change="$ctrl.extendSelect($ctrl.resources.qmsStandards.data, $ctrl.newQmsStandard.expandableName); $ctrl.newQmsStandard.qmsStandardName = $ctrl.newQmsStandard.expandableName; $ctrl.update()" ng-maxlength="255">
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.newQmsStandardExpandableName.$touched) && $ctrl.form.newQmsStandardExpandableName.$error.maxlength">Field is too long</div>
              </div>
              <label class="col-sm-6 control-label" for="new-qms-standard-modification">QMS Modification</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="$ctrl.newQmsStandard.qmsModification" id="new-qms-standard-modification" ng-change="$ctrl.update()">
              </div>
              <label class="col-sm-6 control-label" for="new-qms-standard-applicable-criteria">QMS Applicable Criteria</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="$ctrl.newQmsStandard.applicableCriteria" id="new-qms-standard-applicable-criteria" ng-change="$ctrl.update()">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          Targeted Users
          <div class="form-horizontal">
            <div class="form-group form-group-sm" ng-repeat="item in $ctrl.listing.targetedUsers track by $index">
              <label class="col-sm-6 control-label" for="targeted-user-{{ item.id }}">Targeted User</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <select class="form-control" ng-model="item.targetedUserName" id="targeted-user-{{ item.id }}"
                          ng-options="option.name as option.name for option in $ctrl.resources.targetedUsers.data | orderBy:'name'"
                          ng-change="item.targetedUserId = option.id">
                  </select>
                  <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="$ctrl.listing.targetedUsers.splice($index,1); $ctrl.update()"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
                </div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="col-sm-6 control-label" for="new-targeted-user-item">New Targeted User</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <select class="form-control" ng-model="$ctrl.newTargetedUser.targetedUserName" id="new-targeted-user-item"
                          ng-options="option.name as option.name for option in $ctrl.resources.targetedUsers.data">
                  </select>
                  <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="$ctrl.addNewValue($ctrl.listing.targetedUsers, $ctrl.newTargetedUser); $ctrl.newTargetedUser = {}; $ctrl.update()"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                </div>
              </div>
              <label class="col-sm-6 control-label" for="new-targeted-user-expandable-name">Add new Targeted User to available options</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="$ctrl.newTargetedUser.expandableName" id="new-targeted-user-expandable-name" ng-change="$ctrl.extendSelect($ctrl.resources.targetedUsers.data, $ctrl.newTargetedUser.expandableName); $ctrl.newTargetedUser.targetedUserName = $ctrl.newTargetedUser.expandableName; $ctrl.update()">
              </div>
            </div>
          </div>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th scope="col">Estimated Number of Meaningful Use Users History</th>
              <th scope="col">Effective date</th>
              <th scope="col"><span class="sr-only">Event Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><button class="btn btn-sm btn-block btn-ai-success" ng-click="$ctrl.addPreviousMuu()"><i class="fa fa-plus"></i><span class="sr-only"> Add value</span></button></td>
            </tr>
            <tr ng-repeat="muu in $ctrl.listing.meaningfulUseUserHistory | orderBy:'-muuDateObject.getTime()' track by $index">
              <td>
                <div class="form-group">
                  <label><span class="sr-only"><span ng-if="$first">Current </span>Value</span>
                    <input type="number" ng-model="muu.muuCount" name="muuCount{{ $index }}" class="input-sm form-control" ng-change="$ctrl.update()"></input>
                  </label>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label><span class="sr-only">Effective Date</span>
                    <div class="input-group">
                      <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="muu.muuDateObject" is-open="muu.muuDatePicker" close-text="Close" name="muuDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" ng-change="$ctrl.update()">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-ai btn-sm" ng-click="muu.muuDatePicker = true"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </label>
                  <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.matchesPreviousMuuDate(muu)">Only one value allowed per day</div>
                </div>
              </td>
              <td>
                <button class="btn btn-sm btn-block btn-danger" ng-click="$ctrl.removePreviousMuu(muu.muuDateObject); $ctrl.update()"><i class="fa fa-trash"></i><span class="sr-only"> Remove value</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
