<div class="inset-content">
  <table class="table table-condensed nowrap" ng-if="$ctrl.measures && $ctrl.measures.length > 0">
    <thead>
      <tr>
        <th scope="col">Measure Name</th>
        <th scope="col">Required Test</th>
        <th scope="col">G1/G2?</th>
        <th scope="col">Associated Criteria</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="measure in $ctrl.measures | orderBy: ['g', 'name']" ng-class="{ 'removed' : measure.removed }">
        <td>
          <button ng-if="measure.removed" class="btn btn-link btn-xs pull-right" uib-tooltip="This Macra Measure has been removed from the Program." tooltip-trigger="'mouseenter focus click'"><span class="sr-only">This Macra Measre has been removed from the Program.</span><i class="fa fa-info-circle fa-lg"></i></button>
          {{ measure.name }}
          <div ng-if="measure.removed" class="clearfix"></div>
        </td>
        <td>{{ measure.description }}</td>
        <td>{{ measure.g }}</td>
        <td>{{ measure.criteria.join('; ') }}</td>
      </tr>
    </tbody>
  </table>
  <p ng-if="!$ctrl.measures || $ctrl.measures.length === 0">No measures tested for G1/G2.</p>
</div>
