<div id="chpl-complaint" class="container-fluid" ng-form="$ctrl.form">
  <div ng-if="$ctrl.displayHeader">
    <h2 ng-if="$ctrl.currentMode === $ctrl.modes.EDIT">Edit Complaint</h2>
    <h2 ng-if="$ctrl.currentMode === $ctrl.modes.ADD">Add Complaint</h2>
    <ol class="breadcrumb">
      <li><a ui-sref="surveillance.manage()">Surveillance</a></li>
      <li><button class="btn btn-link" ng-click="$ctrl.cancelEdit()">Complaints</button></li>
      <li class="active" ng-if="$ctrl.currentMode === $ctrl.modes.EDIT">
        Edit
      </li>
      <li class="active" ng-if="$ctrl.currentMode === $ctrl.modes.ADD">
        Add
      </li>
    </ol>
  </div>
  <div class="form-group">
    <label class="control-label" for="certification-body">ONC-ACB<span class="text-danger">*</span></label>
    <div ng-if="$ctrl.currentMode === $ctrl.modes.EDIT" name="certificationBody" class="read-only-data">
      {{ $ctrl.complaint.certificationBody.name }}
    </div>
    <div ng-if="$ctrl.currentMode === $ctrl.modes.ADD">
      <select ng-model="$ctrl.complaint.certificationBody" id="certification-body" name="certificationBody"
              class="form-control"
              ng-change="$ctrl.changeAcb()"
              ng-options="acb.displayValue for acb in $ctrl.certificationBodies | orderBy: 'displayValue' track by acb.id"
              ng-required="$ctrl.isOn('complaints-ui-validation')">
      </select>
      <div class="text-danger"
           ng-if="$ctrl.form.certificationBody.$touched && $ctrl.form.certificationBody.$error.required">ONC-ACB is
        required</div>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.currentMode === $ctrl.modes.EDIT">
    <label class="control-label" for="complaint-status-type">Complaint Status Type</label>
    <div>
      <select ng-model="$ctrl.complaint.complaintStatusType" id="complaint-status-type" name="complaintStatusType"
              class="form-control"
              ng-options="cst.name for cst in $ctrl.complaintStatusTypes | orderBy: 'name' track by cst.id">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="received-date">Received Date<span class="text-danger">*</span></label>
    <div>
      <div class="input-group" >
        <input type="text" class="form-control" ng-model="$ctrl.complaint.formattedReceivedDate"
               name="receivedDate" id="received-date" placeholder="MM/dd/yyyy"
               ng-model-options="{timezone: 'UTC'}"
               ng-required="$ctrl.isOn('complaints-ui-validation')"
               uib-datepicker-popup="MM/dd/yyyy"
               popup-placement="bottom-left"
               is-open="$ctrl.receivedDatePicker"
               close-text="Close" ></input>
        <div class="input-group-btn">
          <button type="button" class="btn input-group-btn-adjust" ng-click="$ctrl.receivedDatePicker = true"><i class="fa fa-calendar"></i></button>
        </div>
      </div>
      <div class="text-danger" ng-if="$ctrl.form.receivedDate.$touched && $ctrl.form.receivedDate.$error.required">Received Date is required</div>
      <div class="text-danger" ng-if="$ctrl.form.receivedDate.$touched && $ctrl.form.receivedDate.$error.parse">Improper format (mm/dd/yyyy)</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="closed-date">Closed Date</label>
    <div>
      <div class="input-group" >
        <input type="text" class="form-control" ng-model="$ctrl.complaint.formattedClosedDate"
               name="closedDate" id="closed-date" placeholder="MM/dd/yyyy"
               ng-model-options="{ timezone: 'UTC' }"
               uib-datepicker-popup="MM/dd/yyyy"
               popup-placement="bottom-left"
               is-open="$ctrl.closedDatePicker" close-text="Close"></input>
        <div class="input-group-btn">
          <button type="button" class="btn input-group-btn-adjust" ng-click="$ctrl.closedDatePicker = true"><i class="fa fa-calendar"></i></button>
        </div>
      </div>
      <div class="text-danger" ng-if="$ctrl.form.closedDate.$touched && $ctrl.form.closedDate.$error.parse">Improper format (mm/dd/yyyy)</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="acb-complaint-id">ONC-ACB Complaint ID<span class="text-danger">*</span></label>
    <div>
      <input class="form-control" type="text" ng-model="$ctrl.complaint.acbComplaintId" id="acb-complaint-id"
             name="acbComplaintId" ng-required="$ctrl.isOn('complaints-ui-validation')"></input>
      <div class="text-danger" ng-if="$ctrl.form.acbComplaintId.$touched && $ctrl.form.acbComplaintId.$error.required">
        ONC-ACB Complaint ID is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="onc-complaint-id">ONC Complaint ID (if applicable)</label>
    <div>
      <input class="form-control" type="text" ng-model="$ctrl.complaint.oncComplaintId" id="onc-complaint-id"
             name="oncComplaintId"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="complainant-type">Complainant Type<span class="text-danger">*</span></label>
    <div>
      <select ng-model="$ctrl.complaint.complainantType" id="complainant-type" name="complainantType"
              class="form-control"
              ng-options="ct.name for ct in $ctrl.complainantTypes | orderBy: 'name' track by ct.id"
              ng-required="$ctrl.isOn('complaints-ui-validation')">
      </select>
      <div class="text-danger" ng-if="$ctrl.form.complainantType.$touched && $ctrl.form.complainantType.$error.required">
        Complainant Type is required</div>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.complaint.complainantType.name === 'Other - [Please Describe]'">
    <label class="control-label" for="complainant-type-other">Complainant Type - Other Description<span class="text-danger">*</span></label>
    <div>
      <input class="form-control" type="text" ng-model="$ctrl.complaint.complainantTypeOther" id="complainant-type-other"
             name="complainantTypeOther" ng-required="$ctrl.isOn('complaints-ui-validation')"></input>
      <div class="text-danger" ng-if="$ctrl.form.complainantTypeOther.$touched && $ctrl.form.complainantTypeOther.$error.required">
        Complainant Type - Other Description is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="summary">Complaint Summary<span class="text-danger">*</span></label>
    <div>
      <textarea class="form-control" ng-model="$ctrl.complaint.summary" name="summary" id="summary"
                ng-required="$ctrl.isOn('complaints-ui-validation')"></textarea>
      <div class="text-danger" ng-if="$ctrl.form.summary.$touched && $ctrl.form.summary.$error.required">Summary is
        required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="actions">Actions/Response</label>
    <div>
      <textarea class="form-control" ng-model="$ctrl.complaint.actions" name="actions" id="actions"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="listings">Associated Certified Products</label>
    <div ng-if="!$ctrl.complaint.listings || $ctrl.complaint.listings.length === 0">
      <em>No Certified Products Selected</em>
    </div>
    <div class="selected-items-container" ng-if="$ctrl.complaint.listings && $ctrl.complaint.listings !== 0">
      <span ng-repeat="listing in $ctrl.complaint.listings | orderBy: 'chplProductNumber'">
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.removeListing(listing)">
          <span class="sr-only">Remove item </span>
          {{ listing.chplProductNumber }}
          <i class="fa fa-times"></i>
        </button>
        &nbsp;
      </span>
    </div>
    <script type="text/ng-template" id="listingCustomTemplate.html">
      <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        &nbsp;
        <span><em>{{ match.model.developer}} - {{ match.model.product }}</em></span>
      </a>
    </script>
    <input name="listings"
           id="listings"
           type="text"
           class="form-control"
           placeholder="Start Typing CHPL Product Number"
           autocomplete="off"
           ng-model="$ctrl.listing"
           uib-typeahead="listing.chplProductNumber for listing in $ctrl.filteredListings | orderBy: 'chplProductNumber' | filter:{'chplProductNumber':$viewValue}:$ctrl.startsWith | limitTo:10"
           typeahead-template-url="listingCustomTemplate.html"
           typeahead-on-select="$ctrl.selectListing($item)">
  </div>
  <div class="form-group">
    <label class="control-label" for="surveillances">Associated Surveillance Activities</label>
    <div ng-if="!$ctrl.complaint.surveillances || $ctrl.complaint.surveillances.length === 0">
      <em>No Surveillances Selected</em>
    </div>
    <div class="selected-items-container" ng-if="$ctrl.complaint.surveillances && $ctrl.complaint.surveillances.length !== 0">
      <span ng-repeat="surveillance in $ctrl.complaint.surveillances ">
        <button class="btn btn-primary btn-xs" ng-click="$ctrl.removeSurveillance(surveillance)">
          <span class="sr-only">Remove </span>
          {{ surveillance.surveillance.chplProductNumber }} - {{ surveillance.surveillance.friendlyId }}
          <i class="fa fa-times"></i>
        </button>
      </span>
      &nbsp;
    </div>
    <select id="surveilances" name="surveillances" class="form-control" ng-model="$ctrl.surveillance"
            ng-options="(surveillance.friendlyId + ' - ' + surveillance.chplProductNumber ) for surveillance in $ctrl.surveillances | orderBy: ['chplProductNumber', 'friendlyId'] track by surveillance.id"
            ng-change="$ctrl.selectSurveillance()">
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="criteria">Associated Criteria</label><br />
    <div ng-if="!$ctrl.complaint.criteria || $ctrl.complaint.criteria.length === 0">
      <em>No Criteria Selected</em>
    </div>
    <div class="selected-items-container" ng-if="$ctrl.complaint.criteria && $ctrl.complaint.criteria.length !== 0">
      <span ng-repeat="criterion in $ctrl.complaint.criteria">
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.removeCriterion(criterion)">
          <span class="sr-only">Remove </span>
          {{ criterion.certificationCriterion.certificationEdition }} - {{ criterion.certificationCriterion.number }}
          <i class="fa fa-times"></i>
        </button>
        &nbsp;
      </span>
    </div>
    <div class="input-group">
      <div class="input-group-btn" uib-dropdown>
        <button type="button" id="select-edition" class="btn btn-default input-group-btn-adjust dropdown-toggle" uib-dropdown-toggle>
          {{ $ctrl.edition.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="select-edition">
          <li ng-repeat="edition in $ctrl.editions | orderBy: 'name' : reverse"><a
                                                                                   ng-click="$ctrl.selectEdition(edition)"> {{ edition.name }}</a></li>
        </ul>
      </div>
      <select id="criteria" name="criteria" class="form-control" ng-model="$ctrl.criterion"
              ng-options="criteria.number for criteria in $ctrl.filteredCriteria | orderBy: $ctrl.sortCert track by criteria.id"
              ng-change="$ctrl.selectCriteria()">
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="checkbox-inline" for="complainant-contacted">
          <input type="checkbox" id="complainant-contacted" name="complainantContacted"
                 ng-model="$ctrl.complaint.complainantContacted"> Complainant Contacted?
        </label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="checkbox-inline" for="developer-contacted">
          <input type="checkbox" id="developer-contacted" name="developerContacted"
                 ng-model="$ctrl.complaint.developerContacted"> Developer Contacted?
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="checkbox-inline" for="onc-atl-contacted">
          <input type="checkbox" id="onc-atl-contacted" name="oncAtlContacted" ng-model="$ctrl.complaint.oncAtlContacted">
          ONC-ATL Contacted?
        </label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="checkbox-inline" for="flag-for-oncreview">
          <input type="checkbox" id="flag-for-onc-review" name="flagForOncReview" ng-model="$ctrl.complaint.flagForOncReview">
          Flag for ONC Review?
        </label>
      </div>
    </div>
  </div>
  <div class="text-danger text-left" ng-if="$ctrl.form.$invalid && $ctrl.showFormErrors">
    The following error(s) must be fixed:
    <ul>
      <li ng-if="$ctrl.form.certificationBody.$error.required">ONC-ACB is required</li>
      <li ng-if="$ctrl.form.complainantType.$error.required">Complainant Type is required</li>
      <li ng-if="$ctrl.form.receivedDate.$error.required">Received Date is required</li>
      <li ng-if="$ctrl.form.receivedDate.$error.parse">Received Date is improper format (mm/dd/yyyy)</li>
      <li ng-if="$ctrl.form.closedDate.$error.parse">Closed Date is improper format (mm/dd/yyyy)</li>
      <li ng-if="$ctrl.form.acbComplaintId.$error.required">ONC-ACB Complaint ID is required</li>
      <li ng-if="$ctrl.form.summary.$error.required">Summary is required</li>
    </ul>
  </div>
  <div class="text-danger text-left" ng-if="$ctrl.errorMessages.length > 0">
    The following error(s) must be fixed:
    <ul>
      <li ng-repeat="message in $ctrl.errorMessages">{{ message }}</li>
    </ul>
  </div>
  <div class="pull-right">
    <button class="btn" id="save-complaint" ng-disabled="$ctrl.form.$invalid && $ctrl.showFormErrors"
            ng-mouseover="$ctrl.showFormErrors = true" ng-click="$ctrl.saveComplaint($ctrl.complaint)">
      Save Complaint
    </button>
    <button class="btn btn-link" ng-click="$ctrl.cancelEdit()">Cancel</button>
  </div>
</div>
