<div id="chpl-complaint" ng-form="$ctrl.form">
  <h2 ng-if="$ctrl.currentMode === $ctrl.modes.EDIT">Edit Complaint</h2>
  <h2 ng-if="$ctrl.currentMode === $ctrl.modes.ADD">Add Complaint</h2>
  <div class="form-group">
    <label class="control-label" for="certification-body">ONC-ACB<span class="text-danger">*</span></label>
    <div ng-if="$ctrl.currentMode === $ctrl.modes.EDIT" name="certificationBody">
      {{ $ctrl.complaint.certificationBody.name }}
    </div>
    <div ng-if="$ctrl.currentMode === $ctrl.modes.ADD">
      <select ng-model="$ctrl.complaint.certificationBody" id="certification-body" name="certificationBody"
        class="input-sm form-control"
        ng-change="$ctrl.changeAcb()"
        ng-options="acb.name for acb in $ctrl.certificationBodies | orderBy: 'name' track by acb.id"
        ng-required="$ctrl.isOn('complaints-ui-validation')">
      </select>
      <div class="text-danger"
        ng-if="$ctrl.form.certificationBody.$touched && $ctrl.form.certificationBody.$error.required">ONC-ACB is
        required</div>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.currentMode === $ctrl.modes.EDIT">
    <label class="control-label" for="complaint-status-type">Complaint Status Type</label>
    <div>
      <select ng-model="$ctrl.complaint.complaintStatusType" id="complaint-status-type" name="complaintStatusType"
        class="input-sm form-control"
        ng-options="cst.name for cst in $ctrl.complaintStatusTypes | orderBy: 'name' track by cst.id">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="received-date">Received Date<span class="text-danger">*</span></label>
    <div>
      <div class="input-group">
        <input type="text" class="input-sm form-control" ng-model="$ctrl.complaint.formattedReceivedDate"
          name="receivedDate" id="received-date" placeholder="MM/dd/yyyy"
          ng-required="$ctrl.isOn('complaints-ui-validation')"
          uib-datepicker-popup="MM/dd/yyyy"
          is-open="$ctrl.receivedDatePicker"
          close-text="Close" ></input>
        <div class="input-group-btn">
          <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.receivedDatePicker = true"><i class="fa fa-calendar"></i></button>
        </div>
      </div>
      <div class="text-danger" ng-if="$ctrl.form.receivedDate.$touched && $ctrl.form.receivedDate.$error.required">Received Date is required</div>
      <div class="text-danger" ng-if="$ctrl.form.receivedDate.$touched && $ctrl.form.receivedDate.$error.parse">Improper format (mm/dd/yyyy)</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="acb-complaint-id">ONC-ACB Complaint ID<span class="text-danger">*</span></label>
    <div>
      <input class="input-sm form-control" type="text" ng-model="$ctrl.complaint.acbComplaintId" id="acb-complaint-id"
        name="acbComplaintId" ng-required="$ctrl.isOn('complaints-ui-validation')"></input>
      <div class="text-danger" ng-if="$ctrl.form.acbComplaintId.$touched && $ctrl.form.acbComplaintId.$error.required">
        ONC-ACB Complaint ID is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="onc-complaint-id">ONC Complaint ID</label>
    <div>
      <input class="input-sm form-control" type="text" ng-model="$ctrl.complaint.oncComplaintId" id="onc-complaint-id"
        name="oncComplaintId"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="complaint-type">Complaint Type<span class="text-danger">*</span></label>
    <div>
      <select ng-model="$ctrl.complaint.complaintType" id="complaint-type" name="complaintType"
        class="input-sm form-control"
        ng-options="ct.name for ct in $ctrl.complaintTypes | orderBy: 'name' track by ct.id"
        ng-required="$ctrl.isOn('complaints-ui-validation')">
      </select>
      <div class="text-danger" ng-if="$ctrl.form.complaintType.$touched && $ctrl.form.complaintType.$error.required">
        Complaint Type is required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="summary">Summary<span class="text-danger">*</span></label>
    <div>
      <textarea class="input-sm form-control" ng-model="$ctrl.complaint.summary" name="summary" id="summary"
        ng-required="$ctrl.isOn('complaints-ui-validation')"></textarea>
      <div class="text-danger" ng-if="$ctrl.form.summary.$touched && $ctrl.form.summary.$error.required">Summary is
        required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="actions">Actions/Response</label>
    <div>
      <textarea class="input-sm form-control" ng-model="$ctrl.complaint.actions" name="actions" id="actions"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="listings">Selected Certified Products</label><br />
    <div ng-if="!$ctrl.complaint.listings || $ctrl.complaint.listings.length === 0">
      No Certified Products Selected
    </div>
    <div class="alert alert-success" ng-repeat="listing in $ctrl.complaint.listings | orderBy: 'chplProductNumber'">
      <button class="close" ng-click="$ctrl.removeListing(listing)">
        <span class="sr-only">Remove item {{ listing.chplProductNumber }}</span>
        <i class="fa fa-times"></i>
      </button>
      <strong>{{ listing.chplProductNumber }}</strong>
    </div>
    <input name="listings"
        id="listings"
        type="text"
        class="input-sm form-control"
        placeholder="Start Typing CHPL Product Number"
        ng-model="$ctrl.listing"
        uib-typeahead="listing as listing.chplProductNumber for listing in $ctrl.filteredListings | orderBy: 'chplProductNumber' | filter:{'chplProductNumber':$viewValue}:$ctrl.startsWith | limitTo:10"
        typeahead-on-select="$ctrl.selectListing($item)">
  </div>

  <div class="form-group">
    <label class="control-label" for="criteria">Selected Criteria</label><br />
    <div ng-if="!$ctrl.complaint.criteria || $ctrl.complaint.criteria.length === 0">
      No Criteria Selected
    </div>
    <div class="alert alert-success" ng-repeat="criterion in $ctrl.complaint.criteria | orderBy: 'number'">
      <button class="close"  ng-click="$ctrl.removeCriterion(criterion)">
        <span class="sr-only">Remove item {{ criterion.certificationCriterion.certificationEdition }} - {{ criterion.certificationCriterion.number }}</span>
        <i class="fa fa-times"></i>
      </button>
      <strong>{{ criterion.certificationCriterion.certificationEdition }} - {{ criterion.certificationCriterion.number }}</strong>
    </div>
    <div class="input-group">
      <div class="input-group-btn" uib-dropdown >
        <button type="button" id="select-edition" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle >
          {{ $ctrl.edition.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="select-edition">
          <li ng-repeat="edition in $ctrl.editions | orderBy: 'name' : reverse"><a ng-click="$ctrl.selectEdition(edition)"> {{ edition.name }}</a></li>
        </ul>
      </div>
      <select  id="criteria" name="criteria" class="input-sm form-control"
        ng-model="$ctrl.criterion"
        ng-options="criteria.number for criteria in $ctrl.filteredCriteria | orderBy: 'number' track by criteria.id"
        ng-change="$ctrl.selectCriteria()">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="checkbox-inline" for="complainant-contacted">
      <input type="checkbox" id="complainant-contacted" name="complainantContacted"
        ng-model="$ctrl.complaint.complainantContacted"> Complainant Contacted?
    </label>
  </div>
  <div class="form-group">
    <label class="checkbox-inline" for="developer-contacted">
      <input type="checkbox" id="developer-contacted" name="developerContacted"
        ng-model="$ctrl.complaint.developerContacted"> Developer Contacted?
    </label>
  </div>
  <div class="form-group">
    <label class="checkbox-inline" for="onc-atl-contacted">
      <input type="checkbox" id="onc-atl-contacted" name="oncAtlContacted" ng-model="$ctrl.complaint.oncAtlContacted">
      ONC-ATL Contacted?
    </label>
  </div>
  <div class="form-group">
    <label class="checkbox-inline" for="flag-for-oncreview">
      <input type="checkbox" id="flag-for-onc-review" name="flagForOncReview" ng-model="$ctrl.complaint.flagForOncReview">
      Flag for ONC Review?
    </label>
  </div>
  <div class="text-danger text-left" ng-if="$ctrl.form.$invalid && $ctrl.showFormErrors">
    The following error(s) must be fixed:
    <ul>
      <li ng-if="$ctrl.form.certificationBody.$error.required">ONC-ACB is required</li>
      <li ng-if="$ctrl.form.complaintType.$error.required">Contact Type is required</li>
      <li ng-if="$ctrl.form.receivedDate.$error.required">Received Date is required</li>
      <li ng-if="$ctrl.form.receivedDate.$error.parse">Received Date is improper format (mm/dd/yyyy)</li>
      <li ng-if="$ctrl.form.acbComplaintId.$error.required">ONC-ACB Complaint ID is required</li>
      <li ng-if="$ctrl.form.summary.$error.required">Summary is required</li>
    </ul>
  </div>
  <div class="text-danger text-left" ng-if="$ctrl.errorMessages.length > 0">
    The following error(s) must be fixed:
    <ul>
      <li ng-repeat="message in $ctrl.errorMessages">{{ message }}</li>
    </ul>
  </div>
  <div>
    <button class="btn btn-ai-success btn-small pull-right" ng-disabled="$ctrl.form.$invalid && $ctrl.showFormErrors"
      ng-mouseover="$ctrl.showFormErrors = true" ng-click="$ctrl.saveComplaint($ctrl.complaint)">
      <i class="fa fa-save"></i><span class="sr-only"> Save</span>
    </button>
    <button class="btn btn-warning btn-small" ng-click="$ctrl.cancelEdit()"><i class="fa fa-close"></i><span
        class="sr-only"> Cancel</span></button>
    <button class="btn btn-danger btn-small" ng-if="$ctrl.currentMode === $ctrl.modes.EDIT"
      ng-click="$ctrl.deleteComplaint($ctrl.complaint)" confirm="Are you sure you wish to delete this complaint?"
      confirm-ok="Yes" confirm-cancel="No" confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}">
      <i class="fa fa-trash"></i><span class="sr-only"> Delete</span>
    </button>
  </div>
</div>
