<div role="modal" aria-labeled-by="editRequirementLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editSurveillanceLabel">Edit Requirement</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="vm.editForm">
    <div class="form-group">
      <label for="requirementType" class="col-sm-3">Requirement Type <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="vm.requirement.type" id="requirementType" name="requirementType"
                ng-options="type as type.name for type in vm.data.surveillanceRequirementTypes.data | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.requirementType.$touched) && vm.editForm.requirementType.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group" ng-if="false && vm.requirement.type.name === 'Certified Capability'">
      <label for="requirement" class="col-sm-3">Requirement <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="vm.requirement.requirement" id="requirement" name="requirement"
                ng-options="type as type.name for type in vm.data.requirements.criteria | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.requirement.$touched) && vm.editForm.requirement.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group" ng-if="false && vm.requirement.type.name === 'Transparency or Disclosure Requirement'">
      <label for="requirement" class="col-sm-3">Requirement <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="vm.requirement.requirement" id="requirement" name="requirement"
                ng-options="type as type.name for type in vm.data.requirements.transparency | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.requirement.$touched) && vm.editForm.requirement.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group" ng-if="true || vm.requirement.type.name === 'Other Requirement'">
      <label for="requirement" class="col-sm-3">Requirement <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="text" ng-model="vm.requirement.requirement" id="requirement" name="requirement" required>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.requirement.$touched) && vm.editForm.requirement.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="result" class="col-sm-3">Result <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="vm.requirement.result" id="result" name="result"
                ng-options="type as type.name for type in vm.data.surveillanceResultTypes.data | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.result.$touched) && vm.editForm.result.$error.required">Field is required</div>
      </div>
    </div>
    <div class="row" ng-if="vm.requirement.result.name === 'Non-Conformity'">
      <div class="col-sm-12">
        <button class="btn btn-success pull-right" ng-click="vm.addNonconformity()"><i class="fa fa-plus"></i><span class="sr-only">Add a non-conformity</button>
        <h5>Non-Conformities</h5>
        <p ng-if="vm.requirement.nonconformities.length === 0">No Non-Conformities found</p>
        <table class="table" ng-if="vm.requirement.nonconformities.length > 0">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Summary</th>
              <th scope="col">Remove</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="noncon in vm.requirement.nonconformities track by $index">
              <td>{{ noncon.nonconformityType }}</td>
              <td>{{ noncon.status.name }}</td>
              <td>{{ noncon.summary }}</td>
              <td>
                <button class="btn btn-danger" ng-click="vm.requirement.nonconformities.splice($index,1)"><i class="fa fa-trash"></i><span class="sr-only">Remove this non-conformity</button>
              </td>
              <td>
                <button class="btn btn-success" ng-click="vm.editNonconformity(noncon)"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit this non-conformity</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="(vm.editForm.$invalid || vm.isNonconformityRequired()) && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.requirementType.$error.required">Requirement Type is required</li>
        <li ng-if="vm.editForm.requirement.$error.required">Requirement is required</li>
        <li ng-if="vm.editForm.result.$error.required">Result is required</li>
        <li ng-if="vm.isNonconformityRequired">At least one Non-Conformity must be documented</li>
      </ul>
    </div>
    <button ng-disabled="(vm.editForm.$invalid || vm.isNonconformityRequired()) && vm.showFormErrors && vm.disableValidation"
            class="btn btn-ai-success pull-right"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.save()"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-trash-o"></i> Cancel</button>
  </div>
</div>
