<div role="modal" aria-labeled-by="editSurveillanceLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editSurveillanceLabel">Edit Surveillance Activity</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <div class="form-group">
      <label for="developerName">Developer Name <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.developer.name" id="developerName" name="developerName"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.developerName.$touched) && vm.editForm.developerName.$error.required">Developer name is required</div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="vm.editForm.$invalid && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.developerName.$error.required">Developer name is required</li>
      </ul>
    </div>
    <button ng-disabled="vm.editForm.$invalid && vm.showFormErrors"
            class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.save()">Save Surveillance Activity</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
