<div class="container-fluid">
  <div class="row splash-row" ng-if="!vm.isAuthed()">
    <div class="col-md-6 col-md-offset-3 jumbotron">
      <ai-login form-class=""
                p-class="bg-success lead"
                p-class-fail="bg-danger lead">
      </ai-login>
    </div>
  </div>

  <section ng-if="vm.isAuthed()">
    <div class="row">
      <div class="col-md-12">
        <h1>Welcome, {{ vm.getFullname() }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 admin-nav" id="admin-nav">
        <div class="panel panel-ai">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{'active': vm.navState.screen === 'dpManagement'}" id="admin-nav.dpManagement" ng-if="vm.isChplAdmin() || vm.isAcbAdmin()"><a href="" ng-click="vm.changeScreen('dpManagement')">Developer &amp; Product Management</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'upload'}" id="admin-nav.dpManagement.upload" ng-if="vm.navState.screen === 'dpManagement' && (vm.isAcbAdmin())"><a href="" ng-click="vm.changeSubNav('upload')">Upload Products &amp; Surveillance</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'confirm'}" id="admin-nav.dpManagement.confirm" ng-if="vm.navState.screen === 'dpManagement' && (vm.isAcbAdmin())"><a href="" ng-click="vm.changeSubNav('confirm')">Confirm Pending Product<span ng-if="vm.pendingProducts > 1">s</span> <span class="badge">{{ vm.pendingProducts }}</span> </a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'confirmSurveillance'}" id="admin-nav.dpManagement.confirmSurveillance" ng-if="vm.navState.screen === 'dpManagement' && (vm.isAcbAdmin())"><a href="" ng-click="vm.changeSubNav('confirmSurveillance')">Confirm Pending Surveillance Activit<span ng-if="vm.pendingSurveillances !== 1">ies</span><span ng-if="vm.pendingSurveillances === 1">y</span> <span class="badge">{{ vm.pendingSurveillances }}</span> </a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'manage'}" id="admin-nav.dpManagement.manage" ng-if="vm.navState.screen === 'dpManagement'"><a href="" ng-click="vm.changeSubNav('manage')">Manage Developers &amp; Products</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'manageSurveillance'}" id="admin-nav.dpManagement.manageSurveillance" ng-if="vm.navState.screen === 'dpManagement'"><a href="" ng-click="vm.changeSubNav('manageSurveillance')">Manage Surveillance Activity</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.dpManagement === 'merge'}" id="admin-nav.dpManagement.merge" ng-if="vm.navState.screen === 'dpManagement' && vm.isChplAdmin()"><a href="" ng-click="vm.changeSubNav('merge')">Merge Developers &amp; Products</a></li>

            <li ng-class="{'active': vm.navState.screen === 'userManagement'}" id="admin-nav.userManagement" ng-if="vm.isChplAdmin()"><a href="" ng-click="vm.changeScreen('userManagement')">User Management</a></li>

            <li ng-class="{'active': vm.navState.screen === 'acbManagement'}" id="admin-nav.acbManagement" ng-if="vm.isChplAdmin() || vm.isAcbAdmin()"><a href="" ng-click="vm.changeScreen('acbManagement')">ONC-ACB Management</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.acbManagement === acb}" ng-if="vm.navState.screen === 'acbManagement'" id="admin-nav.acbManagement.{{ acb.id}}" ng-repeat="acb in vm.acbs | orderBy:'name' track by acb.id"><a href="" ng-click="vm.changeAcb(acb)">{{ acb.name }}<span ng-if="acb.isDeleted" class="pull-right">&lt;deleted&gt;</span></a></li>

            <li ng-class="{'active': vm.navState.screen === 'atlManagement'}" id="admin-nav.atlManagement" ng-if="vm.isChplAdmin() || vm.isAtlAdmin()"><a href="" ng-click="vm.changeScreen('atlManagement')">ONC-ATL Management</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.atlManagement === atl}" ng-if="vm.navState.screen === 'atlManagement'" id="admin-nav.atlManagement.{{ atl.id}}" ng-repeat="atl in vm.atls | orderBy:'name' track by atl.id"><a href="" ng-click="vm.changeAtl(atl)">{{ atl.name }}<span ng-if="atl.isDeleted" class="pull-right">&lt;deleted&gt;</span></a></li>

            <li ng-class="{'active': vm.navState.screen === 'reports'}" id="admin-nav.reports" ng-if="(vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeScreen('reports')">Reports</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'cp-upload'}" id="admin-nav.reports.cp-upload" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('cp-upload')">Certified Product - Uploads</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'cp-status'}" id="admin-nav.reports.cp-status" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('cp-status')">Certification Status Changes</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'cp-surveillance'}" id="admin-nav.reports.cp-surveillance" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('cp-surveillance')">Surveillance Activity</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'cap'}" id="admin-nav.reports.cap" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('cap')">Corrective Action Plans</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'cp-other'}" id="admin-nav.reports.cp-other" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('cp-other')">Other Certified Product Activities</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'dev'}" id="admin-nav.reports.dev" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('dev')">Developers</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'prod'}" id="admin-nav.reports.prod" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('prod')">Products</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'acb'}" id="admin-nav.reports.acb" ng-if="vm.navState.screen === 'reports' &&(vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('acb')">ONC-ACBs</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'atl'}" id="admin-nav.reports.atl" ng-if="vm.navState.screen === 'reports' && (vm.isAcbAdmin() || vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('atl')">ONC-ATLs</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'announcement'}" id="admin-nav.reports.announcement" ng-if="vm.navState.screen === 'reports' && (vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('announcement')">Announcements</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'users'}" id="admin-nav.reports.users" ng-if="vm.navState.screen === 'reports' && (vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('users')">Users</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'api_key'}" id="admin-nav.reports.api_key" ng-if="vm.navState.screen === 'reports' && (vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('api_key_management')">API Key Management Activity</a></li>
            <li class="subnav animate-if" ng-class="{'active': vm.navState.reports === 'api_key_usage'}" id="admin-nav.reports.api_key_usage" ng-if="vm.navState.screen === 'reports' && (vm.isChplAdmin() || vm.isOncStaff())"><a href="" ng-click="vm.changeSubNav('api_key_usage')">API Key Usage Activity</a></li>

            <li ng-class="{'active': vm.navState.screen === 'scheduledJobs'}" id="admin-nav.scheduledJobs" ng-if="vm.isChplAdmin() || vm.isAcbAdmin()"><a href="" ng-click="vm.changeScreen('scheduledJobs')">Scheduled Jobs</a></li>
            <li ng-class="{'active': vm.navState.screen === 'apiKeyManagement'}" id="admin-nav.apiKeyManagement" ng-if="vm.isChplAdmin()"><a href="" ng-click="vm.changeScreen('apiKeyManagement')">API Key Management</a></li>
            <li ng-class="{'active': vm.navState.screen === 'announcementsManagement'}" id="admin-nav.announcementsManagement" ng-if="vm.isChplAdmin()"><a href="" ng-click="vm.changeScreen('announcementsManagement')">Announcements Management</a></li>
            <li ng-class="{'active': vm.navState.screen === 'apiDocumentationManagement'}" id="admin-nav.apiDocumentationManagement" ng-if="vm.isChplAdmin() || vm.isOncStaff()"><a href="" ng-click="vm.changeScreen('apiDocumentationManagement')">API Documentation Management</a></li>
            <li ng-class="{'active': vm.navState.screen === 'cmsManagement'}" id="admin-nav.cmsManagement" ng-if="vm.isChplAdmin() || vm.isCmsStaff() || vm.isOncStaff()"><a href="" ng-click="vm.changeScreen('cmsManagement')">CMS Management</a></li>
            <li ng-class="{'active': vm.navState.screen === 'jobsManagement'}" id="admin-nav.jobsManagement" ng-if="vm.isChplAdmin() || vm.isOncStaff() || vm.isAcbAdmin()"><a href="" ng-click="vm.changeScreen('jobsManagement')">Jobs Management</a></li>
            <li ng-class="{'active': vm.navState.screen === 'fuzzyManagement'}" id="admin-nav.fuzzyManagement" ng-if="vm.isChplAdmin()"><a href="" ng-click="vm.changeScreen('fuzzyManagement')">Fuzzy Matching Management</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 admin-inner-tab" id="main-content" tabindex="-1">
        <ai-vp-management ng-if="vm.navState.screen === 'dpManagement'"
                          pending-products="vm.pendingProducts"
                          pending-surveillances="vm.pendingSurveillances"
                          work-type="vm.navState.dpManagement"
                          product-id="vm.productId"></ai-vp-management>
        <ai-user-management ng-if="vm.navState.screen === 'userManagement'"></ai-user-management>
        <ai-acb-management ng-if="vm.navState.screen === 'acbManagement'"
                           work-type="vm.navState.workType"
                           active-acb="vm.activeAcb"></ai-acb-management>
        <ai-atl-management ng-if="vm.navState.screen === 'atlManagement'"
                           work-type="vm.navState.workType"
                           active-atl="vm.activeAtl"></ai-atl-management>
        <ai-reports trigger-refresh="vm.triggerRefresh(handler)"
                    ng-if="vm.navState.screen === 'reports'"
                    work-type="vm.navState.reports"
                    product-id="vm.productId"></ai-reports>
        <ai-scheduled-jobs ng-if="vm.navState.screen === 'scheduledJobs'"
                                    acbs="vm.acbs"></ai-scheduled-jobs>
        <ai-api-key admin="true" ng-if="vm.navState.screen === 'apiKeyManagement'"></ai-api-key>
        <ai-announcements-management ng-if="vm.navState.screen === 'announcementsManagement'"></ai-announcements-management>
        <ai-api-documentation-management ng-if="vm.navState.screen === 'apiDocumentationManagement'"></ai-api-documentation-management>
        <ai-cms-management admin="true" ng-if="vm.navState.screen === 'cmsManagement'"></ai-cms-management>
        <ai-jobs-management ng-if="vm.navState.screen === 'jobsManagement'"></ai-jobs-management>
        <ai-fuzzy-management ng-if="vm.navState.screen === 'fuzzyManagement'"></ai-fuzzy-management>
      </div>
    </div>
  </section> <!-- end authenticated user section -->
</div> <!-- end controller -->
