<div id="chpl-developer" ng-form="$ctrl.form">
  <span ng-if="!$ctrl.isEditing">
    <div class="panel panel-default">
      <div class="panel-heading" ng-if="!$ctrl.isSplitting && !$ctrl.isChangeRequest">
        <h2 class="panel-title">{{ $ctrl.developer.name }}</h2>
      </div>
      <div class="panel-heading" ng-if="$ctrl.isSplitting">
        <h2 class="panel-title">Original Developer</h2>
      </div>
      <div class="panel-body">
        <div class="developer__developer-information">
          <div class="developer__developer-column" ng-if="!$ctrl.isChangeRequest">
            <div>
              <div class="data-label">Developer code</div>
              <div class="read-only-data">{{ $ctrl.developer.developerCode }}</div>
            </div>
            <div>
              <div class="data-label">Self-developer</div>
              <div class="read-only-data">{{ $ctrl.developer.selfDeveloper ? 'Yes' : 'No' }}</div>
            </div>
            <div ng-repeat="status in $ctrl.developer.statusEvents | orderBy:'-statusDate'">
              <div>
                <div class="data-label">Status</div>
                <div class="read-only-data"><i ng-if="status.status.status !== 'Active'" class="fa status-bad" ng-class="status.status.status === 'Suspended by ONC' ? 'fa-exclamation-circle' : 'fa-ban'"></i> {{ status.status.status }} as of {{ status.statusDate | date : 'mediumDate' : 'UTC' }}</div>
              </div>
              <div ng-if="status.reason">
                <div class="read-only-data">{{ status.reason || 'N/A'}}</div>
              </div>
            </div>
          </div>
          <div class="developer__developer-column">
            <div ng-if="$ctrl.developer.contact">
              <div class="data-label">Contact</div>
              <chpl-contact contact="$ctrl.developer.contact"></chpl-contact>
            </div>
            <div ng-if="$ctrl.developer.address">
              <div class="data-label">Address</div>
              <chpl-address address="$ctrl.developer.address"></chpl-address>
            </div>
            <div ng-if="$ctrl.developer.website">
              <div class="data-label">Website</div>
              <div><a ai-a href="{{ $ctrl.developer.website }}">{{ $ctrl.developer.website }}</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right" ng-if="$ctrl.showFooter()">
        <button class="btn btn-default" id="developer-component-edit" ng-if="$ctrl.can('edit') && !$ctrl.isEditing" ng-click="$ctrl.edit()" uib-tooltip="Edit Developer information" tooltip-trigger="'mouseenter focus click'"><i class="fa fa-pencil-square-o"></i> Edit</button>
        <button class="btn btn-default" id="developer-component-split" ng-if="$ctrl.can('split') && !$ctrl.isSplitting" ng-click="$ctrl.split()"><i class="fa fa-scissors"></i> Split</button>
        <button class="btn btn-default" id="developer-component-merge" ng-if="$ctrl.can('merge') && !$ctrl.isSplitting" ng-click="$ctrl.merge()"><i class="fa fa-code-fork fa-rotate-180"></i> Merge</button>
      </div>
    </div>
  </span>
  <!-- end view -->

  <span ng-if="$ctrl.isEditing">
    <div class="panel panel-default">
      <div class="panel-heading"
           ng-if="!$ctrl.isChangeRequest">
        <h2 class="panel-title" ng-if="!$ctrl.isSplitting">{{ $ctrl.developer.name }}</h2>
        <h2 class="panel-title" ng-if="$ctrl.isSplitting">New Developer</h2>
      </div>
      <div class="panel-body">
        <div class="flex-container">
          <div class="flex-item" ng-if="$ctrl.developer.lastModifiedDate">
            <div class="data-label">Last Modified</div>
            <div class="read-only-data">{{ $ctrl.developer.lastModifiedDate | date : 'mediumDate' : 'UTC'}}</div>
          </div>
          <div class="flex-item" ng-if="$ctrl.developer.developerCode">
            <div class="data-label">Developer Code</div>
            <div class="read-only-data">{{ $ctrl.developer.developerCode }}</div>
          </div>
        </div>
        <div class="flex-container horizontal-space"></div>
        <div class="flex-container">
          <div class="flex-item" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !$ctrl.isChangeRequest">
            <label class="control-label" for="developer-name">Developer name <span class="text-danger">*</span></label>
            <div>
              <input class="input-sm form-control" type="text" required ng-model="$ctrl.developer.name" id="developer-name" name="developerName" ng-maxlength="300"></input>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerName.$touched) && $ctrl.form.developerName.$error.required">Field is required</div>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerName.$touched) && $ctrl.form.developerName.$error.maxlength">Field is too long</div>
              <ul class="list-inline">
                <li ng-repeat="option in $ctrl.getDifferences('name')">
                  <button class="btn btn-link merge-option"
                          ng-click="$ctrl.selectDifference('name', option)">{{ option }}</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-item narrow">
            <label class="control-label">Self-developer</label>
            <div class="flex-container">
              <div class="flex-item">
                <label>
                  <input type="radio"
                         ng-model="$ctrl.developer.selfDeveloper" ng-value="true"
                         ng-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                         ng-change="$ctrl.formUpdate()"
                         id="self-developer-yes" name="selfDeveloper">
                  Yes
                </label>
              </div>
              <div class="flex-item">
                <label>
                  <input type="radio"
                         ng-model="$ctrl.developer.selfDeveloper" ng-value="false"
                         ng-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                         ng-change="$ctrl.formUpdate()"
                         id="self-developer-yes" name="selfDeveloper">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC']) && !$ctrl.isChangeRequest">
          <div class="repeatable-item" ng-repeat="status in $ctrl.developer.statusEvents | orderBy:'-statusDateObject' track by $index">
            <div class="flex-container">
              <div class="flex-item">
                <label for="developer-status-{{ $index }}"><span ng-if="$first">Current </span>Developer Status <span class="text-danger">*</span></label>
                <select ng-model="status.status.status" required id="developer-status-{{ $index }}" name="developerStatus{{ $index }}" class="input-sm form-control">
                  <option value="Active">Active</option>
                  <option value="Suspended by ONC">Suspended by ONC</option>
                  <option value="Under certification ban by ONC">Under certification ban by ONC</option>
                </select>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['developerStatus' + $index].$touched) && $ctrl.form['developerStatus' + $index].$error.required">Developer Status is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['developerStatus' + $index].$touched) && $ctrl.matchesPreviousStatus(status)">Developer Status must differ from previous Status</div>
              </div>
              <div class="flex-item">
                <label for="status-date-{{ $index }}">Change Date <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="status.statusDateObject" is-open="status.statusDatePicker" close-text="Close" id="status-date-{{ $index }}" name="statusDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-link btn-sm" ng-click="status.statusDatePicker = true"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.form['statusDate' + $index].$error.required">Change date is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.matchesPreviousDate(status)">Only one change of status allowed per day</div>
              </div>
              <div class="flex-item narrowest cross-axis-align-end">
                <button type="button" class="btn btn-link btn-sm" ng-click="$ctrl.removeStatus($ctrl.developer.statusEvents.indexOf(status))"><i class="fa fa-close"></i><span class="sr-only">Remove status</span></button>
              </div>
            </div>
            <div class="flex-container">
              <div class="flex-item">
                <label for="status-reason-{{ $index }}">Reason</label>
                <input class="input-sm form-control" type="text" ng-model="status.reason" ng-maxlength="500" id="status-reason-{{ $index }}" name="statusReason{{ $index }}" ng-required="!status.reason && status.status.status === 'Under certification ban by ONC'">
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusReason' + $index].$touched) && $ctrl.form['statusReason' + $index].$error.required">Field is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusReason' + $index].$touched) && $ctrl.form['statusReason' + $index].$error.maxlength">Field is too long</div>
              </div>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <button class="btn btn-sm btn-link" ng-click="$ctrl.addStatus()"><i class="fa fa-plus-circle"></i> Add Status</button>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <div class="bg-info" ng-if="$ctrl.isBeingActivatedFromOncInactiveStatus()">To comply with the EOA rule, please remember to change the certification status of any listings that have had their suspension or termination rescinded.</div>
            </div>
          </div>
        </div>
        <div class="flex-container horizontal-space"></div>
        <chpl-contact contact="$ctrl.developer.contact"
                      is-editing="true"
                      is-required="!$ctrl.isChangeRequest"
                      is-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                      ignore-friendly-name="true"
                      merge-options="$ctrl.contactOptions"
                      on-change="$ctrl.editContact(contact)" show-form-errors="$ctrl.showFormErrors"></chpl-contact>
        <div class="flex-container horizontal-space"></div>
        <chpl-address address="$ctrl.developer.address"
                      is-editing="true"
                      is-required="$ctrl.isSplitting"
                      is-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                      merge-options="$ctrl.addressOptions"
                      on-change="$ctrl.editAddress(address)" show-form-errors="$ctrl.showFormErrors"></chpl-address>
        <div class="flex-container horizontal-space"></div>
        <div class="flex-container">
          <div class="flex-item" ng-if="!$ctrl.isChangeRequest">
            <label class="control-label" for="developer-website">Developer website</label>
            <div>
              <input class="input-sm form-control" type="url" ng-model="$ctrl.developer.website" id="developer-website" name="developerWebsite" ng-maxlength="300"></input>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerWebsite.$touched) && $ctrl.form.developerWebsite.$error.maxlength">Field is too long</div>
              <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerWebsite.$touched) && $ctrl.form.developerWebsite.$error.url">Improper format (http://www.example.com)</div>
              <ul class="list-inline">
                <li ng-repeat="option in $ctrl.getDifferences('website')">
                  <button class="btn btn-link merge-option"
                          ng-click="$ctrl.selectDifference('website', option)">{{ option }}</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex-container wrap">
          <div class="flex-item wrap" ng-repeat="acb in $ctrl.allowedAcbs | orderBy : 'name'" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC']) && !$ctrl.isChangeRequest">
            <label for="developer-transparency-{{ acb.name }}">{{ acb.name }} Transparency Attestation</label>
            <select class="input-sm form-control" ng-model="$ctrl.transMap[acb.name].transparencyAttestation" id="developer-transparency-{{ acb.name }}" name="developerTransparency{{ acb.name }}">
              <option value="Negative">Negative</option>
              <option value="Affirmative">Affirmative</option>
              <option value="N/A">N/A</option>
            </select>
          </div>
        </div>
      </div>
      <chpl-action-bar ng-if="!$ctrl.isChangeRequest"
                       is-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
                       error-messages="$ctrl.errorMessages"
                       take-action="$ctrl.takeActionBarAction(action)">
      </chpl-action-bar>
    </div>
  </span> <!-- end edit -->
</div>
