.flex-container {
    display: flex;
    //justify-content: space-evenly;

    &.wrap {
        flex-wrap: wrap;
    }
}

.flex-item {
    min-width: 150px;
    flex: 1;

    &.wrap {
        flex: 0 50%;
    }

    &.center {
        margin: auto;
        text-align: center;
    }

    &.wide {
        flex: 2;
        min-width: 300px;
    }

    &.narrow {
        flex: .5;
        min-width: 75px;
    }
}
