<div id="chpl-developer" ng-form="$ctrl.form">
  <span ng-if="!$ctrl.isEditing">
    <div class="panel panel-default">
      <div class="panel-heading" ng-if="!$ctrl.isChangeRequest">
        Developer
        <h2 class="panel-title">{{ $ctrl.developer.name }}</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div ng-class="$ctrl.isChangeRequest ? 'col-sm-12' : 'col-sm-4'">
            <h3>Developer Details</h3>
            <span ng-if="!$ctrl.isSplitting && !$ctrl.isChangeRequest">
              Developer code: {{ $ctrl.developer.developerCode }}<br />
              <span ng-if="$ctrl.developer.website">Website: <a ai-a href="{{ $ctrl.developer.website }}">{{ $ctrl.developer.website }}</a><br /></span>
              Self-developer: {{ $ctrl.developer.selfDeveloper ? 'Yes' : 'No' }}<br />
              Last modified date: {{ $ctrl.developer.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
            </span>
            <span ng-if="$ctrl.isChangeRequest">
              Self-developer: {{ $ctrl.developer.selfDeveloper ? 'Yes' : 'No' }}<br />
            </span>
            <span ng-if="$ctrl.developer.contact">
              <h3>Contact Information</h3>
              <chpl-contact contact="$ctrl.developer.contact"></chpl-contact>
            </span>
          </div>
          <div ng-class="$ctrl.isChangeRequest ? 'col-sm-12' : 'col-sm-4'" ng-if="$ctrl.developer.address">
            <h3>Address</h3>
            <chpl-address address="$ctrl.developer.address"></chpl-address>
          </div>
          <div class="col-sm-4" ng-if="!$ctrl.isChangeRequest">
            <div class="product-element" id="developer-transparency-attestation" feature-flag="effective-rule-date" feature-flag-hide>
              <h3>Transparency Attestations</h3>
              <p ng-repeat="att in $ctrl.developer.transparencyAttestations | orderBy : 'acbName'" ng-if="att.attestation">
                <strong>{{ att.acbName }}:</strong> {{ att.attestation.transparencyAttestation }}</p>
            </div>
            <h3>Status Information</h3>
            <div class="row well well-sm" ng-repeat="status in $ctrl.developer.statusEvents | orderBy:'-statusDate'">
              <div class="col-sm-6">
                <p>Status History:<br /><i ng-if="status.status.status !== 'Active'" class="fa status-bad" ng-class="status.status.status === 'Suspended by ONC' ? 'fa-exclamation-circle' : 'fa-ban'"></i> {{ status.status.status }}</p>
              </div>
              <div class="col-sm-6">
                <p>Effective Date:<br />{{ status.statusDate | date : 'mediumDate' : 'UTC' }}</p>
              </div>
              <div class="col-sm-12">
                <p class="clickable text-center" ng-click="status.showComments = !status.showComments"><i class="fa" ng-class="status.showComments ? 'fa-caret-up' : 'fa-caret-down'"></i> Comments:</p>
                <p ng-if="status.showComments">{{ status.reason || 'N/A'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right" ng-if="$ctrl.showFooter()">
        <button class="btn btn-default" id="developer-component-edit" ng-if="$ctrl.can('edit') && !$ctrl.isEditing" ng-click="$ctrl.edit()" uib-tooltip="Edit Developer information" tooltip-trigger="'mouseenter focus click'"><i class="fa fa-pencil-square-o"></i> Edit</button>
        <button class="btn btn-default" id="developer-component-split" ng-if="$ctrl.can('split') && !$ctrl.isSplitting" ng-click="$ctrl.split()"><i class="fa fa-scissors"></i> Split</button>
        <button class="btn btn-default" id="developer-component-merge" ng-if="$ctrl.can('merge') && !$ctrl.isSplitting" ng-click="$ctrl.merge()"><i class="fa fa-code-fork fa-rotate-180"></i> Merge</button>
      </div>
    </div>
  </span> <!-- end view -->

  <span ng-if="$ctrl.isEditing">
    <span feature-flag="ui-bump-major" feature-flag-hide>
      <div class="panel panel-default">
        <div class="panel-heading"
             ng-if="!$ctrl.isChangeRequest">
          <button class="btn btn-default btn-small pull-right" id="developer-component-cancel"
                  confirm="Are you sure you wish to cancel? Your changes will not be saved."
                  confirm-ok="Yes"
                  confirm-cancel="No"
                  confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                  uib-tooltip="Cancel and close" tooltip-trigger="'mouseenter focus click'"
                  ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
          <h2 class="panel-title">Editing - {{ $ctrl.developer.name }}</h2>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              <div ng-class="($ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !$ctrl.isChangeRequest) ? 'col-sm-4' : 'col-sm-6'">
                <div class="form-group" ng-if="!$ctrl.isChangeRequest">
                  <label class="control-label" for="developer-name">Developer name <span class="text-danger">*</span></label>
                  <div>
                    <input class="input-sm form-control" type="text" required ng-model="$ctrl.developer.name" id="developer-name" name="developerName" ng-maxlength="300" ng-disabled="$ctrl.hasAnyRole(['ROLE_DEVELOPER'])"></input>
                    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerName.$touched) && $ctrl.form.developerName.$error.required">Field is required</div>
                    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerName.$touched) && $ctrl.form.developerName.$error.maxlength">Field is too long</div>
                  </div>
                </div>
                <div class="form-group" ng-if="!$ctrl.isChangeRequest">
                  <label class="control-label" for="developer-website">Developer website</label>
                  <div>
                    <input class="input-sm form-control" type="url" ng-model="$ctrl.developer.website" id="developer-website" name="developerWebsite" ng-maxlength="300"></input>
                    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerWebsite.$touched) && $ctrl.form.developerWebsite.$error.maxlength">Field is too long</div>
                    <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerWebsite.$touched) && $ctrl.form.developerWebsite.$error.url">Improper format (http://www.example.com)</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="self-developer">Self-developer</label>
                  <div>
                    <select class="input-sm form-control" ng-model="$ctrl.developer.selfDeveloper"
                            ng-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                            ng-change="$ctrl.formUpdate()"
                            id="self-developer" name="selfDeveloper">
                      <option ng-value="true">Yes</option>
                      <option ng-value="false">No</option>
                    </select>
                  </div>
                </div>
                <chpl-contact contact="$ctrl.developer.contact"
                              is-editing="true"
                              is-required="!$ctrl.isChangeRequest"
                              is-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                              ignore-friendly-name="true"
                              on-change="$ctrl.editContact(contact, errors, validForm)" show-form-errors="$ctrl.showFormErrors"></chpl-contact>
              </div>
              <div ng-class="($ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !$ctrl.isChangeRequest) ? 'col-sm-4' : 'col-sm-6'">
                <chpl-address address="$ctrl.developer.address"
                              is-editing="true"
                              is-required="$ctrl.isSplitting"
                              is-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                              on-change="$ctrl.editAddress(address, errors, validForm)" show-form-errors="$ctrl.showFormErrors"></chpl-address>
              </div>
              <div ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !$ctrl.isChangeRequest" class="col-sm-4">
                <span ng-if="$ctrl.isTransparencyAttestationEditable()">
                  <div class="form-group" ng-repeat="acb in $ctrl.allowedAcbs | orderBy : 'name'">
                    <label for="developer-transparency-{{ acb.name }}">{{ acb.name }} Transparency Attestation</label>
                    <select class="input-sm form-control" ng-model="$ctrl.transMap[acb.name].transparencyAttestation" id="developer-transparency-{{ acb.name }}" name="developerTransparency{{ acb.name }}">
                      <option value="Negative">Negative</option>
                      <option value="Affirmative">Affirmative</option>
                      <option value="N/A">N/A</option>
                    </select>
                  </div>
                </span>
                <span ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">
                  <strong>Developer Status</strong>
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th scope="col">Status History</th>
                        <th scope="col">Effective date</th>
                        <th scope="col">Reason for status change</th>
                        <th scope="col"><span class="sr-only">Event Actions</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><button class="btn btn-sm btn-block btn-ai-success" ng-click="$ctrl.addStatus()"><i class="fa fa-plus"></i><span class="sr-only"> Add status</span></button></td>
                      </tr>
                      <tr ng-if="!$ctrl.developer.statusEvents || $ctrl.developer.statusEvents.length === 0">
                        <td colspan="4">
                          <div class="text-danger">Developer Status is required</div>
                        </td>
                      </tr>
                      <tr ng-repeat="status in $ctrl.developer.statusEvents | orderBy:'-statusDateObject' track by $index">
                        <td>
                          <div class="form-group">
                            <label for="developer-status-{{ $index }}" class="sr-only"><span ng-if="$first">Current </span>Developer Status <span class="text-danger">*</span></label>
                            <select ng-model="status.status.status" required id="developer-status-{{ $index }}" name="developerStatus{{ $index }}" class="input-sm form-control">
                              <option value="Active">Active</option>
                              <option value="Suspended by ONC">Suspended by ONC</option>
                              <option value="Under certification ban by ONC">Under certification ban by ONC</option>
                            </select>
                            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['developerStatus' + $index].$touched) && $ctrl.form['developerStatus' + $index].$error.required">Developer Status is required</div>
                            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['developerStatus' + $index].$touched) && $ctrl.matchesPreviousStatus(status)">Developer Status must differ from previous Status</div>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <label for="status-date-{{ $index }}" class="sr-only">Change Date <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="status.statusDateObject" is-open="status.statusDatePicker" close-text="Close" id="status-date-{{ $index }}" name="statusDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-ai btn-sm" ng-click="status.statusDatePicker = true"><i class="fa fa-calendar"></i></button>
                              </span>
                            </div>
                            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.form['statusDate' + $index].$error.required">Change date is required</div>
                            <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.matchesPreviousDate(status)">Only one change of status allowed per day</div>
                          </div>
                        </td>
                        <td>
                          <label for="status-reason-{{ $index }}" class="sr-only">Reason</label>
                          <input class="input-sm form-control" type="text" ng-model="status.reason" ng-maxlength="500" id="status-reason-{{ $index }}" name="statusReason{{ $index }}" ng-required="!status.reason && status.status.status === 'Under certification ban by ONC'">
                          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusReason' + $index].$touched) && $ctrl.form['statusReason' + $index].$error.required">Field is required</div>
                          <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusReason' + $index].$touched) && $ctrl.form['statusReason' + $index].$error.maxlength">Field is too long</div>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-block btn-danger" ng-click="$ctrl.removeStatus($ctrl.developer.statusEvents.indexOf(status))"><i class="fa fa-trash"></i><span class="sr-only"> Remove status</span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="bg-info" ng-if="$ctrl.isBeingActivatedFromOncInactiveStatus()">To comply with the EOA rule, please remember to change the certification status of any listings that have had their suspension or termination rescinded.</div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right" ng-if="!$ctrl.isChangeRequest">
          <button class="btn btn-default" id="developer-component-save" ng-click="$ctrl.save()"
                  ng-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
                  ng-mouseover="$ctrl.showFormErrors = true"
                  ><i class="fa fa-save"></i> Submit</button>
        </div>
      </div>
    </span>

    <span feature-flag="ui-bump-major">
      <h1>{{ $ctrl.developer.name }}</h1>
      <div class="panel panel-default">
        <div class="panel-heading"
             ng-if="!$ctrl.isChangeRequest">
          <h2 class="panel-title">Edit Developer</h2>
        </div>
        <div class="panel-body">
          <div class="flex-container">
            <div class="flex-item" ng-if="$ctrl.developer.lastModifiedDate">
              <label for="last-modified-date">Last Modified</label>
              <span class="read-only-data" id="last-modified-date">
                  {{ $ctrl.developer.lastModifiedDate | date : 'mediumDate' : 'UTC'}}
              </span>
            </div>
            <div class="flex-item" ng-if="$ctrl.developer.developerCode">
              <label for="developer-code">Developer Code</label>
              <span class="read-only-data" id="developer-code">
                  {{ $ctrl.developer.developerCode | date : 'mediumDate' : 'UTC'}}
              </span>
            </div>
          </div>
          <div class="flex-container horizontal-space"></div>
          <div class="flex-container">
            <div class="flex-item" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !$ctrl.isChangeRequest">
              <label class="control-label" for="developer-name">Developer name <span class="text-danger">*</span></label>
              <div>
                <input class="input-sm form-control" type="text" required ng-model="$ctrl.developer.name" id="developer-name" name="developerName" ng-maxlength="300"></input>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerName.$touched) && $ctrl.form.developerName.$error.required">Field is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerName.$touched) && $ctrl.form.developerName.$error.maxlength">Field is too long</div>
              </div>
            </div>
            <div class="flex-item" ng-if="!$ctrl.isChangeRequest">
              <label class="control-label" for="developer-website">Developer website</label>
              <div>
                <input class="input-sm form-control" type="url" ng-model="$ctrl.developer.website" id="developer-website" name="developerWebsite" ng-maxlength="300"></input>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerWebsite.$touched) && $ctrl.form.developerWebsite.$error.maxlength">Field is too long</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form.developerWebsite.$touched) && $ctrl.form.developerWebsite.$error.url">Improper format (http://www.example.com)</div>
              </div>
            </div>
          </div>
          <div class="flex-container horizontal-space"></div>
          <chpl-contact contact="$ctrl.developer.contact"
                        is-editing="true"
                        is-required="!$ctrl.isChangeRequest"
                        is-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                        ignore-friendly-name="true"
                        on-change="$ctrl.editContact(contact, errors, validForm)" show-form-errors="$ctrl.showFormErrors"></chpl-contact>
          <div class="flex-container horizontal-space"></div>
          <chpl-address address="$ctrl.developer.address"
                        is-editing="true"
                        is-required="$ctrl.isSplitting"
                        is-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                        on-change="$ctrl.editAddress(address, errors, validForm)" show-form-errors="$ctrl.showFormErrors"></chpl-address>
          <div class="flex-container horizontal-space"></div>
          <div class="flex-container wrap">
            <div class="flex-item wrap" ng-repeat="acb in $ctrl.allowedAcbs | orderBy : 'name'" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !$ctrl.isChangeRequest && $ctrl.isTransparencyAttestationEditable()">
              <label for="developer-transparency-{{ acb.name }}">{{ acb.name }} Transparency Attestation</label>
              <select class="input-sm form-control" ng-model="$ctrl.transMap[acb.name].transparencyAttestation" id="developer-transparency-{{ acb.name }}" name="developerTransparency{{ acb.name }}">
                <option value="Negative">Negative</option>
                <option value="Affirmative">Affirmative</option>
                <option value="N/A">N/A</option>
              </select>
            </div>
          </div>
          <div class="flex-container horizontal-space"></div>
          <div class="flex-container">
            <div class="flex-item narrow">
              <label class="control-label">Self-developer</label>
              <div class="flex-container">
                <div class="flex-item">
                  <label>
                    <input type="radio"
                           ng-model="$ctrl.developer.selfDeveloper" ng-value="true"
                           ng-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                           ng-change="$ctrl.formUpdate()"
                           id="self-developer-yes" name="selfDeveloper">
                    Yes
                  </label>
                </div>
                <div class="flex-item">
                  <label>
                    <input type="radio"
                           ng-model="$ctrl.developer.selfDeveloper" ng-value="false"
                           ng-disabled="$ctrl.isChangeRequest && !$ctrl.canEdit"
                           ng-change="$ctrl.formUpdate()"
                           id="self-developer-yes" name="selfDeveloper">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-container horizontal-space"></div>
          <div class="flex-container">
            <div class="flex-item" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC']) && !$ctrl.isChangeRequest">
              <strong>Developer Status</strong>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th scope="col">Status History</th>
                    <th scope="col">Effective date</th>
                    <th scope="col">Reason for status change</th>
                    <th scope="col"><span class="sr-only">Event Actions</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><button class="btn btn-sm btn-block btn-ai-success" ng-click="$ctrl.addStatus()"><i class="fa fa-plus"></i><span class="sr-only"> Add status</span></button></td>
                  </tr>
                  <tr ng-if="!$ctrl.developer.statusEvents || $ctrl.developer.statusEvents.length === 0">
                    <td colspan="4">
                      <div class="text-danger">Developer Status is required</div>
                    </td>
                  </tr>
                  <tr ng-repeat="status in $ctrl.developer.statusEvents | orderBy:'-statusDateObject' track by $index">
                    <td>
                      <div class="form-group">
                        <label for="developer-status-{{ $index }}" class="sr-only"><span ng-if="$first">Current </span>Developer Status <span class="text-danger">*</span></label>
                        <select ng-model="status.status.status" required id="developer-status-{{ $index }}" name="developerStatus{{ $index }}" class="input-sm form-control">
                          <option value="Active">Active</option>
                          <option value="Suspended by ONC">Suspended by ONC</option>
                          <option value="Under certification ban by ONC">Under certification ban by ONC</option>
                        </select>
                        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['developerStatus' + $index].$touched) && $ctrl.form['developerStatus' + $index].$error.required">Developer Status is required</div>
                        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['developerStatus' + $index].$touched) && $ctrl.matchesPreviousStatus(status)">Developer Status must differ from previous Status</div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <label for="status-date-{{ $index }}" class="sr-only">Change Date <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="status.statusDateObject" is-open="status.statusDatePicker" close-text="Close" id="status-date-{{ $index }}" name="statusDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-ai btn-sm" ng-click="status.statusDatePicker = true"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.form['statusDate' + $index].$error.required">Change date is required</div>
                        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusDate' + $index].$touched) && $ctrl.matchesPreviousDate(status)">Only one change of status allowed per day</div>
                      </div>
                    </td>
                    <td>
                      <label for="status-reason-{{ $index }}" class="sr-only">Reason</label>
                      <input class="input-sm form-control" type="text" ng-model="status.reason" ng-maxlength="500" id="status-reason-{{ $index }}" name="statusReason{{ $index }}" ng-required="!status.reason && status.status.status === 'Under certification ban by ONC'">
                      <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusReason' + $index].$touched) && $ctrl.form['statusReason' + $index].$error.required">Field is required</div>
                      <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.form['statusReason' + $index].$touched) && $ctrl.form['statusReason' + $index].$error.maxlength">Field is too long</div>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-block btn-danger" ng-click="$ctrl.removeStatus($ctrl.developer.statusEvents.indexOf(status))"><i class="fa fa-trash"></i><span class="sr-only"> Remove status</span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="bg-info" ng-if="$ctrl.isBeingActivatedFromOncInactiveStatus()">To comply with the EOA rule, please remember to change the certification status of any listings that have had their suspension or termination rescinded.</div>
            </div>
          </div>
        </div>
        <chpl-action-bar ng-if="!$ctrl.isChangeRequest"
                         is-disabled="$ctrl.showFormErrors && !$ctrl.isValid()"
                         take-action="$ctrl.takeActionBarAction(action)">
        </chpl-action-bar>
      </div>
    </span>
  </span> <!-- end edit -->
</div>
