.flex-container {
    display: flex;
    //justify-content: space-evenly;

    &.wrap {
        flex-wrap: wrap;
    }
}

.flex-item {
    flex: 0 48%;

    &.center {
        margin: auto;
        text-align: center;
    }

    &.wide {
        flex: 0 100%;
    }

    &.narrow {
        flex: 0 24%;
    }
}
