.direct-reviews {
    border-radius: 8px;
    margin-bottom: 8px;
}

.direct-review {
    border: 1px solid var(--grey);
    margin-bottom: 8px;
    border-radius: 8px;
}

.direct-review__header {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.direct-review__header--open {
    background-color: var(--grey-blue);
}

.direct-review__header--closed {
    background-color: var(--light-grey) !important;
    // remove !important when "new-style" goes away / ui-bump-major changes / etc.
}

.direct-review__header-title {
    font-weight: 700;
}

.direct-review__header-subtitle {
    padding-left: 10px;
    flex: 1;
}

.direct-review__header-toggle {
    padding-left: 8px;
}

.direct-review__basic-information {
    border-left: 3px solid var(--grey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 8px;
}

.direct-review__start {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 8px;
}

.direct-review__end {
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 8px;
}

.direct-review__circumstances {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    margin: 8px;
}

.direct-review__non-conformities {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    margin: 8px;
}
