.direct-reviews {
    border-radius: 8px;
    margin-bottom: 8px;
}

.direct-review {
    border: 1px solid var(--grey);
    margin-bottom: 8px;
    border-radius: 8px;
}

.direct-review__header {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.direct-review__header--open {
    background-color: var(--grey-blue);
}

.direct-review__header--closed {
    background-color: var(--light-grey) !important;
    // remove !important when "new-style" goes away / ui-bump-major changes / etc.
}

.direct-review__header-title {
    font-weight: 700;
    flex: 1;
}

.direct-review__header-toggle {
    padding-left: 8px;
}
