<div class="direct-reviews">
  <div ng-if="!$ctrl.directReviews || $ctrl.directReviews.length === 0">
    No Direct Reviews have been conducted
  </div>
  <div ng-repeat="dr in $ctrl.directReviews" class="direct-review panel-ai">
    <div class="direct-review__header panel-heading" ng-class="dr.endDate ? 'direct-review__header--closed' : 'direct-review__header--open'" ng-click="dr.open = !dr.open">
      <div class="direct-review__header-title">{{ dr.endDate ? 'Closed' : 'Open' }} Direct Review</div>
      <div class="direct-review__header-subtitle">{{ dr.endDate ? 'ended ' + $ctrl.DateUtil.getDisplayDateFormat(dr.endDate) : dr.startDate ? 'began ' + $ctrl.DateUtil.getDisplayDateFormat(dr.startDate) : 'has not started' }}</div>
      <div class="direct-review__header-nc-summary">{{ dr.ncSummary }}</div>
      <div class="direct-review__header-toggle"><i class="fa fa-lg" ng-class="dr.open ? 'fa-caret-down' : 'fa-caret-left'"></i></div>
    </div>
    <div class="panel-body" ng-if="dr.open">
      <chpl-direct-reviews-non-conformities non-conformities="dr.nonConformities"></chpl-direct-reviews-non-conformities>
    </div>
  </div>
</div>
