<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="pageTitle">Download the CHPL</h1>
    </div>
  </div>
  <div class="main-content" id="main-content" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <h2>Download the latest Certified Health IT Product List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 resources-download__description">
        <p>
          To download a list of certified health IT products or surveillance activities listed on the CHPL, please select one of the following, and then click the download button:
          <ul>
            <li class="resources-download__listings">Certified Health IT Products
              <ul>
                <li><strong>2015/2014/2011 Edition Products:</strong> Entire collection of a specified certification edition's certified products, including all data elements. Available as an XML file.
                  <ul>
                    <li>The 2015 Edition Products file is updated nightly.</li>
                    <li>The 2014 Edition Products file is updated monthly.</li>
                    <li>The 2011 Edition Products file is updated quarterly.</li>
                  </ul>
                </li>
                <li><strong>2015/2014 Edition Summary:</strong> Entire collection of a specified certification edition's certified products, with only a subset of data elements included. Data elements included are: Certification edition, CHPL ID, ONC-ACB Certification ID, Certification Date, ONC-ACB Name, Developer Name, Product Name, Version, Practice Type (only for 2014 Edition products), Certification Status, Previous Certifying ACB, Total Number of Corrective Action Plans Over Time, Count of Currently Open Corrective Action Plans, and Certification Criteria to which that Certified Product attests. Available as a CSV file.
                  <ul>
                    <li>The 2015 Edition Summary file is updated nightly.</li>
                    <li>The 2014 Edition Summary file is updated monthly.</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="resources-download__compliance">Compliance Activities
              <ul>
                <li><strong>Surveillance Activity:</strong> Entire collection of surveillance activity reported to the CHPL. Available as a CSV file.</li>
                <li ng-if="$ctrl.showRestricted()"><strong>Surveillance (Basic):</strong> Entire collection of surveillance activity reported to the CHPL, with only basic details about non-conformities. Includes statistics on timeframes related to discovered non-conformities. Available as a CSV file.</li>
                <li><strong>Surveillance Non-Conformities:</strong> Collection of surveillance activities that resulted in a non-conformity. This is a subset of the data available in the above "Surveillance Activity" file. Available as a CSV file.</li>
                <li><strong>Direct Review Activity:</strong> Entire collection of Direct Review activity reported to the CHPL. Available as a CSV file.</li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
      <div class="col-sm-4 resources-download__download-collection" ng-form="$ctrl.downloadForm">
        <div class="resources-download__download-option">
          <label class="sr-only" for="downloadSelect">Select which collection of information to download</label>
          <select id="downloadSelect" name="downloadSelect" ng-model="$ctrl.downloadOption" class="form-control"
                  ng-options="o as o.display for o in $ctrl.downloadOptions">
          </select>
        </div>
        <div class="resources-download__download-data">
          <a type="button" class="btn btn-primary btn-block" href="{{ $ctrl.downloadOption.data }}" id="downloadChplLink"
             analytics-on="click" analytics-event="Download CHPL" analytics-properties="{ category: 'Download CHPL', label: $ctrl.downloadOption.label }"><i class="fa fa-cloud-download"></i> <span class="sr-only">Download</span> Data Collection</a>
        </div>
        <div class="resources-download__download-definition">
          <a type="button" class="btn btn-primary btn-block" href="{{ $ctrl.downloadOption.definition }}" id="downloadChplDefinitionLink"
             analytics-on="click" analytics-event="Download CHPL Definition" analytics-properties="{ category: 'Download CHPL', label: $ctrl.downloadOption.label }"><i class="fa fa-cloud-download"></i> <span class="sr-only">Download</span> Definition File</a>
        </div>
        <div class="resources-download__last-modified">
          <small>The XML definition files were last modified on October 19, 2020.</small>
        </div>
      </div>
    </div>
  </div>
</div>
