.resources-download__download-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 8px;
}

.resources-download__download-option,
.resources-download__last-modified {
    grid-column-end: span 2;
}
