#nonconformities-page .dropdown-menu {
    width: 150%;
    max-height: 300px;
    overflow: auto;
}

#nonconformities-page .dropdown-menu-large {
    min-width: 400px;
}

#nonconformities-page .dropdown-menu li>label {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
}

#nonconformities-page .dropdown-menu li select {
    display: block;
    padding: 3px 20px;
    margin: 3px 20px;
    clear: both;
}

#nonconformities-page .dropdown-menu>li>span>a {
    display: block;
    padding: 3px 20px;
    clear: both;
}

#nonconformities-page .dropdown-menu>li.form-horizontal>div.form-group {
    margin-left: 0;
    margin-right: 0;
}

#nonconformities-page .dropdown-menu>li>div>label.control-label {
    display: block;
    padding-left: 20px;
    clear: both;
    text-align: left;
}

#nonconformities-page .dropdown-menu>li>a {
    font-weight: 700;
}

#nonconformitiesFilter {
    min-width: 500px;
}

#nonconformitiesFilter .dropdown-menu {
    width: 100%;
}
