<div role="modal" aria-labeled-by="inspectLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel? Any changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="inspectLabel">Inspect Surveillance Activity</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 lead">
        <strong>
          <div ng-if="vm.surveillance.errorMessages.length > 0">
            <span class="text-danger">Error<span ng-if="vm.surveillance.errorMessages.length > 1">s</span>:</span>
            <ul>
              <li ng-repeat="error in vm.surveillance.errorMessages"><pre>{{ error }}</pre></li>
            </ul>
          </div>
          <div ng-if="vm.surveillance.warningMessages.length > 0">
            <span class="text-danger">Warning<span ng-if="vm.surveillance.warningMessages.length > 1">s</span>:</span>
            <ul>
              <li ng-repeat="error in vm.surveillance.warningMessages"><pre>{{ error }}</pre></li>
            </ul>
          </div>
        </strong>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success pull-right"
                ng-click="vm.editSurveillance()"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit</span></button>
        <strong>CHPL Product Number:</strong>{{ vm.surveillance.certifiedProduct.chplProductNumber }}<br />
        <strong>Start Date:</strong>{{ vm.surveillance.startDate | date : 'mediumDate' : 'UTC' }}<br />
        <strong>End Date:</strong>{{ vm.surveillance.endDate | date : 'mediumDate' : 'UTC' }}<br />
        <strong>Surveillance Type:</strong>{{ vm.surveillance.type.name }}<br />
        <strong>Number of sites surveilled:</strong>{{ vm.surveillance.randomizedSitesUsed ? vm.surveillance.randomizedSitesUsed : 'N/A' }}
        <strong>Surveillance initiated by:</strong>{{ vm.surveillance.authority === 'ROLE_ADMIN' ? 'ONC' : 'ONC-ACB' }}<br />
        <div class="row" ng-if="vm.workType !== 'initiate'">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Requirement</th>
              <th scope="col">Result</th>
              <th scope="col">Non-conformities</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="req in vm.surveillance.requirements | orderBy:vm.sortRequirements">
              <td>{{ req.type.name }}</td>
              <td>{{ req.requirement }}</td>
              <td>{{ req.result.name }}</td>
              <td>
                <span ng-if="req.nonconformities.length === 0">N/A</span>
                <button ng-if="req.nonconformities.length > 0" class="btn btn-ai-success" ng-click="vm.inspectNonconformities(req.nonconformities)"><i class="fa fa-eye"></i><span class="sr-only">Inspect</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div ng-if="vm.errorMessages && vm.errorMessages.length !== 0" class="row">
      <div class="col-sm-12 text-left bg-danger">
        Error in activity confirmation
        <ul>
          <li ng-repeat="error in vm.errorMessages">{{ error }}</li>
        </ul>
      </div>
    </div>
    <button class="btn btn-danger pull-left"
            confirm="Are you sure you wish to reject this Surveillance Activity?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.reject()"><i class="fa fa-trash-o"></i> Reject</button>
    <button class="btn btn-ai-success btn-large pull-right"
            confirm="Are you sure you wish to confirm this Surveillance Activity?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.confirm()"><i class="fa fa-cloud-upload"></i> Confirm</button>
  </div>
</div>
