<li class="text-center">Data categories to include</li>
<li ng-repeat="cat in $ctrl.categories">
  <label>
    <input type="checkbox" ng-model="cat.enabled">{{ cat.display }}
  </label>
</li>
<li class="text-center">
  <button ng-if="$ctrl.listings.length <= $ctrl.maxSize" ng-click="$ctrl.getCsv()"
          class="btn btn-ai btn-link">Download {{ $ctrl.listings.length }} result<span ng-if="$ctrl.listings.length !== 1">s</span> <i class="fa fa-download"></i></button>
  <span ng-if="$ctrl.listings.length > $ctrl.maxSize">Please reduce results to less than {{ $ctrl.maxSize }} to download them</span>
</li>
