<div style="background: white">
  <div ng-if="!vm.correctiveActionPlan || vm.correctiveActionPlan.length === 0">
    No Corrective Action Plan in effect
  </div>
  <table class="table" ng-if="vm.correctiveActionPlan.length > 0">
    <thead>
      <tr>
        <th scope="col">Is In Effect</th>
        <th scope="col">Surveillance Began</th>
        <th scope="col">Date of Determination</th>
        <th scope="col">Result of randomized surveillance</th>
        <th scope="col">Plan Approved</th>
        <th scope="col">Action Began</th>
        <th scope="col">Must be Completed</th>
        <th scope="col">Was Completed</th>
        <th scope="col">Surveillance Ended</th>
        <th ng-if="vm.isAdmin">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="cap in vm.correctiveActionPlan | orderBy: 'id'">
        <td>{{ cap.surveillanceEndDate ? 'No' : 'Yes' }}</td>
        <td>{{ cap.surveillanceStartDate | date : 'mediumDate' : 'UTC' }}</td>
        <td>{{ cap.noncomplianceDate | date : 'mediumDate' : 'UTC' }}</td>
        <td>{{ cap.randomizedSurveillance ? 'True' : 'False' }}</td>
        <td>{{ cap.approvalDate | date : 'mediumDate' : 'UTC' }}</td>
        <td>{{ cap.effectiveDate | date : 'mediumDate' : 'UTC' }}</td>
        <td>{{ cap.estimatedCompletionDate | date : 'mediumDate' : 'UTC' }}</td>
        <td>{{ cap.actualCompletionDate | date : 'mediumDate' : 'UTC' }}</td>
        <td>{{ cap.surveillanceEndDate | date : 'mediumDate' : 'UTC' }}</td>
        <td ng-if="vm.isAdmin">
          <button class="btn btn-ai-success" ng-click="vm.editCap(cap)">Edit</button>
        </td>
      </tr>
      <tr ng-if="cap.certifications.length > 0">
        <td colspan="{{ vm.isAdmin ? '10' : '9'}}">
          <table class="table table-striped" width="100%">
            <thead>
              <tr>
                <th scope="col">Certification Criteria</th>
                <th scope="col">Pass Rate</th>
                <th scope="col">ACB Summary</th>
                <th scope="col">Developer Summary</th>
                <th scope="col">Resolution</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cert in cap.certifications">
                <td>{{ cert.certificationCriterionNumber + ': ' + cert.certificationCriterionTitle }}</td>
                <td>{{ cap.randomizedSurveillance && cert.surveillancePassRate && cert.surveillanceSitesSurveilled ? cert.surveillancePassRate + ' / ' + cert.surveillanceSitesSurveilled : 'N/A' }}</td>
                <td>{{ cert.acbSummary }}</td>
                <td>{{ cert.developerSummary }}</td>
                <td>{{ cert.resolution }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="{{ vm.isAdmin ? '10' : '9'}}" ng-if="cap.documentation.length > 0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">File Name</th>
                <th scope="col">File Type</th>
                <th class="text-center">Download</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="doc in cap.documentation">
                <td>{{ doc.fileName }}</td>
                <td>{{ doc.fileType }}</td>
                <td ng-if="doc.id"><a type="button" class="btn btn-block btn-ai-success" href="{{ vm.API }}/corrective_action_plan/documentation/{{ doc.id }}?api_key={{ vm.API_KEY }}"><i class="fa fa-cloud-download"></i> Download</a></td>
                <td ng-if="!doc.id">File is pending</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-if="vm.isAdmin">
    <button class="btn btn-ai-success" ng-click="vm.initiateCap()">Initiate Surveillance Reporting</button>
  </div>
</div>
