<div>
  <div ng-if="!vm.isEditing">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Is In Effect</th>
          <th>Action Began</th>
          <th>Plan Approved</th>
          <th>Must be Completed</th>
          <th>Was Completed</th>
          <th>ACB Summary</th>
          <th>Developer Summary</th>
          <th>Resolution</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="cap in vm.correctiveActionPlan">
          <td><span ng-if="cap.completion_date_actual">No</span><span ng-if="!cap.completion_date_actual">Yes</span></td>
          <td>{{ cap.effective_date | date }}</td>
          <td>{{ cap.approval_date | date }}</td>
          <td>{{ cap.completion_date_estimated | date }}</td>
          <td>{{ cap.completion_date_actual | date }}</td>
          <td>{{ cap.acb_summary }}</td>
          <td>{{ cap.developer_summary }}</td>
          <td>{{ cap.resultion }}</td>
        </tr>
        <tr ng-repeat-end>
          <td colspan="8">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Certification Criteria</th>
                  <th>ACB Summary</th>
                  <th>Developer Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cert in cap.certifications">
                  <td>{{ cert.title + ': ' + cert.description}}</td>
                  <td>{{ cert.acb_summary }}</td>
                  <td>{{ cert.developer_summary }}</td>
                  <td>{{ cert.resolution }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="vm.isEditing">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">
            <button class="btn btn-block" ng-click="vm.addItem()">Add item</button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="item in vm.additionalSoftware track by $index">
          <td>{{ item.name }}</td>
          <td>{{ item.version }}</td>
          <td width="0">
            <button class="btn btn-success btn-block" ng-click="vm.editItem(item, $index)"><i class="fa fa-pencil-square-o"></i> Edit</button>
            <button class="btn btn-danger btn-block" ng-click="vm.removeItem($index)"><i class="fa fa-trash-o"></i> Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
