<div role="modal" aria-labeled-by="titleLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="titleLabel">Corrective Action Plan</h4>
  </div>
  <div class="modal-body">
    <div ng-if="vm.action === 'initiate'" ng-form="initiateForm" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-8" for="determinationDate">Date of determination of non-compliance</label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.cap.determinationDate" id="determinationDate"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-8" for="approvalDate">Date of approval of Corrective Action Plan</label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.cap.approvalDate" id="approvalDate"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-8" for="beginDate">Date corrective action began</label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.cap.beginDate" id="beginDate"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-8" for="requiredEndDate">Date corrective action must be completed</label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.cap.requiredEndDate" id="requiredEndDate"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-8" for="actualEndDate">Date corrective action was completed</label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.cap.actualEndDate" id="actualEndDate"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="deficiencySummary">Summary of deficiency or deficiencies</label>
        <div class="col-sm-9">
          <textarea class="form-control" ng-model="vm.cap.deficiencySummary" id="deficiencySummary"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="developerExplanation">Developer's explanation of deficiency or deficiencies</label>
        <div class="col-sm-9">
          <textarea class="form-control" ng-model="vm.cap.developerExplanation" id="developerExplanation"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="resolutionDescription">Description of the resolution</label>
        <div class="col-sm-9">
          <textarea class="form-control" ng-model="vm.cap.resolutionDescription" id="resolutionDescription"></textarea>
        </div>
      </div>
      <div class="form-group" ng-repeat="cert in vm.cap.certs">
        <div class="col-sm-3">
          <label for="cert{{ cert.id }}_chk">{{ cert.number }}: {{ cert.title }}</label>
        </div>
        <div class="col-sm-1">
          <input type="checkbox" ng-model="cert.error" id="cert{{ cert.id}}_chk"></input>
        </div>
        <div class="col-sm-8">
          <label for="cert{{ cert.id }}_desc">Summary of deficiency</label>
          <textarea class="form-control" ng-model="cert.description" id="cert{{ cert.id }}_desc"></textarea>
        </div>
      </div>
    </div>
<!--
    <div class="form-group">
      <label for="swName">Additional Software <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.sw.name" id="swName"></input>
    </div>
    <div class="form-group">
      <label for="swVersion">Version <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.sw.version" id="swVersion"></input>
    </div>
    -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-large pull-right"
            ng-if="vm.action === 'initiate'"
            ng-disabled="initiateForm.$invalid"
            confirm="Are you sure you wish to initiate this Corrective Action Plan?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.save()"><i class="fa fa-save"></i> Initiate</button>
    <button class="btn btn-warning btn-large pull-left"
            confirm="Are you sure you wish cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-trash-o"></i> Cancel</button>
  </div>
</div>
