<div class="col-sm-12" ng-form="vm.editForm">
  <div ng-if="vm.isEditing || vm.cert.success || vm.viewAll">
    <i class="fa fa-lg" ng-class="{'fa-check-square-o': vm.cert.success && !vm.cert.hasVersion, 'fa-square-o': !vm.cert.success}"></i>
    <span class="sr-only">{{ vm.cert.success ? 'meets' : 'does not meet'}}</span>
    {{ vm.cert.number }}: {{ vm.cert.title }}
    <button ng-if="vm.isEditing" class="btn btn-ai-success btn-sm pull-right" ng-click="vm.editCert()"><i class="fa fa-pencil-square-o"> Edit</i></button>
    <a href class="pull-right" ng-click="vm.showDetails = !vm.showDetails" aria-expanded="{{ vm.showDetails }}" ng-if="vm.cert.success && vm.cert.additionalSoftware !== null">{{ vm.showDetails ? 'Hide' : 'View' }} details<span class="sr-only"> for {{ vm.cert.number }}</span></a>
    <div ng-if="vm.showDetails">
      <div ng-if="vm.cert.additionalSoftware && vm.cert.additionalSoftware.length > 0">
        <ai-additional-software additional-software="vm.cert.additionalSoftware" is-editing="false"></ai-additional-software>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.cert.gap !== null">
            <td>GAP</td>
            <td>{{ vm.cert.gap ? 'True' : 'False' }}</td>
          </tr>
          <tr ng-if="vm.cert.testStandards !== null">
            <td>Standard</td>
            <td ng-if="vm.cert.testStandards && vm.cert.testStandards.length > 0"><div ng-repeat="m in vm.cert.testStandards">{{ m.testStandardName }}</div></td>
            <td ng-if="!vm.cert.testStandards || vm.cert.testStandards.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.g1Success">
            <td>Measure Successfully Tested for G1</td>
            <td>True</td>
          </tr>
          <tr ng-if="vm.cert.g2Success">
            <td>Measure Successfully Tested for G2</td>
            <td>True</td>
          </tr>
          <tr ng-if="vm.cert.testFunctionality !== null">
            <td>Functionality Tested</td>
            <td ng-if="vm.cert.testFunctionality && vm.cert.testFunctionality.length > 0"><div ng-repeat="m in vm.cert.testFunctionality"><span ng-class="{'bg-danger': m.testFunctionalityId === null}">{{ m.name }}<span ng-if="m.testFunctionalityId === null"> Warning: Functionality tested not found in system, it will not be saved</span></span></div></td>
            <td ng-if="!vm.cert.testFunctionality || vm.cert.testFunctionality.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.testProcedures !== null">
            <td>Test procedure version</td>
            <td ng-if="vm.cert.testProcedures && vm.cert.testProcedures.length > 0"><div ng-repeat="m in vm.cert.testProcedures">{{ m.testProcedureVersion }}</div></td>
            <td ng-if="!vm.cert.testProcedures || vm.cert.testProcedures.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.testToolsUsed !== null">
            <td>Test tool</td>
            <td ng-if="vm.cert.testToolsUsed && vm.cert.testToolsUsed.length > 0"><div ng-repeat="m in vm.cert.testToolsUsed"><span ng-class="{'bg-danger': m.testToolId === null}">Tool: {{ m.testToolName }}; Version: {{ m.testToolVersion ? m.testToolVersion : 'N/A' }}<span ng-if="m.testToolId === null"> Warning: Tool not found in system, it will not be saved</span></span></div></td>
            <td ng-if="!vm.cert.testToolsUsed || vm.cert.testToolsUsed.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.testDataUsed !== null">
            <td>Test data used</td>
            <td ng-if="vm.cert.testDataUsed && vm.cert.testDataUsed.length > 0"><div ng-repeat="m in vm.cert.testDataUsed">Version: {{ m.version }}; Alteration: {{ m.alteration ? m.alteration : 'N/A' }}</div></td>
            <td ng-if="!vm.cert.testDataUsed || vm.cert.testDataUsed.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.apiDocumentation !== null">
            <td>API Documentation</td>
            <td ng-if="vm.cert.apiDocumentation"><ai-a href="{{ vm.cert.apiDocumentation }}" text="{{ vm.cert.apiDocumentation }}"></ai-a></td>
            <td ng-if="!vm.cert.apiDocumentation">None</td>
          </tr>
          <tr ng-if="vm.cert.privacySecurityFramework !== null">
            <td>Privacy &amp; Security Framework</td>
            <td>{{ vm.cert.privacySecurityFramework }}</td>
          </tr>
          <tr ng-if="vm.cert.sed !== null">
            <td>SED</td>
            <td>{{ vm.cert.sed ? 'True' : 'False' }} <a href ng-if="vm.cert.sed" aria-expanded="{{ vm.showSed }}" ng-click="vm.showSed = !vm.showSed">({{ vm.showSed ? 'Hide' : 'View' }}  Details)</a></td>
          </tr>
          <tr ng-if="vm.showSed" ng-if="vm.cert.ucdProcessSelected !== null">
            <td>UCD Process Selected</td>
            <td ng-if="vm.cert.ucdProcesses && vm.cert.ucdProcesses.length > 0"><div ng-repeat="m in vm.cert.ucdProcesses">Process: {{ m.ucdProcessName }}<br />Extra details: {{ m.ucdProcessDetails ? m.ucdProcessDetails : 'N/A' }}</div></td>
            <td ng-if="!vm.cert.ucdProcesses || vm.cert.ucdProcesses.length === 0">None</td>
          </tr>
          <tr ng-if="vm.showSed && vm.cert.testTasks && vm.cert.testTasks.length > 0">
            <td colspan="2">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th scope="col">Task Description</th>
                    <th scope="col">Path Deviation Observed</th>
                    <th scope="col">Path Deviation Optimal</th>
                    <th scope="col">Rating Scale</th>
                    <th scope="col">Time Average</th>
                    <th scope="col">Time Deviation Observed Average</th>
                    <th scope="col">Time Deviation Optimal Average</th>
                    <th scope="col">Time Standard Deviation</th>
                    <th scope="col">Number of Participants</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat-start="task in vm.cert.testTasks">
                    <td>{{ task.description }}</td>
                    <td>{{ task.taskPathDeviationObserved }}</td>
                    <td>{{ task.taskPathDeviationOptimal }}</td>
                    <td>{{ task.taskRatingScale }}</td>
                    <td>{{ task.taskTimeAvg }}</td>
                    <td>{{ task.taskTimeDeviationObservedAvg }}</td>
                    <td>{{ task.taskTimeDeviationOptimalAvg }}</td>
                    <td>{{ task.taskTimeStddev }}</td>
                    <td>{{ task.testParticipants.length }} <a href aria-expanded="task.showParticipants" ng-click="task.showParticipants = !task.showParticipants">({{ task.showParticipants ? 'Hide' : 'View' }} Participant Details</a></td>
                  </tr>
                  <tr ng-repeat-end ng-if="task.showParticipants">
                    <td colspan="9">
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <th scope="col">Age</th>
                            <th scope="col">Assistive Technology Needs</th>
                            <th scope="col">Computer Experience (Months)</th>
                            <th scope="col">Education Type</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Occupation</th>
                            <th scope="col">Product Experience (Months)</th>
                            <th scope="col">Professional Experience (Months)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="pers in task.testParticipants">
                            <td>{{ pers.age }}</td>
                            <td>{{ pers.assistiveTechnologyNeeds }}</td>
                            <td>{{ pers.computerExperienceMonths }}</td>
                            <td>{{ pers.educationTypeName }}</td>
                            <td>{{ pers.gender }}</td>
                            <td>{{ pers.occupation }}</td>
                            <td>{{ pers.productExperienceMonths }}</td>
                            <td>{{ pers.professionalExperienceMonths }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
