<div class="row">
  <div class="col-sm-12">
    <p class="">
      <input type="checkbox" ng-model="vm.viewAllCerts" id="viewAllCerts"></input>
      <label for="viewAllCerts">See all Certification Criteria / Clinical Quality Measures</label>
    </p>
    <div class="panel panel-ai">
      <div class="panel-heading">
        <a href="" ng-click="vm.showPanel('cert')"><i class="fa fa-lg" ng-class="vm.panelShown === 'cert' ? 'fa-caret-down' : 'fa-caret-right'"></i> Certification Criteria<span class="pull-right">({{ vm.countCerts }} met)</span></a>
      </div>
      <div class="panel-body animate-if" ng-if="vm.panelShown === 'cert'">
        <div ng-if="vm.viewAllCerts || n.success" ng-class="vm.isEditing || vm.certDetails === n.number ? 'col-md-12' : 'col-md-4'" ng-repeat="n in vm.certs | orderBy:'number' track by $index">
          <p ng-if="!vm.isEditing">
            <i class="fa fa-lg" ng-class="{'fa-check-square-o': n.success && !n.hasVersion, 'fa-square-o': !n.success}"></i>
            <span class="sr-only">{{ n.success ? 'meets' : 'does not meet'}}</span>
            {{ n.number }}: {{ n.title }} <a href class="pull-right" ng-click="vm.showDetails(n.number)" ng-if="n.success">{{ vm.certDetails === n.number ? 'Hide' : 'View' }} details</a>
            <div ng-if="vm.certDetails === n.number">
              <span ng-if="n.additionalSoftware && n.additionalSoftware.length > 0"><br />Certification met via:
                <ai-additional-software additional-software="n.additionalSoftware" is-editing="false"></ai-additional-software>
              </span>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>GAP</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <td>Privacy and Security Framework</td>
                    <td>Approach 1</td>
                  </tr>
                  <tr>
                    <td>Functionality Tested</td>
                    <td>Optional (a)(1)(ii): Include a "reason for order" field.</td>
                  </tr>
                  <tr>
                    <td>Measure Successfully Tested for G1</td>
                    <td>True</td>
                  </tr>
                  <tr>
                    <td>Measure Successfully Tested for G2</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <td>Test procedure version</td>
                    <td>v1</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center"><a href ng-click="vm.showSed = !vm.showSed">{{ vm.showSed ? 'Hide' : 'View' }} SED Details</a></td>
                  </tr>
                  <tr ng-if="vm.showSed">
                    <td>UCD Process Selected</td>
                    <td>NIST 7741</td>
                  </tr>
                  <tr ng-if="vm.showSed">
                    <td>UCD Process Details</td>
                    <td>N/A</td>
                  </tr>
                  <tr ng-if="vm.showSed">
                    <td colspan="2">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Participant Age</th>
                            <th>Participant Sex</th>
                            <th>Participant Education</th>
                            <th>Participant Occupation/Role</th>
                            <th>Participant Computer Experience</th>
                            <th>Participant Product Experience</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr><td>42</td><td>Male</td><td>No Degree</td><td>Clinical Assistant/Nephrology</td><td>Proficient</td><td>No</td></tr>
                          <tr><td>32</td><td>Female</td><td>Bachelor's Degree</td><td>Clinical Manager (RN) Nephrology</td><td>Proficient</td><td>No</td></tr>
                          <tr><td>45</td><td>Female</td><td>Master Degree</td><td>Physician's Assistant/Nephrology</td><td>Proficient</td><td>Yes</td></tr>
                          <tr><td>56</td><td>Female</td><td>No Degree</td><td>Clinical Assistant/Nephrology</td><td>Proficient</td><td>Yes</td></tr>
                          <tr><td>28</td><td>Male</td><td>Master Degree</td><td>Physician's Assistant/Nephrology</td><td>Proficient</td><td>No</td></tr>
                          <tr><td>47</td><td>Male</td><td>Medical degree</td><td>MD/Nephrology</td><td>Novice</td><td>Yes</td></tr>
                          <tr><td>23</td><td>Female</td><td>Bachelor's Degree</td><td>RN/Pediatrics</td><td>Proficient</td><td>No</td></tr>
                          <tr><td>48</td><td>Female</td><td>Associate Degree</td><td>RN/Pediatrics</td><td>Novice</td><td>No</td></tr>
                          <tr><td>62</td><td>Female</td><td>Associate Degree</td><td>Triage Coordinator</td><td>Novice</td><td>No</td></tr>
                          <tr><td>36</td><td>Female</td><td>Bachelor's Degree</td><td>(RN)OB/GYN</td><td>Proficient</td><td>No</td></tr>
                        </tbody>
                      </table>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Task Description</th>
                            <th>Task Success (%)</th>
                            <th>Task Failures (%)</th>
                            <th>Task Standard Deviations (%)</th>
                            <th>Task Performance Time</th>
                            <th>User Satisfaction Rating</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr><td>Enable a user to electronically record, change, and access the following order types (i) Medications; (ii) Laboratory; and (iii) Radiology/imaging.</td><td>90%</td><td>5%</td><td>16%</td><td>1.5 min</td><td>4</td></tr>
                          <tr><td>Task 2: Order specific medication and then change the order based on the information provided.</td><td>88%</td><td>6%</td><td>19%</td><td>2 min</td><td>4</td></tr>                          <tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </p>
          <p ng-if="vm.isEditing">
            <input type="checkbox" ng-model="n.success" id="data_{{n.number}}"></input>
            <label for="data_{{n.number}}">{{ n.number }}: {{ n.title }}</label>
            <br />Certification met via additional software:
            <ai-additional-software additional-software="n.additionalSoftware" is-editing="true"></ai-additional-software>
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-ai">
      <div class="panel-heading">
        <a href="" ng-click="vm.showPanel('cqm')"><i class="fa fa-lg" ng-class="vm.panelShown === 'cqm' ? 'fa-caret-down' : 'fa-caret-right'"></i> Clinical Quality Measures<span class="pull-right">({{ vm.countCqms }} met)</span></a>
      </div>
      <div class="panel-body animate-if" ng-if="vm.panelShown === 'cqm'">
        <div ng-if="vm.viewAllCerts || n.success" ng-class="vm.isEditing ? 'col-md-12' : 'col-md-4'" ng-repeat="n in vm.cqms | orderBy:'id' track by $index">
          <p ng-if="!vm.isEditing">
            <i class="fa fa-lg" ng-class="{'fa-check-square-o': n.success && !n.cmsId, 'fa-square-o': !n.success && n.successVersions.length === 0}"></i>
            <span class="sr-only">{{ n.success ? 'meets' : 'does not meet'}}</span>
            <b ng-if="n.cmsId && n.successVersions.length > 0">{{ n.successVersions.sort().join(', ') }}</b> <span ng-if="!n.cmsId">NQF-{{ n.nqfNumber }}</span><span ng-if="n.cmsId">{{ n.cmsId }}</span>: {{ n.title }}
          </p>
          <p ng-if="vm.isEditing">
            <input type="checkbox" ng-model="n.success" ng-if="!n.cmsId" id="data_{{n.id}}"></input>
            <span class="cert-bloc" ng-if="n.cmsId">
              <select ng-model="n.successVersions" multiple data-ng-attr-size="{{ n.allVersions.length + 1 }}" id="data_{{n.id}}"
                      ng-options="version for version in n.allVersions">
                <option value=""></option>
              </select>
            </span>
            <label for="data_{{n.id}}"><span ng-if="!n.cmsId">NQF-{{ n.nqfNumber }}</span><span ng-if="n.cmsId">{{ n.cmsId }}</span>: {{ n.title }}</label>
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-ai">
      <div class="panel-heading">
        <a href="" ng-click="vm.showPanel('additional')"><i class="fa fa-lg" ng-class="vm.panelShown === 'additional' ? 'fa-caret-down' : 'fa-caret-right'"></i> Additional Information</a>
      </div>
      <div class="panel-body animate-if" ng-if="vm.panelShown === 'additional'">
        <h4>Practice Type</h4>
        <p>{{ vm.product.practiceType.name }}</p>
        <h4>Inherited Certification Status</h4>
        <p>{{ vm.product.ics ? vm.product.ics : 'N/A' }} </p>
        <h4>Other ACB</h4>
        <p>{{ vm.product.otherAcb ? vm.product.otherAcb : 'N/A' }}</p>
        <h4>Terms of Use</h4>
        <p ng-if="vm.product.termsOfUse"><a href="{{ vm.product.termsOfUse }}">{{ vm.product.termsOfUse }}</a></p>
        <p ng-if="!vm.product.termsOfUse">N/A</p>
        <h4>API Documentation</h4>
        <p ng-if="vm.product.apiDocumentation"><a href="{{ vm.product.apiDocumentation }}">{{ vm.product.apiDocumentation }}</a></p>
        <p ng-if="!vm.product.apiDocumentation">N/A</p>
        <span ng-if="!vm.isConfirming">
          <h4>Report File Location</h4>
          <ai-a ng-if="vm.reportFileLocation" href="{{ vm.reportFileLocation }}" text="{{ vm.reportFileLocation }}"></ai-a>
          <p ng-if="!vm.reportFileLocation">No report on file</p>
        </span>
      </div>
    </div>
  </div>
</div>
