<div role="modal" aria-labeled-by="modalLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalLabel">Certification Criteria: {{ vm.cert.number }}</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <input type="checkbox" ng-model="vm.cert.success" id="data{{ vm.cert.number }}" name="data"></input>
    <label class="control-label" for="data{{ vm.cert.number }}">{{ vm.cert.number }}: {{ vm.cert.title }}</label>
    <div ng-if="vm.cert.success">
      <input type="checkbox" ng-model="vm.cert.metViaAdditionalSoftware" id="data_additionalSoftware{{ vm.cert.number }}" name="data_additionalSoftware"></input>
      <label class="control-label" for="data_additionalSoftware{{ vm.cert.number }}">Certification met via additional software</label>
      <ai-additional-software additional-software="vm.cert.additionalSoftware" is-editing="true" ng-if="vm.cert.metViaAdditionalSoftware"></ai-additional-software>
    </div>
    <table class="table table-striped" ng-if="vm.cert.success">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label class="control-label" for="data_gap{{ vm.cert.number }}">GAP</label></td>
          <td><select class="form-control input-sm" id="data_gap{{ vm.cert.number }}" name="data_gap" ng_model="vm.cert.gap" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr>
          <td>Standard</td>
          <td><ai-array item-type="Standard" items="vm.cert.testStandards" key="testStandardName"></ai-array></td>
        </tr>
        <tr>
          <td><label class="control-label" for="data_g1Success{{ vm.cert.number }}">Measure Successfully Tested for G1</label></td>
          <td><select class="form-control input-sm" id="data_g1Success{{ vm.cert.number }}" name="data_g1Success" ng_model="vm.cert.g1Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr>
          <td><label class="control-label" for="data_g2Success{{ vm.cert.number }}">Measure Successfully Tested for G2</label></td>
          <td><select class="form-control input-sm" id="data_g2Success{{ vm.cert.number }}" name="data_g2Success" ng_model="vm.cert.g2Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr>
          <td>Functionality Tested</td>
          <td><ai-array item-type="Functionality Tested" items="vm.cert.testFunctionality" key="name"></ai-array></td>
        </tr>
        <tr>
          <td>Test procedure version</td>
          <td><ai-array item-type="Test Procedure Version" items="vm.cert.testProcedures" key="testProcedureVersion"></ai-array></td>
        </tr>
        <tr>
          <td>Test tool</td>
          <td><ai-array item-type="Test Tool & Version" items="vm.cert.testToolsUsed" key="testToolName" key-second="testToolVersion"></ai-array></td>
        </tr>
        <tr>
          <td>Test data</td>
          <td><ai-array item-type="Test Data Version & Alteration" items="vm.cert.testDataUsed" key="version" key-second="alteration"></ai-array></td>
        </tr>
        <tr>
          <td><label class="control-label" for="data_api{{ vm.cert.number }}">API Documentation</label></td>
          <td><input class="form-control input-sm" type="url" id="data_api{{ vm.cert.number }}" name="data_apiDocumentation" ng-model="vm.cert.apiDocumentation"></input></td>
        </tr>
        <tr>
          <td><label class="control-label" for="data_psFramework{{ vm.cert.number }}">Privacy &amp; Security Framework</label></td>
          <td><select class="form-control input-sm" id="data_psFramework{{ vm.cert.number }}" name="data_psFramework" ng_model="vm.cert.privacySecurityFramework">
              <option value="Approach 1">Approach 1</option>
              <option value="Approach 2">Approach 2</option>
          </select></td>
        </tr>
        <tr>
          <td><label class="control-label" for="data_sed{{ vm.cert.number }}">SED</label></td>
          <td><select class="form-control input-sm" id="data_sed{{ vm.cert.number }}" name="data_sed" ng_model="vm.cert.sed" ng-options="b.value as b.name for b in vm.options" ng-disabled="vm.cert.certificationEdition.name === '2015'"></select></td>
        </tr>
        <tr>
          <td>UCD Process</td>
          <td><ai-array item-type="UCD Process & Details" items="vm.cert.ucdProcesses" key="ucdProcessName" key-second="ucdProcessDetails"></ai-array></td>
        </tr>
        <tr ng-if="vm.cert.sed">
          <td colspan="2">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th scope="col">Task Description</th>
                  <th scope="col">Path Deviation Observed</th>
                  <th scope="col">Path Deviation Optimal</th>
                  <th scope="col">Rating Scale</th>
                  <th scope="col">Time Average</th>
                  <th scope="col">Time Deviation Observed Average</th>
                  <th scope="col">Time Deviation Optimal Average</th>
                  <th scope="col">Time Standard Deviation</th>
                  <th scope="col">Number of Participants</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="10"><button class="btn btn-ai-success btn-sm pull-right" ng-click="vm.addTask()"><i class="fa fa-plus"></i> Add Task</button></td>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat-start="task in vm.cert.testTasks track by $index">
                  <td>{{ task.description }}</td>
                  <td>{{ task.taskPathDeviationObserved }}</td>
                  <td>{{ task.taskPathDeviationOptimal }}</td>
                  <td>{{ task.taskRatingScale }}</td>
                  <td>{{ task.taskTimeAvg }}</td>
                  <td>{{ task.taskTimeDeviationObservedAvg }}</td>
                  <td>{{ task.taskTimeDeviationOptimalAvg }}</td>
                  <td>{{ task.taskTimeStddev }}</td>
                  <td>{{ task.testParticipants ? task.testParticipants.length : 0 }} <a href aria-expanded="task.showParticipants" ng-click="task.showParticipants = !task.showParticipants">({{ task.showParticipants ? 'Hide' : 'View' }} Participant Details)</a></td>
                  <td>
                    <button class="btn btn-ai-success btn-sm" ng-click="vm.editTask(task, $index)"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="vm.removeTask($index)"><i class="fa fa-trash"></i> Remove</button>
                  </td>
                </tr>
                <tr ng-repeat-end ng-if="task.showParticipants">
                  <td colspan="10">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th scope="col">Age</th>
                          <th scope="col">Assistive Technology Needs</th>
                          <th scope="col">Computer Experience (Months)</th>
                          <th scope="col">Education Type</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Occupation</th>
                          <th scope="col">Product Experience (Months)</th>
                          <th scope="col">Professional Experience (Months)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="pers in task.testParticipants track by $index">
                          <td>{{ pers.age }}</td>
                          <td>{{ pers.assistiveTechnologyNeeds }}</td>
                          <td>{{ pers.computerExperienceMonths }}</td>
                          <td>{{ pers.educationTypeName }}</td>
                          <td>{{ pers.gender }}</td>
                          <td>{{ pers.occupation }}</td>
                          <td>{{ pers.productExperienceMonths }}</td>
                          <td>{{ pers.professionalExperienceMonths }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-ai-success btn-block" ng-click="vm.save()">Save Certification Criteria</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
