<div class="col-sm-12" ng-form="vm.editForm">
  <div ng-if="!vm.isEditing && (vm.cert.success || vm.viewAll)">
    <i class="fa fa-lg" ng-class="{'fa-check-square-o': vm.cert.success && !vm.cert.hasVersion, 'fa-square-o': !vm.cert.success}"></i>
    <span class="sr-only">{{ vm.cert.success ? 'meets' : 'does not meet'}}</span>
    {{ vm.cert.number }}: {{ vm.cert.title }} <a href class="pull-right" ng-click="vm.showDetails = !vm.showDetails" ng-if="vm.cert.success && vm.cert.additionalSoftware !== null">{{ vm.showDetails ? 'Hide' : 'View' }} details</a>
    <div ng-if="vm.showDetails">
      <div ng-if="vm.cert.additionalSoftware && vm.cert.additionalSoftware.length > 0">
        <ai-additional-software additional-software="vm.cert.additionalSoftware" is-editing="false"></ai-additional-software>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.cert.gap !== null">
            <td>GAP</td>
            <td>{{ vm.cert.gap ? 'True' : 'False' }}</td>
          </tr>
          <tr ng-if="vm.cert.testStandards !== null">
            <td>Standard</td>
            <td ng-if="vm.cert.testStandards && vm.cert.testStandards.length > 0"><div ng-repeat="m in vm.cert.testStandards">{{ m.testStandardName }}</div></td>
            <td ng-if="!vm.cert.testStandards || vm.cert.testStandards.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.g1Success">
            <td>Measure Successfully Tested for G1</td>
            <td>True</td>
          </tr>
          <tr ng-if="vm.cert.g2Success">
            <td>Measure Successfully Tested for G2</td>
            <td>True</td>
          </tr>
          <tr ng-if="vm.cert.testFunctionality !== null">
            <td>Functionality Tested</td>
            <td ng-if="vm.cert.testFunctionality && vm.cert.testFunctionality.length > 0"><div ng-repeat="m in vm.cert.testFunctionality">{{ m.name }}</div></td>
            <td ng-if="!vm.cert.testFunctionality || vm.cert.testFunctionality.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.testProcedures !== null">
            <td>Test procedure version</td>
            <td ng-if="vm.cert.testProcedures && vm.cert.testProcedures.length > 0"><div ng-repeat="m in vm.cert.testProcedures">{{ m.testProcedureVersion }}</div></td>
            <td ng-if="!vm.cert.testProcedures || vm.cert.testProcedures.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.testToolsUsed !== null">
            <td>Test tool</td>
            <td ng-if="vm.cert.testToolsUsed && vm.cert.testToolsUsed.length > 0"><div ng-repeat="m in vm.cert.testToolsUsed">Tool: {{ m.testToolName }}; Version: {{ m.testToolVersion ? m.testToolVersion : 'N/A' }}</div></td>
            <td ng-if="!vm.cert.testToolsUsed || vm.cert.testToolsUsed.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.testDataUsed !== null">
            <td>Test data used</td>
            <td ng-if="vm.cert.testDataUsed && vm.cert.testDataUsed.length > 0"><div ng-repeat="m in vm.cert.testDataUsed">Version: {{ m.version }}; Alteration: {{ m.alteration ? m.alteration : 'N/A' }}</div></td>
            <td ng-if="!vm.cert.testDataUsed || vm.cert.testDataUsed.length === 0">None</td>
          </tr>
          <tr ng-if="vm.cert.sed !== null">
            <td>SED</td>
            <td>{{ vm.cert.sed ? 'True' : 'False' }} <a href ng-if="vm.cert.sed" ng-click="vm.showSed = !vm.showSed">({{ vm.showSed ? 'Hide' : 'View' }}  Details)</a></td>
          </tr>
          <tr ng-if="vm.showSed" ng-if="vm.cert.ucdProcessSelected !== null">
            <td>UCD Process Selected</td>
            <td ng-if="vm.cert.ucdProcesses && vm.cert.ucdProcesses.length > 0"><div ng-repeat="m in vm.cert.ucdProcesses">Process: {{ m.ucdProcessName }}<br />Extra details: {{ m.ucdProcessDetails ? m.ucdProcessDetails : 'N/A' }}</div></td>
            <td ng-if="!vm.cert.ucdProcesses || vm.cert.ucdProcesses.length === 0">None</td>
          </tr>
          <tr ng-if="vm.showSed">
            <td colspan="2">
              <table class="table" ng-if="vm.cert.testTasks && vm.cert.testTasks.length > 0">
                <thead>
                  <tr>
                    <th>Task Description</th>
                    <th>Task Success</th>
                    <th>Path Deviation - Mean</th>
                    <th>Task Time</th>
                    <th>Errors</th>
                    <th>Task Rating</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <table class="table" ng-if="vm.cert.testParticipants && vm.cert.testParticipants.length > 0">
                <thead>
                  <tr>
                    <th>Participant Occupation/Role</th>
                    <th>Participant Education</th>
                    <th>Participant professional Experience</th>
                    <th>Participant Gender</th>
                    <th>Participant Age</th>
                    <th>Participant Computer Experience</th>
                    <th>Participant Product Experience</th>
                    <th>Participant Assistive Technology Needs</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div ng-if="vm.isEditing">
    <input type="checkbox" ng-model="vm.cert.success" id="data{{ vm.cert.number }}" name="data"></input>
    <label for="data{{ vm.cert.number }}">{{ vm.cert.number }}: {{ vm.cert.title }}</label>
    <div ng-if="vm.cert.success">
      <input type="checkbox" ng-model="vm.cert.metViaAdditionalSoftware" id="data_additionalSoftware{{ vm.cert.number }}" name="data_additionalSoftware"></input>
      <label for="data_additionalSoftware{{ vm.cert.number }}">Certification met via additional software</label>
      <ai-additional-software additional-software="vm.cert.additionalSoftware" is-editing="true" ng-if="vm.cert.metViaAdditionalSoftware"></ai-additional-software>
    </div>
    <table class="table table-striped" ng-if="vm.cert.success">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label for="data_gap{{ vm.cert.number }}">GAP</label></td>
          <td><select id="data_gap{{ vm.cert.number }}" name="data_gap" ng_model="vm.cert.gap" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr>
          <td>Standard</td>
          <td><ai-array item-type="Standard" items="vm.cert.testStandards" key="testStandardNumber"></ai-array></td>
        </tr>
        <tr>
          <td><label for="data_g1Success{{ vm.cert.number }}">Measure Successfully Tested for G1</label></td>
          <td><select id="data_g1Success{{ vm.cert.number }}" name="data_g1Success" ng_model="vm.cert.g1Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr>
          <td><label for="data_g2Success{{ vm.cert.number }}">Measure Successfully Tested for G2</label></td>
          <td><select id="data_g2Success{{ vm.cert.number }}" name="data_g2Success" ng_model="vm.cert.g2Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr>
          <td>Functionality Tested</td>
          <td><ai-array item-type="Functionality Tested" items="vm.cert.testFunctionality" key="number"></ai-array></td>
        </tr>
        <tr>
          <td>Test procedure version</td>
          <td><ai-array item-type="Test Procedure Version" items="vm.cert.testProcedures" key="testProcedureVersion"></ai-array></td>
        </tr>
        <tr>
          <td>Test tool</td>
          <td><ai-array item-type="Test Tool & Version" items="vm.cert.testToolsUsed" key="testToolName" key-second="testToolVersion"></ai-array></td>
        </tr>
        <tr>
          <td>Test data</td>
          <td><ai-array item-type="Test Data Version & Alteration" items="vm.cert.testDataUsed" key="version" key-second="alteration"></ai-array></td>
        </tr>
        <tr>
          <td><label for="data_sed{{ vm.cert.number }}">SED</label></td>
          <td><select id="data_sed{{ vm.cert.number }}" name="data_sed" ng_model="vm.cert.sed" ng-options="b.value as b.name for b in vm.options" ng-disabled="vm.cert.certificationEdition.name === '2015'"></select></td>
        </tr>
        <tr>
          <td>UCD Process</td>
          <td><ai-array item-type="UCD Process & Details" items="vm.cert.ucdProcesses" key="ucdProcessName" key-second="ucdProcessDetails"></ai-array></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
