<div role="modal" aria-labeled-by="sedLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="sedLabel">SED Task</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="vm.editForm">
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_description">Task Description <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control input-sm" id="data_description" name="data_description" ng-model="vm.task.description" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_description.$touched && vm.editForm.data_description.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskErrors">Task Errors <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskErrors" name="data_taskErrors" ng-model="vm.task.taskErrors" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskErrors.$touched && vm.editForm.data_taskErrors.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskErrorsStddev">Task Errors Standard Deviation <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskErrorsStddev" name="data_taskErrorsStddev" ng-model="vm.task.taskErrorsStddev" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskErrorsStddev.$touched && vm.editForm.data_taskErrorsStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskPathDeviationObserved">Path Deviation Observed <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskPathDeviationObserved" name="data_taskPathDeviationObserved" ng-model="vm.task.taskPathDeviationObserved" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskPathDeviationObserved.$touched && vm.editForm.data_taskPathDeviationObserved.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskPathDeviationOptimal">Path Deviation Optimal <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskPathDeviationOptimal" name="data_taskPathDeviationOptimal" ng-model="vm.task.taskPathDeviationOptimal" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskPathDeviationOptimal.$touched && vm.editForm.data_taskPathDeviationOptimal.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskRating">Task Rating <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskRating" name="data_taskRating" ng-model="vm.task.taskRating" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskRating.$touched && vm.editForm.data_taskRating.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskRatingStdDev">Task Rating Standard Deviation <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskRatingStdDev" name="data_taskRatingStdDev" ng-model="vm.task.taskRatingStdDev" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskRatingStdDev.$touched && vm.editForm.data_taskRatingStdDev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskRatingScale">Rating Scale <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control input-sm" id="data_taskRatingScale" name="data_taskRatingScale" ng-model="vm.task.taskRatingScale" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskRatingScale.$touched && vm.editForm.data_taskRatingScale.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskSuccessAverage">Task Success Average <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskSuccessAverage" name="data_taskSuccessAverage" ng-model="vm.task.taskSuccessAverage" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskSuccessAverage.$touched && vm.editForm.data_taskSuccessAverage.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskSuccessStddev">Task Success Standard Deviation <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskSuccessStddev" name="data_taskSuccessStddev" ng-model="vm.task.taskSuccessStddev" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskSuccessStddev.$touched && vm.editForm.data_taskSuccessStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskTimeAvg">Time Average <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskTimeAvg" name="data_taskTimeAvg" ng-model="vm.task.taskTimeAvg" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeAvg.$touched && vm.editForm.data_taskTimeAvg.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskTimeDeviationObservedAvg">Time Deviation Observed Average <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskTimeDeviationObservedAvg" name="data_taskTimeDeviationObservedAvg" ng-model="vm.task.taskTimeDeviationObservedAvg" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeDeviationObservedAvg.$touched && vm.editForm.data_taskTimeDeviationObservedAvg.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskTimeDeviationOptimalAvg">Time Deviation Optimal Average <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskTimeDeviationOptimalAvg" name="data_taskTimeDeviationOptimalAvg" ng-model="vm.task.taskTimeDeviationOptimalAvg" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeDeviationOptimalAvg.$touched && vm.editForm.data_taskTimeDeviationOptimalAvg.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="data_taskTimeStddev">Time Standard Deviation <span class="text-danger">*</span></label>
      <div class="col-sm-8">
        <input type="number" class="form-control input-sm" id="data_taskTimeStddev" name="data_taskTimeStddev" ng-model="vm.task.taskTimeStddev" ng-change="vm.changed()" required></input>
        <div class="text-danger" ng-if="vm.editForm.data_taskTimeStddev.$touched && vm.editForm.data_taskTimeStddev.$error.required">Field is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5>Participants</h5>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th scope="col">Age</th>
              <th scope="col">Assistive Technology Needs</th>
              <th scope="col">Computer Experience (Months)</th>
              <th scope="col">Education Type</th>
              <th scope="col">Gender</th>
              <th scope="col">Occupation</th>
              <th scope="col">Product Experience (Months)</th>
              <th scope="col">Professional Experience (Months)</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="9"><button class="btn btn-ai-success btn-sm pull-right" ng-click="vm.addParticipant()"><i class="fa fa-plus"></i> Add Participant</button></td>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-repeat="pers in vm.task.testParticipants track by $index">
              <td>{{ pers.ageRange }}</td>
              <td>{{ pers.assistiveTechnologyNeeds }}</td>
              <td>{{ pers.computerExperienceMonths }}</td>
              <td>{{ pers.educationTypeName }}</td>
              <td>{{ pers.gender }}</td>
              <td>{{ pers.occupation }}</td>
              <td>{{ pers.productExperienceMonths }}</td>
              <td>{{ pers.professionalExperienceMonths }}</td>
              <td>
                <button class="btn btn-ai-success btn-sm" ng-click="vm.editParticipant(pers, $index)"><i class="fa fa-pencil-square-o"></i> Edit</button>
                <button class="btn btn-danger btn-sm" ng-click="vm.removeParticipant($index)"><i class="fa fa-trash"></i> Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-ai-success btn-block" ng-click="vm.save()">Save SED Task</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
