<div class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-6 control-label" for="{{ vm.name }}">{{ vm.label }}</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="vm.model" id="{{ vm.name }}" name="{{ vm.name }}"
              ng-required="vm.required"
              ng-options="option as option.name for option in vm.options | orderBy:'name'">
      </select>
    </div>
  </div>
  <div class="form-group form-group-sm" ng-if="vm.expandable">
    <label class="col-sm-6 control-label" for="newItem{{ vm.name }}">New {{ vm.label }}</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="vm.newItem" id="newItem{{ vm.name }}" ng-change="vm.onNewChange()"></input>
    </div>
  </div>
</div>
