<div role="modal" aria-labeled-by="titleLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="titleLabel">Surveillance</h4>
  </div>
  <div class="modal-body">
    <div ng-form="survForm" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-8" for="dateBegan">Date surveillance was initiated <span class="text-danger">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.surveillance.dateBegan" id="dateBegan" required></input>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-8" for="dateEnded">Date surveillance was completed</label>
        <div class="col-sm-4">
          <input class="form-control" type="date" ng-model="vm.surveillance.dateEnded" id="dateEnded"></input>
        </div>
      </div>
      <div class="form-group" ng-repeat="cert in vm.surveillance.certifications">
        <div class="col-sm-1">
          <input type="checkbox" ng-model="cert.error" id="cert{{ cert.id}}_chk"></input>
        </div>
        <div class="col-sm-2">
          <label for="cert{{ cert.id }}_chk">{{ cert.number }}: {{ cert.title }}</label>
        </div>
        <div class="col-sm-3">
          <label for="cert{{ cert.id }}_sites">Number of sites tested <span class="text-danger" ng-if="cert.error">*</span></label>
          <input type="text" class="form-control" ng-model="cert.sitesTested" id="cert{{ cert.id }}_sites" ng-required="cert.error"></input>
        </div>
        <div class="col-sm-3">
          <label for="cert{{ cert.id }}_passRate">Pass rate <span class="text-danger" ng-if="cert.error">*</span></label>
          <input type="text" class="form-control" ng-model="cert.passRate" id="cert{{ cert.id }}_passRate" ng-required="cert.error"></input>
        </div>
        <div class="col-sm-3">
          <label for="cert{{ cert.id }}_res">Results <span class="text-danger" ng-if="vm.surveillance.dateEnded">*</span></label>
          <textarea class="form-control" ng-model="cert.resolution" id="cert{{ cert.id }}_res" ng-required="vm.surveillance.dateEnded"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-large pull-right"
            ng-if="vm.action === 'initiate'"
            ng-disabled="survForm.$invalid || !vm.certsChecked()"
            confirm="Are you sure you wish to initiate this Surveillance?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.save()"><i class="fa fa-save"></i> Initiate</button>
    <button class="btn btn-success btn-large pull-right"
            ng-if="vm.action === 'edit'"
            ng-disabled="survForm.$invalid || !vm.certsChecked()"
            confirm="Are you sure you wish to update this Surveillance?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.save()"><i class="fa fa-save"></i> Update</button>
    <button class="btn btn-warning btn-large pull-left"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-danger btn-large pull-left"
            confirm="Are you sure you wish to delete this Surveillance?"
            ng-if="vm.action === 'edit'"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.deleteSurveillance()"><i class="fa fa-trash-o"></i> Delete</button>
  </div>
</div>
