<div>
  <div ng-if="!vm.surveillances || vm.surveillances.length === 0">
    No Surveillance in effect
  </div>
  <table class="table table-striped" ng-if="vm.surveillances.length > 0">
    <thead>
      <tr>
        <th>Is In Effect</th>
        <th>Date Surveillance Began</th>
        <th>Date Surveillance Ended</th>
        <th ng-if="vm.isAdmin">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="surv in vm.surveillances | orderBy: 'dateBegan'">
        <td><span ng-if="surv.endDate">No</span><span ng-if="!surv.endDate">Yes</span></td>
        <td>{{ surv.startDate | date }}</td>
        <td>{{ surv.endDate | date }}</td>
        <td ng-if="vm.isAdmin">
          <button class="btn btn-success" ng-click="vm.editSurveillance(surv)">Edit</button>
        </td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="{{ vm.isAdmin ? '4' : '3'}}">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Certification Criteria</th>
                <th>Number of Sites tested</th>
                <th>Pass Rate</th>
                <th>Results</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cert in surv.certifications">
                <td>{{ cert.certificationCriterionNumber + ': ' + cert.certificationCriterionTitle }}</td>
                <td>{{ cert.numSites }}</td>
                <td>{{ cert.passRate }}</td>
                <td>{{ cert.result }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-if="vm.isAdmin">
    <button class="btn btn-success" ng-click="vm.initiateSurveillance()">Initiate Surveillance</button>
  </div>
</div>
