<div class="container-fluid" id="decertifications-page">
  <div class="row">
    <div class="col-sm-12">
      <h1>Developers Under Certification Ban</h1>
    </div>
  </div>
  <div class="main-content" id="mainContent" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <p>
          This is a list of health IT developers currently precluded from certifying any health IT products under the ONC Health IT Certification Program - including new products as well as upgraded versions of current products. ONC may lift these statuses if it determines that the developer has taken appropriate steps to remedy problems or issues for all affected products and users and prevent their recurrence. A developer may be precluded from certifying products for two reasons:
          <ol>
            <li><strong>Developer Ban</strong> A developer may be precluded from the Program if the developer or one of its products fails to comply with any requirements of certification and the developer fails to take appropriate actions to correct the non-compliance.</li>
            <li><strong>Product Withdrawn While Under Surveillance</strong> A developer may also be precluded if it fails to cooperate with the surveillance or other oversight of its certified products. ONC may lift the ban if it determines that the developer has taken appropriate steps to remedy problems or issues for all affected products and users and prevent their recurrence.</li>
          </ol>
        </p>
        <p>
          Health IT products currently listed on the CHPL will maintain their listed certification status regardless of whether their developer is precluded from the program. Please consult your health IT product’s details page to confirm its certification status by <a href="https://chpl.healthit.gov/#/search">searching for the product</a>
        </p>
      </div>
    </div>
    <div st-set-filter="customFilter" st-table="vm.displayedDevelopers" st-safe-src="vm.modifiedDecertifiedDevelopers">
      <div class="row form-horizontal" ng-if="vm.modifiedDecertifiedDevelopers && vm.modifiedDecertifiedDevelopers.length > 0">
        <div class="col-sm-4">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control input-sm" id="generalFilter" placeholder="search by Developer" st-search="developer">
            <label for="generalFilter"><span class="sr-only">Search by Developer</span></label>
          </div>
        </div>
        <div class="col-sm-8">
          <div uib-dropdown auto-close="outsideClick" class="btn-group" id="decertifiedDeveloperFilter">
            <button class="btn btn-sm btn-ai dropdown-toggle" type="button" id="filter-button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
              Filter <i class="fa fa-filter"></i>
            </button>
            <div class="dropdown-menu row" aria-labeledby="filter-button" uib-dropdown-menu>
              <div class="col-sm-12">
                <strong>ONC-ACB</strong>
                <st-list-multiple collection="vm.modifiedDecertifiedDevelopers" predicate="acb"></st-list-multiple>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="search-header sort-none" st-sort="developer" st-skip-natural="true" st-sort-default="true">Developer Name</th>
                <th scope="col" class="search-header sort-none" st-sort="decertificationDate" st-skip-natural="true">Date Banned</th>
                <th scope="col" class="search-header sort-none" st-sort="acb" st-skip-natural="true">ONC-ACB</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="vm.decertifiedDevelopers.length === 0">
                <td colspan="3">No developers currently banned</td>
              </tr>
              <tr ng-if="vm.decertifiedDevelopers.length > 0 && vm.displayedDevelopers.length === 0">
                <td colspan="3">No banned developers currently matching your search criteria</td>
              </tr>
              <tr ng-repeat="dev in vm.displayedDevelopers">
                <td>{{ dev.developer }}</td>
                <td>{{ dev.decertificationDate | date : 'mediumDate' : GMT }}</td>
                <td ng-bind-html="dev.acb.join('<br>')"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
