<div ng-form="$ctrl.editForm">
  <div class="form-group">
    <label for="acb-name">ONC-ACB Name <span class="text-danger">*</span></label>
    <input class="input-sm form-control" type="text" required ng-model="$ctrl.acb.name" id="acb-name" name="acbName" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.acbName.$touched && $ctrl.editForm.acbName.$error.required">ONC-ACB Name is required</div>
  </div>
  <div>
    <strong>ONC-ACB Code: </strong>{{ $ctrl.acb.acbCode }}
  </div>
  <div class="form-group" ng-if="$ctrl.isChplAdmin">
    <strong>Status</strong><br />
    <label class="control-label"><input class="input-sm form-control" type="radio" ng-model="$ctrl.acb.retired" ng-value="true" id="acb-retired" name="retired" ng-change="$ctrl.update()"></input> Retired</label>
    <label class="control-label"><input class="input-sm form-control" type="radio" ng-model="$ctrl.acb.retired" ng-value="false" id="acb-not-retired" name="retired" ng-change="$ctrl.update()"></input> Active</label>
  </div>
  <div class="form-group" ng-if="$ctrl.isChplAdmin">
      <label for="retirement-date">Retirement Date <span class="text-danger" ng-if="$ctrl.acb.retired">*</span></label>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.acb.retirementDateObject" is-open="$ctrl.acb.retirementDatePicker" close-text="Close" id="retirement-date" name="retirementDate" ng-model-options="{ timezone: 'UTC' }" ng-required="$ctrl.acb.retired" ng-disabled="!$ctrl.acb.retired" ng-change="$ctrl.update()">
        <span class="input-group-btn">
          <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.acb.retirementDatePicker = true"><i class="fa fa-calendar"></i></button>
        </span>
        </div>
    <div class="text-danger" ng-if="$ctrl.editForm.retirementDate.$touched && $ctrl.editForm.retirementDate.$error.required">Retirement Date is required</div>
    <div class="text-danger" ng-if="$ctrl.editForm.retirementDate.$touched && $ctrl.editForm.retirementDate.$error.date">Improper format (mm/dd/yyyy)</div>
  </div>
  <div class="form-group">
    <label for="address-line-1">Address Line 1 <span class="text-danger" ng-if="!$ctrl.acb.retired">*</span></label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.acb.address.line1" id="address-line-1" name="addressLine1" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()" ng-required="!$ctrl.acb.retired"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.addressLine1.$touched && $ctrl.editForm.addressLine1.$error.required">Address is required</div>
  </div>
  <div class="form-group">
    <label for="address-line-2">Address Line 2</label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.acb.address.line2" id="address-line-2" name="addressLine2" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()"></input>
  </div>
  <div class="form-group">
    <label for="address-city">City <span class="text-danger" ng-if="!$ctrl.acb.retired">*</span></label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.acb.address.city" id="address-city" name="addressCity" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()" ng-required="!$ctrl.acb.retired"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.addressCity.$touched && $ctrl.editForm.addressCity.$error.required">Address is required</div>
  </div>
  <div class="form-group">
    <label for="address-state">State <span class="text-danger" ng-if="!$ctrl.acb.retired">*</span></label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.acb.address.state" id="address-state" name="addressState" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()" ng-required="!$ctrl.acb.retired"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.addressState.$touched && $ctrl.editForm.addressState.$error.required">Address is required</div>
  </div>
  <div class="form-group">
    <label for="address-zipcode">Zip Code <span class="text-danger" ng-if="!$ctrl.acb.retired">*</span></label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.acb.address.zipcode" id="address-zipcode" name="addressZipcode" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()" ng-required="!$ctrl.acb.retired"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.addressZipcode.$touched && $ctrl.editForm.addressZipcode.$error.required">Address is required</div>
  </div>
  <div class="form-group">
    <label for="address-country">Country <span class="text-danger" ng-if="!$ctrl.acb.retired">*</span></label>
    <input class="input-sm form-control" type="text" ng-model="$ctrl.acb.address.country" id="address-country" name="addressCountry" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()" ng-required="!$ctrl.acb.retired"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.addressCountry.$touched && $ctrl.editForm.addressCountry.$error.required">Address is required</div>
  </div>
  <div class="form-group">
    <label for="acb-website">Website <span class="text-danger" ng-if="!$ctrl.acb.retired">*</span></label>
    <input class="input-sm form-control" type="url" ng-model="$ctrl.acb.website" id="acb-website" name="acbWebsite" placeholder="http://www.example.com" ng-disabled="$ctrl.acb.retired" ng-change="$ctrl.update()" ng-required="!$ctrl.acb.retired"></input>
    <div class="text-danger" ng-if="$ctrl.editForm.acbWebsite.$touched && $ctrl.editForm.acbWebsite.$error.required">Website address is required</div>
    <div class="text-danger" ng-if="$ctrl.editForm.acbWebsite.$touched && $ctrl.editForm.acbWebsite.$error.url">Website is invalid</div>
  </div>
</div>
