<div role="modal" aria-labeled-by="edit-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-label">{{ vm.action === 'edit' ? 'Edit' : 'Create' }} ONC-ACB</h4>
  </div>
  <div class="modal-body">
    <ai-edit-acb acb="vm.acb" action="vm.action" on-errors="vm.handleChange(acb, editForm)"></ai-edit-acb>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="vm.editForm.$invalid && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.acbName.$error.required">ONC-ACB Name is required</li>
        <li ng-if="vm.editForm.addressLine1.$error.required">Address Line 1 is required</li>
        <li ng-if="vm.editForm.addressCity.$error.required">City is required</li>
        <li ng-if="vm.editForm.addressState.$error.required">State is required</li>
        <li ng-if="vm.editForm.addressZipcode.$error.required">Zip code is required</li>
        <li ng-if="vm.editForm.addressCountry.$error.required">Country is required</li>
        <li ng-if="vm.editForm.acbWebsite.$error.required">Website address is required</li>
        <li ng-if="vm.editForm.acbWebsite.$error.url">Website is invalid</li>
      </ul>
    </div>
    <button ng-disabled="vm.editForm.$invalid && vm.showFormErrors" class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            ng-if="vm.action === 'create'"
            ng-click="vm.create()"><i class="fa fa-save"></i> Create ONC-ACB</button>
    <span ng-if="!vm.acb.isDeleted">
      <button ng-disabled="vm.editForm.$invalid && vm.showFormErrors" class="btn btn-ai-success btn-block"
              ng-mouseover="vm.showFormErrors = true"
              ng-if="vm.action === 'edit'"
              ng-click="vm.save()"><i class="fa fa-save"></i> Save ONC-ACB</button>
      <button class="btn btn-warning btn-block"
              confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
              confirm-ok="Yes"
              confirm-cancel="No"
              confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
              ng-click="vm.cancel()"><i class="fa fa-ban"></i> Cancel</button>
      <button class="btn btn-danger btn-block"
              ng-if="vm.action === 'edit' && vm.isChplAdmin && !vm.acb.isDeleted"
              confirm="Are you sure you wish to delete this ONC-ACB?"
              confirm-ok="Yes"
              confirm-cancel="No"
              confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
              ng-click="vm.deleteAcb()"><i class="fa fa-trash-o"></i> Delete ONC-ACB</button>
    </span>
    <button class="btn btn-ai-success btn-block"
            ng-if="vm.action === 'edit' && vm.isChplAdmin && vm.acb.isDeleted"
            confirm="Are you sure you wish to restore this ONC-ACB?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.undeleteAcb()"><i class="fa fa-undo"></i> Restore ONC-ACB</button>
  </div>
</div>
