<section class="row">
  <div class="col-sm-12 admin-inner-tab main-content">
    <div class="row admin-label-spaced lead text-center" ng-if="$ctrl.workType !== 'newAcb'">
      <div class="col-sm-12">
        <ul class="list-inline">
          <li><strong>What would you like to manage?</strong></li>
          <li><input type="radio" name="manage-type" ng-model="$ctrl.workType" value="acb" id="rd-acb"></input><label for="rd-acb">ONC-ACB</label></li>
          <li><input type="radio" name="manage-type" ng-model="$ctrl.workType" value="user" id="rd-usr"></input><label for="rd-usr">Users</label></li>
        </ul>
        <span ng-if="$ctrl.isChplAdmin">Or <button class="btn btn-default" ng-click="$ctrl.createAcb()">Create a new ONC-ACB</button></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" ng-if="$ctrl.workType === 'acb'">
        <h2>ONC-ACB Information</h2>
        <span>Name: {{ $ctrl.acb.name }}</span><br />
        <span>Website: <a ai-a href="{{ $ctrl.acb.website }}" ng-if="$ctrl.acb.website">{{ $ctrl.acb.website }}</a><span ng-if="!$ctrl.acb.website">None</span></span><br />
        <span>ONC-ACB Code: {{ $ctrl.acb.acbCode }}</span><br />
        <span>Retired: {{ $ctrl.acb.retired ? 'Yes' : 'No ' }}</span><br />
        <span ng-if="$ctrl.acb.retired">Retirement Date: {{ $ctrl.acb.retirementDate | date : 'mediumDate' : 'UTC' }}<br /></span>
        <h3>Address</h3>
        <span>Line 1: {{ $ctrl.acb.address.line1 }}</span><br />
        <span>Line 2: {{ $ctrl.acb.address.line2 }}</span><br />
        <span>City: {{ $ctrl.acb.address.city }}</span><br />
        <span>State: {{ $ctrl.acb.address.state }}</span><br />
        <span>Zip Code: {{ $ctrl.acb.address.zipcode }}</span><br />
        <span>Country: {{ $ctrl.acb.address.country }}</span><br />
        <button class="btn btn-default btn-block" ng-click="$ctrl.editAcb($ctrl.acb)">Edit this ONC-ACB</button>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.workType === 'user'">
      <div class="col-md-10 col-md-offset-1">
        <ai-user-management
           acb-id="{{ $ctrl.acb.id }}">
        </ai-user-management>
      </div>
    </div>
  </div>
</section>
