.listing__header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.listing__header-name {
    margin-top: 0;
}

.listing__header-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    justify-items: end;
}

.listing__enhanced-label {
    font-size: 1.25em;
    font-weight: 600;
}

.listing__enhanced-label--small {
    font-size: 1.25em;
    font-weight: 400;
}

.listing__details {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.listing__details-basic {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
}

.listing__details-additional {
    flex-grow: 2;
    flex-basis: 0;
    min-width: 450px;
}

.listing__basic-information {
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: 1fr;
    gap: 12px 8px;
}

.listing__developer-information {
    grid-column-start: 1;
}

.listing-edit__details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400, 1fr));
    align-items: start;
}
