<div class="container-fluid" ng-if="!$ctrl.loading">
  <div class="main-content" id="main-content" tabindex="-1" ng-if="!$ctrl.listing">
    <p class="lead">This listing does not exist. Search the CHPL on <a href="#/search">the search page</a></p>
  </div>
  <div class="main-content" id="main-content" tabindex="-1" ng-if="$ctrl.listing">
    <div ng-if="!$ctrl.isEditing">
      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="btn-group">
            <div class="btn-group">
              <ai-cms-widget-button
                product-id="{{ $ctrl.listing.id }}"
                product-name="{{ $ctrl.listing.product.name }}"
                ng-if="$ctrl.listing.certificationEdition.name === '2015'"></ai-cms-widget-button>
            </div>
            <div class="btn-group">
              <ai-compare-widget-button
                product-id="{{ $ctrl.listing.id }}"
                product-name="{{ $ctrl.listing.product.name }}"></ai-compare-widget-button>
            </div>
          </div>
        </div>
      </div>
      <div class="listing__header">
        <div>
          <h1 class="listing__header-name">{{ $ctrl.listing.product.name }}</h1>
        </div>
        <div class="listing__header-info">
          <div>
            <div class="data-label">Certification Date</div>
            <div class="read-only-data">{{ $ctrl.listing.certificationDate | date : 'mediumDate' : 'UTC' }}</div>
          </div>
          <div>
            <div class="data-label">Last modified Date</div>
            <div class="read-only-data">{{ $ctrl.listing.lastModifiedDate | date : 'mediumDate' : 'UTC' }}</div>
          </div>
          <div><button class="btn btn-default btn-sm" ng-click="$ctrl.viewListingHistory()" id="view-listing-history"><i class="fa fa-eye"></i> Listing History</button></div>
          <div ng-if="$ctrl.canEdit()">
            <a feature-flag="listing-edit" feature-flag-hide ng-href="#/admin/dpManagement/manage/{{ $ctrl.listing.id}}"><i class="fa fa-pencil-square-o"></i> Edit</a>
            <button feature-flag="listing-edit" class="btn btn-default" ng-click="$ctrl.isEditing = true"><i class="fa fa-pencil-square-o"></i> Edit</button>
          </div>
          <div ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ACB', 'ROLE_ONC'])"><a ui-sref="surveillance.manage({listingId: $ctrl.listing.id, chplProductNumber: $ctrl.listing.chplProductNumber})"><i class="fa fa-pencil-square-o"></i> Manage Surveillance Activity</a></div>
          <div><a href="#/search"><i class="fa fa-arrow-left fa-lg"></i> Return to search results</a><br /><strong>ARE WE KEEPING THIS?</strong></div>
        </div>
      </div>
      <div class="listing__details">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Listing Details</h2>
          </div>
          <div class="panel-body">
            <div class="listing__basic-information">
              <div>
                <div class="data-label">CHPL Product Number</div>
                <div class="read-only-data">{{ $ctrl.listing.chplProductNumber }}</div>
              </div>
              <div>
                <div class="data-label">Version</div>
                <div class="read-only-data">{{ $ctrl.listing.version.version }}</div>
              </div>
              <div>
                <div class="data-label">Certification Edition</div>
                <div class="read-only-data">
                  {{ $ctrl.listing.certificationEdition.name }} <span ng-if="$ctrl.listing.curesUpdate">Cures Update</span>
                </div>
              </div>
              <div>
                <div class="data-label">ONC-Authorized Certification Body</div>
                <div class="read-only-data">{{ $ctrl.listing.certifyingBody.name }}<br /><strong>Why isn't this as large as the ONC-ATL section?</strong></div>
              </div>
              <div>
                <div class="data-label">Certification Status</div>
                <div class="read-only-data">{{ $ctrl.certificationStatus($ctrl.listing) }}</div>
              </div>
              <div>
                <div class="data-label">Certification Date</div>
                <div class="read-only-data">{{ $ctrl.listing.certificationDate | date : 'mediumDate' : 'UTC' }}<br /><strong>Why is this here twice?</strong></div>
              </div>
              <div ng-if="$ctrl.listing.acbCertificationId">
                <div class="data-label">ONC-ACB Certification ID</div>
                <div class="read-only-data">{{ $ctrl.listing.acbCertificationId }}</div>
              </div>
              <div class="listing__developer-information">
                <div class="data-label">Developer</div>
                <p><a ui-sref="organizations.developers.developer({developerId: $ctrl.listing.developer.developerId})">{{ $ctrl.listing.developer.name }}</a></p>
                <p ng-if="$ctrl.listing && $ctrl.listing.developer.status.status !== 'Active'"><strong>Developer Status:</strong> <i class="fa status-bad" ng-class="$ctrl.listing.developer.status.status === 'Suspended by ONC' ? 'fa-exclamation-circle' : 'fa-ban'"></i> {{ $ctrl.listing.developer.status.status }}</p>
                <p ng-if="$ctrl.listing.developer.website"><a ai-a href="{{ $ctrl.listing.developer.website }}">{{ $ctrl.listing.developer.website }}</a></p>
                <p>Self-developer: {{ $ctrl.listing.developer.selfDeveloper ? 'Yes' : 'No' }}</p>
                <span ng-if="$ctrl.listing.developer.address">
                  <chpl-address address="$ctrl.listing.developer.address"></chpl-address>
                </span>
              </div>
              <div>
                <div class="data-label">Contact</div>
                <span ng-if="$ctrl.listing.product.contact">
                  <chpl-contact contact="$ctrl.listing.product.contact"></chpl-contact>
                </span>
                <span ng-if="!$ctrl.listing.product.contact && $ctrl.listing.developer.contact">
                  <chpl-contact contact="$ctrl.listing.developer.contact"></chpl-contact>
                </span>
              </div>
              <div ng-if="$ctrl.listing.product.ownerHistory && $ctrl.listing.product.ownerHistory.length > 0">
                <div class="data-label">Previous Developer<span ng-if="$ctrl.listing.product.ownerHistory.length > 1">s</span></div>
                <div class="read-only-data">
                  <ul>
                    <li ng-repeat="prev in $ctrl.listing.product.ownerHistory | orderBy:'transferDate'">
                      <strong>{{ prev.developer.name }}</strong><br />
                      Transfer Date: {{ prev.transferDate | date : 'mediumDate' : 'UTC' }}
                    </li>
                  </ul>
                </div>
              </div>
              <div ng-if="$ctrl.listing.certificationEdition.name === '2014'">
                <div class="data-label">Practice Type</div>
                <div class="read-only-data">{{ $ctrl.listing.practiceType.name }}</div>
              </div>
              <div ng-if="$ctrl.listing.certificationEdition.name === '2014'">
                <div class="data-label">Classification Type</div>
                <div class="read-only-data">{{ $ctrl.listing.classificationType.name }}</div>
              </div>
              <div ng-if="$ctrl.listing.productAdditionalSoftware">
                <div class="data-label">Relied Upon Software</div>
                <div class="read-only-data">{{ $ctrl.listing.productAdditionalSoftware }}</div>
              </div>
              <div ng-if="$ctrl.listing.transparencyAttestation">
                <div class="data-label">Mandatory Disclosures URL</div>
                <a ai-a ng-if="$ctrl.listing.transparencyAttestationUrl" href="{{ $ctrl.listing.transparencyAttestationUrl }}" analytics-on="click" analytics-event="Transparency Disclosure" analytics-properties="{ category: 'Download Details', label: $ctrl.listing.transparencyAttestationUrl }">{{ $ctrl.listing.transparencyAttestationUrl }}</a>
                <p class="read-only-data" ng-if="!$ctrl.listing.transparencyAttestationUrl">No report on file</p>
              </div>
              <div ng-if="$ctrl.listing.testingLabs && $ctrl.listing.testingLabs.length !== 0">
                <div class="data-label">ONC-Authorized Testing Laborator{{ $ctrl.listing.testingLabs.length === 1 ? 'y' : 'ies' }}</div>
                <div class="read-only-data" ng-repeat="atl in $ctrl.listing.testingLabs | orderBy:'toString'">{{ atl.testingLabName }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="listing__detailed-information">
          <chpl-listing-details initial-panel="{{ $ctrl.initialPanel }}"
                                listing="$ctrl.listing"
                                direct-reviews="$ctrl.directReviews">
          </chpl-listing-details>
        </div>
      </div>
    </div>
  </div>
  <div feature-flag="listing-edit">
    <div ng-if="$ctrl.isEditing">
      <chpl-listing-edit listing="$ctrl.listing" is-saving="$ctrl.isSaving" messages="$ctrl.saveErrors" on-cancel="$ctrl.cancel()" on-save="$ctrl.saveEdit(listing, reason, acknowledgeWarnings)" resources="$ctrl.resources" work-type="$ctrl.workType"></chpl-listing-edit>
    </div>
  </div>
</div>
