<ui-view>
  <div class="container" ng-if="!$ctrl.loading">
    <div class="row text-bottom" ng-if="$ctrl.listing">
      <div class="col-sm-8">
        <h1 id="listing-name">{{ $ctrl.listing.product.name }}</h1>
      </div>
      <div class="col-sm-4 text-right">
        <p><a href="#/search"><i class="fa fa-arrow-left fa-lg"></i> Return to search results</a></p>
      </div>
    </div>
    <div class="main-content" id="main-content" tabindex="-1">
      <p class="lead" ng-if="!$ctrl.listing">This listing does not exist. Search the CHPL on <a href="#/search">the search page</a></p>
      <div ng-if="$ctrl.listing && !$ctrl.isEditing">
        <div class="row">
          <div class="col-sm-4">
            <p>CHPL Product Number: {{ $ctrl.listing.chplProductNumber }}</p>
            <p ng-if="$ctrl.listing.acbCertificationId">ONC-ACB Certification ID: {{ $ctrl.listing.acbCertificationId }}</p>
          </div>
          <div class="col-sm-8 text-right">
            <p>
              Certification Date: {{ $ctrl.DateUtil.getCertificationDay($ctrl.listing) }}
              |
              Last modified Date: {{ $ctrl.listing.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
              <span feature-flag="promoting-interoperability">
                <chpl-listing-history-bridge listing="$ctrl.listing" can-see-history="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC', 'ROLE_ACB'])" promoting-interoperability-is-on="true"></chpl-listing-history-bridge>
              </span>
              <span feature-flag="promoting-interoperability" feature-flag-hide>
                <chpl-listing-history-bridge listing="$ctrl.listing" can-see-history="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC', 'ROLE_ACB'])" promoting-interoperability-is-on="false"></chpl-listing-history-bridge>
              </span>
            </p>
            <span ng-if="$ctrl.canEdit()">
              <button class="btn btn-default" ui-sref=".view.edit"><i class="fa fa-pencil-square-o"></i> Edit Certified Product</button>
            </span>
            <p ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC', 'ROLE_ACB'])"><a ui-sref="surveillance.manage({listingId: $ctrl.listing.id, chplProductNumber: $ctrl.listing.chplProductNumber})"><i class="fa fa-pencil-square-o"></i> Manage Surveillance Activity</a></p>
            <div class="btn-group">
              <div class="btn-group" ng-if="$ctrl.listing.certificationEdition.name === '2015'">
                <ai-cms-widget-button product-id="{{ $ctrl.listing.id }}" product-name="{{ $ctrl.listing.product.name }}" chpl-product-number="{{ $ctrl.listing.chplProductNumber }}"></ai-cms-widget-button>
              </div>
              <div class="btn-group">
                <ai-compare-widget-button product-id="{{ $ctrl.listing.id }}" product-name="{{ $ctrl.listing.product.name }}" chpl-product-number="{{ $ctrl.listing.chplProductNumber }}"></ai-compare-widget-button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4" id="listing-information-basic">
            <div class="product-element" id="listing-information-developer">
              <h2 class="product-heading">Developer</h2>
              <p><a ui-sref="organizations.developers.developer({developerId: $ctrl.listing.developer.developerId})" analytics-on="click" analytics-event="Go to Developer Page" analytics-properties="{ category: 'Listing Details', label: $ctrl.listing.developer.name }">{{ $ctrl.listing.developer.name }}</a></p>
              <p ng-if="$ctrl.listing && $ctrl.listing.developer.status.status !== 'Active'"><strong>Developer Status:</strong> <i class="fa status-bad" ng-class="$ctrl.listing.developer.status.status === 'Suspended by ONC' ? 'fa-exclamation-circle' : 'fa-ban'"></i> {{ $ctrl.listing.developer.status.status }}</p>
              <p ng-if="$ctrl.listing.developer.website"><chpl-link-bridge href="$ctrl.listing.developer.website" analytics="{ event:'Go to Developer Website', category: 'Listing Details', label: $ctrl.listing.developer.name }"></chpl-link-bridge></p>
              <p>Self-developer: {{ $ctrl.listing.developer.selfDeveloper ? 'Yes' : 'No' }}</p>
              <span ng-if="$ctrl.listing.developer.address">
                <h3>Address</h3>
                <chpl-address address="$ctrl.listing.developer.address"></chpl-address>
              </span>
              <span ng-if="$ctrl.listing.product.contact">
                <h3>Contact information</h3>
                <chpl-contact contact="$ctrl.listing.product.contact"></chpl-contact>
              </span>
              <span ng-if="!$ctrl.listing.product.contact && $ctrl.listing.developer.contact">
                <h3>Contact information</h3>
                <chpl-contact contact="$ctrl.listing.developer.contact"></chpl-contact>
              </span>
            </div>
            <div class="product-element" id="listing-information-product-history">
              <span ng-if="$ctrl.listing.product.ownerHistory && $ctrl.listing.product.ownerHistory.length > 0">
                <h3>Previous Developer<span ng-if="$ctrl.listing.product.ownerHistory.length > 1">s</span></h3>
                <ul>
                  <li ng-repeat="prev in $ctrl.listing.product.ownerHistory | orderBy:'transferDate'">
                    <strong>{{ prev.developer.name }}</strong><br />
                    Transfer Date: {{ prev.transferDate | date : 'mediumDate' : 'UTC' }}
                  </li>
                </ul>
              </span>
            </div>
            <div class="product-element" id="listing-information-version">
              <h2 class="product-heading">Version</h2>
              <p>{{ $ctrl.listing.version.version }}</p>
            </div>
            <div class="product-element" id="listing-information-certification-edition">
              <h2 class="product-heading">Certification Edition</h2>
              <p>
                {{ $ctrl.listing.certificationEdition.name }} <span ng-if="$ctrl.listing.curesUpdate">Cures Update</span>
              </p>
            </div>
            <div class="product-element" id="listing-information-certification-status">
              <h2 class="product-heading">Certification Status</h2>
              <p>{{ $ctrl.listing.currentStatus.status.name }}</p>
            </div>
            <div class="product-element" ng-if="$ctrl.listing.practiceType.name" id="listing-information-practice-type">
              <h2 class="product-heading">Practice Type</h2>
              <p>{{ $ctrl.listing.practiceType.name }}</p>
            </div>
            <div class="product-element" ng-if="$ctrl.listing.certificationEdition.name === '2014'" id="listing-information-classification-type">
              <h2 class="product-heading">Classification Type</h2>
              <p>{{ $ctrl.listing.classificationType.name }}</p>
            </div>
            <div class="product-element" id="listing-information-onc-authorized-certification-body">
              <h2 class="product-heading">ONC-Authorized Certification Body</h2>
              <p>{{ $ctrl.listing.certifyingBody.name }}</p>
            </div>
            <div class="product-element" ng-if="$ctrl.listing.testingLabs && $ctrl.listing.testingLabs.length !== 0" id="listing-information-onc-accredited-testing-laboratory">
              <h2 class="product-heading">ONC-Authorized Testing Laborator{{ $ctrl.listing.testingLabs.length === 1 ? 'y' : 'ies' }}</h2>
              <p ng-repeat="atl in $ctrl.listing.testingLabs | orderBy:'toString'">{{ atl.testingLabName }}</p>
            </div>
            <div class="product-element" ng-if="$ctrl.listing.productAdditionalSoftware" id="listing-information-relied-upon-software">
              <h2 class="product-heading">Relied Upon Software</h2>
              <p>{{ $ctrl.listing.productAdditionalSoftware }}</p>
            </div>
            <div ng-if="$ctrl.listing.rwtPlansUrl || $ctrl.listing.rwtPlansCheckDate || $ctrl.listing.rwtResultsUrl || $ctrl.listing.rwtResultsCheckDate">
              <h2 class="product-heading">Real World Testing</h2>
              <div class="data-label" ng-if="$ctrl.listing.rwtPlansUrl">
                <label for="rwtPlansUrl">Plans</label>
              </div>
              <div ng-if="$ctrl.listing.rwtPlansUrl">
                <p><chpl-link-bridge href="$ctrl.listing.rwtPlansUrl" name="rwtPlansUrl" id="rwt-plans-url"></chpl-link-bridge></p>
              </div>
              <div ng-if="$ctrl.listing.rwtPlansCheckDate && $ctrl.canViewRwtDates()">
                <p>Last ONC-ACB Completeness Check: {{ $ctrl.DateUtil.getDisplayDateFormat($ctrl.listing.rwtPlansCheckDate) }}</p>
              </div>
              <div class="data-label" ng-if="$ctrl.listing.rwtResultsUrl">
                <label for="rwtRsultsURL">Results</label>
              </div>
              <div ng-if="$ctrl.listing.rwtResultsUrl">
                <p><chpl-link-bridge href="$ctrl.listing.rwtResultsUrl" name="rwtResultsUrl" id="rwt-results-url"></chpl-link-bridge></p>
              </div>
              <div ng-if="$ctrl.listing.rwtResultsCheckDate && $ctrl.canViewRwtDates()">
                <p>Last ONC-ACB Completeness Check: {{ $ctrl.DateUtil.getDisplayDateFormat($ctrl.listing.rwtResultsCheckDate) }}</p>
              </div>
            </div>
            <div class="product-element" id="listing-information-svap-notice" ng-if="$ctrl.listing.svapNoticeUrl">
              <h2 class="product-heading">Standards Version Advancement Process Notice</h2>
                <chpl-link-bridge ng-if="$ctrl.listing.svapNoticeUrl" href="$ctrl.listing.svapNoticeUrl" analytics="{event: 'SVAP Notice', category: 'Download Details', label: $ctrl.listing.svapNoticeUrl }"></chpl-link-bridge>
              <div class="clearfix"></div>
            </div>
            <div class="product-element" id="listing-information-mandatory-disclosures">
              <h2 class="product-heading">Mandatory Disclosures</h2>
              <chpl-link-bridge ng-if="$ctrl.listing.mandatoryDisclosures" href="$ctrl.listing.mandatoryDisclosures" analytics="{event:'Transparency Disclosure', category: 'Download Details', label: $ctrl.listing.mandatoryDisclosures}"></chpl-link-bridge>
              <p ng-if="!$ctrl.listing.mandatoryDisclosures">No report on file</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-sm-8" id="listing-information-details">
            <chpl-listing-details-view initial-panel="{{ $ctrl.panel }}"
                                       resources="$ctrl.resources"
                                       listing="$ctrl.listing">
            </chpl-listing-details-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</ui-view>
