<div class="container-fluid">
  <div class="main-content" id="main-content" tabindex="-1" ng-if="!$ctrl.listing">
    <p class="lead">This listing does not exist. Search the CHPL on <a href="#/search">the search page</a></p>
  </div>
  <div class="main-content" id="main-content" tabindex="-1" ng-if="$ctrl.listing">
    <div class="listing__header">
      <div>
        <h1 class="listing__header-name">{{ $ctrl.listing.product.name }}</h1>
      </div>
      <div class="listing__header-info">
        <div ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC', 'ROLE_ACB'])">
          <a ui-sref="surveillance.manage({listingId: $ctrl.listing.id, chplProductNumber: $ctrl.listing.chplProductNumber})"><i class="fa fa-pencil-square-o"></i> Manage Surveillance Activity</a>
        </div>
        <div>
          <chpl-listing-history-bridge listing="$ctrl.listing" can-see-history="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC', 'ROLE_ACB'])"></chpl-listing-history-bridge>
        </div>
        <div ng-if="$ctrl.canEdit()">
          <button class="btn btn-default" ui-sref=".edit"><i class="fa fa-pencil-square-o"></i> Edit</button>
        </div>
        <div>
          <ai-cms-widget-button
            ng-if="$ctrl.listing.certificationEdition.name === '2015'"
            product-id="{{ $ctrl.listing.id }}"
            product-name="{{ $ctrl.listing.product.name }}"
            chpl-product-number="{{ $ctrl.listing.chplProductNumber }}"
            ></ai-cms-widget-button>
          <ai-compare-widget-button
            product-id="{{ $ctrl.listing.id }}"
            product-name="{{ $ctrl.listing.product.name }}"
            chpl-product-number="{{ $ctrl.listing.chplProductNumber }}"
            ></ai-compare-widget-button>
        </div>
      </div>
    </div>
    <ui-view>
      <div class="listing__details">
        <div class="listing__details-basic panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Listing Information</h2>
          </div>
          <div class="panel-body">
            <div class="listing__basic-information">
              <div>
                <div class="data-label listing__enhanced-label">CHPL Product Number</div>
                <div class="read-only-data">{{ $ctrl.listing.chplProductNumber }}</div>
              </div>
              <div ng-if="$ctrl.listing.acbCertificationId">
                <div class="data-label listing__enhanced-label--small">ONC-ACB Certification ID</div>
                <div class="read-only-data">{{ $ctrl.listing.acbCertificationId }}</div>
              </div>
              <div>
                <div class="data-label listing__enhanced-label">Certification Date</div>
                <div class="read-only-data">{{ $ctrl.DateUtil.getCertificationDay($ctrl.listing) }}</div>
              </div>
              <div class="listing__developer-information">
                <div class="data-label listing__enhanced-label">Developer</div>
                <p><a ui-sref="organizations.developers.developer({developerId: $ctrl.listing.developer.developerId})">{{ $ctrl.listing.developer.name }}</a></p>
                <p ng-if="$ctrl.listing && $ctrl.listing.developer.status.status !== 'Active'"><strong>Developer Status:</strong> <i class="fa status-bad" ng-class="$ctrl.listing.developer.status.status === 'Suspended by ONC' ? 'fa-exclamation-circle' : 'fa-ban'"></i> {{ $ctrl.listing.developer.status.status }}</p>
                <p ng-if="$ctrl.listing.developer.website"><chpl-link-bridge href="$ctrl.listing.developer.website" analytics="{ event:'Go to Developer Website', category: 'Listing Details', label: $ctrl.listing.developer.name }"></chpl-link-bridge></p>
                <p>Self-developer: {{ $ctrl.listing.developer.selfDeveloper ? 'Yes' : 'No' }}</p>
              </div>
              <div ng-if="$ctrl.listing.developer.address">
                <div class="data-label listing__enhanced-label--small">Address</div>
                <chpl-address address="$ctrl.listing.developer.address"></chpl-address>
              </div>
              <div>
                <div class="data-label listing__enhanced-label--small">Contact</div>
                <span ng-if="$ctrl.listing.product.contact">
                  <chpl-contact contact="$ctrl.listing.product.contact"></chpl-contact>
                </span>
                <span ng-if="!$ctrl.listing.product.contact && $ctrl.listing.developer.contact">
                  <chpl-contact contact="$ctrl.listing.developer.contact"></chpl-contact>
                </span>
              </div>
              <div>
                <div class="data-label listing__enhanced-label">Version</div>
                <div class="read-only-data">{{ $ctrl.listing.version.version }}</div>
              </div>
              <div>
                <div class="data-label listing__enhanced-label">Certification Edition</div>
                <div class="read-only-data">
                  {{ $ctrl.listing.certificationEdition.name }} <span ng-if="$ctrl.listing.curesUpdate">Cures Update</span>
                </div>
              </div>
              <div>
                <div class="data-label listing__enhanced-label">Certification Status</div>
                <div class="read-only-data">{{ $ctrl.listing.currentStatus.status.name }}</div>
              </div>
              <div>
                <div class="data-label listing__enhanced-label">ONC-Authorized Certification Body</div>
                <div class="read-only-data">{{ $ctrl.listing.certifyingBody.name }}</div>
              </div>
              <div ng-if="$ctrl.listing.testingLabs && $ctrl.listing.testingLabs.length !== 0">
                <div class="data-label listing__enhanced-label">ONC-Authorized Testing Laborator{{ $ctrl.listing.testingLabs.length === 1 ? 'y' : 'ies' }}</div>
                <div class="read-only-data" ng-repeat="atl in $ctrl.listing.testingLabs | orderBy:'toString'">{{ atl.testingLabName }}</div>
              </div>
              <div ng-if="$ctrl.listing.product.ownerHistory && $ctrl.listing.product.ownerHistory.length > 0">
                <div class="data-label listing__enhanced-label">Previous Developer<span ng-if="$ctrl.listing.product.ownerHistory.length > 1">s</span></div>
                <div class="read-only-data">
                  <ul>
                    <li ng-repeat="prev in $ctrl.listing.product.ownerHistory | orderBy:'transferDate'">
                      <strong>{{ prev.developer.name }}</strong><br />
                      Transfer Date: {{ prev.transferDate | date : 'mediumDate' : 'UTC' }}
                    </li>
                  </ul>
                </div>
              </div>
              <div ng-if="$ctrl.listing.practiceType.name">
                <div class="data-label listing__enhanced-label">Practice Type</div>
                <div class="read-only-data">{{ $ctrl.listing.practiceType.name }}</div>
              </div>
              <div ng-if="$ctrl.listing.certificationEdition.name === '2014'">
                <div class="data-label listing__enhanced-label">Classification Type</div>
                <div class="read-only-data">{{ $ctrl.listing.classificationType.name }}</div>
              </div>
              <div ng-if="$ctrl.listing.productAdditionalSoftware">
                <div class="data-label listing__enhanced-label">Relied Upon Software</div>
                <div class="read-only-data">{{ $ctrl.listing.productAdditionalSoftware }}</div>
              </div>
              <div ng-if="$ctrl.listing.rwtPlansUrl || $ctrl.listing.rwtPlansCheckDate || $ctrl.listing.rwtResultsUrl || $ctrl.listing.rwtResultsCheckDate">
                <div>
                  <div class="data-label listing__enhanced-label">Real World Testing</div>
                </div>
                <div ng-if="$ctrl.listing.rwtPlansUrl">
                  <div class="data-label listing__enhanced-label--small">Plans</div>
                  <div class="read-only-data"><chpl-link-bridge href="$ctrl.listing.rwtPlansUrl" name="rwtPlansUrl" id="rwt-plans-url"></chpl-link-bridge></div>
                </div>
                <div ng-if="$ctrl.listing.rwtPlansCheckDate && $ctrl.canViewRwtDates()">
                  <div class="data-label listing__enhanced-label--small">Last ONC-ACB Completeness Check</div>
                  <div class="read-only-data">{{ $ctrl.DateUtil.getDisplayDateFormat($ctrl.listing.rwtPlansCheckDate) }}</div>
                </div>
                <div ng-if="$ctrl.listing.rwtResultsUrl">
                  <div class="data-label listing__enhanced-label--small">Results</div>
                  <div class="read-only-data"><chpl-link-bridge href="$ctrl.listing.rwtResultsUrl" name="rwtResultsUrl" id="rwt-results-url"></chpl-link-bridge></div>
                </div>
                <div ng-if="$ctrl.listing.rwtResultsCheckDate && $ctrl.canViewRwtDates()">
                  <div class="data-label listing__enhanced-label--small">Last ONC-ACB Completeness Check</div>
                  <div class="read-only-data">{{ $ctrl.DateUtil.getDisplayDateFormat($ctrl.listing.rwtResultsCheckDate) }}</div>
                </div>
              </div>
              <div ng-if="$ctrl.listing.svapNoticeUrl">
                <div class="data-label listing__enhanced-label">Standards Advancement Version Process Notice</div>
                <chpl-link-bridge ng-if="$ctrl.listing.svapNoticeUrl" href="$ctrl.listing.svapNoticeUrl" analytics="{event: 'SVAP Notice', category: 'Download Details', label: $ctrl.listing.svapNoticeUrl }"></chpl-link-bridge>
              </div>
              <div>
                <div class="data-label listing__enhanced-label">Mandatory Disclosures</div>
                <chpl-link-bridge ng-if="$ctrl.listing.mandatoryDisclosures" href="$ctrl.listing.mandatoryDisclosures" analytics="{ event:'Transparency Disclosure', category: 'Download Details', label: $ctrl.listing.mandatoryDisclosures }"></chpl-link-bridge>
                <p class="read-only-data" ng-if="!$ctrl.listing.mandatoryDisclosures">No report on file</p>
              </div>
            </div>
          </div>
        </div>
        <div class="listing__details-additional panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Listing Details</h2>
          </div>
          <div class="panel-body">
            <chpl-listing-details-view initial-panel="{{ $ctrl.panel }}"
                                       listing="$ctrl.listing">
            </chpl-listing-details-view>
          </div>
        </div>
      </div>
    </ui-view>
  </div>
</div>
