<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Charts</h1>
    </div>
  </div>
  <div class="main-content" id="main-content" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <p>This is a beta release for charts, which are dynamic and populated by the data currently in the CHPL. We will be working on iterating this feature over the coming months. Please use the <a href="https://www.healthit.gov/form/healthit-feedback-form">Health IT Feedback Form</a> for questions or comments.</p>
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'product'}"><a ng-click="$ctrl.chartState.tab = 'product'">Unique Product charts</a></li>
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'developer'}"><a ng-click="$ctrl.chartState.tab = 'developer'">Developer charts</a></li>
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'sed'}"><a ng-click="$ctrl.chartState.tab = 'sed'">SED Participant charts</a></li>
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'nonconformity'}"><a ng-click="$ctrl.chartState.tab = 'nonconformity'">Nonconformity charts</a></li>
        </ul>
      </div>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'product'">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active': $ctrl.chartState.productEdition === 2014}"><a ng-click="$ctrl.chartState.productEdition = 2014">2014 Edition</a></li>
            <li role="presentation" ng-class="{'active': $ctrl.chartState.productEdition === 2015}"><a ng-click="$ctrl.chartState.productEdition = 2015">2015 Edition</a></li>
          </ul>
          <p>The charts below describe the number of unique products that have been certified to each of the ONC certification criteria. A unique product represents a group of CHPL listings that
            refer to a single product from the same developer, each listing in a group often differing by version number.</p>
          <div ng-if="$ctrl.chartState.productEdition === 2014" google-chart="" chart="$ctrl.criterionProductCounts[2014]" class="bar-chart"></div>
          <div ng-if="$ctrl.chartState.productEdition === 2015" google-chart="" chart="$ctrl.criterionProductCounts[2015]" class="bar-chart"></div>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'developer'">
      <div class="row">
        <div class="col-sm-12">
          <p>Since the start of the ONC Health IT Certification Program, there have been three certification editions: 2011, 2014, and 2015. The charts below describe the transition between each edition by certified health IT developers. The regulations for each edition can be found <a href ="https://www.healthit.gov/topic/certification-ehrs/certification-standards-and-regulations">here</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" ng-repeat="chart in $ctrl.incumbentDevelopersCounts">
          <div google-chart="" chart="chart" class="pie-chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>The 2011 edition has been retired and has no "Active" listings.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div google-chart="" chart="$ctrl.listingCount.edition['' + $ctrl.chartState.listingCountType].chart" class="column-chart"></div>
        </div>
        <div class="col-sm-6">
          <div google-chart="" chart="$ctrl.listingCount.class['' + $ctrl.chartState.listingCountType].chart" class="column-chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label>
            View the number of Developers and Products with Certification Status:
            <select ng-model="$ctrl.chartState.listingCountType"
                    ng-options="option.id as option.name for option in $ctrl.listingCountTypes | orderBy: 'name'">
            </select>
          </label>
          <br />
          <label>
            Stacking type:
            <select ng-model="$ctrl.chartState.isStacked" ng-change="$ctrl.updateChartStack()">
              <option value="percent">Percent</option>
              <option value="absolute">Absolute</option>
              <option value="false">None</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'sed'">
      <chpl-charts-sed
        sed-participant-statistics-count="$ctrl.sedParticipantStatisticsCount"
        participant-gender-count="$ctrl.participantGenderCount"
        participant-age-count="$ctrl.participantAgeCount"
        participant-education-count="$ctrl.participantEducationCount"
        participant-professional-experience-count="$ctrl.participantProfessionalExperienceCount"
        participant-computer-experience-count="$ctrl.participantComputerExperienceCount"
        participant-product-experience-count="$ctrl.participantProductExperienceCount"
        ></chpl-charts-sed>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'nonconformity'">
      <div class="row">
        <div class="col-sm-12">
          <div google-chart="" chart="$ctrl.nonconformityCounts['' + $ctrl.chartState.nonconformityCountType]" class="column-chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label>
            View the number of Non-Conformities with type of Program Requirements Surveilled:
            <select ng-model="$ctrl.chartState.nonconformityCountType"
                    ng-options="option for option in $ctrl.nonconformityTypes">
            </select>
          </label>
          <br />
          <label>
            Y-Axis Type:
            <select ng-model="$ctrl.chartState.yAxis" ng-change="$ctrl.updateYAxis()">
              <option value="">Linear</option>
              <option value="mirrorLog">Log</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
