<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Charts</h1>
    </div>
  </div>
  <div class="main-content" id="main-content" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <p>
          The charts are a dynamic display of the data currently on the CHPL. If there are any questions or comments regarding this feature, please submit them through the <a href="https://inquiry.healthit.gov/support/plugins/servlet/loginfreeRedirMain?portalid=2&request=51">Health IT Feedback and Inquiry Portal</a>
        </p>
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'sed'}"><button class="btn btn-link" ng-click="$ctrl.changeTab('sed')">SED Participant charts</button></li>
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'nonconformity'}"><button class="btn btn-link" ng-click="$ctrl.changeTab('nonconformity')">Nonconformity charts</button></li>
        </ul>
      </div>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'sed'">
      <chpl-charts-sed
        sed-participant-statistics-count="$ctrl.sedParticipantStatisticsCount"
        participant-gender-count="$ctrl.participantGenderCount"
        participant-age-count="$ctrl.participantAgeCount"
        participant-education-count="$ctrl.participantEducationCount"
        participant-professional-experience-count="$ctrl.participantProfessionalExperienceCount"
        participant-computer-experience-count="$ctrl.participantComputerExperienceCount"
        participant-product-experience-count="$ctrl.participantProductExperienceCount"
        ></chpl-charts-sed>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'nonconformity' && $ctrl.nonconformityCriteriaCount">
      <chpl-charts-surveillance
        nonconformity-criteria-count="$ctrl.nonconformityCriteriaCount"
        ></chpl-charts-surveillance>
    </div>
  </div>
</div>
