<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Charts</h1>
    </div>
  </div>
  <div class="main-content" id="main-content" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <p>
          The charts are a dynamic display of the data currently on the CHPL. If there are any questions or comments regarding this feature, please submit them through the <a href="https://inquiry.healthit.gov/support/plugins/servlet/loginfreeRedirMain?portalid=2&request=51">Health IT Feedback and Inquiry Portal</a>
        </p>
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'product'}"><button class="btn btn-link" ng-click="$ctrl.changeTab('product')">Unique Product charts</button></li>
          <li role="presentation" ng-class="{'active': $ctrl.chartState.tab === 'nonconformity'}"><button class="btn btn-link" ng-click="$ctrl.changeTab('nonconformity')">Nonconformity charts</button></li>
        </ul>
      </div>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'product' && $ctrl.criterionProduct">
      <chpl-charts-product
        criterion-product="$ctrl.criterionProduct"
        ></chpl-charts-product>
    </div>
    <div ng-if="$ctrl.chartState.tab === 'nonconformity' && $ctrl.nonconformityCriteriaCount">
      <chpl-charts-surveillance
        nonconformity-criteria-count="$ctrl.nonconformityCriteriaCount"
        ></chpl-charts-surveillance>
    </div>
  </div>
</div>
