<div class="container-fluid">
  <div class="main-content" id="main-content" tabindex="-1">
    <div class="row">
      <div class="col-md-12">
        <div ng-if="$ctrl.isEditing === false">
          <h2>All Complaints</h2>
          <button class="btn btn-link" ng-click="$ctrl.displayAddComplaint()">
            <i class="fa fa-plus-circle"></i>
            Add New Complaint
          </button>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th scope="col">ONC-ACB</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">ONC Complaint Id</th>
                <th scope="col">ONC-ACB Complaint Id</th>
                <th scope="col">Received Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="complaint in $ctrl.complaints">
                <td>{{ complaint.certificationBody.name }}</td>
                <td>{{ complaint.complaintType.name }}</td>
                <td>{{ complaint.complaintStatusType.name }}</td>
                <td>{{ complaint.oncComplaintId }}</td>
                <td>{{ complaint.acbComplaintId }}</td>
                <td>{{ complaint.formattedReceivedDate | date : 'MMM d, y' }}</td>
                <td>
                  <button class="btn btn-link" ng-click="$ctrl.selectComplaint(complaint)"><i class="fa fa-edit"></i><span class="sr-only">Edit complaint</span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="$ctrl.isEditing === true">
          <chpl-surveillance-complaint
            complaint="$ctrl.complaint"
            complaint-types="$ctrl.complaintTypes"
            complaint-status-types="$ctrl.complaintStatusTypes"
            certification-bodies="$ctrl.certificationBodies"
            error-messages="$ctrl.errorMessages"
            on-delete="$ctrl.deleteComplaint(complaint)"
            on-save="$ctrl.saveComplaint(complaint)"
            on-cancel="$ctrl.cancelEdit()" >
          </chpl-surveillance-complaint>
        </div>
      </div>
    </div>
  </div>
</div>
