<div id="surveillance-confirm">
  <div class="row">
    <div class="col-sm-12">
      <h2>Confirm Surveillance</h2>
      <div ncy-breadcrumb></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 table-responsive">
      <p ng-if="$ctrl.uploadingSurveillances.length === 0">No activities currently in queue</p>
      <div ng-if="$ctrl.uploadingSurveillanceMessages">
        <ul>
          <li ng-repeat="message in $ctrl.uploadingSurveillanceMessages">{{ message }}</li>
        </ul>
      </div>
      <table class="table table-condensed" ng-if="$ctrl.uploadingSurveillances.length > 0" id="pending-surveillance-table">
        <thead>
          <tr>
            <th scope="col">CHPL ID</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Surveillance Type</th>
            <th scope="col">Number of Requirements Surveilled</th>
            <th scope="col">Record Type</th>
            <th scope="col">Status</th>
            <th scope="cols" colspan="2"><span class="sr-only">Action</span></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="8">&nbsp;</th>
            <th>
              <button class="btn btn-warning btn-block" id="pending-surveillance-select-all"
                      ng-click="$ctrl.selectAllPendingSurveillance()"><i class="fa fa-check"></i> Select all</button>
              <button class="btn btn-danger btn-block" id="pending-listing-reject-all"
                      ng-disabled="$ctrl.getNumberOfSurveillanceToReject() < 1"
                      confirm="Are you sure you wish to remove {{ $ctrl.getNumberOfSurveillanceToReject() }} surveillance{{ $ctrl.getNumberOfSurveillanceToReject() > 1 ? 's' : '' }} from the queue?"
                      confirm-ok="Yes"
                      confirm-cancel="No"
                      confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
                      ng-click="$ctrl.massRejectPendingSurveillance()"><i class="fa fa-trash-o"></i> Reject</button>
            </th>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="surv in $ctrl.uploadingSurveillances | orderBy: 'certifiedProduct.chplProductNumber' track by surv.id">
            <td><a href="#/listing/{{ surv.certifiedProduct.id}}">{{ surv.certifiedProduct.chplProductNumber }}</a></td>
            <td>{{ $ctrl.DateUtil.getDisplayDateFormat(surv.startDay) }}</td>
            <td>{{ $ctrl.DateUtil.getDisplayDateFormat(surv.endDay) }}</td>
            <td>{{ surv.type.name }}</td>
            <td>{{ surv.requirements.length }}</td>
            <td>
              <span ng-if="surv.surveillanceIdToReplace">Replacement</span>
              <span ng-if="!surv.surveillanceIdToReplace">New</span>
            </td>
            <td><span ng-bind-html="$ctrl.parseSurveillanceUploadError(surv)"></span></td>
            <td class="text-center">
              <button class="btn btn-ai-success btn-block" ng-click="$ctrl.inspectSurveillance(surv)" id="pending-surveillance-inspect-{{ surv.certifiedProduct.chplProductNumber }}"><i class="fa fa-eye"></i> Inspect</button>
            </td>
            <td class="text-center">
              <input type="checkbox" class="form-control" ng-model="$ctrl.massRejectSurveillance[surv.id]" id="pending-surveillance-reject-{{ surv.certifiedProduct.chplProductNumber }}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
