<div role="modal" aria-labeled-by="modal-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modal-label">Job</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="vm.jobForm">
    <div class="row">
      <div class="col-md-12">
        <h5>Job: {{ vm.job.name}}</h5>
        <p>Description: {{ vm.job.description }}</p>
      </div>
    </div>
    <div class="row" ng-repeat="item in vm.job.jobDataMap.editableJobFields.split(';')">
      <div class="col-md-4">
        {{ item.split('-')[1] }}
      </div>
      <div class="col-md-8">
        <ul>
          <li ng-repeat="value in vm.job.jobDataMap[item.split('-')[0]].split(vm.SPLIT_PRIMARY)">
            {{ value }}
            <button class="btn btn-warning pull-right" ng-click="vm.removeItem(item, value)"><i class="fa fa-trash"></i><span class="sr-only">Remove</span></button>
            <div class="clearfix"></div>
          </li>
        </ul>
        <label for="new-item"><span class="sr-only">Add new item</span></label>
        <input type="text" id="new-item" ng-model="vm.newItem[item]">
        <button class="btn btn-default pull-right" ng-click="vm.addNewItem(item)"><i class="fa fa-plus"></i><span class="sr-only">Add</span></button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger" ng-if="vm.errorMessage">{{ vm.errorMessage }}</div>
    <button ng-disabled="vm.triggerForm.$invalid && vm.showFormErrors"
            ng-mouseover="vm.showFormErrors = true"
            class="btn btn-ai-success pull-right" ng-click="vm.save()"><i class="fa fa-save"></i><span class="sr-only">Save Job</span></button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-ban"></i><span class="sr-only">Cancel</span></button>
  </div>
</div>
