<section class="row">
  <div class="col-sm-12 admin-inner-tab main-content form-horizontal">
    <h3>Scheduled Jobs</h3>
    <table class="table table-condensed" st-table="vm.displayedTriggers" st-safe-src="vm.scheduledTriggers">
      <thead>
        <tr>
          <th scope="col" class="search-header" st-sort="email" st-skip-natural="true" st-sort-default="true">Email</th>
          <th scope="col">Scheduled Job(s)</th>
          <th scope="col"><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td><button class="btn btn-primary" ng-click="vm.createTrigger()"><i class="fa fa-plus"></i><span class="sr-only">Create new job</span></button></td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="trigger in vm.displayedTriggers track by $index">
          <td>{{ trigger.email }}</td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="detail in trigger.details | orderBy:'detail'">{{ detail }}</li>
            </ul>
          </td>
          <td><button class="btn btn-ai-success" ng-click="vm.editTrigger(trigger)"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit job for {{ trigger.email }}</span></button></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3>Types of Jobs</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th scope="col">Job Name</th>
          <th scope="col">Description</th>
          <th scope="col"><span class="sr-only">Action</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in vm.scheduleJobs | orderBy: 'name'">
          <td>{{ job.name }}</td>
          <td>{{ job.description }}</td>
          <td><button class="btn btn-ai-success" ng-click="vm.editJob(job)" ng-if="job.jobDataMap.editableJobFields"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit job for {{ job.name }}</span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
