<div role="modal" aria-labeled-by="modal-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modal-label">Schedule</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="vm.triggerForm">
    <div class="form-group row">
      <label class="col-md-4" for="jobs">Job</label>
      <div class="col-md-8">
        <select class="form-control"
          id="jobs"
          name="jobs"
          ng-model="vm.trigger.job"
          ng-options="job as job.name for job in vm.scheduleJobs track by job.name"
          ng-disabled="vm.trigger.name"
          required>
        </select>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.triggerForm.jobs.$touched) && vm.triggerForm.jobs.$error.required">Job is required</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4" for="email">Recipient email</label>
      <div class="col-md-8">
        <input class="input-sm form-control" type="email" ng-model="vm.trigger.email" id="email" name="email" ng-disabled="vm.trigger.name" required></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.triggerForm.email.$touched) && vm.triggerForm.email.$error.required">Email is required</div>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.triggerForm.email.$touched) && vm.triggerForm.email.$error.email">Email format is invalid</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <cron-gen ng-model="vm.trigger.cronSchedule" options="vm.schConfig"></cron-gen>
        <p><strong>Schedule, in cron format: {{ vm.trigger.cronSchedule }}</strong></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger" ng-if="vm.errorMessage">{{ vm.errorMessage }}</div>
    <button ng-disabled="vm.triggerForm.$invalid && vm.showFormErrors"
            ng-mouseover="vm.showFormErrors = true"
            class="btn btn-ai-success pull-right" ng-click="vm.save()"><i class="fa fa-save"></i><span class="sr-only">Save Schedule</span></button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-ban"></i><span class="sr-only">Cancel</span></button>
    <button class="btn btn-danger pull-left"
            confirm="Are you sure you wish to delete this schedule?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-if="vm.trigger.name"
            ng-click="vm.deleteTrigger()"><i class="fa fa-trash"></i><span class="sr-only">Delete Schedule</span></button>
  </div>
</div>
