.selected-item--primary {
    background-color: var(--grey);
}

.selected-item--secondary {
    cursor: pointer;
}

.selected-item--odd {
    background-color: var(--grey-blue);
}

.selected-item--even {
    background-color: var(--white);
}
