<div class="container-fluid">
  <ui-view></ui-view>
  <div class="row" ng-if="!$ctrl.$stateParams.productId">
    <div class="col-sm-12">
      <h1 ng-switch on="$ctrl.action">
        <span ng-switch-when="edit">Edit Developer</span>
        <span ng-switch-when="merge">Merge Developers</span>
        <span ng-switch-when="split">Split a Developer</span>
        <span ng-switch-default>View Developer</span>
      </h1>
    </div>
  </div>
  <div class="row main-content" id="main-content" tabindex="-1" ng-if="!$ctrl.$stateParams.productId">
    <div class="col-md-6">
      <ul ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length > 0" class="bg-danger">
        <li ng-repeat="msg in $ctrl.errorMessages">{{ msg }}</li>
      </ul>
      <h2 ng-if="$ctrl.action === 'split'">Original Developer</h2>
      <chpl-developer allowed-acbs="$ctrl.allowedAcbs"
                      developer="$ctrl.developer"
                      can-edit="$ctrl.can('edit')"
                      can-merge="$ctrl.can('merge')"
                      can-split="$ctrl.can('split-developer')"
                      is-editing="$ctrl.action === 'edit' || $ctrl.action === 'merge'"
                      is-invalid="$ctrl.action === 'merge' && $ctrl.mergingDevelopers.length === 0"
                      on-cancel="$ctrl.cancel()"
                      on-edit="$ctrl.save(developer)"
                      show-full="true"
                      take-action="$ctrl.takeAction(action)"
                      ></chpl-developer>
      <div ng-if="$ctrl.action === 'split'">
        <h3>Products staying with original Developer</h3>
        <div class="bg-danger" ng-if="$ctrl.products.length === 0">At least one Product must remain</div>
        <div ng-repeat="product in $ctrl.products | orderBy: 'name'">
          {{ product.name }}
          <button class="btn btn-default btn-small pull-right" ng-click="$ctrl.toggleMove(product, true)"><i class="fa fa-long-arrow-right"></i><span class="sr-only"> Move to new</span></button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6" ng-if="!$ctrl.action || $ctrl.action === 'edit'">
      <h2>Products</h2>
      <div ng-repeat="product in $ctrl.products | orderBy: 'name'">
        <chpl-product product="product"
                      developer="$ctrl.developer"
                      can-edit="$ctrl.can('edit')"
                      can-merge="$ctrl.can('merge') && $ctrl.products.length > 1"
                      can-split="$ctrl.can('split-product')"
                      take-action="$ctrl.takeProductAction(action, productId)"
                      ></chpl-product>
      </div>
    </div>
    <div class="col-md-6" ng-if="$ctrl.action === 'merge'">
      <h2>Developers to merge</h2>
      <div class="bg-danger" ng-if="$ctrl.mergingDevelopers.length === 0">At least one Developer must be selected to merge</div>
      <div ng-repeat="developer in $ctrl.mergingDevelopers | orderBy: 'name'">
        {{ developer.name }}
        <button class="btn btn-warning btn-small pull-right" ng-click="$ctrl.toggleMerge(developer, false)"><i class="fa fa-minus"></i><span class="sr-only"> Remove</span></button>
        <div class="clearfix"></div>
      </div>
      <h2>All Developers</h2>
      <div ng-repeat="developer in $ctrl.developers | filter: {deleted: false} | orderBy: 'name'">
        {{ developer.name }}
        <button class="btn btn-ai-success btn-small pull-right" ng-click="$ctrl.toggleMerge(developer, true)" ng-disabled="developer.developerId === $ctrl.developer.developerId || developer.status.status !== 'Active'"><i class="fa fa-plus"></i><span class="sr-only"> Add</span></button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-6" ng-if="$ctrl.action === 'split'">
      <h2>New Developer</h2>
      <chpl-developer developer="$ctrl.newDeveloper"
                      can-edit="$ctrl.can('edit')"
                      is-editing="$ctrl.splitEdit"
                      is-splitting="true"
                      on-cancel="$ctrl.cancelSplitEdit()"
                      on-edit="$ctrl.saveSplitEdit(developer)"
                      show-full="true"
                      take-action="$ctrl.takeSplitAction()"></chpl-developer>
      <h3>Products moving to new Developer</h3>
      <div class="bg-danger" ng-if="$ctrl.movingProducts.length === 0">At least one Product must be selected to move</div>
      <div ng-repeat="product in $ctrl.movingProducts | orderBy: 'name'">
        <button class="btn btn-default btn-small" ng-click="$ctrl.toggleMove(product, false)"><i class="fa fa-long-arrow-left"></i><span class="sr-only"> Move to new</span></button>{{ product.name }}
      </div>
      <button class="btn btn-ai-success btn-small pull-right" ng-click="$ctrl.split()" ng-disabled="$ctrl.splitEdit || $ctrl.movingProducts.length === 0"><i class="fa fa-save"></i><span class="sr-only"> Save</span></button>
      <button class="btn btn-warning btn-small" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only"> Cancel</span></button>
    </div>
  </div>
</div>
