<ui-view>
  <div class="row">
    <div class="col-sm-12">
      <h1>View Developers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-3">
            <label for="developer-select" class="control-label">Developer</label>
          </div>
          <div class="col-sm-7">
            <select ng-model="$ctrl.developerToLoad"
                    id="developer-select" class="form-control col-sm-8"
                    ng-options="d.name for d in $ctrl.developers | orderBy: 'name'">
              <option value="" selected disabled>Select a developer</option>
            </select>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default form-control" ng-click="$ctrl.loadDeveloper()" id="developer-button">Choose</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-ai-success" ng-click="$ctrl.viewDeveloperCodes = !$ctrl.viewDeveloperCodes">{{ $ctrl.viewDeveloperCodes ? 'Hide' : 'Show' }} Developer Codes</button>
      <table class="table table-striped table-condensed" ng-if="$ctrl.viewDeveloperCodes">
        <thead>
          <tr>
            <th scope="cols">Code</th>
            <th scope="cols">Name</th>
            <th scope="cols">Status</th>
            <th scope="cols" ng-repeat="att in $ctrl.activeAcbs | orderBy:'toString()'" feature-flag="effective-rule-date" feature-flag-hide>{{ att }}</th>
            <th scope="cols">Last modified date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dev in $ctrl.developers | orderBy: 'name'">
            <td>{{ dev.developerCode }}</td>
            <td>{{ dev.name }}</td>
            <td>{{ dev.status.status }}</td>
            <td ng-repeat="att in $ctrl.activeAcbs | orderBy:'toString()'" feature-flag="effective-rule-date" feature-flag-hide>{{ dev.transMap[att] ? dev.transMap[att].transparencyAttestation : 'None' }}</td>
            <td>{{ dev.lastModifiedDate | date : 'mediumDate' : 'UTC' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ui-view>
