<ui-view>
  <div class="row" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC','ROLE_ACB'])">
    <div class="col-sm-12">
      <h1>View Developer</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul ng-if="$ctrl.errorMessages && $ctrl.errorMessages.length > 0" class="bg-danger">
        <li ng-repeat="msg in $ctrl.errorMessages">{{ msg }}</li>
      </ul>
      <chpl-developer developer="$ctrl.developer"
                      allowed-acbs="$ctrl.allowedAcbs"
                      can-edit="$ctrl.can('edit')"
                      can-merge="$ctrl.can('merge') && $ctrl.developers.length > 0"
                      can-split="$ctrl.can('split-developer')"
                      is-editing="$ctrl.action === 'edit'"
                      on-cancel="$ctrl.cancel()"
                      on-edit="$ctrl.save(developer)"
                      take-action="$ctrl.takeAction(action)"
                      ></chpl-developer>
      <div feature-flag="role-developer">
        <div class="panel panel-default" ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN','ROLE_ONC','ROLE_ACB']) && !$ctrl.action">
          <div class="panel-heading">
            <h2 class="panel-title">Manage Users ({{ $ctrl.users.length }})</h2>
          </div>
          <div class="panel-body">
            <chpl-users column-count="1"
                        users="$ctrl.users"
                        roles="$ctrl.roles"
                        take-action="$ctrl.takeUserAction(action, data)"
                        ></chpl-users>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" feature-flag="direct-review">
        <div class="panel-heading">
          <div class="panel-title">
            <span class="pull-right">({{ $ctrl.directReviews && $ctrl.directReviews.length ? $ctrl.directReviews.length : 0 }} found)</span>
            <h2>Direct Review Activities</h2>
          </div>
          <div class="panel-body">
            <chpl-direct-reviews direct-reviews="$ctrl.directReviews"></chpl-direct-reviews>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><h2>Products</h2></div>
        </div>
        <div class="panel-body">
          <div ng-repeat="product in $ctrl.products | orderBy: 'name'">
            <chpl-product product="product"
                          search-options="$ctrl.searchOptions"
                          ></chpl-product>
          </div>
        </div>
      </div>
    </div>
  </div>
</ui-view>
