<div class="manage-list__container">
  <div class="data-label">Required Test</div>
  <div class="data-label">Domain</div>
  <div class="data-label">G1/G2?</div>
  <div class="data-label">Associated Criteria</div>
  <div class="manage-list__item--start" ng-repeat-start="item in $ctrl.measures track by $index">
    {{ item.measure.abbreviation }}: {{ item.measure.requiredTest }}
  </div>
  <div>
    {{ item.measure.domain.name }}
  </div>
  <div>
    {{ item.measurementType.name }}
  </div>
  <div>
    <ul class="list-unstyled">
      <li ng-repeat="criteria in item.associatedCriteria">{{ criteria.number }}</li>
    </ul>
  </div>
  <div class="manage-list__item--end" ng-repeat-end>
    <button class="btn btn-link btn-sm" ng-click="$ctrl.removeItem(item)"><i class="fa fa-times"></i></button>
  </div>
  <div class="manage-list__item--start" ng-if="$ctrl.ManageList.addingItem['mipsMeasures']">
    <label for="mips-measure-add-new-test" class="sr-only">Required Test</label>
    <select ng-model="$ctrl.ManageList.newItem['mipsMeasures'].selectedAbbreviation" required
            ng-options="item for item in $ctrl.allTests" ng-change="$ctrl.updateAllowedMeasures()"
            id="mips-measure-add-new-test" name="mipsMeasureAddNewTest" class="input-sm form-control">
    </select>
  </div>
  <div ng-if="$ctrl.ManageList.addingItem['mipsMeasures']">
    <label for="mips-measure-add-new-domain" class="sr-only">Domain</label>
    <select ng-model="$ctrl.ManageList.newItem['mipsMeasures'].measure" required
            ng-options="item as item.domain.name for item in $ctrl.allowedMeasures"
            ng-disabled="!$ctrl.ManageList.newItem['mipsMeasures'].selectedAbbreviation"
            ng-change="$ctrl.clearCriteria()"
            id="mips-measure-add-new-domain" name="mipsMeasureAddNewDomain" class="input-sm form-control">
    </select>
  </div>
  <div ng-if="$ctrl.ManageList.addingItem['mipsMeasures']">
    <span ng-repeat="type in $ctrl.allTypes">
      <label for="mips-measure-add-new-type-{{ type.name }}" class="sr-only">{{ type.name }}?</label>
      <input type="radio" ng-model="$ctrl.ManageList.newItem['mipsMeasures'].typeName"
             ng-disabled="!$ctrl.ManageList.newItem['mipsMeasures'].selectedAbbreviation"
             id="mips-measure-add-new-type-{{ type.name }}" name="mispMeasureAddNewType{{ type.name }}" value="{{ type.name }}" required>{{ type.name }}</input>
    </span>
  </div>
  <div ng-if="$ctrl.ManageList.addingItem['mipsMeasures']">
    <ul ng-if="!$ctrl.ManageList.newItem['mipsMeasures'].measure.requiresCriteriaSelection">
      <li ng-repeat="criteria in $ctrl.ManageList.newItem['mipsMeasures'].measure.allowedCriteria">{{ criteria.number }}: {{ criteria.title }}</li>
    </ul>
    <div ng-repeat="criteria in $ctrl.ManageList.newItem['mipsMeasures'].measure.allowedCriteria" ng-if="$ctrl.ManageList.newItem['mipsMeasures'].measure.requiresCriteriaSelection">
      <label for="mips-measure-add-new-criteria-{{ criteria.id }}" class="sr-only">{{ criteria.number }}?</label>
      <input type="checkbox" ng-model="$ctrl.ManageList.newItem['mipsMeasures'].criteria[criteria.id].selected"
             ng-disabled="!$ctrl.ManageList.newItem['mipsMeasures'].selectedAbbreviation"
             id="mips-measure-add-new-criteria-{{ criteria.id }}" name="mispMeasureAddNewCriteria{{ criteria.id }}" value="{{ criteria.id }}">{{ criteria.number }}</input>
    </div>
  </div>
  <div class="manage-list__item--end" ng-if="$ctrl.ManageList.addingItem['mipsMeasures']">
    <button class="btn btn-link btn-sm" ng-click="$ctrl.saveNewItem('mipsMeasures')" ng-mouseover="$ctrl.showFormErrors = true"
            ng-disabled="($ctrl.showFormErrors || $ctrl.form.mipsMeasureAddNewTest.$touched || $ctrl.form.mipsMeasureAddNewDate.$touched || $ctrl.form.mipsMeasure.addNewG.$touched) && ($ctrl.form.mipsMeasureAddNewTest.$error.required || $ctrl.form.mipsMeasureAddNewDomain.$error.required || $ctrl.form.mipsMeasureAddNewG.$error.required)"><i class="fa fa-save"></i></button>
    <button class="btn btn-link btn-sm" ng-click="$ctrl.cancelNewItem('mipsMeasures')"><i class="fa fa-times"></i></button>
  </div>
  <div class="manage-list__item--start" ng-if="!$ctrl.ManageList.addingItem['mipsMeasures']">
    <button class="btn btn-sm btn-link" ng-click="$ctrl.ManageList.addingItem['mipsMeasures'] = true"><i class="fa fa-plus-circle"></i> Add Item</button>
  </div>
  <div class="manage-list__item--start manage-list--span-2">
    <pre>{{ $ctrl.ManageList | json }}</pre>
  </div>
</div>
