<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User Registration</h1>
    </div>
  </div>
  <div class="row main-content" id="main-content" tabindex="-1">
    <div class="col-md-8 col-md-offset-2">
      <div ng-if="$ctrl.isCreateAccountMode()" class="row">
        <div class="col-md-12">
          <p>Welcome to ONC’s Certified Health IT Product List (CHPL). You have been invited to be an Administrator, which will allow you to manage your organization’s information on the CHPL. Please log in to your existing account to add any permissions and/or organizations, or create a new account by completing the form and selecting the ‘create account’ button below.</p>
        </div>
      </div>
      <div ng-if="$ctrl.isSignInMode()" class="row">
        <div class="col-md-12">
          <p>Welcome to ONC’s Certified Health IT Product List (CHPL). You have been invited to be an Administrator, which will allow you to manage your organization’s information on the CHPL. Please log in to your existing account to add any permissions and/or organizations, or create a new account by selecting the ‘create a new account’ button below.</p>
        </div>
      </div>
      <div ng-if="$ctrl.isCreateAccountSuccessMode()" class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="alert alert-success">{{ $ctrl.message.value }}</p>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.isCreateAccountMode()" ng-form="$ctrl.createUserForm">
        <div class="col-md-8 col-md-offset-2" ng-if="$ctrl.message.value">
          <p class="alert alert-danger">{{ $ctrl.message.value }}</p>
        </div>
        <div class="col-md-12">
          <div class="flex-container">
            <div class="flex-item">
              <p>Create a new account</p>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <label for="password" class="control-label">Password <span class="text-danger">*</span></label>
              <div>
                <input type="password" id="password" name="password" ng-model="$ctrl.userDetails.user.password" class="form-control" required ng-change="$ctrl.setExtras()"
                       zxcvbn="$ctrl.passwordStrength" zx-extras="$ctrl.extras" zx-min-score="3" />
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.createUserForm.password.$touched) && $ctrl.createUserForm.password.$error.required">Field is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.createUserForm.password.$touched) && !$ctrl.createUserForm.password.$error.required && $ctrl.createUserForm.password.$error.passwordStrength">Password must be stronger</div>
                <ul class="list-unstyled text-info" ng-if="$ctrl.passwordStrength.score <= 2">
                  <li ng-if="$ctrl.passwordStrength.feedback.warning">{{ $ctrl.passwordStrength.feedback.warning }}</li>
                  <li ng-repeat="sugg in $ctrl.passwordStrength.feedback.suggestions">{{ sugg }}</li>
                </ul>
                <uib-progressbar max="4" value="$ctrl.passwordStrength.score" type="{{ $ctrl.passwordClass($ctrl.passwordStrength.score) }}" title="Password strength rating">
                  <span class="sr-only">Password strength: </span>{{ $ctrl.passwordTitle($ctrl.passwordStrength.score) }}
                </uib-progressbar>
              </div>
            </div>
            <div class="flex-item">
              <label for="passwordverify" class="control-label">Verify password <span class="text-danger">*</span></label>
              <div>
                <input type="password" id="passwordverify" name="passwordverify" ng-model="$ctrl.userDetails.user.passwordverify" class="form-control" required />
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.createUserForm.passwordverify.$touched) && $ctrl.createUserForm.passwordverify.$error.required">Field is required</div>
                <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.createUserForm.passwordverify.$touched) && !$ctrl.createUserForm.passwordverify.$error.required && $ctrl.misMatchPasswords()">Passwords must match</div>
              </div>
            </div>
          </div>
          <chpl-contact contact="$ctrl.userDetails.user"
                        is-editing="true"
                        is-required="true"
                        on-change="$ctrl.editContact(contact)"
                        show-form-errors="$ctrl.showFormErrors"></chpl-contact>
          <div class="flex-container">
            <div class="flex-item">
              <button class="btn btn-primary btn-block"
                      ng-mouseover="$ctrl.showFormErrors = true; $ctrl.setExtras()"
                      ng-click="$ctrl.createUser()" ng-disabled="($ctrl.createUserForm.$invalid || $ctrl.misMatchPasswords()) && $ctrl.showFormErrors">Create account</button>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <p>Or <button class="btn btn-secondary" ng-click="$ctrl.changeDisplayMode('SIGN-IN')">log in to your existing account</button></p>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <p>If you require accessibility assistance, please visit the <a href="https://inquiry.healthit.gov/">Health IT Feedback and Inquiry Portal</a> and select “Certified Health IT Product List (CHPL)” to submit a ticket.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.isSignInMode()" ng-form="$ctrl.authorizeUserForm">
        <div class="col-md-12">
          <div class="flex-container">
            <div class="flex-item">
              <p>Log in to your existing account</p>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <label for="authorize-username" class="control-label">Email <span class="text-danger">*</span> (Or Username)</label>
              <input type="text" id="authorize-username" ng-model="$ctrl.authorizeDetails.userName" class="form-control" required />
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <label for="authorize-password" class="control-label">Password <span class="text-danger">*</span></label>
              <input type="password" id="authorize-password" ng-model="$ctrl.authorizeDetails.password" class="form-control" required />
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <button class="btn btn-primary btn-block" ng-click="$ctrl.authorizeUser()" ng-disabled="$ctrl.authorizeUserForm.$invalid">Log in to your account</button>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <p>Or <button class="btn btn-secondary" ng-click="$ctrl.changeDisplayMode('CREATE-ACCOUNT')">create a new account</button></p>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">
              <p>If you require accessibility assistance, please visit the <a href="https://inquiry.healthit.gov/">Health IT Feedback and Inquiry Portal</a> and select “Certified Health IT Product List (CHPL)” to submit a ticket.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2" ng-if="$ctrl.message.value">
          <p class="alert alert-danger">{{ $ctrl.message.value }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
