.product-element {
    border-bottom: 1px solid #ccc;
}

.product-element .product-heading {
    font-family: "Oswald", sans-serif;
    color: #0070c9;
}

.product-history {

    .modal-footer {
        text-align: left;
    }
}
