<div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Version</h1>
      <p>Step 3 of 4</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" ng-if="!$ctrl.pendingVersion.versionId" id="version-new">
      <h3>System version information</h3>
      <p>This is the version information that will be saved in the Open Data CHPL database and associated with this Certified Product.</p>
      <div class="panel panel-ai">
        <div class="panel-heading" ng-if="$ctrl.product">
          This version <strong>"{{ $ctrl.pendingVersion.version }}"</strong> does not currently exist in the Open Data CHPL.
        </div>
        <div class="panel-heading" ng-if="!$ctrl.product">
          {{ $ctrl.pendingVersion.version }}
        </div>
        <div class="panel-body">
          <div class="row admin-label-spaced">
            <ul class="list-inline">
              <li ng-if="$ctrl.product"><label><input type="radio" id="select-version" name="version-choice" ng-model="$ctrl.choice" value="choose"> Select existing version</label></li>
              <li><label><input type="radio" id="create-version" name="version-choice" ng-model="$ctrl.choice" value="create"> Create new version</label></li>
            </ul>
          </div>
          <div ng-if="$ctrl.choice === 'choose'">
            <label for="version-select" class="control-label admin-label-spaced">Select a version</label>
            <select ng-model="$ctrl.versionSelect"
                    id="version-select" class="input-sm form-control"
                    ng-options="v.version for v in $ctrl.availableVersions | orderBy: 'version'">
            </select>
            <p><button class="btn btn-default btn-block" ng-click="$ctrl.select()">Select Version</button></p>
          </div>
          <div ng-if="$ctrl.choice === 'create'">
            Uploaded version information will be used to create a new version
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-if="$ctrl.pendingVersion.versionId" id="version-system">
      <h3>System version information</h3>
      <p>This is the version information that will be saved in the Open Data CHPL database and associated with this Certified Product.</p>
      <div class="panel panel-ai">
        <div class="panel-heading">
          {{ $ctrl.systemVersion.version }}
        </div>
        <div class="panel-body">
          <br />
          Last Modified Date: {{ $ctrl.systemVersion.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
        </div>
      </div>
    </div>
    <div class="col-sm-6" id="version-uploaded">
      <h3>Uploaded version information</h3>
      <p>This is the version information from your Upload File.</p>
      <div class="panel panel-ai">
        <div class="panel-heading">
          {{ $ctrl.pendingVersion.version }}
        </div>
      </div>
    </div>
  </div>
</div>
