<div>
  <div ng-if="widget.inProgress">Processing <i class="fa fa-spinner fa-spin"></i></div>
  <div ng-if="!widget.products || widget.products.length === 0">No products selected.</div>
  <ul class="list-unstyled selectedProducts" ng-if="widget.searchResult.products.length> 0">
    <li ng-repeat="item in widget.searchResult.products | orderBy:'name'">
      <button class="btn btn-ai-grey btn-sm btn-block" ng-click="removeProduct(item.productId, item.chplProductNumber)">
        <i class="fa fa-close pull-right"></i>
        <chpl-ellipsis-bridge text="item.name" max-length="80"></chpl-ellipsis-bridge> <span class="sr-only">Remove {{ item.name }} from EHR Certification ID</span>&nbsp;&nbsp;&nbsp;
      </button>
    </li>
  </ul>
  <div ng-if="!widget.products || widget.products.length === 0 || widget.searchResult.metPercentages.criteriaMet < 100">
    For assistance, view the <a href="https://www.healthit.gov/sites/default/files/policy/chpl_public_user_guide.pdf" analytics-on="click" analytics-category="CMS Widget" analytics-event="Open CHPL Public User Guide">CHPL Public User Guide</a>. Note the selected product<span ng-if="widget.products.length !== 1">s</span> must meet 100% of the Base Criteria.
  </div>
  <div ng-if="widget.searchResult.products">
    <a href="http://healthit.gov/topic/certification-ehrs/2015-edition-test-method/2015-edition-cures-update-base-electronic-health-record-definition" analytics-on="click" analytics-category="CMS Widget" analytics-event="Open Base Criteria">Base Criteria</a> Met<br />
    <uib-progressbar max="100" value="widget.searchResult.metPercentages.criteriaMet" type="warning" ng-if="widget.searchResult.metPercentages.criteriaMet < 100" title="{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met">{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met</uib-progressbar>
    <uib-progressbar max="100" value="widget.searchResult.metPercentages.criteriaMet" type="success" ng-if="widget.searchResult.metPercentages.criteriaMet === 100" title="{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met">{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met</uib-progressbar>
  </div>
  <div class="cms-widget__missing-and" ng-if="widget.searchResult.missingAnd.length">
    Please select a product or products that contain the following criteria:
    <ul class="list-unstyled">
      <li ng-repeat="criteria in widget.searchResult.missingAnd">
        {{ criteria }}
      </li>
    </ul>
  </div>
  <div class="cms-widget__missing-or" ng-if="widget.searchResult.missingOr.length">
    <span ng-if="widget.searchResult.missingAnd.length > 0">In addition, products</span><span ng-if="widget.searchResult.missingAnd.length === 0">Please select a product</span> with at least 1 criteria from the following group<span ng-if="widget.searchResult.missingOr.length > 1">s</span>:
    <ul class="list-unstyled">
      <li ng-repeat="criterias in widget.searchResult.missingOr">
        [<span>{{ criterias.join(', ') }}</span>]
      </li>
    </ul>
  </div>
  <p class="text-center text-danger" ng-if="widget.errorMessage">
    {{ widget.errorMessage }}
  </p>
  <p class="text-center" ng-if="widget.createResponse && widget.createResponse.ehrCertificationId">
    Your CMS EHR Certification ID<br />
    <strong>{{ widget.createResponse.ehrCertificationId }}</strong>
    <br/>* Additional certification criteria may need to be added in order to meet submission requirements for Medicaid and Medicare programs.
  </p>
  <p>
    <br />
    To view which products were used to create a specific CMS ID, use the <a ui-sref="resources.cms-lookup" analytics-on="click" analytics-category="CMS Widget" analytics-event="Go to CMS ID Reverse Lookup page">CMS ID Reverse Lookup</a>
  </p>
  <div ng-if="widget.searchResult.products">
    <button ng-click="create()" class="btn btn-ai-certid btn-sm btn-block" ng-if="!widget.createResponse" ng-disabled="!widget.searchResult.valid" id="get-ehr-cert-id">Get {{ widget.searchResult.year }} EHR Certification ID</button>
    <button ng-click="generatePdf()" class="btn btn-ai-certid btn-sm btn-block" ng-if="widget.createResponse" id="download-ehr-cert">Download PDF</button>
    <button ng-click="compare()" class="btn btn-ai btn-sm btn-block" ng-if="widget.searchResult.products.length > 1" id="cms-compare">Compare products</button>
    <button ng-click="clearProducts()" class="btn btn-ai btn-sm btn-block" ng-if="widget.searchResult.products.length > 0" id="cms-remove-all">Remove all products</button>
  </div>
</div>
