<div>
  <div ng-if="widget.inProgress">Processing <i class="fa fa-spinner fa-spin"></i></div>
  <div ng-if="!widget.productIds || widget.productIds.length === 0">No products selected.</div>
  <ul class="list-unstyled selectedProducts" ng-if="widget.searchResult.products.length> 0">
    <li ng-repeat="item in widget.searchResult.products | orderBy:'name'">
      <button class="btn btn-ai-grey btn-sm btn-block" ng-click="removeProduct(item.productId)">
        <i class="fa fa-close pull-right"></i>
        <ai-ellipsis text="{{ item.name }}" max-length="80"></ai-ellipsis> <span class="sr-only">Remove {{ item.name }} from EHR Certification ID</span>&nbsp;&nbsp;&nbsp;
      </button>
    </li>
  </ul>
  <div feature-flag="effective-rule-date">
    <div ng-if="!widget.productIds || widget.productIds.length === 0 || widget.searchResult.metPercentages.criteriaMet < 100">
      For assistance, view the <a href="https://www.healthit.gov/sites/default/files/policy/chpl_public_user_guide.pdf">CHPL Public User Guide</a>. Note the selected product<span ng-if="widget.productIds.length !== 1">s</span> must meet 100% of the Base Criteria.
    </div>
    <div ng-if="widget.searchResult.products">
      <a href="https://www.healthit.gov/sites/default/files/2015edition_base_ehr_definition_ml_11-4-15.pdf">Base Criteria</a> Met<br />
      <uib-progressbar max="100" value="widget.searchResult.metPercentages.criteriaMet" type="warning" ng-if="widget.searchResult.metPercentages.criteriaMet < 100" title="{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met">{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met</uib-progressbar>
      <uib-progressbar max="100" value="widget.searchResult.metPercentages.criteriaMet" type="success" ng-if="widget.searchResult.metPercentages.criteriaMet === 100" title="{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met">{{ widget.searchResult.metPercentages.criteriaMet }}% Base Criteria Met</uib-progressbar>
    </div>
  </div>
  <div feature-flag="effective-rule-date" feature-flag-hide>
    <div ng-if="widget.searchResult.products">
      <table class="table table-condensed">
        <tr><th scope="row">Base Criteria</th><td class="text-right">{{ widget.searchResult.metPercentages.criteriaMet }}%</td></tr>
        <tr ng-if="widget.searchResult.year === '2014'"><th scope="row">CQM Domains</th><td class="text-right">{{ widget.searchResult.metPercentages.cqmDomains }}%</td></tr>
        <tr ng-if="widget.searchResult.year === '2014'"><th scope="row">Inpatient CQMs</th><td class="text-right">{{ widget.searchResult.metPercentages.cqmsInpatient }}%</td></tr>
        <tr ng-if="widget.searchResult.year === '2014'"><th scope="row">Ambulatory CQMs</th><td class="text-right">{{ widget.searchResult.metPercentages.cqmsAmbulatory }}%</td></tr>
      </table>
    </div>
  </div>
  <div ng-if="widget.searchResult.missingAnd.length">
    Please select a product or products that contain the following criteria:
    <ul class="list-unstyled">
      <li ng-repeat="criteria in widget.searchResult.missingAnd">
        {{ criteria }}
      </li>
    </ul>
  </div>
  <div ng-if="widget.searchResult.missingOr.length">
    <span ng-if="widget.searchResult.missingAnd.length > 0">In addition, products</span><span ng-if="widget.searchResult.missingAnd.length === 0">Please select a product</span> with at least 1 criteria from the following group<span ng-if="widget.searchResult.missingOr.length > 1">s</span>:
    <ul class="list-unstyled">
      <li ng-repeat="criterias in widget.searchResult.missingOr">
        [<span>{{ criterias.join(', ') }}</span>]
      </li>
    </ul>
  </div>
  <div ng-if="widget.searchResult.missingCombo.length">
    <span ng-if="widget.searchResult.missingAnd.length > 0 || widget.searchResult.missingOr.length > 0">In addition, products</span><span ng-if="widget.searchResult.missingAnd.length === 0 && widget.searchResult.missingOr.length === 0">Please select a product</span> that fulfills all criteria from at least one of the following group<span ng-if="widget.searchResult.missingCombo.length > 1">s</span>:
    <ul class="list-unstyled">
      <li ng-repeat="criterias in widget.searchResult.missingCombo">
        [<span>{{ criterias.join(', ') }}</span>]
      </li>
    </ul>
  </div>
  <div ng-repeat="maps in widget.searchResult.missingXOr">
    <ul class="list-unstyled">
      <li ng-repeat="(number, criterias) in maps">
        <div ng-if="number > 0">
          <span>Please select {{ number }} from the following:</span>
          [<span>{{ criterias.join(', ') }}</span>]
          <span><strong>{{$parent.$parent.$last ? '' : 'OR'}}</strong></span>
        </div>
      </li>
    </ul>
  </div>
  <p class="text-center text-danger" ng-if="widget.errorMessage">
    {{ widget.errorMessage }}
  </p>
  <p class="text-center" ng-if="widget.createResponse && widget.createResponse.ehrCertificationId">
    Your CMS EHR Certification ID<br />
    <strong>{{ widget.createResponse.ehrCertificationId }}</strong>
    <br/>* Additional certification criteria may need to be added in order to meet submission requirements for Medicaid and Medicare programs.
  </p>
  <p feature-flag="effective-rule-date">
    <a ui-sref="resources.cms-lookup">CMS ID Reverse Lookup</a>
  </p>
  <div ng-if="widget.searchResult.products">
    <button ng-click="create()" class="btn btn-ai-certid btn-sm btn-block" ng-if="!widget.createResponse" ng-disabled="!widget.searchResult.isValid" id="get-ehr-cert-id">Get {{ widget.searchResult.year }} EHR Certification ID</button>
    <button ng-click="generatePdf()" class="btn btn-ai-certid btn-sm btn-block" ng-if="widget.createResponse" id="download-ehr-cert">Download PDF</button>
    <button ng-click="compare()" class="btn btn-ai btn-sm btn-block" ng-if="widget.searchResult.products.length > 1" id="cms-compare">Compare products</button>
    <button ng-click="clearProducts()" class="btn btn-ai btn-sm btn-block" ng-if="widget.searchResult.products.length > 0" id="cms-remove-all">Remove all products</button>
  </div>
</div>
