<section class="row">
  <div class="col-sm-12 admin-inner-tab main-content form-horizontal" ng-form="vm.activityForm">
    <h3>Surveillance Notification Recipients</h3>
    <table class="table table-condensed" st-table="vm.displayedSurveillanceRecipients" st-safe-src="vm.surveillanceRecipients">
      <thead>
        <tr>
          <th scope="col" class="search-header" st-sort="email" st-skip-natural="true" st-sort-default="true">Recipient</th>
          <th scope="col">Report(s)</th>
          <th scope="col"><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td><input type="email" id="email" ng-model="vm.newRecipient.email"></td>
          <td>
            <select id="reportType" ng-model="vm.newRecipient.reportType"
                    ng-options="type as (type.name + (type.acb ? ' (' + type.acb.name + ')' : '')) for type in vm.notificationReportTypes">
            </select>
          </td>
          <td><button class="btn btn-primary" ng-click="vm.addRecipient()" ng-disabled="!vm.isNewRecipientValid()"><i class="fa fa-plus"></i><span class="sr-only">Add recipient</span></button></td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="recipient in vm.displayedSurveillanceRecipients track by recipient.id">
          <td>{{ recipient.email }}</td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="subscription in recipient.subscriptions">{{ subscription.name}} <span ng-if="subscription.acb">({{ subscription.acb.name }})</span></li>
            </ul>
          <td>Edit/Remove</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
