<div role="modal" aria-labeled-by="edit-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-label">{{ vm.action === 'edit' ? 'Edit' : 'Invite'}} User</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <p ng-if="vm.message" class="bg-danger">{{ vm.message }}</p>
    <div ng-if="vm.action === 'edit'">
      <strong>Username: </strong>{{ vm.user.subjectName }}<br />
      <ai-contact contact="vm.user" error-messages="vm.contactErrorMessages" form="vm.editForm" is-editing="true" is-required="true" show-form-errors="vm.showFormErrors"></ai-contact>
      <div class="form-group">
        <label for="is-locked">Locked</label>
        <input type="checkbox" ng-model="vm.user.accountLocked" id="is-locked"></input>
      </div>
      <div class="form-group">
        <label for="is-enabled">Enabled</label>
        <input type="checkbox" ng-model="vm.user.accountEnabled" id="is-enabled"></input>
      </div>
      <div class="form-group">
        <label for="is-pwchange">Password change on next login</label>
        <input type="checkbox" ng-model="vm.user.passwordResetRequired" id="is-pwchange"></input>
      </div>
      <strong>User role: </strong>{{ vm.user.role }}<br />
    </div>
    <div ng-if="vm.action === 'invite'">
      <div class="form-group">
        <label for="invite-email" class="control-label">Email <span class="text-danger">*</span></label>
        <input type="email" id="invite-email" name="inviteEmail" ng-model="vm.userInvitation.emailAddress" class="form-control" required />
        <div class="text-danger" ng-if="vm.editForm.inviteEmail.$touched && vm.editForm.inviteEmail.$error.required">Email is required</div>
        <div class="text-danger" ng-if="vm.editForm.inviteEmail.$touched && vm.editForm.inviteEmail.$error.email">Invalid email</div>
      </div>
      <div class="form-group">
        <label for="new-role" class="control-label">User Role <span class="text-danger">*</span></label>
        <select id="new-role" name="newRole" ng-options="role as role for role in vm.roles" ng-model="vm.userInvitation.permission" class="form-control" required></select>
        <div class="text-danger" ng-if="vm.editForm.newRole.$touched && vm.editForm.newRole.$error.required">Role is required</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="vm.editForm.$invalid && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-repeat="error in vm.contactErrorMessages">{{ error }}</li>
        <li ng-if="vm.editForm.inviteEmail.$error.required">Email is required</li>
        <li ng-if="vm.editForm.inviteEmail.$error.email">Invalid email</li>
        <li ng-if="vm.editForm.newRole.$error.required">Role is required</li>
      </ul>
    </div>
    <button ng-disabled="vm.editForm.$invalid && vm.showFormErrors" class="btn btn-ai-success btn-block"
            ng-if="vm.action === 'edit'"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.save()"><i class="fa fa-save"></i> Save User</button>
    <button ng-disabled="vm.editForm.$invalid && vm.showFormErrors" class="btn btn-ai-success btn-block"
            ng-if="vm.action === 'invite'"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.invite()"><i class="fa fa-envelope-o"></i> Invite User</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-danger btn-block"
            ng-if="vm.action === 'edit'"
            confirm="Are you sure you wish to delete this User? This action is permanent."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.deleteUser()"><i class="fa fa-trash-o"></i> Delete User</button>
  </div>
</div>
