<section class="row">
  <div class="col-md-12 main-content">
    <h2>User Management</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Title</th>
          <th scope="col">Full Name</th>
          <th scope="col">Friendly Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">User&nbsp;Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="8">
            <button class="btn btn-default btn-block" ng-click="$ctrl.inviteUser()">Invite new user</button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="user in $ctrl.users track by user.userId">
          <td>{{ user.subjectName }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.friendlyName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            Locked: <i class="fa fa-lg" ng-class="{ 'fa-check-square-o': user.accountLocked, 'fa-square-o': !user.accountLocked }"></i><br />
            Enabled: <i class="fa fa-lg" ng-class="{ 'fa-check-square-o': user.accountEnabled, 'fa-square-o': !user.accountEnabled }"></i><br />
            Password change on next login: <i class="fa fa-lg" ng-class="{ 'fa-check-square-o': user.passwordResetRequired, 'fa-square-o': !user.passwordResetRequired }"></i><br />
            User Role: {{ user.role }}
          </td>
          <td>
            <button class="btn btn-default btn-block" ng-click="$ctrl.updateUser(user)">Update</button>
            <button class="btn btn-default btn-block" ng-click="$ctrl.impersonateUser(user)" ng-if="$ctrl.canImpersonate(user)">Impersonate</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
