<section class="row">
  <div class="col-md-12 main-content">
    <h2>User Management</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Title</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">User&nbsp;Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="8">
            <button class="btn btn-default btn-block" ng-click="vm.inviteUser()">Invite new user</button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="user in vm.users track by user.user.userId">
          <td>{{ user.user.subjectName }}</td>
          <td>{{ user.user.title }}</td>
          <td>{{ user.user.firstName }}</td>
          <td>{{ user.user.lastName }}</td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.user.phoneNumber }}</td>
          <td>
            Locked: <i class="fa fa-lg" ng-class="{'fa-check-square-o': user.user.accountLocked, 'fa-square-o': !user.user.accountLocked"></i><br />
            Enabled: <i class="fa fa-lg" ng-class="{'fa-check-square-o': user.user.accountEnabled, 'fa-square-o': !user.user.accountEnabled"></i><br />
            User Role<span ng-if="user.roles.length > 1">s</span>:
            <ul>
              <li ng-repeat="role in user.roles">{{ role }}</li>
            </ul>
          </td>
          <td>
            <button class="btn btn-default btn-block" ng-click="vm.updateUser(user)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
