<div role="modal" aria-labeled-by="editLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editLabel">Edit SED Details</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <div class="form-group">
      <label for="cpSedReportFileLoc">Usability Report</label>
      <input class="input-sm form-control" type="url" ng-model="vm.listing.sedReportFileLocation" id="cpSedReportFileLoc" name="cpSedReportFileLoc" ng-maxlength="250"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpSedReportFileLoc.$touched) && vm.editForm.cpSedReportFileLoc.$error.url">Improper format (http://www.example.com)</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpSedReportFileLoc.$touched) && vm.editForm.cpSedReportFileLoc.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="cpSedIntendedUserDescription">SED Intended User Description</label>
      <input class="input-sm form-control" type="text" ng-model="vm.listing.sedIntendedUserDescription" id="cpSedIntendedUserDescription" name="cpSedIntendedUserDescription"></input>
    </div>
    <div class="form-group">
      <label for="cpSedTestingEnd">SED Testing Completion Date</label>
      <div class="input-group">
        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="vm.listing.sedTestingEndDate" is-open="vm.listing.sedTestingEndDatePicker" close-text="Close" id="cpSedTestingEnd" name="cpSedTestingEnd" ng-model-options="{ timezone: 'UTC' }">
        <span class="input-group-btn">
          <button type="button" class="btn btn-ai btn-sm" ng-click="vm.listing.sedTestingEndDatePicker = true"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.cpSedTestingEnd.$touched) && vm.editForm.cpSedTestingEnd.$error.date">Improper format (mm/dd/yyyy)</div>
    </div>
    <div ng-repeat="process in vm.ucdProcesses track by $index">
      <button class="btn btn-danger pull-right" ng-click="vm.ucdProcesses.splice($index, 1)"><i class="fa fa-trash"></i><span class="sr-only">Remove this UCD Process</span></button>
      <div class="form-group">
        <label for="processName{{ $index }}">UCD Process Name</label>
        <input class="input-sm form-control" type="text" ng-model="process.ucdProcessName" id="processName{{ $index }}" name="processName{{ $index }}" required></input>
        <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['processName' + $index].$touched) && vm.editForm['processName' + $index].$error.required">Field is required</div>
      </div>
      <div class="form-group">
        <label for="processDetails{{ $index }}">UCD Process Details</label>
        <input class="input-sm form-control" type="text" ng-model="process.ucdProcessDetails" id="processDetails{{ $index }}" details="processDetails{{ $index }}"></input>
      </div>
      <div class="form-group">
        <label for="processCriteria{{ $index }}">UCD Process Criteria</label>
        <select ng-options="criteria.number as criteria.number for criteria in vm.criteria | orderBy: vm.sortCert" ng-model="process.criteria"
                multiple data-ng-attr-size="{{ vm.criteria.length }}" id="processCriteria{{ $index }}" name="processCriteria{{ $index }}"
                class="form-control input-sm" required></select>
        <div class="text-danger" ng-if="vm.editForm['processCriteria' + $index].$touched && vm.editForm['processCriteria' + $index].$error.required">Field is required</div>
      </div>
    </div>
    <button class="btn btn-success pull-right" ng-click="vm.ucdProcesses.push({})"><i class="fa fa-plus"></i><span class="sr-only">Add new UCD Process</span></button>
    <div class="clearfix"></div>
  </div>
  <div class="modal-footer">
    <div class="text-left text-danger" ng-if="vm.showFormErrors && vm.editForm.$invalid">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.cpSedReportFileLoc.$error.url">Usability Report is an invalid format (http://www.example.com)</li>
        <li ng-if="vm.editForm.cpSedReportFileLoc.$error.maxlength">Usability Report is too long</li>
        <li ng-if="vm.editForm.cpSedTestingEnd.$error.date">SED Testing Completion Date is an invalid format (mm/dd/yyyy)</li>
      </ul>
    </div>
    <button ng-disabled="vm.editForm.$invalid && vm.showFormErrors"
            class="btn btn-ai-success pull-right"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.save()"><i class="fa fa-save"></i><span class="sr-only">Save SED Details</span></button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
