<div id="chpl-report" ng-form="$ctrl.form">
  <div class="row">
    <div class="col-sm-12">
      <h2>Quarterly Report</h2>
      <div ncy-breadcrumb></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="pull-right">
        <button class="btn btn-secondary" id="surveillance-report-download" ng-click="$ctrl.generateReport()">
          <i class="fa fa-download"></i> Download Quarterly Surveillance Report
        </button>
      </span>
      <p><strong>{{ $ctrl.report.acb.name }} Quarterly Surveillance Reporting</strong></p>
      <p><strong>{{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}</strong></p>
      <p>The titles and descriptions used in this module’s user interface reflect the most recent version of the report and may appear differently for historical reports in the downloads</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" for="surveillance-activities">Surveillance Activities and Outcomes</label>
        <p class="form-control-static">The ONC-ACB used the following selection method to make its random selection of certified Health IT Modules for surveillance initiated during the reporting period.</p>
        <textarea class="form-control" id="surveillance-activities" name="surveillanceActivities" ng-model="$ctrl.report.surveillanceActivitiesAndOutcomes" ng-disabled="!$ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="reactive">Reactive Surveillance Summary</label>
        <p class="form-control-static">In order to meet its obligation to conduct reactive surveillance, the ONC-ACB undertook the following activities and implemented the following measures to ensure that it was able to systematically obtain, synthesize and act on all facts and circumstances that would cause a reasonable person to question the ongoing compliance of any certified Health IT Module.</p>
        <textarea class="form-control" id="reactive-surveillance-summary" name="reactiveSurveillanceSummary" ng-model="$ctrl.report.reactiveSurveillanceSummary" ng-disabled="!$ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="prioritized-element">Prioritized Element Summary</label>
        <p class="form-control-static">The ONC-ACB undertook the following activities and implemented the following measures to evaluate and address the prioritized elements of surveillance referred to in Program Policy Resource #18-03 (October 5, 2018).</p>
        <textarea class="form-control" id="prioritized-element" name="prioritizedElement" ng-model="$ctrl.report.prioritizedElementSummary" ng-disabled="!$ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="disclosure-requirements">Disclosure Requirements Summary</label>
        <p class="form-control-static">The ONC-ACB undertook the following activities and implemented the following measures to ensure adherence by developers to disclosure requirements, as required of the ONC-ACB under 45 CFR &sect; 170.523(k):</p>
        <textarea class="form-control" id="disclosure-requirements-summary" name="disclosureRequirementsSummary" ng-model="$ctrl.report.disclosureRequirementsSummary" ng-disabled="!$ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB'])"></textarea>
      </div>
      <chpl-action-bar can-act="$ctrl.can(action)"
                       is-notification="!$ctrl.hasAnyRole(['CHPL-ADMIN', 'ROLE_ACB'])"
                       take-action="$ctrl.takeActionBarAction(action)">
      </chpl-action-bar>
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading clickable" ng-click="$ctrl.areListingsShown = !$ctrl.areListingsShown" id="relevant-listings-header">
          <div class="panel-title">
            <i class="fa pull-right" ng-class="$ctrl.areListingsShown ? 'fa-caret-down' : 'fa-caret-left'"></i>
            Listings with relevant surveillance for {{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}
          </div>
        </div>
        <div class="panel-body" ng-show="$ctrl.areListingsShown">
          <chpl-surveillance-report-relevant-listings
            listings="$ctrl.relevantListings"
            quarterly-report="$ctrl.report"
            on-save="$ctrl.saveRelevantListing(listing)"
            relevant-listing="$ctrl.relevantListing"
            surveillance-outcomes="$ctrl.surveillanceOutcomes"
            surveillance-process-types="$ctrl.surveillanceProcessTypes">
          </chpl-surveillance-report-relevant-listings>
        </div>
      </div>
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading clickable" ng-click="$ctrl.areComplaintsShown = !$ctrl.areComplaintsShown" id="complaints-header">
          <div class="panel-title">
            <i class="fa pull-right" ng-class="$ctrl.areComplaintsShown ? 'fa-caret-down' : 'fa-caret-left'"></i>
            Complaints for {{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}
          </div>
        </div>
        <div class="panel-body" ng-show="$ctrl.areComplaintsShown">
          <chpl-complaints-wrapper-bridge
            disallowed-filters="$ctrl.disallowedFilters"
            bonus-query="$ctrl.bonusQuery"
            can-add="false">
          </chpl-complaints-wrapper-bridge>
        </div>
      </div>
    </div>
  </div>
</div>
