<div id="chpl-report" ng-form="$ctrl.form">
  <div class="row">
    <div class="col-sm-12">
      <h2>Quarterly Report</h2>
      <div ncy-breadcrumb></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="pull-right">
        <button class="btn btn-secondary" id="surveillance-report-download" ng-click="$ctrl.generateReport()">
          <i class="fa fa-download"></i> Download Quarterly Surveillance Report
        </button>
      </span>
      <p><strong>{{ $ctrl.report.acb.name }} Quarterly Surveillance Reporting</strong></p>
      <p><strong>{{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}</strong></p>
      <p>The titles and descriptions used in this module’s user interface reflect the most recent version of the report and may appear differently for historical reports in the downloads</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Surveillance Activities and Outcomes</h3>
      <div class="form-group">
        <label class="control-label" for="surveillance-activities">Randomized Surveillance – Selection Methods</label>
        <p class="form-control-static">The ONC-ACB used the following selection method to make its random selection of certified Health IT Modules for surveillance initiated during the reporting period.</p>
        <textarea class="form-control" id="surveillance-activities" name="surveillanceActivities" ng-model="$ctrl.report.surveillanceActivitiesAndOutcomes" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
        <p><i>All Surveillance Activities and Outcomes</i></p>
        <p>Please log the surveillance activities and their outcomes to the "Activities and Outcomes" sheet of this workbook.</p>
      </div>
      <h3>Sampling and Selecting</h3>
      <div class="form-group">
        <label class="control-label" for="reactive-surveillance-summary">Reactive Surveillance Summary</label>
        <p class="form-control-static">In order to meet its obligation to conduct reactive surveillance, the ONC-ACB undertook the following activities and implemented the following measures to ensure that it was able to systematically obtain, synthesize and act on all facts and circumstances that would cause a reasonable person to question the ongoing compliance of any certified Health IT Module.</p>
        <textarea class="form-control" id="reactive-surveillance-summary" name="reactiveSurveillanceSummary" ng-model="$ctrl.report.reactiveSurveillanceSummary" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="ics-surveillance-summary">ICS Surveillance Summary</label>
        <p class="form-control-static">To fulfill requirements  to conduct reactive surveillance on listings with multiple ICS requests, the ONC-ACB conducted the following ICS related surveillance activities. Please detail the number of ICS-related surveillances conducted, the method used to surveil these products and the approach taken to incorporate prioritized elements as outlined in the Surveillance Resource.</p>
        <textarea class="form-control" id="ics-surveillance-summary" name="icsSurveillanceSummary" ng-model="$ctrl.report.icsSurveillanceSummary" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <h3>Prioritized Surveillance</h3>
      <p>The ONC-ACB undertook the following activities and implemented specific measures to evaluate and address the prioritized elements of surveillance as outlined in Program Policy Resource #18-03 (October 5, 2018).</p>
      <div class="form-group">
        <label class="control-label" for="prioritized-element">Prioritized Criteria</label>
        <p class="form-control-static">Please describe which prioritized criteria were surveilled, how and with what frequency. Provide the approach taken to conduct surveillance on these prioritized criteria.</p>
        <textarea class="form-control" id="prioritized-element" name="prioritizedElement" ng-model="$ctrl.report.prioritizedElementSummary" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="disclosure-requirements-summary">Disclosure Requirements Summary</label>
        <p class="form-control-static">The ONC-ACB undertook the following activities and implemented the following measures to ensure adherence by developers to disclose additional types of costs or fees requirements, as required of the ONC-ACB under 45 CFR &sect; 170.523(k):</p>
        <textarea class="form-control" id="disclosure-requirements-summary" name="disclosureRequirementsSummary" ng-model="$ctrl.report.disclosureRequirementsSummary" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="developer-complaints-log-review">Developer Complaints Log Review</label>
        <p class="form-control-static">Describe the activities conducted in the past quarter related to the review of developers' complaints logs. In your description, include an assessment of the extent to which the developer followed its internal complaints process and any deficiencies in that process. Additionally, specify the frequency of complaints received that relate to each prioritized elements outlined in the Surveillance Resource. Additional insights on individual findings can be included in the Surveillance Activities and Outcomes under "Surveillance Findings"</p>
        <textarea class="form-control" id="developer-complaints-log-review" name="developerComplaintsLogReview" ng-model="$ctrl.report.developerComplaintsLogReview" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="post-certification-performance-of-certified-capabilities">Post-certification Performance of Certified Capabilities</label>
        <p class="form-control-static">The assessment of potential non-conformities resulting from a developer’s implementation or business practices that may impact the performance of certified capabilities in the field.</p>
        <textarea class="form-control" id="post-certification-performance-of-certified-capabilities" name="postCertificationPerformanceOfCertifiedCapatilities" ng-model="$ctrl.report.postCertificationPerformanceOfCertifiedCapatilities" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="appropriate-use-of-mark">Appropriate Use of Mark</label>
        <p class="form-control-static">Describe activities and frequency of assessment of the appropriate use of the ONC Health IT Certification and Design Mark on developer public-facing materials, if applicable.</p>
        <textarea class="form-control" id="appropriate-use-of-mark" name="appropriateUseOfMark" ng-model="$ctrl.report.appropriateUseOfMark" ng-disabled="!$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"></textarea>
      </div>
      <h3>Complaints Reported to ONC-ACB</h3>
      <p>Please log the complaints and any actions to the "Complaints" sheet of this workbook.</p>
      <chpl-action-bar-wrapper-bridge
        can-delete="$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"
        can-save="$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"
        can-cancel="$ctrl.hasAnyRole(['chpl-admin', 'chpl-onc-acb'])"
        can-close="$ctrl.hasAnyRole(['chpl-onc'])"
        dispatch="::$ctrl.takeActionBarAction">
      </chpl-action-bar-wrapper-bridge>
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading clickable" ng-click="$ctrl.areListingsShown = !$ctrl.areListingsShown" id="relevant-listings-header">
          <div class="panel-title">
            <i class="fa pull-right" ng-class="$ctrl.areListingsShown ? 'fa-caret-down' : 'fa-caret-left'"></i>
            Listings with relevant surveillance for {{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}
          </div>
        </div>
        <div class="panel-body" ng-show="$ctrl.areListingsShown">
          <chpl-surveillance-report-relevant-listings
            listings="$ctrl.relevantListings"
            quarterly-report="$ctrl.report"
            relevant-listing="$ctrl.relevantListing"
            surveillance-outcomes="$ctrl.surveillanceOutcomes"
            surveillance-process-types="$ctrl.surveillanceProcessTypes">
          </chpl-surveillance-report-relevant-listings>
        </div>
      </div>
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading clickable" ng-click="$ctrl.areComplaintsShown = !$ctrl.areComplaintsShown" id="complaints-header">
          <div class="panel-title">
            <i class="fa pull-right" ng-class="$ctrl.areComplaintsShown ? 'fa-caret-down' : 'fa-caret-left'"></i>
            Complaints for {{ $ctrl.report.year }} - {{ $ctrl.report.quarter }}
          </div>
        </div>
        <div class="panel-body" ng-show="$ctrl.areComplaintsShown">
          <chpl-complaints-wrapper-bridge
            disallowed-filters="$ctrl.disallowedFilters"
            bonus-query="$ctrl.bonusQuery"
            can-add="false">
          </chpl-complaints-wrapper-bridge>
        </div>
      </div>
    </div>
  </div>
</div>
