<div class="container-fluid">
  <div class="row main-content" id="main-content" tabindex="-1">
    <span ng-if="$ctrl.mode === 'view'">
      <div class="col-md-6">
        <h2>Available reports</h2>
        <div ng-if="!$ctrl.reports || $ctrl.reports.length === 0">
          No Quarterly Surveillance Reports are available
        </div>
        <div class="row" ng-repeat="acb in $ctrl.activeAcbs | orderBy: 'toString()'">
          <div class="col-sm-12">
            <button class="btn btn-default pull-right" ng-click="$ctrl.display[acb] = !$ctrl.display[acb]"><i class="fa" ng-class="$ctrl.display[acb] ? 'fa-caret-up' : 'fa-caret-down'"></i></button>
            <h4>{{ acb }} ({{ $ctrl.acbCount(acb) }})</h4>
            <div ng-if="$ctrl.display[acb]">
              <div ng-repeat="report in $ctrl.reports | filter: { acbName: acb } | orderBy: ['-year', '-quarter']">
                <chpl-surveillance-report report="report" take-action="$ctrl.takeAction(report, action)"></chpl-surveillance-report>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-form="$ctrl.form">
        <h2>Initiate surveillance reporting</h2>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="year">Reporting Year</label>
            <div class="col-sm-2">
              <select class="form-control" ng-model="$ctrl.newReportYear" id="year" name="year" required
                      ng-options="year for year in $ctrl.availableYears">
              </select>
            </div>
            <label class="col-sm-2 control-label" for="quarter">Quarter</label>
            <div class="col-sm-2">
              <select class="form-control" ng-model="$ctrl.newReportQuarter" id="quarter" name="quarter" required
                      ng-options="quarter as quarter.name for quarter in $ctrl.availableQuarters">
              </select>
            </div>
            <span ng-if="$ctrl.acbs.length === 1">
              <div class="col-sm-4"><strong>ONC-ACB: </strong>{{ $ctrl.acbs[0].name }}</div>
            </span>
            <span ng-if="$ctrl.acbs.length !== 1">
              <label class="col-sm-2 control-label" for="acb">ONC-ACB</label>
              <div class="col-sm-2">
                <select class="form-control" ng-model="$ctrl.newReportAcb" id="acb" name="acb" required
                        ng-options="acb as acb.name for acb in $ctrl.acbs | orderBy: 'name'">
                </select>
              </div>
            </span>
          </div>
        </div>
        <p ng-if="$ctrl.showFormErrors && !$ctrl.form.$valid" class="text-danger">All fields are required to initiate Quarterly Surveillance Reporting</p>
        <button class="btn btn-ai-success" ng-click="$ctrl.initiateReporting()" ng-mouseover="$ctrl.showFormErrors = true"
                ng-disabled="$ctrl.showFormErrors && !$ctrl.form.$valid">Initiate Quarterly Surveillance Reporting</button>
      </div>
    </span>
    <div class="col-md-12" ng-if="$ctrl.mode !== 'view'">
      <h2 ng-if="$ctrl.mode === 'initiate'">Initiate surveillance reporting</h2>
      <h2 ng-if="$ctrl.mode === 'edit'">Edit surveillance reporting</h2>
      <chpl-surveillance-report report="$ctrl.activeReport" is-editing="true" on-save="$ctrl.save(report)" on-cancel="$ctrl.cancel()" take-action="$ctrl.takeAction(report, action)"></chpl-surveillance-report>
    </div>
  </div>
</div>
