.quarter-report-wrapper {

    label {
        color: #303030;
        font-weight: normal;
    }

    h2 {
        font-family: "Lato", sans-serif !important;
        font-size: 24px !important;
        font-weight: 600;
        color: #000000;
    }

    .btn {
        border-radius: 0;
    }

    .breadcrumb {
        background-color: transparent;
        padding-left: 0;
    }

    .breadcrumb a {
        text-decoration: none;
    }

    .breadcrumb button {
        text-decoration: none;
        padding: 0;
        margin-bottom: 2px;
    }

    .read-only-data {
        font-size: 16px;
        font-weight: bold;
    }

    .form-control {
        border-radius: 0;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 50px;
    }

    textarea.form-control {
        height: 100px !important;
    }

    .badge-error {
        background-color: #b94a48;
    }

    .badge-error:hover {
        background-color: #953b39;
    }

    .badge-success {
        background-color: #468847;
    }

    .badge-success:hover {
        background-color: #356635;
    }
}