<div class="nonconformities">
  <div class="nonconformity__basic-information panel-body" ng-if="!$ctrl.nonconformities || $ctrl.nonconformities.length === 0">
    <div class="nonconformity__wide">
      No Requirements or Nonconformities exist for this Direct Review
    </div>
  </div>
  <div ng-if="$ctrl.nonconformities && $ctrl.nonconformities.length > 0">
    <div class="nonconformities__gridtable-header">
      <div class="nonconformities__requirements-header">Requirements</div>
      Requirements Reviewed
    </div>
    <div class="nonconformities__gridtable-header">Non-conformity Summary</div>
    <div class="nonconformities__gridtable-header">Review Result</div>
    <div ng-repeat-start="nc in $ctrl.nonconformities" class="nonconformity__gridtable-header nonconformity__gridtable-header--first" ng-class="nc.endDate ? 'nonconformity__gridtable-header--closed' : 'nonconformity__gridtable-header--open'">
      <div class="nonconformity__gridtable-header">
        <div class="nonconformity__header-toggle"><i class="fa fa-lg" ng-class="nc.open ? 'fa-caret-down' : 'fa-caret-right'"></i></div>{{ nc.requirement }}
      </div>
    </div>
    <div class="nonconformity__gridtable-header" ng-class="nc.endDate ? 'nonconformity__gridtable-header--closed' : 'nonconformity__gridtable-header--open'">
      <div class="nonconformity__gridtable-header">{{ nc.nonconformity }}</div>
    </div>
    <div class="nonconformity__gridtable-header nonconformity__gridtable-header--last" ng-class="nc.endDate ? 'nonconformity__gridtable-header--closed' : 'nonconformity__gridtable-header--open'">
      <div class="nonconformity__gridtable-header">
        {{ nc.closeDate ? 'Closed' : 'Open' }}
      </div>
    </div>
    <div class="nonconformity__basic-information panel-body" ng-if="nc.open" ng-repeat-end>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Requirement
        </div>
        <div class="nonconformity__data-element">
          {{ nc.requirement }}
        </div>
      </div>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Developer Associated Listings
        </div>
        <div class="nonconformity__data-element">
          {{ nc.developerAssociatedListings }}
        </div>
      </div>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Date of Determination
        </div>
        <div class="nonconformity__data-element">
          {{ dr.dateOfDetermination ? (dr.dateOfDetermination | date : 'mediumDate' : 'UTC') : 'Has not started' }}
        </div>
      </div>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Findings
        </div>
        <div class="nonconformity__data-element">
          {{ nc.findings }}
        </div>
      </div>
      <div class="nonconformity__narrow">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Corrective Action Plan Approval Date
        </div>
        <div class="nonconformity__data-element">
          {{ dr.capApprovalDate ? (dr.capApprovalDate | date : 'mediumDate' : 'UTC') : 'Has not been approved' }}
        </div>
      </div>
      <div class="nonconformity__narrow">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Date Corrective Action Began
        </div>
        <div class="nonconformity__data-element">
          {{ dr.dateCapBegan ? (dr.dateCapBegan | date : 'mediumDate' : 'UTC') : 'Has not been approved' }}
        </div>
      </div>
      <div class="nonconformity__narrow">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Date Corrective Action Must Be Completed
        </div>
        <div class="nonconformity__data-element">
          {{ dr.dateCapMustBeCompleted ? (dr.dateCapMustBeCompleted | date : 'mediumDate' : 'UTC') : 'Has not been approved' }}
        </div>
      </div>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Developer Explanation
        </div>
        <div class="nonconformity__data-element">
          {{ nc.developerExplanation }}
        </div>
      </div>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Date Corrective Action Was Completed
        </div>
        <div class="nonconformity__data-element">
          {{ dr.dateCapCompleted ? (dr.dateCapCompleted | date : 'mediumDate' : 'UTC') : 'Has not ended' }}
        </div>
      </div>
      <div class="nonconformity__wide">
        <div class="data-label">
          <button class="nonconformity__tooltip-button btn btn-link" uib-tooltip="TBD" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">TBD</span><i class="fa fa-info-circle"></i></button> Resolution
        </div>
        <div class="nonconformity__data-element">
          {{ nc.resolution }}
        </div>
      </div>
    </div>
  </div>
</div>
