.nonconformities {
    border-radius: 8px;
    margin-bottom: 8px;
}

.nonconformity {
    border: 1px solid var(--grey);
    margin-bottom: 8px;
    border-radius: 8px;
}

.nonconformity__header {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.nonconformity__header--open {
    background-color: var(--grey-blue);
}

.nonconformity__header--closed {
    background-color: var(--light-grey) !important;
    // remove !important when "new-style" goes away / ui-bump-major changes / etc.
}

.nonconformity__header-title {
    padding-left: 10px;
    font-weight: 700;
}

.nonconformity__header-subtitle {
    padding-left: 10px;
    flex: 1;
}

.nonconformity__header-toggle {
    margin-left: auto;
}

.nonconformity__basic-information {
    border-left: 3px solid var(--grey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin: 8px;
}

.nonconformity__start {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 8px;
}

.nonconformity__end {
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 8px;
}

.nonconformity__circumstances {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    margin: 8px;
}

.nonconformity__tooltip-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: transparent;
}
