<div ng-controller="ProductController as vm">
  <script type="text/ng-template" id="myModalContent.html">
    <div role="modal" aria-labeled-by="modificationSummaryLabel">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" ng-click="modalVm.ok()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modificationSummaryLabel">Last Modification Summary</h4>
    </div>
    <div class="modal-body">
      <ul>
        <li ng-repeat="item in modalVm.items | orderBy: 'date': true">
          Actor: {{ item.actor }}, did: {{ item.action }}, on {{ item.date | date }}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="modalVm.ok()">OK</button>
    </div>
    </div>
  </script>
  <div class="row product-productHeader">
    <div class="col-sm-8">
      <h1>{{ vm.product.product.name }}</h1>
    </div>
    <div class="col-sm-4 text-right">
      <p><a href="#/search"><i class="fa fa-arrow-left fa-lg"></i> Return to search results</a></p>
      <p>Certification Date: {{ vm.product.certificationDate | date }}</p>
      <p>Last modified Date: {{ vm.product.lastModifiedDate | date }}</p>
    </div>
  </div>
  <div class="product-productSummary panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <h3>Developer</h3>
          <p>{{ vm.product.vendor.name }}</p>
        </div>
        <div class="col-sm-4">
          <h3>Version</h3>
          <p>{{ vm.product.product.version }}</p>
        </div>
        <div class="col-sm-4">
          <h3>Certification Edition</h3>
          <p>{{ vm.product.certificationEdition.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Certifying Body</h3>
          <p>{{ vm.product.certifyingBody.name }}</p>
        </div>
        <div class="col-sm-4">
          <h3>Classification</h3>
          <p>{{ vm.product.classificationType.name }}</p>
        </div>
        <div class="col-sm-4">
          <h3>Practice Type</h3>
          <p>{{ vm.product.practiceType.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Quality Management System Attestation</h3>
          <p>{{ vm.product.qualityManagementSystemAtt }}</p>
        </div>
        <div class="col-sm-4">
          <h3>Privacy and Security Attestation</h3>
          <p ng-if="vm.product.privacyAttestation">True</p>
          <p ng-if="!vm.product.privacyAttestation">False</p>
        </div>
        <div class="col-sm-4">
          <h3>Other ACB</h3>
          <p>{{ vm.product.otherAcb }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Corrective Action Plan</h3>
          <ai-corrective-action-plan
             corrective-action-plan="vm.product.correctiveActionPlan"
             is-editing="false"
             is-admin="false"></ai-corrective-action-plan>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <h3>Required Additional Software</h3>
      <ai-additional-software additional-software="vm.product.additionalSoftware" is-editing="false"></ai-additional-software>
    </div>
    <div class="col-sm-2 text-right">
      <p>CHPL Product Number: {{ vm.product.chplProductNumber }}</p>
    </div>
  </div>
  <div class="product-productAccordion">
    <ai-certs certs="vm.product.certificationResults"
              cqms="vm.product.cqmResults"
              count-certs="{{ vm.product.countCerts }}"
              count-cqms="{{ vm.product.countCqms }}"
              report-file-location="{{ vm.product.reportFileLocation }}"
              applicable-cqm-criteria="vm.product.applicableCqmCriteria">
    </ai-certs>
  </div>
</div>
