<section class="row">
  <div class="col-sm-12 admin-inner-tab main-content">
    <div class="row admin-label-spaced lead text-center" ng-if="vm.workType !== 'newAcb'">
      <div class="col-sm-12">
        <ul class="list-inline">
          <li><strong>What would you like to manage?</strong></li>
          <li><input type="radio" ng-model="vm.workType" value="acb" id="rdAcb"></input><label for="rdAcb">ACB</label></li>
          <li><input type="radio" ng-model="vm.workType" value="user" id="rdUsr"></input><label for="rdUsr">Users</label></li>
        </ul>
        <span ng-if="vm.isChplAdmin">Or <a href="" class="" ng-click="vm.createAcb()">Create a new ACB</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" ng-if="vm.workType === 'acb'">
        <h2>ACB Information</h2>
        <span>Name: {{ vm.activeAcb.name }}</span><br />
        <span>Website: <ai-a href="{{ vm.activeAcb.website }}" text="{{ vm.activeAcb.website }}" ng-if="vm.activeAcb.website"></ai-a><span ng-if="!vm.activeAcb.website">None</span></span><br />
        <span>ACB Code: {{ vm.activeAcb.acbCode }}</span><br />
        <h3>Address</h3>
        <span>Line 1: {{ vm.activeAcb.address.line1 }}</span><br />
        <span>Line 2: {{ vm.activeAcb.address.line2 }}</span><br />
        <span>City: {{ vm.activeAcb.address.city }}</span><br />
        <span>State: {{ vm.activeAcb.address.state }}</span><br />
        <span>Zip Code: {{ vm.activeAcb.address.zipcode }}</span><br />
        <span>Country: {{ vm.activeAcb.address.country }}</span><br />
        <button class="btn btn-default btn-block" ng-click="vm.editAcb(vm.activeAcb)">Edit this ACB</button>
      </div>
    </div>
    <div class="row" ng-if="vm.workType === 'user'">
      <div class="col-md-10 col-md-offset-1">
        <ai-user-management
           acb-id="{{ vm.activeAcb.id }}">
        </ai-user-management>
      </div>
    </div>
  </div>
</section>
