<div>
  <form ng-class="vm.formClass" role="log in / log out">
    <div ng-if="!vm.isAuthed()">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" ng-model="vm.userName" placeholder="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="vm.password" placeholder="password" />
      </div>
      <button class="btn btn-default btn-block" ng-click="vm.login()">Log In</button>
      <button class="btn btn-default btn-block" ng-click="vm.forgot()">Forgot Password</button>
    </div>
    <div ng-if="vm.isAuthed()">
      <button class="btn btn-default btn-block" ng-click="vm.logout()">Log Out</button>
      <button class="btn btn-default btn-block" ng-click="vm.change()">Change Password</button>
    </div>
  </form>
  <p ng-class="vm.pClass" ng-if="vm.message.length > 0">{{ vm.message }}</p>
</div>
