<section class="row">
  <div class="col-sm-12 admin-inner-tab main-content">
    <div class="row" ng-if="vm.workType === 'cp'">
      <div class="col-sm-12">
        <h3>Certified Product Activity</h3>
        <table st-table="vm.displayedCertifiedProducts" st-safe-src="vm.searchedCertifiedProducts" class="table table-striped">
          <thead>
            <tr>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedCertifiedProducts">
		      <td class=""><span ng-bind-html="activity.description"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'dev'">
      <div class="col-sm-12">
        <h3>Developer Activity</h3>
        <table st-table="vm.displayedDevelopers" st-safe-src="vm.searchedDevelopers" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">Developer</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedDevelopers">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'prod'">
      <div class="col-sm-12">
        <h3>Product Activity</h3>
        <table st-table="vm.displayedProducts" st-safe-src="vm.searchedProducts" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">Product</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedProducts">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'acb'">
      <div class="col-sm-12">
        <h3>ACB Activity</h3>
        <table st-table="vm.displayedACBs" st-safe-src="vm.searchedACBs" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">ACB</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedACBs">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'atl'">
      <div class="col-sm-12">
        <h3>ATL Activity</h3>
        <table st-table="vm.displayedATLs" st-safe-src="vm.searchedATLs" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">ATL</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedATLs">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'announcement'">
      <div class="col-sm-12">
        <h3>Announcement Activity</h3>
        <table st-table="vm.displayedAnnouncements" st-safe-src="vm.searchedAnnouncementss" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">Announcement</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedAnnouncementss">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'users' && vm.isChplAdmin">
      <div class="col-sm-12">
        <h3>User Activity</h3>
        <table st-table="vm.displayedUsers" st-safe-src="vm.searchedUsers" class="table table-striped">
          <thead>
            <tr>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedUsers">
		      <td class=""><span ng-bind-html="activity.description"></span></td>
		      <td class="">{{ activity.activityDate | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
        <h3>User Actions</h3>
        <table st-table="vm.displayedUserActivities" st-safe-src="vm.searchedUserActivities" class="table">
          <thead>
            <tr>
              <th class="search-header" st-sort="user.lastName" st-skip-natural="true" st-sort-default>User</th>
              <th>Action</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat-start="activity in vm.displayedUserActivities">
		      <td class="" rowspan="{{ activity.events.length }}">{{ activity.user.firstName }}&nbsp;{{ activity.user.lastName }}<br />{{ activity.user.email }}</td>
              <td>{{ activity.events[0].description }}</td>
              <td><span ng-bind-html="activity.events[0].activityDate | date : 'MMM&nbsp;d,&nbsp;y&nbsp;h:mm:ss&nbsp;a'"></span></td>
            </tr>
            <tr ng-repeat="action in activity.events" ng-if="!$first" ng-repeat-end>
              <td>{{ action.description }}</td>
              <td><span ng-bind-html="action.activityDate | date : 'MMM&nbsp;d,&nbsp;y&nbsp;h:mm:ss&nbsp;a'"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'api_key'">
      <div class="col-sm-12">
        <h3>API User Activity</h3>
        <table st-table="vm.displayedApiActivity" st-safe-src="vm.searchedApiActivity" class="table table-striped">
          <thead>
            <tr>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedApiActivity">
		      <td class=""><span ng-bind-html="activity.description"></span></td>
		      <td class="">{{ activity.activityDate | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
        <h3>API Use</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="">API Key</th>
              <th>Email</th>
              <th>Name</th>
              <th>API Call Path</th>
              <th>Date</th>
            </tr>
          </thead>
          <tfoot>
            <td colspan="5" class="text-center">
              <pager ng-model="vm.visibleApiPage" ng-change="vm.refreshApi()" class="pagination-sm" total-items="20000"></pager>
            </td>
          </tfoot>
          <tbody>
	        <tr ng-repeat="activity in vm.searchedApi">
		      <td class="">{{ activity.apiKey }}</td>
		      <td class="">{{ activity.email }}</td>
		      <td class="">{{ activity.name }}</td>
		      <td class="">{{ activity.apiCallPath }}</td>
		      <td class="">{{ activity.creationDate | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.workType === 'visitors'">
      <div class="col-sm-12">
        <h3>Visitor analytics</h3>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.browserVariety" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.country" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.cities" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.map" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.cityMap" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.traffic" class="google-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
