<section class="row">
  <div class="col-md-12">
    <tabset>
      <tab heading="Products &amp; Vendors" active="true">
        <h2>Certified Product Activity</h2>
        <table st-table="displayedCertifiedProducts" st-safe-src="searchedCertifiedProducts" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="vendor" st-skip-natural="true">Vendor</th>
		      <th class="search-header" st-sort="product" st-skip-natural="true">Product</th>
              <th class="search-header" st-sort="version" st-skip-natural="true">Version</th>
              <th class="search-header" st-sort="certBody" st-skip-natural="true">Certification Body</th>
              <th class="search-header" st-sort="edition" st-skip-natural="true">Edition</th>
              <th class="search-header" st-sort="activity" st-skip-natural="true">Activity</th>
              <th class="search-header" st-sort="activityDate" st-skip-natural="true" st-sort-default="true">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in displayedCertifiedProducts">
		      <td class="productHeader">{{ activity.vendor }}</td>
		      <td class="productHeader">{{ activity.product }}</td>
		      <td class="productHeader">{{ activity.version }}</td>
		      <td class="productHeader">{{ activity.certBody }}</td>
		      <td class="productHeader">{{ activity.edition }}</td>
		      <td class="productHeader">{{ activity.activity }}</td>
		      <td class="productHeader">{{ activity.activityDate | date }}</td>
            </tr>
          </tbody>
        </table>

        <h2>Vendor Activity</h2>
        <table st-table="displayedVendors" st-safe-src="searchedVendors" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="vendor" st-skip-natural="true">Vendor</th>
              <th class="search-header" st-sort="activity" st-skip-natural="true">Activity</th>
              <th class="search-header" st-sort="activityDate" st-skip-natural="true" st-sort-default="true">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in displayedVendors">
		      <td class="productHeader">{{ activity.vendor }}</td>
		      <td class="productHeader">{{ activity.activity }}</td>
		      <td class="productHeader">{{ activity.activityDate | date }}</td>
            </tr>
          </tbody>
        </table>

        <h2>Product Activity</h2>
        <table st-table="displayedProducts" st-safe-src="searchedProducts" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="vendor" st-skip-natural="true">Vendor</th>
              <th class="search-header" st-sort="product" st-skip-natural="true">Product</th>
              <th class="search-header" st-sort="activity" st-skip-natural="true">Activity</th>
              <th class="search-header" st-sort="activityDate" st-skip-natural="true" st-sort-default="true">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in displayedProducts">
		      <td class="productHeader">{{ activity.vendor }}</td>
		      <td class="productHeader">{{ activity.product }}</td>
		      <td class="productHeader">{{ activity.activity }}</td>
		      <td class="productHeader">{{ activity.activityDate | date }}</td>
            </tr>
          </tbody>
        </table>
      </tab>

      <tab heading="ACBs">
        <h2>ACB activities</h2>
        <table st-table="displayedACBs" st-safe-src="searchedACBs" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">ACB</th>
              <th class="search-header" st-sort="activity" st-skip-natural="true">Activity</th>
              <th class="search-header" st-sort="activityDate" st-skip-natural="true" st-sort-default="true">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in displayedACBs">
		      <td class="productHeader">{{ activity.name }}</td>
		      <td class="productHeader">{{ activity.activity }}</td>
		      <td class="productHeader">{{ activity.activityDate | date }}</td>
            </tr>
          </tbody>
        </table>
      </tab>

      <tab ng-if="isChplAdmin" heading="Visitors">
        <h2>Visitor analytics</h2>
        <p>Analytics to be inserted here</p>
      </tab>
    </tabset>
  </div>
</section>
