<section class="row">
  <div class="col-sm-3 admin-nav">
    <div class="panel panel-default">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{'active': vm.tab === 'cp'}"><a href="" class="" ng-click="vm.changeTab('cp')">Certified Products</a></li>
        <li ng-class="{'active': vm.tab === 'dev'}"><a href="" class="" ng-click="vm.changeTab('dev')">Developers</a></li>
        <li ng-class="{'active': vm.tab === 'prod'}"><a href="" class="" ng-click="vm.changeTab('prod')">Products</a></li>
        <li ng-class="{'active': vm.tab === 'acb'}"><a href="" class="" ng-click="vm.changeTab('acb')">ACBs</a></li>
        <li ng-class="{'active': vm.tab === 'users'}" ng-if="vm.isChplAdmin"><a href="" class="" ng-click="vm.changeTab('users')">Users</a></li>
        <li ng-class="{'active': vm.tab === 'visitors'}"><a href="" class="" ng-click="vm.changeTab('visitors')">Visitors</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-9 admin-inner-tab">
    <div class="row" ng-if="vm.tab === 'cp'">
      <div class="col-sm-12">
        <h3>Certified Product Activity</h3>
        <table st-table="vm.displayedCertifiedProducts" st-safe-src="vm.searchedCertifiedProducts" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="vendor" st-skip-natural="true">Developer</th>
		      <th class="search-header" st-sort="product" st-skip-natural="true">Product</th>
              <th class="search-header" st-sort="certBody" st-skip-natural="true">Certification Body</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedCertifiedProducts">
		      <td class="">{{ activity.vendor }}</td>
		      <td class="">{{ activity.product }}</td>
		      <td class="">{{ activity.certBody }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.tab === 'dev'">
      <div class="col-sm-12">
        <h3>Developer Activity</h3>
        <table st-table="vm.displayedVendors" st-safe-src="vm.searchedVendors" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">Developer</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedVendors">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.tab === 'prod'">
      <div class="col-sm-12">
        <h3>Product Activity</h3>
        <table st-table="vm.displayedProducts" st-safe-src="vm.searchedProducts" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">Product</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedProducts">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.tab === 'acb'">
      <div class="col-sm-12">
        <h3>ACB Activity</h3>
        <table st-table="vm.displayedACBs" st-safe-src="vm.searchedACBs" class="table table-striped">
          <thead>
            <tr>
              <th class="search-header" st-sort="name" st-skip-natural="true">ACB</th>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedACBs">
		      <td class="">{{ activity.name }}</td>
		      <td class=""><span ng-bind-html="activity.action"></span></td>
		      <td class="">{{ activity.date | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.tab === 'users' && vm.isChplAdmin">
      <div class="col-sm-12">
        <h3>User Activity</h3>
        <table st-table="vm.displayedUsers" st-safe-src="vm.searchedUsers" class="table table-striped">
          <thead>
            <tr>
              <th class="">Activity</th>
              <th class="search-header" st-sort="date" st-skip-natural="true" st-sort-default="reverse">Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat="activity in vm.displayedUsers">
		      <td class=""><span ng-bind-html="activity.description"></span></td>
		      <td class="">{{ activity.activityDate | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
        <h3>User Actions</h3>
        <table st-table="vm.displayedUserActivities" st-safe-src="vm.searchedUserActivities" class="table">
          <thead>
            <tr>
              <th class="search-header" st-sort="user.lastName" st-skip-natural="true" st-sort-default>User</th>
              <th>Action</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
	        <tr ng-repeat-start="activity in vm.displayedUserActivities">
		      <td class="" rowspan="{{ activity.events.length }}">{{ activity.user.firstName }}&nbsp;{{ activity.user.lastName }}<br />{{ activity.user.email }}</td>
              <td>{{ activity.events[0].description }}</td>
              <td>{{ activity.events[0].activityDate | date : 'medium'}}</td>
            </tr>
            <tr ng-repeat="action in activity.events" ng-if="!$first" ng-repeat-end>
              <td>{{ action.description }}</td>
              <td>{{ action.activityDate | date : 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-if="vm.tab === 'visitors'">
      <div class="col-sm-12">
        <h3>Visitor analytics</h3>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.browserVariety" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.country" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.cities" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.map" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.cityMap" class="google-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div google-chart chart="vm.traffic" class="google-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
