<section class="row">
  <div class="col-md-12 main-content">
    <h2>User Management</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Title</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>User&nbsp;Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="8">
            <button class="btn btn-default btn-block" ng-click="vm.inviteUser()">Invite new user</button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="user in vm.users track by user.user.userId" ng-form="userManagementUpdateUser">
          <td>{{ user.user.subjectName }}</td>
          <td>{{ user.user.title }}</td>
          <td>{{ user.user.firstName }}</td>
          <td>{{ user.user.lastName }}</td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.user.phoneNumber }}</td>
          <td>
            <span><label for="isLocked_{{ user.user.userId }}">Locked:</label> <input type="checkbox" ng-model="user.user.accountLocked" disabled id="isLocked_{{ user.user.userId }}" /></span><br />
            <span><label for="isEnabled_{{ user.user.userId }}">Enabled:</label> <input type="checkbox" ng-model="user.user.accountEnabled" disabled id="isEnabled_{{ user.user.userId }}" /></span><br />
            <label for="roles_{{ user.user.userId }}">User Role<span ng-if="user.roles.length > 1">s</span>:</label>
            <select ng-options="role as role for role in vm.roles" ng-model="user.roles" size="5" multiple disabled id="roles_{{ user.user.userId }}"></select>
          </td>
          <td>
            <button class="btn btn-default btn-block" ng-click="vm.updateUser(user)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
