<section class="row">
  <div class="col-md-12">
    <h2>User Management</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>User&nbsp;Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>
            <span ng-if="!isModifying">{{ user.user.subjectName }}</span>
            <input ng-if="isModifying" type="text" ng-model="user.user.subjectName" class="form-control"/>
          </td>
          <td>
            <span ng-if="!isModifying">{{ user.user.firstName }}</span>
            <input ng-if="isModifying" type="text" ng-model="user.user.firstName" class="form-control"/>
          </td>
          <td>
            <span ng-if="!isModifying">{{ user.user.lastName }}</span>
            <input ng-if="isModifying" type="text" ng-model="user.user.lastName" class="form-control"/>
          </td>
          <td>
            <span ng-if="!isModifying">{{ user.user.email }}</span>
            <input ng-if="isModifying" type="text" ng-model="user.user.email" class="form-control"/>
          </td>
          <td>
            <span ng-if="!isModifying">{{ user.user.phoneNumber }}</span>
            <input ng-if="isModifying" type="text" ng-model="user.user.phoneNumber" class="form-control"/>
          </td>
          <td>
            <span>Locked: <input type="checkbox" ng-model="user.user.accountLocked" ng-disabled="!isModifying" /></span><br />
            <span>Enabled: <input type="checkbox" ng-model="user.user.accountEnabled" ng-disabled="!isModifying" /></span>
          </td>
          <td>
            <button class="btn btn-default btn-block" ng-show="!isModifying" ng-click="isModifying = !isModifying">Modify</button>
            <button class="btn btn-default btn-block" ng-show="!isModifying" ng-click="deleteUser(user)">Delete</button>
            <button class="btn btn-default btn-block" ng-show="isModifying" ng-click="cancelUser(user); isModifying = !isModifying">Cancel</button>
            <button class="btn btn-default btn-block" ng-show="isModifying" ng-click="modifyUser(user); isModifying = !isModifying">Save</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <label for="admin.new.username" class="control-label sr-only">New username</label>
            <input type="text" id="admin.new.username" ng-model="newUser.subjectName" class="form-control" />
          </td>
          <td>
            <label for="admin.new.firstname" class="control-label sr-only">New First Name</label>
            <input type="text" id="admin.new.firstname" ng-model="newUser.firstName" class="form-control" />
          </td>
          <td>
            <label for="admin.new.lastname" class="control-label sr-only">New Last Name</label>
            <input type="text" id="admin.new.lastname" ng-model="newUser.lastName" class="form-control" />
          </td>
          <td>
            <label for="admin.new.email" class="control-label sr-only">New email</label>
            <input type="text" id="admin.new.email" ng-model="newUser.email" class="form-control" />
          </td>
          <td>
            <label for="admin.new.phone" class="control-label sr-only">New Phone</label>
            <input type="text" id="admin.new.phone" ng-model="newUser.phoneNumber" class="form-control" />
          </td>
          <td colspan="2">
            <button class="btn btn-default btn-block" ng-click="createUser(newUser)">Create new user</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
