<div role="modal" aria-labeled-by="editLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-if="vm.action === 'edit'" id="editLabel">Edit User</h4>
    <h4 class="modal-title" ng-if="vm.action === 'invite'" id="editLabel">Invite User</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <p ng-if="vm.message" class="bg-danger">{{ vm.message }}</p>
    <div ng-if="vm.action === 'edit'">
      <div class="form-group">
        <label for="username">Username <span class="text-danger">*</span></label>
        <input class="input-sm form-control" type="text" required ng-model="vm.user.user.subjectName" id="username" name="username"></input>
        <div class="text-danger" ng-if="vm.editForm.username.$touched && vm.editForm.username.$error.required">User name is required</div>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="input-sm form-control" type="text" ng-model="vm.user.user.title" id="title"></input>
      </div>
      <div class="form-group">
        <label for="firstName">First Name <span class="text-danger">*</span></label>
        <input class="input-sm form-control" type="text" required ng-model="vm.user.user.firstName" id="firstName" name="firstName"></input>
        <div class="text-danger" ng-if="vm.editForm.firstName.$touched && vm.editForm.firstName.$error.required">First name is required</div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name <span class="text-danger">*</span></label>
        <input class="input-sm form-control" type="text" required ng-model="vm.user.user.lastName" id="lastName" name="lastName"></input>
        <div class="text-danger" ng-if="vm.editForm.lastName.$touched && vm.editForm.lastName.$error.required">Last name is required</div>
      </div>
      <div class="form-group">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input class="input-sm form-control" type="email" required ng-model="vm.user.user.email" id="email" name="email"></input>
        <div class="text-danger" ng-if="vm.editForm.email.$touched && vm.editForm.email.$error.required">Email is required</div>
        <div class="text-danger" ng-if="vm.editForm.email.$touched && vm.editForm.email.$error.email">Invalid email</div>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number <span class="text-danger">*</span></label>
        <input class="input-sm form-control" type="text" required ng-model="vm.user.user.phoneNumber" id="phone" name="phone"></input>
        <div class="text-danger" ng-if="vm.editForm.phone.$touched && vm.editForm.phone.$error.required">Phone is required</div>
      </div>
      <div class="form-group">
        <label for="isLocked">Locked</label>
        <input type="checkbox" ng-model="vm.user.user.accountLocked" id="isLocked"></input>
      </div>
      <div class="form-group">
        <label for="isEnabled">Enabled</label>
        <input type="checkbox" ng-model="vm.user.user.accountEnabled" id="isEnabled"></input>
      </div>
      <div class="form-group">
        <label for="roles">User Role(s) <span class="text-danger">*</span></label>
        <select ng-options="role as role for role in vm.roles" ng-model="vm.user.roles" multiple required size="7" id="roles" name="roles"></select>
        <div class="text-danger" ng-if="vm.editForm.roles.$touched && vm.editForm.roles.$error.required">At least one role is required</div>
      </div>
    </div>
    <div ng-if="vm.action === 'invite'">
      <div class="form-group">
        <label for="inviteEmail" class="control-label">Email <span class="text-danger">*</span></label>
        <input type="email" id="inviteEmail" name="inviteEmail" ng-model="vm.userInvitation.emailAddress" class="form-control" required />
        <div class="text-danger" ng-if="vm.editForm.inviteEmail.$touched && vm.editForm.inviteEmail.$error.required">Email is required</div>
        <div class="text-danger" ng-if="vm.editForm.inviteEmail.$touched && vm.editForm.inviteEmail.$error.email">Invalid email</div>
      </div>
      <div class="form-group">
        <label for="newRoles" class="control-label">User Role(s) <span class="text-danger">*</span></label>
        <select id="newRoles" name="newRoles" ng-options="role as role for role in vm.roles" ng-model="vm.userInvitation.permissions" class="form-control" multiple required size="5"></select>
        <div class="text-danger" ng-if="vm.editForm.newRoles.$touched && vm.editForm.newRoles.$error.required">At least one role is required</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-ai-success btn-block"
            ng-if="vm.action === 'edit'"
            ng-click="vm.save()"><i class="fa fa-save"></i> Save User</button>
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-ai-success btn-block"
            ng-if="vm.action === 'invite'"
            ng-click="vm.invite()"><i class="fa fa-envelope-o"></i> Invite User</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-danger btn-block"
            ng-if="vm.action === 'edit'"
            confirm="Are you sure you wish to delete this User? This action is permanent."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.deleteUser()"><i class="fa fa-trash-o"></i> Delete User</button>
  </div>
</div>
