<div role="modal" aria-labeled-by="editDeveloperLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editDeveloperLabel">Edit Developer</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <div class="form-group">
      <label for="developerName">Developer Name <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.developer.name" id="developerName" name="developerName"></input>
      <div class="text-danger" ng-if="vm.editForm.developerName.$touched && vm.editForm.developerName.$error.required">Developer name is required</div>
    </div>
    <div>
      <strong>Developer Code: </strong>{{ vm.developer.developerCode }}
    </div>
    <div class="form-group">
      <label for="addressLine1">Address Line 1 <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.line1" id="addressLine1" name="addressLine1" name="addressLine1"></input>
      <div class="text-danger" ng-if="vm.editForm.addressLine1.$touched && vm.editForm.addressLine1.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="addressLine2">Address Line 2</label>
      <input class="input-sm form-control" type="text" ng-model="vm.developer.address.line2" id="addressLine2"></input>
    </div>
    <div class="form-group">
      <label for="addressCity">City <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.city" id="addressCity" name="addressCity"></input>
      <div class="text-danger" ng-if="vm.editForm.addressCity.$touched && vm.editForm.addressCity.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="addressState">State <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.state" id="addressState" name="addressState"></input>
      <div class="text-danger" ng-if="vm.editForm.addressState.$touched && vm.editForm.addressState.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="addressZipcode">Zip Code <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.zipcode" id="addressZipcode" name="addressZipcode"></input>
      <div class="text-danger" ng-if="vm.editForm.addressZipcode.$touched && vm.editForm.addressZipcode.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="addressCountry">Country <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.country" id="addressCountry" name="addressCountry"></input>
      <div class="text-danger" ng-if="vm.editForm.addressCountry.$touched && vm.editForm.addressCountry.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="developerWebsite">Website</label>
      <input class="input-sm form-control" type="url" ng-model="vm.developer.website" id="developerWebsite" name="developerWebsite" placeholder="http://www.example.com"></input>
      <div class="text-danger" ng-if="vm.editForm.developerWebsite.$touched && vm.editForm.developerWebsite.$error.url">Website is invalid</div>
    </div>
    <div class="form-group">
      <label for="developerTransparency">Transparency Attestation</label>
      <input class="input-sm" type="checkbox" ng-model="vm.developer.transparencyAttestation" id="developerTransparency" ng-disabled="!vm.isAcbAdmin"></input>
    </div>
    <div class="form-group">
      <label for="transparencyAttestationUrl">Transparency Attestation URL</label>
      <input class="input-sm form-control" type="url" ng-model="vm.developer.transparencyAttestationUrl" id="transparencyAttestationUrl" ng-disabled="!vm.isAcbAdmin" name="transparencyAttestationUrl" placeholder="http://www.example.com"></input>
      <div class="text-danger" ng-if="vm.editForm.transparencyAttestationUrl.$touched && vm.editForm.transparencyAttestationUrl.$error.url">Website is invalid</div>
    </div>
    Contact information:<br />
    <div class="form-group">
      <label for="contactFirst">First Name <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.developer.contact.firstName" id="contactFirst" name="contactFirst"></input>
      <div class="text-danger" ng-if="vm.editForm.contactFirst.$touched && vm.editForm.contactFirst.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="contactLast">Last Name <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.developer.contact.lastName" id="contactLast" name="contactLast"></input>
      <div class="text-danger" ng-if="vm.editForm.contactLast.$touched && vm.editForm.contactLast.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="contactTitle">Title</label>
      <input class="input-sm form-control" type="text" ng-model="vm.developer.contact.title" id="contactTitle" name="contactTitle"></input>
    </div>
    <div class="form-group">
      <label for="contactEmail">Email <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="email" required ng-model="vm.developer.contact.email" id="contactEmail" name="contactEmail"></input>
      <div class="text-danger" ng-if="vm.editForm.contactEmail.$touched && vm.editForm.contactEmail.$error.required">Field is required</div>
      <div class="text-danger" ng-if="vm.editForm.contactEmail.$touched && vm.editForm.contactEmail.$error.email">Invalid email</div>
    </div>
    <div class="form-group">
      <label for="contactPhoneNumber">Phone <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.developer.contact.phoneNumber" id="contactPhoneNumber" name="contactPhoneNumber"></input>
      <div class="text-danger" ng-if="vm.editForm.contactPhoneNumber.$touched && vm.editForm.contactPhoneNumber.$error.required">Field is required</div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-success btn-block" ng-click="vm.save()">Save Developer</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
