<div role="modal" aria-labeled-by="inspectLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="inspectLabel">Inspect Certified Product</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 lead">
        <strong>
          <div ng-if="vm.cp.errorMessages.length > 0">
            <span class="text-danger">Error<span ng-if="vm.cp.errorMessages.length > 1">s</span>:</span>
            <ul>
              <li ng-repeat="error in vm.cp.errorMessages">{{ error }}</li>
            </ul>
          </div>
          <div ng-if="vm.cp.warningMessages.length > 0">
            <span class="text-danger">Warning<span ng-if="vm.cp.warningMessages.length > 1">s</span>:</span>
            <ul>
              <li ng-repeat="error in vm.cp.warningMessages">{{ error }}</li>
            </ul>
          </div>
        </strong>
      </div>
    </div>

    <!-- Developer -->
    <div ng-if="vm.stage === 'dev'">
      <div class="row">
        <div class="col-sm-12">
          <h1>Developer</h1>
          <p>Step 1 of 4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" ng-if="!vm.cp.developer.id">
          <h3>System developer information</h3>
          <p>This is the developer information that will be added to the Open Data CHPL database.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              Developer <strong>"{{ vm.cp.developer.name }}"</strong> not found
            </div>
            <div class="panel-body">
              <div class="row admin-label-spaced">
                <ul class="list-inline">
                  <li><input type="radio" ng-model="vm.developerChoice" value="choose" id="rdDevChoose"></input><label for="rdDevChoose">Select existing developer</label></li>
                  <li><input type="radio" ng-model="vm.developerChoice" value="create" id="rdDevCreate"></input><label for="rdDevCreate">Create new developer</label></li>
                </ul>
              </div>
              <div ng-if="vm.developerChoice === 'choose'">
                <label for="developerSelect" class="control-label admin-label-spaced">Select a developer</label>
                <select ng-model="vm.developerSelect"
                        id="developerSelect" class="input-sm form-control"
                        ng-options="v.name for v in vm.developers | orderBy: 'name'">
                </select>
                <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingDeveloper()">Select Developer</button></p>
              </div>
              <div ng-if="vm.developerChoice === 'create'">
                Uploaded developer information will be used to create a new developer
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6" ng-if="vm.cp.developer.id">
          <h3>System developer information</h3>
          <p>This is the developer information that will be added to the Open Data CHPL database.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.developer.name }}
            </div>
            <div class="panel-body">
              Developer Code: {{ vm.developer.developerCode }}<br />
              Line 1: {{ vm.developer.address.line1 }}<br />
              Line 2: {{ vm.developer.address.line2 }}<br />
              City: {{ vm.developer.address.city }}<br />
              State: {{ vm.developer.address.state }}<br />
              Zip: {{ vm.developer.address.zipcode }}<br />
              Country: {{ vm.developer.address.country }}<br />
              Website: {{ vm.developer.website }}<br />
              <br />
              Last Modified Date: {{ vm.developer.lastModifiedDate | date }}
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Uploaded developer information</h3>
          <p>This is the developer information from your Upload File.<span ng-if="vm.cp.developer.id"> To add this information to the Open Data CHPL database, click the Save as Developer Information button below.</span></p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.cp.developer.name }}
            </div>
            <div class="panel-body">
              Line 1: {{ vm.cp.developerAddress.line1 }}<br />
              Line 2: {{ vm.cp.developerAddress.line2 }}<br />
              City: {{ vm.cp.developerAddress.city }}<br />
              State: {{ vm.cp.developerAddress.state }}<br />
              Zip: {{ vm.cp.developerAddress.zipcode }}<br />
              Country: {{ vm.cp.developerAddress.country }}<br />
              Website: {{ vm.cp.developer.website }}<br />
            </div>
            <div class="panel-footer" ng-if="vm.cp.developer.id">
              <button class="btn btn-default btn-block" ng-click="vm.saveInspectingDeveloper()">Save as Developer Information</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Developer -->

    <!-- Product -->
    <div ng-if="vm.stage === 'prd'">
      <div class="row">
        <div class="col-sm-12">
          <h1>Product</h1>
          <p>Step 2 of 4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" ng-if="!vm.cp.product.id">
          <h3>System product information</h3>
          <p>This is the product information that will be added to the Open Data CHPL database.</p>
          <div class="panel panel-ai">
            <div class="panel-heading" ng-if="vm.developer">
              Product <strong>"{{ vm.cp.product.name }}"</strong> not found
            </div>
            <div class="panel-heading" ng-if="!vm.developer">
              {{ vm.cp.product.name }}
            </div>
            <div class="panel-body">
              <div class="row admin-label-spaced">
                <ul class="list-inline">
                  <li ng-if="vm.developer"><input type="radio" ng-model="vm.productChoice" value="choose" id="rdPrdChoose"></input><label for="rdPrdChoose">Select existing product</label></li>
                  <li><input type="radio" ng-model="vm.productChoice" value="create" id="rdPrdCreate"></input><label for="rdPrdCreate">Create new product</label></li>
                </ul>
              </div>
              <div ng-if="vm.productChoice === 'choose'">
                <label for="productSelect" class="control-label admin-label-spaced">Select a product</label>
                <select ng-model="vm.productSelect"
                        id="productSelect" class="input-sm form-control"
                        ng-options="p.name for p in vm.products | orderBy: 'name'">
                </select>
                <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingProduct()">Select Product</button></p>
              </div>
              <div ng-if="vm.productChoice === 'create'">
                Uploaded product information will be used to create a new product
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6" ng-if="vm.cp.product.id">
          <h3>System product information</h3>
          <p>This is the product information that will be added to the Open Data CHPL database.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.product.name }}
            </div>
            <div class="panel-body">
              <br />
              Last Modified Date: {{ vm.product.lastModifiedDate | date }}
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Uploaded product information</h3>
          <p>This is the product information from your Upload File.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.cp.product.name }}
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Product -->

    <!-- Version -->
    <div ng-if="vm.stage === 'ver'">
      <div class="row">
        <div class="col-sm-12">
          <h1>Version</h1>
          <p>Step 3 of 4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" ng-if="!vm.cp.product.versionId">
          <h3>System version information</h3>
          <p>This is the version information that will be added to the Open Data CHPL database.</p>
          <div class="panel panel-ai">
            <div class="panel-heading" ng-if="vm.product">
              Version <strong>"{{ vm.cp.product.version }}"</strong> not found
            </div>
            <div class="panel-heading" ng-if="!vm.product">
              {{ vm.cp.product.version }}
            </div>
            <div class="panel-body">
              <div class="row admin-label-spaced">
                <ul class="list-inline">
                  <li ng-if="vm.product"><input type="radio" ng-model="vm.versionChoice" value="choose" id="rdVerChoose"></input><label for="rdVerChoose">Select existing version</label></li>
                  <li><input type="radio" ng-model="vm.versionChoice" value="create" id="rdVerCreate"></input><label for="rdVerCreate">Create new version</label></li>
                </ul>
              </div>
              <div ng-if="vm.versionChoice === 'choose'">
                <label for="versionSelect" class="control-label admin-label-spaced">Select a version</label>
                <select ng-model="vm.versionSelect"
                        id="versionSelect" class="input-sm form-control"
                        ng-options="v.version for v in vm.versions | orderBy: 'version'">
                </select>
                <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingVersion()">Select Version</button></p>
              </div>
              <div ng-if="vm.versionChoice === 'create'">
                Uploaded version information will be used to create a new version
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6" ng-if="vm.cp.product.versionId">
          <h3>System version information</h3>
          <p>This is the version information that will be added to the Open Data CHPL database.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.version.version }}
            </div>
            <div class="panel-body">
              <br />
              Last Modified Date: {{ vm.version.lastModifiedDate | date }}
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Uploaded version information</h3>
          <p>This is the version information from your Upload File.</p>
          <div class="panel panel-ai">
            <div class="panel-heading">
              {{ vm.cp.product.version }}
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Version -->

    <!-- Certified Product -->
    <div ng-if="vm.stage === 'cp'">
      <div class="row">
        <div class="col-sm-12">
          <h1>Certified Product</h1>
          <p>Step 4 of 4</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-ai">
          <div class="panel-heading">
            <span>CHPL Product Number not assigned</span>
          </div>
          <div class="panel-body">
            <span>
              <strong>Practice Type:</strong> {{ vm.cp.practiceType.name }} <br />
              <strong>Certification Edition:</strong> {{ vm.cp.certificationEdition.name }} <br />
              <strong>Certification Body:</strong> {{ vm.cp.certifyingBody.name }} <br />
              <strong>Certification Date:</strong> {{ vm.cp.certificationDate | date }} <br />
              <ai-additional-software additional-software="vm.cp.additionalSoftware" is-editing="false"></ai-additional-software> <br />
              <strong>Status:</strong> {{ vm.cp.certificationStatus.name }}<br />
              <strong>ACB Certification Id:</strong> {{ vm.cp.acbCertificationId }} <br />
              <strong>Other ACB:</strong> {{ vm.cp.otherAcb }} <br />
              <strong>Quality Management System Attestation:</strong> {{ vm.cp.qualityManagementSystemAtt }} <br />
              <strong>Inherited Certification Status:</strong> {{ vm.cp.ics }} <br />
              <strong>QMS Testing:</strong> {{ vm.cp.qmsTesting ? 'True' : 'False' }} <br />
              <strong>SED Testing:</strong> {{ vm.cp.sedTesting ? 'True' : 'False' }} <br />
              <strong>Report File Location:</strong> {{ vm.cp.reportFileLocation }} <br />
              <strong>Testing Lab:</strong> {{ vm.cp.testingLabId }} <br />
              <strong>Visible on CHPL:</strong> {{ vm.cp.visibleOnChpl }} <br />
            </span>
            <br />
            <ai-certs ng-if="vm.cp !== ''"
                      certs="vm.cp.certificationResults"
                      cqms="vm.cp.cqmResults"
                      count-certs="vm.cp.countCerts"
                      count-cqms="vm.cp.countCqms"
                      default-all="true"
                      edit-mode="false"
                      report-file-location="{{ vm.cp.reportFileLocation }}">
            </ai-certs>
            <p><button class="btn btn-default btn-block" ng-click="vm.editCertifiedProduct()">Edit Certified Product</button></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Certified Product -->

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning btn-large pull-left"
            ng-disabled="vm.stage === 'dev'"
            ng-click="vm.previous()">Previous</button>
    <button class="btn btn-danger pull-left"
            confirm="Are you sure you wish to reject this Certified Product?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.reject()"><i class="fa fa-trash-o"></i> Reject</button>
    <button class="btn btn-success btn-large pull-right"
            ng-disabled="vm.isDisabled()"
            ng-if="vm.stage !== 'cp'"
            ng-click="vm.next()">Next</button>
    <button class="btn btn-success btn-large pull-right"
            ng-if="vm.stage === 'cp'"
            confirm="Are you sure you wish to confirm this Certified Product?"
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.confirm()"><i class="fa fa-cloud-upload"></i> Confirm</button>
  </div>
</div>
