<section class="row">
    <div class="col-sm-3" ng-if="vm.isAcbAdmin">
      <div class="panel panel-default">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{'active': vm.workType === 'upload'}"><a href="" class="" ng-click="vm.workType='upload'">Upload Certified Products</a></li>
          <li ng-class="{'active': vm.workType === 'confirm'}" ng-if="vm.uploadingCps.length > 0"><a href="" class="" ng-click="vm.workType='confirm'">Confirm <span class="badge">{{ vm.uploadingCps.length }}</span> Pending Product<span ng-if="vm.uploadingCps.length > 1">s</span></a></li>
          <li ng-class="{'active': vm.workType === 'manage'}" ng-if="vm.inspectingCp===''"><a href="" class="" ng-click="vm.workType='manage'">Manage Developers &amp; Products</a></li>
          <li ng-class="{'active': vm.workType === 'merge'}" ng-if="vm.inspectingCp===''"><a href="" class="" ng-click="vm.workType='merge'">Merge Developers &amp; Products</a></li>
        </ul>
      </div>
    </div>
    <div ng-class="{'col-sm-9': vm.isAcbAdmin, 'col-sm-12': !vm.isAcbAdmin}">
      <div class="row" ng-if="vm.workType === 'upload'">
        <div class="col-sm-12" ng-if="vm.isAcbAdmin">
          <h3>Upload Certified Products</h3>
          <input type="file" nv-file-select="" uploader="vm.uploader" />
          <p ng-if="vm.uploadMessage.length > 0">{{ vm.uploadMessage }}</p>
          <table class="table" ng-if="vm.uploader.queue.length > 0">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th ng-show="vm.uploader.isHTML5">Size</th>
                <th ng-show="vm.uploader.isHTML5">Progress</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="vm.uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <i class="fa fa-cloud-upload"></i> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <i class="fa fa-ban"></i> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <i class="fa fa-trash-o"></i> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- end upload certified products -->

      <div class="row" ng-if="vm.isAcbAdmin && vm.workType === 'confirm'">
        <div class="col-sm-12">
          <h3>View Products in the process of upload</h3>
          <p ng-if="vm.uploadingCps.length === 0">No products currently in queue</p>
          <table class="table table-striped" ng-if="vm.uploadingCps.length > 0">
            <thead>
              <tr>
                <th>Developer</th>
                <th>Product</th>
                <th>Version</th>
                <th>Edition</th>
                <th>Certification date</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cp in vm.uploadingCps | orderBy: 'certificationDate'">
                <td>{{ cp.vendor.name }}</td>
                <td>{{ cp.product.name }}</td>
                <td>{{ cp.product.version }}</td>
                <td>{{ cp.certificationEdition.name }}</td>
                <td>{{ cp.certificationDate | date }}</td>
                <td class="text-center">
                  <button ng-if="vm.inspectingCp === ''" class="btn btn-default btn-block" ng-click="vm.inspectCp(cp.id)">Inspect</button>
                  <button ng-if="vm.inspectingCp !== '' && cp.id === vm.inspectingCp.id" class="btn btn-success btn-block" ng-click="vm.confirmCp(cp.id)">
                    <i class="fa fa-cloud-upload"></i> Confirm
                  </button>
                  <button ng-if="vm.inspectingCp !== '' && cp.id === vm.inspectingCp.id" class="btn btn-warning btn-block" ng-click="vm.cancelInspectingCp(cp.id)">
                    <i class="fa fa-ban"></i> Cancel
                  </button>
                  <button ng-if="vm.inspectingCp !== '' && cp.id === vm.inspectingCp.id" class="btn btn-danger btn-block" ng-click="vm.rejectCp(cp.id)">
                    <i class="fa fa-trash-o"></i> Reject
                  </button>
                  <span ng-if="vm.inspectingCp !== '' && cp.id !== vm.inspectingCp.id">Complete or cancel currently open Product</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- end of upload process table -->

      <div ng-if="vm.workType === 'manage' || vm.workType === 'merge' || vm.inspectingCp !== '' || vm.isChplAdmin"> <!-- developer -->
        <div class="row" ng-if="vm.activeVendor === ''">
          <div class="col-sm-12">
            <label for="vendorSelect" class="control-label admin-label-spaced">Select a developer</label>
            <select ng-model="vm.vendorSelect"
                    id="vendorSelect" class="form-control"
                    ng-options="v.name for v in vm.vendors | orderBy: 'name'">
            </select>
            <button class="btn btn-default form-control" ng-click="vm.selectVendor()">Choose Developer</button>
          </div>
        </div> <!-- end select developer -->
        <div class="row" ng-if="vm.activeVendor !== ''">
          <div ng-class="{'col-sm-12': vm.workType === 'manage', 'col-sm-6': vm.workType !== 'manage'}">
            <h3 ng-if="vm.inspectingCp">System developer information</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span ng-if="vm.inspectingCp && !vm.activeVendor.id">
                  Developer <strong>"{{ vm.inspectingCp.vendor.name }}"</strong> not found. Would you like to select an existing developer?<br />
                  <label for="vendorInspectSelect" class="control-label admin-label-spaced">Select a developer</label>
                  <select ng-model="vm.vendorSelect"
                          id="vendorInspectSelect" class="input-sm form-control"
                          ng-options="v.name for v in vm.vendors | orderBy: 'name'">
                  </select>
                  <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingVendor()">Select Developer</button></p>
                  Or use the uploaded information?<br />
                </span>
                <span>{{ vm.activeVendor.name }}</span>
              </div>
              <div class="panel-body">
                <span>
                  {{ vm.activeVendor.address.line1 }}<br />
                  {{ vm.activeVendor.address.line2 }}<br />
                  {{ vm.activeVendor.address.city }}<br />
                  {{ vm.activeVendor.address.state }}<br />
                  {{ vm.activeVendor.address.zipcode }}<br />
                  {{ vm.activeVendor.address.country }}<br />
                  {{ vm.activeVendor.website }}<br />
                </span>
                <br />
                Last Modified Date: {{ vm.activeVendor.lastModifiedDate | date }}
                <br />
                <p ng-if="vm.vendorMessage !== undefined" class="bg-danger">{{ vm.vendorMessage }}</p>
                <p><button class="btn btn-default btn-block" ng-if="vm.workType !== 'merge'" ng-click="vm.editDeveloper()">Edit Developer</button></p>
                <p ng-if="vm.inspectingCp === ''" class="text-center"><a href="" ng-click="vm.activeVendor = ''; vm.activeProduct = ''; vm.activeVersion = ''; vm.activeCP = ''"><i class="fa fa-arrow-left fa-lg"></i> Return to developer select</a></p>
              </div>
            </div>
          </div> <!-- end system developer -->
          <div class="col-sm-6" ng-if="vm.inspectingCp">
            <h3>Uploaded developer information</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                {{ vm.inspectingCp.vendor.name }}
              </div>
              <div class="panel-body">
                {{ vm.inspectingCp.vendorAddress.line1 }}<br />
                {{ vm.inspectingCp.vendorAddress.line2 }}<br />
                {{ vm.inspectingCp.vendorAddress.city }}<br />
                {{ vm.inspectingCp.vendorAddress.state }}<br />
                {{ vm.inspectingCp.vendorAddress.zipcode }}<br />
                {{ vm.inspectingCp.vendorAddress.country }}<br />
                {{ vm.inspectingCp.vendor.website }}<br />
              </div>
            </div>
          </div> <!-- end uploaded developer -->
          <div class="col-sm-6" ng-if="vm.activeVendor !== '' && !vm.inspectingCp && vm.workType === 'merge'">
            <label for="vendorMergeSelect" class="control-label admin-label-spaced">Select developer(s) to merge with {{ vm.activeVendor.name }}</label>
            <select ng-model="vm.mergingVendors" multiple="true"
                    id="vendorMergeSelect" class="input-sm form-control"
                    size="12" ng-options="v.name for v in vm.vendors | orderBy: 'name'">
            </select>
            <p ng-if="vm.mergingVendors.length > 0"><button class="btn btn-default btn-block" ng-click="vm.mergingVendors = []">Clear selection</button></p>
          </div> <!-- end vendor merge select -->
        </div>
        <div class="row" ng-if="vm.activeVendor !== '' && vm.mergingVendors.length > 0">
          <div class="col-md-6">
            <h4>Merge selected developers</h4>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>{{ vm.activeVendor.name }}</span>
              </div>
              <div class="panel-body">
                {{ vm.activeVendor.address.line1 }}<br />
                {{ vm.activeVendor.address.line2 }}<br />
                {{ vm.activeVendor.address.city }}<br />
                {{ vm.activeVendor.address.state }}<br />
                {{ vm.activeVendor.address.zipcode }}<br />
                {{ vm.activeVendor.address.country }}<br />
                {{ vm.activeVendor.website }}<br />
                <br />
                Last Modified Date: {{ vm.activeVendor.lastModifiedDate | date }}
                <br />
              </div>
            </div>
            <div class="panel panel-default" ng-repeat="vendor in vm.mergingVendors">
              <div class="panel-heading">
                <span>{{ vendor.name }}</span>
              </div>
              <div class="panel-body">
                {{ vendor.address.line1 }}<br />
                {{ vendor.address.line2 }}<br />
                {{ vendor.address.city }}<br />
                {{ vendor.address.state }}<br />
                {{ vendor.address.zipcode }}<br />
                {{ vendor.address.country }}<br />
                {{ vendor.website }}<br />
                <br />
                Last Modified Date: {{ vendor.lastModifiedDate | date }}
                <br />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>To form this one</h4>
            <div class="panel panel-default" ng-form="vendorMergeForm">
              <div class="panel-heading">
                <div class="form-group">
                  <label for="vendorMergeName">Developer Name <span class="text-danger">*</span></label>
                  <input class="input-sm form-control" type="text" ng-model="vm.mergeVendor.name" id="vendorMergeName" required></input>
                </div>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="addressMergeLine1">Address Line 1 <span ng-if="vm.mergeAddressRequired()" class="text-danger">*</span></label>
                  <input class="input-sm form-control" type="text" ng-required="vm.mergeAddressRequired()" ng-model="vm.mergeVendor.address.line1" id="addressMergeLine1"></input>
                </div>
                <div class="form-group">
                  <label for="addressMergeLine2">Address Line 2</label>
                  <input class="input-sm form-control" type="text" ng-model="vm.mergeVendor.address.line2" id="addressMergeLine2"></input>
                </div>
                <div class="form-group">
                  <label for="addressMergeCity">City <span ng-if="vm.mergeAddressRequired()" class="text-danger">*</span></label>
                  <input class="input-sm form-control" type="text" ng-required="vm.mergeAddressRequired()" ng-model="vm.mergeVendor.address.city" id="addressMergeCity"></input>
                </div>
                <div class="form-group">
                  <label for="addressMergeState">State <span ng-if="vm.mergeAddressRequired()" class="text-danger">*</span></label>
                  <input class="input-sm form-control" type="text" ng-required="vm.mergeAddressRequired()" ng-model="vm.mergeVendor.address.state" id="addressMergeState"></input>
                </div>
                <div class="form-group">
                  <label for="addressMergeZipcode">Zip Code <span ng-if="vm.mergeAddressRequired()" class="text-danger">*</span></label>
                  <input class="input-sm form-control" type="text" ng-required="vm.mergeAddressRequired()" ng-model="vm.mergeVendor.address.zipcode" id="addressMergeZipcode"></input>
                </div>
                <div class="form-group">
                  <label for="addressMergeCountry">Country <span ng-if="vm.mergeAddressRequired()" class="text-danger">*</span></label>
                  <input class="input-sm form-control" type="text" ng-required="vm.mergeAddressRequired()" ng-model="vm.mergeVendor.address.country" id="addressMergeCountry"></input>
                </div>
                <div class="form-group">
                  <label for="vendorMergeWebsite">Website</label>
                  <input class="input-sm form-control" type="url" ng-model="vm.mergeVendor.website" id="vendorMergeWebsite"></input>
                </div>
                <br />
                <p ng-if="vm.vendorMessage !== undefined" class="bg-danger">{{ vm.vendorMessage }}</p>
                <p><button ng-disabled="vendorMergeForm.$invalid" class="btn btn-success btn-block" ng-click="vm.saveVendor()">Save Combined Developers</button></p>
                <p><button class="btn btn-warning btn-block" ng-click="vm.cancelVendor()">Cancel Edits</button></p>
              </div>
            </div>
          </div>
        </div> <!-- end merged developer -->

        <div class="row" ng-if="vm.activeProduct === '' && vm.activeVendor !== ''"> <!-- product -->
          <div class="col-sm-12">
            <label for="productSelect" class="control-label admin-label-spaced">Select a product</label>
            <select ng-model="vm.productSelect"
                    id="productSelect" class="form-control"
                    ng-options="p.name for p in vm.products | orderBy: 'name'">
            </select>
            <button class="btn btn-default form-control" ng-click="vm.selectProduct()">Choose Product</button>
          </div>
        </div> <!-- end select product -->
        <div class="row" ng-if="vm.activeProduct !== ''">
          <div ng-class="{'col-sm-12': vm.workType === 'manage', 'col-sm-6': vm.workType !== 'manage'}">
            <h3 ng-if="vm.inspectingCp">System product information</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span ng-if="vm.inspectingCp && !vm.activeProduct.id && vm.activeVendor.id">
                  Product <strong>"{{ vm.inspectingCp.product.name }}"</strong> not found. Would you like to select an existing product?<br />
                  <label for="productInspectSelect" class="control-label admin-label-spaced">Select a product</label>
                  <select ng-model="vm.productSelect"
                          id="productInspectSelect" class="input-sm form-control"
                          ng-options="p.name for p in vm.products | orderBy: 'name'">
                  </select>
                  <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingProduct()">Select Product</button></p>
                  Or use the uploaded information?<br />
                </span>
                <span>{{ vm.activeProduct.name }}</span>
              </div>
              <div class="panel-body">
                <br />
                Last Modified Date: {{ vm.activeProduct.lastModifiedDate | date }}
                <br />
                <p ng-if="vm.productMessage !== undefined" class="bg-danger">{{ vm.productMessage }}</p>
                <p><button class="btn btn-default btn-block" ng-if="vm.workType !== 'merge'" ng-click="vm.editProduct()">Edit Product</button></p>
                <p ng-if="vm.inspectingCp === ''" class="text-center"><a href="" ng-click="vm.activeProduct = ''; vm.activeVersion = ''; vm.activeCP = ''"><i class="fa fa-arrow-left fa-lg"></i> Return to product select</a></p>
              </div>
            </div>
          </div> <!-- end system product -->
          <div class="col-sm-6" ng-if="vm.inspectingCp">
            <h3>Uploaded developer information</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                {{ vm.inspectingCp.product.name }}
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div> <!-- end uploaded product -->
          <div class="col-sm-6" ng-if="vm.activeProduct !=='' && !vm.inspectingCp && vm.products.length > 1 && vm.workType === 'merge'">
            <label for="productMergeSelect" class="control-label admin-label-spaced">Select product(s) to merge with {{ vm.activeProduct.name }}</label>
            <select ng-model="vm.mergingProducts" multiple="true"
                    id="productMergeSelect" class="input-sm form-control"
                    size="12" ng-options="p.name for p in vm.products | orderBy: 'name'">
            </select>
            <p ng-if="vm.mergingProducts.length > 0"><button class="btn btn-default btn-block" ng-click="vm.mergingProducts = []">Clear selection</button></p>
          </div>
          <div class="col-sm-6" ng-if="vm.activeProduct !=='' && !vm.inspectingCp && vm.products.length <= 1 && vm.workType === 'merge'">
            <p><strong>No products are available for merge</strong></p>
          </div> <!-- end product merge select -->
        </div>
        <div class="row" ng-if="vm.activeProduct !== '' && vm.mergingProducts.length > 0">
          <div class="col-md-6">
            <h4>Merge selected products</h4>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>{{ vm.activeProduct.name }}</span>
              </div>
              <div class="panel-body">
                Last Modified Date: {{ vm.activeProduct.lastModifiedDate | date }}
                <br />
              </div>
            </div>
            <div class="panel panel-default" ng-repeat="product in vm.mergingProducts">
              <div class="panel-heading">
                <span>{{ product.name }}</span>
              </div>
              <div class="panel-body">
                Last Modified Date: {{ product.lastModifiedDate | date }}
                <br />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>To form this one</h4>
            <div class="panel panel-default" ng-form="productMergeForm">
              <div class="panel-heading">
                <div class="form-group">
                  <label for="productMergeName">Product Name</label>
                  <input class="input-sm form-control" type="text" ng-model="vm.mergeProduct.name" id="productMergeName" required></input>
                </div>
              </div>
              <div class="panel-body">
                <p><button ng-disabled="productMergeForm.$invalid" class="btn btn-success btn-block" ng-click="vm.saveProduct()">Save Combined Products</button></p>
                <p><button class="btn btn-warning btn-block" ng-click="vm.cancelProduct()">Cancel Edits</button></p>
              </div>
            </div>
          </div>
        </div> <!-- end merged product -->

        <div class="row" ng-if="vm.activeProduct !== '' && vm.activeVendor !== '' && vm.activeVersion === ''"> <!-- version -->
          <div class="col-sm-12">
            <label for="versionSelect" class="control-label admin-label-spaced">Select a version</label>
            <select ng-model="vm.versionSelect"
                    id="versionSelect" class="form-control"
                    ng-options="v as v.version for v in vm.versions | orderBy: 'version'">
            </select>
            <button class="btn btn-default form-control" ng-click="vm.selectVersion()">Choose Version</button>
          </div>
        </div> <!-- end select product -->
        <div class="row" ng-if="vm.activeVersion !== ''">
          <div ng-class="{'col-sm-12': vm.workType === 'manage', 'col-sm-6': vm.workType !== 'manage'}">
            <h3 ng-if="vm.inspectingCp">System version information</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span ng-if="vm.inspectingCp && !vm.inspectingCp.product.versionId && vm.activeProduct.id">
                  Version <strong>"{{ vm.inspectingCp.product.version }}"</strong> not found. Would you like to select an existing version?<br />
                  <label for="versionInspectSelect" class="control-label admin-label-spaced">Select a version</label>
                  <select ng-model="vm.versionSelect"
                          id="versionInspectSelect" class="input-sm form-control"
                          ng-options="v as v.version for v in vm.versions | orderBy: 'version'">
                  </select>
                  <p><button class="btn btn-default btn-block" ng-click="vm.selectInspectingVersion()">Select Version</button></p>
                  Or use the uploaded information?<br />
                </span>
                <span>{{ vm.activeVersion.version }}</span>
              </div>
              <div class="panel-body">
                <br />
                Last Modified Date: {{ vm.activeVersion.lastModifiedDate | date }}
                <br />
                <p ng-if="vm.versionMessage !== undefined" class="bg-danger">{{ vm.versionMessage }}</p>
                <p><button class="btn btn-default btn-block" ng-if="vm.workType !== 'merge'" ng-click="vm.editVersion()">Edit Version</button></p>
                <p ng-if="vm.inspectingCp === ''" class="text-center"><a href="" ng-click="vm.activeVersion = ''; vm.activeCP = ''"><i class="fa fa-arrow-left fa-lg"></i> Return to version select</a></p>
              </div>
            </div>
          </div> <!-- end system version -->
          <div class="col-sm-6" ng-if="vm.inspectingCp">
            <h3>Uploaded version information</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                {{ vm.inspectingCp.product.version }}
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div> <!-- end uploaded version -->
          <div class="col-sm-6" ng-if="vm.activeVersion !== '' && !vm.inspectingCp && vm.versions.length > 1 && vm.workType === 'merge'">
            <label for="versionMergeSelect" class="control-label admin-label-spaced">Select version(s) to merge with {{ vm.activeVersion.version }}</label>
            <select ng-model="vm.mergingVersions" multiple="true"
                    id="versionMergeSelect" class="input-sm form-control"
                    size="12" ng-options="v as v.version for v in vm.versions | orderBy: 'version'">
            </select>
            <p ng-if="vm.mergingVersions.length > 0"><button class="btn btn-default btn-block" ng-click="vm.mergingVersions = []">Clear selection</button></p>
          </div>
          <div class="col-sm-6" ng-if="vm.activeProduct !=='' && !vm.inspectingCp && vm.versions.length <= 1 && vm.workType === 'merge'">
            <p><strong>No versions are available for merge</strong></p>
          </div> <!-- end version merge select -->
        </div>
        <div class="row" ng-if="vm.activeVersion !== '' && vm.mergingVersions.length > 0">
          <div class="col-md-6">
            <h4>Merge selected versions</h4>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>{{ vm.activeVersion.version }}</span>
              </div>
              <div class="panel-body">
                Last Modified Date: {{ vm.activeVersion.lastModifiedDate | date }}
                <br />
              </div>
            </div>
            <div class="panel panel-default" ng-repeat="version in vm.mergingVersions">
              <div class="panel-heading">
                <span>{{ version.version }}</span>
              </div>
              <div class="panel-body">
                Last Modified Date: {{ version.lastModifiedDate | date }}
                <br />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>To form this one</h4>
            <div class="panel panel-default" ng-form="versionMergeForm">
              <div class="panel-heading">
                <div class="form-group">
                  <label for="versionMergeVersion">Version</label>
                  <input class="input-sm form-control" type="text" ng-model="vm.mergeVersion.version" id="versionMergeVersion" required></input>
                </div>
              </div>
              <div class="panel-body">
                <br />
                <p><button ng-disabled="versionMergeForm.$invalid" class="btn btn-success btn-block" ng-click="vm.saveVersion()">Save Combined Versions</button></p>
                <p><button class="btn btn-warning btn-block" ng-click="vm.cancelVersion()">Cancel Edits</button></p>
              </div>
            </div>
          </div>
        </div> <!-- end merged version -->

        <div class="row" ng-if="vm.activeVersion !== '' && vm.workType !== 'merge'">
          <div class="col-sm-12">
            <div ng-if="vm.activeCP === ''">
              <label for="cpSelect" class="control-label admin-label-spaced">Select a certified product</label>
              <select ng-model="vm.cpSelect" id="cpSelect" class="input-sm form-control">
                <option ng-repeat="cp in vm.cps | orderBy: 'certificationDate'" value="{{ cp.id }}">{{ cp.chplProductNumber }} ({{ cp.lastModifiedDate | date }})</option>
              </select>
              <button class="btn btn-default form-control" ng-click="vm.selectCp()">Choose Certified Product</button>
            </div>
            <div ng-if="vm.activeCP !== ''">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span>{{ vm.activeCP.chplProductNumber ? vm.activeCP.chplProductNumber : 'CHPL Product Number not assigned' }}</span>
                </div>
                <div class="panel-body">
                    <span>
                      <strong>Classification:</strong> {{ vm.activeCP.classificationType.name }} <br />
                      <strong>Practice Type:</strong> {{ vm.activeCP.practiceType.name }} <br />
                      <strong>Certification Edition:</strong> {{ vm.activeCP.certificationEdition.name }} <br />
                      <strong>Certification Body:</strong> {{ vm.activeCP.certifyingBody.name }} <br />
                      <strong>Certification Date:</strong> {{ vm.activeCP.certificationDate | date }} <br />
                      <ai-additional-software additional-software="vm.activeCP.additionalSoftware" is-editing="false"></ai-additional-software> <br />
                      <strong>Status:</strong> {{ vm.activeCP.certificationStatus.name }}<br />
                      <strong>ACB Certification Id:</strong> {{ vm.activeCP.acbCertificationId }} <br />
                      <strong>Other ACB:</strong> {{ vm.activeCP.otherAcb }} <br />
                      <strong>Quality Management System Attestation:</strong> {{ vm.activeCP.qualityManagementSystemAtt }} <br />
                      <strong>Report File Location:</strong> {{ vm.activeCP.reportFileLocation }} <br />
                      <strong>Testing Lab:</strong> {{ vm.activeCP.testingLabId }} <br />
                      <strong>Visible on CHPL:</strong> {{ vm.activeCP.visibleOnChpl }} <br />
                    </span>
                    <br />
                    <ai-certs ng-if="vm.activeCP !== ''"
                              certs="vm.activeCP.certificationResults"
                              cqms="vm.activeCP.cqmResults"
                              count-certs="{{ vm.activeCP.countCerts }}"
                              count-cqms="{{ vm.activeCP.countCqms }}"
                              default-all="true"
                              edit-mode="false"
                              report-file-location="{{ vm.activeCP.reportFileLocation }}"
                              applicable-cqm-criteria="vm.activeCP.applicableCqmCriteria">
                    </ai-certs>
                    Last Modified Date: {{ vm.activeCP.lastModifiedDate | date }}
                    <br />
                    <p ng-if="vm.cpMessage !== undefined" class="bg-danger">{{ vm.cpMessage }}</p>
                    <p><button class="btn btn-default btn-block" ng-click="vm.editCertifiedProduct()">Edit Certified Product</button></p>
                    <p ng-if="vm.inspectingCp === ''" class="text-center"><a href="" ng-click="vm.activeCP = ''"><i class="fa fa-arrow-left fa-lg"></i> Return to certified product select</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
