<div role="modal" aria-labeled-by="mergeVersionLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="mergeVersionLabel">Merge Versions</h4>
  </div>
  <div class="modal-body" ng-form="mergeForm">
    <div class="row">
      <div class="col-md-6">
        <h4>Merge selected versions</h4>
        <div class="panel panel-default" ng-repeat="version in vm.versions">
          <div class="panel-heading">
            <span>{{ version.version }}</span>
          </div>
          <div class="panel-body">
            Last Modified Date: {{ version.lastModifiedDate | date }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>To form this one</h4>
        <div class="form-group">
          <label for="versionName">Version <span class="text-danger">*</span></label>
          <input class="input-sm form-control" type="text" required ng-model="vm.version.version" id="versionName"></input>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="mergeForm.$invalid" class="btn btn-success btn-block"
            confirm="Are you sure you wish to merge these versions? This action may not be undone."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.save()">Save Combined Version</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
