<div role="modal" aria-labeled-by="modalLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalLabel">Certification Criteria: {{ vm.cert.number }}</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <input type="checkbox" ng-model="vm.cert.success" id="data{{ vm.cert.number }}" name="data"></input>
    <label class="control-label" for="data{{ vm.cert.number }}">{{ vm.cert.number }}: {{ vm.cert.title }}</label>
    <div ng-if="vm.cert.success">
      <input type="checkbox" ng-model="vm.cert.metViaAdditionalSoftware" id="data_additionalSoftware{{ vm.cert.number }}" name="data_additionalSoftware"></input>
      <label class="control-label" for="data_additionalSoftware{{ vm.cert.number }}">Certification met via additional software</label>
      <ai-additional-software additional-software="vm.cert.additionalSoftware" is-editing="true" ng-if="vm.cert.metViaAdditionalSoftware"></ai-additional-software>
    </div>
    <table class="table table-striped" ng-if="vm.cert.success">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="vm.cert.gap !== null">
          <td><label class="control-label" for="data_gap{{ vm.cert.number }}">GAP</label></td>
          <td><select class="form-control input-sm" id="data_gap{{ vm.cert.number }}" name="data_gap" ng_model="vm.cert.gap" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr ng-if="vm.cert.testStandards !== null">
          <td>Standard</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm" ng-repeat="item in vm.cert.testStandards track by $index">
                <label class="col-sm-6 control-label" for="testStandard{{ item.id }}">Test Standard</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="item.testStandardName" id="testStandard{{ item.id }}"
                            ng-options="option.name as option.name for option in vm.resources.testStandards.data | orderBy: 'name'"
                            ng-change="item.testStandardId = option.id">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cert.testStandards.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="newTestStandardItem">New Test Standard</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="vm.newTestStandard.testStandardName" id="newTestStandardItem"
                            ng-options="option.name as option.name for option in vm.resources.testStandards.data | orderBy: 'name'">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cert.testStandards, vm.newTestStandard); vm.newTestStandard = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                  </div>
                </div>
                <label class="col-sm-6 control-label" for="newTestStandardExpandableName">Add new Test Standard to available options</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="vm.newTestStandard.expandableName" id="newTestStandardExpandableName" ng-change="vm.extendSelect(vm.resources.testStandards.data, vm.newTestStandard.expandableName); vm.newTestStandard.testStandardName = vm.newTestStandard.expandableName"></input>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.g1Success !== null">
          <td><label class="control-label" for="data_g1Success{{ vm.cert.number }}">Measure Successfully Tested for G1</label></td>
          <td><select class="form-control input-sm" id="data_g1Success{{ vm.cert.number }}" name="data_g1Success" ng_model="vm.cert.g1Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr ng-if="vm.cert.g1MacraMeasures">
          <td><label class="control-label" for="data_g1MacraMeasures{{ vm.cert.number }}">Measure<span ng-if="vm.cert.g1MacraMeasures.length !== 1">s</span> Successfully Tested for G1</label></td>
          <td>
            <select multiple data-ng-attr-size="{{ vm.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g1MacraMeasures{{ vm.cert.number }}" name="data_g1MacraMeasures" ng_model="vm.cert.g1MacraMeasures" ng-options="m as m.abbreviation for m in vm.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select></td>
        </tr>
        <tr ng-if="vm.cert.g2Success !== null">
          <td><label class="control-label" for="data_g2Success{{ vm.cert.number }}">Measure Successfully Tested for G2</label></td>
          <td><select class="form-control input-sm" id="data_g2Success{{ vm.cert.number }}" name="data_g2Success" ng_model="vm.cert.g2Success" ng-options="b.value as b.name for b in vm.options"></select></td>
        </tr>
        <tr ng-if="vm.cert.g2MacraMeasures">
          <td><label class="control-label" for="data_g2MacraMeasures{{ vm.cert.number }}">Measure<span ng-if="vm.cert.g2MacraMeasures.length !== 1">s</span> Successfully Tested for G2</label></td>
          <td><select multiple data-ng-attr-size="{{ vm.cert.allowedMacraMeasures.length + 1 }}" class="form-control input-sm" id="data_g2MacraMeasures{{ vm.cert.number }}" name="data_g2MacraMeasures" ng_model="vm.cert.g2MacraMeasures" ng-options="m as m.abbreviation for m in vm.cert.allowedMacraMeasures | orderBy: 'abbreviation' track by m.id"></select></td>
        </tr>
        <tr ng-if="vm.cert.testFunctionality !== null">
          <td>Functionality Tested</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm" ng-repeat="item in vm.cert.testFunctionality track by $index">
                <label class="col-sm-6 control-label" for="functionalityTested{{ item.id }}">Functionality Tested</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="item.name" id="functionalityTested{{ item.id }}"
                            ng-options="option.name as option.name for option in vm.resources.testFunctionalities.data | orderBy: 'name'"
                            ng-change="item.testFunctionalityId = option.id">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cert.testFunctionality.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="newFunctionalityTestedItem">New Functionality Tested</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="vm.newFunctionalityTested.name" id="newFunctionalityTestedItem"
                            ng-options="option.name as option.name for option in vm.resources.testFunctionalities.data | orderBy: 'name'">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cert.testFunctionality, vm.newFunctionalityTested); vm.newFunctionalityTested = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.testProcedures !== null">
          <td>Test procedure version</td>
          <td><ai-array item-type="Test Procedure Version" items="vm.cert.testProcedures" key="testProcedureVersion"></ai-array></td>
        </tr>
        <tr ng-if="vm.cert.testToolsUsed !== null">
          <td>Test tool</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm" ng-repeat="item in vm.cert.testToolsUsed track by $index">
                <div ng-if="!item.retired">
                  <label class="col-sm-6 control-label" for="testTool{{ item.id }}">Test Tool</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select class="form-control" ng-model="item.testToolName" id="testTool{{ item.id }}"
                              ng-options="option.name as option.name disable when !vm.isToolAvailable(option) for option in vm.resources.testTools.data | orderBy: 'name'"
                              ng-change="item.testToolId = option.id">
                      </select>
                      <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cert.testToolsUsed.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
                    </div>
                  </div>
                  <label class="col-sm-6 control-label" for="testToolVersion{{ item.id }}">Test Tool Version</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="item.testToolVersion" id="testToolVersion{{ item.id }}"></input>
                  </div>
                </div>
                <div ng-if="item.retired">
                  <label class="col-sm-6 control-label" for="testTool{{ item.id }}">Test Tool</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="item.testToolName" id="testTool{{ item.id }}" disabled></input>
                    Tool has been retired
                  </div>
                  <label class="col-sm-6 control-label" for="testToolVersion{{ item.id }}">Test Tool Version</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="item.testToolVersion" id="testToolVersion{{ item.id }}" disabled></input>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="newTestToolItem">New Test Tool</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="vm.newTestTool.testToolName" id="newTestToolItem"
                            ng-options="option.name as option.name disable when !vm.isToolAvailable(option) for option in vm.resources.testTools.data | orderBy: 'name'">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cert.testToolsUsed, vm.newTestTool); vm.newTestTool = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                  </div>
                </div>
                <label class="col-sm-6 control-label" for="newTestToolVersion">Test Tool Version</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="vm.newTestTool.testToolVersion" id="newTestToolVersion"></input>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.testDataUsed !== null">
          <td>Test data</td>
          <td><ai-array item-type="Test Data Version & Alteration" items="vm.cert.testDataUsed" key="version" key-second="alteration"></ai-array></td>
        </tr>
        <tr ng-if="vm.cert.apiDocumentation !== null">
          <td><label class="control-label" for="data_api{{ vm.cert.number }}">API Documentation</label></td>
          <td><input class="form-control input-sm" type="url" id="data_api{{ vm.cert.number }}" name="data_apiDocumentation" ng-model="vm.cert.apiDocumentation"></input></td>
        </tr>
        <tr ng-if="vm.cert.privacySecurityFramework !== null">
          <td><label class="control-label" for="data_psFramework{{ vm.cert.number }}">Privacy &amp; Security Framework</label></td>
          <td><select class="form-control input-sm" id="data_psFramework{{ vm.cert.number }}" name="data_psFramework" ng_model="vm.cert.privacySecurityFramework">
              <option value="Approach 1">Approach 1</option>
              <option value="Approach 2">Approach 2</option>
          </select></td>
        </tr>
        <tr ng-if="vm.cert.sed !== null">
          <td><label class="control-label" for="data_sed{{ vm.cert.number }}">SED</label></td>
          <td><select class="form-control input-sm" id="data_sed{{ vm.cert.number }}" name="data_sed" ng_model="vm.cert.sed" ng-options="b.value as b.name for b in vm.options" ng-disabled="vm.cert.certificationEdition.name === '2015'"></select></td>
        </tr>
        <tr ng-if="vm.cert.ucdProcesses !== null">
          <td>UCD Process</td>
          <td>
            <div class="form-horizontal">
              <div class="form-group form-group-sm" ng-repeat="item in vm.cert.ucdProcesses track by $index">
                <label class="col-sm-6 control-label" for="ucdProcess{{ item.id }}">UCD Process</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="item.ucdProcessName" id="ucdProcess{{ item.id }}"
                            ng-options="option.name as option.name for option in vm.resources.ucdProcesses.data | orderBy: 'name'">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-danger form-control" ng-click="vm.cert.ucdProcesses.splice($index,1)"><i class="fa fa-trash"></i> <span class="sr-only">Remove item</span></button></div>
                  </div>
                </div>
                <label class="col-sm-6 control-label" for="ucdProcessDetails{{ item.id }}">UCD Process Details</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="item.ucdProcessDetails" id="ucdProcessDetails{{ item.id }}"></input>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-6 control-label" for="newUcdProcessItem">New UCD Process</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <select class="form-control" ng-model="vm.newUcdProcess.ucdProcessName" id="newUcdProcessItem"
                            ng-options="option.name as option.name for option in vm.resources.ucdProcesses.data | orderBy: 'name'">
                    </select>
                    <div class="input-group-btn"><button class="btn btn-ai-success form-control" ng-click="vm.addNewValue(vm.cert.ucdProcesses, vm.newUcdProcess); vm.newUcdProcess = {}"><i class="fa fa-plus"></i> <span class="sr-only">Add item</span></button></div>
                  </div>
                </div>
                <label class="col-sm-6 control-label" for="newUcdProcessExpandableName">Add new UCD Process to available options</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="vm.newUcdProcess.expandableName" id="newUcdProcessExpandableName" ng-change="vm.extendSelect(vm.resources.ucdProcesses.data, vm.newUcdProcess.expandableName); vm.newUcdProcess.ucdProcessName = vm.newUcdProcess.expandableName"></input>
                </div>
                <label class="col-sm-6 control-label" for="newUcdProcessDetails">UCD Process Details</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="vm.newUcdProcess.ucdProcessDetails" id="newUcdProcessDetails"></input>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-if="vm.cert.sed !== null">
          <td colspan="2">
            <table class="table table-condensed" ng-repeat-start="task in vm.cert.testTasks track by $index">
              <thead>
                <tr>
                  <th scope="col">Quality</th>
                  <th scope="col">Measurement</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Task Description</td><td>{{ task.description }}</td>
                  <td>
                    <button class="btn btn-ai-success btn-sm" ng-click="vm.editTask(task, $index)"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="vm.removeTask($index)"><i class="fa fa-trash"></i> Remove</button>
                  </td>
                </tr>
                <tr><td>Task Errors</td><td colspan="2">{{ task.taskErrors }}</td></tr>
                <tr><td>Task Errors Standard Deviation</td><td colspan="2">{{ task.taskErrorsStddev }}</td></tr>
                <tr><td>Path Deviation Observed</td><td colspan="2">{{ task.taskPathDeviationObserved }}</td></tr>
                <tr><td>Path Deviation Optimal</td><td colspan="2">{{ task.taskPathDeviationOptimal }}</td></tr>
                <tr><td>Task Rating</td><td colspan="2">{{ task.taskRating }}</td></tr>
                <tr><td>Task Rating Standard Deviation</td><td colspan="2">{{ task.taskRatingStddev }}</td></tr>
                <tr><td>Task Rating Scale</td><td colspan="2">{{ task.taskRatingScale }}</td></tr>
                <tr><td>Task Success Average</td><td colspan="2">{{ task.taskSuccessAverage }}</td></tr>
                <tr><td>Task Success Standard Deviation</td><td colspan="2">{{ task.taskSuccessStddev }}</td></tr>
                <tr><td>Task Time Average</td><td colspan="2">{{ task.taskTimeAvg }}</td></tr>
                <tr><td>Task Time Deviation Observed Average</td><td colspan="2">{{ task.taskTimeDeviationObservedAvg }}</td></tr>
                <tr><td>Task Time Deviation Optimal Average</td><td colspan="2">{{ task.taskTimeDeviationOptimalAvg }}</td></tr>
                <tr><td>Task Time Standard Deviation</td><td colspan="2">{{ task.taskTimeStddev }}</td></tr>
                <tr>
                  <td>Number of test participants</td>
                  <td colspan="2">{{ task.testParticipants.length }} <a href class="pull-right" aria-expanded="task.showParticipants" ng-click="task.showParticipants = !task.showParticipants">({{ task.showParticipants ? 'Hide': 'View' }} Participant Details)</a></td>
                </tr>
              </tbody>
            </table>
            <table ng-repeat-end ng-if="task.showParticipants" class="table table-condensed">
              <thead>
                <tr>
                  <th scope="col">Age</th>
                  <th scope="col">Assistive Technology Needs</th>
                  <th scope="col">Computer Experience (Months)</th>
                  <th scope="col">Education Type</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Occupation</th>
                  <th scope="col">Product Experience (Months)</th>
                  <th scope="col">Professional Experience (Months)</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pers in task.testParticipants track by $index">
                  <td>{{ pers.ageRange }}</td>
                  <td>{{ pers.assistiveTechnologyNeeds }}</td>
                  <td>{{ pers.computerExperienceMonths }}</td>
                  <td>{{ pers.educationTypeName }}</td>
                  <td>{{ pers.gender }}</td>
                  <td>{{ pers.occupation }}</td>
                  <td>{{ pers.productExperienceMonths }}</td>
                  <td>{{ pers.professionalExperienceMonths }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr ng-if="vm.cert.sed">
          <td colspan="2"><button class="btn btn-ai-success btn-sm pull-right" ng-click="vm.addTask()"><i class="fa fa-plus"></i> Add Task</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.editForm.$invalid" class="btn btn-ai-success btn-block" ng-click="vm.save()">Save Certification Criteria</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
