<div class="non-conformities" ng-if="!$ctrl.nonConformities || $ctrl.nonConformities.length === 0">
    Has not been determined
</div>
<div class="non-conformities" ng-if="$ctrl.nonConformities && $ctrl.nonConformities.length > 0">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">
          Non-Conformity Type <button class="tooltip-button btn btn-link" uib-tooltip="Type of non-conformity found during review" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">Type of non-conformity found during review</span><i class="fa fa-info-circle"></i></button>
        </th>
        <th scope="col">
          Developer Associated Listings <button class="tooltip-button btn btn-link" uib-tooltip="A listing of other certified products associated with the non-conformity, as applicable" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">A listing of other certified products associated with the non-conformity, as applicable</span><i class="fa fa-info-circle"></i></button>
        </th>
        <th scope="col">
          Corrective Action Plan Approval Date <button class="tooltip-button btn btn-link" uib-tooltip="The date that ONC approved the corrective action plan proposed by the developer" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">The date that ONC approved the corrective action plan proposed by the developer</span><i class="fa fa-info-circle"></i></button>
        </th>
        <th scope="col">
          Date Corrective Action Must Be Completed <button class="tooltip-button btn btn-link" uib-tooltip="The date that the corrective action must be completed in order to avoid termination of the certified product’s certification status and/or a certification ban of the developer, as applicable" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">The date that the corrective action must be completed in order to avoid termination of the certified product’s certification status and/or a certification ban of the developer, as applicable</span><i class="fa fa-info-circle"></i></button>
        </th>
        <th scope="col">
          Date Corrective Action Was Completed <button class="tooltip-button btn btn-link" uib-tooltip="The date the corrective action was completed" tooltip-trigger="'mouseenter focus click'"><span class="sr-only">The date the corrective action was completed</span><i class="fa fa-info-circle"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="nc in $ctrl.nonConformities">
        <td>{{ nc.nonConformityType ? nc.nonConformityType : 'Has not been determined' }}</td>
        <td>
          <span ng-if="!nc.developerAssociatedListings || nc.developerAssociatedListings.length === 0">None</span>
          <ul ng-if="nc.developerAssociatedListings && nc.developerAssociatedListings.length > 0">
            <li ng-repeat="dal in nc.developerAssociatedListings">
              <a ui-sref="listing({id: dal.id, panel: 'directReviews'})">{{ dal.chplProductNumber }}</a>
            </li>
          </ul>
        </td>
        <td>{{ nc.friendlyCapApprovalDate }}</td>
        <td>{{ nc.friendlyCapMustCompleteDate }}</td>
        <td>{{ nc.friendlyCapEndDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
