.non-conformities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--grey);
}

.non-conformities__gridtable-header {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: end;
}

.non-conformities__requirements-header {
    text-transform: uppercase;
    font-weight: 700;
}

.non-conformity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border: 1px solid var(--grey);
    margin-bottom: 8px;
    border-radius: 8px;
}

.non-conformity__header {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3em;
    width: 100%;
}

.non-conformity__gridtable-header {
    padding: 10px 15px;
}

.non-conformity__gridtable-header--first {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.non-conformity__gridtable-header--last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.non-conformity__gridtable-header--open {
    background-color: var(--grey-blue);
}

.non-conformity__gridtable-header--closed {
    background-color: var(--light-grey) !important;
    // remove !important when "new-style" goes away / ui-bump-major changes / etc.
}

.non-conformity__basic-information {
    border-left: 4px solid var(--dark-grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8px;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.non-conformity__narrow {
    //grid-column-start: 1;
    margin: 8px;
}

.non-conformity__wide {
    grid-column-start: 1;
    grid-column-end: span 3;
    margin: 8px;
}
