#widget-dropdown {
    padding: 10px;
    border: 3px solid #0070c9
}

.nav {
    .dropdown-menu {
        p {
            margin-left: 2px;
            margin-right: 2px;
        }

        &#admin {
            width: $screen-xs * 2 / 3;
        }
    }
}
