@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.ui-upgrade {
    background: var(--grey) !important;
    color: #012a68 !important;
}

.navbar {
    transition: all .4s ease;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: "Oswald", sans-serif;
    color: white;
}

.navbar-inverse {
    background: #012a68;
    box-shadow: none;
    min-height: 140px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a {
    background: #0070c9;
    background-image: none;
}

.navbar-brand img {
    transition: all .4s ease;

    @media (min-width: 767px) {
        margin: 10px 40px;
    }
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a {
    box-shadow: none;
}

.navbar-scrolled {
    @media (min-width: 767px) {
        min-height: 0 !important;

        .navbar-brand img {
            max-height: 40px;
            margin: 0 !important;
        }
    }
}

.navbar-admin {
    background: #fff;

    .navbar-nav {

        >li {

            .btn-link {
                color: #000;
            }

            button.admin-active {
                border-bottom: #012a68 solid thick;
                border-radius: 0;
            }

            >a {
                color: #000;
            }
        }
    }
}

@media (max-width: 767px) {

    .navbar-fixed-top {
        position: relative;
        top: auto;
    }

    .navbar-fixed-bottom {
        position: relative;
    }

    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 767px) {

    .navbar-fixed-top .container {
        position: relative;
        min-height: 160px;
    }

    .navbar-fixed-top .nav-main {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}

.navigation-shown {
    @media (max-width: 767px) {
        margin-top: 0;
    }

    @media (min-width: 767px) {
        margin-top: 140px;
    }
}

.navigation-hidden {
    @media (max-width: 767px) {
        margin-top: 0;
    }

    @media (min-width: 767px) {
        margin-top: 100px;
    }
}

.toggle-navigation-open {
    transition: all .4s ease;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    .btn-link {
        color: #fff;
    }
}

.toggle-navigation-closed {
    position: relative;
    top: 0;
    background-color: #012a68;

    .btn-link,
    .btn-link:focus,
    .btn-link:hover {
        color: #fff;
    }
}

.navbar-scrolled {

    .toggle-navigation-open {
        //bottom: -30px;
        bottom: 0;
    }
}

.nav {

    .dropdown-menu {
        padding: 10px;
        border: 3px solid #0070c9;

        p {
            margin-left: 2px;
            margin-right: 2px;
        }

        li a {
            font-weight: bold;
        }

        &#compare-widget-dropdown {
            max-height: 450px;
            overflow-y: auto;
        }

        &#widget-dropdown {
            max-height: 450px;
            overflow-y: auto;
            min-width: $screen-xs * 4 / 5;
        }
    }

}

footer {
    margin-top: 150px;

    .navbar-default {
        background-color: #ebebeb;
        background-image: none;

        p {
            color: #363636;

            a {
                color: #214e75;
            }
        }

        .badge {
            color: #fff;
        }
    }

    .spaced-out {
        margin: 10px 40px;
    }

    @media (min-width: 768px) {

        .navbar-right {
            margin-right: 0;
        }
    }
}

.announcement.badge {
    white-space: inherit;
}
