<header>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" ng-controller="NavigationController as vm">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#odc-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/search" ng-click="vm.clear()"><img src="assets/images/CHPL_Logo_03.png" alt="Certified Health IT Product List"></img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="odc-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{'active': vm.isActive('search') }"><a href="#/search">Search</a></li>
          <li ng-class="{'active': vm.isActive('overview') }"><a href="#/overview">Overview</a></li>
          <li><a href="mailto:ONC_CHPL@hhs.gov">Contact</a></li>
          <li ng-class="{'active': vm.isActive('resources') }"><a href="#/resources">Resources</a></li>
          <li ng-class="{'active': vm.isActive('decertifications') }" class="dropdown" uib-dropdown>
            <a href class="dropdown-toggle" id="decertification-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">Decertifications <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="decertification-toggle">
              <li><a href="#/decertifications/products">Decertified Products</a></li>
              <li><a href="#/decertifications/developers">Developers Precluded From Certifying Health IT Products</a></li>
            </ul>
          </li>
          <li ng-class="{'active': vm.isActive('admin') }" class="dropdown" uib-dropdown auto-close="outsideClick">
            <a href class="dropdown-toggle" id="login-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span ng-if="!vm.getUsername()" class="sr-only">Log in</span>{{ vm.getUsername() }} <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="login-toggle">
              <li ng-if="vm.isChplAdmin() || vm.isAcbAdmin() || vm.isAcbStaff()"><a href="#/admin/dpManagement">Developer &amp; Product Management</a></li>
              <li ng-if="vm.isChplAdmin()"><a href="#/admin/userManagement">User Management</a></li>
              <li ng-if="vm.isChplAdmin() || vm.isAcbAdmin()"><a href="#/admin/acbManagement">ONC-ACB Management</a></li>
              <li ng-if="vm.isChplAdmin() || vm.isAtlAdmin()"><a href="#/admin/atlManagement">ONC-ATL Management</a></li>
              <li ng-if="vm.isAuthed()"><a href="#/admin/reports">Reports</a></li>
              <li ng-if="vm.isChplAdmin()"><a href="#/admin/apiKeyManagement">API Key Management</a></li>
              <li ng-if="vm.isChplAdmin()"><a href="#/admin/announcementsManagement">Announcements Management</a></li>
              <li ng-if="vm.isChplAdmin() || vm.isCmsStaff() || vm.isOncStaff()"><a href="#/admin/cmsManagement">CMS Management</a></li>
              <li>
                <ai-login form-class="navbar-form"
                          p-class="navbar-text"
                          p-class-fail="navbar-text">
                </ai-login>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
