@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.toggle-navigation-open {
    position: relative;
    bottom: -80px;

    .btn-link {
        color: #fff;
    }
}

.toggle-navigation-closed {
    position: relative;
    top: 0;
    background-color: #0070c9;

    .btn-link {
        color: #fff;
    }
}

.nav {

    .dropdown-menu {
        padding: 10px;
        border: 3px solid #0070c9;

        p {
            margin-left: 2px;
            margin-right: 2px;
        }

        li a {
            font-weight: bold;
        }

        &#admin {
            width: $screen-xs * 2 / 3;
        }

        &#compare-widget-dropdown {
            max-height: 450px;
            overflow-y: auto;
        }

        &#widget-dropdown {
            max-height: 450px;
            overflow-y: auto;
            min-width: $screen-xs * 4 / 5;
        }
    }

}

footer {
    @media (min-width: 768px) {

        .navbar-right {
            margin-right: 0;
        }
    }
}
