<header>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" chpl-add-class-on-scroll offset="50" scroll-class="navbar-scrolled" ng-if="vm.navShown || !vm.isOn('adminNav')">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true" aria-haspopup="true" aria-expanded="false" id="menu-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href ng-click="vm.clear()"><img src="../../assets/images/CHPL_Logo_03.png" alt="Certified Health IT Product List" class="img-responsive"></img></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" uib-collapse="navCollapsed" aria-labeledby="menu-toggle">
        <ul class="nav navbar-nav navbar-right nav-main">
          <li ng-class="{'active': vm.isActive('/search') }"><a href="#/search">Search CHPL <i class="fa fa-search"></i></a></li>
          <li class="dropdown" uib-dropdown is-open="vm.widgetExpanded" auto-close="disabled">
            <a href class="dropdown-toggle" id="widget-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.widgetExpanded">CMS ID Creator <span class="fa" ng-class="vm.widgetExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span></a>
            <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="widget-toggle" id="widget-dropdown">
              <ai-cms-widget-display widget="vm.widget"></ai-cms-widget-display>
            </div>
          </li>
          <li class="dropdown" uib-dropdown is-open="vm.compareWidgetExpanded" auto-close="disabled">
            <a href class="dropdown-toggle" id="compare-widget-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.compareWidgetExpanded">Compare Products <span class="fa" ng-class="vm.compareWidgetExpanded ? 'fa-caret-down' : 'fa-caret-right'"></span></a>
            <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="compare-widget-toggle" id="compare-widget-dropdown">
              <ai-compare-widget-display widget="vm.compareWidget"></ai-compare-widget-display>
            </div>
          </li>
          <li class="dropdown" uib-dropdown is-open="vm.resourcesIsOpen">
            <a href class="dropdown-toggle" id="resource-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.resourcesIsOpen">CHPL Resources <span class="fa" ng-class="vm.resourcesIsOpen ? 'fa-caret-down' : 'fa-caret-right'"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="resource-toggle" id="resource-dropdown-menu">
              <li><a href="#/resources/overview">Overview</a></li>
              <li><a href="https://www.healthit.gov/sites/default/files/policy/chpl_public_user_guide.pdf" analytics-on="click" analytics-event="CHPL Public User Guide" analytics-properties="{ category: 'Resources', label: '' }">CHPL Public User Guide <i class="fa fa-download text-right"></i></a></li>
              <li><a href="#/resources/cms-lookup">CMS ID Reverse Lookup</a></li>
              <li><a href="#/resources/download">Download the CHPL</a></li>
              <li><a href="#/resources/chpl-api">CHPL API</a></li>
              <li><a href="https://www.healthit.gov/form/healthit-feedback-form">Contact Us</a></li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown is-open="vm.collectionsIsOpen">
            <a href class="dropdown-toggle" id="shortcut-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.collectionsIsOpen">Shortcuts <span class="fa" ng-class="vm.collectionsIsOpen ? 'fa-caret-down' : 'fa-caret-right'"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="shortcut-toggle" id="shortcut-dropdown-menu">
              <li><a href="#/collections/api-documentation">API Info for 2015 Ed. Products</a></li>
              <li><a href="#/collections/developers">Banned Developers</a></li>
              <li><a href="#/charts">Charts</a></li>
              <li><a href="#/collections/products">Decertified Products</a></li>
              <li><a href="#/collections/inactive">Inactive Certificates</a></li>
              <li><a href="#/collections/corrective-action">Products: Corrective Action</a></li>
              <li><a href="#/collections/sed">SED Info for 2015 Ed. Products</a></li>
              <li><a href="#/collections/transparency-attestations">Transparency Attestations</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <div class="text-center toggle-navigation-open" ng-if="vm.hasAnyRole()" feature-flag="adminNav"><button class="btn btn-link" ng-click="vm.toggleNav()">Hide navigation <i class="fa fa-caret-up"></i></button></div>
  </nav>
  <nav class="navbar navbar-default navbar-admin" ng-class="vm.navShown ? 'navbar-static-top' : 'navbar-fixed-top'" feature-flag="adminNav">
    <div class="text-center toggle-navigation-closed" ng-if="!vm.navShown"><button class="btn btn-link" ng-click="vm.toggleNav()">Show navigation <i class="fa fa-caret-down"></i></button></div>
    <div class="container-fluid">
      <ul class="nav navbar-nav"> <!-- admin-nav -->
        <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB', 'ROLE_CMS_STAFF'])" class="dropdown" uib-dropdown is-open="vm.administrationIsOpen">
          <button class="btn btn-lg btn-link navbar-btn dropdown-toggle" id="administration-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.administrationIsOpen">Administration</button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="administration-toggle" id="administration-dropdown-menu">
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && (vm.isOn('complaints') || vm.isOn('surveillance-reporting'))"><a ui-sref="administration.upload.listings()">Upload Listings</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !vm.isOn('complaints') && !vm.isOn('surveillance-reporting')"><a href="#/admin/dpManagement/upload">Upload Listings</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ACB'])"><a ui-sref="administration.confirm.listings()">Confirm Listings</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && !vm.isOn('complaints') && !vm.isOn('surveillance-reporting')"><a href="#/admin/dpManagement/confirmSurveillance">Confirm Surveillance</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/fuzzyManagement">Fuzzy Matching</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])"><a href="#/admin/scheduledJobs">Scheduled Jobs</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])"><a href="#/admin/jobsManagement">Background Jobs</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_CMS_STAFF'])"><a href="#/admin/cmsManagement">CMS</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/apiKeyManagement">API Key Management</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/apiDocumentationManagement">API Documentation Management</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/announcementsManagement">Announcements Management</a></li>
          </ul>
        </li>
        <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])" class="dropdown" uib-dropdown is-open="vm.usersIsOpen">
          <button class="btn btn-lg btn-link navbar-btn dropdown-toggle" id="users-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.usersIsOpen">Users</button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="users-toggle" id="users-dropdown-menu">
            <li><a href="#/admin/userManagement">User Management</a></li>
          </ul>
        </li>
        <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB', 'ROLE_ATL'])" class="dropdown" uib-dropdown is-open="vm.organizationsIsOpen">
          <button class="btn btn-lg btn-link navbar-btn dropdown-toggle" id="organizations-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.organizationsIsOpen">Organizations</button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="organizations-toggle" id="organizations-dropdown-menu">
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])">ONC-ACB<span ng-if="vm.acbs.length !== 1">s</span></li>
            <li ng-repeat="acb in vm.acbs"><a href="#/admin/acbManagement" ng-bind-html="acb.name"></a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ATL'])">ONC-ATL<span ng-if="vm.atls.length !== 1">s</span></li>
            <li ng-repeat="atl in vm.atls"><a href="#/admin/atlManagement" ng-bind-html="atl.name"></a></li>
          </ul>
        </li>
        <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])" class="dropdown" uib-dropdown is-open="vm.reportsIsOpen">
          <button class="btn btn-lg btn-link navbar-btn dropdown-toggle" id="reports-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.reportsIsOpen">Reports</button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="reports-toggle" id="reports-dropdown-menu">
            <li><a ui-sref="reports.listings({productId: null})">Listings</a></li>
            <li><a ui-sref="reports.developers()">Developers</a></li>
            <li><a ui-sref="reports.acbs()">ONC-ACBs</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a ui-sref="reports.atls()">ONC-ATLs</a></li>
            <li><a ui-sref="reports.products()">Products</a></li>
            <li><a ui-sref="reports.versions()">Versions</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/reports/announcement">Announcements</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/reports/users">Users</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/reports/api_key_management">API Keys</a></li>
            <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"><a href="#/admin/reports/api_key_usage">API Key Usage</a></li>
          </ul>
        </li>
        <li ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB']) && (vm.isOn('complaints') || vm.isOn('surveillance-reporting'))" class="dropdown" uib-dropdown is-open="vm.surveillanceIsOpen">
          <button class="btn btn-lg btn-link navbar-btn dropdown-toggle" id="surveillance-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.surveillanceIsOpen">Surveillance</button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="surveillance-toggle" id="surveillance-dropdown-menu">
            <li><a ui-sref="surveillance.upload()">Upload</a></li>
            <li><a ui-sref="surveillance.confirm()">Confirm</a></li>
            <li feature-flag="complaints"><a ui-sref="surveillance.complaints()">Complaints</a></li>
            <li feature-flag="surveillance-reporting"><a ui-sref="surveillance.reporting()">Reporting</a></li>
          </ul>
        </li>
      </ul><!-- /admin nav -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown auto-close="outsideClick" is-open="vm.adminLoginIsOpen">
          <button class="btn btn-default navbar-btn dropdown-toggle" id="login-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="vm.adminLoginIsOpen"><span ng-if="!vm.getFullname()">Administrator Login</span>{{ vm.getFullname() }} <span class="fa" ng-class="vm.adminLoginIsOpen ? 'fa-caret-up' : 'fa-caret-right'"></span></button>
          <ul class="dropdown-menu" id="admin" uib-dropdown-menu aria-labelledby="login-toggle">
            <li>
              <ai-login form-class="navbar-form"
                        p-class="navbar-text"
                        p-class-fail="navbar-text">
              </ai-login>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
