<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Developer</h1>
    </div>
  </div>
  <div class="row main-content" id="main-content" tabindex="-1">
    <div class="col-md-6">
      <ul ng-if="$ctrl.errorMesssages && $ctrl.errorMessages.length > 0" class="bg-danger">
        <li ng-repeat="msg in $ctrl.errorMessages">{{ msg }}</li>
      </ul>
      <chpl-developer allowed-acbs="$ctrl.allowedAcbs"
                      developer="$ctrl.developer"
                      can-edit="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])"
                      can-merge="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])"
                      can-split="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])"
                      is-editing="$ctrl.action === 'edit' || $ctrl.action === 'merge'"
                      is-invalid="$ctrl.action === 'merge' && $ctrl.mergingDevelopers.length === 0"
                      on-cancel="$ctrl.cancel()"
                      on-edit="$ctrl.save(developer)"
                      show-full="true"
                      take-action="$ctrl.takeAction(action)"
                      ></chpl-developer>
    </div>
    <div class="col-md-6" ng-if="!$ctrl.action || $ctrl.action === 'edit'">
      <h2>Products</h2>
      <div ng-repeat="product in $ctrl.products | orderBy: 'name'"><pre>{{ product | json }}</pre></div>
    </div>
    <div class="col-md-6" ng-if="$ctrl.action === 'merge'">
      <h2>Developers to merge</h2>
      <div class="bg-danger" ng-if="$ctrl.mergingDevelopers.length === 0">At least one Developer must be selected to merge</div>
      <div ng-repeat="developer in $ctrl.mergingDevelopers | orderBy: 'name'">
        {{ developer.name }}
        <button class="btn btn-warning btn-small pull-right" ng-click="$ctrl.toggleMerge(developer, false)"><i class="fa fa-minus"></i><span class="sr-only"> Remove</span></button>
        <div class="clearfix"></div>
      </div>
      <h2>All Developers</h2>
      <div ng-repeat="developer in $ctrl.developers | orderBy: 'name'">
        {{ developer.name }}
        <button class="btn btn-ai-success btn-small pull-right" ng-click="$ctrl.toggleMerge(developer, true)" ng-disabled="developer.developerId === $ctrl.developer.developerId"><i class="fa fa-plus"></i><span class="sr-only"> Add</span></button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-6" ng-if="$ctrl.action === 'split'">
      <h2>New Developer</h2>
      <chpl-developer developer=""
                      can-edit="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])"
                      is-editing="true"
                      on-cancel="$ctrl.cancel()"
                      on-split="$ctrl.split(developer)"
                      show-full="true"></chpl-developer>
    </div>
  </div>
</div>
