.organizations-wrapper {

    .selected-items-container {
        margin-bottom: 5px;
    }

    label {
        color: #303030;
        font-weight: normal;
    }

    h2 {
        font-family: "Lato", sans-serif !important;
        font-size: 24px !important;
        font-weight: 600;
        color: #000000;
    }

    .btn {
        border-radius: 0;
    }

    .breadcrumb {
        background-color: transparent;
        padding-left: 0;
    }

    .read-only-data {
        font-size: 16px;
        font-weight: bold;
    }

    .form-control {
        border-radius: 0;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 50px;
    }

    textarea.form-control {
        height: 100px !important;
    }

    .input-group-btn-adjust {
        border-radius: 0 !important;
        height: 50px !important;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cccccc !important;
        opacity: 1  !important; /* Firefox */
        font-weight: normal !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #cccccc !important;
        font-weight: normal !important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #cccccc !important;
        font-weight: normal !important;
    }

    .badge-success {
        background-color: #468847;
    }

    .badge-success:hover {
        background-color: #356635;
    }

    .badge-error {
        background-color: #b94a48;
    }

    .badge-error:hover {
        background-color: #953b39;
    }

    .organizations-side-nav {
        background-color: #f1f1f1;
        padding-bottom: 10px;
    }

    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .row.is-flex > [class*="col-"] {
        display: flex;
        flex-direction: column;
    }

    .btn-primary {
        color: #ffffff;
        padding: .3%;
        background-color: #001e54;
        border-color: #000a11;
        border-radius: 5px;
        border-width: 2px;

        &:hover,
        &:active,
        &:focus {
            background-color: #001d54;
            border-radius: 10px;
            opacity: .85;
        }

        &:active {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }

        &:focus {
            box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #f5d43c;
        }
    }

    .btn-link {
        color: #000a11;
    }

    .badge {
        background-color: #555;
    }

    .dropdown-menu {
        max-height: 300px;
        overflow: auto;

        li>label {
            cursor: pointer;
            display: block;
            padding: 3px 20px;
            clear: both;
        }

        li select {
            display: block;
            padding: 3px 20px;
            margin: 3px 20px;
            clear: both;
        }
    }

    .dropdown-menu-large {
        min-width: 400px;
    }

    .dropdown-menu>li>span>a {
        display: block;
        padding: 3px 20px;
        clear: both;
    }

    .dropdown-menu>li.form-horizontal>div.form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu>li>div>label.control-label {
        display: block;
        padding-left: 20px;
        clear: both;
        text-align: left;
    }

    .dropdown-menu>li>a {
        font-weight: 700;
    }

    .dropdown-filter {
        //min-width: 500px;

        .dropdown-menu {
            //width: 100%;
            width: 250%;
            max-height: 300px;
            overflow: auto;
        }
    }
}

.spaced-out {
    margin-top: 10px;
}
