<div role="modal" aria-labeled-by="edit-developer-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-developer-label">Edit Developer</h4>
  </div>
  <div class="modal-body" ng-form="vm.editForm">
    <div class="form-group">
      <label for="developer-name">Developer Name <span class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" required ng-model="vm.developer.name" id="developer-name" name="developerName" ng-maxlength="300"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.developerName.$touched) && vm.editForm.developerName.$error.required">Developer name is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.developerName.$touched) && vm.editForm.developerName.$error.maxlength">Developer name is too long</div>
    </div>
    <div>
      <strong>Developer Code: </strong>{{ vm.developer.developerCode }}
    </div>
    <div ng-if="!vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC']) && (!vm.developer.statusEvents || vm.developer.statusEvents.length === 0)">
      <strong>Developer Status: </strong>{{ vm.developer.status.status }}
    </div>
    <div ng-if="!vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">
      <table ng-if="vm.developer.statusEvents && vm.developer.statusEvents.length > 0" class="table table-condensed">
        <thead>
          <tr>
            <th scope="col">Status History</th>
            <th scope="col">Effective date</th>
            <th scope="col">Reason for status change</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="status in vm.developer.statusEvents | orderBy:'-statusDateObject'">
            <td>{{ status.status.status }}<span ng-if="$first"> (current)</span></td>
            <td>{{ status.statusDateObject | date : 'mediumDate' : 'UTC' }}</td>
            <td>{{ status.reason }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-if="vm.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC'])">
      <strong>Developer Status</strong>
      <table ng-if="vm.developer.statusEvents && vm.developer.statusEvents.length > 0" class="table table-condensed">
        <thead>
          <tr>
            <th scope="col">Status History</th>
            <th scope="col">Effective date</th>
            <th scope="col">Reason for status change</th>
            <th scope="col"><span class="sr-only">Event Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><button class="btn btn-sm btn-block btn-ai-success" ng-click="vm.addPreviousStatus()"><i class="fa fa-plus"></i><span class="sr-only"> Add status</span></button></td>
          </tr>
          <tr ng-repeat="status in vm.developer.statusEvents | orderBy:'-statusDateObject' track by $index">
            <td>
              <div class="form-group">
                <label for="developer-status-{{ $index }}" class="sr-only"><span ng-if="$first">Current </span>Developer Status <span class="text-danger">*</span></label>
                <select ng-model="status.status.status" required
                        id="developer-status-{{ $index }}" name="developerStatus{{ $index }}" class="input-sm form-control">
                  <option value="Active">Active</option>
                  <option value="Suspended by ONC">Suspended by ONC</option>
                  <option value="Under certification ban by ONC">Under certification ban by ONC</option>
                </select>
                <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['developerStatus' + $index].$touched) && vm.editForm['developerStatus' + $index].$error.required">Developer Status is required</div>
                <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['developerStatus' + $index].$touched) && vm.matchesPreviousStatus(status)">Developer Status must differ from previous Status</div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="status-date-{{ $index }}" class="sr-only">Change Date <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="status.statusDateObject" is-open="status.statusDatePicker" close-text="Close" id="status-date-{{ $index }}" name="statusDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-ai btn-sm" ng-click="status.statusDatePicker = true"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
                <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['statusDate' + $index].$touched) && vm.editForm['statusDate' + $index].$error.required">Change date is required</div>
                <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['statusDate' + $index].$touched) && vm.matchesPreviousDate(status)">Only one change of status allowed per day</div>
              </div>
            </td>
            <td>
                <label for="status-reason-{{ $index }}" class="sr-only">Reason</label>
                <input class="input-sm form-control" type="text" ng-model="status.reason"
                    ng-maxlength="500" name="status-reason-{{ $index }}">
                <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm['status-reason-' + $index].$touched) && vm.editForm['status-reason-' + $index].$error.maxlength">Field is too long</div>
            </td>
            <td>
              <button class="btn btn-sm btn-block btn-danger" ng-click="vm.removePreviousStatus(vm.developer.statusEvents.indexOf(status))"><i class="fa fa-trash"></i><span class="sr-only"> Remove status</span></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bg-info" ng-if="vm.isBeingActivatedFromOncInactiveStatus()">To comply with the EOA rule, please remember to change the certification status of any listings that have had their suspension or termination rescinded.</div>
    </div>
    <div class="form-group">
      <label for="address-line-1">Address Line 1 <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.line1" id="address-line-1" name="addressLine1" ng-maxlength="250"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressLine1.$touched) && vm.editForm.addressLine1.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressLine1.$touched) && vm.editForm.addressLine1.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="address-line-2">Address Line 2</label>
      <input class="input-sm form-control" type="text" ng-model="vm.developer.address.line2" id="address-line-2" name="addressLine2" ng-maxlength="250"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressLine2.$touched) && vm.editForm.addressLine2.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="address-city">City <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.city" id="address-city" name="addressCity" ng-maxlength="250"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressCity.$touched) && vm.editForm.addressCity.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressCity.$touched) && vm.editForm.addressCity.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="address-state">State <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.state" id="address-state" name="addressState" ng-maxlength="250"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressState.$touched) && vm.editForm.addressState.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressState.$touched) && vm.editForm.addressState.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="address-zipcode">Zip Code <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.zipcode" id="address-zipcode" name="addressZipcode" ng-maxlength="25"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressZipcode.$touched) && vm.editForm.addressZipcode.$error.required">Field is required</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressZipcode.$touched) && vm.editForm.addressZipcode.$error.maxlength">Field is too long</div>
    </div>
    <div class="form-group">
      <label for="address-country">Country <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
      <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.country" id="address-country" name="addressCountry"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.addressCountry.$touched) && vm.editForm.addressCountry.$error.required">Field is required</div>
    </div>
    <div class="form-group">
      <label for="developer-website">Website</label>
      <input class="input-sm form-control" type="url" ng-model="vm.developer.website" id="developer-website" name="developerWebsite" placeholder="http://www.example.com" ng-maxlength="300"></input>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.developerWebsite.$touched) && vm.editForm.developerWebsite.$error.url">Website is invalid</div>
      <div class="text-danger" ng-if="(vm.showFormErrors || vm.editForm.developerWebsite.$touched) && vm.editForm.developerWebsite.$error.maxlength">Website is too long</div>
    </div>
    <div class="form-group" ng-if="vm.hasAnyRole(['ROLE_ACB'])" ng-repeat="acb in vm.activeAcbs | orderBy:'toString()'">
      <label for="developer-transparency-{{acb}}">{{ acb }} Transparency Attestation</label>
      <select class="input-sm form-control" ng-model="vm.developer.transMap[acb]" id="developer-transparency-{{acb}}" name="developerTransparency{{acb}}">
        <option value="Negative">Negative</option>
        <option value="Affirmative">Affirmative</option>
        <option value="N/A">N/A</option>
      </select>
    </div>
    Contact information:<br />
    <ai-contact contact="vm.developer.contact" error-messages="vm.contactErrorMessages" form="vm.editForm" is-editing="true" is-required="true" show-form-errors="vm.showFormErrors"></ai-contact>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="(vm.editForm.$invalid || (!vm.developer.statusEvents || vm.developer.statusEvents.length === 0) || vm.hasStatusMatches() || vm.hasDateMatches()) && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.editForm.developerName.$error.required">Developer name is required</li>
        <li ng-if="vm.editForm.developerName.$error.maxlength">Developer name is too long</li>
        <li ng-if="!vm.developer.statusEvents || vm.developer.statusEvents.length === 0">Developer must have a status</li>
        <li ng-if="vm.isMissingRequiredFields()">Developer status is required</li>
        <li ng-if="vm.isMissingReasonForBan()">A reason for the developer ban is required</li>
        <li ng-if="vm.hasStatusMatches()">Developer status must not repeat</li>
        <li ng-if="vm.hasDateMatches()">Only one change of status allowed per day</li>
        <li ng-if="vm.editForm.addressLine1.$error.required">Address Line 1 is required</li>
        <li ng-if="vm.editForm.addressLine1.$error.maxlength">Address Line 1 is too long</li>
        <li ng-if="vm.editForm.addressLine2.$error.maxlength">Address Line 2 is too long</li>
        <li ng-if="vm.editForm.addressCity.$error.required">City is required</li>
        <li ng-if="vm.editForm.addressCity.$error.maxlength">City is too long</li>
        <li ng-if="vm.editForm.addressState.$error.required">State is required</li>
        <li ng-if="vm.editForm.addressState.$error.maxlength">State is too long</li>
        <li ng-if="vm.editForm.addressZipcode.$error.required">Zipcode is required</li>
        <li ng-if="vm.editForm.addressZipcode.$error.maxlength">Zipcode is too long</li>
        <li ng-if="vm.editForm.addressCountry.$error.required">Country is required</li>
        <li ng-if="vm.editForm.developerWebsite.$error.url">Website is invalid (http://www.example.com)</li>
        <li ng-if="vm.editForm.developerWebsite.$error.maxlength">Website is too long</li>
        <li ng-repeat="error in vm.contactErrorMessages">{{ error }}</li>
      </ul>
    </div>
    <button ng-disabled="(vm.editForm.$invalid || (!vm.developer.statusEvents || vm.developer.statusEvents.length === 0)) && vm.showFormErrors"
            class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            ng-click="vm.save()">Save Developer</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
