<div role="modal" aria-labeled-by="mergeDeveloperLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="mergeDeveloperLabel">Merge Developers</h4>
  </div>
  <div class="modal-body" ng-form="vm.mergeForm">
    <div class="row">
      <div class="col-md-4">
        <h4>Merge selected developers</h4>
        <div class="panel panel-ai" ng-repeat="developer in vm.developers">
          <div class="panel-heading">
            <span>{{ developer.name }} (Developer Code: {{ developer.developerCode }})</span>
          </div>
          <div class="panel-body">
            <div ng-if="!vm.developer.statusEvents || vm.developer.statusEvents.length === 0">
              Status: {{ developer.status.status }}
            </div>
            <table ng-if="developer.statusEvents && developer.statusEvents.length > 0" class="table table-condensed">
              <thead>
                <tr>
                  <th scope="col">Status History</th>
                  <th scope="col">Effective date</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="status in developer.statusEvents | orderBy:'-statusDate'">
                  <td>{{ status.status.status }}<span ng-if="$first"> (current)</span></td>
                  <td>{{ status.statusDate | date : 'mediumDate' : 'UTC' }}</td>
                </tr>
              </tbody>
            </table>
            Line 1: {{ developer.address.line1 }}<br />
            Line 2: {{ developer.address.line2 }}<br />
            City: {{ developer.address.city }}<br />
            State: {{ developer.address.state }}<br />
            Zip: {{ developer.address.zipcode }}<br />
            Country: {{ developer.address.country }}<br />
            Website: {{ developer.website }}<br />
            <strong>Contact information</strong><br />
            First name: {{ developer.contact.firstName }}<br />
            Last name: {{ developer.contact.lastName }}<br />
            Title: {{ developer.contact.title }}<br />
            Email: {{ developer.contact.email }}<br />
            Phone: {{ developer.contact.phoneNumber }}<br />
            <br />
            Last Modified Date: {{ developer.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
            <br />
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h4>To form this one</h4>
        <div class="form-group">
          <label for="developerName">Developer Name <span class="text-danger">*</span></label>
          <input class="input-sm form-control" type="text" required ng-model="vm.developer.name" id="developerName" name="developerName"></input>
          <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerName.$touched) && vm.mergeForm.developerName.$error.required">Developer name is required</div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th scope="col">Status History</th>
                  <th scope="col">Effective date</th>
                  <th scope="col">Remove Event</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="status in vm.developer.statusEvents | orderBy:'-statusDate' track by $index">
                  <td>
                    <div class="form-group">
                      <label for="developerStatus{{ $index }}" class="sr-only"><span ng-if="$first">Current </span>Developer Status <span class="text-danger">*</span></label>
                      <select ng-model="status.status.status" required
                              id="developerStatus{{ $index }}" name="developerStatus{{ $index }}" class="input-sm form-control">
                        <option value="Active">Active</option>
                        <option value="Suspended by ONC">Suspended by ONC</option>
                        <option value="Under certification ban by ONC">Under certification ban by ONC</option>
                      </select>
                      <div class="text-danger" ng-if="(vm.showFormErrors || vm.mergeForm['developerStatus' + $index].$touched) && vm.mergeForm['developerStatus' + $index].$error.required">Developer Status is required</div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="statusDate{{ $index }}" class="sr-only">Change Date <span class="text-danger">*</span></label>
                      <div class="input-group">
                        <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="status.statusDate" is-open="status.statusDatePicker" close-text="Close" id="statusDate{{ $index }}" name="statusDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-ai btn-sm" ng-click="status.statusDatePicker = true"><i class="fa fa-calendar"></i></button>
                        </span>
                      </div>
                      <div class="text-danger" ng-if="(vm.showFormErrors || vm.mergeForm['statusDate' + $index].$touched) && vm.mergeForm['statusDate' + $index].$error.required">Change date is required</div>
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-block btn-danger" ng-click="vm.removePreviousStatus(vm.developer.statusEvents.indexOf(status))"><i class="fa fa-trash"></i> Remove status</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-block btn-success" ng-click="vm.addPreviousStatus()"><i class="fa fa-plus"></i> Add status</button>
            <div class="bg-info" ng-if="vm.isBeingActivatedFromOncInactiveStatus()">To comply with the EOA rule, please remember to change the certification status of any listings that have had their suspension or termination rescinded.</div>
            <div class="form-group">
              <label for="addressLine1">Address Line 1 <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.line1" id="addressLine1" name="addressLine1" name="addressLine1"></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.addressLine1.$touched) && vm.mergeForm.addressLine1.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="addressLine2">Address Line 2</label>
              <input class="input-sm form-control" type="text" ng-model="vm.developer.address.line2" id="addressLine2"></input>
            </div>
            <div class="form-group">
              <label for="addressCity">City <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.city" id="addressCity" name="addressCity"></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.addressCity.$touched) && vm.mergeForm.addressCity.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="addressState">State <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.state" id="addressState" name="addressState"></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.addressState.$touched) && vm.mergeForm.addressState.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="addressZipcode">Zip Code <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.zipcode" id="addressZipcode" name="addressZipcode"></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.addressZipcode.$touched) && vm.mergeForm.addressZipcode.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="addressCountry">Country <span ng-if="vm.addressRequired()" class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-required="vm.addressRequired()" ng-model="vm.developer.address.country" id="addressCountry" name="addressCountry"></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.addressCountry.$touched) && vm.mergeForm.addressCountry.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="developerWebsite">Website</label>
              <input class="input-sm form-control" type="url" ng-model="vm.developer.website" id="developerWebsite" name="developerWebsite"></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerWebsite.$touched) && vm.mergeForm.developerWebsite.$error.url">Website is invalid</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="developerFirstName">First Name <span class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-model="vm.developer.contact.firstName" id="developerFirstName" name="developerFirstName" required></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerFirstName.$touched) && vm.mergeForm.developerFirstName.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="developerLastName">Last Name <span class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-model="vm.developer.contact.lastName" id="developerLastName" name="developerLastName" required></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerLastName.$touched) && vm.mergeForm.developerLastName.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="developerTitle">Title</label>
              <input class="input-sm form-control" type="text" ng-model="vm.developer.contact.title" id="developerTitle" name="developerTitle"></input>
            </div>
            <div class="form-group">
              <label for="developerPhone">Phone <span class="text-danger">*</span></label>
              <input class="input-sm form-control" type="text" ng-model="vm.developer.contact.phoneNumber" id="developerPhone" name="developerPhone" required></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerPhone.$touched) && vm.mergeForm.developerPhone.$error.required">Field is required</div>
            </div>
            <div class="form-group">
              <label for="developerEmail">Email <span class="text-danger">*</span></label>
              <input class="input-sm form-control" type="email" ng-model="vm.developer.contact.email" id="developerEmail" name="developerEmail" required></input>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerEmail.$touched) && vm.mergeForm.developerEmail.$error.required">Field is required</div>
              <div class="text-danger" ng-if="(vm.showFormErrors && vm.mergeForm.developerEmail.$touched) && vm.mergeForm.developerEmail.$error.email">Email is invalid</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="vm.mergeForm.$invalid && vm.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="vm.mergeForm.developerName.$error.required">Developer name is required</li>
        <li ng-if="vm.mergeForm.developerStatus.$error.required">Developer status is required</li>
        <li ng-if="vm.mergeForm.addressLine1.$error.required">Address Line 1 is required</li>
        <li ng-if="vm.mergeForm.addressCity.$error.required">City is required</li>
        <li ng-if="vm.mergeForm.addressState.$error.required">State is required</li>
        <li ng-if="vm.mergeForm.addressZipcode.$error.required">Zipcode is required</li>
        <li ng-if="vm.mergeForm.addressCountry.$error.required">Country is required</li>
        <li ng-if="vm.mergeForm.developerWebsite.$error.url">Website is invalid (http://www.example.com)</li>
        <li ng-if="vm.mergeForm.developerFirstName.$error.required">First Name is required</li>
        <li ng-if="vm.mergeForm.developerLastName.$error.required">Last Name is required</li>
        <li ng-if="vm.mergeForm.developerEmail.$error.required">Developer email is required</li>
        <li ng-if="vm.mergeForm.developerEmail.$error.email">Invalid email (example@example.com)</li>
        <li ng-if="vm.mergeForm.developerPhone.$error.required">Developer Phone Number is required</li>
      </ul>
    </div>
    <div ng-if="vm.errorMessage && vm.errorMessage.length !== 0" class="row">
      <div class="col-sm-12 text-left bg-danger">
        Error in developer merge: {{ vm.errorMessage }}
      </div>
    </div>
    <button ng-disabled="vm.showFormErrors && vm.mergeForm.$invalid" class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            confirm="Are you sure you wish to merge these developers? This action may not be undone."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.save()">Save Combined Developer</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
