<div>
  <div ng-if="!widget.products || widget.products.length === 0">No products selected.</div>
  <ul class="list-unstyled selectedProducts" ng-if="widget.products && widget.products.length > 0">
    <li ng-repeat="item in widget.products | orderBy:'name'">
      <button class="btn btn-ai-grey btn-sm btn-block" ng-click="toggleProduct(item.id)">
        <i class="fa fa-close pull-right"></i>
        <ai-ellipsis text="{{ item.name }}" max-length="80"></ai-ellipsis> <span class="sr-only">Remove {{ item.name }} from Compare Widget</span>&nbsp;&nbsp;&nbsp;
      </button>
    </li>
  </ul>
  <div ng-if="widget.products && widget.products.length > 0">
    <button ng-click="compare()" class="btn btn-ai btn-sm btn-block" ng-disabled="widget.products.length === 1">Compare products</button>
    <button ng-click="clearProducts()" class="btn btn-ai btn-sm btn-block">Remove all products</button>
  </div>
</div>
