<div class="product-history" role="modal" aria-labeled-by="title-label" id="product-history-modal">
  <div class="modal-header">
    <button class="btn btn-default pull-right" aria-label="Cancel history"
            ng-click="$ctrl.cancel()"><i class="fa fa-close"></i><span class="sr-only">Close modal</span></button>
    <h2 class="modal-title" id="title-label">Product History</h2>
  </div>
  <div class="modal-body">
    <span ng-if="!$ctrl.activity || $ctrl.activity.length === 0">No changes have been made to this Certified Product</span>
    <table class="table table-condensed" ng-if="$ctrl.activity && $ctrl.activity.length > 0" id="product-history-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="activity in $ctrl.activity | orderBy:'-activityDate'">
          <td>{{ activity.activityDate | date : 'medium' : 'UTC' }} GMT</td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="change in activity.change | orderBy:'toString()'" ng-bind-html="change"></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <span class="pull-right">
      <button class="btn btn-primary" ng-click="$ctrl.goToApi()">Go to API</button>
      <span ng-if="$ctrl.hasAnyRole(['ROLE_ADMIN', 'ROLE_ONC', 'ROLE_ACB'])"><br /><button class="btn btn-default" ng-click="$ctrl.goToHistory()">Go to full history</button></span>
    </span>
    This module gives a basic overview of modifications made to the listing. For a more detailed history, please use the <code>/activity/certified_products/{{ $ctrl.listing.id }}</code> API call described on the CHPL API page.
  </div>
</div>
