<div role="modal" aria-labeled-by="edit-requirement-label">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="edit-requirement-label"><span ng-if="$ctrl.workType === 'edit'">Edit</span><span ng-if="$ctrl.workType === 'add'">Create</span> Requirement</h4>
  </div>
  <div class="modal-body form-horizontal" ng-form="$ctrl.editForm">
    <div class="form-group">
      <label for="requirement-type" class="col-sm-3">Requirement Type <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.requirement.type" id="requirement-type" name="requirementType"
                ng-change="$ctrl.requirement.requirement = ''"
                ng-options="type as type.name for type in $ctrl.data.surveillanceRequirementTypes.data | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.requirementType.$touched) && $ctrl.editForm.requirementType.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group" ng-if="$ctrl.requirement.type.name === 'Certified Capability'">
      <label for="requirement-capability" class="col-sm-3">Requirement <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.requirementCriterionType" id="requirement-capability" name="requirement"
                ng-options="type as ((type.removed ? 'Removed | ' : '') + type.number + ': ' + type.title) for type in $ctrl.data.surveillanceRequirements.criteriaOptions | orderBy:$ctrl.sortCriteria" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.requirement.$touched) && $ctrl.editForm.requirement.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group" ng-if="$ctrl.requirement.type.name === 'Transparency or Disclosure Requirement'">
      <label for="requirement-transparency" class="col-sm-3">Requirement <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.requirement.requirement" id="requirement-transparency" name="requirement"
                ng-options="type as type for type in $ctrl.data.surveillanceRequirements.transparencyOptions" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.requirement.$touched) && $ctrl.editForm.requirement.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group" ng-if="$ctrl.requirement.type.name === 'Other Requirement'">
      <label for="requirement-other" class="col-sm-3">Requirement <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input class="input-sm form-control" type="text" ng-model="$ctrl.requirement.requirement" id="requirement-other" name="requirement" required>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.requirement.$touched) && $ctrl.editForm.requirement.$error.required">Field is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="result" class="col-sm-3">Result <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select class="input-sm form-control" ng-model="$ctrl.requirement.result" id="result" name="result"
                ng-options="type as type.name for type in $ctrl.data.surveillanceResultTypes.data | orderBy:'name'" required>
        </select>
        <div class="text-danger" ng-if="($ctrl.showFormErrors || $ctrl.editForm.result.$touched) && $ctrl.editForm.result.$error.required">Field is required</div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.requirement.result.name === 'Non-Conformity'">
      <div class="col-sm-12">
        <button class="btn btn-ai-success pull-right" ng-click="$ctrl.addNonconformity()"><i class="fa fa-plus"></i><span class="sr-only">Add a non-conformity</span></button>
        <h5>Non-Conformities</h5>
        <p ng-if="$ctrl.requirement.nonconformities.length === 0">No Non-Conformities found</p>
        <table class="table" ng-if="$ctrl.requirement.nonconformities.length > 0">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Summary</th>
              <th scope="col">Remove</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="noncon in $ctrl.requirement.nonconformities track by $index">
              <td ng-class="{'removed' : noncon.criterion && noncon.criterion.removed}">{{ noncon.criterion ? ((noncon.criterion.removed ? 'Removed | ' : '') + noncon.criterion.number + ': ' + noncon.criterion.title) : noncon.nonconformityType }}</td>
              <td>{{ noncon.nonconformityCloseDateObject ? 'Closed' : 'Open' }}</td>
              <td>{{ noncon.summary }}</td>
              <td>
                <button class="btn btn-danger" ng-click="$ctrl.deleteNonconformity(noncon)"><i class="fa fa-trash"></i><span class="sr-only">Remove this non-conformity</span></button>
              </td>
              <td>
                <button class="btn btn-ai-success" ng-click="$ctrl.editNonconformity(noncon)"><i class="fa fa-pencil-square-o"></i><span class="sr-only">Edit this non-conformity</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-danger text-left" ng-if="($ctrl.editForm.$invalid || $ctrl.isNonconformityRequired()) && $ctrl.showFormErrors">
      The following error(s) must be fixed:
      <ul>
        <li ng-if="$ctrl.editForm.requirementType.$error.required">Requirement Type is required</li>
        <li ng-if="$ctrl.editForm.requirement.$error.required">Requirement is required</li>
        <li ng-if="$ctrl.editForm.result.$error.required">Result is required</li>
        <li ng-if="$ctrl.isNonconformityRequired()">At least one Non-Conformity must be documented</li>
      </ul>
    </div>
    <button ng-disabled="($ctrl.editForm.$invalid || $ctrl.isNonconformityRequired()) && $ctrl.showFormErrors && !$ctrl.disableValidation"
            class="btn btn-ai-success pull-right"
            ng-mouseover="$ctrl.showFormErrors = true"
            ng-click="$ctrl.save()"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-warning pull-left"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="$ctrl.cancel()"><i class="fa fa-trash-o"></i> Cancel</button>
  </div>
</div>
