<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User Registration</h1>
    </div>
  </div>
  <div class="row main-content" id="mainContent" tabindex="-1">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-md-12">
          <p>Welcome to the Open Data CHPL. You've been invited to be an Administrator on the ONC's Open Data CHPL, which will allow you to manage certified product listings on the CHPL. Please use the form below to create an account, or log in to your existing account.</p>
        </div>
      </div>

      <div ng-if="vm.message.value.length > 0" class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="lead" ng-class="vm.message.success ? 'bg-success' : 'bg-danger'">{{ vm.message.value }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" ng-form="vm.createUserForm" ng-if="vm.isCreateUser">
          <p>Create a new account</p>
          <label for="username" class="control-label">Username <span class="text-danger">*</span></label>
          <input type="text" id="username" name="username" ng-model="vm.userDetails.user.subjectName" class="form-control" required />
          <div class="text-danger" ng-if="vm.createUserForm.username.$touched && vm.createUserForm.username.$error.required">Username is required</div>

          <label for="password" class="control-label">Password <span class="text-danger">*</span></label>
          <input type="password" id="password" name="password" ng-model="vm.userDetails.user.password" class="form-control" required ng-pattern="vm.pwPattern" />
          <div class="text-danger" ng-if="vm.createUserForm.password.$touched && vm.createUserForm.password.$error.required">Password is required</div>
          <div class="text-danger" ng-if="vm.createUserForm.password.$touched && vm.createUserForm.password.$error.pattern">Password must
            <ul>
              <li>Contain at least one upper case letter</li>
              <li>Contain at least one lower case letter</li>
              <li>Contain at least one number</li>
              <li>Contain at least one special character</li>
              <li>Be at least eight characters long</li>
            </ul>
          </div>

          <label for="passwordverify" class="control-label">Verify password <span class="text-danger">*</span></label>
          <input type="password" id="passwordverify" name="passwordverify" ng-model="vm.userDetails.user.passwordverify" class="form-control" required />
          <div class="text-danger" ng-if="vm.createUserForm.passwordverify.$touched && vm.createUserForm.passwordverify.$error.required">Verification password is required</div>
          <div class="text-danger" ng-if="vm.createUserForm.passwordverify.$touched && vm.misMatchPasswords()">Passwords must match</div>

          <label for="title" class="control-label">Title</label>
          <input type="text" id="title" ng-model="vm.userDetails.user.title" class="form-control" />

          <label for="firstname" class="control-label">First Name <span class="text-danger">*</span></label>
          <input type="text" id="firstname" name="firstname" ng-model="vm.userDetails.user.firstName" class="form-control" required />
          <div class="text-danger" ng-if="vm.createUserForm.firstname.$touched && vm.createUserForm.firstname.$error.required">First name is required</div>

          <label for="lastname" class="control-label">Last Name <span class="text-danger">*</span></label>
          <input type="text" id="lastname" name="lastname" ng-model="vm.userDetails.user.lastName" class="form-control" required />
          <div class="text-danger" ng-if="vm.createUserForm.lastname.$touched && vm.createUserForm.lastname.$error.required">Last name is required</div>

          <label for="email" class="control-label">Email <span class="text-danger">*</span></label>
          <input type="email" id="email" name="email" ng-model="vm.userDetails.user.email" class="form-control" required />
          <div class="text-danger" ng-if="vm.createUserForm.email.$touched && vm.createUserForm.email.$error.required">Email is required</div>
          <div class="text-danger" ng-if="vm.createUserForm.email.$touched && vm.createUserForm.email.$error.email">Invalid email</div>

          <label for="phone" class="control-label">Phone <span class="text-danger">*</span></label>
          <input type="text" id="phone" name="phone" ng-model="vm.userDetails.user.phoneNumber" class="form-control" required />
          <div class="text-danger" ng-if="vm.createUserForm.phone.$touched && vm.createUserForm.phone.$error.required">Phone is required</div>

          <button class="btn btn-default btn-block" ng-click="vm.createUser()" ng-disabled="vm.createUserForm.$invalid">Create account</button>
          <p>Or <a href="" ng-click="vm.isCreateUser = ! vm.isCreateUser">sign into your existing account</a></p>
        </div>
        <div class="col-md-12" ng-form="vm.authorizeUserForm" ng-if="!vm.isCreateUser">
          <p>Sign into your existing account</p>
          <label for="authorize-username" class="control-label">Username <span class="text-danger">*</span></label>
          <input type="text" id="authorize-username" ng-model="vm.authorizeDetails.userName" class="form-control" required />

          <label for="authorize-password" class="control-label">Password <span class="text-danger">*</span></label>
          <input type="password" id="authorize-password" ng-model="vm.authorizeDetails.password" class="form-control" required />

          <button class="btn btn-default btn-block" ng-click="vm.authorizeUser()" ng-disabled="vm.authorizeUserForm.$invalid">Sign into your account</button>
          <p>Or <a href="" ng-click="vm.isCreateUser = ! vm.isCreateUser">create a new account</a></p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end controller -->
