<!doctype html>
<html ng-app="chpl">
  <head>
    <base href="/">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N8FPB3');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title ng-bind="title">Certified Health IT Product List (CHPL)</title>
    <meta name="description" content="Certified Health IT Product List (CHPL) website">
    <meta name="viewport" content="width=device-width">
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ai-cms-widget="" widget="mainWidget">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8FPB3" class="hide-google-iframe"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <ai-compare-widget compare-widget="compareWidget">
      <a href="#{{ currentPage }}#mainContent" class="sr-only sr-only-focusable">Skip to main content</a>
      <ai-navigation-top widget="mainWidget" compare-widget="compareWidget"></ai-navigation-top>
      <toaster-container toaster-options="{'time-out': 0}"></toaster-container>
      <div ng-view=""></div>
      <ai-navigation-bottom></ai-navigation-bottom>
    </ai-compare-widget>
  </body>
</html>
