.pagination {
    margin: 0;
}

ul.pagination li {
    cursor: pointer;
}

.search-header {
    cursor: pointer;
}

.splash-row .jumbotron {
    background-color: inherit;
}

.jumbotron h1 {
    color: #0070c9;
}

.search-row:hover>td {
    font-weight: 700;
}

.search-activate-filter {
    cursor: pointer;
}

.filter-category {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.search-inputs {
    padding-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.search-unsearched {
    background-color: #0070c9;
    background-image: url('../assets/images/CHPL_Logo-01.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    min-height: 600px;
}

.restore-previous-search a {
    color: #fff;
}

.restore-previous-search a:hover,
.restore-previous-search a:active,
.restore-previous-search a:focus {
    color: #ccc;
}

.search-table th {
    color: #0070c9;
}

.search-sub-table th {
    color: #333;
}

.animate-if.ng-enter/*, .animate-if.ng-leave*/ {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.pending {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    z-index: 3000;
}
