.pagination {
    margin: 0;
}

ul.pagination li {
    cursor: pointer;
}

.search-header {
    cursor: pointer;
}

.splash-row .jumbotron {
    background-color: inherit;
}

.jumbotron h1 {
    color: #0070c9;
}

.search-row:hover>td {
    font-weight: 700;
}

.search-activate-filter {
    cursor: pointer;
}

.filter-category {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.search-inputs {
    padding-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.search-unsearched {
    background-color: #0070c9;
    background-image: url("../assets/images/CHPL_Logo-01.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    min-height: 600px;
}

.restore-previous-search {
    padding-top: 10px;

    a {
        color: #fff;
    }
}

.restore-previous-search a:hover,
.restore-previous-search a:active,
.restore-previous-search a:focus {
    color: #ccc;
}

.search-table th {
    color: #0070c9;
}

.search-sub-table th {
    color: #333;
}

.pending {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    z-index: 3000;
}

#collections {

    .btn {
        margin-top: 20px;
    }

    .btn-lg {
        font-family: "Oswald", sans-serif;
        font-size: x-large;
        text-align: left;
    }

    img {
        height: 45px;
        padding-right: 5px;
    }
}
