<div class="row">
  <div class="col-sm-12">
    <div google-chart="" chart="$ctrl.nonconformityCounts[$ctrl.chartState.nonconformityCountType]" ></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>
      View the number of Non-conformities with type of Program Requirements Surveilled:
      <select ng-model="$ctrl.chartState.nonconformityCountType"
              ng-change="$ctrl.updateType()"
              ng-options="option for option in $ctrl.nonconformityTypes">
      </select>
    </label>
    <br />
    <label>
      X-Axis Type:
      <select ng-model="$ctrl.chartState.yAxis" ng-change="$ctrl.updateYAxis()">
        <option value="">Linear</option>
        <option value="mirrorLog">Log</option>
      </select>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Please note only certification criteria and program requirements for which a non-conformity has been recorded are displayed.</p>
  </div>
</div>
