<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload Meaningful Use Users</h3>
  </div>
  <div class="panel-body">
    <p>CSV files only</p>
    <div ng-if="$ctrl.uploadMessage.length > 0" ng-class="$ctrl.uploadSuccess ? 'bg-success' : 'bg-danger'">
      {{ $ctrl.uploadMessage }}
      <ul ng-if="$ctrl.uploadErrors.length > 0" ng-class="'bg-danger'">
        <li ng-repeat="error in $ctrl.uploadErrors">{{ error }}</li>
      </ul>
    </div>
    <form class="form form-horizontal" name="$ctrl.documentForm">
      <div class="row">
        <div ng-class="$ctrl.file ? 'col-sm-3' : 'col-sm-12'">
          <button type="button" class="btn btn-default" ngf-select ngf-accept="'.csv'"
                  ng-model="$ctrl.file" name="file" id="upload-button-muu">Choose file to upload</button>
        </div>
        <div class="col-sm-3" ng-if="$ctrl.file">
          <strong>Filename: </strong>{{ $ctrl.file.name }}
        </div>
        <div class="col-sm-3" ng-if="$ctrl.file">
          <strong>File size: </strong>{{ $ctrl.file.size / 1024 / 1024 | number : 2 }} MB
        </div>
        <div class="col-sm-3" ng-if="$ctrl.file">
          <button type="button" class="btn btn-ai-success" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.file || !$ctrl.muuAccurateAsOfDateObject">
            <i class="fa fa-cloud-upload"></i> Upload
          </button>
          <button type="button" class="btn btn-danger" ng-click="$ctrl.file = undefined">
            <i class="fa fa-trash-o"></i> Remove
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="new-muu-date" class="col-sm-4">Enter the Accurate As of date for Meaningful Use Users associated with this upload</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.muuAccurateAsOfDateObject" is-open="$ctrl.accurateAsOfPicker" close-text="Close" id="new-muu-date" name="newMuuDate" ng-model-options="{ timezone: 'UTC' }" required>
            <span class="input-group-btn">
              <button type="button" class="btn btn-ai btn-sm" ng-click="$ctrl.accurateAsOfPicker = true"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
          <div class="text-danger" ng-if="$ctrl.documentForm.newMuuDate.$touched && $ctrl.documentForm.newMuuDate.$error.date">Improper format (mm/dd/yyyy)</div>
        </div>
      </div>
    </form>
  </div>
</div>
