<div class="container-fluid new-style">
  <span ng-if="$ctrl.hasAnyRole(['ROLE_DEVELOPER'])">
    <div class="row">
      <div class="col-sm-12">
        <h1>My Dashboard</h1>
      </div>
    </div>
    <div class="main-content" id="main-content" tabindex="-1">
      <div class="row">
        <div ng-if="$ctrl.inState('confirmation')" class="col-md-10 col-md-offset-1">
          <chpl-confirmation take-action="$ctrl.cancel()" text="{{ $ctrl.confirmationText }}"></chpl-confirmation>
        </div>
        <div ng-if="$ctrl.inState('developer')" ng-class="$ctrl.inState('focusDeveloper') ? 'col-md-10 col-md-offset-1' : 'col-md-6'">
          <chpl-developer ng-if="$ctrl.developer"
                          developer="$ctrl.developer"
                          show-full="true"
                          can-edit="true"
                          take-action="$ctrl.takeDeveloperAction(action, data)"
                          is-editing="$ctrl.inState('focusDeveloper')"
                          on-cancel="$ctrl.cancel()"
                          on-edit="$ctrl.takeDeveloperAction('save', developer)"
                          ></chpl-developer>
        </div>
        <div ng-if="$ctrl.inState('changeRequest') && $ctrl.isOn('change-request')" ng-class="$ctrl.inState('focusChangeRequest') ? 'col-md-10 col-md-offset-1' : 'col-md-6'">
          <chpl-change-requests ng-if="$ctrl.developer"
                                change-requests="$ctrl.changeRequests"
                                change-request-types="$ctrl.changeRequestTypes"
                                change-request-status-types="$ctrl.changeRequestStatusTypes"
                                developer="$ctrl.developer"
                                take-action="$ctrl.takeCrAction(action, data)"
                                ></chpl-change-requests>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.inState('users')">
        <div class="col-md-12">
          <chpl-users column-count="3"
                      users="$ctrl.users"
                      roles="$ctrl.roles"
                      take-action="$ctrl.takeUserAction(action, data)"
                      ></chpl-users>
        </div>
      </div>
    </div>
  </span>
  <div class="main-content row splash-row" id="main-content" tabindex="-1" ng-if="!$ctrl.hasAnyRole(['ROLE_DEVELOPER'])">
    <div class="col-md-6 col-md-offset-3 jumbotron">
      <chpl-login form-class=""
                  p-class="bg-success lead"
                  p-class-fail="bg-danger lead">
      </chpl-login>
    </div>
  </div>
</div>
