<chpl-cms-lookup-wrapper-bridge></chpl-cms-lookup-wrapper-bridge>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>CMS ID Reverse Lookup</h1>
    </div>
  </div>
  <div class="main-content" id="main-content" tabindex="-1">
    <div class="row">
      <div class="col-sm-12">
        <div ng-form="vm.lookupForm" ng-submit="vm.lookupCertIds()" aria-live="polite">
          <div class="form-group">
            <h2>Lookup CMS EHR Certification IDs</h2>
            <p>Use the box below to determine which products were used to create a specific CMS EHR Certification ID. Enter one or more CMS EHR Certification IDs to display the products which were used to create the associated CMS EHR Certification ID.</p>
              <label for="certIdsField" class="control-label sr-only">CMS EHR Certification IDs to lookup</label>
              <div class="input-group">
                <input type="text" class="form-control" id="certIdsField" placeholder="Enter one or more CMS EHR Certification IDs separated by a space, comma, or semi-colon"
                       ng-model="vm.certIds" ng-keyup="$event.keyCode === 13 && vm.lookupCertIds()" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-ai" id="lookupCertificationIdButton" ng-click="vm.lookupCertIds()"><i class="fa fa-search"></i><span class="sr-only">Lookup Certification ID</span></button>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" ng-if="vm.lookupProductsCertIdNotFound.length > 0">
        <ul class="cert-id-lookup-error" ng-repeat="notFoundId in vm.lookupProductsCertIdNotFound">
          <li>CMS EHR Certification ID "{{ notFoundId }}" was not found.</li>
        </ul>
      </div>
      <div class="col-sm-12" ng-if="vm.lookupProductsFormatInvalidIds.length > 0">
        <ul class="cert-id-lookup-error" ng-repeat="invalidId in vm.lookupProductsFormatInvalidIds">
          <li>"{{ invalidId }}" is not a valid CMS EHR Certification ID format.</li>
        </ul>
      </div>
      <div class="col-sm-12" ng-if="vm.lookupProducts && vm.lookupProducts.length > 0">
        <table id="lookupCertIdResults" class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><span>CMS EHR Certification ID</span></th>
              <th scope="col"><span>CMS EHR Certification ID Edition</span></th>
              <th scope="col"><span>Product Name</span></th>
              <th scope="col"><span>Version</span></th>
              <th scope="col"><span>Developer</span></th>
              <th scope="col"><span>CHPL Product Number</span></th>
              <th scope="col"><span>Product Certification Edition</span></th>
              <th scope="col"><span>Classification Type</span></th>
              <th scope="col"><span>Practice Type</span></th>
              <th scope="col"><span class="sr-only">Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in vm.lookupProducts" >
              <td>{{ row.certificationId }}</td>
              <td>{{ row.certificationIdEdition }}</td>
              <td>{{ row.name }}</td>
              <td>{{ row.version }}</td>
              <td>{{ row.vendor }}</td>
              <td>{{ row.chplProductNumber }}</td>
              <td>{{ row.year }} <span ng-if="row.curesUpdate">Cures Update</span></td>
              <td>{{ (row.classification === null ? "N/A" : row.classification) }}</td>
              <td>{{ (row.practiceType === null ? "N/A" : row.practiceType) }}</td>
              <td>
                <a type="button" class="btn btn-primary btn-sm" href="#/listing/{{ row.id }}" analytics-on="click" analytics-event="Go to Listing Details page" analytics-properties="{ category: 'CMS ID Reverse Lookup', label: row.chplProductNumber }"><i class="fa fa-ellipsis-h"></i> Details<span class="sr-only"> for {{ row.product.name }}</span></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <button class="btn btn-lg btn-ai-success pull-right" ng-if="vm.lookupProducts && vm.lookupProducts.length > 0"
                  ng-click="vm.getCsv()">
            <i class="fa fa-cloud-download"></i> Download Results
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
