.listing-inspect {
    display: grid;
    grid-template-rows: 1fr;
}

.listing-inspect__header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.listing-inspect__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.listing-inspect__text {
    text-align: right;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}