.listing-inspect {
    display: grid;
    grid-template-rows: 1fr;
    width: auto;
}

.listing-inspect__header-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: auto;
}

.listing-inspect__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 960px;
    gap: 8px;
    padding: 8px 0;
}

.listing-inspect__subheader {
    margin: 8px 0;
    font-size: 1.5em;
}

.listing-inspect__product-number {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}