<div role="modal" aria-labeled-by="mergeProductLabel">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Cancel edits"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="mergeProductLabel">Merge Products</h4>
  </div>
  <div class="modal-body" ng-form="vm.mergeForm">
    <div class="row">
      <div class="col-md-6">
        <h4>Merge selected products</h4>
        <div class="panel panel-ai" ng-repeat="product in vm.products">
          <div class="panel-heading">
            <span>{{ product.name }}</span>
          </div>
          <div class="panel-body">
            <span ng-if="product.ownerHistory && product.ownerHistory.length > 0">Previous Owner<span ng-if="product.ownerHistory.length !== 0">s</span>:
              <ul>
                <li ng-repeat="owner in product.ownerHistory | orderBy:'transferDate'">
                  <strong>{{ owner.developer.name }}</strong><br />
                  Transfer date: {{ owner.transferDate | date : 'mediumDate' : 'UTC' }}
                </li>
              </ul>
            </span>
            <span ng-if="product.contact">
              <strong>Contact information</strong><br />
              <ai-contact contact="contact"></ai-contact>
              <br />
            </span>
            Last Modified Date: {{ product.lastModifiedDate | date : 'mediumDate' : 'UTC' }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>To form this one</h4>
        <div class="form-group">
          <label for="productName">Product Name <span class="text-danger">*</span></label>
          <input class="input-sm form-control" type="text" required ng-model="vm.product.name" id="productName" name="productName" ng-maxlength="300"></input>
          <div class="text-danger" ng-if="(vm.showFormErrors || vm.mergeForm.productName.$touched) && vm.mergeForm.productName.$error.required">Product name is required</div>
          <div class="text-danger" ng-if="(vm.showFormErrors || vm.mergeForm.productName.$touched) && vm.mergeForm.productName.$error.maxlength">Field is too long</div>
        </div>
        <div ng-repeat="prevOwner in vm.product.ownerHistory | orderBy:'transferDate' track by $index">
          <div class="form-group">
            <label for="productOwner{{ $index }}">Previous Product owner <span class="text-danger">*</span></label>
            <select ng-model="prevOwner.developer.developerId" required
                    id="productOwner{{ $index }}" name="productOwner{{ $index }}" class="input-sm form-control"
                    ng-options="v.developerId as (v.name + (v.deleted ? ' - deleted' : ' - active')) for v in vm.developers | orderBy: 'name'">
            </select>
            <div class="text-danger" ng-if="(vm.showFormErrors || vm.mergeForm['productOwner' + $index].$touched) && vm.mergeForm['productOwner' + $index].$error.required">Product owner is required</div>
          </div>
          <div class="form-group">
            <label for="transferDate{{ $index }}">Transfer Date <span class="text-danger">*</span></label>
            <div class="input-group">
              <input class="input-sm form-control" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-model="prevOwner.transferDate" is-open="prevOwner.transferDatePicker" close-text="Close" id="transferDate{{ $index }}" name="transferDate{{ $index }}" ng-model-options="{ timezone: 'UTC' }" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-ai btn-sm" ng-click="prevOwner.transferDatePicker = true"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
            <div class="text-danger" ng-if="(vm.showFormErrors || vm.mergeForm['transferDate' + $index].$touched) && vm.mergeForm['transferDate' + $index].$error.required">Transfer date is required</div>
            <button class="btn btn-block btn-danger" ng-click="vm.removePreviousOwner($index)"><i class="fa fa-trash"></i> Remove owner</button>
          </div>
        </div>
        <button class="btn btn-block btn-success" ng-click="vm.addPreviousOwner()"><i class="fa fa-plus"></i> Add Product owner</button>
        Contact information:
        <ai-contact contact="vm.product.contact" form="vm.mergeForm" is-editing="true" show-form-errors="vm.showFormErrors"></ai-contact>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="vm.mergeForm.$invalid && vm.showFormErrors" class="btn btn-ai-success btn-block"
            ng-mouseover="vm.showFormErrors = true"
            confirm="Are you sure you wish to merge these products? This action may not be undone."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.save()">Save Combined Product</button>
    <button class="btn btn-warning btn-block"
            confirm="Are you sure you wish to cancel editing? Your changes will not be saved."
            confirm-ok="Yes"
            confirm-cancel="No"
            confirm-settings="{animation: false, keyboard: false, backdrop: 'static'}"
            ng-click="vm.cancel()">Cancel Edits</button>
  </div>
</div>
