.collection-page {

    .dropdown-menu {
        width: 150%;
        max-height: 300px;
        overflow: auto;

        li>label {
            cursor: pointer;
            display: block;
            padding: 3px 20px;
            clear: both;
        }

        li select {
            display: block;
            padding: 3px 20px;
            margin: 3px 20px;
            clear: both;
        }
    }

    .dropdown-menu-large {
        min-width: 400px;
    }

    .dropdown-menu>li>span>a {
        display: block;
        padding: 3px 20px;
        clear: both;
    }

    .dropdown-menu>li.form-horizontal>div.form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu>li>div>label.control-label {
        display: block;
        padding-left: 20px;
        clear: both;
        text-align: left;
    }

    .dropdown-menu>li>a {
        font-weight: 700;
    }

    .dropdown-filter {
        min-width: 500px;

        .dropdown-menu {
            width: 100%;
        }
    }
}
